:root{
    --content-width: 46rem;
}

/**
 * Site header
 */
 .site-header {
	background:#006800;
    padding: var(--padding) 0px;
    color: var(--white);
}

.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.site-header a{
    text-decoration: none;
}

.site-header nav{
    display: flex;
    gap: 1em;
}

.site-header nav a:not(:first-child)::before{
    content: '|';
    margin-right: 1em;
}

/**
 * Page content
 */
.page-content {
    padding: var(--spacing-unit) 0;
}

.page-heading {
    font-size: 20px;
    text-align: center;
    padding-bottom: 5px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: var(--spacing-unit);
    }
}

.post-meta {
    font-size: var(--small-font-size) !important;
    color: var(--grey-color) !important;
}


.date { 
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
        color: var(--text-color) !important;
    }
}

.post-link {
    display: block;
    font-size: 28px;
}

tr.spaced > td {
  padding-bottom: 1em;
}



/**
 * Posts
 */


.post-header{
	padding: var(--spacing-unit) 0em;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 33%;
  float: left;
  margin: 1em 0;
}
.PageNavigation .here {
  text-align: center;
}
.PageNavigation .next {
  text-align: right;
}

/**
  * Wrapper
  */
  .wrapper {
    max-width: var(--content-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0em var(--padding);
}