/**
 * Reset some basic elements
 */
 body, h1, h2, h3, h4, h5, h6,
 p, blockquote, pre, hr,
 dl, dd, ol, ul, figure {
	 margin: 0;
	 padding: 0;
 }
 
 *{
	 box-sizing: border-box;
 }
 
 html{
    /* background: var(--theme-color); */
 }

 body {
    min-height: 100vh;
    position: relative;
    padding-bottom: 20em;
    word-wrap: break-word;
    background: var(--bg-color);
}

/**
 * Site header
 */
 .site-header {
    background: #006800;
background: linear-gradient(153deg, rgba(0, 104, 0, 1) 0%, rgba(88, 168, 88, 1) 91%, rgba(101, 168, 101, 1) 99%);
    padding: var(--padding) 0px;
    color: var(--white);
}

#bdate {
    padding-top: 12px;
}

.h-flex{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.site-header a{
    text-decoration: none;
}

.site-title {
    color: var(--white) !important;
}

.site-header nav{
    font-family: 'Berk', sans-serif;
    display: flex;
    gap: 1em;
}

.site-header nav a {
    color: var(--white) !important;
    font-weight: 500;
}

.site-header nav a:not(:first-child)::before{
    content: '|';
    margin-right: 1em;
}

@media (max-width: 600px) {
    .site-header nav{
        gap: 0.5em;
    }

    .site-header nav a:not(:first-child)::before{
        margin-right: 0.5em;
    }
}


.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: var(--spacing-unit);
    }
}

.list-arb {
   gap: 0em !important;
   margin-bottom: 9em !important;
}


.post-banner{
    display: flex;
    gap: 6%;
    justify-content: space-between;
}


.post-image {
    float: right;
    margin: 0 0 1rem 1rem;
    width: 26%;
    max-width: 200px;
    object-fit: cover;
    aspect-ratio: 1;
    margin-top: 12px;
}

.post-meta {
    padding-top: 15px;
    font-size: 0.9em;
    color: var(--grey-color) !important;
}


.date { 
    text-decoration: none !important;

    &:hover {
        text-decoration: none !important;
        color: var(--text-color) !important;
    }
}

.post-link {
    display: block;
    font-size: 28px;
}

tr.spaced > td {
  padding-bottom: 1em;
}

.MathJax, .MathJax_Display {
    overflow: visible !important;
}


/**
 * Posts
 */


.post-header{
	padding: var(--spacing-unit) 0em;
}

/**
  * Wrapper
  */
  .wrapper {
    max-width: var(--content-width);
    margin-right: auto;
    margin-left: auto;
    padding: 0em var(--padding);
}

 
 /**
  * Site footer
  */
  footer {
    font-family: 'Berk', sans-serif;
    padding: 4em 3em;
    color: var(--white);
    background: var(--dark-green); /* #36414f; */
    text-align: center;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer .flex{
    max-width: 38em;
    display: inline-flex;
    justify-content: space-between;
    gap: 4em;
    text-align: left;
}

.col-3{
    column-count: 3;
}

@media (max-width: 600px) {

    footer{
       padding: 3em;
    }

    footer .flex{
        flex-direction: column;
        gap: 3em;
    }

    body{
        padding-bottom: 27em;
    }

    .col-3{
        column-count: 2;
    }
    .post-banner {
        gap: 0;
    }

    .post-image {
        width: 34%;
        max-width: 300px;
    }

    .post-meta {
        padding-left: 10px;
    }
}

.icon-grid{
    display: inline-flex;
    flex-wrap: wrap;
    gap: 2em 3em;
    min-width: 200px;
}

.icon-grid a svg{
    width: 28px;
    height: 30px;
    vertical-align: middle;
    color: var(--white)
}

.tabContent {
    display: none;
}

.note {
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 0px;
}

.note .insides{padding:40px;}

.note .title{
    font-size:120%;
    
    padding-left:14px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:20px;
    
    color:white;
    background:cornflowerblue
}

.comments{
    margin-bottom: 2em;
}

.c {
    text-align: center;
}

.directory {
    display: flex; justify-content: center; align-items: center; gap: 2.5em; margin-bottom: 5em;
}

@media (max-width: 600px) {
    .nomob {
        display: none;
    }
    .directory {
        text-align: center; gap: 0.6em
    }
}

strong, b {
    font-weight: bold;
}