---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   17px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$white: 		  #FFF;
$background-color: #fdfdfd;
$brand-color:      #006800;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$pak-green:			#006800;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: calc($spacing-unit / 2);
//         padding-left: calc($spacing-unit / 2);
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.tabContent {
    display: none;
}


body {
      cursor: pointer, auto;
      // url("https://d2kq0urxkarztv.cloudfront.net/633f75f0c2ef250029321aa5/image-d47e08e0-e0ec-4d34-97a2-45434a68a055.png")
  }

h1, h2, h3, h4 {
    margin-bottom: 20px;
    margin-top: 20px;
}

ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    margin-top: 20px;
}

blockquote { 
    border-left:3px solid #FAC342; 
    margin-left: 15px;
    padding-left: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    //#FF851B; 
}

.post-title {
    font-family: "Didot", "Times New Roman", Times, serif;
}

.site-title {
    font-family: "Didot", "Times New Roman", Times, serif;
    font-size: 29px;
}

a {
    text-decoration-thickness: 12%;
    text-underline-offset: 2.5px;
}

.note {
    margin-bottom: 20px;
    margin-top: 0px;
    border-radius: 0px;
}

.note .insides{padding:40px;}

.note .title{
    font-size:120%;
    
    padding-left:14px;
    padding-top:10px;
    padding-bottom: 10px;
    margin-top:20px;
    
    color:white;
    background:cornflowerblue
}