---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #006800;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$pak-green:			#006800;

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

$footer-height:     100px;

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;


.tabContent {
    display: none;
}


blockquote { 
    border-left:3px solid #FF9235; 
    //#FF851B; 
}


a {
    text-decoration-thickness: 12%;
    text-underline-offset: 2.5px;
}


.note .insides{padding:40px;}

.note .title{
    font-size:120%;border-top-left-radius:5px;border-top-right-radius:5px;padding-left:14px;padding-top:10px;padding-bottom: 10px;
    color:white;background:cornflowerblue
}