
:root{
    --serif:  "Didot", "Times New Roman", Times, serif;
}
/* .post h1:after, .post h2::after {
    content: "";
    width: 5%;
    height: .1em;
    
    background-color: var(--c-title-underline-color);
    background: #FAC342;
    
    position: absolute;
    bottom: -2px;
    left: 0; 
} */

.site-header{
    font-family: var(--serif)
}

.site-title{
    font-size: 1.4em;
    letter-spacing: -1px;
}

.post-title {
    font-family: "Didot", "Times New Roman", Times, serif;
}

.table-wrapper{
    width: 100%;
    overflow: auto;
    /* justify-content: center; */
    /* display: flex; */
}

.table-wrapper table {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}

.table-wrapper td{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    vertical-align: top;
    border-color: black;
}

.table-wrapper th{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.mjx-chtml{
    max-width: 100%;
    overflow: auto;
}


.box{
    border: solid 1px var(--text-color);
    padding: 1em;
}


h2{
    line-height: 1.2em
}

@media (max-width: 600px) { 

    body{
        font-size: 14px;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 1.7em;
    }
    
}