
:root{
    --serif:  "Didot", "Times New Roman", Times, serif;
}

.post h1:after, .post h2::after {
    content: "";
    width: 5%;
    height: .1em;
    
    background-color: var(--c-title-underline-color);
    background: #FAC342;
    
    position: absolute;
    bottom: -2px;
    left: 0; 
}

.site-header{
    font-family: var(--serif)
}

.site-title{
    font-size: 1.4em;
    letter-spacing: -1px;
}




.post-title {
    font-family: "Didot", "Times New Roman", Times, serif;
    font-size: 3em;
    letter-spacing: -1px;
    line-height: 1.1em;
}

.table-wrapper{
    width: 100%;
    overflow: auto;
    /* justify-content: center; */
    /* display: flex; */
}

.table-wrapper table {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}

.table-wrapper td{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    vertical-align: top;
    border-color: black;
}

.table-wrapper th{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.mjx-chtml{
    max-width: 100%;
    overflow: auto;
}


.box{
    border: solid 1px var(--text-color);
    padding: 1em;
}

.fancy {
    font-family: var(--serif);
}

.light{
    opacity: 0.5;
}

h2{
    line-height: 1.2em;
    font-family: var(--serif);
    color: var(--pak-green);
    font-weight: 600;
    font-size: 2.2em;
    letter-spacing: -1px;
}

h3{
    line-height: 1.2em;
    font-weight: 400;
    font-size: 1.4em; 
    color: var(--dark-green) 
}

.post h3{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.post h2{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

blockquote { 
    border-left:3px solid #FAC342; 
    padding-left: 1em;
    margin: 2em 0em 2em 1em;
    line-height: 1.5em;
    font-style: italic;
    color: var(--grey-color);
    margin-bottom:  20px;
}

blockquote:last-child{
    margin-bottom: 0px;
}



@media (max-width: 600px) { 

    body{
        font-size: 14px;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 2em;
    }
    
}