
:root{
    --serif:  "Didot", "Times New Roman", Times, serif;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    font-weight: 300;
    color: var(--text-color);
    -webkit-text-size-adjust: 100%;
    overflow-wrap: break-word;
    /* cursor: url("https://d2kq0urxkarztv.cloudfront.net/633f75f0c2ef250029321aa5/image-d47e08e0-e0ec-4d34-97a2-45434a68a055.png") */
}

@keyframes schrodinger-styles {
    0%, 25% {
      --hover-color: #2b661a;
      --hover-decoration: underline dashed 2px;
      --hover-transform: none;
      --active-color: #aaa;
      --active-decoration: none;
      --active-transform: scale(0.95);
    }
    25.1%, 50% {
      --hover-color: #222222;
      --hover-decoration: none;
      --hover-transform: scale(1.03);
      --active-color: green;
      --active-decoration: underline dashed;
      --active-transform: translateY(2px);
    }
    50.1%, 75% {
      --hover-color: #222222;
      --hover-decoration: underline 2px;
      --hover-transform: none;
      --active-color: #2b661a;
      --active-decoration: underline 2px;
      --active-transform: scale(1.05);
    }
    75.1%, 100% {
      --hover-color: #2b661a;
      --hover-decoration: none;
      --hover-transform: rotate(4deg);
      --active-color: #2b661a;
      --active-decoration: none;
      --active-transform: scale(0.98) rotate(-10deg);
    }
}


a {
    --hover-color: #0077cc;
    --hover-decoration: none;
    --hover-transform: none;
    --active-color: #005fa3;
    --active-decoration: underline;
    --active-transform: translateY(1px);
  
    text-decoration-thickness: 2%;
    text-underline-offset: 3px;
    display: inline-block;
  
    color: inherit;
    text-decoration: underline;
    animation: schrodinger-styles 1s steps(4, end) infinite;
    animation-play-state: running;
  }

.post a:visited{
    color: var(--grey-color-light)
}
  
a:hover,
a:focus {
    animation-play-state: paused;
    color: var(--hover-color);
    text-decoration: var(--hover-decoration);
    transform: var(--hover-transform);
}

a:active {
    color: var(--active-color);
    text-decoration: var(--active-decoration);
    transform: var(--active-transform);
}

  

 /**
  * Set `margin-bottom` to maintain vertical rhythm
  */
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  ul, ol, dl, figure {
      /* margin-bottom:  calc(var(--spacing-unit) / 1.5); */
      /* margin-right: 45px; */
      scroll-margin-top: 1.2em;
  }


/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 250;
	position: relative;
}

h1, h2 {
    padding-bottom: 5px;
}

.post h1::after {
    content: "";
    width: 5%;
    height: .1em;
    
    position: absolute;
    bottom: -2px;
    left: 0; 
}


.site-header{
    font-family: var(--serif)
}

.site-title{
    font-size: 1.4em;
    letter-spacing: -1px;
}

.post-title {
    background: linear-gradient(135deg, #006800 0%, #93cc93 100%);
    font-family: "Didot", "Times New Roman", Times, serif;
    font-size: 3em;
    color: white;
    letter-spacing: -1px;
    padding: 15px;
    line-height: 0.8; /* ensure consistent line height */
    min-width: 55%;
    max-width: 66%;
}

.page-content {
   padding: 3em 0em;
}

td{
    padding: 10px 14px;
}

td:first-child{
    padding-left: 0px;
}

table{
    border-collapse: collapse; 
}

.list{
    display: flex;
    flex-direction: column;
    gap: 1em
}

.table-wrapper{
    width: 100%;
    overflow: auto;
    margin: 1.2em 0em;
    /* justify-content: center; */
    /* display: flex; */
}

.table-wrapper table {
    border-collapse:collapse;
    border-spacing:0;
    width: 100%;
}

.table-wrapper td{
    padding: 0.25em 0.5em;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    vertical-align: top;
    border-color: black;
}

.table-wrapper th{
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}
.mjx-chtml{
    max-width: 100%;
    overflow: auto;
}


.box{
    border: solid 1px var(--text-color);
    padding: 1em;
}

.fancy {
    font-family: var(--serif);
}

.light{
    opacity: 0.5;
}

h2{
    line-height: 1.2em;
    font-family: var(--serif);
    color: var(--pak-green);
    font-weight: 200;
    font-size: 2.2em;
    letter-spacing: -1px;
}

h3{
    line-height: 1.2em;
    font-weight: 400;
    font-size: 1.4em; 
    color: var(--dark-green) 
}

.post h3{
    margin-top: 1.5em;
    margin-bottom: 1em;
}

.post h2{
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}

blockquote { 
    border-left:3px solid #FAC342; 
    padding-left: 1em;
    padding-bottom: 1em;
    margin: 1.5em 0em 1.5em 1em;
    line-height: 1.5em;
    font-style: italic;
    color: var(--grey-color);
    margin-bottom:  20px;
}

blockquote:last-child{
    margin-bottom: 0px;
}

img {
    max-width: 100%;
    max-height: 32rem;
    vertical-align: middle;
    height: auto;
}

ul {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

p {
    margin-top: 1.2em;
}


 /**
  * Figures
  */
  figure > img {
    display: block;
}

figcaption {
    font-size: var(--small-font-size);
}



/**
 * Lists
 */
ul, ol {
    margin-left: var(--spacing-unit);
}


li{
    margin-bottom: 0.5em;
}


/**
 * Links
 */
a {
    color: inherit;
    text-decoration: underline;
    text-decoration-thickness: 12%;
    text-underline-offset: 2.5px;

    &:visited {
        color: gray;
        text-decoration: none;
    }

    &:active {
       font-style: italic;
    }
}

.nolink {
    text-decoration: none;

    &:hover {
        text-decoration: none;
        color: var(--text-color) !important;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}


#whole {
    padding-top: 3%;
    padding-bottom: 5%;
    min-height: 100%; 
}


/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 28px;
        height: 28px;
        vertical-align: middle;

        /**path {
            fill: $background-color;
        }**/
    }
}

.b {
    font-weight: bold;
}   

.dropdown{
    font-size: inherit;
    color: inherit
}

.dropdown > summary{
    /*font-weight: 600;*/
    font-style: italic;
    cursor: pointer;
    user-select: none;
    padding-left: 2px;
}

.dropdown > summary:hover{
    color: black;
}

summary::marker {
  font-size: 0.8em; 
}

.new-accordion summary{
    background: var(--theme-color);
    padding: 0.5em 1em;
    color: white;
    margin: -1em;
    margin-bottom: 1em;
}

.new-accordion{
    padding: 1em;
    border: solid 1px lightgray;
}

.dropdown > ol {
    padding-top: 10px;
}

@media (max-width: 600px) { 

    body{
        font-size: 14px;
    }

    h1{
        font-size: 2em;
    }

    h2{
        font-size: 2em;
    }
    
    .post-title {
        min-width: 60%;
    }
}