
{%	include controversy/links.md	%} 


<!-- 	WORDS	-->
<a href="{{Poliohno}}">Around 90 health workers</a> were murdered while delivering polio vaccines to children in 2014. <a href="#fn:1" id="fnref:1">1</a> Violent campaigns have also been waged recently against <a href="{{Schoolsout}}">schools</a>, <a href="{{Ruined}}">ancient ruins</a>, and <a href="{{Unabomb}}">mid-level STEM professors</a>. We can conclude that <i>everything is controversial to someone</i>. We can do better than this vague shrug if we form a metric for political controversy.

My research question is <i>How can we estimate political controversy? How can we relate this to tractability?</i> Intuitively, controversy - or, rather, the associated <a href="{{Obs}}">social or political resistance to interventions</a> - is a negative term in any equation for tractability. Obstructionism is a dominating factor for any intervention requiring state resources, approval, or enforcement.

Naı̈vely, the relation would involve at least the following terms:<a name="maths"></a><br><br>


{%	include controversy/sums.html	%}


(Obstructionism manifests as delay, negotiation &amp; PR costs, extra legal costs, hazard insurance, or reduced volunteering and uptake. Controversy appears again in the <i>obstruction</i> equation, to model sensitivity to bad PR in politicians and NGOs.
‘Counter-activism’ is to be understood as <i>effective</i> obstruction.)

<br><br><hr><br>


<h3>Motivation</h3>

To date, community attention has been focussed on low-controversy Pareto improvements. The proposed work is important because much potential value lies in controversial areas: for instance, state intervention offers vast resources and irreplaceable co-ordination power, but the use of these is often defeated by controversy and its entailed lobbying.<br><br>

Also, within limits, controversy is a proxy for harm: the harm of mass preference violation. It can, then, subtract from net impact as well as from tractability.<br><br>

One month's work should allow for: <br>

<ol>
	<li>clarification of the relations <a href="#fn:3" id="fnref:3">3</a>;</li>
	<li>ranking of exemplar controversies; </li>
	<li>data collection and scoring, maybe for a controversy classifier; </li>
	<li>coefficient estimates for some cause (e.g. birth control is data-rich and controversial enough).</li>
</ol>
<br><br><hr><br>



<h3>Sub-questions</h3>

<ul>
	<li><i>How to quantify political resistance?</i><br>
	(e.g. via historical studies: How much progress per million dollars on a cause? How often does violence attend work on it?)</li>

	<li><i>What predicts political controversy?</i><br>
	(<i>Leads</i>: social media sentiment analysis, news density, bipartisan lobbyist spending, legislation density, psychological availability, religious edicts.)</li>

	<li><i>If equations are helpful, what are appropriate forms?</i></li>

	<li><i>What level of controversy precludes effective intervention?</i></li>

	<li><i>How does controversy accumulate and decay on an organisation like CEA? <br>A movement like EA? What are its long-term effects?</i></li>
</ul>
<br><br><hr><br>



<h3>Uncertainties</h3>

I'm not sure whether this research is best aimed at quantitative estimates of present controversies, a predictive model for identifying future ones, or as groundwork for some unfeasibly ambitious future <a href="{{TheTerritory}}">simulation</a>. 

I’m not sure how to square the value of countercyclical moral leadership with the 'Impact-Neglectedness-Tractability' (INT) model. I’m not sure how much moral weight to give preference violation, or its proxy, expressed disapproval. <a href="#fn:2" id="fnref:2">2</a>  I’m not sure how to disaggregate cause controversy, intervention controversy, and actor controversy. 

I am not sure how much weight to put on historical case studies, relative to a classifier based on chatter. I’m not sure of the predictive power of my proxies, especially sentiment intensity.

One weak source of validation would be <a href="{{80k}}">80,000 Hours' estimates</a> of cause effectiveness, on a simple 1-5 scale. (Note that the lowest tractability causes there, immigration reform and catastrophic risks, are indeed the most politically involved causes.)

<br><br><br><hr><br>



<h3>Tractability, Formally</h3>

Cotton-Barrett has (tentatively) characterised tractability as either: the effort elasticity of a solution, where <i>S</i> = solvedness, <i>W</i> = total work completed:
$$
	\frac{ dS/S }{ dW/W }
$$
or as the probability of success weighted by inertia of effort, <i>p</i> = the likelihood of eventual success:

$$
	k = p / ln(\frac{\text{marginal resources}}{ \text{total resources spent}})
$$
These are the senses I would investigate in relation to obstruction.

<br><br><hr><a name="bibliography"><a/><br><br>



<h3>Bibliography</h3>

<li>Cotton-Barratt, Owen (2014), "<a href="{{CB2}}">Estimating cost-effectiveness for problems of unknown difficulty</a>", (tractability with no prior).</li>
<li>Cotton-Barratt, Owen (2016), "Prospecting for Gold", talk at EAGxOxford 2016, 19/11/16.</li>
<li>Garimella et al (2015), "<a href="{{Garim-Twitter}}">Exploring Controversy in Twitter</a>"</li>
<li>Garimella et al (2016), "<a href="{{Garim2}}">Quantifying Controversy in Social Media</a>".</li>
<li>Kahan, Dan (2015), "<a href="{{Kahan}}">The Politically Motivated Reasoning Paradigm</a>"  (on the growth of ideological disagreement on empirical questions).</li>
<li>Kittur et al (2009), "<a href="{{Kittur}}">What’s in Wikipedia?: Mapping Topics and Conflict Using Socially Annotated Category Structure</a>"</li>
<li>Rad and Barbosa (2009), "<a href="{{Rad}}">Identifying controversial articles in Wikipedia: a comparative study</a>"</li>
<li>Steenbergen et al (2003), "<a href="{{Steen}}">A Discourse Quality Index</a>".</li>
<li>Wiblin, Robert (2016), "<a href="{{Wib}}">The Important/Neglected/Tractable framework needs to be applied with care</a>" (on misapplying INT, its ambiguity).</li>


<br><br>
<a name="appendix"></a>
<hr><hr><br><br>


{%	include controversy/foots.html	%}
