
<a href="{{Poliohno}}">Around 90 health workers</a> were murdered while delivering polio vaccines to children in 2014. Other people have attacked <a href="{{Schoolsout}}">schools</a>, <a href="{{Ruined}}">ancient ruins</a>, and <a href="{{Unabomb}}">mid-level science professors</a>. We can conclude that <i>everything is controversial to someone</i>. We could do better than this if we had a way to measure controversy.

First, what is "tractability"?<br><br>

<p style="padding-left:10%"><span style="font-weight: bold;">tractability</span>: how easy something is to solve - how much you get done for a given amount of money, for instance.</p><br>

My question is <i>How can we estimate political controversy? How can we relate this to tractability?</i> Controversy, and the conflict that comes with it, are a large drag on tractability. They are a particularly big problem for anything which wants to use government resources.<br><br>

On the face of it, these two things would be connected in the following way: consider the act of giving people free birth control in a highly religious country. This is often controversial. <br><br>

The tractability of giving out condoms depends on the cost of buying and shipping them and the diseases, as well as how well similar work has gone and how easy it is to track results. But we're pointing out that also depends heavily on social factors like controversy and conflict. So the tractability number obtained without at least trying to guess these factors is shaky - "asocial", you could call it. A positive social factor would be the reputation and connections of the people giving out the condoms. This can be guessed by things like "number of politicians known", but really it itself is a hidden factor - one which you might use the efficiency of the people's previous work to guess.  <br><br>

Conflict causes delays, extra costs (for lawyers, negotiators, marketers, security, and insurance), and might reduce the number of people willing to use the product, or to volunteer. This all reduces the efficiency, or 'tractability'.<br><br>

One source of conflict is people actively working against your medicine drop. But as well as inspiring direct action against your medicine drop, controversy would also make politicians and other organisations less likely to help you.<br><br>

We can make a first guess at what controversy 'really is' with saying "the size of the group that is against condom distribution, plus a multiplier for the extent to which their (democratic) government is to be involved with the plan".<br><br>

In later versions you'd want to take account of the media spreading controversy, and the illusion of controversy, and how weird the goal is among the recipient people. (For instance, acting to reduce the suffering of animals in the wild is weird in every country in the world, except maybe parts of Tibet.)

<br><br>

This is no doubt an incomplete picture, and it's hard to measure basically every factor mentioned. But the value of getting imperfect guesses could still be high, especially if the work can't be done in an uncontroversial way (e.g. if we tried to get a law passed).

<br><br><hr><br>

<h3>Things to find out</h3>

I’m not sure how to put a value on setting a good example (in the face of popular opposition), compared to the straightforward model where you only count the direct effects of your actions. I’m not sure how much moral weight we should give to people getting annoyed by our helping others - especially since we are only getting a rough measure of their actual annoyance, through how they express their disapproval. I’m not sure how to separate people being annoyed by 1) work on a cause, 2) a particular action towards that cause, and 3) the people taking the action.<br><br>

I am not sure how much weight to put on particular cases of controversy and overcoming it, relative to a machine that guesses the present situation based on social media data. I’m not sure how well Twitter chatter really suggests real opposition.

<br><br>
<br><br>

<!--


[Spiegel]:		http://technicalities.netlify.com/metrics/#spiegel-quality
[Poliohno]:		http://europe.newsweek.com/polio-related-murders-kill-more-disease-itself-287880?rm=eu 
[Schoolsout]:	http://www.protectingeducation.org/sites/default/files/documents/eua<i>2014</i>full.pdf 
[Ruined]:		https://en.wikipedia.org/wiki/Destruction<i>of_cultural_heritage_by</i>ISIL 				
[Unabomb]:		https://en.wikipedia.org/wiki/Ted_Kaczynski#Casualties 
[Obs]:			https://en.wikipedia.org/wiki/Obstructionism
[SocialChoice]:	http://effective-altruism.com/ea/11i/the<i>effective_altruism_newsletter_open</i>thread/8m6

-->