<!--	Fn	-->
<div class="footnotes"><ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
    	Re: "Around 90":
        <br><br><i>Estimate quality</i>: OK, a <a href='/#spiegel-quality/'>Spiegelhalter (3*)</a>. (No data, no names given.)
        <br><i>Source</i>: 
        <a href="http://europe.newsweek.com/polio-related-murders-kill-more-disease-itself-287880?rm=eu ">Newsweek</a>.
        <br><i>Importance to argument</i>: Low.<br>&nbsp;
    </li><br>
	<!-- 2 -->
    <li class="footnote" id="fn:2">
        Though detailed precursors exist in the abstract, e.g. <a href='http://effective-altruism.com/ea/11i/the_effective_altruism_newsletter_open_thread/8m6'>Social Choice theory</a>.
    </li><br>
    <!-- 3 -->
    <li class="footnote" id="fn:3">
		e.g.: <span style="font-weight: bold">Sources of political controversy</span>:<br>
		<ul>
		<li> <i>Asymmetric information</i>. Spurious controversies, based in error - as plausibly occurred when Boko Haram killed polio health workers on suspicion of being American spies. We might think that the sustainable strategy is simple: do not compromise, but spread the truth.</li><br>
		<li> <i>Bias (thick empirical judgments)</i>. People will endorse different empirical claims according to their ideology. A major obstacle to working in controversial cause areas is, then, what Dan Kahan calls the "politically motivated reasoning paradigm", an apparently increasing tendency for people to interpret evidence in favour of their political side (especially highly educated people, he claims).</li><br>
		<li> <i>Irreconcilable value pluralism</i>. The least tractable of all: options are convert or overrule.</li>
		</ul>
    </li><br>
</ol></div>
	


