
<div align="center">

	$$ \text{tractability} = \Large{f}\left( \normalsize{\substack{\text{asocial}\\\text{cost:benefit}}, \substack{\text{social capital of}\\\text{ intervening party }}} \right) - \normalsize{\text{obstruction}} $$
</div>

<i>where</i>

<div align="center">

	$$
		\text{obstruction} = 	\Large{f} \left(\,\,	\normalsize{ \text{counter-activism, controversy }}   \right) 
	$$
	$$
		\text{ counter-activism } =	\Large{f} \left( \normalsize{ \text{ controversy}, \substack{\text{social capital}\\\text{of opponents}}	, \text{P(violence)} } \right)
	$$
	$$ 
		\text{controversy} = \substack{\text{\% population}\\\text{opposed}} \times  \left( 1 \,+\, \substack{\text{extent of state}\\ \text{involvement}}\right) 
	$$

</div>

<a href="#fn:4" id="fnref:4">4</a><a href="#fn:5" id="fnref:5">5</a><br><br>

<div class="accordion" align="center">
	<h3>Asocial cost:benefit ?</h3>
	<div align="center">
	
		$$
			\text{asocial cost:benefit}  = \Large{f}\left(\,\normalsize{ \substack{\text{prima facie}\\\text{cost:benefit}} \,,\,\, 				\substack{\text{intervention}\\\text{track record}} , \substack{\text{theoretical}\\\text{strength}} , 					\substack{\text{measurability}} }\,	\right)
		$$
	</div>
	<h3>Prima facie cost:benefit ?</h3>
	<div align="center">
		i.e. the <i>in ceteris paribus</i> efficiency, where other interest groups and obstructions are held equal:  

		$$
			\substack{\text{prima facie}\\\text{cost:benefit}} = \text{estimated benefits} - \text{estimated costs}
		$$
	</div>
 	<h3>Even more speculatively</h3>
	<div align="center">
		something more involved like:<br>

		$$ 
			\text{controversy} = \left( \substack{\text{\% population}\\\text{opposed}} \times  \left( 1 \,+\, \substack{\text{extent of state}\\ \text{involvement}}\right) + \,\substack{\text{weirdness}\\ \text{of cause}} \right) \times \substack{\text{media}\\ \text{coverage}}	
		$$
	</div>
</div>


<br><br>
