<div class="accordion">
	<h3>Activities</h3>
	<div>
		<ul>
			<li>Pick something you don’t understand, but want to. Run the procedure!</li>
			<li>example of an unwritten rule you realised recently</li>
			<li>example of using one code to understand another</li>
			<li>Examples of cultures you “get”</li>
			<li>Any you understand without liking?</li>
			<li>Have you ever intentionally gotten into something?</li>
			<li>Have you ever failed to get into something despite trying hard?</li>
			<li>What don’t you want to like?</li>
		</ul>
	</div>
</div>