<div class="accordion">
	<h3>Chaining codes</h3>
	<div>
		If you like Gwern’s <a href="{{gs}}">statistical work</a>, you might be able to use his <a href="{{ga}}">anime</a> or <a href="{{gt}}">tea</a> criticism. If <a href="{{sm}}">Scaruffi on krautrock</a> thrills you, maybe some of his <a href="{{ss}}">odd views</a> on everything else in the world will land.<br>

		If you love film, then you already have a <a href="{{murm}}">royal road</a> into modern classical music. Film soundtracks are the main way that classical music is now appreciated.<br>

		I once used football to get into Tanzanian culture. (I wasn't even that good on football.)<br><br>

		<center>
			<img data-src="/img/cultural/fute.png" class="lazy" width="70%" />
		</center>
	</div>
</div>
