<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        Marxism. <i>Code cracked</i>: 2009. Described myself as "economically Marxian, politically liberal" for a while. Yeah yeah, I know.
    </li>

    <li class="footnote" id="fn:2">
        Bookish people are <a href="{{book}}">known</a> to lament not being able to read everything. But consider what a tiny amount of the world books are, how little of it is even mentioned in books. e.g. All but the <a href="{{dfw}}">broadest</a> and <a href="{{jb}}">most</a> <a href="{{borg}}">brilliant</a> <a href="{{why}}">arts</a> <a href="{{kandel}}">people</a> are too undisciplined to even attempt the vast beauty and humanness of maths and engineering.
    </li>

    <li class="footnote" id="fn:3">
        or as the intellectually insecure call them, "graphic novels"
    </li>

    <li class="footnote" id="fn:4">
        There are some social costs to liking <a href="{{knives}}">some</a> things, but mostly not, and aesthetic taste is mostly invisible.
    </li>

    <li class="footnote" id="fn:5">
        Ideally, formal study of the humanities would teach this skill. And in fact I did crack some awkward codes as a result of my degree: I am unafraid of philosophical logic, postmodernism, German idealism, Euro cinema, etc. But an Arts degree has many goals: history, activism, guild reproduction, and these together tend to take up lots of the curriculum.<br><br>

        Anthropology has versions of this, of course, but the ones I've seen haven't been very useful or analytically satisfying. (Though I confess that anthropology is one of the codes <a href="/anthropology">I have long struggled to crack</a>.)
    </li>

    <li class="footnote" id="fn:6">
        An incredibly important skill in itself: to make peace with not liking, to just like people liking it.
    </li>

    <li class="footnote" id="fn:7">
        I have a piece coming on the many great exceptions, the worker-poets. Pessoa, Thomas Wyatt, John Darnielle, John Clare, William Carlos Williams, Wallace Stevens, Czesław Miłosz, Cavafy, Larkin, Neruda, ...
    </li>

    <li class="footnote" id="fn:8">
        Besides the activity of <i>identifying</i> as a member of an ascribed, proscribed, or earned culture.
    </li>

    <li class="footnote" id="fn:9">
        These were incredibly hard to find: it's not that anime is worse than other artworks, but the fans are.
    </li>
</ol>

</div>