<div class="accordion">
	<h3>Expensive example</h3>
	<div>
		It might also pay you. When I started working in tech, I didn't negotiate very hard, under some silly assumption that pay would trade off against respect and security.<br><br>

		<center>
			<img data-src="/img/cultural/res.png" width="50%" class="lazy" /><br><br>
		</center>
		In reality, you must negotiate pay to be respected. The more someone pays you, the more they will respect you, to retroactively explain their paying you so much.<br><br>
		<center>
			<img data-src="/img/cultural/pay.png" width="50%" class="lazy" /><br><br>
		</center>

		This is unfair, unwritten, and a massive part of your lifetime income.<br>

		(This graph applies to corporate culture, not other parts of business.)
	</div>
</div>