<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        Yes, these are just circling the perimeter of statistics, but stats is not a branch of mathematics.<br><br>

        It used to be logic. Much of the really deep recent work I see uses representation theory and info theory, but this isn't where to start.
    </li>

<!-- 	<li class="footnote" id="fn:2">
    	I fantasise about debates and angry Letters to the Editor being forced to append their causal graph.
	</li> -->

	<li class="footnote" id="fn:3">
    	It's not that joint distributions "are" graphs; rather the conditional independence structure associated with the joint is a graph.
	</li>

	<li class="footnote" id="fn:4">
		<a href="{{zink}}">Here</a> are some cases where graphs are not very illuminating about models. The post is unfair, since the objects described are just very complicated, and even the model listing is not straightforward, and there's nothing stopping you from doing both representations.
	</li>

</ol>

</div>