<ol>
	<li>Radical scepticism (the demand for certainty, complete internal justification, and apriori foundations before accepting any knowledge claim) cannot be beaten within its own framework.</li>

	<li>All working 'solutions' to scepticism (externalism, pragmatism, etc.) consist in refusing to accept the sceptic's starting conditions (internalism, infallibilism, foundationalism, apriorism, methodism) rather than beating the sceptic at his own game.</li>

	<li>Yet sceptical arguments *do* follow validly from premises that constitute the "standard game of modern Analytic philosophy" - they represent the strictest possible application of certain philosophical standards.</li>

	<li>Therefore, apriori conceptual analysis under traditional philosophical constraints is a failed methodology. Philosophy should be treated as limited evidence like other forms of inquiry.</li>

	<li>The value of radical scepticism isn't it conclusion but in it (usually) forcing you to move away from naive, overly ambitious philosophical methodology.</li>
</ol> 