---
layout:   default
title:    grit / technicalities
visible:  false
---

<div class="home">
  
  <h1 class="page-heading">Recent Posts</h1>
    <table class="post-list">
    
    {% for post in site.posts limit:8 %}
      {% if post.visible == 1  %}
      <tr>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <td style="width:55%;">
        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">>> {{ post.title }}</a>
        </h3></td>
        <td> <small>{{ post.summary }}</small></td>
        <td> <small><ul>
          {% if post.simple %} <li><a href="{{post.baselink | prepend: site.baseurl}}-simple">Simple</a></li> {% endif %}
          {% if post.stylised %} <li><a href="{{post.baselink | prepend: site.baseurl}}">Stylised</a></li> {% endif %}
          {% if post.technical %} <li><a href="{{post.baselink | prepend: site.baseurl}}-technical">Technical</a></li> {% endif %}
        </small></td>
      </tr>
      {% endif  %}
    {% endfor %}

    </table>

  <br><br><br><br><a href="{{ "/archive" | prepend: site.baseurl }}">See all posts</a>.
  <br><small><p class="rss-subscribe">or subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></small>

</div>
