---
layout:   default
title:    argmin gravitas
visible:  false
---


<div class="home">
  
  <h1 class="page-heading">Recent Posts</h1>
    <table class="post-list" border=1 frame=void rules=rows>
    
    {% for post in site.posts limit:8 %}
      {% if post.visible == 1  %}
      <tr>
        <td>
          <a class="post-link" href="{{ post.url | prepend: site.url }}">
            <img src="{{ post.img }}" />
          </a>
        </td>
        </td>
        <td style="width:80%;padding:20px;padding-bottom:30px;">
          <h3 style="padding: 0px; margin: 0px;">
            <a class="post-link" href="{{ post.url | prepend: site.url }}">>> {{ post.title }}</a>
          </h3> 
          <span style="display:inline-block;margin-left:7%"><small>{{ post.summary }}</small></span>
        </td>

        <td style="border-left:1px;"> 
          <span class="post-meta" style="text-align:right">{{ post.date | date: "%b %-d, %Y" }}</span><br>
          <small>
            {% if post.simple %} 
              <a href="{{post.baselink | prepend: site.url}}/#simple">Simple</a> <br> {% endif %}
            {% if post.stylised %} /
              <a href="{{post.baselink | prepend: site.url}}/#stylised">Stylised</a> <br> {% endif %}
            {% if post.technical %} /
              <a href="{{post.baselink | prepend: site.url}}/#technical">Technical</a> 
            {% endif %}
          </small></td>
      </tr>
      {% endif  %}
    {% endfor %}

    </table>

  <br><br><a href="{{ "/archive" | prepend: site.baseurl }}">See all posts</a>.
  <br><small><p class="rss-subscribe">or subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p></small>

</div>
