---
layout:   default
title:    argmin gravitas
visible:  false
---

<!-- My DNS is masking stupidly at the moment, so it doesn't pass any URL hashes to the server. Pardon _blank -->

<div class="home">
  
  <h1 class="page-heading">Recent Posts</h1>
    <table class="post-list" border=1 frame=void rules=rows>
    
    {% for post in site.posts limit:4 %}
      {% if post.visible == 1  %}
      <tr>
        <td>
          <a class="post-link" href="{{ post.url | prepend: site.url }}">
            <img src="{{ post.img }}" />
          </a>
        </td>
        </td>
        <td style="width:73%;padding:20px;padding-bottom:30px;">
          <h3 style="padding: 0px; margin: 0px;">
            <a class="post-link" href="{{ post.url | prepend: site.url }}">>> {{ post.title }}</a>
          </h3> 
          <span style="display:inline-block;margin-left:7%"><small>{{ post.summary }}<br>
            {% if post.simple %} 
              <a href="{{post.baselink | prepend: site.url}}/#simple" target="_blank">Simple</a> {% endif %}
            {% if post.stylised %}
              / <a href="{{post.baselink | prepend: site.url}}/#stylised" target="_blank"> Stylised</a> {% endif %}
            {% if post.technical %} 
              / <a href="{{post.baselink | prepend: site.url}}/#technical" target="_blank"> Technical</a> 
            {% endif %}
            </small>
          </span><br>

          
        </td>
        
        <td style="width:9%;border-left:1px;"> 
          <div align="right">
            <span class="post-meta">{{ post.date | date: "%b %-d %Y" }}</span>
          </div>
        </td>
      </tr>
      {% endif  %}
    {% endfor %}

    </table>

  <br><br><a href="{{ "/archive" | prepend: site.url }}">See all posts</a>.  <br>
  <a href="{{ "/best" | prepend: site.url }}">See best posts</a>.  <br>

  {%  include rss.html  %}
  
</div>
