<ol>
    <li>Taylor Swift is treated as an auteur musician but is patently not one. The borrowed ingenuity of a creative staff of dozens helps her seem large.</li>
    <li>But presenting as one is a backdoor vulnerability for audiences and music critics: it gives her machine the heft and seriousness of the outcast singer-songwriter tradition. Its collective output is recast as one authentic voice, An Artist.</li>
    <li>Various other tricks are employed (false intimacy, the tabloid engine, the girlsquad) to further superstimulus.</li>
    <li>To me, this constitutes not universality and broadness, but manipulation. Hiding the contributions of others, miming at gigs, data mining, ruthless iteration all make me feel that a great trick is being played on us.</li>
    <li>She <i>is</i> remarkable in nonmusical ways: in polymorphous emotional appeal, brand management, business sense, iteration, and the use of critics to <i>increase</i> her fame, righteousness, and fan engagement.</li>
    <li>I'd shut up if the machine just had a different name which acknowledged that its products are the creation of many people, or if its figurehead were less lionised, or if people stopped putting its products in the place of art music.</li>
</ol>