<ol>
    <li>Taylor Swift is treated as an auteur but is patently not one. A creative staff of dozens make her seem large.</li>
    <li>The bait-and-switch lets her milk the outcast singer-songwriter tradition to supercharge her ordinary pop racket with false intimacy and borrowed ingenuity.</li>
    <li>She is nonetheless remarkable in a few ways: the polymorphous emotional appeal, brilliant brand management, willingness to iterate, and the use of critics and enemies to <i>increase</i> her fame, righteousness, and fan engagement.</li>
    <li>I think I'd shut up if the TS machine just had a different name which acknowledged that its products are the creation of many people, or if its products were less mid, or if its figurehead were less lionised, or if people were less devotional and parasocial about its figurehead, or if people stopped putting its products in the place of art music.</li>
</ol>