

<div class="footnotes">
<ol>

	<li class="footnote" id="fn:1">
		Turing: 
		<blockquote>The [test] may perhaps be criticised on the ground that the odds are weighted too heavily against the machine. If the man were to try and pretend to be the machine he would clearly make a very poor showing. He would be given away at once by slowness and inaccuracy in arithmetic. May not machines carry out something which ought to be described as thinking but which is very different from what a man does? This objection is a very strong one, but at least we can say that if, nevertheless, a machine can be constructed to play the imitation game satisfactorily, we need not be troubled by this objection.</blockquote>
	</li>

	<li class="footnote" id="fn:10">
		These days I wouldn't use infallibilism as the baseball bat I did ("Searle isn't certain so Searle doesn't know."); I'd go at Searle with probabilism instead. That is, I think I now deny my premise (4).<br><br>

		And I'd also say more about Searle's odd dichotomy between representational machines who are 'pure' syntax vs those which are fully semantic. But I've mostly left it as it was.<br><br>
	</li>
</ol>
</div>