{% assign pinter = "https://twitter.com/peligrietzer/status/1639121380829437953"	%}

<div class="accordion">
	<!--  -->
	<!--  -->
	<h3>Criticisms of philosophy by philosophers</h3>
	<div>
		Most philosophers have a good idea of what's wrong with philosophers, of course. Here's a few "philosopher's syndromes":<br><br>
		<ul>
			<li>Dennett: "mistaking a failure of the imagination for an insight into necessity"</li><br>
			<li>Sosa: thinking "mere reflection the source of all intellectual virtue" (omitting perceptiveness or environmental aid)</li><br>
			<li>Provine: bias towards explaining human behaviour in terms of cognition and consciousness.</li><br>
			<li>Pinter: <a href="{{pinter}}">the delusion that analysis sets you above quotidian reality</a>
			</li>
		</ul>
	</div>
	<!--  -->
	<h3>Example of solving a philosophical question</h3>
	<div>
		In 1690 William Molyneux asked whether concepts generalise across senses - if a blind person gained sight after a life of blindness, would they be able to visually immediately recognise a sphere? <br><br>

		This inspired <a href="{{moly}}">lots</a> of very clever philosophy over the years. The answer, at least in <a href="{{held}}">a small clinical study</a> (n=5), is no.<br><br>

		No disgrace to Molyneux; he was able to form a hypothesis centuries before it could be tested, and this is helpful work. But what did the philosophical discourse contribute? 
	</div>
	<!--  -->
    <h3>Is philosophy technical?</h3>
    <div>  
    	<ul>
		<li>  If "technical" means 'containing precise reasoning', yes.</li>
		<li>  If "technical" means 'containing symbolic (mathematical or statistical or Logical) reasoning', sometimes but mostly not.</li>
		<li>  If "technical" means 'impenetrable to outsiders', yes - and often with the vitiating appearance of nontechnicality.</li>
		<li>  If "technical" means '<a href="{{tech}}">constraining expectations</a> to one part of the space of possible outcomes' then no not really. (Wittgenstein: "<i>Philosophy may in no way interfere with the actual use of language... It leaves everything as it is.</i>") </li>
	</ul>	<br>
<!--  -->
	It's possible to do maths without symbols - and so <a href="{{symb}}">in fact we did</a>, for most of its history. So what's the difference between informal maths and philosophy? I think it's to do with <a href="{{rdof}}">researcher degrees of freedom</a>. By working with extremely strict and limited definitions, rather than fuzzy natural-language concepts, mathematicians remove lots of their leeway to fudge and be ambiguous. It is always possible in philosophy to just deny any particular inconvenient premise, to dispute an intuition, to substitute your own reality; but to do so of mathematical axioms or definitions is to no longer be talking about the same thing.<br><br>
<!--  -->
	In philosophy the degrees of freedom are extreme, including things like denying <a href="{{dial}}">basic logical</a> <a href="{{trivial}}">principles</a>. (These are I suppose technically possible for scientists to use, but you'd probably struggle to get it published.)
	</div>
</div>
