<script>

	function createIframe(src, what) {
	          var i = document.createElement("iframe");
	          i.src = src
	          i.frameborder = "0";
	          i.width = "100%";
	          i.height = "400px";
	          document.getElementById(what).appendChild(i);
	}

	function definiteEvent(callback, args) {
		if (window.addEventListener) {
		    window.addEventListener("load", callback.apply(this, args), false);
		}
		else if (window.attachEvent) {
		    window.attachEvent("onload", callback.apply(this, args));
		}
		else window.onload = callback.apply(this, args);
	}

	function restyle(evt, style) {
    	var i, tabContent, tabLinks;
      	tabContents = document.getElementsByClassName("tabContent");

      	for (i = 0; i < tabContents.length; i++) {
          tabContents[i].style.display = "none";
	    }
      	document.getElementById( style ).style.display = "block";

      	tabLinks = document.getElementsByClassName("tabLinks");
    	for (i = 0; i < tabLinks.length; i++) {
        	tabLinks[i].className = tabLinks[i].style("");
    	}
		document.getElementById( style + "Link" ).style("font-weight:bold");
  }

</script>