<div align="center">
	<img src="/img/tractatus/6-141.png" />
</div>

<blockquote><i>
	Wittgenstein does not, however, relegate all that is not inside the bounds of sense to oblivion. He makes a distinction between </i>saying<i> (sagen) and </i>showing<i> (zeigen) which is made to do additional work. 
	<br><br>
	There are, beyond the senses (</i>Sinne)<i> that can be formulated in sayable propositions, things that can </i>only be shown<i>. These show themselves in the form of (contingent) propositions, in the symbolist and logical propositions, and even in the unsayable (metaphysical, ethical, aesthetic) propositions of philosophy. </i>'What can be shown cannot be said.'<i> But it is there, </i>in language<i>, even though it cannot be said</i>.
</blockquote>
<center>
	– Anat Biletzski 
</center><br>

<blockquote>A 'picture' is a model of reality... A picture cannot depict its pictorial form: it displays it.</blockquote>
<center>
	– Ludwig Wittgenstein
</center>

<br />

Sketches of a minimalist metaphysics: "the most that can sensibly be said" about everything at once, <a href="{{irony}}">and then some</a>. A work of theoretical semantics which invites the reader to read it as a poem, and to reject it. I wanted this post to be wordless, but you won't get much out of it if I don't do some setup. A version with the German original and both flawed English translations <a href="{{body}}">is here</a>.<br>

<div align="center">
	<img src="/img/tractatus/grenze.png" />
	<br>
	<small>Proposition 6.41</small>
</div>
<br>