
<div class="accordion">
	<h3>The whole <i>Tractatus</i></h3>
	<div>
		<ol>
			<li>Reality is the aggregation of everything real.<br /></li>
			<li>What is real are facts. A fact is a <em>specific </em>configuration of existing fundamental things.<br /></li>
			<li>When we think, we model a possible world. The structure of the model is logic.<br /></li>
			<li>When we think properly, we are entertaining a premise with a determinate concept attached.<br /></li>
			<li>Whether a statement is successful depends on whether its constituents are.<br /></li>
			<li>All statements have the same structure. With one general formula (just one powerful function, the "<a href="http://www.jstor.org/stable/3327740">N-operator</a>", the denial of all propositions f[x]), you can derive the fundamental particles of language and, from there, all more complex statements. The formula of an ideal language:
				<img src="img/tractatus/general_form.png" />
			</li><br>
			<li>There is more to all this than can be put in words.</li>
		</ol>
	</div>
	<!--  -->
	<!--  -->
	<h3>Definitions</h3>
	<div>
		Pardon the German, but it's really important to keep things separate, because his ideas are so particular and weird. For instance, he does not count vague thoughts as "thoughts" ("Gedanken"). What he means by "picture" is really odd: more like a modal logic formula than a diagram.<br><br>
		<ul>
			<li>'<i>Sachverhalt</i>': A 'state of affairs' or 'atomic fact'. (see Proposition 2.)</li>
			<li>'<i>Gegenständ</i>': An 'object' or 'simple': the merest constituents of reality.</li>
			<li>'<i>Satz</i>': A sentence (...or 'proposition').</li>
			<li>'<i>Elementarsatz</i>': A fundamental particle of language; a primitive concept. Mirror the Gegenstände.</li>
			<li>'<i>Sinn</i>': A 'sense', which here means a determinate proposition: the truth-conditions of a sentence.</li>
			<li>'<i>sinnlos</i>': 'Meaningless'. Lacking a single, totally clear propositional content. (e.g. tautologies and contradictions).</li>
			<li>'<i>unsinnig</i>': 'Senseless'. Total nonsense; a sentence which is too malformed to ever carry sense (e.g. metaphysics, ethics, the <i>Tractatus</i>)</li>
			<li>'<i>Gedanke</i>': A thought - but, again, he means only clear, 'sinnvoll' thoughts.</li>
		</ul>
	</div>
	<!--  -->
	<!--  -->
	<!--  -->
	<!--  -->
	<h3>Background assumptions</h3>
	<div>
		Some of these are never stated, and I struggle to see how you'd work out that he has made them without immersing yourself in Frege and Russell.<br><br>
	<ol>
		<li>The Context Principle: "<i>A [word] has meaning only in a proposition. Every variable can be conceived as a propositional variable</i>." - 3.314<br />
		</li>
		<br />
		<li>The false (falsch) is not the nonsensical (Unsinnig) is not the&nbsp;senseless (Sinnlos): "<i>Sense must be determinate</i>." - 3.23. <br><br>
			Statements fail to express thoughts when 
			<ol>
				<li>any constituent of them lacks a truth-value, or</li>
				<li>is of indeterminate sense - that is, when any constituent is a pseudo-concept (e.g. "world"; "fact"; "God"; "object"; "the Good"; "beauty").</li>
			</ol>
			The Tractatus fails in almost every line; under its own rules, it is plain nonsense. Compared to observation statements, logic is 'senseless', but philosophy is even less than that: nonsense. (<a href="http://maartens.home.xs4all.nl/philosophy/wittgenstein/Tractatus/6/T6.54.html">6.54</a>)<br />
		</li>
	</ol>
	</div>
	<!--  -->
	<!--  -->
	<h3>The overall argument</h3>
	<div>
		Never presented as an argument, heaven forfend:<br /><br>
		<ol>
			<li>
				Logic is Transcendental<br> 
				"<i>Logic is not a body of doctrine, but a mirror-image of the world.</i>" - 6.13
			</li><br />
			<li>
				Language is logical<br> 
				(proper sentences about proper things have reducible logical structure.)
			</li><br />
			<li>
				So language is transcendental.
			</li><br>
		</ol>
		
		Hence language can lead to <em>knowledge</em> and finally end philosophy (or&nbsp;the Cartesian project, at least).<br><br>
		The logical structure of language has "multiplicities" which relate directly to the external world, or, to the true barebones meaning of statements. This explains everything which is clear and determinate, and everything else about life cannot be explained in language, so there's no point doing philosophy about it.<br><br>

		<blockquote>
			4.003 - Most of the propositions and questions to be found in philosophical works are not false but nonsensical.
		</blockquote>
	</div>
</div>
<br><br>
