<div class="accordion">
	<h3>2020 Update</h3>
	<div>
		Like any maximally nerdy (but romantic) young man of the last century, I tried to understand the <i><a href="{{t}}">Tractatus Logico-Philosophicus</a></i> when I was 19. I did not succeed, even given the help of <a href="{{white}}">someone</a> who has spent half his life reading it. This was not surprising, since I didn't understand symbolic logic or the predicate calculus or <a href="/frege">Fregean semantics</a> when I tried, and bounced off the Sheffer stroke. <br><br>

		And, despite appearances, <i>this is not a work of rationalism at all</i>: it only reduces everything to logic in order to show up logic. But in the process of trying I came up with cool drawings of some of it. <br><br> 
		<!--  -->
		Don't take these too seriously, as the Austrian said to the Welshman.
		<br><br><br>
		<ul>
			<li>I couldn't draw. Still can't, but now I have TiKZ and matplotlib to produce beautiful vectors, where he had only MSPaint.</li><br>
			<li>The central conceit, taking "zeigen" to mean visualisation, is not what he means by that. </li><br>
			<li>Wittgenstein is not an empiricist about number, so image 6.02 is beautiful but wrong.</li><br>
			<li>The examples of states of affairs I give (giving birth) are highly metaphorical; Wittgenstein's "objects" are infinitesimal things, "atomic" in the Greek sense. I think "redness" might be one. The simplest possible units of what constitute facts.</li>
		</ul>
	</div>
</div>
<br>