<ol>
    <li>Iain Banks' utopia, the Culture, is actually not that radically good.</li>
	<li>Since it is anxious about ultimate meaning, dependent on continuing intervention elsewhere. (It doesn't take its hedonic achievements and freedoms seriously enough)</li>
	<li>Since it does not offer real agency to one sort of human, the kind who needs to do counterfactual good and to be in charge.</li>
	<li>Since its post-humans still experience many distinctive human downsides (including rationalisation of death).</li>
	<li>Since despite all the freedom and power every subject has, it is somewhat stagnant.</li>
	<li>Since the humans might be a bit domesticated.</li>
	<li>Since it seems to have a few security holes.</li>
</ol>
    