<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
    	Everyone can talk to the top-level administrator at any time, who knows them intimately and cares about them.<br><br>

		Law exists in the Culture, but all actually harmless deviance is legal (and mental illness is rare), so law is never in the foreground. (Law is, after all, a twisted shadow of ethics, a uniform bureaucracy we need in order to minimise the effect of our horrible biases.) First-order ethics are usually allowed free reign in that world.
	</li>
</ol>

</div>