The received view of all this is one-dimensional: you have <a href="{{super}}">superstitious cretins</a> at one end and rational, experimental moderns at the other. But really you need five axes before you get a basic understanding of the great, great revolution that began in the C16th - before you can see how science differs from every other community: <br> <br>

<ul>
	<li> <b>Supernaturalism vs Naturalism</b>. Did they explain things solely in terms of natural causes? (Absentee Gods only.) </li>
	<br> 
	<li><b>Apriori vs Aposteriori</b>. Did they view actual observation as decisive and indispensable? </a></li> 
	<br> 
	<li> <b>Qualitative vs Quantitative.</b> Did they make measurements? Did they model the data? Did they use standard units? </li>
	<br> 
	<li> <b>Holism vs Reductionism.</b> Did they analyse things into their constituent features? Did they explain phenomena in terms of ? </li>
	<br> 
	<li> <b>Infallibilism vs Fallibilism.</b> Did they bring the possibility of error into the method? Did they view uncertain knowledge as still worthwhile? <a href="#fn:1" id="fnref:1">1</a></li>

</ul><br>

<div class="accordion">
	<h3>Struggling to understand apriorism</h3>
	<div>
		This one is hard to refer to, because we now find it incredibly easy to understand why "go and look" works as a general route to knowledge; Medieval thought often rejected this on the basis of things like the problem of induction. <br>
		<br>
		The cliched way to refer to the split between those who want to <i>start</i> with the apriori and those who want to start with data is "Rationalism" vs "Empiricism". But these words <a href="http://slatestarcodex.com/2014/11/27/why-i-am-not-rene-descartes/">confuse people</a>: the two of them are also used in a C17th debate about psychology, to do with the nature of mental content. 
		<br><br>
		More: it can't be a dichotomy, since many of the greatest rationalists (Descartes, Leibniz) were experimentalists, doing what we now call empirical work. Three meanings of rationalism, and three words for them:<br><br>
		<ul>
			<li>'<i>Rationalism 1</i>': Belief in innate ideas. Call it 'Continental Rationalism'. Descartes and Leibniz but not Dawkins and Shermer. </li>
			<br>
			<li>'<i>Rationalism 2</i>': Belief in the supremacy of apriori knowledge over empirical knowledge. Call it 'apriorism'. Aristotle was (<a href="{{anc}}">ambiguously</a>) apriorist, as was Descartes. </li>
			<br>
			<li>'<i>Rationalism 3</i>': Belief that everything should be subject to reason and evidence. Includes Descartes and Leibniz <i>and</i> Dawkins and Shermer. Contemporary rationalists are highly if not radically empiricist. </li>
		</ul>
		<br>
		<br>I use <a href="https://blogs.otago.ac.nz/emxphi/2011/07/leibniz-experimental-philosopher/">Alberto Vanzo</a>'s criteria for deciding if someone was enough of an experimentalist:<br>
			<blockquote>
				let us consider four typical features of early modern experimental philosophers:<br>    
				self-descriptions: experimental philosophers typically called themselves such. At the very least, they professed their sympathy towards experimental philosophy.<br>  
				friends and foes: experimental philosophers saw themselves as part of a tradition whose “patriarch” was Bacon and whose sworn enemy was Cartesian natural philosophy.<br>  
				method: experimental philosophers put forward a two-stage model of natural philosophical inquiry: first, collect data by means of experiments and observations; second, build theories on the basis of them. In general, experimental philosophers emphasized the a posteriori origins of our knowledge of nature and they were wary of a priori reasonings.<br>  
				rhetoric: in the jargon of experimental philosophers, the terms “experiments” and “observations” are good, “hypotheses” and “speculations” are bad. They were often described as fictions, romances, or castles in the air.
				<br>
			</blockquote>
			<br>
			This is unusually inclusive: the famous Rationalist Leibniz counts as experimental under this rubric. But a stronger definition of aposteriorist - like "refuses to use purely analytic reasoning", or even "spent most of their time running experiments and analysing data" would exclude many contemporary scientists. Sticking with Vanzo for now. <a href="#model">⏎</a>
	</div>
	<h3>Other axes</h3>
	<div>
		Obviously these five factors aren't the end of the matter either. But I reckon it catches a decent amount of the variance in the term "scientist". Others:<br><br>
<!--  -->
	<ul>
		<li>
			<b>Obscurantism vs Openness.</b> Did they write in the vernacular? Did they publish for a wide readership? Did they spurn Noble Lies? Did they encourage replications with and data sharing? Did they build scholarly networks? 
		</li>
	</ul><br><br>
		It would be wishful/normative thinking to say this is a principal property of science: modern academic science fails at this. (Though less than the hermetics.) Whether with its low-status replications, unreadable prose, paywalls on most research (tax-funded or no), pathetically low levels of data sharing, or the <a href="http://www.gwern.net/docs/iq/2015-cofnas.pdf">prevalence of noble lies</a>... <br><br>
<!--  -->
		But it's definitely a core <i>aspiration</i> now: the greedy impulse behind hermeticism is blatantly unscientific, if not actually shunned by actual scientists. First, lip service... <br><br>
		Things can be science without being published, obviously: consider the <a href="https://en.wikipedia.org/wiki/RSA_(cryptosystem)#History">invention of public key cryptography</a> by a GCHQ wonk, classified for 25 years - or even the secret <a href="https://en.wikipedia.org/wiki/High-frequency_trading#Low-latency_strategies">infrastructure</a> and <a href="https://en.wikipedia.org/wiki/High-frequency_trading#Statistical_arbitrage">algorithmics</a> of high-frequency trading.<br><br><br>
<!--  -->
		<ul>
			<li>
				<b>Particularism vs Consilience</b>. Did they believe that the scientific method could explain every phenomenon? 
			</li><br>
			<li>
				<b>Realism vs Instrumentalism</b>. Most scientists are realists about best current theories: they think that the objects of the theories exist, rather than thinking that just the mathematical structure exists, or that the mathematical structure is just useful. 
			</li><br>
			<li>
				<b>Theism vs Nontheism</b>. included non-theism in the core of modern science - and so it is, in the form of strong naturalism. Scient<i>ists</i>, on the other hand, differ from this, globally. This is partially because humans are so compartmentalised and can hold severe contradictions indefinitely. But, clearly, atheism is not an essential part of the modern method. But <a href="https://en.wikipedia.org/wiki/Causal_closure">causal closure</a> and (at most) a <i>private</i> faith are.
			</li>
		</ul>
<!--  -->
	</div>
<!-- 
 -->
	<h3>Against Against Method</h3>
	<div>
		<a href="{{feyer}}">Feyerabend</a> is sometimes taken to have shown that there is no such thing as The Scientific Method (a single set of necessary and sufficient properties). <i>Against Method</i> is a great book, but it shows no such thing. His claim is that there are no scientific rules which are both useful in practice and universally true of all instances of science.<br><br>
<!--  -->
		Here's a necessary condition: taking evidence seriously. (And no, <a href="{{ein}}">Einstein's arrogance</a> is no counterexample: I said seriously, not literally and not naively.) You can make this useful with the Bayesian interpretation of confirmation and <a href="{{weis}}">explanation</a>: given a hypothesis space, that gives you quantity of justified belief.<br><br>
<!--  -->
		I think I agree that there are no sufficient conditions: some scientists are truly strange.
	</div>
</div><br><br>



: naturalist, fallibilist, quantitative empiricism (with pretensions to openness). I've categorised the early scientists mentioned in <i>Curiosity</i> according to this: you can see <a href="{{data}}">the data with additional justifications here</a>. (Ball doesn't state this model, but it floats around in his debunkings and "well actually"s.)<br><br>

A fun regression on this data would be to see how my scienciness measure correlates with the importance of the person's work. It would not be that highly proportional, in this time period. 