{%  assign id = "amimg"  %}

<tr>
    <td class="logo">
        <!-- <a href="">
            <div id="{{id}}"></div>
        </a> -->
    </td>
    <td style="padding-left: 5px">
        <h4>
            <a class="nolink" href="{{gr}}" target="_blank">
                Dropshipping Brains: the best of Arb Research
                <span class="year">(forthcoming)</span>
            </a> 
        </h4>
        <div class="journo">
            
        </div>        
        <!-- <span class="dropdown">
          <button class="dropped" onclick="javascript:drop('arb')">The point</button>,
          <div id="arb" class="dropdown-content">
            <br>
            <br><br>
          </div>
        </span> -->
    </td>
</tr>



<script>  
    var src="/img/"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>