<tr>
	<td class="logo">
		<a href="{{coviddata}}">
			<img src="/img/coviddata.png" />
		</a>
	</td>
	<td style="padding-left: 5px">
		<i>
			<a href="{{coviddata}}" target="_blank">
			A dataset of non-pharmaceutical interventions on SARS-CoV-2 in Europe
			</a>
		</i> (2022), <i>Nature Scientific Data</i>
		<br>6th author / 20.<br>
		<span class="dropdown">
		  <a class="dropped" href="javascript:drop('coviddata')">The point</a>,
		  <div id="coviddata" class="dropdown-content">
			<br>
			The dataset from the <a href="{{covid2}}">second wave paper</a>.<br><br>

			<i>Authors</i>: George Altman, Janvi Ahuja, Joshua Teperowski Monrad, Gurpreet Dhaliwal, Charlie Rogers-Smith, <span style="font-weight: bold; font-size: 13px;">Gavin Leech</span>, Benedict Snodin, Jonas B. Sandbrink, Lukas Finnveden, Alexander John Norman, Sebastian B. Oehm, Julia Fabienne Sandkühler, Jan Kulveit, Seth Flaxman, Yarin Gal, Swapnil Mishra, Samir Bhatt, Mrinank Sharma, Sören Mindermann & Jan Markus Brauner  
			<br>
		  </div>
		</span>
		<a href="">explainer</a>
	</td>
</tr>


