{%	assign id = "covid2img" 	%}

<tr>
	<td class="logo">
		<a href="{{secondwave}}">
			<div id="{{id}}"></div>
		</a>
	</td>
	<td style="padding-left: 5px">
		<a class="noline" href="{{secondwave}}" target="_blank">
		Understanding interventions in the resurgence of Covid</a>
	 	<div class="journo">
 		 (2021),
			<i>Nature Comms</i>
		</div>
		
		<span class="dropdown">
		  <button class="dropped" onclick="javascript:drop('covid2')">The point</button>,
		  <div id="covid2" class="dropdown-content">
			<br>
			<b>Full title: Understanding the effectiveness of government interventions against the resurgence of COVID-19 in Europe </b>
			<br><br>
			We looked at how policy effects changed in the second wave (late 2020). This time we did it at a finer level, with the unit roughly 1/20 of a country rather than whole countries.<br><br>
			
			Policies got a bit weaker overall (66% combined reduction, compared to 80% in Spring). The best reading of this is that all the safety measures and individual protective behaviour persisted after the first wave, even when the government said it was ok to stop.<br><br>

			School closure was notably weaker (10% instead of 35%). This probably means that the safety measures enforced since Spring really did make them safer.<br><br>

			<i>Authors</i>: Mrinank Sharma, Sören Mindermann, Charlie Rogers-Smith, <span class="me">Gavin Leech</span>, Benedict Snodin, Janvi Ahuja, Jonas B. Sandbrink, Joshua Teperowski Monrad, George Altman, Gurpreet Dhaliwal, Lukas Finnveden, Alexander John Norman, Sebastian B. Oehm, Julia Fabienne Sandkühler, Thomas Mellan, Jan Kulveit, Leonid Chindelevitch, Seth Flaxman, Yarin Gal, Swapnil Mishra, Jan Markus Brauner, Samir Bhatt
			<br><br>
				<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script><div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="102831786"></div>
			<br>
		  </div>
		</span>
		<a href="{{secondwave}}" target="_blank">the paper</a>, <a href="{{secondwavetwit}}">explainer</a>
	</td>
</tr>

<script>  
	var src="/img/papers/DALLE 2022-08-03 104952 - government interventions against virus second wave exponential, watercolour, artstation 4k.jpg"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>