{%  assign id = "dpimg"  %}
{%  assign stripe = "https://press.stripe.com/scaling"  %}
{%  assign amazonDP = "https://www.amazon.co.uk/Scaling-Era-Oral-History-2019-2025-ebook/dp/B0F22SKW5Y/ref=tmm_kin_swatch_0"  %}
{%  assign webgl = "https://www.stripe.press/scaling" %}

<tr>
    <td class="logo">
        <a href="{{stripe}}">
            <div id="{{id}}"></div>
        </a>
    </td>
    <td style="padding-left: 5px">
        <h4>
            <a class="nolink" href="{{stripe}}" target="_blank">
                The Scaling Era, An Oral History
                <span class="year">(2025)</span>
            </a> 
        </h4>
        <div class="journo">
            Stripe Press
        </div>        
        <span class="dropdown">
          <button class="dropped" onclick="javascript:drop('dwarkesh')">The point</button>,
          <div id="dwarkesh" class="dropdown-content">
            <br>
            "Will we make the big one, AGI? If so, how? Having made it, will we regret it? And what then?"<br><br>
            Wrote a bunch of intro essays, picked out the best hundred passages from the podcast, edited them into prose, fact-checked them, added definitions and citations, added some extra snark, made a dozen visualisations, and got Gwern and Nostalgebraist into mainstream print.
            <br>
            <blockquote>wide-ranging and informative... questions that no-one else even knows to ask, or how to pose.</blockquote>
            – <a href="https://archive.is/8IqEP">The New Yorker</a>
            <br>
            <blockquote>It's really quite good</blockquote>
            – <a href="https://x.com/patio11/status/1904572228572008932">patio11</a>
            <br><br>
            <i>Authors</i>: Gavin Leech and Dwarkesh Patel (and 20 interviewees).
            <br><br>
            <i>Total hours I contributed</i>: 340.
            <br><br>
          </div>
        </span>
        <a href="{{amazonDP}}" target="_blank">Amazon</a>, 
        <a href="{{webgl}}">WebGL cover</a>, <a href="https://www.goodreads.com/book/show/230112000-the-scaling-era#CommunityReviews">reviews</a>.
    </td>
</tr>



<script>  
    var src="/img/papers/scale.png"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>