{%  assign id = "fabimg"  %}
{%  assign fabr = "https://www.lulu.com/shop/olga-babeeva-and-gavin-leech/the-fabric-book/hardcover/product-w4yw5q2.html" %}
{%  assign gol = "https://www.lulu.com/shop/olga-babeeva-and-gavin-leech/the-fabric-book-gol/hardcover/product-57y29kp.html" %}
{%  assign green = "https://www.lulu.com/shop/olga-babeeva-and-gavin-leech/the-fabric-book-green/hardcover/product-7kvrmnw.html"   %}


<tr>
    <td class="logo">
        <a href="{{fabr}}">
            <div id="{{id}}"></div>
        </a>
    </td>
    <td style="padding-left: 5px">
        <h4>
            <a class="nolink" href="{{fabr}}" target="_blank">
                The Fabric Book
                <span class="year">(2025)</span>
            </a> 
        </h4>
        <div class="journo">
            <a class="nolink" href="https://fabric.camp">fabric.camp</a>
        </div>        
        <span class="dropdown">
          <button class="dropped" onclick="javascript:drop('fabric')">The point</button>,
          <div id="fabric" class="dropdown-content">
            <br>
            I edited a volume of the best essays by the <a href="https://fabric.camp">Fabric</a> community. A distinct lineage of rationality I love.
            <br><br>
            <i>Authors</i>: Various. Thanks also to Olga for the great cover designs, Phil for the LaTeX, and Xavi for the maths. 
            <br><br>
          </div>
        </span>
        <a href="{{fabr}}" target="_blank">Lulu</a>, <a href="{{gol}}">alt</a>, <a href="{{green}}">alt</a>.
    </td>
</tr>



<script>  
    var src="/img/fabricf.png"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>