<tr>
	<td class="logo">
		<a href="{{aimos}}"><img src="/img/forrt.png" /></a>
	</td>
	<td style="padding-left: 5px">
		<i><a href="{{aimos}}">Replications and Reversals in the Social Sciences</a></i> (2021), AIMOS (Association for Interdisciplinary Meta-Research and Open Science)<br>
		<span class="dropdown">
		  <a class="dropped" href="javascript:drop('forrt')">The point</a>, 
		  <div id="forrt" class="dropdown-content">
			<br>
			Research results are often not reproducible and/or replicable. Intense self-criticism in psychology over the last 7 years or so has showed that only 40-65% of classic results were replicated. Call these "reversals". Shockingly, they are not incorporated into research training or undergrad education.<br><br>

			<i>Authors</i>: Helena Hartmann, Shilaan Alzahawi, Meng Liu, Mahmoud Elsherif, Alaa AlDoh, <span style="font-weight: bold; font-size: 13px;">Gavin Leech</span>, Flavio Azevedo<br><br>
		  </div>
		</span>
		<a href="{{forrtvid}}">video</a>, <a href="{{forrt}}">professionalised</a>, <a href="/psych">original</a>
	</td>
</tr>