{%	assign id = "forrtimg" 	%}

<tr>
	<td class="logo">
		<a href="{{aimos}}">
			<div id="{{id}}"></div>
		</a>
	</td>
	<td style="padding-left: 5px">
		<a class="noline" href="{{aimos}}">Replications and Reversals in the Social Sciences</a> 
		
		<div class="journo">
		(2021),
			<a class="nolink" href="https://aimos.community/">AIMOS</a> workshop<br>
		</div>
		
		<span class="dropdown">
		  <button class="dropped" onclick="javascript:drop('forrt')">The point</button>,
		  <div id="forrt" class="dropdown-content">
			<br>
			Research results are often not reproducible and/or replicable. Intense self-criticism in psychology over the last 7 years or so has showed that only 40-65% of classic results were replicated. Call these "reversals". Shockingly, they are not incorporated into research training or undergrad education.<br><br>

			<i>Authors</i>: Helena Hartmann, Shilaan Alzahawi, Meng Liu, Mahmoud Elsherif, Alaa AlDoh, <span style="font-weight: bold; font-size: 14px;">Gavin Leech</span>, Flavio Azevedo<br><br>
		  </div>
		</span>
		<a href="{{forrtvid}}">video</a>, <a href="{{forrt}}">professionalised</a>, <a href="/psych">original</a>
	</td>
</tr>


<script>  
	var src="/img/forrt.png"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>