{%  assign id = "grimg"  %}

<tr>
    <td class="logo">
        <!-- <a href="">
            <div id="{{id}}"></div>
        </a> -->
    </td>
    <td style="padding-left: 5px">
        <h4>
            <a class="nolink" href="{{gr}}" target="_blank">
                Normal Deviates: Book Reviews 2012-2025
                <span class="year">(forthcoming)</span>
            </a> 
        </h4>
        <div class="journo">
            
        </div>        
        <!-- <span class="dropdown">
          <button class="dropped" onclick="javascript:drop('gr')">The point</button>,
          <div id="gr" class="dropdown-content">
            <br>
            <br><br>
            <i>Total hours I contributed</i>: 900.
            <br><br>
          </div>
        </span> -->
    </td>
</tr>



<script>  
    var src="/img/readin.png"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>