{%	assign id = "lgfoimg" 	%}
{%	assign lgcode = ""	%}


<tr>
	<td class="logo">
		<a href="{{lgfo}}">
			<div id="{{id}}"></div>
		</a>
	</td>
	<td style="padding-left: 5px">
			<a class="noline" href="{{lgfo}}" target="_blank">Legally Grounded Fairness</a>
			<div class="journo">
				(2020)
			</div>

		<span class="dropdown">
  		  <button class="dropped" onclick="javascript:drop('lgfo')">The point</button>,

			<div id="lgfo" class="dropdown-content">
			<br>
			We try to work around the famous impossibility results in algorithmic fairness, by using legal damages as a signal about all-things-considered unfairness. This lets us use multiple definitions of fairness at once and set the weight on each in a non-arbitrary way.<br><br>

			A human picks a set of fairness definitions; A human gives the algorithm a set of past cases, along with the damages awarded in each case; LGFO works out how much weight to give each kind of fairness, and so produces a classifier which is relatively fair, if we trust the legal system to know this relatively well.
			<br><br>
			<i>Authors</i>: Dylan Holden-Sim, <span style="font-weight: bold; font-size: 18px;">Gavin Leech</span>, Laurence Aitchison
			<br><br>
			<i>Total hours I contributed</i>: 20.
			<br><br>
		  </div>
		</span>

		<a href="/lgfo">blogpost</a>, <a href="{{lgcode}}">code</a>
	</td>
</tr>


<script>  
	var src="/img/papers/lgfo.jpg"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>
