<tr>
	<td class="logo">
		<a href="{{eclinic}}">
			<img src="/img/lineage.png" />
		</a>
	</td>
	<td style="padding-left: 5px">
		<i>
			<a href="{{eclinic}}" target="_blank">Changing SARS-CoV-2 lineages and the rise of Delta</a>
		</i> (2021), <i>Lancet E-Clinical Medicine</i>
		<br>
		16th author / 30.<br>
		<span class="dropdown">
		  <a class="dropped" href="javascript:drop('covidlineage')">The point</a>,
		  <div id="covidlineage" class="dropdown-content">
			<br>
			By looking at tests and sewage data from early 2021, we saw that "the English variant" of COVID (B.1.1.7) which took over England in December was itself being displaced by other nasty variants. The main worry was that one of the new variants would be resistant to the vaccines.<br><br>

			<i>Authors</i>: Swapnil Mishra, Sören Mindermann, Mrinank Sharma, Charles Whittaker, Thomas AMellan, Thomas Wilton, Dimitra Klapsa, Ryan Mate, Martin Fritzsche, Maria Zambon, JanviAhuja, Adam Howes, Xenia Miscouridou, Guy P Nason, Oliver Ratmann, <span class="me">Gavin Leech</span>, Julia Fabienne Sandkühler, Charlie Rogers-Smith, Michaela Vollmer, H Juliette T Unwin, Yarin Gal, Meera Chand, Axel Gandy, Javier Martin, Erik Volz, Neil M Ferguson, Samir Bhatt, Jan M Brauner, Seth Flaxman<br><br>
		  </div>
		</span>

		<a href="{{impblog}}">discussion</a>
	</td>
</tr>
