<tr>
	<td class="logo">
		<a href="{{masks}}">
			<img src="/img/" />
		</a>
	</td>
	<td style="padding-left: 5px">
		<i>
			<a href="{{masks}}" target="_blank">
				Mass mask-wearing is associated with notably reduced COVID-19 transmission
			</a>
		</i> (2021)
		<br>
		1st author / 15.<br>
		<span class="dropdown">
		  <a class="dropped" href="javascript:drop('masks')">The point</a>. 
		  <div id="masks" class="dropdown-content">
			<br>
				We noticed that results were incoherent. We noticed that people were using a really weak proxy. We did a complicated regression model. It 		  
		  </div>
		</span>

		<a href="{{maskstweet}}">Explainer</a>
	</td>
</tr>
