{%	assign id = "maskimg" 	%}

<tr>
	<td class="logo">
		<a href="{{maskspp}}">
			<div id="{{id}}"></div>
		</a>
	</td>
	<td style="padding-left: 5px">

	<i><a class="noline" href="{{maskspp}}" target="_blank">
		Community mask-wearing reduces COVID transmission
	</a></i> (2022) 
	<br>
	
	<div class="journo">
		<i>PNAS</i>
	</div>

	<span class="dropdown">
	  <button class="dropped" onclick="javascript:drop('masks')">The point</button>,

	<div id="masks" class="dropdown-content"><br>
	 		A puzzle: micro level studies (i.e. watching individual people) tended to find nice big reductions in COVID transmission from masks, like 50%. But society-level studies found random results in [-2%, 40%]. Turns out that the proxy people were using was pretty weak. So we got a much much better proxy, using Facebook's reach to get 20 million data points on where and when people were actually wearing masks.
	 		<br><br>
	 		We did a complicated regression model on 56 countries (not including treating the US states as countries), and checked it in 22 ways to make sure that our result wasn't just cherrypicking or a pure correlation. We find that masks can be confidently linked to a 6% - 43% reduction in transmission, where we can't really what the effect of mandates was. (For comparison, the difference between summer and winter is 42%, or the effect of all government interventions in the first-wave was about 80%.)
		 	<br><br>

		<i>Authors</i>: <span class="me">Gavin Leech</span>, Charlie Rogers-Smith, Jonas B Sandbrink, Ben Snodin, Rob Zinkov, Benjamin Rader, John S. Brownstein, Yarin Gal, Samir Bhatt, Mrinank Sharma, Soren Mindermann, Jan Markus Brauner, Laurence Aitchison
		<br>
			<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script><div class="altmetric-embed" data-badge-type="donut" data-altmetric-id="107879700"></div>
			<br>
		 </div>
		</span>
		<a href="{{maskstw}}">explainer</a>, <a href="/masks">blogpost</a>, <a href="{{maskscode}}">code</a>, <a href="{{rex}}">liveblogged</a>, <a href="{{vsmike}}">rebuttal</a>.
	</td>
</tr>

<script>  
	var src="/img/papers/masks.png"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>