<tr>
	<td class="logo">
		<a href="{{maskspp}}"><img src="/img/papers/masks.png" /></a>
	</td>
	<td style="padding-left: 5px">
		<i><a href="{{maskspp}}" target="_blank">
			Mass mask-wearing notably reduces COVID-19 transmission
		</a></i> (2021) <br>
		1st author / 13.<br>
		<span class="dropdown">
		 <a class="dropped" href="javascript:drop('masks')">The point</a> 
		 <div id="masks" class="dropdown-content"><br>
		 	There was a puzzle: micro level studies (i.e. watching individual people) tended to find nice big reductions in COVID transmission from masks, like 50%. But society-level studies found random results in [-2%, 40%]. Turns out that the proxy people were using in the latter was pretty weak. So we get a much much better proxy, using Facebook's reach to get 20 million data points on where and when people were actually wearing masks.
		 	<br><br>
		 	We did a complicated regression model on 56 countries (not including treating the US states as countries), and checked it in 22 ways to make sure that our result wasn't just cherrypicking or a pure correlation. We find that masks can be confidently linked to a 6% - 43% reduction in transmission, where we can't really what the effect of mandates was. (For comparison, the difference between summer and winter is 42%, or the effect of all government interventions in the first-wave was about 80%.)
<!--  -->
		 	<br><br>
<!--  -->
			<i>Authors</i>: Gavin Leech, Charlie Rogers-Smith, Jonas B Sandbrink, Ben Snodin, Rob Zinkov, Benjamin Rader, John S. Brownstein, Yarin Gal, Samir Bhatt, Mrinank Sharma, Soren Mindermann, Jan Markus Brauner, Laurence Aitchison
			<br><br>
		 </div>
		</span>, <a href="{{maskstw}}">explainer</a>

		
	</td>
</tr>