.noline {
	font-weight: bold;
}

img {
  border-radius: 50%;
  border: 4px solid transparent;
}

img:hover {
  border: 4px dashed black;
}

img.bris {
  border-radius: 0%;
  border: 0px solid transparent;
}

h4 {
	font-style: italic;
}

.noline {
	text-decoration-thickness: 17%;
	text-decoration-skip: spaces;
	text-underline-offset: 3.5px;
}

.hoverable:hover {
  	fill: #FFAC1C;
}

.hoverable:active {
  	fill: #006800;
}

.frame{
	    margin-top: 2em;
    	margin-bottom: 2em;
	    width: 100%;
	    max-width: 600px;
	    display: flex;
	    text-align: center;
	    align-items: center;
	    justify-content: center;
	}

.orcid {
	margin-top: 2em;
  	width: 72%;
}


.year {
		font-style: normal;
		padding-left: 5px;
}


tr>td {
  padding-bottom: 1.6em;
}

button {
  background-color: #006800;
  /*border: none;*/
  color: white;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  /*border-radius: 30%;*/

  cursor: pointer;
  border-radius: 16px;
}

button:focus {
	background-color: #FFF;
  color: black;
}


.dropdown {
  /*display: inline-block;*/
  padding: 0;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  z-index: 1;
}

.dropped {
	font-size: 17px;
}

.dropdown-content {
  padding-left: 16px;
  font-size: 17px;
}

.show {
	display:block;
}

.frame {
	text-align: center;
}



img {
	padding-top:8px;
  vertical-align: top;
}

.logo {
	width: 21% !important;
  vertical-align: top;
	padding-right: 28px;
	padding-bottom: 30px;
}

img {
	/*border: 1px solid black;*/
}


@media screen and (max-width: 600px) {
	.logo {
		width: 25% !important;
	}

	button {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	.bris {
		width: 50%;
	}

}

.journo {
		margin-top: 17px;
		margin-bottom: 6px;
}

table {
		/*border-collapse: collapse; */
}

tr {
  /*border-bottom: 1pt solid black;*/
}

tr>td {
	padding-bottom: 1.5em;
	padding-top: 1.5em;
}

table:first-child {
		padding-top: 0em;
}

.me {
	font-weight: bold;
	font-size: 17px;
}


a:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 12%  !important;
  text-underline-offset: 2.5px  !important;
}
