.noline {
	font-weight: bold;
}

a {
	text-decoration-thickness: 14%;
	text-decoration-skip: spaces;
	text-underline-offset: 3.5px;
}

.ai-google-scholar, .bris, .ai-orcid {
	display:inline-block;
  text-align: center;
  padding-right: 20px;
  vertical-align:middle;
}


.ai-orcid:hover {
	color: #006800;

}

.ai-google-scholar:hover {
	color: #006800;
}


.bris {
	width: 20%;
	padding: 10px;
}

.bris:hover {
	border: 1px;	
	padding: 9px;
}

tr>td {
  padding-bottom: 1em;
}

button {
  background-color: #006800;
  /*border: none;*/
  color: white;
  margin-top: 15px;
  padding: 5px 10px 5px 10px;
  /*border-radius: 30%;*/

  cursor: pointer;
  border-radius: 16px;
}

button:focus {
	background-color: #FFF;
  color: black;
}


.dropdown {
  /*display: inline-block;*/
  padding: 0;
  margin-bottom: 10px;
}

.dropdown-content {
  display: none;
  z-index: 1;
}

.dropped {
	font-size: 17px;
}

.dropdown-content {
  padding-left: 16px;
  font-size: 17px;
}

.show {
	display:block;
}

.frame {
	text-align: center;
}

img {
	padding-top:8px;
  vertical-align: top;
}

.logo {
	width: 21% !important;
  vertical-align: top;
	padding-right: 28px;
}

@media screen and (max-width: 600px) {
	.logo {
		width: 25% !important;
	}

	button {
		padding-top: 1.5em;
		padding-bottom: 1.5em;
	}

	.bris {
		width: 50%;
	}

}

.journo {
		margin-top: 25px;
		margin-bottom: 15px;
}

table {
		border-collapse: collapse; 
}

tr {
  border-bottom: 1pt solid black;
}

tr>td {
	padding-bottom: 1.5em;
	padding-top: 2em;
}

.me {
	font-weight: bold;
	font-size: 17px;
}
