{%  assign id = "phdimg"  %}
{%  assign phd = "https://research-information.bris.ac.uk/ws/portalfiles/portal/437692523/methods_failing_the_data.pdf"  %}
{%  assign newell = "https://www.eecs.harvard.edu/htk/phdadvice/#3"  %}


<tr>
    <td class="biglogo">
        <a href="{{phd}}">
            <div id="{{id}}"></div>
        </a>
    </td>
    <td style="padding-left: 5px">
        <h4>
            <a class="nolink" href="{{phd}}" target="_blank">
                Methods Failing the Data, Data Failing the Methods
                <span class="year">(2024)</span>
            </a> 
        </h4>
        <div class="journo">
            University of Bristol
        </div>        
        <span class="dropdown">
          <button class="dropped" onclick="javascript:drop('phd')">The point</button>,
          <div id="phd" class="dropdown-content">
            <br>
            I have a PhD in complaining.<br><br> 
            I went in wanting to work on AI safety. True to form, I instead ended up with a grab-bag: approximate Bayesian inference, Covid epidemiology, metascience, the methodology of the social sciences, scientific malpractice, inductive logic, algorithmic fairness, the methodology of evaluating machine learning systems, and (of course) large language models. Some safety work in there. Broadly, post-hoc, it’s about epistemics. (Why can’t we learn that much from one study, or many studies?)<br><br>
            In <a href="{{newell}}">Newell’s typology</a> the thesis “contradicts existing knowledge; thoroughly explores an area; provides empirical data; and produces a negative result”.<br><br>
            It is a Gelmanian work, in that I cite him 74 times and in every chapter, and in that it is pragmatically Bayesian, in that it is self-elected police work, in that it skips merrily across disciplinary boundaries, and in that it’s stubborn and irreverent. This makes it Jaynesian.<br><br>
            It’s surprisingly easy to do real work in fields you have zero background in. This is partly because stats now reigns imperial in roughly all sciences but also because many fields are in some sense methodologically shallow and content deep.<br><br>All solutions to bad science have their own vulnerabilities and/or high costs. This war will never end.<br><br>It’s pretty fishy how few retractions there are in machine learning. (In every field, but especially machine learning.)<br><br>We don’t win on average (the average paper is very bad and will always be fairly bad) but as long as our filtering mechanism allows us to continue to find the 1% which actually progress us...
            <br><br>
            <i>Total hours I contributed</i>: <a href="/phd-numbers">3500</a> on the whole deal (226 on the writeup).
            <br><br>
          </div>
        </span>
        <a href="/phdone" target="_blank">postmortem</a>.
    </td>
</tr>



<script>  
    var src="/img/thesis.png"; 
    definiteEvent( createImg, [src, "{{id}}"] ); 
</script>