<tr>
	<td class="logo">
		<a href="{{seasons}}"><img src="/img/papers/season-graph.png" /></a>
	</td>
	<td style="padding-left: 5px">
		<i><a href="{{seasons}}" target="_blank">Seasonal variation in SARS-CoV-2 transmission in temperate climates</a></i> (2021) <br>
		3rd author / 8.<br>
		<span class="dropdown">
		 <a class="dropped" href="javascript:drop('seasons')">The point</a>
		 <div id="seasons" class="dropdown-content"><br>
		 	We reconstruct the ridiculously complicated causal web involved in making COVID less bad in the summer and then ignore it and estimate one scalar instead. It turns out to be big but not big enough, only about 40% reduced transmission in summer.<br><br>
<!--  -->
		 	This provides a really important adjuster for observational studies, and updates unadjusted estimates from last year.<br><br>
<!--  -->
			<i>Authors</i>: Tomas Gavenciak, Joshua Teperowski Monrad, <span class="me">Gavin Leech</span>, Mrinank Sharma, Soren Mindermann, Jan Markus Brauner, Samir Bhatt, Jan Kulveit
			<br><br>
		 </div>
		</span>, <a href="{{seasontw}}">explainer</a>

		
	</td>
</tr>