<ol>
	<li>Streaming is pretty much the same as the old music industry, but a bit less concentrated, more consumer-friendly and customisable, and way less gatekept	.</li>

	<li>Users actively choose to use Spotify as background, to not engage, to accept autoplay, to consume algo playlists rather than albums. The platform facilitates but doesn't force these choices. People were already consuming muzak and radio before.</li>

	<li>One genuinely new (currently small but ominous) problem is "Perfect Fit Content" - commissioning muzak under fake artist names, presumably to avoid paying royalties. Also enabled by users who don't care what they're listening to.</li>

	<li>Spotify "flattens and degrades music" because that's what a large fraction of users act as if they wanted! user wants something in the background → Spotify optimizes for that → more background music gets made.</li>
</ol>