
<div class="footnotes">
<ol>
	    <!-- 1 -->
     <li class="footnote" id="fn:1">
		This is the '<i><a href="{{luck}}">Control principle</a></i>':<br><br> 

		as applied here it states 'if an accident of birth put me on track for higher wages, then I haven't earned the surplus wage I receive.')
	</li>

	<li class="footnote" id="fn:2">
		This form of the argument mentions poverty relief for reasons of <a href="http://en.wikipedia.org/wiki/Availability_heuristic">availability</a>: these things don't work well without an example, and extreme poverty relief is an uncontroversially good thing.<br><br>

		But the case for animal rights work or <a href="{{jeff}}">existential risk</a> mitigation is often very strong indeed and I intend no prejudice.<br /><br>
	</li>

	<li class="footnote" id="fn:3">
		I wrote the first draft of this in 2011, but this claim was a bit underhand even then: I had an economics degree, a stock of <a href="{{kapital}}">human capital</a> which (usually) disqualifies people from being systemically poor.
	</li>

	<li class="footnote" id="fn:4">
		Given reasonable interpersonal values, these organisations can use a unit of income <a href="http://80000hours.org/cost-effectiveness-research-and-prioritisation">thousands</a><i> </i>of times better than we can use it for ourselves, a margin far beyond econometric error or <a href="http://marginalrevolution.com/marginalrevolution/2012/02/is-charity-a-major-source-of-deadweight-loss.html">admin</a> <a href="http://en.wikipedia.org/wiki/Deadweight_loss">deadweight</a>.)
	</li>

	<li class="footnote" id="fn:5">
		If you skip to the "Simple" version of this post, you'll see that there is no premise for "this is bad". It takes a certain level of sophistication before you need telling.
	</li>

	<li class="footnote" id="fn:6">
		This follows from the Baumol effect plus <a href="http://troublingadvocacy.blogspot.co.uk/2015/08/ha-joon-chang-thing-3.html">closed borders</a>.
	</li>

	<li class="footnote" id="fn:7">
		This is known in the literature as the <i><a href="{{singerArg}}">Strong</a> Singer Principle</i>, and this is Peter Singer's phrasing.
	</li>

	<li class="footnote" id="fn:99">
    	World <a href="{{gallup}}">median household per capita</a> divided by $:£ rate.
    </li>

    <li class="footnote" id="fn:100">
    	For a single, childless, working-age person with no disabilities.
    </li>

    <li class="footnote" id="fn:101">
     	(Excluding London.)<br><br>

		Average non-London rent: <a href="https://homelet.co.uk/rentalindex">£684</a> a month; 684 x 12 = £8208 a year. This is for "homes", so it covers massive 5 bedroom places as well as bedsits though. The <i>mode</i> is 3 bedrooms (p.26 <a href="https://www.gov.uk/government/uploads/system/uploads/attachment_data/file/6695/1750765.pdf">here</a>) so let's run with that. 

		<br><br>Assuming you can find people to share with, we'll divide this by (say) three tenants = <b>£2736 each</b>. The median <i>will</i> be lower, but I don't want to just guess.
	</li>

	<li class="footnote" id="fn:102">
		i.e. <span class="gbp">£5</span> a day. This is with many pulses and power smoothies.
	</li>

	<li class="footnote" id="fn:103">
		Yeah I dunno.		
	</li>

	<li class="footnote" id="fn:104">
		Heating: <br>
		Electricity: <br>
		Water: £<br>
		Internet: £120<br>
		Council tax: <br><br>

		UK average is <span class="gbp">£1,440</span>, <a href="http://www.bbc.co.uk/consumer/23898038">which seems high</a>. (Mine was £940 last year, split between three people.)
	</li>

	<li class="footnote" id="fn:105">
		<a href="http://www.jrf.org.uk/sites/files/jrf/MIS-2015-full.pdf">£26/week according to the JRF</a>.
	</li>

	<li class="footnote" id="fn:106">
		Tax depends entirely. It is £6500 if you're on the national median wage: on a <a href="http://www.hmrc.gov.uk/incometax/basics.htm#6">£25k income</a>, £5k income tax, £1.5k council tax.<br><br> 

		Also without juggling tax brackets with <a href="http://www.hmrc.gov.uk/individuals/giving/basics.htm">deductibles</a>.<br>
	</li>

	<li class="footnote" id="fn:107">
		Thrift store threads plus underwear and socks.
	</li>

	<li class="footnote" id="fn:109">
		<a href="http://www.jrf.org.uk/sites/files/jrf/MIS-2015-full.pdf">JRF says</a> more like £2,400 for 'participation', but they don't have bookish consequentialists in mind.
	</li>
</ol>
</div>
