<br>
<li><a href="https://www.goodreads.com/review/show/2426793063">The God that Failed</a>  by Crossman, Richard</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426824262">Poems of the Late T'ang</a>  by Graham, A.C.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426808198">Brewer's Rogues, Villains &amp; Eccentrics</a>  by Donaldson, William</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426625975">Tell Me No Lies</a>  by Pilger, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2444451335">The Complete Calvin and Hobbes</a>  by Watterson, Bill</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2611745369">Psychotic Reactions And Carburetor Dung</a>  by Bangs, Lester</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2443328088">Hitler's Uranium Club: The Secret Recordings at Farm Hall</a>  by Bernstein, Jeremy</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297130031">Whereabouts: Notes on Being a Foreigner</a>  by Reid, Alastair</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2413238460">The Book of Disquiet</a>  by Pessoa, Fernando</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426812217">Air Guitar: Essays on Art and Democracy</a>  by Hickey, Dave</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2495269358">Mortal Questions</a>  by Nagel, Thomas</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297129260">Beyond Good and Evil</a>  by Nietzsche, Friedrich</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2444450957">Labyrinths: Selected Stories &amp; Other Writings</a>  by Borges, Jorge Luis</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505282486">Iain Crichton Smith: Selected Poems</a>  by Smith, Iain Crichton</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434004032">Reliable Essays: The Best of Clive James</a>  by James, Clive</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2468943260">Collected Poems</a>  by Miłosz, Czesław</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2446677538">Oxford Book of Essays</a>  by Gross, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505275921">The Penguin Book of English Verse</a>  by Keegan, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505275549">The New Penguin Book of Scottish Verse</a>  by Crawford, Robert</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297129802">Collected Poems</a>  by Larkin, Philip</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426648870">Travels With Myself and Another</a>  by Gellhorn, Martha</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2766949137">Ficciones</a>  by Borges, Jorge Luis</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426647725">Blood Meridian, or the Evening Redness in the West</a>  by McCarthy, Cormac</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2433990038">Cultural Amnesia: Necessary Memories from History and the Arts</a>  by James, Clive</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297131250">Brief Interviews with Hideous Men</a>  by Wallace, David Foster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3951900718">The Fortune of War   </a>  by O'Brian, Patrick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426839961">The Wind's Twelve Quarters</a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426866304">Right Ho, Jeeves   </a>  by Wodehouse, P.G.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2868492742">The Oxford Companion to Philosophy</a>  by Honderich, Ted</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426873953">Blindsight   </a>  by Watts, Peter</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2743125320">A Supposedly Fun Thing I'll Never Do Again</a>  by Wallace, David Foster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426687081">What Matters Most is How Well You Walk Through the Fire</a>  by Bukowski, Charles</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2761913508">Tractatus Logico-Philosophicus</a>  by Wittgenstein, Ludwig</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426771333">Infinite Jest</a>  by Wallace, David Foster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426770842">Conquest of the Useless: Reflections from the Making of Fitzcarraldo</a>  by Herzog, Werner</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2473264415">Bartleby, the Scrivener: A Story of Wall Street</a>  by Melville, Herman</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505968881">Save Yourself, Mammal!</a>  by Weinersmith, Zach</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426794563">The Patrick Melrose Novels</a>  by St. Aubyn, Edward</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2428092221">Hyperbole and a Half</a>  by Brosh, Allie</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2605044582">Computing machinery and intelligence</a>  by Turing, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426629684">The Hedonistic Imperative</a>  by Pearce, David</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505893734">What Should We Be Worried About?</a>  by Brockman, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2532329886">The Fable of the Dragon-Tyrant</a>  by Bostrom, Nick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426625174">What If?   </a>  by Munroe, Randall</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426793501">The Age of Em: Work, Love and Life When Robots Rule the Earth</a>  by Hanson, Robin</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426645754">Incerto</a>  by Taleb, Nassim Nicholas</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426839369">Tales from Earthsea   </a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426872425">The Elephant in the Brain: Hidden Motives in Everyday Life</a>  by Simler, Kevin</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426950247">Factfulness: Ten Reasons We're Wrong About the World</a>  by Rosling, Hans</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2766882959">How to Actually Change Your Mind</a>  by Yudkowsky, Eliezer</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297129634">Selected Essays of Michel de Montaigne</a>  by Montaigne, Michel de</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4062960111">Good Old Neon</a>  by Wallace, David Foster</li><br><br>


<li><a href="https://www.goodreads.com/review/show/2297132101">The Meaning of Recognition</a>  by James, Clive</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2998670909">Probabilistic Reasoning in Intelligent Systems</a>  by Pearl, Judea</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297144365">Mother's Milk</a>  by St. Aubyn, Edward</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4023684152">Cromartie High School, Vol. 01</a>  by Nonaka, Eiji</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3976345433">The Far Side of the World   </a>  by O'Brian, Patrick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2616203823">An Englishman Abroad</a>  by Bennett, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3098895135">Transmetropolitan, Vol. 1: Back on the Street</a>  by Ellis, Warren</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2471401741">Collected Poems</a>  by García Lorca, Federico</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2457051155">A Devil's Chaplain: Reflections on Hope, Lies, Science, and Love</a>  by Dawkins, Richard</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2765574774">The Complete Poems of D.H. Lawrence</a>  by Lawrence, D.H.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2508302060">The Elusive Quest for Growth: Economists' Adventures and Misadventures in the Tropics</a>  by Easterly, William</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426787153">The Black Halo: The Complete English Stories 1977-98</a>  by Smith, Iain Crichton</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2449540372">Herzog on Herzog</a>  by Cronin, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2524111301">Adrienne Rich's Poetry and Prose</a>  by Rich, Adrienne</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2494968783">Crow: From the Life and Songs of the Crow</a>  by Hughes, Ted</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4033349295">Gangland</a>  by Azzarello, Brian</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426770533">Samuel Johnson Is Indignant</a>  by Davis, Lydia</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297143916">A Wizard of Earthsea   </a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426840578">The Compass Rose</a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/5275341596">Backroom Boys: The Secret Return of the British Boffin</a>  by Spufford, Francis</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297143285">Alan Turing: The Enigma</a>  by Hodges, Andrew</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2502044271">Medea. Stimmen</a>  by Wolf, Christa</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297134799">We Owe You Nothing: Punk Planet: The Collected Interviews</a>  by Sinker, Daniel</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2550941648">Invisible Man</a>  by Ellison, Ralph</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3106579911">Bertrand Russell: The Spirit of Solitude 1872-1921</a>  by Monk, Ray</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297131430">The Collapse of the Fact/Value Dichotomy and Other Essays</a>  by Putnam, Hilary</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297136349">The Way Things Are</a>  by Lucretius</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297143476">Genius: The Life and Science of Richard Feynman</a>  by Gleick, James</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2517893114">A Spinoza Reader</a>  by Spinoza, Baruch</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2482808609">The Pleasures of the Damned</a>  by Bukowski, Charles</li><br><br>


<li><a href="https://www.goodreads.com/review/show/2465168356">Rip It Up and Start Again: Postpunk 1978-1984</a>  by Reynolds, Simon</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426831494">A House Built on Sand: Exposing Postmodernist Myths about Science</a>  by Koertge, Noretta</li><br><br>


<li><a href="https://www.goodreads.com/review/show/2530308877">The Theory of the Leisure Class</a>  by Veblen, Thorstein</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297130467">The View from the Ground</a>  by Gellhorn, Martha</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2509368872">Surely You're Joking, Mr. Feynman!: Adventures of a Curious Character</a>  by Hibbs, Albert R.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2530324893">How to Do Things with Words</a>  by Austin, J.L.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2508285620">White Noise</a>  by DeLillo, Don</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2611751057">Da Capo Best Music Writing 2000</a>  by Wolk, Douglas</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3851892950">The Count of Monte Cristo</a>  by Dumas, Alexandre</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2530321927">Studies in the Way of Words</a>  by Grice, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2666222784">Key Words: A Vocabulary of Culture and Society</a>  by Williams, Raymond</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3113754706">A Golden Treasury of English Verse</a>  by Palgrave, Francis Turner</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2792249264">Nua-Bhardachd Gaidhlig = Modern Scottish Gaelic Poems: A Bilingual Anthology</a>  by Macaulay, Donald</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2553780510">The Bottom Billion: Why the Poorest Countries Are Failing and What Can Be Done About It</a>  by Collier, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3878073925">Yotsuba&! </li><br><br>

<li><a href="https://www.goodreads.com/review/show/2753533981">Writings on an Ethical Life</a>  by Singer, Peter</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2611746345">Our Band Could Be Your Life: Scenes from the American Indie Underground, 1981-1991</a>  by Azerrad, Michael</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3221482298">The Scientific Revolution and the Origins of Modern Science</a>  by Henry, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2495233995">Ludwig Wittgenstein: The Duty of Genius</a>  by Monk, Ray</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297135058">A Walk in the Woods: Rediscovering America on the Appalachian Trail</a>  by Bryson, Bill</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4187834672">One Billion Years to the End of the World</a>  by Strugatsky, Arkady</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2443336514">Behind the Wall: A Journey Through China</a>  by Thubron, Colin</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2607702960">Calvin &amp; Hobbes Books, Tenth Anniversary Book</a>  by Watterson, Bill</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3102489346">A Companion to Ethics</a>  by Singer, Peter</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426700781">Monogamy</a>  by Phillips, Adam</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2444402862">The Nice and the Good</a>  by Murdoch, Iris</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2502385447">American Supernatural Tales</a>  by Joshi, S.T.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2761925015">Wittgenstein's Tractatus Logico-Philosophicus: A Reader's Guide</a>  by White, Roger M.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2544229785">The Shadow of the Torturer   </a>  by Wolfe, Gene</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434052756">The Emotional Brain: The Mysterious Underpinnings of Emotional Life</a>  by LeDoux, Joseph E.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2490071148">Joy in the Morning   </a>  by Wodehouse, P.G.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2433957814">The Bourgeois Virtues: Ethics for an Age of Commerce</a>  by McCloskey, Deirdre Nansen</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2705388523">Money for Nothing</a>  by Wodehouse, P.G.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434038349">The Divine Comedy</a>  by Alighieri, Dante</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2554478241">The Information</a>  by Amis, Martin</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3190444240">Fear and Trembling</a>  by Kierkegaard, Søren</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426836523">The Left Hand of Darkness</a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3524528579">Cyteen   </a>  by Cherryh, C.J.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2518922436">The Twits</a>  by Dahl, Roald</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2438003534">Out of Sheer Rage: Wrestling With D.H. Lawrence</a>  by Dyer, Geoff</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2458076293">Carry On, Jeeves   </a>  by Wodehouse, P.G.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/5005012013">The Darkness That Comes Before   </a>  by Bakker, R. Scott</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3888157330">Mushishi, Vol. 1</a>  by Urushibara, Yuki</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2611747943">Get in the Van: On the Road With Black Flag</a>  by Rollins, Henry</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2444462033">The Crow Road</a>  by Banks, Iain</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3261092225">The Philosophy of The Social Sciences</a>  by Ryan, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297136057">Witch Wood</a>  by Buchan, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3087357251">Starting Strength: Basic Barbell Training</a>  by Rippetoe, Mark</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426814632">Beast and Man: The Roots of Human Nature</a>  by Midgley, Mary</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426879644">Lanark</a>  by Gray, Alasdair</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505294974">The Squashed Philosophers</a>  by Lloyd-Hughes, Glyn</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2533517145">At Swim-Two-Birds</a>  by O'Brien, Flann</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2495202400">The Problems of Philosophy</a>  by Russell, Bertrand</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2427005726">Einstein: His Life and Universe</a>  by Isaacson, Walter</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2552817901">Thomas Jefferson: Author of America</a>  by Hitchens, Christopher</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2514357895">Do You Think What You Think You Think?</a>  by Baggini, Julian</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2466631414">Cujo</a>  by King, Stephen</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2818796577">Collected Poems</a>  by Plath, Sylvia</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4686730678">Lord of Light</a>  by Zelazny, Roger</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297135081">The Trial of Henry Kissinger</a>  by Hitchens, Christopher</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2444405996">The Man Who Knew Infinity: A Life of the Genius Ramanujan</a>  by Kanigel, Robert</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2550951615">The Power and the Glory</a>  by Greene, Graham</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2433443167">Even As We Speak: New Essays 1993-2001</a>  by James, Clive</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297135599">Making Malcolm: The Myth And Meaning Of Malcolm X</a>  by Dyson, Michael Eric</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505258874">Against Method</a>  by Feyerabend, Paul Karl</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4677162677">Stephen Biesty's Incredible Cross-Sections</a>  by Biesty, Stephen</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426639572">The Earthsea Quartet   </a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2616202406">The History Boys</a>  by Bennett, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426832050">Stranger Music: Selected Poems and Songs</a>  by Cohen, Leonard</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2444409817">Guards! Guards!   </a>  by Pratchett, Terry</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2664977610">Infidel</a>  by Hirsi Ali, Ayaan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2441836187">Jeeves and the Feudal Spirit   </a>  by Wodehouse, P.G.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4374994933">Ascendancies: The Best of Bruce Sterling</a>  by Sterling, Bruce</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505292834">The Sandman Vol. 1: Preludes &amp; Nocturnes</a>  by Gaiman, Neil</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297134276">Roadside Picnic</a>  by Strugatsky, Arkady</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2518916070">The BFG</a>  by Dahl, Roald</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297142637">A Fire Upon the Deep   </a>  by Vinge, Vernor</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426881729">Farewell, My Lovely   </a>  by Chandler, Raymond</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2524107179">A Deepness in the Sky   </a>  by Vinge, Vernor</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3196568306">Axiomatic</a>  by Egan, Greg</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2456022392">The Social Construction of What?</a>  by Hacking, Ian</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2517897156">The Tell-Tale Heart and Other Writings</a>  by Poe, Edgar Allan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2428076907">The Bell Jar</a>  by Plath, Sylvia</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2465923453">The Three Stigmata of Palmer Eldritch</a>  by Dick, Philip K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297130663">The Penguin Book of Japanese Verse</a>  by Thwaite, Anthony</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297136645">The Marxists</a>  by Mills, C. Wright</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2465928967">A Mathematician's Apology</a>  by Hardy, G. H.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297143526">Excession</a>  by Banks, Iain M.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4218842539">Daydreams and Nightmares</a>  by McCay, Winsor</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426807553">Why Freud Was Wrong: Sin, Science and Psychoanalysis</a>  by Webster, Richard</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2551924960">The Periodic Table</a>  by Levi, Primo</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2489907610">The Golden Compass   </a>  by Pullman, Philip</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2495234246">The Hobbit or There and Back Again</a>  by Tolkien, J.R.R.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2489922030">The Subtle Knife   </a>  by Pullman, Philip</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2456032199">Critical Mass: How One Thing Leads to Another</a>  by Ball, Philip</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2518321485">The Private Memoirs and Confessions of a Justified Sinner</a>  by Hogg, James</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3150479387">China Mountain Zhang</a>  by McHugh, Maureen</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426759003">How to Talk About Books You Haven't Read</a>  by Bayard, Pierre</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297129302">Gateway   </a>  by Pohl, Frederik</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426770237">Writing Home</a>  by Bennett, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297134741">Night Watch   </a>  by Pratchett, Terry</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3855359173">20th Century Boys, Volume 1: Friends</a>  by Urasawa, Naoki</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2471167604">The Plato Cult: And Other Philosophical Follies</a>  by Stove, David C.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297130104">The Phantom Tollbooth</a>  by Juster, Norton</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434053491">The Campus Trilogy</a>  by Lodge, David</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2428100449">Beggars in Spain   </a>  by Kress, Nancy</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2468958508">The Mythical Man-Month: Essays on Software Engineering</a>  by Brooks Jr., Frederick P.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297142876">All the Pretty Horses   </a>  by McCarthy, Cormac</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434059498">Selected Poems, 1954-1992</a>  by Brown, George Mackay</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2557530672">The Mind’s I: Fantasies and Reflections on Self and Soul</a>  by Hofstadter, Douglas R.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4039378438">The Blot</a>  by Neely, Tom</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2550938618">The Plague</a>  by Camus, Albert</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2550956331">Kuhn vs. Popper: The Struggle for the Soul of Science</a>  by Fuller, Steve</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297131962">Consider the Lobster and Other Essays</a>  by Wallace, David Foster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2660635036">Animal Farm</a>  by Orwell, George</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3886633212">Attack of the Deranged Mutant Killer Monster Snow Goons   </a>  by Watterson, Bill</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3949632730">There Will Come Soft Rains</a>  by Bradbury, Ray</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2723333465">The Presentation of Self in Everyday Life</a>  by Goffman, Erving</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2616202815">Untold Stories</a>  by Bennett, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2485779595">Master of Reality</a>  by Darnielle, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2745021994">The Cyberiad: Fables for the Cybernetic Age</a>  by Lem, Stanisław</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426792319">The Rest Is Noise: Listening to the Twentieth Century</a>  by Ross, Alex</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2551912140">The Metamorphosis</a>  by Kafka, Franz</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297133912">Algorithmics: The Spirit of Computing</a>  by Harel, David</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434008501">North</a>  by Heaney, Seamus</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3903064319">Understanding Comics: The Invisible Art</a>  by McCloud, Scott</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3154837031">The Cult of Statistical Significance: How the Standard Error Costs Us Jobs, Justice, and Lives</a>  by Ziliak, Stephen T.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2518911123">Charlie and the Great Glass Elevator   </a>  by Dahl, Roald</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505953279">Kluge: The Haphazard Construction of the Human Mind</a>  by Marcus, Gary F.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426836870">The Dispossessed: An Ambiguous Utopia</a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505261705">What is this thing called Knowledge?</a>  by Pritchard, Duncan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297133472">Awakenings</a>  by Sacks, Oliver</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2518910820">Charlie and the Chocolate Factory   </a>  by Dahl, Roald</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426865946">The Inimitable Jeeves   </a>  by Wodehouse, P.G.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2506070179">Flat Earth News</a>  by Davies, Nick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297130553">Extending Ourselves: Computational Science, Empiricism, and Scientific Method</a>  by Humphreys, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2616319089">Collected Poems</a>  by MacCaig, Norman</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426838889">Tehanu   </a>  by Le Guin, Ursula K.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2728113361">The Claw of the Conciliator   </a>  by Wolfe, Gene</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434026783">Previous Convictions: Assignments From Here and There</a>  by Gill, A.A.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426869813">The Logic of Life: The Rational Economics of an Irrational World</a>  by Harford, Tim</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3615705326">The Collected Stories of Vernor Vinge</a>  by Vinge, Vernor</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2616192399">Homicide: A Year on the Killing Streets</a>  by Simon, David</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2865024815">A Portrait of the Artist as a Young Man</a>  by Joyce, James</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2434046676">The Great Equations: Breakthroughs in Science from Pythagoras to Heisenberg</a>  by Crease, Robert P.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2713266333">The Lord of the Rings</a>  by Tolkien, J.R.R.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4004251470">The Commodore   </a>  by O'Brian, Patrick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3962353122">The Ionian Mission   </a>  by O'Brian, Patrick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297143264">Dune   </a>  by Herbert, Frank</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4109854232">Blue at the Mizzen   </a>  by O'Brian, Patrick</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4154999191">Mathematics Made Difficult</a>  by Linderholm, Carl E.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426768347">The Pursuit of Unhappiness: The Elusive Psychology of Well-Being</a>  by Haybron, Daniel M.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2524135273">Wolf Hall   </a>  by Mantel, Hilary</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3879174407">Rice Boy</a>  by Dahm, Evan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3883095001">Ōoku: The Inner Chambers, Volume 1 </li><br><br>

<li><a href="https://www.goodreads.com/review/show/2556990281">A Mathematician's Lament</a>  by Lockhart, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426777690">The Pale King</a>  by Wallace, David Foster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426787458">Gray's Anatomy: Selected Writings</a>  by Gray, John N.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426990710">Filthy Lucre: Economics for People Who Hate Capitalism</a>  by Heath, Joseph</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4660689784">The Testament of Cresseid &amp; Seven Fables</a>  by Henryson, Robert</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2506799459">Women's Poetry of the 1930s: A Critical Anthology</a>  by Dowson, Jane</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297129983">The Rorty Reader</a>  by Rorty, Richard</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297129370">Rain</a>  by Paterson, Don</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4450562504">Shards of Honor   </a>  by Bujold, Lois McMaster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2483058313">Mao's Great Famine</a>  by Dikötter, Frank</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3879753576">Duncan the Wonder Dog: Show One</a>  by Hines, Adam</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2491087669">How I Escaped My Certain Fate</a>  by Lee, Stewart</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426828640">The Information</a>  by Gleick, James</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297133302">Selected Poems</a>  by Kaplinski, Jaan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2595043450">23 Things They Don't Tell You About Capitalism</a>  by Chang, Ha-Joon</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2427014160">Some Thoughts on the Common Toad</a>  by Orwell, George</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426814055">What the Hell Are You Doing?: The Essential David Shrigley</a>  by Shrigley, David</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2483059351">Chuck Klosterman on Media and Culture</a>  by Klosterman, Chuck</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2507140924">Retromania</a>  by Reynolds, Simon</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2506047879">A Chinese Anthology:  A Collection Of Chinese Folktales And Fables</a>  by van Over, Raymond</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3869284063">Shigurui 1</a>  by Yamaguchi, Takayuki</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297132058">A Point of View</a>  by James, Clive</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2489924733">Cracking the Coding Interview</a>  by McDowell, Gayle Laakmann</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426778103">Both Flesh and Not: Essays</a>  by Wallace, David Foster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426826475">Bad Pharma</a>  by Goldacre, Ben</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2433956109">Twilight of the Idols</a>  by Nietzsche, Friedrich</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297136802">Museum Without Walls</a>  by Meades, Jonathan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2505865435">The Art of Procrastination: A Guide to Effective Dawdling, Lollygagging and Postponing</a>  by Perry, John R.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297131100">Intuition Pumps And Other Tools for Thinking</a>  by Dennett, Daniel C.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2785735820">Scarcity: Why Having Too Little Means So Much</a>  by Mullainathan, Sendhil</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2456041286">Plato at the Googleplex: Why Philosophy Won't Go Away</a>  by Goldstein, Rebecca</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426976169">CLOSURE</a>  by Stiff, Why The Lucky</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426790901">The Terrible, Horrible, No Good, Very Bad Truth about Morality and What to Do About it</a>  by Greene, Joshua D.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2427008266">Lost for Words</a>  by St. Aubyn, Edward</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3966049461">Can't We Talk about Something More Pleasant?</a>  by Chast, Roz</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297131193">American Hippopotamus</a>  by Mooallem, Jon</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2449526619">New Year Letter</a>  by Auden, W.H.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426949489">An Encyclopaedia of Myself</a>  by Meades, Jonathan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297144240">The Sellout</a>  by Beatty, Paul</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2471170364">Occasional Poets</a>  by Adams, Richard</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2953753549">Information Theory: A Tutorial Introduction</a>  by Stone, James V.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426825336">I Think You'll Find It's a Bit More Complicated Than That</a>  by Goldacre, Ben</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2552955957">A Season in Hell</a>  by Rimbaud, Arthur</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297132817">So You've Been Publicly Shamed</a>  by Ronson, Jon</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2529184654">Step Aside, Pops   </a>  by Beaton, Kate</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3859252907">Solutions and Other Problems</a>  by Brosh, Allie</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2438991487">Strangers Drowning</a>  by MacFarquhar, Larissa</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4786404655">The Chemistry Book</a>  by Lowe, Derek B.</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2436690648">Six Poets: Hardy to Larkin: An Anthology</a>  by Bennett, Alan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2457806409">Thing Explainer: Complicated Stuff in Simple Words</a>  by Munroe, Randall</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3911955561">Through the Habitrails: Life Before and After My Career in the Cubicles</a>  by Nicholson, Jeff</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426848424">Seven Surrenders   </a>  by Palmer, Ada</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297131941">Fooled By Randomness &amp; The Black Swan: Two Books In One</a>  by Taleb, Nassim Nicholas</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426848735">The Will to Battle   </a>  by Palmer, Ada</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2542309349">Xenofeminism: A Politics for Alienation</a>  by Cuboniks, Laboria</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426968578">Soonish: Ten Emerging Technologies That'll Improve and/or Ruin Everything</a>  by Weinersmith, Kelly</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3721727493">CFAR Applied Rationality Workshop - Participant Handbook</a>  by Sabien, CFAR, Duncan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2764360970">Math with Bad Drawings</a>  by Orlin, Ben</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2297144431">The Case Against Education</a>  by Caplan, Bryan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426946663">Lost in Math</a>  by Hossenfelder, Sabine</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426817752">Inadequate Equilibria: Where and How Civilizations Get Stuck</a>  by Yudkowsky, Eliezer</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4037332469">Berlin</a>  by Lutes, Jason</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2426786425">For the Motherboard: The Rubáiyát of Omar Khayyám</a>  by Hodgkinson, Vanessa</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2464840389">Non-Materialist Physicalism: An experimentally testable conjecture</a>  by Pearce, David</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2482788619">Why Moral Theory is Boring and Corrupt</a>  by Anonymous</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2831553587">Exhalation</a>  by Chiang, Ted</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2539470444">Dril Official "Mr. Ten Years" Anniversary Collection</a>  by Dril</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3447603994">Science Fictions: The Epidemic of Fraud, Bias, Negligence and Hype in Science</a>  by Ritchie, Stuart</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2779506498">Open Borders: The Science and Ethics of Immigration</a>  by Caplan, Bryan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/2808285383">The AI Does Not Hate You: Superintelligence, Rationality and the Race to Save the World</a>  by Chivers, Tom</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3080844050">Automation and Utopia</a>  by Danaher, John</li><br><br>

<li><a href="https://www.goodreads.com/review/show/5116696152">Grokking Simplicity: Taming complex software with functional thinking</a>  by Normand, Eric</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3165170208">Frank Ramsey: A Sheer Excess of Powers</a>  by Misak, Cheryl</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3261577437">Playing Silly Buggers and Other Stories</a>  by Robshaw, Christian</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3247419853">Odds &amp; Ends: Introducing Probability &amp; Decision with a Visual Emphasis</a>  by Weisberg, Jonathan</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4353120149">When We Cease to Understand the World</a>  by Labatut, Benjamín</li><br><br>

<li><a href="https://www.goodreads.com/review/show/4537480611">The Borders of Infinity   </a>  by Bujold, Lois McMaster</li><br><br>

<li><a href="https://www.goodreads.com/review/show/3749366279">The Use and Abuse of Formal Models in Political Philosophy</a>  by Wolff, Robert Paul</li>


</a></li></a></li>
<br>