<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>Title</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><i>Air Guitar: Essays on Art and Democracy</i> (1997) by Dave Hickey</td>
    </tr>
    <tr>
      <td><i>Tell Me No Lies: Investigative Journalism and its Triumphs</i> (2004) by John Pilger</td>
    </tr>
    <tr>
      <td><i>Hitler's Uranium Club: The Secret Recordings at Farm Hall</i> (1995) by Jeremy Bernstein</td>
    </tr>
    <tr>
      <td><i>Selected Essays of Michel de Montaigne</i> (1592) by Michel de Montaigne</td>
    </tr>
    <tr>
      <td><i>Bad Science</i> (2008) by Ben Goldacre</td>
    </tr>
    <tr>
      <td><i>Meditations</i> (180) by Marcus Aurelius</td>
    </tr>
    <tr>
      <td><i>The Black Swan: The Impact of the Highly Improbable</i> (2007) by Nassim Nicholas Taleb</td>
    </tr>
    <tr>
      <td><i>Whereabouts: Notes on Being a Foreigner</i> (1987) by Alistair Reid</td>
    </tr>
    <tr>
      <td><i>The Oxford Companion to Philosophy</i> (1995) by Ted Honderich</td>
    </tr>
    <tr>
      <td><i>How to Actually Change Your Mind (Rationality: From AI to Zombies)</i> (2018) by Eliezer Yudkowsky</td>
    </tr>
    <tr>
      <td><i>Ficciones</i> (1944) by Jorge Luis Borges</td>
    </tr>
    <tr>
      <td><i>Oxford Book of Essays</i> (1991) by John Gross</td>
    </tr>
    <tr>
      <td><i>Tractatus Logico-Philosophicus</i> (1921) by Ludwig Wittgenstein</td>
    </tr>
    <tr>
      <td><i>A Supposedly Fun Thing I'll Never Do Again: Essays and Arguments</i> (1997) by David Foster Wallace</td>
    </tr>
    <tr>
      <td><i>Rationality: From AI to Zombies</i> (2015) by Eliezer Yudkowsky</td>
    </tr>
    <tr>
      <td><i>What If? Serious Scientific Answers to Absurd Hypothetical Questions</i> (2014) by Randall Munroe</td>
    </tr>
    <tr>
      <td><i>Stories of Your Life and Others</i> (2002) by Ted Chiang</td>
    </tr>
    <tr>
      <td><i>The Will to Battle (Terra Ignota, #3)</i> (2017) by Ada Palmer</td>
    </tr>
    <tr>
      <td><i>The Fable of the Dragon-Tyrant</i> (2005) by Nick Bostrom</td>
    </tr>
    <tr>
      <td><i>The Hedonistic Imperative</i> (2015) by David Pearce</td>
    </tr>
    <tr>
      <td><i>The Age of Em: Work, Love and Life When Robots Rule the Earth</i> (2016) by Robin Hanson</td>
    </tr>
    <tr>
      <td><i>Factfulness: Ten Reasons We're Wrong About the World – and Why Things Are Better Than You Think</i> (2018) by Hans Rosling</td>
    </tr>
    <tr>
      <td><i>Mortal Questions</i> (1979) by Thomas Nagel</td>
    </tr>
    <tr>
      <td><i>Doing Good Better: How Effective Altruism Can Help You Help Others, Do Work that Matters, and Make Smarter Choices about Giving Back</i> (2015) by William MacAskill</td>
    </tr>
    <tr>
      <td><i>Library of Scott Alexandria</i> (2015) by Scott   Alexander</td>
    </tr>
    <tr>
      <td><i>Famine, Affluence, and Morality</i> (1972) by Peter Singer</td>
    </tr>
    <tr>
      <td><i>Save Yourself, Mammal!: A Saturday Morning Breakfast Cereal Collection</i> (2011) by Zach Weinersmith</td>
    </tr>
    <tr>
      <td><i>Incerto 4-Book Bundle: Antifragile, The Black Swan, Fooled by Randomness, The Bed of Procrustes</i> (2011) by Nassim Nicholas Taleb</td>
    </tr>
    <tr>
      <td><i>The God That Failed</i> (1949) by Richard Crossman</td>
    </tr>
    <tr>
      <td><i>Brewer's Rogues, Villains &amp; Eccentrics: An A-Z of Roguish Britons Through the Ages</i> (2002) by William Donaldson</td>
    </tr>
    <tr>
      <td><i>Guards! Guards! (Discworld, #8; City Watch #1)</i> (1989) by Terry Pratchett</td>
    </tr>
    <tr>
      <td><i>The New Penguin Book of Scottish Verse</i> by Robert Crawford</td>
    </tr>
    <tr>
      <td><i>What Matters Most is How Well You Walk Through the Fire</i> (1999) by Charles Bukowski</td>
    </tr>
    <tr>
      <td><i>Tales from Earthsea (Earthsea Cycle, #5)</i> (2001) by Ursula K. Le Guin</td>
    </tr>
    <tr>
      <td><i>Map and Territory</i> by Eliezer Yudkowsky</td>
    </tr>
    <tr>
      <td><i>Computing machinery and intelligence</i> (1950) by Alan Turing</td>
    </tr>
    <tr>
      <td><i>Watchmen</i> (1987) by Alan Moore</td>
    </tr>
    <tr>
      <td><i>Beyond Good and Evil</i> (1886) by Friedrich Nietzsche</td>
    </tr>
    <tr>
      <td><i>The Penguin Book of English Verse</i> (2000) by Paul Keegan</td>
    </tr>
    <tr>
      <td><i>Lolita</i> (1955) by Vladimir Nabokov</td>
    </tr>
    <tr>
      <td><i>Psychotic Reactions And Carburetor Dung</i> (1987) by Lester Bangs</td>
    </tr>
    <tr>
      <td><i>Blindsight (Firefall, #1)</i> (2006) by Peter Watts</td>
    </tr>
    <tr>
      <td><i>Small Gods (Discworld, #13)</i> (1992) by Terry Pratchett</td>
    </tr>
    <tr>
      <td><i>Brief Interviews with Hideous Men</i> (1999) by David Foster Wallace</td>
    </tr>
    <tr>
      <td><i>Right Ho, Jeeves (Jeeves, #6)</i> (1934) by P.G. Wodehouse</td>
    </tr>
    <tr>
      <td><i>The Book of Disquiet</i> (1982) by Fernando Pessoa</td>
    </tr>
    <tr>
      <td><i>The Patrick Melrose Novels</i> (2012) by Edward St. Aubyn</td>
    </tr>
    <tr>
      <td><i>Bartleby the Scrivener</i> (1853) by Herman Melville</td>
    </tr>
    <tr>
      <td><i>Infinite Jest</i> (1996) by David Foster Wallace</td>
    </tr>
    <tr>
      <td><i>The Elephant in the Brain: Hidden Motives in Everyday Life</i> (2017) by Kevin Simler</td>
    </tr>
    <tr>
      <td><i>Blood Meridian, or the Evening Redness in the West</i> (1985) by Cormac McCarthy</td>
    </tr>
    <tr>
      <td><i>The Wind's Twelve Quarters</i> (1975) by Ursula K. Le Guin</td>
    </tr>
    <tr>
      <td><i>Poems of the Late T'ang</i> (1965) by A.C. Graham</td>
    </tr>
    <tr>
      <td><i>What Should We Be Worried About? Real Scenarios That Keep Scientists Up at Night</i> (2014) by John Brockman</td>
    </tr>
    <tr>
      <td><i>Iain Crichton Smith: Selected Poems</i> (1986) by Iain Crichton Smith</td>
    </tr>
    <tr>
      <td><i>Collected Poems</i> (1988) by Czesław Miłosz</td>
    </tr>
    <tr>
      <td><i>Conquest of the Useless: Reflections from the Making of Fitzcarraldo</i> (2004) by Werner Herzog</td>
    </tr>
    <tr>
      <td><i>Cultural Amnesia: Necessary Memories from History and the Arts</i> (2007) by Clive James</td>
    </tr>
    <tr>
      <td><i>Labyrinths:  Selected Stories and Other Writings</i> (1962) by Jorge Luis Borges</td>
    </tr>
    <tr>
      <td><i>Reliable Essays: The Best of Clive James</i> (2001) by Clive James</td>
    </tr>
    <tr>
      <td><i>Hyperbole and a Half: Unfortunate Situations, Flawed Coping Mechanisms, Mayhem, and Other Things That Happened</i> (2013) by Allie Brosh</td>
    </tr>
    <tr>
      <td><i>Travels With Myself and Another</i> (1979) by Martha Gellhorn</td>
    </tr>
    <tr>
      <td><i>Collected Poems</i> (1988) by Philip Larkin</td>
    </tr>
  </tbody>
</table>
