<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th class="long-column">Title</th>
      <th>My Rating</th>
      <th>Average Rating</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>The Prophet</td>
      <td>1</td>
      <td>4.22</td>
    </tr>
    <tr>
      <td>The Alexandria Quartet</td>
      <td>1</td>
      <td>4.17</td>
    </tr>
    <tr>
      <td>The Gift of Death</td>
      <td>1</td>
      <td>4.11</td>
    </tr>
    <tr>
      <td>The Divided Self: An Existential Study in Sanity and Madness</td>
      <td>1</td>
      <td>4.09</td>
    </tr>
    <tr>
      <td>How to Be an Existentialist: or How to Get Real, Get a Grip and Stop Making Excuses</td>
      <td>1</td>
      <td>3.95</td>
    </tr>
    <tr>
      <td>The Five People You Meet in Heaven</td>
      <td>1</td>
      <td>3.94</td>
    </tr>
    <tr>
      <td>Night of the Living Trekkies</td>
      <td>1</td>
      <td>3.91</td>
    </tr>
    <tr>
      <td>Welcome to the Desert of the Real: Five Essays on September 11 and Related Dates</td>
      <td>1</td>
      <td>3.89</td>
    </tr>
    <tr>
      <td>The Data Science Handbook</td>
      <td>1</td>
      <td>3.88</td>
    </tr>
    <tr>
      <td>User Stories Applied: For Agile Software Development</td>
      <td>1</td>
      <td>3.88</td>
    </tr>
    <tr>
      <td>The Da Vinci Code (Robert Langdon, #2)</td>
      <td>1</td>
      <td>3.86</td>
    </tr>
    <tr>
      <td>The Art of Thinking Clearly</td>
      <td>1</td>
      <td>3.86</td>
    </tr>
    <tr>
      <td>The Man Who Went Up in Smoke (Martin Beck, #2)</td>
      <td>1</td>
      <td>3.84</td>
    </tr>
    <tr>
      <td>Modern Japan: A Very Short Introduction</td>
      <td>1</td>
      <td>3.83</td>
    </tr>
    <tr>
      <td>The Hite Report: A Nationwide Study of Female Sexuality</td>
      <td>1</td>
      <td>3.81</td>
    </tr>
    <tr>
      <td>The Bald Prima Donna: A Pseudo-Play in One Act</td>
      <td>1</td>
      <td>3.81</td>
    </tr>
    <tr>
      <td>Prey</td>
      <td>1</td>
      <td>3.76</td>
    </tr>
    <tr>
      <td>Social Identity</td>
      <td>1</td>
      <td>3.75</td>
    </tr>
    <tr>
      <td>To the Other: An Introduction to the Philosophy of Emmanuel Levinas (Purdue University Series in the History of Philosophy)</td>
      <td>1</td>
      <td>3.72</td>
    </tr>
    <tr>
      <td>If You Take My Meaning</td>
      <td>1</td>
      <td>3.71</td>
    </tr>
    <tr>
      <td>Hite Report on Male Sexuality</td>
      <td>1</td>
      <td>3.70</td>
    </tr>
    <tr>
      <td>The Secret (The Secret, #1)</td>
      <td>1</td>
      <td>3.69</td>
    </tr>
    <tr>
      <td>Questioning Identity: Gender, Class, Nation</td>
      <td>1</td>
      <td>3.68</td>
    </tr>
    <tr>
      <td>Diamonds Are Forever (James Bond, #4)</td>
      <td>1</td>
      <td>3.65</td>
    </tr>
    <tr>
      <td>Harry Potter and the Goblet of Fire (Harry Potter, #4)</td>
      <td>2</td>
      <td>4.56</td>
    </tr>
    <tr>
      <td>The New Testament in Scots</td>
      <td>2</td>
      <td>4.53</td>
    </tr>
    <tr>
      <td>僕のヒーローアカデミア 1 [Boku No Hero Academia 1] (My Hero Academia, #1)</td>
      <td>2</td>
      <td>4.50</td>
    </tr>
    <tr>
      <td>Smarter: The New Science of Building Brain Power</td>
      <td>1</td>
      <td>3.50</td>
    </tr>
    <tr>
      <td>Harry Potter and the Philosopher's Stone (Harry Potter, #1)</td>
      <td>2</td>
      <td>4.47</td>
    </tr>
    <tr>
      <td>Harry Potter and the Chamber of Secrets (Harry Potter, #2)</td>
      <td>2</td>
      <td>4.43</td>
    </tr>
    <tr>
      <td>Behave: The Biology of Humans at Our Best and Worst</td>
      <td>2</td>
      <td>4.42</td>
    </tr>
    <tr>
      <td>High Performance MySQL: Optimization, Backups, and Replication</td>
      <td>2</td>
      <td>4.38</td>
    </tr>
    <tr>
      <td>Why We Sleep: Unlocking the Power of Sleep and Dreams</td>
      <td>2</td>
      <td>4.37</td>
    </tr>
    <tr>
      <td>The Shepherd's Crown (Discworld, #41; Tiffany Aching, #5)</td>
      <td>2</td>
      <td>4.36</td>
    </tr>
    <tr>
      <td>When Nietzsche Wept</td>
      <td>2</td>
      <td>4.34</td>
    </tr>
    <tr>
      <td>Matilda</td>
      <td>2</td>
      <td>4.32</td>
    </tr>
    <tr>
      <td>The Serpent's Promise: The Bible Interpreted Through Modern Science</td>
      <td>1</td>
      <td>3.31</td>
    </tr>
    <tr>
      <td>Visions of Excess: Selected Writings, 1927–1939</td>
      <td>2</td>
      <td>4.31</td>
    </tr>
    <tr>
      <td>Another Country</td>
      <td>2</td>
      <td>4.29</td>
    </tr>
    <tr>
      <td>The Fifth Season (The Broken Earth, #1)</td>
      <td>2</td>
      <td>4.28</td>
    </tr>
    <tr>
      <td>Science: Abridged Beyond the Point of Usefulness</td>
      <td>2</td>
      <td>4.28</td>
    </tr>
    <tr>
      <td>A Hat Full of Sky (Discworld, #32; Tiffany Aching, #2)</td>
      <td>2</td>
      <td>4.27</td>
    </tr>
    <tr>
      <td>Lirael (Abhorsen, #2)</td>
      <td>2</td>
      <td>4.26</td>
    </tr>
    <tr>
      <td>And Then There Were None</td>
      <td>2</td>
      <td>4.26</td>
    </tr>
    <tr>
      <td>The Wee Free Men (Discworld, #30; Tiffany Aching, #1)</td>
      <td>2</td>
      <td>4.25</td>
    </tr>
    <tr>
      <td>Don't Make Me Think: A Common Sense Approach to Web Usability</td>
      <td>2</td>
      <td>4.25</td>
    </tr>
    <tr>
      <td>Unstated: Writers on Scottish Independence</td>
      <td>2</td>
      <td>4.25</td>
    </tr>
    <tr>
      <td>Abaddon's Gate (The Expanse, #3)</td>
      <td>2</td>
      <td>4.24</td>
    </tr>
    <tr>
      <td>The Ph.D. Grind: A Ph.D. Student Memoir</td>
      <td>2</td>
      <td>4.24</td>
    </tr>
    <tr>
      <td>Capitalist Realism: Is There No Alternative?</td>
      <td>2</td>
      <td>4.23</td>
    </tr>
    <tr>
      <td>The Annotated Chronicles (Dragonlance: Dragonlance Chronicles)</td>
      <td>2</td>
      <td>4.23</td>
    </tr>
    <tr>
      <td>The Lion, the Witch and the Wardrobe (Chronicles of Narnia, #1)</td>
      <td>2</td>
      <td>4.22</td>
    </tr>
    <tr>
      <td>Old Man's War (Old Man's War, #1)</td>
      <td>2</td>
      <td>4.21</td>
    </tr>
  </tbody>
</table>