<!-- Show static HTML/CSS as a placeholder in case js is not enabled - javascript include will override this if things work -->
<style type="text/css" media="screen">
  .gr_custom_container_1592583331 {
    /* customize your Goodreads widget container here*/
    /*border: 1px solid gray;*/
    border-radius:10px;
    padding: 10px 5px 10px 5px;
    background-color: #FFFFFF;
    color: #000000;
/*    width: 300px*/
  }
  .gr_custom_header_1592583331 {
    /* customize your Goodreads header here*/
    border-bottom: 1px solid gray;
    width: 100%;
    padding-bottom: 25px;
    text-align: center;
    font-size: 120%;
  }
  .gr_custom_each_container_1592583331 {
    /* customize each individual book container here */
    width: 100%;
    clear: both;
    margin-bottom: 10px;
    overflow: auto;
    padding-bottom: 24px;
    border-bottom: 1px solid #aaa;
  }
  .gr_custom_book_container_1592583331 {
    /* customize your book covers here */
    overflow: hidden;
    height: 60px;
      float: left;
      margin-right: 4px;
      width: 20%;
  }
  .gr_custom_author_1592583331 {
    /* customize your author names here */
    /*font-size: 10px;*/
  }
  .gr_custom_tags_1592583331 {
    /* customize your tags here */
    font-size: 10px;
    color: gray;
  }
  .gr_custom_rating_1592583331 {
    /* customize your rating stars here */
    float: right;
  }
</style>

{%  assign id = "1592583331"  %}

<script src="https://www.goodreads.com/review/custom_widget/68316850.Gavin's%20bookshelf:%20currently-reading?cover_position=left&cover_size=small&num_books=4&order=a&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id={{id}}&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8">
</script>


<script>
  var el =  document.querySelectorAll("img[src='https://www.goodreads.com/images/widget/widget_logo.gif']");
  el[0].remove();
</script>