<!--	Fn	-->
<div class="footnotes">

<ol>

    <li class="footnote" id="fn:1">
    	Or Platonic <a href="http://en.wikipedia.org/wiki/Theory_of_Forms">Form</a>, or <a href="http://en.wikipedia.org/wiki/Class_%28philosophy%29">Class</a>, or <a href="http://en.wikipedia.org/wiki/Natural_kind">Kind</a>, or '<a href="http://en.wikipedia.org/wiki/Universal_(metaphysics)">Universal</a>' for various subtle gradations of the thought not relevant here. I should also relate or conflate the two rows beginning "Type" and "Universal" but I tire of my own hubris.
    </li>


	<li class="footnote" id="fn:2">
		This should maybe be "<a href="http://en.wikipedia.org/wiki/Class_(set_theory)">Class</a>" too. Though I haven't seen anyone worrying about <a href="http://www.umcs.maine.edu/~chaitin/amsci.pdf">Russell's Paradox</a> in Java. 
	</li>

	<li class="footnote" id="fn:3">
		I mean "adding an attribute", giving a class a field it didn't have before...
	</li>

</ol>

</div>
