<br />

<table class="tg" > 

    <tr>
      <th class="tg-pbv7" style="vertical-align: bottom;">Concept in<br>Metaphysics<br><br></th>
      <th class="tg-pbv7">Concept in <br>Maths</th>
      <th class="tg-pbv7">Concept in <br>Code</th>
      <th class="tg-pbv7">as<br>Heuristic</th>
      <th class="tg-pbv7">or<br>else</th>
    </tr>

    <tr>
      <td class="tg-s6z2">Type <a href="#fn:1" id="fnref:1">1</a></td>
      <td class="tg-s6z2">Set <a href="#fn:2" id="fnref:2">2</a></td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Class_%28computer_programming%29"><u>Class</u></a></td>
      <td class="tg-s6z2"><i>Apples</i></td>
      <td class="tg-s6z2"><small>A description, <br>sufficiently generalised to<br>fit every member of a set.</small></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Token</td>
      <td class="tg-s6z2">Element</td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Object_(computer_science)"><u>Object</u></a></td>
      <td class="tg-s6z2"><i>An apple</i></td>
      <td class="tg-s6z2"><small>An instance that satisfies<br>that description.</small></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Subtype</td>
      <td class="tg-s6z2">Subset</td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Inheritance_(object-oriented_programming)"><u>Subclass</u></a></td>
      <td class="tg-s6z2"><i>Granny</i><br><i>Smiths</i></td>
      <td class="tg-s6z2"><small>A more specialised<br>description, covering<br>only some of the first set.</small></td>
    </tr>


    <tr>
      <td class="tg-s6z2">Relation</td>
      <td class="tg-s6z2">Relation</td>
      <td class="tg-s6z2"><a href="http://www.uml-diagrams.org/association.html"><u>Association</u></a></td>
      <td class="tg-s6z2"><small>e.g. Between an<br>apple and <a href="http://blog.oup.com/2014/07/ten-myths-about-isaac-newton/">Newton's<br>lying mouth</a></small>.</td>
      <td class="tg-s6z2"><small>Logical connection of<br>any sort.</small></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Essence</td>
      <td class="tg-s6z2">Condition</td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Interface_%28computing%29"><u>Interface</u></a></td>
      <td class="tg-s6z2">Apples implement<br>seeds.</td>
      <td class="tg-s6z2"><i>Sine qua non</i></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Concept</td>
      <td class="tg-s6z2">Boolean function</td>
      <td class="tg-s6z2">Classifier</td>
      <td class="tg-s6z2">"<i>Is the star apple an apple?</i> <br>
      <i>No; it is not of the genus </i>malum."</td>
      <td class="tg-s6z2"><small>A process for identifying kinds of things. </small></td>
    </tr>


    <tr>
      <td class="tg-s6z2">Noumenon</td>
      <td class="tg-s6z2">N/A</td>
      <td class="tg-s6z2"><u><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Model</a></u></td>
      <td class="tg-s6z2">Der Apfel-an-Sich.</td>
      <td class="tg-s6z2"><small>The entities as they<br>are themselves</small></td>
    </tr>
    <!--, beyond<br>our view. (Sometimes<br><a href="http://en.wikipedia.org/wiki/Primary/secondary_quality_distinction">primary properties</a> though.  -->
    
    <tr>
      <td class="tg-s6z2">'<a href="http://plato.stanford.edu/entries/structural-realism/#OntStrReaOSR">Structure</a>'</td>
      <td class="tg-s6z2"><big><a href="http://en.wikipedia.org/wiki/Mathematics,_Form_and_Function">FORM</a></big></td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Controller</a></td>
      <td class="tg-s6z2"><a href="http://www.independent.co.uk/arts-entertainment/music/news/jaden-and-willow-smith-talk-duality-of-apples-holographic-realities-and-the-melancholia-of-the-ocean-in-insane-interview-9866948.html">Eh</a>.</td>
      <td class="tg-s6z2"><small>The formal shape and relations<br>of a system - what the noumenal and<br>phenomenal share.</small></td>
    </tr>
    
    <tr>
      <td class="tg-s6z2">Phenomenon</td>
      <td class="tg-s6z2">Particular expression?</td>
      <td class="tg-s6z2"><u><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">View</u></a></td>
      <td class="tg-s6z2"><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1260846/">The cuticle</a>?<br>No; the <a href="http://en.wikipedia.org/wiki/Primary/secondary_quality_distinction">secondary properties</a>.</td>
      <td class="tg-s6z2"><small>What is perceived<br>of an entity.</small></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Propositional <br>function</td>
      <td class="tg-s6z2">Function</td>
      <td class="tg-s6z2">Pure function</td>
      <td class="tg-s6z2">"<i><a href="https://www.rosaceae.org/analysis/14">Apples</a> can be mapped to <a href="http://citrus.hzau.edu.cn/orange/download/index.php">oranges</a> via the following CRISPR program...</i>"</td>
      <td class="tg-s6z2"><small>A machine for pairing inputs with outputs.</small></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Universal</td>
      <td class="tg-s6z2">Abstraction</td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Abstraction_%28computer_science%29"><u>Abstraction</u></a></td>
      <td class="tg-s6z2">"<i>The apple:</i><br><i>a noble fruit.</i>"</td>
      <td class="tg-s6z2"><small>Zoomed-out view of<br>some collection; <br>defining properties shown.</small></td>
    </tr>

    
    <tr>
      <td class="tg-s6z2">Property</td>
      <td class="tg-s6z2">Variable</td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Attribute_(computing)"><u>Attribute</u></a></td>
      <td class="tg-s6z2">Apples can<br>be clones.</td>
      <td class="tg-s6z2"><small>Something about a thing.</small></td>
    </tr>
    
    <tr>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Substance_theory#Inherence">Inherence</a></td>
      <td class="tg-s6z2">Predication</td>
      <td class="tg-s6z2"><a href="http://stackoverflow.com/questions/151338/adding-an-instance-variable-to-a-class-in-ruby">
          <u>Attribution</u> 
          <br></a><a href="#fn:3" id="fnref:3">3</a>
      </td>
      <td class="tg-s6z2">This apple is a<br>clone</td>
      <td class="tg-s6z2"><small>Changing the nature<br>of a thing (or only making<br>an assertion about it (...))</small></td>
    </tr>

    <tr>
      <td class="tg-s6z2">Individuation</td>
      <td class="tg-s6z2">Evaluation</td>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Assignment_%28computer_science%29"><u>Assignment</u></a></td>
      <td class="tg-s6z2"><small>Billionth clone of the <br>Orange Pippin cultivar <br>(UK NFC 2000-008).</small></td>
      <td class="tg-s6z2"><small>To give a definite<br>meaning to some<br>function.</small></td>
    </tr>


    <tr>
      <td class="tg-s6z2"><a href="http://en.wikipedia.org/wiki/Primitive_notion">Primitive</a></td>
      <td class="tg-s6z2">Primitive</td>
      <td class="tg-s6z2"><a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html"><u>Primitive</u></a></td>
      <td class="tg-s6z2">"Why? Why? <br>Why? Why?"<br>"<i>Because</i>"</td>
      <td class="tg-s6z2"><small>Thing which can't be<br>defined in terms of<br>other things. Or isn't.</small></td>
    </tr>

</u></td></tr>
</table>


<br><br>