<br />
<div class="table-wrapper">
  <table> 

    <tr>
      <th style="vertical-align: bottom;">Concept in<br>Metaphysics<br><br></th>
      <th>Concept in <br>Maths</th>
      <th>Concept in <br>Code</th>
      <th>as<br>Heuristic</th>
      <th>or<br>else</th>
    </tr>

    <tr>
      <td>Type <a href="#fn:1" id="fnref:1">1</a></td>
      <td>Set <a href="#fn:2" id="fnref:2">2</a></td>
      <td><a href="http://en.wikipedia.org/wiki/Class_%28computer_programming%29">Class</a></td>
      <td><i>Apples</i></td>
      <td><small>A description, <br>sufficiently generalised to<br>fit every member of a set.</small></td>
    </tr>

    <tr>
      <td>Token</td>
      <td>Element</td>
      <td><a href="http://en.wikipedia.org/wiki/Object_(computer_science)">Object</a></td>
      <td><i>An apple</i></td>
      <td><small>An instance that satisfies<br>that description.</small></td>
    </tr>

    <tr>
      <td>Subtype</td>
      <td>Subset</td>
      <td><a href="http://en.wikipedia.org/wiki/Inheritance_(object-oriented_programming)">Subclass</a></td>
      <td><i>Granny</i><br><i>Smiths</i></td>
      <td><small>A more specialised<br>description, covering<br>only some of the first set.</small></td>
    </tr>


    <tr>
      <td>Relation</td>
      <td>Relation</td>
      <td><a href="http://www.uml-diagrams.org/association.html">Association</a></td>
      <td><small>e.g. Between an<br>apple and <a href="http://blog.oup.com/2014/07/ten-myths-about-isaac-newton/">Newton's<br>lying mouth</a></small>.</td>
      <td><small>Logical connection of<br>any sort.</small></td>
    </tr>

    <tr>
      <td>Essence</td>
      <td>Condition</td>
      <td><a href="http://en.wikipedia.org/wiki/Interface_%28computing%29">Interface</a></td>
      <td>Apples implement<br>seeds.</td>
      <td><i>Sine qua non</i></td>
    </tr>

    <tr>
      <td>Concept</td>
      <td>Boolean function</td>
      <td>Classifier</td>
      <td>"<i>Is the star apple an apple?</i> <br>
      <i>No; it is not of the genus </i>malum."</td>
      <td><small>A process for identifying kinds of things. </small></td>
    </tr>


    <tr>
      <td>Noumenon</td>
      <td>N/A</td>
      <td><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Model</a></td>
      <td>Der Apfel-an-Sich.</td>
      <td><small>The entities as they<br>are themselves</small></td>
    </tr>
    <!--, beyond<br>our view. (Sometimes<br><a href="http://en.wikipedia.org/wiki/Primary/secondary_quality_distinction">primary properties</a> though.  -->
    
    <tr>
      <td>'<a href="http://plato.stanford.edu/entries/structural-realism/#OntStrReaOSR">Structure</a>'</td>
      <td><big><a href="http://en.wikipedia.org/wiki/Mathematics,_Form_and_Function">FORM</a></big></td>
      <td><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">Controller</a></td>
      <td><a href="http://www.independent.co.uk/arts-entertainment/music/news/jaden-and-willow-smith-talk-duality-of-apples-holographic-realities-and-the-melancholia-of-the-ocean-in-insane-interview-9866948.html">Eh</a>.</td>
      <td><small>The formal shape and relations<br>of a system - what the noumenal and<br>phenomenal share.</small></td>
    </tr>
    
    <tr>
      <td>Phenomenon</td>
      <td>Particular expression?</td>
      <td><a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller">View</a></td>
      <td><a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC1260846/">The cuticle</a>?<br>No; the <a href="http://en.wikipedia.org/wiki/Primary/secondary_quality_distinction">secondary properties</a>.</td>
      <td><small>What is perceived<br>of an entity.</small></td>
    </tr>

    <tr>
      <td>Propositional <br>function</td>
      <td>Function</td>
      <td>Pure function</td>
      <td>"<i><a href="https://www.rosaceae.org/analysis/14">Apples</a> can be mapped to <a href="http://citrus.hzau.edu.cn/orange/download/index.php">oranges</a> via the following CRISPR program...</i>"</td>
      <td><small>A machine for pairing inputs with outputs.</small></td>
    </tr>

    <tr>
      <td>Universal</td>
      <td>Abstraction</td>
      <td><a href="http://en.wikipedia.org/wiki/Abstraction_%28computer_science%29">Abstraction</a></td>
      <td>"<i>The apple:</i><br><i>a noble fruit.</i>"</td>
      <td><small>Zoomed-out view of<br>some collection; <br>defining properties shown.</small></td>
    </tr>

    
    <tr>
      <td>Property</td>
      <td>Variable</td>
      <td><a href="http://en.wikipedia.org/wiki/Attribute_(computing)">Attribute</a></td>
      <td>Apples can<br>be clones.</td>
      <td><small>Something about a thing.</small></td>
    </tr>
    
    <tr>
      <td><a href="http://en.wikipedia.org/wiki/Substance_theory#Inherence">Inherence</a></td>
      <td>Predication</td>
      <td><a href="http://stackoverflow.com/questions/151338/adding-an-instance-variable-to-a-class-in-ruby">
          Attribution 
          <br></a><a href="#fn:3" id="fnref:3">3</a>
      </td>
      <td>This apple is a<br>clone</td>
      <td><small>Changing the nature<br>of a thing (or only making<br>an assertion about it (...))</small></td>
    </tr>

    <tr>
      <td>Individuation</td>
      <td>Evaluation</td>
      <td><a href="http://en.wikipedia.org/wiki/Assignment_%28computer_science%29">Assignment</a></td>
      <td><small>Billionth clone of the <br>Orange Pippin cultivar <br>(UK NFC 2000-008).</small></td>
      <td><small>To give a definite<br>meaning to some<br>function.</small></td>
    </tr>


    <tr>
      <td><a href="http://en.wikipedia.org/wiki/Primitive_notion">Primitive</a></td>
      <td>Primitive</td>
      <td><a href="http://docs.oracle.com/javase/tutorial/java/nutsandbolts/datatypes.html">Primitive</a></td>
      <td>"Why? Why? <br>Why? Why?"<br>"<i>Because</i>"</td>
      <td><small>Thing which can't be<br>defined in terms of<br>other things. Or isn't.</small></td>
    </tr>
  </table>
</div>

<br/>