<div class=""table-wrapper>
  <table> 
      <tr>
          <th style="vertical-align: bottom;">
      Concept in<br>Metaphysics<br><br>
      </t>
      <th>Concept in <br>Maths</th>
      <th>Concept in <br>Code</th>
      <th>as<br>Heuristic</th>
      <th>or<br>else</th>
      </tr>

      <tr>
        <td><a href="http://www.academia.edu/430961/On_Complex_Ideas_-_John_Locke">Complex idea</a></td>
        <td><a href="https://en.wikipedia.org/wiki/Family_of_sets">Family</a></td>
        <td><a href="https://docs.oracle.com/javase/tutorial/java/javaOO/nested.html"><u>Inner class</u></a></td>
        <td><i>Apple with a teratoma?</i></td>
        <td><small>A set which includes another set as member.</small></td>
      </tr>
      

      <tr>
        <td>Supervenience</td>
        <td><a href="http://en.wikipedia.org/wiki/Dependency_relation">Asymmetric</a><br><a href="http://en.wikipedia.org/wiki/Dependency_relation">dependency</a></td>
        <td><a href="http://en.wikipedia.org/wiki/Coupling_(computer_programming)"><u>Coupling</a>?<br><a href="https://www1.maths.leeds.ac.uk/~pmt6sbc/preprints/descartes.pdf">Emergence</a></u>?</td>
        <td><small>An apple supervenes<br>on the <br>electrostatic forces<br>of its constituents.^^</td>
        <td><a href="http://mathoverflow.net/questions/51294/supervenience-in-mathematics"><i>Euch</i></a>.</td>
      </tr>

      <tr>
        <td>?</td>
        <td>Domain and<br> codomain</td>
        <td>Type</td>
        <td>?.</td>
        <td><small>Spec of valid input and output values.</small></td>
      </tr>
      
      <tr>
        <td><a href="http://publish.illinois.edu/philosophygrads/files/2013/02/Do-We-Need-A-Theory-of-Metaphysical-Composition1.pdf">Composition</a>?<br><a href="http://en.wikipedia.org/wiki/Participation_(philosophy)">Participation</a>?</td>
        <td>"A mere<br>application"</td>
        <td><a href="http://en.wikipedia.org/wiki/Class_diagram#Aggregation"><u>Aggregation</u></a></td>
        <td>The apple has<br>carbon<br>molecules.</td>
        <td><small>Relation such that one<br>thing (apple)<br><i>contingently</i> 'has' a set of<br>other things (carbon, etc).</small></td>
      </tr>

      <tr>
        <td>Constitutive <br>essence</td>
        <td><a href="http://en.wikipedia.org/wiki/Triple_bar">&#8801;</a> ?</td>
        <td><a href="http://en.wikipedia.org/wiki/Class_diagram#Composition"><u>Composition</u></a></td>
        <td><small>Apple has an<br>endocarp, mesocarp<br>and exocarp.</small></td>
        <td><small>Strongest aggregation:<br>parts are fully contingent<br>on the whole.</small></td>
      </tr>

      <tr>
        <td>Heraclitean<br> <a href="http://socioumane.ro/blog/annalesphilosophici/files/2010/10/Elder.pdf">stage theory</a></td>
        <td>?</td>
        <td>'<a href="http://cruise.eecs.uottawa.ca/umple/ImmutablePattern.html"><u>Immutable</u></a>'<br>pattern</td>
        <td>?</td>
        <td><small>Nothing survives change;<br>all changed things are<br>wholly new objects.</small></td>
      </tr>

  </table>
</div>