{%	assign Axa = "https://www.axa.com/en/about-us/emerging-risks"			%}
{%	 assign Hide = "https://en.wikipedia.org/wiki/Information_hiding" %}
{%	 assign Cult = "http://bryanschuetz.github.io/culture-namer/ships/experiencing-significant-gravitas-shortfall/" %}
{%	 assign Arg = "http://math.stackexchange.com/questions/227626/explanation-on-arg-min" %}
{%	 assign Colada = "http://datacolada.org/" %}
{%	 assign GWWC = "https://www.givingwhatwecan.org/" %}
{%	 assign MyGiving = "https://www.givingwhatwecan.org/igivedisplay?publicid=7778&publicauth=747719919" %}
{%	 assign Doom = "http://www.overcomingbias.com/2016/12/chip-away-at-hard-problems.html" %}
{%	 assign PridePrescience = "https://docs.google.com/spreadsheets/d/1c2NrUwnWR-emBf6QGwVeTjkma67Ibeb9eGp4eYvnWmE/edit?usp=sharing" %}
{%	 assign Contro = "/controversy-technical" %}
{%	 assign Anthro = "/anthropology" %}
{%	 assign Rot = "https://github.com/gavin-leech/rotgone" %}
{%	 assign Noah = "noahpinionblog.blogspot.co.uk/" %}
{%	 assign Artir = "https://nintil.com/" %}
{%	 assign Kelsey = "http://theunitofcaring.tumblr.com/" %}
{%	 assign Scott = "http://slatestarcodex.com/" %}
{%	 assign Gelman = "http://andrewgelman.com/" %}

{%	 assign Gwern = "https://gwern.net" %}
{%	 assign Jeffk = "https://www.jefftk.com/index" %}
{%	 assign Dillow = "http://stumblingandmumbling.typepad.com/" %}
{%	 assign Luu = "https://danluu.com/popular/" %}