{%	 assign Axa = "https://www.axa.com/en/about-us/emerging-risks"			%}
{%	 assign Hide = "https://en.wikipedia.org/wiki/Information_hiding" %}
{%	 assign Cult = "http://bryanschuetz.github.io/culture-namer/ships/experiencing-significant-gravitas-shortfall/" %}
{%	 assign Arg = "http://math.stackexchange.com/questions/227626/explanation-on-arg-min" %}
{%	 assign Colada = "http://datacolada.org/" %}
{%	 assign GWWC = "https://www.givingwhatwecan.org/" %}
{%	 assign MyGiving = "https://www.givingwhatwecan.org/igivedisplay?publicid=7778&publicauth=747719919" %}
{%	 assign Doom = "http://www.overcomingbias.com/2016/12/chip-away-at-hard-problems.html" %}
{%	 assign PridePrescience = "https://docs.google.com/spreadsheets/d/1c2NrUwnWR-emBf6QGwVeTjkma67Ibeb9eGp4eYvnWmE/edit?usp=sharing" %}
{%	 assign Contro = "http://gleech.org/controversy" %}
{%	 assign Anthro = "http://gleech.org/anthropology" %}
{%	 assign Rot = "https://github.com/gavin-leech/rotgone" %}
{%	 assign Noah = "noahpinionblog.blogspot.co.uk/" %}
{%	 assign Artir = "https://nintil.com/" %}
{%	 assign Kelsey = "http://theunitofcaring.tumblr.com/" %}
{%	 assign Scott = "http://slatestarcodex.com/" %}
{%	 assign Gelman = "http://andrewgelman.com/" %}

{%	 assign Gwern = "https://gwern.net" %}
{%	 assign Jeffk = "https://www.jefftk.com/index" %}
{%	 assign Dillow = "http://stumblingandmumbling.typepad.com/" %}
{%	 assign Luu = "https://danluu.com/popular/" %}
{%	 assign stat	= "http://en.wikipedia.org/wiki/Statistics" 	%}
{%	 assign quot =	"http://gleech.org/quotations"	%}

{%		assign eire = "https://ie.linkedin.com/in/gavin-leech-ba594969"		%}
{%		assign oz = "http://www.stockandland.com.au/story/4264414/return-buyers-boost-kerrsville-clearance/"	%}
{%		assign driving = "http://www.bensonschoolofmotoring.co.uk/pupil-testimonials/"	%}
{%		assign dave = "https://www.hedweb.com/social-media/2017.html"		%}
{%		assign sugar = "https://www.endeavour.com.au/media-news/press-releases/sweet-taste-of-success"		%}
{%		assign scaruffi = "http://scaruffi.com/biblio.html"		%}
{%		assign safety = "http://www.dcs.gla.ac.uk/~johnson/teaching/safety/default.html"		%}
{%		assign yearsCode = "https://github.com/g-leech/argmin-gravitas/blob/master/_includes/years-of-code"		%}
{%		assign cvcv = "https://github.com/g-leech/MachineCV/blob/master/jobs_4_machines.json" %}