{%  assign slug = page.title | slugify %}


<div class="accordion">
  	<h3>Comments</h3>
  
  	<div>
		<div class="comments">
			{% if site.data.comments[slug] %}
				{% assign comments = site.data.comments[slug] | sort %}

				{% for comment in comments %}

				<b>{{ comment[1].name }}</b> commented on <em>{{ comment[1].date | date: "%d %B %Y" }}</em> :
					<p>
						<blockquote>{{ comment[1].message | markdownify }}</blockquote>
					</p>
				<hr>
				{% endfor %}
			{% endif %}
		</div>

		<h4> Post a comment </h4>

		<form name="{{slug}}" netlify>
			<label>Name &nbsp; <input type="text" name="name" /></label>
			<label>Email &nbsp; <input type="email" name="email" /></label>
			
			<p style="font-color:gray">
				<small>Comments appear after moderation. use markdown.</small>
				<br>
				<small>Page just refreshes after successful submit.</small>
			</p>

			<label><textarea name="message" cols="30" rows="6"></textarea></label>

			<button type="submit">Send</button>
		</form>
	</div>

</div>