<!-- Partly based on https://github.com/mmistakes/minimal-mistakes/blob/master/_includes/comments.html -->

{% 	assign slug = page.title | slugify %}


{% if site.data.comments[slug] %}


<p>
<hr>
<p>

  <h3>
    {% if site.data.comments[slug].size > 1 %}
      {{ site.data.comments[slug] | size }}
    {% endif %}
    Comments:
  </h3>

  <p>
  <hr>

  {% assign comments = site.data.comments[slug] | sort %}

  {% for comment in comments %}
    <br>
    <legend><strong>{{ comment[1].name }}</strong><legend>
    <em>{{ comment[1].date | date: "%d %B %Y" }}</em>
    <p>{{ comment[1].message | markdownify }}
    <hr>
  {% endfor %}
  <p>
{% endif %}

<p>
<hr>
<p>

<big>Post a comment</big>

<div style="padding:20px; padding-bottom: 60px; text-align: center;">
	<form method="POST" action="{{site.comments_integration_url}}" >
	  	<input name="options[redirect]" type="hidden" value="gleech.org">
		<!-- e.g. "2016-01-02-this-is-a-post" -->
	  	<input name="options[slug]" type="hidden" value="{{ slug }}">
		<input name="fields[name]" type="text" placeholder="your name">
		<input name="fields[email]" type="email" placeholder="at@at.com"><br>
		<textarea name="fields[message]" style="width:75%;"></textarea><br>

		<em>Comments appear after moderation btw.</em> 	<button type="submit">Post</button>
	</form>
</div>