@media (max-width: 600px) {

  .post-link {
    padding-bottom: 10px;
  }

  .i {
    font-size: 22px;
    text-align: left;
  }

  .summ {
    text-align: left !important;
  }

  tr>td {
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .date {
    display: none;
  }

}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline !important;
  text-decoration-thickness: 12%  !important;
  text-underline-offset: 2.5px  !important;
}

a:active {
  text-decoration: none !important;
  color: #FFF !important;
}

h3 {
    margin-bottom: 1px !important;
    font-family: "Didot", "Times New Roman", Times, serif;
}

.im {
    padding-right: 40px;
}

@media (min-width: 15em) {
  .im {
    height: 150px;
    /*width: 80%;*/
    margin: 0px;
    object-fit: cover;
  }

  .i {
    height: 20%;
    /*width: 80%;*/
    margin: 0px;
  }

  .centerer {
    width: 85%;
  }
}

img {
  vertical-align: middle;
  width:  80%;
}



@media screen and (max-width: 600px)  {
    .nomob { display: none; }
}

.just {
  text-decoration: none;
}

.centerer {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  width: 75%;
}

.fancy {
  font-family: "Didot", "Times New Roman", Times, serif;
  font-size: 22pt;
}