<ol>
	<li>The dominant usage of "intellectual" refers to celebrities who are loud about a certain kind of politics.</li>
	<li>This usage excludes scholars (especially scientists and mathematicians) who don't engage in social commentary, even when their work involves profound intellectual achievements.</li>
	<li>The term "intellectual" had a semantic shift, narrowing from describing any knowledge worker to specifically describing those engaged in social commentary — a shift maybe traceable to mid-20th century critical theory and possibly rooted in the Leninist concept of intelligentsia, ideological vanguard.</li>
	<li>This narrowing represents a "land grab" by humanities scholars (just like with "creativity" in the late 19th century), despite scientists and mathematicians being quintessential knowledge workers.</li>
	<li>The current primary usage of "intellectual" is unjustifiably restricted; it should be expanded to include all scholars and knowledge workers, not just those who publicly opine on social matters.</li>
</ol>