<div class="footnotes">
<ol>
<!--     <li class="footnote" id="fn:1">
    	A <a href="{{naturally}}">natural experiment</a>.
	</li>
 -->
    <li class="footnote" id="fn:2">
		Numbers from official <a href="{{2003to13table}}">spreadsheet here</a>.
	</li>

    <li class="footnote" id="fn:3">
    	<a href="{{esa}}">ESA</a> is probably the only government program in the world with <a href="{{blake}}">a Palme d'Or winning film</a> about how shit it is.
	</li>

	<li class="footnote" id="fn:4">
		Aside: there are <a href="{{popul}}">13.3m</a> self-identified disabled people in Britain: 21% of us. <br><br>

		But only 3m are receiving the benefit they're presumably entitled to. Would be interesting to see the relative importance of 'family support vs pride vs literal inability to get through the bureaucracy':

		<blockquote>
			More than a million withdrew their claims before reaching a face-to-face assessment – this can be due to individuals recovering and either returning to work, or claiming a benefit more appropriate to their situation.
		</blockquote>
	</li>

	<li class="footnote" id="fn:5">
		2008 death rate: 1,043 per 100,000.<br>
		2008 deaths: 1,043 x 25 hundred-thousands = 26,075<br>
		2013 death rate: 1,032 per 100,000.<br>
		2013 deaths: 1,032 x 25 hundred-thousands = 25,800<br><br>

		Difference: 275 deaths.
	</li>

	<li class="footnote" id="fn:6">
		<a href="{{ffwGist}}">Code here</a>.
	</li>

	<li class="footnote" id="fn:7">
		0.24% annual death rate x 369,600 fit-for-work cases = 887 a year.
	</li>

	<li class="footnote" id="fn:8">
		27 months in the sample, December 2011 - February 2014.<br>
		2,380 deaths / 27 months * 12 months = 1057.7.
	</li>
</ol>