<div class="accordion">


<h3>Bibliography</h3>
<div>


<ul>
    <li>Beaney, Michael, ed. (1997), The Frege Reader, (Oxford, Blackwell, 1997.)</li>

    <li>Carnap, Rudolf (1931), "The Logicist Foundations of Mathematics", trans. Putnam & Massey, in ed. Benacerraf & Putnam, Philosophy of Mathematics, Selected Readings, (Englewood Cliffs, Prentice-Hall, 1964).</li>

    <li>Crane, Tim (1995), ‘Meaning’, in Oxford Companion to Philosophy, (Bath, OUP; 1995).</li>

    <li>Frege, Gottlob (1884), The Foundations of Arithmetic: A logico-mathematical enquiry into the concept of number, trans. JL Austin, (Illinois, Northwestern University, 1994).</li>

    <li>Frege (1892), ‘On Sense and Reference’, trans. Max Black, in Translations from the Philosophical Writings of Gottlob Frege. ed. Geach & Black, (Oxford, Blackwell, 1952).</li>

    <li>Frege (1897), ‘The Thought’, in Mind, Vol. 65, No. 259. (Jul., 1956), pp. 289-31.</li>

    <li>Grayling, AC & Weiss, Bernhard (1998), ‘Frege, Russell and Wittgenstein’, in Grayling, ed, Philosophy 2: further through the subject, (Oxford, Oxford University Press; 1998).</li>

    <li>Marx, Julius Henry (1959), Groucho and Me, (Chippenham; Virgin Books; 1994)</li>

    <li>Noonan, H.W. (2001), Frege: A Critical Introduction, (Cambridge: Polity; 2001)</li>

    <li>Zalta, Edward (2008), ‘Frege’s Logic, Theorems and Foundations for Arithmetic’, http://plato.stanford.edu/entries/frege-logic/</li>
</ul>

</div>

</div>