<div class="footnotes">
<ol>

	<li class="footnote" id="fn:1">
		Frege (1897), ‘<a href="https://www.jstor.org/stable/2251513?seq=1#page_scan_tab_contents">The Thought</a>’, in Mind, Vol. 65, No. 259. (Jul 1956), p.289-90.<br>
		<blockquote>
				What is objective… is what is subject to laws, what can be conceived and judged, what is expressible in words…
		</blockquote>
	</li>

	<li class="footnote" id="fn:2">
		Frege (1884) <i><a href="http://www.naturalthinker.net/trl/texts/Frege,Gottlob/Frege,%20Gottlob%20-%20The%20Foundations%20of%20Arithmetic%20(1953)%202Ed_%207.0-2.5%20LotB.pdf">Foundations of Arithmetic</a></i>, trans. JL Austin (Evanston, Northwestern University, 1994), p.35
	</li>

	<li class="footnote" id="fn:3">
		Frege (1884), p.35
	</li>

	<li class="footnote" id="fn:4">
		Frege (1884), p.xxii
	</li>

	<li class="footnote" id="fn:5">
		Frege (1884), p.xxii
	</li>

	<li class="footnote" id="fn:6">
		Frege (1884), §60, p.71
	</li>

	<li class="footnote" id="fn:7">
		Carnap, Rudolf (1931), "The Logicist Foundations of Mathematics", trans. Putnam & Massey, pp. 41–52
	</li>

	<li class="footnote" id="fn:8">
		Crane, Tim (1995), ‘Meaning’, in the Oxford Companion to Philosophy, 1st ed. (Bath, OUP; 1995), p.541
	</li>

	<li class="footnote" id="fn:10">
		Frege, Gottlob (1884), p.xviii 
	</li>

	<li class="footnote" id="fn:11">
		Grayling & Weiss (1998), ‘Frege, Russell and Wittgenstein’, in Philosophy 2, §1.2.1
	</li>

	<li class="footnote" id="fn:12">
		The latter gap can actually be seen as a third argument.  ‘_ divides_ giving _’, will take a truth-value as value and not a number. Arithmetical functions are thus quasi-second-level concepts… and so are not suitable for use in basic examples, I realise too late.  
	</li>

	<li class="footnote" id="fn:14">
	 	Frege, Gottlob (1884), The Foundations of Arithmetic, §62
	 </li>

	<li class="footnote" id="fn:15">
		 Frege, Gottlob (1884), The Foundations of Arithmetic, p.99
	</li>

	<li class="footnote" id="fn:16">
		Marx, Julius Henry (1959), Groucho and Me, (Virgin Books; Chippenham; 1994), p.321
	</li>

	<li class="footnote" id="fn:17">
		Zalta, Edward (2010), ‘Frege’s Logic’, in the Stanford Encyclopaedia, http://plato.stanford.edu/entries/frege-logic/#6.5
	</li>

	<li class="footnote" id="fn:18">
		Zalta (2010), http://plato.stanford.edu/entries/frege-logic/#3.4 
	</li>

	<li class="footnote" id="fn:19">
		Frege (1892), ‘On Sense and Reference’, trans. Max Black, in Translations from the Philosophical Writings of Gottlob Frege. ed. Geach & Black, (Oxford: Blackwell, 1952), p.56-78
	</li>

	
</ol>
</div>