<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
		Palmer slips a few times.<br><br>
		Kosala freaking out and blowing up the Almagest <i>ex ante</i> doesn’t change anything; Utopia-Mason already have the Alexander (space weapons).<br><br>
		Moreover, her killing MASON is completely obviously going to kill many more people and prolong the war, and early peace is her only goal.<br><br>
		I cover the great emptiness of Brillist anti-exploration below. 
	</li>

	<li class="footnote" id="fn:2">
		The book is saturated with <i>Odyssey</i> and <i>Iliad</i>, and I fucking hate the <i>Odyssey</i> and am probably gonna hate the <i>Iliad</i>.
	</li>

	<li class="footnote" id="fn:3">
		He's no more morally superior than Mike Valentine Smith, one of his thirty namesakes.
	</li>

	<li class="footnote" id="fn:4">
		Palmer knows all this and nerfs them in the denouement.
	</li>

	<li class="footnote" id="fn:5">
		disregarding their purported sadism in Mycroft’s literally hallucinated odyssey.
	</li>

	<li class="footnote" id="fn:6">
		<blockquote>Why not both, Mycroft?<br /><i>A week ago, I could not have answered you, reader, but now I think I can. The light is almost out. Space is too terrible, and Earth too good, not only space too hard but Earth too good, the gifts of Nature, more, for we have spent this hundred thousand years not only building boats and braving seas but tilling fields and planting cities, cultivating Earth’s great human garden... our ancestors worked hard to make a better future for their children, and it worked. Life now is good. Not just for most, for all of us, such health, such plenty...<br><br>
		Gordian has its own infinity which will not make us brave an airless sea, or weep upon a rock alone. Ever. They bypass grim Poseidon, leave the god who rings the Earth to stand mote-keeper of his black kingdom alone, and chance not to his mercy. Their branch is warm and easy, happy, without aspera, their frontier the Institute’s own motto Profundum et Fundamentum, the boundless deep and foundation: the mind. As progress husbanded by Gordian’s genius makes Earth yet happier...</i></blockquote>
	</li>

	<li class="footnote" id="fn:7">
		This doesn't have to be a critique of Palmer when we remember that all such groupings will arise through partially random historical contingencies: the resulting categories don’t need to make sense and probably won’t.
	</li>

	<li class="footnote" id="fn:8">
		A friend: "9A is less impressive than the 8th or 7th anonymous, but I'm pretty sure that 8A was just worried about a succession crisis, and dropped enough clues to 9A to ensure there would be a succession at all."<br><br>
		A less elevated explanation for 9A being so twee and tonally jarring is that she is Palmer's self-insert. This is both a respectable literary device and the worst thing about book 4.
	</li>

	<li class="footnote" id="fn:9">
		<blockquote>I was incredibly impressed with what she did with the Latin. Masons speak simple classroom Latin. Easy to follow - "cute". But when JEDD Mason speaks it's in golden age Ciceronian Latin. I was deeply impressed.</blockquote>
		- my classicist friend
	</li>

</ol>

</div>