<ul>
  <li> I like the Renaissance conceit of calling god The Great Author, and Jedd's conceit of calling the Utopians "small authors", small gods. Later, this is expanded into a huggy thing where all humans are small authors - in the afterword Palmer implies more: that we're all obeying the Utopian oath by working so much as 40 hours a week. I honour this thought - for instance a cleaner is in fact doing something of moral significance when they work, is in fact imperceptibly pulling on the rope that leads to the future. But it's a piety to say that all stories are equal-sized, that all pull the same. <br />
  <blockquote>
    <i>Many have described to me the journey from feeling they could never maintain such a high standard to realizing that we already are.</i>
  </blockquote>
  No. There is more to do.</li><br>

  <li> So many hundreds of details, like the Brillist / Gordian double name (ideology and instantiation). Recalls GNU / Linux. The verisimilitude of mess.</li><br>

  <li> The stable stagnation following the exponential age seems pretty implausible. Then there's the laughable smallness of the AI threat - one serial killer(!). (I suppose Utopia solved AI alignment. But then set-sets would have to be obsolete, unless the other Hives hated U-beasts, which they don't seem to.)</li><br>

  <li> There’s a moving sequence about chronic fatigue, also one of Palmer’s personal crosses. Wheelchair as throne.</li><br>

  <li>Cato as Hephaestus, the divine inventor, yields a funny insight: all of this could have been avoided with sufficient technological progress. Can everyone have what they want, with sufficient technological progress? No, but it gets you pretty close. </li>

  <li> The book takes a slightly absurd view of the wisdom and effectiveness and moral stature of the UN. Maybe they get better over 400 years of irrelevance.</li><br>

  <li> The plot is excessive, and I think it's intentionally difficult to track all the threads. Fine, but one bit goes too far for me: Achilles' dying speech implies alternate timelines and him as a multiverse hopper. And this in turn makes Palmer’s god less stupid, if he is the multiverse maximiser, <a href="https://slatestarcodex.com/2018/04/01/the-hour-i-first-believed/" rel="nofollow noopener">the only theodicy</a> I find even vaguely satisfying. Palmer's mainline theodicy is different: the universe is the offering of a blind mute god who wants to talk to a solipsist god. It's pretty cool. </li><br>

  <li> The main characters spend lots of their most critical resources on documentation, history monging. Sniper’s chapter is bought at extreme expense, Mycroft’s whole shtick… This is <i>sorta</i> realistic - militaries have war artists and official bookworms. But it’s not usually the commanders and chief strategists scribbling for posterity as the death squads stalk their corridors. Palmer uses epistolary devices to great effect, but I find myself wishing they’d focus on the war for a sec.</li><br>

  <li> I like the Mitsubishi a lot more in this one <a href="#fn:5" id="fnref:5">5</a>. Palmer makes me notice that the rich are a minority. Less vulnerable than the others, but there's a high floor to the vulnerability of any small group.</li><br>

  <!-- * a bit of body horror and mind rape, be warned. Largely unpunished! -->

  <li> The novel could do without religion. Jedd could be a vast noble alien, and we would have no need for This World’s Creator or even Bridger. The relics are Faust’s stated casus belli but others are easy to imagine.  The narrators’ abjection before Jedd makes their tweeness worse. If there’s a god, you should wrestle him, not kneel. I could do without the extended <i>Iliad</i> plot mirroring too. </li><br>


  <li> This book will age better than most, but parts of it ring trendy, sarky, Whedony. Like the UN / African Union coming out of nowhere to save the day. The bold, unclichéd treatment of gender of past books - as gravity, as a seductive force that can be covered up but not ignored, dimorphism as transgression, feminine arts as mind control, pronouns as a spicy personality marker: <br />
  <blockquote>
    <i>Their comportment invites it, that toxic artificial helplessness that coded feminine in olden days, and makes us all fall over ourselves wanting to do things for Heloïse, so much so that we stifle when they try to do things for themself.</i>
  </blockquote>
  Here it gives way to a soppy constructionism, gender as conspiracy:<br /><blockquote><i> Madame toiled fifty years—fifty!—to revive patriarchy, narrowing the gates and cramming all high offices she could with the prey this mantis matriarch found easiest, all masculine in mind and genitalia… The Big Three leading this World War: matron Danaë, nursing Lesley, me, and not a dick among us. Where are they now, Madame? The artificial creatures, stiff and male and defined by their penises, you said would rise once war dispelled our supposedly fake equality?</i></blockquote> Well, you did contrive two dozen of your own male characters to coincidentally fall, to yield this panel. (She returns to the interesting moderate view in the great denouement.) </li><br>
</ul>