<li>
  <div>
    <time>
      2023 – Now
          <br class="break">  
          <a class="org" href="espr-camp.org">80,000 Hours</a>
          <br class="break">
    </time>
    &nbsp;
      <br class="break">
      <br class="break">
    
    <button type="button" class="collapsible" style="float:right;">+</button>
      
      <span id="espr" class="content">
        <p>
          <br>      
          Unofficial career coach for beginners in technical AI research and PhDs and stuff.<br><br>
        </p>
      </span>
      <!--  -->
    <br class="break">
    <br class="break">

  </div>
</li>
