<li>
  <div>
    <time>
      2022
      
      <span class="org"><i>
        Interim Director
      </i></span>
      <br>
      
      <a class="org" href="{{alert}}">ALERT</a>
      <br class="break">
    </time>
      <br class="break">
    
    <button type="button" class="collapsible">+</button>
      <span id="alert" class="content">
        <p>
          <br>
          Co-founder of the Active Longtermist Emergency Response Team, a pop-up think tank filling gaps in state capacity. Ran initial strategy, fundraising, executive search, board selection, external collaborations, recruiting.
        </p>
      </span>
      <!--  -->
    <br class="break">
    <br class="break">

  </div>
</li>
