<li>
  <div>
    <time>
      2021 – Now
      <br class="break">
      
      <span class="org"><i>
        Co-founder,
      </i></span>
      <br>
      
      <a class="org" href="{{arb}}">Arb Research</a>
      <br class="break">
    </time>
<!--  -->
  <br class="break">
    

    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
        Researching AI, forecasting, metascience, and cause prioritisation.<br><br>
        Clients include Open Philanthropy, the Future of Humanity Institute, Mercatus, Alvea.
      </p>
      <!--  -->
      Public work:<br><br>
      * <i><a href="{{sme}}">Forecasters vs experts</a></i><br>
      * <i><a href="{{hk}}">Scoring the Big 3</a></i>

      <br><br>
    </span>
    <!-- <br> -->
  </div>
</li>
