<li>
  <div>
    <time>
      2021 – Now
      <br class="break">
      
      <span class="org"><i>
        Founder
      </i></span>
      
      <br>
      
      <a class="org spc" href="{{arb}}">Arb Research</a>
      <br class="break">
    </time>
    <br class="break">
    

    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
        Researching AI, forecasting, metascience, epidemiology, and other interesting things. Co-founded with Misha Yagudin.
      </p>
      <!--  -->
      <h4>
        <a href="https://arbresearch.com/work/">Public work here.</a>
      </h4>

      <br>
    </span>
    <!-- <br> -->
  </div>
</li>
