<li>
  <div>

    <time>
      2016–9
      <br class="break">
      <span class="org"><i>
        Data Scientist
        <span class="break">&nbsp;</span> 
      </i></span>
      <br class="unbreak">
       <a class="org" href="{{axa}}">AXA</a>
      <br class="break">
    </time>
    <br class="break">


    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
        Built dozens of ML models (GLMs, GBMs, neural nets) for actuarial pricing,
medical risk, & image recognition. Web scraping at scale; migration from SAS to Hadoop, & Hadoop to Azure. Came in as a graduate data scientist, left as tech lead for a team of 4.</p>
      
      <i>Buzzwords</i>: Python, Spark, Keras, XGBoost, Tableau, Avro, Pytest, GDPR
      <br><br>
      <img width="13%" style="padding: 2px" src="/img/python.svg" />
      <img width="20%" src="/img/scala.svg" />
    </span>
    <br>

  </div>
</li>