<li>
  <div>
    <time>
      2012-3
      <br class="break">
      <span class="org"><i>
        Bookseller
      </i></span>
      <br>
          <a class="org">Books and Beans</a>
      <br class="break">
    </time>
    <br class="break">

    <button type="button" class="collapsible">+</button>
    <span class="content">
    <p><br>
      A quiet business. Read all of Arts & Letters Daily, all of 3 Quarks Daily, all of Crooked Timber, and all of Marginal Revolution every day for 9 months.
    <br>
    </p>
    </span>

    <br>
  </div>
</li>
