<center>
  <h1 class="titl">
    📖
    <br class="break">
    Education 
    <br class="break">
    📖
  </h1>
</center>

<section class="timeline cv school">
  <ul>
    <li>
      <div>
        <time>
          2019 – Now
          <br class="break">  
          <a class="org">University of Bristol</a>
          <br class="break">
    
       </time>
        AI PhD
      <br class="break">
      <br class="break">
        

<!--  -->
        <button type="button" class="collapsible org">+</button>
        <span class="content">
          <p><br>
            Probabilistic programming, AI safety. Long detour on COVID models.
          </p>
          <p>
             First year was a de-facto research Master’s (uncertainty modelling, NLP, GOFAI, legal aspects).<br> 
             Second year: COVID modelling. 
             EPSRC Centre for Doctoral Training studentship (i.e. fully funded for 4 years).
          </p>
          <p>
            Thesis: <a href="">Tensorised Probabilistic Programming</a>
          </p>
          <br>
        </span>
          <br class="break">
          <br class="break">
    
      </div>
    </li>
<!--  -->
    <li>
      <div>
        <time>
          2019
            <br class="break">
            <a class="org" href="/ou">The Open University</a>
            <br class="break">  
        </time>
        BSc Maths and Stats
          <br class="break">
          <br class="break">
    
        <button type="button" class="collapsible org">+</button>
        <span class="content">
          <p><br>
            89% GPA ≈ 96th percentile.<br><br>
            Probability up to diffusion processes, regression to GLMMs, numerics to BFGS,
            linear algebra to multi-linear, RCTs. Part-time during FT work. Reviewed <a href="/ou">here</a>.
            <br>
          </p>
        </span>
          <br class="break">
      <br class="break">
            
      </div>
    </li>
  <!--  -->
    <li>
      <div>
        <time>
          2015
          <br class="break">
          <a class="org">University of Glasgow</a>
          <br class="break">
       </time>
        MSc Software Development
       <br class="break">
      <br class="break">
    

      <button type="button" class="collapsible org">+</button>
        <span class="content">
          <p><br>
            82% GPA ≈ 85th percentile.<br><br>
            Java, SQL, HTML/CSS/PHP, assembly, design patterns, data structures & algos.
          </p>
          <p>
            Thesis: <a href="/accommodation">Hidden Markov Models for Linguistic Accommodation</a>. Full-ride Scottish Funding Council scholarship.
          </p>
          <br>
        </span>
        <br>
          <br class="break">
    
      </div>
    </li>
 <!--  -->
    <li>
      <div>
        <time>
          2012
          <br class="break">
          <a class="org">University of Aberdeen</a>
          <br class="break">
        </time>
        MA (Hons) Economics & Philosophy
        <br class="break">
        <br class="break">
        <button type="button" class="collapsible org">+</button>
        <span class="content">
          <p><br>
            85% GPA ≈ 90th percentile.
            <br><br>
          Micro and macro, Ethics, global justice, Continental philosophy, development policy, formal logic, social statistics, health policy, development policy. 
          <!--  -->
          <br><br>Dissertation: <a href="/aid">On the Abolition of Foreign Aid</a>. Alumni Fund scholarship.
          <br>
        </p>
        </span>
          <br class="break">
          <br class="break">
    
      </div>
    </li>
</ul>
</section>
