<li>
  <div>

    <time>
      2020–22
      <br class="break">
      <span class="org"><i>
        Researcher,
      </i></span>
      <br>
      <a class="org" href="http://epidemicforecasting.org/">
        Epidemic Forecasting
      </a>
      <br class="break">
    </time>
  <br class="break">  <br class="break">
    
    <button type="button" class="collapsible">+</button>
      <span class="content">
        <p><br>
          Modelled COVID with Oxford / Imperial / Harvard colleagues. 
          Probabilistic programming, technical writing, data cleaning, literature reviews.<br><br>

          7 papers in 14 months. I led a major <a href="{{masks}}">study</a> of mask effectiveness.
        </p>
        <p>
          <br>
          <i>Buzzwords</i>: PyMC3, MRP (hierarchical Bayes), AWS, Azure, Seaborn
        </p>
        <br>
      </span>
      <br>

  </div>
</li>