<li>
  <div>
    <time>
      2021 – Now
          <br class="break">  
          <a class="org" href="espr-camp.org">ESPR</a>
          <br class="break">
    </time>
    &nbsp;
      <br class="break">
      <br class="break">
    
    <button type="button" class="collapsible" style="float:right;">+</button>
      
      <span id="espr" class="content">
        <p>
          <br>      
          Head of camp / instructor for the European Summer Programme on Rationality: a grand maths and experiential education camp.<br><br>
          I ran ESPR 2022, 2023, 2024 and often run sessions on personal agency, research skills, speculative astronomy, and cultural literacy.<br><br>
        </p>
      </span>
      <!--  -->
    <br class="break">
    <br class="break">

  </div>
</li>
