<li>
  <div>
    <time>
      2021 – Now
      <button type="button" class="collapsible" style="float:right;">+</button>
      <span class="content">
        <p><br>
          A grand maths / experiential education camp. I designed and taught 4 sessions on personal agency, research skills, speculative astronomy, and cultural literacy.
        </p>
        <br><br>
      </span>

      <br class="break">
      <!--  -->
      <a class="org" href="espr-camp.org">European Summer Programme on Rationality</a>
    </time>
    <br>
    <br>
      <br class="break">
      <br class="break">
    
  </div>
</li>
