<li>
  <div>
    <time>
      2023 – Now
      <br class="break">
      
      <span class="org"><i>
        Board member
      </i></span>
      <br>
      
      <a class="org spc" href="{{fabric}}">FABRIC</a>
      <br class="break">
    </time>
    <br class="break">
    

    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
        Strategy and supervision for the education charity most famous for <a href="https://espr.camp">ESPR</a>.<br><br>I run one iteration of ESPR a year too.
      </p>
      <br>
    </span>
    <!-- <br> -->
  </div>
</li>
