{%	assign lcfi = "https://www.lcfi.ac.uk/"	%}

<li>
  <div>
    <time>
      2024 – Now
      <br class="break">
      
      <span class="org"><i>
        Visiting fellow
      </i></span>
      <br>
      
      <a class="org spc" href="{{lcfi}}">University of Cambridge</a>
      <br class="break">
    </time>
    <br class="break">
    

    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
        Researching and teaching at the <a href="{{lcfi}}">Leverhulme Centre for the Future of Intelligence</a>. I'm on the Kinds of Intelligence and AI Futures teams, currently developing my work on error and bullshit in LLM evaluations.
      </p>
      <!--  -->
      <br>
    </span>
    <!-- <br> -->
  </div>
</li>
