<li>
  <div>
    <time>
      2022 – 23
      <br class="break">
      <span class="org"><i>
        Strategic advisor
      </i></span><br>
      <a class="org spc">Mercatus Center</a>
      <br class="break">
    </time>
  <br class="break">
  
    <button type="button" class="collapsible">+</button>
    <span class="content">
      <br>
      <p>
        I chaired the Emergent Ventures / Schmidt Futures panel on AI Talent and wrote most of the resulting report.
      </p>
    </span>

  </div>
</li>


