{%   assign xed = "https://www.gov.scot/collections/scottish-exchange-of-data-scotxed/" %}

<li>
  <div>
    <time>
      2014
      <br class="break">
      <span class="org"><i>
        Assistant Statistician
      </i></span>
      <br>
        <a class="org" href="{{xed}}">
          Scottish Government
        </a>
      <br class="break">
    </time>
    <br class="break">
    <br class="break">
    <br class="break">

    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
        Made official statistics, Education Analytics. Testing for a data visualisation tool for teachers: SAS/SQL. Prep for the Social Care Survey 2015.
      </p>
    </span>

    <br> 
  </div>
</li>
