<li>
  <div>
    <time>
      2015
      <br class="break">
      <span class="org">Software Developer,</span>
      <br>
      <a class="org">Stugo</a>
      <br class="break">
    </time>

    <br class="break">

    <button type="button" class="collapsible">+</button>
    <span class="content">
      <p><br>
          <img class="flag" width="19%" src="/img/js.svg" />
        Jumped into web dev; my code deployed worldwide within 2 weeks.<br><br>
        
          <img class="flag" width="19%" src="/img/cs.svg" />
        Products: a medicine pump device manager & a pharmacy record system.<br><br>

        <i>Buzzwords</i>: C#, WPF, node.JS, MEAN, Ractive, Mongo, Vagrant, VMware
          <br>
      </p>
    </span>
  </div>
</li>
