<li>
  <div>
    <time>
      2019–21
      <br class="break">
      <span class="org"><i>
        Lead TA,
      </i></span>
      <br>
      <a class="org">University of Bristol</a>
      <br class="break">
    </time>
      <br class="break">
    
    
      <button type="button" class="collapsible">+</button>
      <span class="content">
        <p><br>
                Solo instructor in CS tutorials, training other TAs. Bayesian ML & Algos 2.<br><br>

      <i>Buzzwords</i>: Gaussian processes, Markov Random Fields, Bayesian opt.,
variational inference, dynamic programming, graph theory, complexity

        </p>
        <br><br>
      </span>
  
  </div>
</li>