<section class="timeline cv">
  <ul>
    {%  include cv/arb.html  %}
    {%  include cv/lcfi.html  %}
    {%  include cv/fabric.html  %}
    {%  include cv/acs.html  %}
    {%  include cv/alert.html  %}
    {%  include cv/merc.html  %}
    {%  include cv/epifor.html  %}
    {%  include cv/ta.html  %}
    {%  include cv/axa.html  %}
    {%  include cv/ftb.html  %}
    {%  include cv/stu.html  %}
    {%  include cv/sco.html  %}
    <!-- {%  include cv/booksandbeans.html  %} -->
<!--     <li>
      <div>
        <time>
          2010
          <br class="break">

          <span class="org"><i>
            Intern
          </i></span>
          <br>
          <a href="{{ordinov}}" class="org">Beijing Ordinov Technology</a>
          <br class="break">
        </time>
        <br class="break">
        <br class="break">

        <button type="button" class="collapsible">+</button>
<span class="content">
<p><br>
  Dogsbody work at a small software company in Beijing. Handled expenses, learned Mandarin, looked at inefficiencies, saved face.
  <br>
</p>
</span>

      </div>
    </li>
 -->
   
 </ul>
</section>
