<style>
  .top {
    display: block;
  }

  #container
  {
    margin: 0 auto;
    text-align: left;
    position: relative;
    padding-bottom: 20px;
    overflow: hidden;
  }

  fieldset {
    border: 1px;
    margin-bottom: 15px;
  }


  #computer {
    font-weight: bold;
    font-size: 30px;
  }

  .mySchtick {
    margin: 0px auto;
    /**/
    position: relative;
  }

  #computerImg {
    float: left;
    padding-right: 20px;
  }


  .roww
  {
    float: left;
    width: 342px;
  }

  .resultRow {
    padding:40px;
  }

  #resultText {
    text-align: right;
  }


  input {
    margin-left: 30px !important;
  }


  @media only screen and (max-device-width: 480px)  {
    .accordion { clear:both; margin-top:80px; }
    .roww { width: 92% }
    .resultRow { padding:10px; }
    #computer { padding-top:10px; }
    #dateDiv { padding-bottom:25px; }
    #computerImg {  float: none;  padding-right: 0px;  height:100%;   width: 100%; }
  }


</style>
