
<h3>"Automatically"</h3>
<p class="def">
	Acting without external intervention, after specifying input and program. I'm treating this as the core property of 'a computer'. An abacus is not a computer, because it doesn't do any operations for you. The Ishango bone, as far as anyone can tell, is also not a computer. A slide rule makes you do the intermediate steps and so isn't a computer. <br>
</p>
<br>

<h3>"Calculator"</h3>
<p class="def">
	A distinction is sometimes made between computers and mere calculators. For instance, Zuse's Z3 is sometimes said to be an '<a href="{{calc}}">electronic calculator</a>', and not a computer per se. This distinction does not have a physical basis. <br><br>

	I think their point is to make universal computation a necessary condition of being 'a computer' - but this condition would disqualify archetypal computers like the ABC and Colossus. So it doesn't fit. <br><br>

	For my purposes, a calculator is a computer: a special-purpose (arithmetic) computer. So we can talk about the ancient analogue devices and Babbage's inspired flight of general-purpose imagination in the same article.
</p>
<br>


<h3>"Programmable"</h3>
<p class="def">
	Can you change what it computes, without altering the gross structure of the processor?	(Mechanical calculators are nonprogrammable computers, on this account.)<br><br>

	<div class="accordion">
		<h3>Flight of fancy (retracted)</h3>
		<div>
			<i>This section misunderstands the nature of Peano arithmetic and is probably not salvageable</i>. Calculators may well be accidentally mirroring the function of certain nonarithmetic Turing machines, but this is not a sensible use of "reasoning about" or "encoding".<br>

			However! <a href="{{baasic}}">basic computability theory</a> throws a spanner at this: Peano arithmetic can reason about Turing machines. So calculators (which have addition and multiplication) can be made to program other things after all. So 'nonprogrammable' calculators are programmable in a stronger sense than they are not.
			<br><br>
 			So I need to specify something else as the criterion, if I want to preserve the extension. "Not programmable without simulation"? "Without metamathematical encoding"? "Efficiently"? "Without being a smartass"? These all turn to ashes in my mouth.)
 		</div>
 	</div>

	"Programmable" is sometimes used to mean "general-purpose". Actually GP computers are a subset of programmable computers: they're the ones that can be programmed to do '<a href="{{computable}}">anything</a>'.<br><br> 

	(Even worse, "Program-controlled" is sometimes used to mean punch-card or plug-wire programming, as opposed to "stored-program-controlled", for instance regarding the 	Z3 <a href="{{flow}}">here</a>.)
</p>
<br>


<h3>"General-purpose"</h3>
<p class="def">
	This is one of the vaguest terms. I have contorted it to mean: If the device had unlimited memory (and time), could it simulate a <a href="{{utm}}">Universal Turing machine</a>; could it compute all that can be computed?
</p>


