<div class="accordion">

		<h3>"Computer"</h3>
		<div>
			People think they know what they mean when they say "computer" - it's the thing with a screen and a keyboard that gives you cat photos. In that narrow sense, the Xerox Alto (1973) was the first computer.<br><br>

			But this is no good: it disqualifies the first 40 years of computing. Luckily, the clue is in the name: computers are devices for doing computations.<br><br>

			Problem is, <a href="{{Digit}}">all of reality</a> can be <a href="{{Aaronson}}">usefully considered as computations</a>. Everything is a computer, if a computer is just "a system which transforms physical information". The fact that we use voltages to conduct most of our computations is just a convenience.<br><br>
		
			<b>Data</b>: An atom is not a computer. A gun is not a computer. An abacus is not a computer, nor its descendent the slide rule. A <a href="{{Monkey}}">primate doing addition</a> is not the <a href="{{wet}}">kind</a> <a href="{{homin}}">of computer</a> we are talking about. <br><br>

			So we want the first <i>inorganic device that can do complex information-processing automatically, on demand</i>. (Where "complex" is "having intermediate steps between input and output".)<br><br>

			In particular, people tend to want the first <i>modern</i> computer, where "modern" is some collection of the following properties: fully-electronic, Turing-complete, stored-program, binary-digital, parallel, integrated-circuit transistorised, virtualised-memory, instruction-set-architecture machines with GUI support built in.
		</div>


		<h3>"Automatically"</h3>
		<div>
			Acting without external intervention, after specifying input and program. I'm treating this as the core property of 'a computer'. An abacus is not a computer, because it doesn't do any operations for you. The Ishango bone, as far as anyone can tell, is also not a computer. A slide rule makes you do the intermediate steps and so isn't a computer. <br><br>

			I added "inorganic" to exclude chimpanzees or octopi. Sorry.<br><br>
		</div>

		
		<h3>"Calculator"</h3>
		<div>
			A distinction is sometimes made between computers and mere calculators. For instance, Zuse's Z3 is sometimes said to be an '<a href="{{calc}}">electronic calculator</a>', and not a computer per se. This distinction does not have a physical basis. <br><br>

			I think their point is to make universal computation a necessary condition of being 'a computer' - but this condition would disqualify some archetypal computers, like the ABC and Colossus. So it doesn't fit. For my purposes, a calculator is a computer, just a special-purpose (arithmetic) computer. So we can talk about the ancient analogue devices and Babbage's inspired flight of imagination in the same article.<br><br>
		</div>


		<h3>"Programmable"</h3>
		<div>
			Can you change what it computes, without altering the gross structure of the processor, <i>at all</i>?<br><br>

			I think "programmable" is sometimes used as "general-purpose" by others. Actually, GP computers are a subset of programmable computers: the ones that can be programmed to do anything. 
		</div>
		

		<h3>"General-purpose"</h3>
		<div>
			This is one of the vaguest terms. I have contorted it to mean: If the device had unlimited memory (and time), could it simulate a <a href="{{utm}}">Universal Turing machine</a>; could it compute all that can be computed?
		</div>


		
</div>