<div class="footnotes">
<ol>
    <li class="footnote" id="fn:1">
	    Early on, ENIAC claimed the title "first computer" by default, because the others were destroyed by carpet bombing or hidden by classified status. It also did large amounts of useful work computing nuclear physics problems (but the Colossi were hardly toys).<br><br>

	    (Maybe also out of chauvinism, since computer science as a self-aware field was pioneered in American universities.<br><br>

	    An experiment for this: see if definitions of "computer" vary by country. In Germany, where the great mechanical and electromechanical devices were made, you might expect more of the rarefied abstract nonelectronic idea of computation. In America, where universal electronic computation was done first, you should see an emphasis on it.)<br><br>	
	</li>

	<li class="footnote" id="fn:2">
		Where "complex" is just "having intermediate steps between input and output".<br><br>

		I added "inorganic" to exclude chimpanzees or octopi. Sorry.
	</li>


	<li class="footnote" id="fn:3">
		<a href="{{coloss}}">Benjamin Wells has shown</a> that ten Colossi working together(!) could have approximated a universal Turing machine. I honestly don't know whether to count this.
	</li>

</ol>
</div>

<br><br>