<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
    It claimed the generic title of "first computer" by default, partly because others were destroyed by bombing or hidden by classified status. <br><br>

    (Maybe also out of chauvinism, since computer science as a self-aware field was pioneered in American universities.)<br><br>

    Experiment: see if definitions of "computer" vary by country. In Germany, where the great mechanical and electromechanical devices were made, you might expect more of my rarfied abstract nonelectronic idea of computation. In America, where universal electronic computation was done first, you should see an emphasis on it.<br><br>	
	</li>
</ol>
</div>

<br><br>