<style>
    .top {
        font-weight: bold;
    }
</style>

{%		assign williams = "https://blogs.technet.microsoft.com/cdnitmanagers/2008/09/30/michael-williams-bsc-phd-dsc-world-renowned-computing-pioneer-past-president-2007-ieee-computer-society-professor-emeritus-university-of-calgary/"		%}
{%		assign Digit = "https://en.wikipedia.org/wiki/Digital_physics"			%}
{%		assign Aaronson = "http://www.pbs.org/wgbh/nova/blogs/physics/2014/04/is-information-fundamental/"			%}
{%		assign Monkey = "https://www.sciencemag.org/news/2014/04/monkeys-can-do-math"		%}
{%		assign wet = "https://en.wikipedia.org/wiki/Wetware_computer"	%}
{%		assign homin = "https://en.wikipedia.org/wiki/Human_computer"		%}
{%		assign calc = "http://ds-wordpress.haverford.edu/bitbybit/bit-by-bit-contents/chapter-three/3-6-zuses-program-controlled-computers/"	%}

{%		assign volt = "http://blog.brainfacts.org/2014/08/why-do-nervous-systems-use-slow-voltage-changes-rather-than-fast-electric-currents-along-wires/"	%}
{%		assign xkcd = "https://xkcd.com/505/"		%}
{%		assign NLS = "https://en.wikipedia.org/wiki/NLS_(computer_system)"		%}
{%		assign Alto = "https://en.wikipedia.org/wiki/Xerox_Alto"				%}
{%		assign metaphor = "https://en.wikipedia.org/wiki/Desktop_metaphor"		%}
{%		assign Baby = "https://en.wikipedia.org/wiki/Manchester_Small-Scale_Experimental_Machine"		%}
{%		assign Antikythera = "https://en.wikipedia.org/wiki/Antikythera_mechanism"		%}
{%		assign enjinn = "https://en.wikipedia.org/wiki/Analytical_Engine"		%}
{%		assign Z3 = "https://en.wikipedia.org/wiki/Z3_(computer)"			%}
{%		assign shannon = "https://en.wikipedia.org/wiki/A_Symbolic_Analysis_of_Relay_and_Switching_Circuits"		%}
{%		assign colossus = "https://en.wikipedia.org/wiki/Colossus_computer"		%}
{%		assign ENIAC = "https://en.wikipedia.org/wiki/ENIAC"					%}
{%		assign Rojas = "https://mitpress.mit.edu/books/first-computers" 		%}
{%		assign utm = "https://en.wikipedia.org/wiki/Universal_Turing_machine"	%}
{%		assign Flynn = "https://en.wikipedia.org/wiki/Flynn%27s_taxonomy"		%}
{%		assign jaundice = "http://jmorrice.teoma.org.uk/"		%}
{%		assign myData = "https://docs.google.com/spreadsheets/d/1h19whQxDVHUpr16u13eWfmYua-vcRHp9wnhLjSGg9_g/edit?usp=sharing"		%}
{%		assign computable = "https://en.wikipedia.org/wiki/Computable_function"		%}


{%		assign baasic = "https://www.scottaaronson.com/democritus/lec3.html"		%}
{%		assign flow = "https://plato.stanford.edu/entries/computing-history/#Flow"		%}
{%		assign SDS = "https://en.wikipedia.org/wiki/SDS_940"		%}
{%		assign coloss = "https://link.springer.com/chapter/10.1007/978-3-642-03745-0_27"	%}
{%		assign issue = "https://github.com/g-leech/argmin-gravitas/issues"		%}
{%		assign feather = "https://feathericons.com/"		%}
{%		assign trans = "http://transcrypt.org/"		%}

{%		assign cope = "https://sci-hub.se/10.1007/978-3-319-22156-4_3"		%}
{%		assign vinci = "https://history-computer.com/MechanicalCalculators/Pioneers/Leonardo.html"		%}