<style>
    .top {
        font-weight: bold;
    }
</style>

{%		assign Digit = "https://en.wikipedia.org/wiki/Digital_physics"			%}
{%		assign Aaronson = "http://www.pbs.org/wgbh/nova/blogs/physics/2014/04/is-information-fundamental/"			%}
{%		assign Monkey = "https://www.sciencemag.org/news/2014/04/monkeys-can-do-math"		%}
{%		assign wet = "https://en.wikipedia.org/wiki/Wetware_computer"	%}
{%		assign homin = "https://en.wikipedia.org/wiki/Human_computer"		%}
{%		assign calc = "http://ds-wordpress.haverford.edu/bitbybit/bit-by-bit-contents/chapter-three/3-6-zuses-program-controlled-computers/"	%}

{%		assign Baby = "https://en.wikipedia.org/wiki/Manchester_Small-Scale_Experimental_Machine"		%}
{%		assign Antikythera = "https://en.wikipedia.org/wiki/Antikythera_mechanism"		%}
{%		assign enjinn = "https://en.wikipedia.org/wiki/Analytical_Engine"		%}
{%		assign Z3 = "https://en.wikipedia.org/wiki/Z3_(computer)"			%}
{%		assign shannon = "https://en.wikipedia.org/wiki/A_Symbolic_Analysis_of_Relay_and_Switching_Circuits"		%}
{%		assign colossus = "https://en.wikipedia.org/wiki/Colossus_computer"		%}
{%		assign ENIAC = "https://en.wikipedia.org/wiki/ENIAC"					%}
{%		assign Rojas = "https://mitpress.mit.edu/books/first-computers" 		%}
{%		assign utm = "https://en.wikipedia.org/wiki/Universal_Turing_machine"	%}
{%		assign Flynn = "https://en.wikipedia.org/wiki/Flynn%27s_taxonomy"		%}
{%		assign jaundice = "http://jmorrice.teoma.org.uk/"		%}
{%		assign myData = "https://docs.google.com/spreadsheets/d/1h19whQxDVHUpr16u13eWfmYua-vcRHp9wnhLjSGg9_g/edit?usp=sharing"		%}