<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
    	Evidence: Native speakers of a language are remarkable in their recall and live generation, even when the language is <a href="{{fuzz}}">luridly</a> <a href="{{lang}}">complex</a>. The weakness of adult language learning is no counterevidence, since you wouldn't need more than one.
    	<br><br>

    	Counterevidence: Physical and social clumsiness is common, with <a href="{{dys}}">maybe 6%</a> with some form of dyspraxia. Many people find it extremely difficult to find a partner. The current physical and social environment is very different, but we fail on easy cases, e.g. dropping things when walking on flat surfaces.
	</li>
</ol>

</div>