<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
		We can ignore other things that caffeine is clearly very good for<br><br>

		* Emergency sleep deferral. <br>
		* Reaction time <br>
		* <a href="{{ath}}">Athletic performance</a>.<br>
		* Making yourself anxious for some reason
		<br><br>
		I'm also ignoring the neuroprotection claim, that it helps delay dementia.
	</li>	

    <li class="footnote" id="fn:2">
    	A dose is ~completely cleared well within 2 days (max half-life <a href="{{kar}}">9.5 hours</a>). Withdrawal <i>symptoms</i> stop after at most 9 days, but who knows how long the downregulation lasts.
    </li>

	<li class="footnote" id="fn:3">
		And we know <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4242593/">the ceiling on the genetic component</a>:
	    <blockquote>
	    	Twin studies find the heritability of caffeine-related traits to range between 0.36 and 0.58
	    </blockquote>
	</li>
	<!--  -->
	<li class="footnote" id="fn:4">
		That graph is one dose per day but we can imagine the effect of several doses being similar, either with multiple cycles per day or a bigger crash overnight.
	</li>
</ol>
</div>