{% 	assign slug = page.title | slugify %}

<div class="accordion">
	<h3>Comments</h3>
	<div>

	{% if site.data.comments[slug] %}

	  {% assign comments = site.data.comments[slug] | sort %}

	  {% for comment in comments %}
	    <br>
	    <b>{{ comment[1].name }}</b> commented on <em>{{ comment[1].date | date: "%d %B %Y" }}</em> :
	    <p><blockquote>{{ comment[1].message | markdownify }}</blockquote>
	    <hr>
	  {% endfor %}
	  <p>
	{% endif %}

	    <br>
	    <b>Luke</b> commented on 17 February 2020 :
	    <p><blockquote>   Worth noting that upholding society (law, health, etc) could be considered x risk reduction. Or, put another way: we are blocking most paths to society collapse, species extinction. The remaining risks are then naturally given fewer resources, otherwise they wouldn't be in the x risk category. 
	    </blockquote>
	    <hr>



	<div style="padding:20px; padding-bottom: 80px; text-align: center;">

	<big>Post a comment (with Markdown):</big><br><br>

		<form method="POST" action="{{site.comments_integration_url}}" >
		  	<input name="options[redirect]" type="hidden" value="http://gleech.org">
			
		  	<input name="options[slug]" type="hidden" value="{{ slug }}">
			<input name="fields[name]" type="text" placeholder="your name">
			<input name="fields[email]" type="email" placeholder="at@at.com"><br><br>
			<textarea name="fields[message]" placeholder="

			Comments appear after moderation btw." style="height:150px;width:70%;"></textarea><br>

			<button id="sub" type="submit">Post</button><br>
			<input type="checkbox" id="guardBox" name="guard" value="enableSubmit">Enable submit button<br>
		</form>
	</div>

	</div>
</div><br>


<!-- Too much spam; let's see if this works -->
<script>
	const submit = document.getElementById("sub")
	submit.disabled = true;

	const checkbox = document.getElementById('guardBox')

	checkbox.addEventListener('change', (event) => {
	  if (event.target.checked) {
	    submit.disabled = false;
	  } 
	})
</script>
