{% 	assign slug = page.title | slugify %}

<div class="accordion">
	<h3>Comments</h3>
	<div>

	{% if site.data.comments[slug] %}

	  {% assign comments = site.data.comments[slug] | sort %}

	  {% for comment in comments %}
	    <br>
	    <b>{{ comment[1].name }}</b> commented on <em>{{ comment[1].date | date: "%d %B %Y" }}</em> :
	    <p><blockquote>{{ comment[1].message | markdownify }}</blockquote></p>
	    <hr>
	  {% endfor %}
	  
	{% endif %}

	    <br>
	    <b>Luke</b> commented on 17 February 2020 :
	    <p><blockquote>   Worth noting that upholding society (law, health, etc) could be considered x risk reduction. Or, put another way: we are blocking most paths to society collapse, species extinction. The remaining risks are then naturally given fewer resources, otherwise they wouldn't be in the x risk category. 
	    </blockquote></p>
	    <hr>
	    <br>


	<div style="padding:20px; padding-bottom: 80px; text-align: center;">
		<big>Post a comment:</big><br><br>
		<form name="comment"  action='{{page.baselink}}' netlify>
		  <p>
		    <label>Name <input type="text" name="name" /></label>
		  </p>
		  <p>
		    <label>Email <input type="email" name="email" /></label>
		  </p>
		  <p>
		  <label>
		  	<textarea name="message" cols="30" rows="6" placeholder="appears after moderation"></textarea>
		  </label>
		  </p>
		  <p>
		    <button type="submit">Send</button>
		  </p>
		</form>
	</div>

	</div>
</div><br>



