
<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
    	I have friends who tried the OU Spanish language degree and didn't do well, for obvious reasons.<br><br>

    	Another reason to study stats is that it's one of the only subjects which improves your reasoning outside of the classroom, outside of being directly primed to think about it (it demonstrates "far transfer of learning"). (<a href="https://books.google.co.uk/books?id=Mws8DwAAQBAJ&printsec=frontcover&dq=the+case+against+education&hl=en&sa=X&ved=0ahUKEwjEioe7hsbhAhXOZFAKHS3rA1AQ6AEIKDAA#v=onepage&q=chapter%202&f=false">see Chapter 2 here</a>)<br><br>
    </li>

	<li class="footnote" id="fn:2">
		This can be taken two ways though: the rate for face-to-face degrees is <a href="{{face}}">80%</a>. But most of this "distance gap" is probably because the OU is so much less selective than the face-to-face unis - so it isn't necessarily a bad sign.<br><br>

		Bit of <a href="https://unistats.ac.uk/subjects/satisfaction/10007773PT-Q36/ReturnTo/">student satisfaction</a> stuff here, but remember that satisfaction may be inversely correlated to learning (students like easy classes).<br><br>

    	It's difficult to compare the private rate of return on an OU degree, because the median graduate is so much older than other unis, and so <a href="https://www.savethestudent.org/student-jobs/best-uk-universities-for-graduate-salaries.html">earns more</a> for other reasons.<br><br>
    </li>
</ol>

</div>