
<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
    	I have friends who tried the OU Spanish language degree and didn't do well, for obvious reasons.
    </li>

	<li class="footnote" id="fn:2">
		Most of the "distance gap" is probably because the OU is so much less selective than the face-to-face unis, and so isn't really a bad sign.<br><br>

		Bit of <a href="https://unistats.ac.uk/subjects/satisfaction/10007773PT-Q36/ReturnTo/">student satisfaction</a> stuff here, but remember that satisfaction may be inversely correlated to learning (students like easy classes).<br><br>

    	It's difficult to compare the private rate of return on an OU degree, because the median graduate is so much older than other unis, and so <a href="https://www.savethestudent.org/student-jobs/best-uk-universities-for-graduate-salaries.html">earns more</a> for other reasons.<br><br>
    </li>
</ol>

</div>