<div class="accordion">
    <h3>The functions of uni</h3>
    <div>
    	Why do people go to uni? And how well does the OU serve?<br><br>
    	<ul>
    		<li>
    			<i>Skill acquisition</i>: High. Probably slightly better than the average university. I will never forget TeX, Maxima and Mathematica, distribution theory, model checking, statistical pitfalls.
    		</li><br>
    		<li>
    			<i>Signalling</i>: Medium. Finishing signals determination and practicality, especially if you're working alongside it. But none of the sheer Distinction of fancy places.
    		</li><br>
    		<li>
    			<i>Network</i>: Low. The average student is older and more influential, but you're less likely to bond.
    		</li><br>
    		<li>
    			<i>Socialising</i>: Low. Only tutorials and forums, no serendipity or golden timeless afternoons.
    		</li>
    	</ul>
    </div>
</div>