<div class="accordion">
    <h3>The functions of uni</h3>
    <div>
    	Why do people go to uni? And how well does the OU serve?<br><br>
    	<ul>
    		<li>
    			<i>Skill acquisition</i>: High. Probably slightly better than the average university. I will never forget TeX, Maxima and Mathematica, distribution theory, model checking, statistical pitfalls. The key thing that makes uni beat self-study (for most people) is structure and tempo: maths is hard, so unless you are blessed with the knack or iron self-control, you will be helped by deadlines and curricula. What makes the OU beat other unis is the friendliness of the materials and the quality and volume of the exercises.
    		</li><br>
            
            <li>
                <i>Intellectual nooks</i>: Medium. ~Forced exposure to unusual areas of intellectual space, giving you vocabulary to Google through your life. You can live a full life without ever hearing that Robinson grounded infinitesimal calculus in the 60s, or that there's a very rich theory of academia as petty warfare, boundary work, and contrived distinction without difference. Most do.
            </li><br>


            <li>
                <i>Rigour</i>: Low. One failure mode of autodidacts is to view the blog post as the contribution, rather than the polishing against other minds, or the proof, or the code.
            </li><br>

    		<li>
    			<i>Signalling</i>: Low/Medium. Degree to which the degree is a permit entitling you to one (1) middle class career. Finishing the course signals unusual determination, top decile; doing it alongside work signals unusual energy, practicality, time management. But the open admissions mean there is none of the sheer Distinction of fancy places, where you are rewarded just for what getting in implies about you. And since most people won't know about the determination signal, it can't help you.
    		</li><br>

    		<li>
    			<i>Network</i>: Low. One of the few places in the world to find underemployed super-smart people to become your founders and coterie. The average OU student is older and more influential, but you're less likely to bond. 
    		</li><br>

    		<li>
    			<i>Socialising</i>: Low. Only tutorials and forums, no serendipity or lulz or bonding for life. Special case: assortative mating. (Very little!) Or is that network.
    		</li><br>

            <li>
                <i>Illegible self-development and freedom</i>. Golden timeless afternoons.
            </li>

    	</ul>
    </div>
</div>