<div class="accordion">
    <h3>The functions of uni</h3>
    <div>
    	Why do people go to uni? And how well does the OU serve?<br><br>
    	<ul>
    		<li>
    			<i>Skill acquisition</i>: High. Probably slightly better than the average university. I will never forget TeX, Maxima and Mathematica, distribution theory, model checking, statistical pitfalls. The key thing that makes uni beat self-study (for most people) is structure and tempo: maths is hard, so unless you are blessed with the knack or iron self-control, you will be helped by deadlines and curricula. What makes the OU beat other unis is the friendliness of the materials and the quality and volume of the exercises.
    		</li><br>
    		<li>
    			<i>Signalling</i>: Low/Medium. Finishing the course signals unusual determination, top decile; doing it alongside work signals unusual energy, practicality, time management. But the open admissions mean there is none of the sheer Distinction of fancy places, where you are rewarded just for what getting in implies about you. And since most people won't know about the determination signal, it can't help you.
    		</li><br>
    		<li>
    			<i>Network</i>: Low. The average student is older and more influential, but you're less likely to bond.
    		</li><br>
    		<li>
    			<i>Socialising</i>: Low. Only tutorials and forums, no serendipity or golden timeless afternoons.
    		</li>
    	</ul>
    </div>
</div>