<div class="accordion">
    <h3>My syllabus</h3>
    <div>
        <ul>
        	<li><i>MST121 Using mathematics</i> - Algebra refresher, trig, functions, calc, etc.  </li><br>
			<li><i>M140 Introducing statistics</i> - descriptive stats, sampling theory, lines. 	</li><br>
			<li><i>TM129 Technologies in practice</i> - toy robotics, home Linux admin, Windows networking.</li><br>
			<li><i>MST125 Essential mathematics 2</i> - proof technique, number theory, conics, linear algebra, ODEs, mechanics, eigens, combinatorics.	</li><br>
			<li><i>MST210 Mathematical methods and modelling</i> - Newtonian mechanics, oscillators, vector calculus, systems of particles and two-body problems. </li><br>
			<li><i>M248 Analysing data</i> - exploration; distribution theory; inference; point & interval estimation; boring hypothesis tests; nonparametric tests; regression.</li><br>
			<li><i>M249 Practical modern stats</i> - experimental design; time series; multivariates; basic Bayesianism.	</li><br>
			<li><i>M343 Applications of probability theory</i> - spatial processes; discrete-time processes; queuing theory, epidemiology, birth-death and population genetics; renewal processes, Brownian motion models.</li><br>
			<li><i>M346 Linear modelling</i> - the regression ladder up to the full, lovely, outmoded <a href="{{glmm}}">GLMM</a>.</li><br>
			<li><i>M373 Optimization</i> - numerical analysis and iteratives; Gaussian elimination; linear and integer programming; constrained non-linear optimization.</li><br>
			<li><i>M347 Mathematical statistics</i> - asymptotic results, distribution theory; Classical inference; Bayesian inference and simulation.</li><br>
			<li>Electives I didn't take but wanted to: Complex analysis, graph theory, stochastics.</li>
        </ul><br>

        I would rank these for you, but then part of the experience depends on the tutor you randomly get. M343, M373, M347 are among the best courses I've ever taken: very deep, nonroutine, hard-to-digest foundations of almost all science.
	</div>
</div>

