Hofstadter:<br><br>


<i>"Is a mind a complicated kind of abstract pattern that develops in an underlying physical substrate, such as a vast network of nerve cells? If so... could something else be substituted for the tiny nerve cells, such as millions of small computational units made of arrays of transistors, giving rise to an artificial neural network with a conscious mind?... In short, can thinking and feeling emerge from patterns of activity in different sorts of substrate − organic, electronic, or otherwise?
<br><br>

...Could a language-using machine give the appearance of understanding sentences and coming up with ideas while in truth being as devoid of thought and as empty inside as a nineteenth-century adding machine or a twentieth-century word processor? ...Are understanding and reasoning incompatible with a materialistic, mechanistic view of living beings?
<br><br>

Could a machine ever be said to have made its own decisions? Could a machine have beliefs? Could a machine believe it made its own decisions? Could a machine erroneously attribute free will to itself?... Could creativity emerge from a set of fixed rules? Are we − even the most creative among us − but passive slaves to the laws of physics that govern our neurons?
<br><br>

...Could a machine be frustrated and suffer? Could a frustrated machine release its pent-up feelings by going outdoors and self-propelling ten miles? Could a machine learn to enjoy the sweet pain of marathon running? Could a machine with a seeming zest for life destroy itself purposefully one day, planning the entire episode so as to fool its mother machine into “thinking” that it had perished by accident?</i>
<br><br>

<blockquote>
- These are the sorts of questions that burned in the brain of Alan Mathison Turing, the great British mathematician who spearheaded the science of computation; yet if they are read at another level, these questions also reveal highlights of Turing’s troubled life.
</blockquote>
<br><br>

<hr />

<br>

Hodges:

<br>

<blockquote>
...the sheer timelessness of pure mathematics transcends the limitations of his twentieth-century span. When Turing returned to the prime numbers in 1950, they were unchanged from when he left them in 1939, wars and superpowers notwithstanding. As GH Hardy famously said, they are so. This is mathematical culture, and such was his life, presenting a real difficulty to minds set in literary, artistic or political templates.
</blockquote>
<br>


<blockquote>
...It was difficult enough being a mathematician, this being the frightening subject of which even educated people knew nothing, not even what it was, and of which they might proudly boast ignorance.
</blockquote>
<br>


<blockquote>
Puzzled since childhood by the ‘obvious duties’, he was doubly detached from the imitation game of social life, as pure scientist and as homosexual. Manners, committees, examinations, interrogations, German codes and fixed moral codes – they all threatened his freedom. Some he would accept, some actually enjoy obeying, others reject, but in any case he was peculiarly conscious, self-conscious, of things that other people accepted ‘without thinking’; It was in this spirit that he enjoyed writing formal ‘routines’ for the computer, just as he enjoyed Jane Austen and Trollope, the novelists of social duty and hierarchy. He enjoyed making life into a game, a pantomime. He had done his best to turn the Second World War into a game.
</blockquote>
<br>


<blockquote>
What he had done was to combine such a naive mechanistic picture of the mind with the precise logic of pure mathematics. His machines – soon to be called Turing machines – offered a bridge, a connection between abstract symbols, and the physical world...<br><br>

a pure mathematician worked in a symbolic world and not with things. The machine seemed to be a contradiction... For Alan Turing personally, the machine was a symptom of something that could not be answered by mathematics alone. He was working within the central problems of classical number theory, and making a contribution to it, but this was not enough. The Turing machine, and the ordinal logics, formalising the workings of the mind; Wittgenstein’s enquiries; the electric multiplier and now this concatenation of gear wheels – they all spoke of making some connection between the abstract and the physical. It was not science, not ‘applied mathematics’, but a sort of applied logic, something that had no name.
</blockquote><br>


<blockquote>
It was a very remarkable fact that Emil Post’s [independently conceived] ‘worker’ was to perform exactly the same range of tasks as those of the Turing ‘machine’... Post’s paper was much less ambitious than Computable Numbers; he did not develop a ‘universal worker’ nor himself deal with the Hilbert decision problem... But he guessed correctly that his formulation would close the conceptual gap that Church had left. In this it was only by a few months that he had been pre-empted by the Turing machine, and Church had to certify that the work had been completely independent. So even if Alan Turing had never been, his idea would soon have come to light in one form or another. It had to. It was the necessary bridge between the world of logic and the world in which people did things.
</blockquote><br>


<blockquote>
[A corollary of Turing's discovery of the universal machine]: the law of information technology: all mechanical processes, however ridiculous, evil, petty, wasteful, or pointless, can be put on a computer. <a name="wittgenstein"></a>
</blockquote>
<br><br>



<b>WITTGENSTEIN</b>: … <i>Think of the case of the Liar. It is very queer in a way that this should have puzzled anyone – much more extraordinary than you might think. … Because the thing works like this: if a man says ‘I am lying’ we say that it follows that he is not lying, from which it follows that he is lying and so on. Well, so what? You can go on like that until you are black in the face. Why not? It doesn’t matter. … it is just a useless language-game, and why should anybody be excited?</i><br>
<b>TURING</b>: <i>What puzzles one is that one usually uses a contradiction as a criterion for having done something wrong. But in this case one cannot find anything done wrong.</i><br>
<b>WITTGENSTEIN</b>: <i>Yes – and more: nothing has been done wrong... where will the harm come?</i>  <br>
<b>TURING</b>: <i>The real harm will not come in unless there is an application, in which a bridge may fall down or something of that sort.</i><br>
<b>WITTGENSTEIN</b>: <i>...The question is: Why are people afraid of contradictions? It is easy to understand why they should be afraid of contradictions in orders, descriptions, etc., outside mathematics. The question is: Why should they be afraid of contradictions inside mathematics? Turing says, ‘Because something may go wrong with the application.’ But nothing need go wrong. And if something does go wrong – if the bridge breaks down – then your mistake was of the kind of using a wrong natural law...</i><br>
<b>TURING</b>: <i>You cannot be confident about applying your calculus until you know that there is no hidden contradiction in it.</i><br>
<b>WITTGENSTEIN</b>: <i>There seems to me to be an enormous mistake there. … Suppose I convince Rhees of the paradox of the Liar, and he says, ‘I lie, therefore I do not lie, therefore I lie and I do not lie, therefore we have a contradiction, therefore 2 × 2 = 369.’ Well, we should not call this ‘multiplication’, that is all...</i><br>
<b>TURING</b>: <i>Although you do not know that the bridge will fall if there are no contradictions, yet it is almost certain that if there are contradictions it will go wrong somewhere.</i><br>
<b>WITTGENSTEIN</b>: <i>But nothing has ever gone wrong that way yet...</i>

<br><br><br>


<blockquote>
So in the summer of 1940, Alan Turing found himself in the position of telling other people what to do, for the first time since school. It was like school inasmuch as the WRNS and the ‘big room girls’ played the role of ‘fags’... one notable difference from school was that it brought him for the first time into contact with women... he specifically told [Joan] that he was glad he could talk to her ‘as to a man’. Alan was often lost when dealing with the Hut 8 ‘girls’, not least because he was unable to cope with the ‘talking down’ which was expected. But Joan’s position as cryptanalyst gave her the status of an honorary male.<br><br>

It was the first time in his life that he had mixed with ordinary people for any length of time, people picked out neither by social class nor by a special kind of intellect. It was a typical Turing irony that this should happen at an establishment working for the secret service. [He was 30 at this point.]
</blockquote>
<br>


<blockquote>
Alan’s own youthfulness much endeared him to the younger recruits... it was hard to decide whether one so ‘schoolboyish’ could be as much as thirty, or whether one carrying so much intellectual standing could be so young. A conversation with him was like being invited into some older boy’s study where House Colours and Chapel Parade gave way to illicit jazz and D.H. Lawrence novels, but where the housemaster had to turn a blind eye because a precious scholarship was being won.
</blockquote>
<br>




<blockquote>
In 1941 everyone had to knit and glue and make their own entertainments... the siege mentality suited Alan rather well, with matters of social protocol that in the 1930s seemed so important now falling into abeyance. He always liked making things for himself, be they gloves, radio sets or probability theorems. At Cambridge he had a way of telling the time from the stars. Now the war was on his side. In a more self-sufficient England, everyone had to live in a more Turingesque way, with less waste of energy.
</blockquote>
<br>



<blockquote>
His high-pitched voice already stood out above the general murmur of well-behaved junior executives grooming themselves for promotion within the Bell corporation. Then he was suddenly heard to say: ‘No, I’m not interested in developing a powerful brain. All I’m after is just a mediocre brain, something like the President of the American Telephone and Telegraph Company.’ The room was paralysed, while Alan nonchalantly continued to explain how he imagined feeding in facts on prices of commodities and stock, and asking the machine the question ‘Do I buy or sell?’
</blockquote>
<br>



<blockquote>
As at school, trivial examples of ‘eccentricity’ circulated in Bletchley circles. Near the beginning of June he would suffer from hay fever, which blinded him as he cycled to work, so he would use a gas mask to keep the pollen out, regardless of how he looked. The bicycle itself was unique, since it required the counting of revolutions until a certain bent spoke touched a certain link (rather like a cipher machine), when action would have to be taken to prevent the chain coming off. Alan had been delighted at having, as it were, deciphered the fault in the mechanism, which meant that he saved himself weeks of waiting for repairs, at a time when the bicycle had again become what it was when invented – the means of freedom. It also meant that no one else could ride it.<br><br> 

He made a more explicit defence of his tea-mug (again irreplaceable, in wartime conditions) by attaching it with a combination lock to a Hut 8 radiator pipe. But it was picked, to tease him.<br><br>
</blockquote><br>



<blockquote>
Trousers held up by string, pyjama jacket under his sports coat – the stories, whether true or not, went the rounds. And now that he was in a position of authority, the nervousness of his manner was more open to comment. There was his voice, liable to stall in mid-sentence with a tense, high-pitched ‘Ah-ah-ah-ah-ah’ while he fished, his brain almost visibly labouring away, for the right expression, meanwhile preventing interruption. The word, when it came, might be an unexpected one, a homely analogy, slang expression, pun or wild scheme or rude suggestion accompanied with his machine-like laugh; bold but not with the coarseness of one who had seen it all and been disillusioned, but with the sharpness of one seeing it through strangely fresh eyes. ‘Schoolboyish’ was the only word they had for it. Once a personnel form came round the Huts, and some joker filled in for him, ‘Turing A.M. Age 21’, but others, including Joan, said it should be ‘Age 16’...<br><br>


It was demeaning, but the repetition of superficial anecdotes about his usually quite sensible solutions to life’s small challenges served the useful purpose of deflecting attention away from the more dangerous and difficult questions about what an Alan Turing might think about the world in which he lived. English ‘eccentricity’ served as a safety valve for those who doubted the general rules of society. More sensitive people at Bletchley were aware of layers of introspection and subtlety of manner that lay beneath the occasional funny stories. But perhaps he himself welcomed the chortling over his habits, which created a line of defence for himself, without a loss of integrity.
</blockquote><br>


<blockquote>
Glennie sometimes thought of Alan as Caliban, with his dark moods, sometimes gleeful, sometimes sulky, appearing in the laboratory on a somewhat random basis. He could be absurdly naive, as when bursting with laughter at a punning name that Glennie made up for an output routine: 'RITE'. To Cicely Popplewell he was a terrible boss, but on the other hand, there was no question of having to be polite or deferent to him – it was impossible. He was regarded as a local authority on mathematical methods; those who wanted a suggestion would just have to ask him straight out, and if they could keep his interest and patience, they might get a valuable hint... he was no world-standard mathematician, and it was often more amazing to the professional mathematician what he did not know, than what he did... indeed he had read very little mathematics since 1938.
</blockquote>
<br>



<blockquote>
Alan Turing presumably thought that eventually a machine would be capable of writing a book such as this [Hodge's biography of Turing]. In his 1951 radio talk, set against the opening of the Festival of Britain, he commented that ‘It is customary... to offer a grain of comfort, in the form of a statement that some peculiarly human characteristic could never be imitated by a machine. I cannot offer any such comfort, for I believe that no such bounds can be set.’
</blockquote>
<br><br>




<blockquote>
In an end-of-term sing-song [at Sherborne, when Turing was 12], the following couplet described him:
 
<blockquote>
Turing’s fond of the football field
For geometric problems the touch-lines yield
</blockquote>
... another verse had him ‘watching the daisies grow’ during hockey... although intended as a joke against his dreamy passivity, there might have been a truth in the observation.<br><br><br>

[20 years later] ...One day he and Joan were lying on the Bletchley lawn looking at the daisies... Alan produced a fir cone from his pocket, on which the Fibonacci numbers could be traced rather clearly, but the same idea could also be taken to apply to the florets of the daisy flower.<br><br><br>

[30 years later] ...he was trying out on the computer the solution of the very difficult differential equations that arose when [one] followed the chemical theory of [plant] morphogenesis beyond the moment of budding... it also required some rather sophisticated applied mathematics, which involved the use of ‘operators’ rather as in quantum mechanics. Numerical analysis was also important... In this it was like a private atomic bomb, the computer in both cases following the development of interacting fluid waves.<br><br>

...he also developed a purely descriptive theory of leaf-arrangement... using matrices to represent the winding of spirals of leaves or seeds round a stem or flower-head... The intention was that ultimately these two approaches would join up when he found a system of equations that would generate the Fibonacci patterns expressed by his matrices.<br><br>

...Such observations reflected an insight gained from... [a program called] ‘Outline of Development of the Daisy’. He had quite literally been ‘watching the daisies grow’...  on his universal machine.
</blockquote>
<br><br>



Gödel:
<blockquote>
[Tarski and I both stress] the great importance of the concept of... Turing's computability... this importance is largely due to the fact that, with this concept, one has for the first time succeeded in giving an absolute notion to an interesting epistemological notion, i.e., one not depending on the formalism chosen
</blockquote><br>


<blockquote>
Going even further, modern papers sometimes employ the usage of 'turing machine'. Sinking without a capital letter into the collective mathematical consciousness (as with the 'abelian group', or the 'riemannian manifold') is probably the best that science can offer in the way of canonisation.
</blockquote>
<br>

