<div class="footnotes">
<ol>
	<li class="footnote" id="fn:1">
		I did a Gracean hypothesis dump on why quality is rare <a href="https://www.gleech.org/quality/">here</a>.
	</li>


	<li class="footnote" id="fn:2">
		Just one example: in Anglicised yoga the sternum is called the "<a href="https://en.wikipedia.org/wiki/Anahata">heart's centre</a>", despite that not being where the heart actually is. It looks like there was a clash between symmetry and awkward fact, and symmetry won. (I realise this might be a translation thing, or a metaphorical heart. Treat this as a stand-in for the method's prescientific, nonempirical red flags.)
	</li>


</ol>

</div>

