A stream of associations rather than an argument. But:<br><br>

<ol>
	<li>
		Several stereotypes of my generation (the present under-35s) are: wholesome memes, openness about inadequacy, nostalgia (remakes, rewatching, revivals), and extended adolescence ("neoteny"). If these are in fact distinctive, what explains this?
	</li>

	<li>
		Irony is maybe pervasive, and youth culture is maybe more contrarian than it is ironic. So to be sincere and positive is contrarian. (Actually mostly there's a strange hybrid of both.)
	</li>

	<li>	
		We're a pessimistic bunch compared to 90s youth. But pessimism could inspire either irony and sincerity: detachment or comfort so meh. Also, thinking that the present is bad maybe causes nostalgia for a supposedly good past.
	</li>

	<li>
		Another cause of nostalgia is maybe the recent <a href="https://www.gwern.net/The-Melancholy-of-Subculture-Society">fragmentation of culture</a>. Remakes return us to a time of blockbuster common interests. You can talk to basically anyone about the next redo of <i>Jungle Book</i>; you cannot do this about the latest Glowfic session, or .
	</li>

	<li>
		Postmodernism is a bad explanation for mass irony. Or anything.
	</li>
</ol>




