{%		assign thousands = "https://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=search"	%}
{%		assign uk = "https://www.hfma.co.uk/media-events/industry-facts/"			%}
{%		assign ec = "https://ec.europa.eu/food/safety/labelling_nutrition/claims/register/public/?event=register.home"	%}
{%		assign multi = "https://www.cochrane.org/CD007176/LIVER_antioxidant-supplements-for-prevention-of-mortality-in-healthy-participants-and-patients-with-various-diseases"		%}

{% 		assign caff = "https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6212886/"		%}
{% 		assign claims = "https://www.which.co.uk/news/2013/08/supplements-are-they-worth-it-330480/"	%}
{% 		assign d = "https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/537616/SACN_Vitamin_D_and_Health_report.pdf"	%}
{% 		assign powder = "http://www.lpp.nhs.uk/media/164887/1kcal-review-and-flowchart-final-and-ready-for-pdf-plus-rh.pdf"		%}
{% 		assign baco = "https://www.ncbi.nlm.nih.gov/pubmed/23824547"		%}

{% 		assign morph = "https://ebn.bmj.com/content/7/3/84#ref-3"		%}
{% 		assign ebm = "https://sciencebasedmedicine.org/is-there-a-reproducibility-crisis-in-biomedical-science-no-but-there-is-a-reproducibility-problem/"	%}
{% 		assign ioan = "https://www.ahajournals.org/doi/full/10.1161/CIRCRESAHA.114.303819?url_ver=Z39.88-2003&rfr_id=ori%3Arid%3Acrossref.org&rfr_dat=cr_pub%3Dpubmed&"	%}
{% 		assign ioan2 = "https://onlinelibrary.wiley.com/doi/abs/10.1111/1468-0009.12210"		%}
{% 		assign ioan3 = "https://jamanetwork.com/journals/jama/fullarticle/201218"		%}

{%		assign selves = "https://en.wikipedia.org/wiki/Self-experimentation#Current_practitioners_of_self_experimentation" %}
{%		assign sarek = "https://forum.effectivealtruism.org/posts/mPM7gKicJYQKhtAB8/how-to-improve-your-productivity-a-systematic-approach-to"		%}
{%		assign g = "https://www.gwern.net/tags/experiments"	%}
{%		assign vitl = "https://vitl.com/"	%}
{%		assign algernon = "https://www.gwern.net/Drug-heuristics#eoc"	%}
{%		assign mito = "https://en.wikipedia.org/wiki/Hormesis#Mitochondria"		%}
{%		assign nintil = "https://nintil.com/longevity/"		%}
{%		assign karp = "http://karpathy.github.io/2020/06/11/biohacking-lite/"		%}