<ol>
	<li>Anthropologists often claim that hunter-gatherers were better off than us.</li>
	<li>One specific testable subclaim is that they worked fewer hours than us. </li>
	<li>The data does not support this.</li>
</ol>
<ol>
	<li>Industrial folk could in fact work much less than we do.</li>
	<li>Consumption demand, conspicuous consumption races, and social norms about unemployment explain some of this.</li>
	<li>But we shouldn't discount the idea that many people actually just like work.</li>
</ol>