.container {
  display: flex;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 10px;
}
svg {
	display: block;
  height: 20px;
  padding-bottom: 0px;
}
.gap {
	margin-right: 10px;
}
.wee {
	/*padding-left: 16px;*/
	padding-right: 6px;
}
.playlists{
  display: flex; 
  flex-wrap: wrap; 
  gap: 1em 0.5em;
  /* padding-left: 0.5em; */
  margin-left: 2em;
  margin-top: 1em;
}
.playlists a{
  display: flex;
  gap: 2px;
  align-items: center;
}