<ol>
    <li>
        On the face of it, I should love the life of the liberal arts. Why don't I?
    </li>
    <li>
        Some psychological reasons of course - chiefly contrarianism and impatience.
    </li>
    <li>
        But some real reasons too: <br>
        Differing trust in the Burkean selection of texts<br>
        Differing trust in individual/current-group rationality<br>
        Without rationalists, the traditionalists' canon would be much smaller<br>
        The Kantians among them cannot will their behaviour as a universal maxim<br>
        The time-inconsistency of their attitude to future Great Books bothers me<br>
        At this point we have a 250 year tradition of tearing down fences and coming out well on net.<br>
        It's wrong to withdraw from the world.
    </li>
</ol>