<i><a href="http://inference-review.com/article/the-mother-lode">Inadequacies</a></i> is a catalogue of silly statements by scientists or journalists. It's sort of the gag page of the Inference Review, a witty and arch journal for scientific prose. Entries fall into at least one of:<br><br>

<ul>
	<li>Exaggeration (E)</li>
	<li>Irreproducible results (IR)</li>
	<li>Inadequate data (ID)</li>
	<li>Begging the question (BQ)</li>
	<li>Confusing correlation with causation (CCC)</li>
	<li>Plagiarism (P)</li>
	<li>Ill-conceived experiments (ICE)</li>
	<li>Ill-defined concepts (IDC)</li>
	<li>Conflicts of interest (CI)</li>
	<li>Scientists behaving badly (SBB)</li>
	<li>The numbers don’t add up (2 + 2 = 5)</li>
	<li>Purely ornamental mathematics (POM)</li>
	<li>Appalling prose (AP)</li>
	<li>Why did someone publish this? (WDSPT)</li>
	<li>Just plain dumb (JPD)</li>
	<li>Don’t touch our funding (DTF)</li>
	<li>We told you so (WTYS)</li>
	<li>Too close to call (TCC)</li>
	<li>Could be (CB)</li>
	<li>Stating the Obvious (SO)</li>
	<li>All of the Above (AA)</li>
</ul>

<br>
