I approximate a book's value by guessing how often I'll reread it. This rewards dense books, sure, but also ones with broad and complex messages, durability, appeal to people of different ages, and also just the pleasure and beauty of them. I think most books are not worth the time and a small number (< 8% in <a href="{{MyReading}}">a highly selected sample</a>) are worth more than one reading.<br>

<ul>
	<li>1/5: Not worth one reading.</li>
	<li>2/5: One read maybe, if you're into the topic.</li>
	<li>3/5: Worth one skim.</li>
	<li>3*/5: Great fun, one read. 'Mind candy'.</li>
	<li>4/5: Very good. but one read will do.</li>
	<li>5?/5: Amazing. Will reread.</li>
	<li>5/5: Have reread and expect to do so indefinitely. A companion.</li>
</ul>