We can piece together a concerted response to abolitionism by distilling the valid criticisms from above, and attempt to synthesise the evidence for and against them. (I actually have to add in a few, because they weren't covered properly by the abolitionists.) My attempt is Table 1.<br><br> 

(Again, note that the aid process faces hundreds of distinct problems – the following is limited to overviews of the most potent.)
<br><br>


<div class="accordion"> 

<h3>Mechanisms for aid’s impact</h3>
<div>
	<h4>Direct effects</h4>

		Fragmentation and bureaucratic deadweight. In theory, where aid is ‘fragmented’ (delivered by many donors or in many small projects), a large, revenue-consuming domestic bureaucracy is required to report on the aid. In practice, there is evidence suggests that fragmentation does impair the quality of LDC <a href="#fn:102" id="fnref:102">102</a> , but no detailed analysis is yet available.<br><br> <br>


	<h4>Institutional effects</h4>
		<span style="font-weight:bold">“The Aid Curse”</span>. In theory, any pool of expenditure independent of the tax base (and so democratic accountability) can “curse”; that is, cause institutional damage, such as increased  corruption, rent-seeking and autocracy. (This was first identified in natural resource-rich LDCs.) In practice, these effects are not exhibited across recipients in the post-Cold War period. <a href="#fn:103" id="fnref:103">103</a> Sarah Bermeo explains this by the fall in fully-fungible ‘budget support’ aid: “Contrary to previous studies, I show that it is donor intent, and not an unintended “curse” associated with increased financial flows, that influences this relationship.” <a href="#fn:104" id="fnref:104">104</a><br><br> 

		<span style="font-weight:bold">The Samaritan’s Dilemma</span>. In theory, aid can lead to moral hazard on a grand scale, because the anticipation of aid diminishes responsible budgeting and self-directed development work, creating, perhaps, dependency and chronic inefficiency. In practice, dependency is extraordinarily hard to operationalise. Aid/GDP or Aid/budget ratios are too detached from the ground-level problem to indicate very much. <br><br> 

		<span style="font-weight:bold">False-paradigm conditionality</span>. In theory, aid given conditional on policy changes can lead to IFI economists causing large-scale economic damage, owing to the misapplication of models or lack of local knowledge and analysis. In practice, the evidence is that this was prevalent and remains worryingly high; Riddell demurs giving a quantitative damage estimation, in terms of cost or scale, but implies its costs were and are severe. <a href="#fn:105" id="fnref:105">105</a><br><br> 

		<span style="font-weight:bold">Distorted incentives</span>. In theory, imports such as tied aid can replace domestic products, harming domestic industries. They can also undermine local markets by simple supply and demand logic: increased supply depresses prices, weakening incentives to produce. In practice, this has been seen – severely so with regards to (now largely discredited) food aid. <a href="#fn:106" id="fnref:106">106</a> 


	<h4>Macroeconomic effects</h4>
		Does aid boost growth? Four problems preclude tidy summary of the net effect: <br><br> 

		<ol>
			<li>
				<span style="font-weight:bold">Weak data</span>. Riddell emphasises the partial and provisional nature of all cross-country and much individual project data. The gaps are staggering: the largest failing of donors to date has perhaps been the simple failure to study actual outcomes of giving. <a href="#fn:107" id="fnref:107">107</a> <i>Pace</i> Hayter, it seems likely that most abuses would stop were donors to look more closely.
			</li><br>

			<li>
				<span style="font-weight:bold">Vast cross-country variation</span>. The marginal benefit of aid varies enormously across target nations, sectors of nations, and by volume. David Roodman’s index discounts a dollar of aid to Iraq to 22¢ per dollar (due to Iraq’s aid saturation and endemic corruption), while aid to Ghana counts 97¢ in the dollar (due to its high poverty and adequate governance). <a href="#fn:108" id="fnref:108">108</a> 
			</li><br>

			<li>
				<span style="font-weight:bold">Enormous confounding shocks to LDCs</span>. The developing world underwent vast political, ecological, and economic violence over the modern aid period. The Centre for Systemic Peace notes that of the 348 ‘major episodes of political violence’ since World War II, 339 occurred primarily in LDCs. <a href="#fn:109" id="fnref:109">109</a> 79% of large-scale catastrophes occurred in countries receiving aid, as did 90% of the severe droughts. <a href="#fn:110" id="fnref:110">110</a> The burden of the AIDS epidemic falls disproportionately on the poor. These latter natural events prohibit the apparent causality exploited by Moyo, that aid is correlated with disaster.
			</li><br>

			<li>
				<span style="font-weight:bold">Contradicting overviews</span>. One famous paper by Burnside and Dollar (2000) found a good correlation given “good fiscal, monetary and trade policies”; their conclusion became received wisdom for a time. <a href="#fn:111" id="fnref:111">111</a> However, Easterly et al (2003) ran their method with broader data, and undermined it. <a href="#fn:112" id="fnref:112">112</a> Clemens et al (2004) <a href="#fn:113" id="fnref:113">113</a> found a strong short-term aid-growth link regardless of policies; Rajan & Subramanian (2005, 2008) nulled the link. <a href="#fn:114" id="fnref:114">114</a> There are other antagonistic pairs of papers. <a href="#fn:115" id="fnref:115">115</a><a href="#fn:116" id="fnref:116">116</a><a href="#fn:117" id="fnref:117">117</a><a href="#fn:118" id="fnref:118">118</a> As a result, David Roodman discards cross-country regression altogether: <br><br> 

				<blockquote>
					On balance, the quantitative approach to exploring grand questions about aid effectiveness, which began 40 years ago, was worth trying...  	given the limited and noisy data available, its effects on growth in particular probably cannot be detected. <a href="#fn:119" id="fnref:119">119</a> 
				</blockquote>
			</li>
		</ol><br>

		Other perverse macroeconomic effects:
		<ol start="5">
			<li>
				<span style="font-weight:bold">Fungibility</span>. Aid intended to increase spending in crucial social and economic sectors can instead <i>substitute</i> for spending recipients would have undertaken in those sectors anyway. If resources are then used unproductively, the gains are lost (and can have a perverse effect on domestic savings). One analysis claims that 70% of all aid is potentially fungible. <a href="#fn:120" id="fnref:120">120</a> In practice, again, this has been seen on a smaller scale – the actual substitution is very likely closer to 20%. <a href="#fn:121" id="fnref:121">121</a> <br><br>

				Furthermore, fungibility is not necessarily inefficient, and can in fact make efficiency gains, owing to better local information about how resources should be used. (This could explain why ‘good governance’ is associated with aid effectiveness: one part of good governance is better information about the jurisdiction.)<br><br> 

				Most worryingly, Collier and Hoeffler find that around 11% of aid is able to leak into military spending. <a href="#fn:122" id="fnref:122">122</a> This problem at least is tractable: Collier and Hoeffler themselves note that “<i>Donors appear to be fully successful in preventing aid from leaking into military expenditure</i>”, eliminating each new leakage over time. <a href="#fn:123" id="fnref:123">123</a><br><br>
		 	</li>

		 	<li>
		 		<span style="font-weight:bold">Dutch Disease</span>. In practice: Adam (2005) surveys available cases of currency-depreciation caused by sudden financial inflows, and finds little evidence of aid-to-depreciation correlations. <a href="#fn:124" id="fnref:124">124</a> Barder is also unworried: “<i>Any reduction in output because of an appreciation of the real exchange rate is more than offset by the additional consumption and investment that the aid finances.</i>” <a href="#fn:125" id="fnref:125">125</a> Barder stresses that Dutch Disease is manageable if policy is free to adapt, and if aid is timetabled – since it is the volatility of flows, rather than inflows per se that give rise to it.
		 	</li>
		</ol>
	<br><br>
</div>


<h3>Table 1: Aggregating aid benefits and aid harms</h3>
<div>
	We face enormous uncertainties (even more than usual for macroeconomics); Table 1 is an attempt to duly weight the above using expected value and a third 'tractability' estimate. 

	<ul>
		<li>‘Magnitude’ is the prima facie impact of aid on development; </li>
		<li>‘Frequency’ how often the effect actually manifests;</li> 
		<li>‘Tractability’ how easy the effect is to improve.</li> 
	</ul>

	Positive integers represent support for aid; negative for abolition. Data is poor for almost all factors; exclamations represent extremely unreliable values (error above ± 20%). Frequency data is invariably weak, since they stem from incomplete overviews of the phenomenon. To be frank, the values are less important than the structure of this assessment:	<br><br>	<br><br>


	[Work in progress]

	<br><br>	
	<a href="#fn:126" id="fnref:126">126</a>
	<a href="#fn:127" id="fnref:127">127</a>
	<a href="#fn:128" id="fnref:128">128</a>
	<a href="#fn:129" id="fnref:129">129</a>
	<a href="#fn:130" id="fnref:130">130</a>
	<a href="#fn:131" id="fnref:131">131</a>
	<a href="#fn:132" id="fnref:132">132</a>
	<a href="#fn:133" id="fnref:133">133</a>
	<a href="#fn:134" id="fnref:134">134</a>
	<a href="#fn:135" id="fnref:135">135</a>
	<a href="#fn:136" id="fnref:136">136</a>
	<a href="#fn:137" id="fnref:137">137</a>
	<a href="#fn:138" id="fnref:138">138</a>
	<a href="#fn:139" id="fnref:139">139</a>
	<a href="#fn:140" id="fnref:140">140</a>
	<a href="#fn:141" id="fnref:141">141</a>
	<a href="#fn:142" id="fnref:142">142</a>
	<a href="#fn:143" id="fnref:143">143</a>
	<a href="#fn:144" id="fnref:144">144</a>
	<a href="#fn:145" id="fnref:145">145</a>
	<a href="#fn:146" id="fnref:146">146</a>
	<a href="#fn:147" id="fnref:147">147</a>
	<a href="#fn:148" id="fnref:148">148</a>
	<a href="#fn:149" id="fnref:149">149</a>
	<a href="#fn:150" id="fnref:150">150</a>
	<a href="#fn:151" id="fnref:151">151</a>
	<a href="#fn:152" id="fnref:152">152</a>
	<a href="#fn:153" id="fnref:153">153</a>
	<a href="#fn:154" id="fnref:154">154</a>
	<a href="#fn:155" id="fnref:155">155</a>
	<a href="#fn:156" id="fnref:156">156</a>


	<br><br>	<br><br>
</div>


<h3>Excluding health</h3>
<div>
	One basic test of robustness would be to run the above excluding the global health outlier from aid. (This is in a sense unfair to the aid boosters, since health is a primary determinant of human capital and thus growth. But it could be an interesting way to save abolitionism.)
</div>


<h3>So?</h3>
<div>
	Table 1 does not allow us to assert that aid ‘works’ in the transformative sense; the evidence is too weak. But it does entail that abolitionism is not warranted given the evidence: the evidence speaks clearly against net harm, and that there is some evidence that aid <i>can</i> be improved.<br><br> 

	If the abolitionists outlined above are guilty of anything, it is only overstatement, and not the heartlessness or ideological blindness that we might have expected from anti-aid economists. Aid has been ripe for criticism. Easterly’s quip – that “critics are better for foreign aid than apologists” – is substantially correct. <a href="#fn:157" id="fnref:157">157</a> But, sloganeering further, abolitionists have opted for the wrong prong of “end it or mend it”: we are instead compelled to mend the abuses, difficulties, and ambiguities of aid. <br><br>

	Bauer was the first to identify abiding problems with aid, but his extreme neoliberalism is misleading about aid’s actual prospects. Easterly – not really an abolitionist, despite his bark – fared better, but downplays the upside of C20th aid. Moyo repeats Bauer in simplified form; cherry-picked as it is, her case is more easily deflected. Hayter’s principled attack on aid was seen to focus on motives rather than impact, with her policy prescriptions based in a departed world order.<br><br> 

	All of them avoided discussing NGO aid – perhaps due to its relative efficiency, or its historical unimportance. My analysis suggested that most strong conceptual arguments against aid are let down by weak evidence. Even so, the many historical failures of aid warrant present-day watchfulness and scepticism. <br><br>

	Bauer is right to insist that aid workers be abolitionists in the long-term: aid must aim to make itself unnecessary. While aid is neither necessary nor sufficient to develop LDCs; while, to date, development aid has not worked efficiently or without side-effects, there seems to be reason to continue.<br><br>

	Aid should not be abolished, in part because the insights of the abolitionists have revealed a way forward for it.
</div>

</div>

