
Peter Bauer maintained his caustic, heterodox view on aid for forty years - that is, over the whole modern aid period. In 1996 he continued, as he had begun in the 50s: <br><br>

<blockquote>
	...official government-to-government subsidies ought to be terminated or at least drastically curtailed. This seems impractical, partly because of the momentum of existing commitments, partly because of the extremely powerful and articulate interest groups behind the policy.” <a href="#fn:34" id="fnref:34">34</a>
</blockquote>

Instead of investment gaps or poverty traps, Bauer attributes economic underdevelopment to either a lack of the ‘social determinants of development’, or to government intervention – which he often equates with government <i>failure</i>.

<br><br><br>

<h4>Bauer's philosophical critique of aid</h4>

<ol start="1">

<li>
	<span style="font-weight:bold">Aid as falsely axiomatic.</span> Bauer’s early work was written in an incredibly uncritical context: the standard theory and practice was more or less, “<i>any aid is beneficial to any country</i>”. Bauer argued that this view was endemic in C20th aid, as seen even in its name – since to call aid ‘aid’ is to beg the question: its name should be determined by its <i>effect on recipients</i>, not by the nominal intentions of donors.<br><br> 

	According to him, it was also common to elide between ‘increasing’ (the volume of) aid and ‘improving’ aid. The two-gap take-off model of growth (outlined above) was a commonplace: aid was held to be sufficient in itself to transform LDC economies.<br><br> 

	Since the larger part of this essay is an analysis of the dozens of mechanisms that undermine aid impacts; since the sufficiency of aid has never been demonstrated, Bauer’s attack on the ‘axiomatic approach’, as opposed to the new empirical approach, was important and prescient.<br><br>
</li>


<li>
	<span style="font-weight:bold">Against narrow conceptions of development</span>. For much of the mid-C20th, 'development' was read as 'increase in material wealth or productive capacity for material wealth'. Bauer is broader: he attributes underdevelopment to missing ‘social determinants of development’ (by which he means economic rationality, rule of law, norms against corruption, background trust, and a pro-market, entrepreneurial culture). His stress on the ‘social determinants’ of development amounts to the claim that LDC populations are culturally backward: as he nicely puts it, “<i>Material advance requires a modernisation of the mind</i>.” <a href="#fn:46" id="fnref:46">46</a> <br><br>

	Elsewhere he prefigures Amartya Sen’s capability approach to development: “<i>I regard the extension of the range of choice, that is, an increase in the range of effective alternatives open to people, as the principal objective and criterion of economic development</i>.” <a href="#fn:36" id="fnref:36">36</a><br><br>
</li>

<li>
	<span style="font-weight:bold">Aid as perverse politicisation</span>. Bauer holds that poverty is generally a reflection of government failure. This is an extrapolation from the Econ 101 principle of perfect competition: <br><br>
	<blockquote>
		[Market] restrictive measures affect adversely both the allocation of resources and the growth of resources. <a href="#fn:35" id="fnref:35">35</a> 
	</blockquote>

	Bauer regarded ODA as politically dangerous because it centralises economic power in the government and removes negative feedback against bad policies. Adding resources independent of the tax base plausibly leads to a corrosion of democratic accountability; removing the connection between policy and results means that development is prevented from occurring by aid, and that the apparent gains are lost is when aid is withdrawn. This process is key for Bauer for more than efficiency reasons. He frequently emphasises that 'responsibility' is as much a constituent of development as is wealth; and “<i>In this sense aid pauperises those it purports to assist</i>.” <a href="#fn:37" id="fnref:37">37</a><br><br>
</li>

</ol>


<h4>Bauer's technical critique of aid</h4>

<ol start="4">

<li>
	<span style="font-weight:bold">Against material poverty traps</span>. Bauer identifies an apparent paradox – if poverty alone traps regions in poverty, then no country could ever have developed, since all countries began poor. Syntheses of aid effects tend now to conclude that aid is not a necessary condition of development, nor clearly sufficient. <a href="#fn:39" id="fnref:39">39</a><a href="#fn:40" id="fnref:40">40</a><br><br>

	He goes so far as to deny that volume of investible funds is a determinant of development at all: “<i>What has to be remembered and emphasised is that having capital is the result of successful economic performance, not its precondition</i>.” <a href="#fn:41" id="fnref:41">41</a> There is some contemporary support for this. <a href="#fn:42" id="fnref:42">42</a> Most extraordinarily, in a fit of Classical economics, Bauer explains the low domestic savings rates in LDCs as a rational reflection of the lack of opportunities for investing the savings locally. <a href="#fn:43" id="fnref:43">43</a> <br><br>
</li>

<li>
	<span style="font-weight:bold">Adverse political selection</span>. Bauer further claims that aid <i>causes</i> poverty traps, by rewarding destructive policy and propping up incompetent governments: “By maintaining a minimum level of consumption, the subsidies avert total collapse and conceal from the population the worst effects of destructive policies. These subsidies also suggest external endorsement of damaging policies.” <a href="#fn:38" id="fnref:38">38</a> <br><br>
</li>

<li>
	<span style="font-weight:bold">Adverse economic selection</span>: Bauer argues that aid fuels the need for itself, systematically sustaining badly-managed economies. The mechanisms he suggests this occurs by are:<br> <br>

	1) ‘Dutch disease’, i.e. damage to domestic industry by unstable financial inflows. <a href="#fn:44" id="fnref:44">44</a> A current-account surplus leads currency appreciation which leads to uncompetitive exports which leads to the decline of domestic industry – which leads to increased aid flows to address the stagnation;<br><br> 

	2) the ‘Samaritan’s Dilemma’. Intuitively, aid poses a moral hazard to recipients: with the expectation of help independent of results, individuals are less incentivised to be economically rational and entrepreneurial, and recipient government budgets are less constrained by prudence and negative feedback. The latter licences chronic inefficiency due to the lack of competitive pressure to invest properly, there is no automatic pressure towards the efficient use of donated capital. At minimum we can agree with Bauer that development involves both poverty reduction and autonomy promotion. 
</li> <br> <br>

<li>
	<span style="font-weight:bold">Aid as rent-seeking</span>.
	<br><br>
</li>

<li>
	<span style="font-weight:bold">Recipient misuse</span>. The latter problems enable allocations with blatantly poor connection to development. The demarcation between misuse and merely inefficient use is not sharp (for instance, what exactly constitutes a ‘white elephant’, grossly inefficient public project? And the ubiquitous bias towards urban and elite uses of aid could be classed ‘misuse’). Fig.4 gives an idea of the extent – perhaps a fifth of all aid – and confirms Bauer’s insistence that capital inflows are misused – though not perhaps his explanation for the misuse.
</li>

</ol>


<div align="center">
	<img src="/img/aid/fig4.jpg" /><br>
	<small><b>Fig.4</b>. Estimated proportions of total aid that is misused. <a href="#fn:45" id="fnref:45">45</a></small>
</div><br><br>




<br><br><br>

<h4>Against Bauer</h4>

Happily, many of the above imply falsifiable claims. This isn't a criticism of Bauer; instead it is a mark of his virtue as a scholar.<br><br>

Part of his cultural thesis is contradicted by the strenuous activity found among the poor by economic field research: for instance, the average (non-agricultural) self-employment rate in LDCs is 40%. <a href="#fn:47" id="fnref:47">47</a> <br><br>

His point also predates the recent rapid uptake, and emergent uses, of technology (e.g. the growth of mobile use in Africa – from 3% subscription in 2000 to 73% in 2011. <a href="#fn:48" id="fnref:48">48</a> Also, most strikingly, the use of mobile phone credit as a liquid asset in increasing areas of Africa). <a href="#fn:49" id="fnref:49">49</a> <br><br>

Here is a crude heuristic for measuring the cultural quality of an economy (call it a perseverance index, <i>PI</i>). Where <i>BC</i> is the annual rate of business creation in the country, <i>W</i> is size of workforce, <i>E</i> is the country's rank on the Ease of Doing Business index:<br><br>
$$
	\text{Formal<br>perseverance} = \frac{ BC }{ W } \times \log{(E)}
$$
And where <i>S</i> is the self-employment rate in the country, and <i>Y / W</i> is national income per capita:
$$
	\text{Informal perseverance} = \frac{ S }{ Y / W } \times \log{(E)}
$$
$$
	\text{Perseverance} = (\text{Formal} + \text{Informal})
$$


This measure attempts to represent 'two main constraints' on LDC entrepreneurs – ‘ease of doing business’ (well-represented by the World Bank’s index of the same name <a href="#fn:50" id="fnref:50">50</a>) and low capital. Fig.5 shows some values for this (totally uncalibrated!) measure:<br><br>

<div align="center">
	<img src="/img/aid/fig5.jpg" /><br><br>
	<small><b>Fig.5.</b>  Comparative ‘perseverance’ across countries. <a href="#fn:51" id="fnref:51">51</a><a href="#fn:52" id="fnref:52">52</a></small>
</div>
<br><br>


Bauer’s aversion to government intervention also falls short, theoretically and empirically. Theoretically, he entirely neglects ‘second-best’ welfare economics, which gives a conditional rationale for intervention in a wide variety of contexts. As early as 1956, Lipsey and Lancaster derived a result within general equilibrium, the ‘Theorem of the Second Best’. Informally: “<i>If a market is not perfectly competitive, then all bets are off; the second-most competitive market is not necessarily more efficient than the third-most, etc</i>.” <a href="#fn:53" id="fnref:53">53</a> <br><br>

Since no market has ever satisfied the neoclassical optimality conditions, this demotes the theoretical conclusion we may draw from general equilbrium to: “<i>In any given real market, increasing competition might increase efficiency, depending on the interaction of its frictions</i>”. Bauer had little respect for formal economics, but this result is ubiquitous and uncontroversial in even neoliberal discussions. <a href="#fn:54" id="fnref:54">54</a> The economic experience of most of the world contradicts Bauer's universal prohibition on fruitful state intervention. (For instance, China, South Korea, and Japan stand out as uncontroversial successes of industrial policy.) <a href="#fn:55" id="fnref:55">55</a> 

<br><br>

Regarding the corruption of political processes by aid flows, Bauer omits to mentio the ubiquitous malign influence of private capital on democratic life, in LDCs and beyond.  <br><br>

The final test of Bauer’s claims must be empirical and specific. Bauer's work was formulated in an extremely data-poor time; it is possible that his claims stood before, given the available data. I cover the present evidence for his claims in "", below. <br><br>

Onto two contemporary Bauerians: William Easterly and Dambisa Moyo.

