<ul>

<li>ActionAid (2005),&nbsp;&nbsp;“Real Aid” report, <a href="http://www.actionaid.org.uk/doc_lib/69_1_real_aid.pdf ">Link</a></li>
<li>Adam, Christopher (2005),&nbsp;&nbsp;‘Exogenous Inflows and Real Exchange Rates: Theoretical Quirk or Empirical Reality?’ <a href="http://www.economics.ox.ac.uk/Members/christopher.adam/Own_pdfs/Adam_FAMM_Revised_Sept_2005.pdf">Link</a></li>
<li>Adekeye, Adebajo (2009),&nbsp;&nbsp;‘Economist’s Self-Flagellating Aid Tract does Continent no Favours’, BusinessDay, 18/12/2009, <a href="http://www.businessday.co.za/Articles/Content.aspx?id=89891">Link</a></li>
<li>Alesina & Weder (2002),&nbsp; ‘Do Corrupt Governments Receive less Foreign Aid?’ American Economic Review 92(4),&nbsp; p.1126-1137</li>
<li>Auty, Richard (1993),&nbsp; Sustaining Development in Mineral Economies: The Resource Curse (New York; Routledge; 1993)</li>
<li>Banerjee & Duflo (2011),&nbsp; Poor Economics, (US; PublicAffairs; 2011)</li>
<li>Barder, Owen (2006),&nbsp;&nbsp;‘A Policymaker’s Guide to Dutch Disease’, Center for Global Development Working Paper 91, <a href="http://www.cgdev.org/content/publications/detail/8709/ ">Link</a></li>
<li>Barder, Owen (2010),&nbsp; ‘Aid Policy vs Development Policy’, personal website, <a href="http://www.owen.org/blog/3266">Link</a></li>
<li>Barrett & Maxwell (2002),&nbsp; Food Aid After Fifty Years (New York; Routledge; 2002)</li>
<li>Bauer, Peter (1957),&nbsp;&nbsp;Economic Analysis and Policy in Underdeveloped Countries (Durham; Duke University Press; 1957)</li>
<li>Bauer, Peter (1957),&nbsp;&nbsp;The Economics of Under-developed Countries, by Bauer, PT & Yamey, Basil S. (Chicago; University of Chicago Press; 1957)</li>
<li>Bauer, Peter (1966),&nbsp; Two Views on Aid to Developing Countries, by Ward, Barbara & Bauer, PT (London; Institute of Economic Affairs; 1966)</li>
<li>Bauer, Peter (1972),&nbsp; Dissent on Development; Studies and Debates in Development Economics (Cambridge: Harvard University Press, 1972)</li>
<li>Bauer, Peter (1981),&nbsp; Equality, the Third World, and Economic Delusion (Cambridge; Harvard University Press, 1981),&nbsp;&nbsp;</li>
<li>Bauer, Peter (1984),&nbsp; Reality and Rhetoric: Studies in the Economics of Development (London: Weidenfeld & Nicolson, 1984)</li>
<li>Bauer, Peter (1993),&nbsp;&nbsp;‘Development Aid: End it or Mend it’, International Center for Economic Growth, Occasional Paper No.43</li>
<li>Bauer, Peter (2000),&nbsp;&nbsp;From Subsistence to Exchange, (Washington; Cato Institute; 2000)</li>
<li>Bermeo, Sarah (2009),&nbsp; ‘The Curse of Aid? Reexamining the Impact of Aid on Regime Change’, APSA Paper, <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1449285">Link</a></li>
<li>Buchanan, James (2002),&nbsp; ‘The Sayer of Truth: A Personal Tribute to Peter Bauer’, Public Choice, Vol. 112, no. 3-4, September 2002 </li>
<li>Birdsall, Nancy (2007),&nbsp; ‘Do No Harm: Weak Institutions and the Missing Middle in Africa’, <a href="http://www.cgdev.org/content/publications/detail/13115 ">Link</a></li>
<li>Birrell, Ian (2011),&nbsp; ‘Ten Great Myths about Foreign Aid’, Daily Mail,  7/7/2011, <a href="http://www.dailymail.co.uk/news/article-2012074/David-Camerons-foreign-aid-How-money-squandered.html ">Link</a></li>
<li>Boone, Peter (1996),&nbsp;&nbsp;‘Politics and the Effectiveness of Foreign Aid’ European Economic Review, 1996, 40, pp.289-329.</li>
<li>Botting, Porbeni, Joffres, Johnston, Black, Mills (2010),&nbsp; ‘Water and sanitation infrastructure for health: The impact of foreign aid.’ Global Health Vol.29; p.6-12</li>
<li>Boulanger, Costa, Jomini, Osborne, Zhang (2010),&nbsp; ‘Modelling the effects of the EU Common Agricultural Policy’, at Australian Conference of Economists, 27/9/10, <a href="http://goo.gl/5wmqg ">Link</a></li>
<li>Bourguignon, Gelb, Versailles (2005),&nbsp; ‘Policy, aid and performance in Africa: The G11 and other country groups.’ Working Paper, (Washington, DC; World Bank)</li>
<li>Brecht, Bertolt (1950),&nbsp; ‘A Bed for the Night’ in Bertolt Brecht: Poems 1913-1956 (London; Methuen; 1987)</li>
<li>Burnside and Dollar (2000),&nbsp; ‘Aid, Policies and Growth’, American Economic Review, Vol. 90, No. 4 (Sep 2000),&nbsp; pp. 847-868</li>
<li>Chang, Ha-Joon (2002),&nbsp; Kicking Away the Ladder, (London; Anthem Press; 2002)</li>
<li>Chang, Ha-Joon (2010),&nbsp; ‘Poverty, Entrepreneurship and’, UN WIDER editorial, <a href="http://www.wider.unu.edu/publications/newsletter/articles-2010/en_GB/10-2010-Chang/">Link</a></li>
<li>Chatterjee, Giuliano, Kaya (2007),&nbsp; ‘Where Has All The Money Gone? Foreign Aid and The Quest for Growth’, from Giuliano’s staff page, <a href="http://www.economics.harvard.edu/faculty/giuliano/files/CGK-FOREIGNAID.pdf">Link</a></li>
<li>Chen and Ravaillion (2007),&nbsp; ‘Absolute poverty measures for the developing world, 1981–2004’, Proceedings of the National Academy of sciences vol.104 no.43, p.16757-16762 </li>
<li>Chenery, Hollis (1960),&nbsp;&nbsp;‘Patterns of Industrial Growth’, American Economic Review, 50(4),&nbsp; p. 624-654</li>
<li>Christian Aid (2005),&nbsp;&nbsp;‘The Economics of Failure: The real cost of ‘free’ trade for poor countries’, <a href="http://www.christianaid.org.uk/Images/economics_of_failure.pdf ">Link</a></li>
<li>Clemens, Radelet, Bhavnani, Bazzi (2004),&nbsp; ‘Counting Chickens When They Hatch: Timing and the effects of Aid on Growth’, Centre for Global Development Working Paper, <a href="http://www.cgdev.org/files/2744_file_CountingChickensFINAL3.pdf ">Link</a></li>
<li>Collier, Paul and Hoeffler, Anke (2004a),&nbsp;&nbsp;“Military Expenditure: Threats, Aid and Arms Races” World Bank Policy Research Working Paper No.2927</li>
<li>Collier & Hoeffler (2004b),&nbsp; ‘Aid and Capital Flight’, from Hoeffler’s staff page, <a href="http://users.ox.ac.uk/~ball0144/aid&cf.pdf ">Link</a></li>
<li>Collier and Hoeffler (2006),&nbsp;&nbsp;‘Unintended Consequences: Does aid fund arms races?’, Oxford Bulletin of Economics and Statistics, Volume 69, Issue 1 p.1–27</li>
<li>Collier, Paul (2007),&nbsp; The Bottom Billion, (St Ives, Oxford University Press, 2007)</li>
<li>Collier, Paul (2009),&nbsp; ‘Time to turn off the Aid tap?’ review of Dead Aid in The Independent, 30/1/2009</li>
<li>Center for Research into the Epidemiology of Disasters (2012),&nbsp;&nbsp;‘Natural Disaster Trends’ database, , <a href="http://www.emdat.be/natural-disasters-trends">Link</a></li>
<li>D’Aiglepierre & Wagner (2010),&nbsp; ‘Aid and Universal Primary Education’, CERDI Working Paper No. 22, <a href="http://cerdi.org/uploads/ed/2010/2010.22.pdf ">Link</a></li>
<li>Devarajan and Swaroop (1998),&nbsp;&nbsp;‘The Implications of Foreign Aid Fungibility for Development Assistance’, World Bank Policy Research Working Paper No. 2022 </li>
<li>Devarajan, Easterly, Pack (2002),&nbsp; ‘Low Investment is not the Constraint on African Development’, Centre for Global Development, <a href="http://cdi.mecon.gov.ar/biblio/doc/cgdev/wp13.pdf">Link</a></li>
<li>Devarajan, Shanta (2009),&nbsp; ‘Aid and Corruption’, on his World Bank blog, <a href="http://blogs.worldbank.org/africacan/aid-and-corruption">Link</a></li>
<li>DFID (2002),&nbsp;&nbsp;‘International Development Act 2002’,</li>
<li><a href="http://www.dfid.gov.uk/About-us/History/International-Development-Act-2002/">Link</a></li>
<li>Dreher et al (2004),&nbsp;&nbsp;‘Does Aid for Education Educate Children? Evidence from Panel Data’, World Bank Economic Review Vol.22 (2),&nbsp; p.291-314. </li>
<li>Easterly, William (1999),&nbsp; ‘The Ghost of Financing Gap’, Journal of Development Economics, vol.60 (2),&nbsp; p.423-438</li>
<li>Easterly, William (2001),&nbsp; The Elusive Quest for Growth (Cambridge; MIT Press; 2001)</li>
<li>Easterly, Levine, Roodman (2003),&nbsp; ‘New Data, New Doubts’, working paper, Centre for Global Development, <a href="http://www.cgdev.org/content/publications/detail/2764 ">Link</a></li>
<li>Easterly, William (2005)</li>
<li>Easterly, William (2007),&nbsp; The White Man’s Burden, (St Ives, Oxford University Press, 2007)</li>
<li>Easterly, William (2009),&nbsp;&nbsp;‘Sachs Ironies: why critics are better for foreign aid than apologists’, Huffington Post, 25/5/09, <a href="http://www.huffingtonpost.com/william-easterly/sachs-ironies-why-critics_b_207331.html ">Link</a></li>
<li>Edwards, Sebastian (2002),&nbsp; ‘The Argentine Debt Crisis of 2001-2002’, working paper <a href="http://www.anderson.ucla.edu/faculty/sebastian.edwards/Chronology.pdf ">Link</a></li>
<li>Eichengreen, Barry (2011),&nbsp; ‘Latin Lessons for the Euro Zone’, working paper, <a href="http://emlab.berkeley.edu/~eichengr/latin_lessons_1-16-11.pdf ">Link</a></li>
<li>Fairlie, Robert (2012),&nbsp; ‘Kauffman Index of Entrepreneurial Activity, 1996-2011’ <a href="http://www.kauffman.org/uploadedFiles/KIEA_2012_report.pdf ">Link</a></li>
<li>Fitzgerald, Michael (2011),&nbsp; ‘Ends and Means’, University of Chicago Magazine, <a href="http://mag.uchicago.edu/economics-business/ends-and-means">Link</a></li>
<li>Gibson, Andersson, Ostrom, Shivakumar (2005),&nbsp; The Samaritan’s Dilemma </li>
<li>Glennie, Jonathan (2008),&nbsp; The Trouble With Aid: Why Less Might Mean More for Africa (Zed Books; 2008)</li>
<li>Guillamont & Chauvet (2001),&nbsp; ‘Aid and Performance: A Reassessment’, Journal of Development Studies, Vol.37, Issue 6, p.66-92</li>
<li>Gulrajani, Nilima (2011),&nbsp;&nbsp;‘Transcending the great foreign aid debate: managerialism, radicalism and the search for aid effectiveness.’ Third World Quarterly, 32(2),&nbsp; p.199-216.</li>
<li>Hanna et al (2010),&nbsp;&nbsp;‘The Effectiveness of Anti-Corruption Policy. What has worked, what hasn’t, and what we don’t know’,  EPPI-Centre, research for DFID, <a href="http://www.dfid.gov.uk/R4D/Output/187255/Default.aspx ">Link</a></li>
<li>Hansen & Tarp (2000),&nbsp;&nbsp;‘Aid and Growth Regressions’, OECD archive, <a href="http://www.oecd.org/dataoecd/16/45/2664913.pdf">Link</a></li>
<li>Harford & Klein (2005),&nbsp;&nbsp;‘Aid and the Resource Curse’, World Bank Public Policy Journal April 2005, note 291.</li>
<li>Hayter, Teresa (1971),&nbsp; Aid as Imperialism (Middlesex; Penguin; 1974)</li>
<li>Hayter, Teresa (1981),&nbsp; The Creation of World Poverty (London; Pluto Press Ltd; 1983)</li>
<li>Hayter & Watson (1985),&nbsp;&nbsp;Aid: Rhetoric and Reality (London; Pluto Press; 1985)</li>
<li>Hayter, Teresa (2009),&nbsp; ‘The purpose of aid’, letter to New Internationalist, 22/9/09 <a href="http://www.newint.org/blog/editors/2009/09/22/the-purpose-of-aid/ ">Link</a></li>
<li>IMF (2012),&nbsp; World Economic Outlook Database, <a href="http://goo.gl/yOfJL ">Link</a></li>
<li>Jain, Hari (2010),&nbsp;&nbsp;The Green Revolution: History, Impact and Future, (Houston; Studium Press; 2010)</li>
<li>Jepma, Catrinus (1991),&nbsp; The Tying of Aid, (OECD; 1991)</li>
<li>Johnson-Sirleaf, Ellen (2009),&nbsp; ‘Global Crisis is Threatening Africa’s Turnaround’, op-ed in the Washington Post, 9/4/2009</li>
<li>Kagame, Paul (2009),&nbsp; Rwandan presidential blog: <a href="http://www.paulkagame.com/blog4.php">Link</a></li>
<li>Kapfer, Nielsen & Nielson (2007),&nbsp; ‘If You Build It, Will They Come? Foreign Aid’s Effects on Foreign Direct Investment’, prepared for 65th MPSA National Conference</li>
<li>Killick, Tony (1995),&nbsp;&nbsp;IMF Programmes in Developing Countries: Design and Impact (London; Routledge; 1995)</li>
<li>Kommers, Donald (2003),&nbsp; review of David Rieff’s A Bed for the Night, America, 188, p.26-7</li>
<li>Lal, Deepak (1983),&nbsp; ‘The Dirigiste Dogma’, in The Poverty of ‘Development’ Economics, (US; MIT; 2000)</li>
<li>Lipsey & Lancaster (1956),&nbsp;&nbsp;"The General Theory of Second Best"; Review of Economic Studies vol.24; p.11-32</li>
<li>Maimonides (c.1170),&nbsp; Mishneh Torah, transl. American Jewish World Service, <a href="http://www.on1foot.org/text/rambam-laws-gifts-poor-107-cf-shulchan-aruch-yoreh-deah-249-6-13">Link</a></li>
<li>Malthus, Thomas Robert (1798),&nbsp; An Essay on the Principle of Population (Oxford; Oxford University Press; 2008)</li>
<li>Marks, Stephen (2006),&nbsp;&nbsp;‘China in Africa – the New Imperialism?’, article for Pambazuka, <a href="http://www.pambazuka.org/en/category/courses/32432 ">Link</a></li>
<li>Marshall, Monty (2012),&nbsp; ‘Major Episodes of Political Violence 1946-2012’, <a href="http://www.systemicpeace.org/warlist.htm ">Link</a></li>
<li>Mavrotas, George (2000),&nbsp; ‘The Impact of Aid on Private Savings and Investment’, Oxford Policy Management Working Paper (Oxford; OPM; 2000)</li>
<li>McGillivray et al (2005),&nbsp;&nbsp;‘It Works; It Doesn’t; It Can, But That Depends…: 50 Years of Controversy over the Macroeconomic Impact of Development Aid’, Working Paper 2005/24, World Institute for Development Economics Research, Helsinki (August 2005)</li>
<li>McMillan and Waxman (2007),&nbsp; ‘Profit Sharing Between Governments and Multinationals in Natural Resource Extraction’,  presented at Northeast Universities Development Consortium Conference 26/10/07, <a href="http://www.cid.harvard.edu/neudc07/docs/neudc07_s1_p19_mcmillan.pdf   ">Link</a></li>
<li>Moss, Petterson, van der Walle (2006),&nbsp;&nbsp;‘An Aid-Institutions Paradox? A Review Essay on Aid Dependency and State Building in Sub-Saharan Africa’, Center for Global Development Working paper No.74, <a href="http://www.cgdev.org/files/5646_file_WP_74.pdf ">Link</a></li>
<li>Moyo, Dambisa (2009),&nbsp; Dead Aid: Why Aid is Not Working and How there is a Better Way for Africa, (St Ives; Penguin, 2010)</li>
<li>Oasa, Edmund (1987),&nbsp;&nbsp;‘The Political Economy of International Agricultural Research in Glass’ in Glaeser, ed. The Green Revolution Revisited: Critique and Alternatives (Allen & Unwin; 1987)</li>
<li>OECD (2012),&nbsp; Development Co-operation Directorate database, <a href="http://www.oecd.org/document/49/0,3746,en_2649_34447_46582641_1_1_1_1,00.html">Link</a></li>
<li>OECD (2012b),&nbsp; ‘Methodological work - what is ODA, how is it counted and who qualifies for it?’ <a href="http://www.oecd.org/document/0/0,3746,en_2649_34447_42398912_1_1_1_1,00.html ">Link</a></li>
<li>OECD (2012c),&nbsp;&nbsp;‘Aid in Support of Environment’, donor side report, <a href="http://www.oecd.org/dataoecd/1/25/49929823.pdf ">Link</a></li>
<li>Patrinos & Psacharopoulos (2011),&nbsp;&nbsp;‘Education: past, present and future global challenges’, Policy Research Working Paper No. 5616, World Bank</li>
<li>Rajan & Subramanian (2008),&nbsp; ‘Aid and Growth: What Does the Cross-Country Evidence Really Show?’, Review of Economics and Statistics, Nov 2008, Vol. 90, No.4, p.643-665</li>
<li>Ramachandran & Walz (2011),&nbsp; ‘Brave New World: A Literature Review of Emerging Donors’, Center for Global Development Working Paper No.273, <a href="http://www.cgdev.org/files/1425691_file_Walz_Ramachandran_Brave_New_World_FINAL.pdf">Link</a></li>
<li>Riddell, Roger (2008),&nbsp; Does Foreign Aid Really Work? (Oxford; OUP; 2008)</li>
<li>Rodrik, Dani (2004),&nbsp; ‘Industrial Policy for the Twenty-first Century’, CEPR Discussion paper No.4767, <a href="http://www.cepr.org/pubs/new-dps/dplist.asp?dpno=4767">Link</a></li>
<li>Rogoff, Kenneth (2002),&nbsp; ‘Third World Debt’, <a href="http://www.econlib.org/library/Enc1/ThirdWorldDebt.html ">Link</a></li>
<li>Roodman, David (2007a),&nbsp;&nbsp;‘The Anarchy of Numbers: Aid, Development, and Cross-country Empirics’, World Bank Economic Review 21(2),&nbsp; pp. 255–77 (May 2007)</li>
<li>Roodman, David (2007b),&nbsp; ‘Macro Aid Effectiveness Research’, working paper, Centre for Global Development, <a href="http://www.cgdev.org/content/publications/detail/15003 ">Link</a></li>
<li>Roodman, David (2008),&nbsp; ‘Through the Looking-Glass, and What OLS Found There: On Growth, Foreign Aid, and Reverse Causality’, working paper for the Centre for Global Development, <a href="http://www.cgdev.org/content/publications/detail/15105 ">Link</a></li>
<li>Roodman, David (2009),&nbsp; ‘Dambisa Moyo Discovers Key to Ending Poverty’, Centre for Global Development blog, <a href="http://bit.ly/4Bofju">Link</a></li>
<li>Roodman, David (2011),&nbsp; Commitment to Development Index, <a href="http://www.cgdev.org/section/initiatives/_active/cdi/inside , p.13-4">Link</a></li>
<li>Roy, Arundhati (2004),&nbsp; ‘Help that hinders’, op-ed in Le Monde Diplomatique, 11/11/04</li>
<li>Sachs, Jeffrey (2005),&nbsp; The End of Poverty: How We Can Make It Happen In Our Lifetime, (St Ives, Penguin, 2005)</li>
<li>Sachs, Jeffrey (2006),&nbsp; ‘How Aid Can Work’ New York Times, 21/12/2006 <a href="http://www.nybooks.com/articles/archives/2006/dec/21/how-aid-can-work/">Link</a></li>
<li>Saltz, Ira (1999),&nbsp; ‘An examination of the causal relationship between savings and growth in the third world’, Journal of Economics and Finance, Vol.23, No.1, p.97</li>
<li>Savedoff et al (2006),&nbsp; When Will We Ever Learn? Improving Lives Through Impact Evaluation’, Center for Global Development </li>
<li>Savun & Tirone (2009),&nbsp; ‘Foreign Aid, Democratization, and Civil Conflict: How Does Democracy Aid Affect Civil Conflict?’, American Journal of Political Science, Vol. 55, No. 2, April 2011, p.233–246</li>
<li>Sen, Amartya (2006),&nbsp;&nbsp;‘The Man Without a Plan’, Foreign Affairs, <a href="http://www.foreignaffairs.com/articles/61525/amartya-sen/the-man-without-a-plan">Link</a></li>
<li>Shields, Michael (2007),&nbsp;&nbsp;‘Foreign aid and domestic savings: the Crowding-out effect’, <a href="http://www.buseco.monash.edu.au/eco/research/papers/2007/3507foreignaid.pdf ">Link</a></li>
<li>Singer, Peter (1972),&nbsp; ‘Famine, Affluence and Morality’, Philosophy and Public Affairs, vol.1, no.1, p.229-243</li>
<li>Singer, Peter (2009),&nbsp; The Life You Can Save, (Random House; 2009)</li>
<li>Stiglitz (1998),&nbsp; ‘More Instruments and Broader Goals’, UN WIDER Lecture, <a href="http://www.ucm.es/info/eid/pb/Stiglitz98wider.pdf ">Link</a></li>
<li>Taylor, Lance (1991),&nbsp; Income Distribution, Inflation and Growth (US, MIT Press, 1991)</li>
<li>Taylor, Lance (1994),&nbsp; ‘Gap models’, <a href="http://www.sciencedirect.com/science/article/pii/0304387894900574 ">Link</a></li>
<li>Todaro & Smith (2011),&nbsp; Economic Development, 11th edition, (US, Pearson, 2011)</li>
<li>UN (2011),&nbsp; Human Development Report 2011, <a href="http://hdr.undp.org/en/reports/global/hdr2011/">Link</a></li>
<li>UN (2012),&nbsp; ‘Criteria for the Identification of Least Developed Countries’ <a href="http://www.un.org/special-rep/ohrlls/ldc/ldc%20criteria.htm">Link</a></li>
<li>Various (2009),&nbsp; ‘<a href="http://blogs.ft.com/arena/category/aid/#axzz1dc2ri3y1 ">Link</a></li>
<li>Various (2011),&nbsp;&nbsp;The Politics of Aid, ed. Whitfield (Oxford; OUP; 2009)</li>
<li>Weisbrot, Mark (2007),&nbsp; ‘Ten Years After: the Lasting Impact of the Asian Financial Crisis’, Center for Economic & Policy Research <a href="http://www.cepr.net/documents/publications/asia_crisis_2007_08.pdf ">Link</a></li>
<li>Wilmer, Yvonne (2010),&nbsp; ‘The Downside of Aid? An analysis of the effect of the level of aid on corruption’, Master’s Thesis at Erasmus University Rotterdam, <a href="http://oaithesis.eur.nl/ir/repub/asset/7724/Wilmer.pdf">Link</a></li>
<li>Woo, Wing Thye (2004),&nbsp; ‘Some Fundamental Inadequacies of the Washington Consensus: Misunderstanding the Poor by the Brightest’, presented at the Conference on "Stability, Growth and the Search for a New Development Agenda " organised by FONDAD, Oct 2004</li>
<li>World Bank (2005),&nbsp;&nbsp;‘Building Effectiveness States, Forging Engaged Societies’, Report of the World Bank Task Force on Capacity Development in Africa, <a href="http://siteresources.worldbank.org/EXTAFRDEVOPRTSK/Resources/acdtf_report.pdf ">Link</a></li>
<li>World Bank (2011),&nbsp; ‘Barriers to Asset Recovery’, Stolen Asset Recovery Initiative report, <a href="http://www1.worldbank.org/finance/star_site/publications/barriers.html ">Link</a></li>
<li>World Bank (2012),&nbsp; World Development Indicators, <a href="http://data.worldbank.org/sites/default/files/wdi-2012-ebook.pdf ">Link</a></li>
<li>World Resources Institute (2005),&nbsp; World Resources Report 2005, (Washington; WRI; 2005),&nbsp;&nbsp;<a href="http://pdf.wri.org/wrr05_full.pdf ">Link</a></li>
<li>Yamey, Basil (1987),&nbsp;&nbsp;‘Peter Bauer: Economist and Scholar’ Cato Journal, Vol. 7, No. 1, <a href="http://www.cato.org/pubs/journal/cj7n1/cj7n1-2.pdf ">Link</a></li>

</ul>