

<blockquote>
	"The aid campaign against diseases in Africa... is likely the single biggest success story in the history of aid to Africa... The well-known Kremer and Miguel paper showed a strong effect of deworming on worm infection rates in a district in Kenya, which reflected not only direct effects on children receiving the drugs but also surprisingly strong externalities to others in the same school or nearby schools...<br><br>

	Breastfeeding, immunization against diarrheal diseases, micronutrient supplementation and oral rehydration therapy (ORT) have all been found to work in randomized trails in the fight against diarrhea..."<br><br>

	Who is this wild-eyed aid optimist? Oops, it's me. <br><br>

	The point is that even those of us labeled as "aid critics" do not believe aid has been a universal failure. If we give you aid agencies grief on failures, it is because we have seen some successes, and we would like to see more!
</blockquote>
<div align="center">- <a href="{{easter}}">Bill Easterly</a></div>
<br><br>


<h4>The Burden</h4>

William Easterly’s critique is significant and well-founded, but with fits of extremism. (Amartya Sen describes Easterly’s <i>White Man’s Burden</i> as a “shotgun summary” of the history of aid. <a href="#fn:56" id="fnref:56">56</a>) Easterly's scepticism is thoroughgoing :<br><br>

<blockquote>
	the problem of making of making poor countries rich was much more difficult than we thought. It is much easier to describe the problems facing poor countries than it is to come up with workable solutions to their poverty. <a href="#fn:57" id="fnref:57">57</a> 
</blockquote> 

Many of his themes – a focus on incentives, rejection of top-down intervention, a Hayekian view of society – overlap with Bauer’s, in recent work Easterly lets slip nuanced views which make it difficult to call him an abolitionist. Most clearly: “<i>The aid agencies need tough love from the critics – who must not abolish them but must pressure them so that aid actually reaches the poor.</i>” <a href="#fn:58" id="fnref:58">58</a> <br><br>

So, though he is actually a reformer, I include him here because his ideas still entail a radical reorganisation of foreign aid. (He would abolish the largest category of intervention, the 'Poverty Reduction Strategy Papers' and all such development Plans.) <br><br>

His organising distinction is to split developmentalists into the (paternal and aloof) ‘Planners’ and the (piecemeal and entrepreneurial) ‘Searchers’: <br><br>

<blockquote>
	In foreign aid, Planners announce good intentions but don’t motivate anyone to carry them out; Searchers find things that work and get some reward. Planners raise expectations but take no responsibility for meeting them; Searchers accept responsibility for their actions. Planners determine what to supply; Searchers find out what is in demand… Planners never hear whether the planned got what it needed; Searchers find out whether the customer is satisfied. <a href="#fn:59" id="fnref:59">59</a> <br><br>
</blockquote>

Like Bauer, Easterly’s prescription is a call for more capitalists. But Easterly is more critical than Bauer (and to be fair, has much better data); Easterly can accommodate public choice problems where Bauer’s focus was on individuals. <br><br>

<ul>
	<li><span style="font-weight:bold">Aid has evaluative impunity</span>. Accountability from donors and aid agencies, and independent evaluations of the effectiveness of aid efforts. This is for aid effectiveness: <br><br>

	<blockquote>
		We still believe that more aid will reach the poor the more people are watching aid, but, as we’ve always known, there’s a lot more to development than aid. <a href="#fn:60" id="fnref:60">60</a> 
	</blockquote>

	The other prong is to attack the incredibly low quantity and quality of impact evaluation in aid; reviewing 127 evaluations, the ILO found that just two of them had internal validity (i.e. could distinguish program impacts from external factors). <a href="#fn:61" id="fnref:61">61</a> Project self-evaluation is the only common data form. Only three of the perhaps 100 official aid agencies complete regular, systematic overviews of their work (UK’s DFID, Sweden’s Sida and the Netherlands’ NL-Aid). <a href="#fn:62" id="fnref:62">62</a> This apparent indifference to actual effects is damning of current aid. <br><br>
	</li>

	<li>
		<span style="font-weight:bold">Ghost of Financing Gap</span>. Easterly also presents strong evidence against the two-gap model: “the Financing Gap growth model fails all theoretical checks and empirical tests this paper performs upon it. There is no theoretical or empirical justification for assuming a short-run proportional relationship between growth and ‘investment requirements.’” <a href="#fn:63" id="fnref:63">63</a> Note that this general trend does not weaken the practical necessity of aid in particular circumstances.
	</li>
</ul>
<br><br><br>

<h4>Criticising Easterly</h4>

<ul>
<li>
	Admirably empirical as he is, Easterly still overstates. For instance, he portrays the aid effort as heartbreaking squander: <br><br>
	<blockquote>
	The West spent $2.3 trillion and still had not managed to get twelve-cent medicines 	to prevent half of all malaria deaths… four-dollar bed nets to poor families… three 	dollars to each new mother to prevent five million child deaths… It’s a tragedy that so 	much well-meaning compassion did not bring these results for needy people. <a href="#fn:64" id="fnref:64">64</a> 
	</blockquote>

But this doesn’t stand up. Firstly, regarding ‘generosity’: dividing $2.3tn over 50 years, coming from an average 750 million donors per year, the contribution to aid per rich person was just $61 per year, or 0.3% of total income. <a href="#fn:65" id="fnref:65">65</a><br><br> 

Moreover, this amounts to around $15 per recipient per year – a sum which is unsurprisingly ineffective at ending poverty. (Given the constant intentional mistargeting of aid, to the non-poor, neither is it right to take the full $2.3tn figure as the operative one.)<br><br> 

Easterly also confounds matters by citing the above number without a reference class. How much should it have cost to eliminate malaria, or to stimulate take-off growth in an industrialising economy? Easterly’s marginal approach rules that this last question is irrelevant (because that's not how economies develop), but answers to the others are scarcely clearer. <br><br>

</li><br><br>


<li>

There are at least two tolerable reasons for the historical lack of impact evaluations of aid programs. Oxfam America found that the costs of running random controlled trials (RCTs) on ‘Saving for Change’, its microfinance project in West Africa, would match those of the program itself, and so cancelled the evaluation in the name of impact. <a href="#fn:66" id="fnref:66">66</a> <br><br>

This is certainly shortsighted (an excessive time-discount preference) in a development agency, but not obviously dishonest. Secondly, RCTs can cause selection bias; they draw attention away from factors that are harder to operationalise (for instance ‘culture’ in institutions) – which may constitute much of meaningful development.  

</li><br><br>

<li>
	Easterly is in the odd position of accepting the strong evidence that many global health interventions have been extraordinarily cost-effective -<br><br>

<blockquote>
	There are well known and striking donor success stories, like the elimination of smallpox, the near-eradication of river blindness and Guinea worm,  the spread of oral rehydration therapy for treating infant diarrheal diseases, DDT campaigns against malarial mosquitoes (although later halted for environmental reasons), and the success of WHO vaccination programs against measles and other childhood diseases. The aid campaign against diseases in Africa (known as vertical health programs, see discussion below) is likely the single biggest success story in the history of aid to Africa.  <a href="#fn:666" id="fnref:666">666</a>
</blockquote>
- without following through to Ord's conclusion, of an acceptable lower bound for aid overall. This inconsistency makes sense if we consider that we still want to disincentivise ineffectual aid, even if 'aid' overall is a net positive because of some excellent health programs.<br><br>
</li>

<li>Finally, Easterly rejects ‘plans’ too indiscriminately. There are areas – health, education, sanitation, water, environmental protection – where positive externalities, plant requirements and complementarities are so high that co-ordinated and top-down action has comparative advantage. In LDCs, which tend to lack capital for both halves of public-private partnership schemes, and also the syndicate 'strategic investment agreements' that sometimes suffice for very large HDC infrastructure projects.<br><br>

A collection of atomised searchers cannot harness co-ordination benefits or economies of scale, which minimises their impact on some tasks that we can well-define. One of the biggest barriers to aid effectiveness is the <i>existing</i> level of fragmentation of efforts; Easterly’s decentralising proposal would deepen this.</li> <br><br>

</ul>

Easterly’s call for efficiency is humane and constructive. But advocating marketisation and 'narrowing' of aid means turning away from some of LDCs' more important problems: promotion of good governance – on the basis of notoriously weak data.

