<div class="footnotes">
<ol>

<li class="footnote" id="fn:0">
	Unless you think money is inherently bad and should be wasted to protect people from it.    
</li>

<li class="footnote" id="fn:1">
	This 'modern aid period' tends to be dated from Truman’s 1949 inauguration speech - ‘Point Four’ of which was the first systematic plan for international development. Aggregate data spans from 1960.
</li>

<li class="footnote" id="fn:2">
	Gibson et al (2005), The Samaritan’s Dilemma (Oxford; OUP; 2005), p.1
</li>

<li class="footnote" id="fn:3">
	Roodman (2007b), ‘Macro Aid Effectiveness Research’,<a href="http://www.cgdev.org/content/publications/detail/15003/">Link</a>
</li>

<li class="footnote" id="fn:4">
	Riddell, Roger (2007), Does Foreign Aid Really Work? (Oxford, OUP, 2008), p.173
</li>

<li class="footnote" id="fn:5">
	Total aid figure at 2012 prices, sum of DAC (largely Western) aid, 1960-2010. <a href="http://stats.oecd.org/index.aspx?datasetcode=ODA%5FDONOR">Link</a>
</li>

<li class="footnote" id="fn:6">
	Kommers, Donald (2003), review of A Bed for the Night, America, 188, 2003, p.26.
</li>

<li class="footnote" id="fn:7">
	Kagame, Paul (2009), president of Rwanda, on the presidential blog:,<a href="http://www.paulkagame.com/blog4.php">Link</a>
</li>

<li class="footnote" id="fn:8">
	Annan, Kofi, quoted in the blurb to Moyo (2009) as calling her book "a compelling case for a new approach to Africa".
</li>

<li class="footnote" id="fn:9">
	Mbeki, Thabo (2005), quoted in Birrell (2011), “The premise [to reject] is that Africans lack the capacity to save themselves and must rely on the kindness of strangers”
</li>

<li class="footnote" id="fn:10">
	For Malthusian views see Ziliak (1996), ‘The End of Welfare and the Contradiction of Compassion’
</li>

<li class="footnote" id="fn:11">
	Sachs, Jeffrey (2006), ‘How Aid Can Work’, New York Times, 21/12/2006 <a href="http://www.nybooks.com/articles/archives/2006/dec/21/how-aid-can-work/">Link</a>
</li>

<li class="footnote" id="fn:12">
	Johnson-Sirleaf, Ellen (2009), ‘Global Crisis is Threatening Africa’s Turnaround’, Washington Post, 9/4/2009
</li>

<li class="footnote" id="fn:13">
	Riddell (2007), p.352
</li>

<li class="footnote" id="fn:14">
	IMF(2011), ‘World Economic Outlook 2011’, <a href="http://www.imf.org/external/pubs/ft/weo/2011/01/pdf/text.pdf, p.170">Link</a>
</li>

<li class="footnote" id="fn:15">
	UN(2012), ‘Criteria for the Identification of Least Developed Countries’, <a href="<a href="http://www.un.org/special-rep/ohrlls/ldc/ldc%20criteria.htm">Link</a>">Link</a>
</li>

<li class="footnote" id="fn:16">
	OECD(2012), ‘Methodological work - what is ODA, how is it counted and who qualifies for it?’

<a href="http://www.oecd.org/document/0/0,3746,en_2649_34447_42398912_1_1_1_1,00.html">Link</a>
</li>

<li class="footnote" id="fn:17">
	Riddell (2007), p.202
</li>

<li class="footnote" id="fn:18">
	UN(2011), Human Development Report 2011, <a href="http://hdr.undp.org/en/reports/global/hdr2011/,p.168">Link</a>
</li>

<li class="footnote" id="fn:19">
	OECD (2012), DCD-DAC database.
</li>

<li class="footnote" id="fn:20">
	Ramachandran; Walz (2011), ‘Brave New World: A Literature Review of Emerging Donors’, Center for Global Development Working Paper No.273
</li>

<li class="footnote" id="fn:21">
	Riddell (2007), p.259
</li>

<li class="footnote" id="fn:22">
	Riddell (2007), p.30
</li>

<li class="footnote" id="fn:23">
	Adapted from the World Resources Report 2005, p.5 and the OECD database (2012). Includes China. <a href="http://pdf.wri.org/wrr05_full.pdf">Link</a>
</li>

<li class="footnote" id="fn:24">
	Barder, Owen (2010), ‘Aid Policy vs Development Policy’, personal website, <a href="http://www.owen.org/blog/3266">Link</a>
</li>

<li class="footnote" id="fn:25">
	Barder (2010)
</li>

<li class="footnote" id="fn:26">
	Singer, Peter (1972), ‘Famine, Affluence and Morality’, Philosophy and Public Affairs, vol.1, no.1, p.229-243
</li>

<li class="footnote" id="fn:27">
	Riddell (2007), p.176
</li>

<li class="footnote" id="fn:28">
	See Chenery, Hollis (1960) ‘Patterns of Industrial Growth’ American Economic Review, 50(4), p.634
</li>

<li class="footnote" id="fn:29">
	Todaro & Smith (2011) Economic Development, chapter 14.
</li>

<li class="footnote" id="fn:30">
	Sachs, Jeffrey (2005), The End of Poverty: How We Can Make It Happen In Our Lifetime, (St Ives, Penguin, 2005), p.25
</li>

<li class="footnote" id="fn:31">
	Taylor, Lance (1991), Income Distribution, Inflation and Growth, p.174-190
</li>

<li class="footnote" id="fn:32">
	Collier, Paul (2007), The Bottom Billion, chapter 2.
</li>

<li class="footnote" id="fn:321">
	Taking the lives saved per year to be <a href="https://www.cgdev.org/doc/millions/MS_case_1.pdf">2m for a 1966-level population of 3.3bn</a>, we can estimates total lives saved, to date, as { 2m lives * (7.1bn / 3.3bn) * 40 years } = 160m. Ord's 60m number is the lower bound from a UN document.
</li>

<li class="footnote" id="fn:322">
	It's five times less for British lives: <a href="{{britRoads}}">£1.2m</a>. This doesn't change the sign of Ord's conclusion. 
</li>


<li class="footnote" id="fn:33">
	Birdsall, Nancy (2007), ‘Do No Harm: Aid, Weak Institutions and the Missing Middle’, <a href="http://www.cgdev.org/content/publications/detail/13115">Link</a>
</li>

<li class="footnote" id="fn:333">
	Fenner, Frank, et al (1988),  Smallpox and its eradication,   (Geneva: World Health Organisation), p.1366.
</li>

<li class="footnote" id="fn:34">
	Bauer, Peter (1996), ‘Foreign Aid: Abiding Issues’, in From Subsistence to Exchange (Woodstock; Princeton; 2004), p.51
</li>

<li class="footnote" id="fn:35">
	Bauer (1957), Economic Analysis in Under-developed Countries, p.78
</li>

<li class="footnote" id="fn:36">
	Bauer; Yamey (1957), The Economics of Under-developed Countries, (Chicago; University of Chicago; 1957), p.113
</li>

<li class="footnote" id="fn:37">
	Bauer (1974), ‘Foreign Aid, Forever’, The Development Reader, p.274
</li>

<li class="footnote" id="fn:38">
	Bauer (1996), p.50
</li>

<li class="footnote" id="fn:39">
	Roodman (2007), ‘Macro Aid Effectiveness Research’, <a href="http://www.cgdev.org/content/publications/detail/15003/">Link</a>
</li>

<li class="footnote" id="fn:40">
	Riddell (2007), p.256
</li>

<li class="footnote" id="fn:41">
	Bauer (1996), p.45
</li>

<li class="footnote" id="fn:42">
	Devarajan, Easterly, Pack (2002), ‘Low Investment is not the Constraint on African Development’, Centre for Global Development, <a href="http://cdi.mecon.gov.ar/biblio/doc/cgdev/wp13.pdf">Link</a>
</li>

<li class="footnote" id="fn:43">
	Bauer (1957), p.45
</li>

<li class="footnote" id="fn:44">
	Given floating exchange-rates.
</li>

<li class="footnote" id="fn:45">
	Military estimate, Collier; Hoeffler (2006) ‘Unintended Consequences: Does aid fund arms races?’, p.20<br>
	White elephant estimate, Devarajan-Swaroop (1998), p.22.<br>
	Consumption estimate, Boone (1996), p.22. Corruption estimate, World Bank (2011) ‘Barriers to Asset Recovery’, Stolen Asset Recovery Initiative report, p.1. 2010 prices.
</li>

<li class="footnote" id="fn:46">
	Bauer (1974), ‘Foreign Aid, Forever’, p.269
</li>

<li class="footnote" id="fn:47">
	OECD(2009), Is informal normal? Towards more and better jobs in developing countries, (OECD: Paris; 2009), p.20
</li>

<li class="footnote" id="fn:48">
	International Telecommunications Union (2010) ICT Statistics database, <a href="http://www.itu.int/ITU-D/ICTEYE/Reports.aspx#">Link</a>
</li>

<li class="footnote" id="fn:49">
	Chang, Ha-Joon (2010) <a href="http://www.wider.unu.edu/publications/newsletter/articles-2010/en_GB/10-2010-Chang/">Link</a>
</li>

<li class="footnote" id="fn:50">
	World Bank(2012) ‘Doing Business 2012’ <a href="http://www.doingbusiness.org/reports/global-reports/doing-business-2012">Link</a>
</li>

<li class="footnote" id="fn:51">
	Business creation rate from Fairlie (2012), p.1. Ease of doing business index is World Bank (2012). Selfemployment rates from Chang (2010) and are non-agricultural rates. GDP data from IMF (2012).
</li>

<li class="footnote" id="fn:52">
	US =(0.00032x4)+(7.5/48387), UK =(0.00104 x 7)+(12/35686), Ghana =(0.00005x63)+(66.9/1644), Benin = (0.00002x175)+(88.7/1587). LDC average = (0.00008 x 91)+(30/3900)
</li>

<li class="footnote" id="fn:53">
	Lipsey, Lancaster (1956) "The General Theory of Second Best"; Review of Economic Studies vol.24;,p.11-32
</li>

<li class="footnote" id="fn:54">
	See Lal (1983), ‘The Dirigiste Dogma’, p.15
</li>

<li class="footnote" id="fn:55">
	Rodrik, Dani (2004), ‘Industrial Policy for the Twenty-first Century’, CEPR Discussion paper No.4767, <a href="http://www.cepr.org/pubs/new-dps/dplist.asp?dpno=4767">Link</a>
</li>

<li class="footnote" id="fn:56">
	Sen, Amartya (2006) ‘The Man Without a Plan’, Foreign Affairs, <a href="http://www.foreignaffairs.com/articles/61525/amartya-sen/the-man-without-a-plan">Link</a>
</li>

<li class="footnote" id="fn:57">
	Easterly (2001), The Elusive Quest for Growth, p.291
</li>

<li class="footnote" id="fn:58">
	Easterly (2006), The White Man’s Burden, p.7
</li>

<li class="footnote" id="fn:59">
	Easterly (2006), p.5
</li>

<li class="footnote" id="fn:60">
	Easterly; Freschi (2011), post on his “aidwatch” website, <a href="http://aidwatchers.com/2011/05/aid-watch-blog-ends-new-work-on-development-begins/">Link</a>
</li>

<li class="footnote" id="fn:61">
	Savedoff et,al (2006), ‘When will we ever learn? Improving Lives through Impact Evaluation’, p.17
</li>

<li class="footnote" id="fn:62">
	Riddell (2007), p.168
</li>

<li class="footnote" id="fn:63">
	Easterly, William (1999), ‘The Ghost of Financing Gap’, Journal of Development Economics, vol.60 no.2, p.437
</li>

<li class="footnote" id="fn:64">
	Easterly (2006), p.4
</li>

<li class="footnote" id="fn:65">
	Figures owed to Singer, Peter (2009), The Life You Can Save, p.109
</li>

<li class="footnote" id="fn:66">
	Baro,et,al (2010), ‘Baseline Study of Saving for Change in Mali’, Bureau of Applied Research in Anthropology (University of Arizona), p.9
</li>

<li class="footnote" id="fn:666">
	Easterly, William (2008), 'CAN THE WEST SAVE AFRICA?', NBER Working Paper 14363, <a href="http://www.nber.org/papers/w14363.pdf">Link</a>
</li>

<li class="footnote" id="fn:67">
	Moyo, Dambisa (2009), Dead Aid, (St Ives, Penguin, 2009), p.xix
</li>

<li class="footnote" id="fn:68">
	Roodman, David (2009), ‘Dambisa Moyo Discovers Key to Ending Poverty’, <a href="http://bit.ly/4Bofju">Link</a>
</li>

<li class="footnote" id="fn:69">
	Moyo (2009), p.144
</li>

<li class="footnote" id="fn:70">
	Barder (2009), ‘Review of “Dead Aid” by Dambisa Moyo”, personal website, <a href="http://www.owen.org/wp-content/uploads/review-of-dead-aid.pdf">Link</a>
</li>

<li class="footnote" id="fn:71">
	From Easterly (2006), p.40
</li>

<li class="footnote" id="fn:72">
	Adebajo, Adekeye,(2009), ‘Economist’s Self-Flagellating Aid Tract does Continent no Favours’, BusinessDay, 18/12/2009, <a href="http://www.businessday.co.za/Articles/Content.aspx?id=89891">Link</a>
</li>

<li class="footnote" id="fn:73">
	Adebajo,(2009)
</li>

<li class="footnote" id="fn:74">
	Moyo, Dambisa (2009), Dead Aid, p.149
</li>

<li class="footnote" id="fn:75">
	Easterly (2006), p.60
</li>

<li class="footnote" id="fn:76">
	Roodman and Morduch (2009). ‘The impact of microcredit on the poor in Bangladesh’, Center for Global Development Working Paper No. 174, <a href="http://www.cgdev.org/files/1422302_file_Roodman_Morduch_Bangladesh_2.pdf">Link</a>
</li>

<li class="footnote" id="fn:77">
	Fitzgerald, Michael (2011), ‘Ends and Means’, University of Chicago Magazine, <a href="http://mag.uchicago.edu/economics-business/ends-and-means">Link</a>
</li>

<li class="footnote" id="fn:78">
	Collier, Paul (2009), ‘Time to Turn off the Aid tap?’, The Independent, 30/1/2009
</li>

<li class="footnote" id="fn:79">
	McArthur, John (2009), ‘Everywhere a Hammer on a Nail’ <a href="http://blogs.ei.columbia.edu/2009/04/01/everywhere-a-hammer-on-a-nail/">Link</a>
</li>

<li class="footnote" id="fn:80">
	Eichengreen, Barry (2011), ‘Latin Lessons for the Euro Zone’, <a href="http://emlab.berkeley.edu/~eichengr/latin_lessons_1-16-11.pdf">Link</a>
</li>

<li class="footnote" id="fn:81">
	Weisbrot, Mark (2007), ‘Ten Years After: the Lasting Impact of the Asian Financial Crisis’, Center for Economic and Policy Research, <a href="http://www.cepr.net/documents/publications/asia_crisis_2007_08.pdf">Link</a>
</li>

<li class="footnote" id="fn:82">
	Edwards, Sebastian (2002), ‘The Argentine Debt Crisis of 2001-2002’, working paper <a href="http://www.anderson.ucla.edu/faculty/sebastian.edwards/Chronology.pdf">Link</a>
</li>

<li class="footnote" id="fn:83">
	Saltz, Ira (1999), An examination of the causal relationship between savings and growth in the third world’, Journal of Economics and Finance, Vol.23, No.1, p.97
</li>

<li class="footnote" id="fn:84">
	Brecht, Bertolt (1950), ‘A Bed for the Night’ in Poems 1913-1956 (London; Methuen; 1987), p.181
</li>

<li class="footnote" id="fn:85">
	Hayter, Teresa (2009), ‘The purpose of aid’, New Internationalist, <a href="http://www.newint.org/blog/editors/2009/09/22/the-purpose-of-aid/">Link</a>
</li>

<li class="footnote" id="fn:86">
	Examples from Hayter,(1981), The Creation of World Poverty, (London; Pluto Press; 1983), p.27-59
</li>

<li class="footnote" id="fn:87">
	Boulanger,et,al,(2010), ‘Modelling the effects of the EU Common Agricultural Policy’, p.31
</li>

<li class="footnote" id="fn:88">
	OECD,(2012), DCD-DAC database
</li>

<li class="footnote" id="fn:89">
	Marks, Stephen,(2006),‘China in Africa – the New Imperialism?’,<a href="http://www.pambazuka.org/en/category/courses/32432">Link</a>
</li>

<li class="footnote" id="fn:90">
	McMillan & Waxman (2007), ‘Profit Sharing Between Governments & Multinationals in Natural Resource Extraction’, p.3
</li>

<li class="footnote" id="fn:91">
	Chen and Ravaillion (2007), ‘Absolute poverty measures for the developing world, 1981–2004’
</li>

<li class="footnote" id="fn:92">
	Jepma, Catrinus (1991), The Tying of Aid, (OECD; 1991), p.15
</li>

<li class="footnote" id="fn:93">
	Barrett, Christopher (2002) Food Aid After Fifty Years, p.179
</li>

<li class="footnote" id="fn:94">
	Riddell (2007), p.358
</li>

<li class="footnote" id="fn:95">
	Escobar, Arturo,(1995), Encountering Development (Princeton; Princeton; 2011), p.30
</li>

<li class="footnote" id="fn:96">
	Riddell,(2007), p.364
</li>

<li class="footnote" id="fn:97">
	Christian Aid (2005) ‘The Economics of Failure: The real cost of ‘free’ trade for poor countries’, <a href="http://www.christianaid.org.uk/Images/economics_of_failure.pdf, p.2">Link</a>
</li>

<li class="footnote" id="fn:98">
	Compare Killick (1995)’s criticisms with those of Woo (2004): they are identical, implying little change in 10 years.
</li>

<li class="footnote" id="fn:99">
	Bauer (1954), chapters 2-5, & Bauer (1984), p.201
</li>

<li class="footnote" id="fn:100">
	DFID (2002), ‘International Development Act 2002’, <a href="http://www.dfid.gov.uk/About-us/History/International-Development-Act-2002/">Link</a>
</li>

<li class="footnote" id="fn:101">
	Hayter, Teresa (1971), Aid as Imperialism, p.183
</li>

<li class="footnote" id="fn:102">
	Knack & Rahman (2004), ‘Donor Fragmentation and Bureaucratic Quality in Aid Recipients’, World Bank Policy Research Working Paper,3186
</li>

<li class="footnote" id="fn:103">
	Bermeo, Sarah (2009), ‘The Curse of Aid? Reexamining the Impact of Aid on Regime Change’, APSA Paper, <a href="http://papers.ssrn.com/sol3/papers.cfm?abstract_id=1449285, p.11">Link</a>
</li>

<li class="footnote" id="fn:104">
	Bermeo (2009), p.20
</li>

<li class="footnote" id="fn:105">
	Riddell (2007), p.364
</li>

<li class="footnote" id="fn:106">
	Barrett, Christopher (2002), Food Aid After Fifty Years, p.179
</li>

<li class="footnote" id="fn:107">
	Riddell, Roger (2007), Does Foreign Aid Really Work?, p.187
</li>

<li class="footnote" id="fn:108">
	Roodman, David (2011), Commitment to Development Index, <a href="<a href="http://www.cgdev.org/section/initiatives/_active/cdi/inside, p.13-4">Link</a>
</li>">Link</a>
<li class="footnote" id="fn:109">
	Marshall, Monty (2012), ‘Major Episodes of Political Violence 1946-2012’, <a href="http://www.systemicpeace.org/warlist.htm">Link</a>
</li>

<li class="footnote" id="fn:110">
	CRED (2012) ‘Natural Disaster Trends’ database, Center for Research into the Epidemiology of Disasters, <a href="http://www.emdat.be/natural-disasters-trends">Link</a>
</li>

<li class="footnote" id="fn:111">
	Burnside and Dollar (2000), ‘Aid, Policies and Growth’, American Economic Review, Vol. 90, No. 4, pp. 847-868
</li>

<li class="footnote" id="fn:112">
	Easterly, Levine, Roodman (2003), ‘New Data, New Doubts’, CGDev,No.26
</li>

<li class="footnote" id="fn:113">
	Clemens et,al (2004), ‘Counting Chickens When They Hatch: The Short Term Effect of Aid on Growth’, Centre for Global Development Working Paper No.44, <a href="http://www.cgdev.org/content/publications/detail/2744">Link</a>
</li>

<li class="footnote" id="fn:114">
	Rajan & Subramanian (2008), ‘Aid and Growth: What Does the Cross-Country Evidence Really Show?’ Review of Economics and Statistics, Vol. 90, No. 4, p.643-665
</li>

<li class="footnote" id="fn:115">
	Guillamont & Chauvet (2001),‘Aid and Performance: A Reassessment’, Journal of Development Studies,Vol.37(6),p.66-92
</li>

<li class="footnote" id="fn:116">
	Roodman (2007) ‘The Anarchy of Numbers: Aid, Development, and Cross-country Empirics’, World Bank Economic Review,21(2), p.255–77
</li>

<li class="footnote" id="fn:117">
	Hansen & Tarp (2000) ‘Aid and Growth Regressions’, OECD archive, <a href="http://www.oecd.org/dataoecd/16/45/2664913.pdf">Link</a>
</li>

<li class="footnote" id="fn:118">
	McGillivray et al (2005), ‘It Works; It Doesn’t; It Can, But That Depends…: 50 Years of Controversy over the Macroeconomic Impact of Development Aid’, Working Paper 2005/24, World Institute for Development Economics Research, Helsinki (August 2005)
</li>

<li class="footnote" id="fn:119">
	Roodman,David (2007), ‘Macro Aid Effectiveness Research’, <a href="http://www.cgdev.org/content/publications/detail/15003/">Link</a>
</li>

<li class="footnote" id="fn:120">
	Chatterjee, Giuliano, Kaya (2007), ‘Where Has All The Money Gone? Foreign Aid and The Quest for Growth’ <a href="http://www.economics.harvard.edu/faculty/giuliano/files/CGK-FOREIGNAID.pdf, p.2">Link</a>
</li>

<li class="footnote" id="fn:121">
	Bourguignon, Gelb, Versailles (2005),‘Policy, aid and performance in Africa: The G11 and other country groups.” Working Paper, (World Bank, Washington, DC; 2005), p.6
</li>

<li class="footnote" id="fn:122">
	Collier & Hoeffler,(2004a), p.6
</li>

<li class="footnote" id="fn:123">
	Collier & Hoeffler,(2004a), p.8
</li>

<li class="footnote" id="fn:124">
	Adam, Christopher (2005), ‘Exogenous Inflows and Real Exchange Rates: Theoretical Quirk or Empirical Reality?’ <a href="http://www.economics.ox.ac.uk/Members/christopher.adam/Own_pdfs/Adam_FAMM_Revised_Sept_2005.pdf, p.26">Link</a>
</li>

<li class="footnote" id="fn:125">
	Barder (2006) ‘A Policymaker’s Guide to Dutch Disease’, CGDev,No.91 <a href="http://www.cgdev.org/content/publications/detail/8709, p.14">Link</a>
</li>

<li class="footnote" id="fn:126">
	Token value: %donor GDP given (0.3%) /10 to represent greatly diminished marginal utility of income.
</li>

<li class="footnote" id="fn:127">
	See ‘The anarchy of numbers’ above.
</li>

<li class="footnote" id="fn:128">
	Easterly (2005) puts aid’s return as 20% lower. This only damages development if the aid was a loan. (See debt burden)
</li>

<li class="footnote" id="fn:129">
	Collier & Hoeffler (2004) put military fungibility at 11.4%, find its impact severe, note that it can be prevented ‘wholly’.
</li>

<li class="footnote" id="fn:130">
	Consumption not a negative impact in itself; M=0.1 is opportunity cost. (See ‘adverse political selection’ for damage.)
</li>

<li class="footnote" id="fn:131">
	DFID puts corruption misuse at just 0.016%, but World Bank (2011)’s 4% is more likely. (See ‘aid curse’ for real damage.)
</li>

<li class="footnote" id="fn:132">
	Not really an argument against aid per se. (see bureaucracy deadweight, debt burden and crowding out for the damage)
</li>

<li class="footnote" id="fn:133">
	Knack (2004) does find a correlation of aid with bureaucracy. Selaya (2009) finds that only grants cause bloat.
</li>

<li class="footnote" id="fn:134">
	Low accountability compounds & causes negative factors; it is not itself one. Similarly with lack of evaluation.
</li>

<li class="footnote" id="fn:135">
	Gibson et al (2005) call this the primary problem of aid. See ‘fungibility’ for its public manifestation; values here are of individual dependency, from Alesina & Weder (2002). Little evidence for countermanding ‘capacity building’, hence T=0.4.
</li>

<li class="footnote" id="fn:136">
	Harford and Klein (2005) examine the potential but not the frequency. Moss et al (2006) estimate 1/5 of their sample display it. Bermeo (2009) notes that the issue is tractable according to intent and composition of aid.
</li>

<li class="footnote" id="fn:137">
	Collier & Hoeffler (2005) find aid rents to be a minor factor in coup stats –but note that donors can adapt to the risk.
</li>

<li class="footnote" id="fn:138">
	Conflicting studies: Alesina and Weder (2002) give the high F, p.1135. Tavares (2003) and Wilmer (2009) find the opposite correlation, high aid-low corruption. Hanna et al (2010) gives a surprisingly high tractability.
</li>

<li class="footnote" id="fn:139">
	Perhaps M=0.8 in HIPCs. Aid effect is half of this, based on Rogoff (2002), which gives debt crises to aid ratio.
</li>

<li class="footnote" id="fn:140">
	Adam (2005) finds low frequency in Africa, and Barder (2006) finds DD fully manageable (…given good governance…).
</li>

<li class="footnote" id="fn:141">
	Collier & Hoeffler (2004b), from a 48-country, 30-year panel, find the opposite correlation: scaling up private investment by preventing capital flight. Shields (2007) also finds 11% of countries exhibit crowding out.
</li>

<li class="footnote" id="fn:142">
	Only food aid clearly manifests the perversity, cf. Barrett (2005). Evidence of ‘internal brain drain’ from Birdsall (2007)
</li>

<li class="footnote" id="fn:143">
	Numbers are direct, from Riddell (2007), p.358: tied aid is 20% less cost-effective, occurs 60% of the time, & is arbitrary.
</li>

<li class="footnote" id="fn:144">
	Christian Aid (2005) puts total damage at $272bn. Riddell demurs: “by how much it is not really possible to say”, p.364
</li>

<li class="footnote" id="fn:145">
	Not quantifiable.
</li>

<li class="footnote" id="fn:146">
	See ‘Anarchy of numbers’
</li>

<li class="footnote" id="fn:147">
	Shields (2007) found a significant positive effect on net savings in 72% of 119 countries. Mavrotas (2000) instruments for crowding out and fungibility in 30 cases, & finds net gains. We can remain agnostic about growth link, still have M=0.3.
</li>

<li class="footnote" id="fn:148">
	Riddell (2007), p.204 surveys the history of TA and is pessimistic.
</li>

<li class="footnote" id="fn:149">
	Difficult to quantify and too early to call. World Bank (2005)’s 10-year overview gives little evidence of success.
</li>

<li class="footnote" id="fn:150">
	Education forms a third of the HDI formula, hence the large weight here, from Dreher et al (2004). Quality is generally held to lag well behind quantity of provision, hence low M=0.4. I rely on Psacharoupoulos (2011) for return to education, d’Aiglepierre (2010),p.17 for F=0.8, and Banerjee & Duflo (2011) for T.
</li>

<li class="footnote" id="fn:151">
	Aid’s achievements have been greatest in health (M=1). Levine (2007) attributes ‘half’ of this to aid, thus F=0.5.
</li>

<li class="footnote" id="fn:152">
	Covering physical capital (sanitation, water, energy, roads). Kapfer et al (2007) find a strong effect from infrastructure. Botting (2010) finds good results from aid in water but not sanitation. Investments often not sustained, hence low T.
</li>

<li class="footnote" id="fn:153">
	For monetary reconstruction, audits, military reform and targeting unemployment. Collier (2004) and Collier (2007), p.177 finds clear evidence of success – but largely in LLDCs, hence low F.
</li>

<li class="footnote" id="fn:154">
	Jain (2010)’s overview finds it an aid success in large part - but only truly successful in India and Mexico, hence low F. Oasa (1987)’s concerns about sustainability and transferability lead to T =0.5
</li>

<li class="footnote" id="fn:155">
	Still minor – only 6% of ODA, hence low F – but increasing. It is the definition of sustainable, hence T. cf,OECD,(2012c)
</li>

<li class="footnote" id="fn:156">
	See fn. 138
</li>

<li class="footnote" id="fn:157">
	Easterly, William (2009) ‘Sachs Ironies: why critics are better for foreign aid than apologists’, Huffington Post, 25/5/09
</li>

<li class="footnote" id="fn:158">
	Maimonides (c.1170), <a href="{{maimo}}">Mishneh Torah</a>, transl. American Jewish World Service, chapter 10, verse 7. 
</li>

<li class="footnote" id="fn:159">
	Malthus, Thomas Robert (1798), <a href="{{malthus}}">An Essay on the Principle of Population</a>, Book IV, Chapter 10, published online at Library of Economics and Liberty.
</li>



</ol>
</div>