<ul>

<li><i>Impact</i>: A buzzword for the absolute effect of some project or program. Call the <i>general</i> impact (the summary of impact sought by cross-country regressions), the ‘macro impact of aid’.</li><br>


<li><i>Effectiveness</i>: Aid efficiency: impact per unit resource.</li><br>


<li><i>Development</i>: The most fraught definition. A heuristic is: “rapid improvement in capabilities and quality of life across a whole society”. It is about more than economic productivity, but the term is very often used to mean economic development, i.e. GDP growth, or total factor productivity growth. I use the 2010 HDI scale as a leaky proxy. </li><br>


<li><i>Human Development Index</i> (HDI): From 2011, a measure of basic development, incorporating equal weights of life expectancy (LE), literacy/education (EI), and standards of living (II) in the following simple function:
$$
	HDI = \sqrt[\leftroot{-1}\uproot{2}\scriptstyle 3]{ LE \times EI \times II }
$$
<a href="#fn:18" id="fnref:18">18</a></li><br>


<li><i>Development aid</i>: International transfer of funds, nominally to stimulate development.<br><br>
A general technical definition is difficult, owing to the appropriate discount rate for the value of loans relative to the value of grants, and contentious ‘disguised’ aid elements (e.g. costs of accepting refugees, trade-tariff easing, state-owned enterprise investments, or military support). </li><br>

<li><i>Humanitarian aid</i>: Ultra-short-term disaster relief (immediate transfer of goods and services). This is not development aid.
</li><br>


<li><i>Official aid</i> (ODA): Public transfers like Official Development Assistance (ODA). “Flows of official financing with the promotion of economic development of developing countries as the main objective, which are concessional in character with a grant element of at least 25 percent (using a fixed 10 percent rate of discount).” <a href="#fn:16" id="fnref:16">16</a><br><br>

The loan component of ‘aid’ must be stressed, since even at concessionary interest rates it gives rise to serious side-effects. Technically, the 'ODA' term only applies to countries in the Development Assistance Committee (DAC), but I use 'ODA' to include non-DAC aid (e.g. China and Saudi Arabia). To avoid arbitrariness in adding up total ODA, all real ‘flows’ of resources should be considered. Official aid is thus financial assistance <i>and</i> technical assistance <i>and</i> debt relief <i>and</i> commodity transfers. I exclude military assistance and transfers to NICs where possible.</li><br>



<li><i>Less developed countries</i> (LDCs): Poor nations. Membership varies according to the metric used; I use the term to cover the bottom two quartiles on the HDI (currently, those below 0.698). The IMF currently lists 150 LDCs, comprising 70% of the world’s population. <a href="#fn:14" id="fnref:14">14</a></li><br>


<li><i>Least developed countries</i> (LLDC): The poorest subset of LDCs – the ‘bottom billion’ people. The UN uses three criteria for an LLDC: “a low-income criterion… of GNI per capita (under $750 for inclusion); a human resource weakness criterion; and an economic vulnerability criterion…” <a href="#fn:15" id="fnref:15">15</a> People in these comprise 13% of the world’s population.</li><br>


<li><i>Newly industrialised countries</i> (NICs): Countries with strong growth rates, and usually ballooning trade. I use the term for the 2nd quartile (currently, those above 0.698 but below 0.793 in HDI).</li><br>


<li><i>More Developed Countries</i> (MDCs): The top quartile of countries on the HDI (currently those above 0.793). More usually taken to be those countries with GDP above $12,275 at 2010 prices. (I adopt the euphemistic term ‘MDC’ only to emphasise the relativity and incompleteness of their superiority.)</li><br>

<li><i>Development Assistance Committee (DAC)</i>: A committee for tracking government aid. Rougly "Western aid".</li><br>

<li><i>Technical assistance</i> (TA): Transfer of skilled labour, services or training. Supposedly ‘exporting knowledge’. Often in the form of economists, logisticians, managers and teachers, without whom aid is minimally useful. Forms perhaps 30% of total ODA, and has done throughout the modern aid period. <a href="#fn:17" id="fnref:17">17</a></li>


</ul>
