<blockquote>
	A few people have a bed for the night <br>
	For a night the wind is kept from them <br>
	The snow meant for them falls on the roadway <br>
	But it won’t change the world <br>
	It won’t improve relations among men <br>
	It will not shorten the age of exploitation.
</blockquote>
<div align="center">- Bertolt Brecht <a href="#fn:84" id="fnref:84">84</a></div>
<br>


Some postcolonial critics argue that aid is more or less espionage: a circumspect method for internationalising capital and Westernising the poor. (In this framework, the former is said to be a bad thing.) Teresa Hayter’s passionate attack on some political dynamics in C20th aid led me to call this topic 'abolitionism' in the first place; she sees aid as a disguised, leveraged control of LDC politics and resources. <br><br>

She recently reiterated her position: <br><br>

<blockquote>
	Some aid projects may in themselves be useful. Others may be problematic: foreign so-called experts, however well-meaning, often get it wrong. But, above all, the policies which governments have to adopt to get the money are deeply damaging to the interests of the poor. I believe, therefore, that official government aid, on balance, does more harm than good to the poor of the Third World. <a href="#fn:85" id="fnref:85">85</a>
</blockquote>

<span style="font-weight:bold">‘The Creation of World Poverty’.</span> Hayter emphasises the role of the colonial legacy and the rules of international trade in the subjection and stagnation of LDCs. This argument is not empty: colonial extraction occurred in many cases, like the Belgian extraction colonies, the whole slave trade, or the UK’s opium wars. <a href="#fn:86" id="fnref:86">86</a> Colonists also created most of the arbitrary, centralised, and abusable states in which the poorest quartile live.<br><br> 

Some contemporary empirical support for the accusation of neo-colonialism: <br><br>

<ol>
	<li>The total volume of aid is dwarfed by the 'shadow costs' of MDC protectionism. To take one large subsidy: the EU’s Common Agricultural Policy costs LDCs $15bn a year, by artificially suppressing the market price of EU crops. <a href="#fn:87" id="fnref:87">87</a> 
	</li>
	
	<li>Aid has constantly been mistargeted for politically expediency. For instance, Israel, one of the most developed countries in the world, is the recipient of by far the most US aid, historically. <a href="#fn:88" id="fnref:88">88</a> 
	</li>

	<li>Contemporary surges in Chinese investment in, and aid to, Africa are raising concerns about the manipulation of government and local law. <a href="#fn:89" id="fnref:89">89</a> There is little reason to think that Western finance is less concerning (except where it is directly supporting recipient democracy).</li>

	<li>Excess profit extraction (through transfer pricing and tax evasion) is customary of multinational corporations operating in LDCs. <a href="#fn:90" id="fnref:90">90</a> </li>

	<li>Excluding China, the world poverty headcount has not declined significantly over the last 20 years, despite apparently large flows of aid. <a href="#fn:91" id="fnref:91">91</a> </li>
</ol>


<h4>Why does Hayter say this is?</h4> <br><br>

<ul>
	<li>Tying. Tied aid (aid resources which commercially serve the donor) seems straightforwardly neo-imperialist. Though in most cases it is merely inefficient and venal (tied aid is subject to 20% discounting in good measures of ODA <a href="#fn:92" id="fnref:92">92</a>), imports replace domestic products, which may further harm domestic industries. Food aid is a severe instance of tying suppressing local prices and depressing output. <a href="#fn:93" id="fnref:93">93</a> The proportion tied remains incredibly high – perhaps 60% of ODA in 2006. <a href="#fn:94" id="fnref:94">94</a> </li><br><br>

	<li>Conditionality and imperialism. Aid is seen by Hayter and others as a denial of LDCs’ national autonomy. This is anti-development in a less quantitative sense. As Arturo Escobar has it: <br><br>

	<blockquote>
		The infantilization of the Third World was integral to development as a ‘secular theory of salvation’.” <a href="#fn:95" id="fnref:95">95</a> 
	</blockquote>

	The salient point to draw from this slightly vague accusation, is the IFIs’ record of giving 'false paradigm' economic advice to LDCs. <a href="#fn:96" id="fnref:96">96</a> Christian Aid puts the total cost of structural adjustment (that aid given in order to facilitate rapid marketization reform) to Sub-Saharan Africa at $272bn. <a href="#fn:97" id="fnref:97">97</a> Moreover, aside from slightly less emphasis on extreme privatisation, the IMF’s conditions have not changed substantially since the 1990s. <a href="#fn:98" id="fnref:98">98</a> <br><br></li>
</ul>
<br><br>

<h4>Criticising Hayter</h4>

<br>
The main thing to note is that many of these criticisms are not criticisms of aid: they are instead aimed at the general political economy of the modern world. The hypocrisy of MDCs – protectionism for themselves, but free trade for the poor; 'socialism for the rich'; unsafe policy manipulations in LDCs; and the unchecked brain-drain of the brightest away from LDCs – does not speak against <i>aid</i> unless we take a very stern, Kantian ideal of international action – that the impure motives that are doubtlessly involved in donor countries preclude practical benefits for recipients.<br><br> 

Furthermore, some of her key claims are false. Not all colonies were extractive; Bauer’s historical study of rubber in West Africa and agriculture in Zimbabwe shows that at least <i>in places</i>, colonial forces created domestic capital and employment, and passed much of it intact to the post-colonial population, which subsequently generally failed to develop. <a href="#fn:99" id="fnref:99">99</a><br><br> 

Tied aid is now illegal in the UK, and similar motions are being considered throughout the DAC countries. <a href="#fn:100" id="fnref:100">100</a> Hayter also duplicates Moyo’s simplistic correlation error, as regards the headcount of poverty relative to the increasing aid level.<br><br>

Finally, the economic experience of autarkic and ‘de-linked’ countries speaks against her positive prescription: to just do without aid. Hayter’s analysis relied on the existence of a supportive international Socialist network to replace capitalist aid. <a href="#fn:101" id="fnref:101">101</a> Even granting the dubious notion that Soviet or Chinese aid would have been less manipulative or dependence-forming, every economy in the world is now deeply interdependent, and the available evidence does not disqualify aid as a possible economic route out of dependence. <br><br>

Hayter forces us to consider the politics of aid.  Large parts of the aid industry have primarily served donors. But when evaluating aid as a future policy option, it's important to consider the <i>tractability to reform</i> of the hypocritical and inefficient parts: future aid could be different. I rely on the following chapter to suggest that large parts are tractable. 
