<div class="accordion">
	<h3>The Great Aid Debate</h3>
	<div>
		Altruism is the cardinal virtue – but closely followed by scepticism. This is a study of these two forces in aid economics. Following the hysterics of 2005 – <a href="{{bono}}">Bono</a>, <a href="{{glen}}">Gleneagles</a>, the call for 'double aid' – suspicion of aid is again encroaching, as it has done in cycles throughout the modern aid period. <a href="#fn:1" id="fnref:1">1</a> A number of academic works have questioned the value of aid; Gibson et al note that ‘hundreds of researchers have identified hundreds of problems’ with the aid process, a dismaying array of hypocrisies, frictions, and leakages in the process. <a href="#fn:2" id="fnref:2">2</a><br><br>

		Even sympathetic macro syntheses conclude that aid is not necessary for development, nor obviously sufficient.<a href="#fn:3" id="fnref:3">3</a><a href="#fn:4" id="fnref:4">4</a> (This does not mean that it has been without use – to ascertain that, we must actually investigate the effects of the $3.4 trillion of aid spent since 1960 at an exhausting level of granularity. <a href="#fn:5" id="fnref:5">5</a>)<br><br> 

		Some economists go further, arguing that aid is not only wasted (that is, zero effect), but is actively perverse. Donald Kommers speaks for many when he says: <br><br>

		<blockquote>
			Aid workers... are good people committed to caring for the victims of poverty, disease, violence, and war. But their caring is selective, their advocacy misleading, their impact negligible, and their independence politically compromised. Worse, they are sometimes unknowing accomplices in the evils they seek to eradicate. <a href="#fn:6" id="fnref:6">6</a>
		</blockquote>

		Call the position of ending ODA transfers to the developing world, <i>aid abolitionism</i>. It earned lip-service from some world leaders in the early C21st <a href="#fn:7" id="fnref:7">7</a><a href="#fn:8" id="fnref:8">8</a><a href="#fn:9" id="fnref:9">9</a>, after its original statement in the 1950s by Peter Bauer (who was himself following C19th arguments about the abolition of welfare in general by Malthus). <a href="#fn:10" id="fnref:10">10</a><br><br>

		Of course abolitionism is contested in the strongest terms. Jeffrey Sachs is the exemplar of the new "Big Push" for development aid: <br><br>

		<blockquote>
			The inattention and neglect of our policy leaders lull us to believe casually that nothing more can be done … a small fraction of that [military] money, if it were directed at development approaches, could save millions of lives and set entire regions on a path of economic growth. <a href="#fn:11" id="fnref:11">11</a>
		</blockquote> 

		But see also the Liberian president, Ellen Johnson-Sirleaf:<br><br>

		<blockquote>
			Critics say that African economies are shrinking, that poverty is rising – and that failing aid is the culprit. But this argument is at least a decade out of date... Reducing aid would slow private sector growth, stall poverty reduction & undermine peace and stability in countries that are struggling to become part of the global economy. <a href="#fn:12" id="fnref:12">12</a>
		</blockquote><br>
		
		Figure 1 sketches the ‘Great Aid Debate’ between these opposed views, reflecting the curious alliance of neoliberals and neo-Marxists under abolitionism:

		<div align="center">
			<img src="/img/aid/fig1.jpg" /><br>
			<small><b>Fig.1</b>. The views of key thinkers on markets and on aid.</small>
		</div><br><br>

		(This is post-hoc and illustrative, and shouldn't be mined as evidence per se.)
	</div>

	<h3>The goals of aid</h3>
	<div>
		Owen Barder divides development goals into two: <i>Transformation</i> goals and <i>Solidarity</i> goals. <a href="#fn:24" id="fnref:24">24</a> Transformation is the classic <a href="{{rostow}}">Rostovian</a> macroeconomic project: the acceleration of deep economic and institutional change in LDCs, until they achieve take-off growth, and thereby independence. <br><br>

		Solidarity is the impulse to ease underdevelopment <i>now</i>, and so it borders humanitarian aid and takes us out of scope: “<i>On this view, the development process is long and hard, and one role for outsiders is to enable people to live better lives while this process is happening in their country</i>.” <a href="#fn:25" id="fnref:25">25</a> Aid has aimed at both, but only succeeds demonstrably on the latter type. (A better name might be "marginal" gains, since 'solidarity' connotes symbolic and materially ineffectual gestures of help.)<br><br>

		A third, ignoble goal involves giving aid to boost donor industries, or to gain soft geopolitical power over recipients. Another ignoble goal is governments <a href="{{signal}}">signalling</a> their wealth and virtue by giving aid. The only real problem with the latter two is that they tend to make aid very ineffective, since a metric other than 'impact' is being targeted.
	</div>
	

	<h3>Glossary</h3>
	<div>
		{%		include aid/gloss.html		%}
	</div>


	<h3>Scope</h3>
	<div>
		<i>Inclusions</i>: ‘official aid’: government-to-government assistance. I include non-DAC aid where I can, though the data for it are even sparser than usual. Structural, 'transformative' effects of aid on the economic capacities of recipients.<br><br>

		<i>Exclusions</i>: I do not treat emergency aid – widely considered to the only option for its particular goals, and so above abolition.<a href="#fn:13" id="fnref:13">13</a> Discussion of aid reform theory is limited to a sketch. China is such an exceptional LDC that I try to exclude it from aggregates. I also do not consider abolitionisms motivated by political ‘particularism’ (positions that weight some group intrinsically more than others): the abolitionists’ arguments are nominally free of geography, nationality, or similar illiberal criteria.<br><br>

		Apart from discussing Toby Ord's important argument about smallpox, I mostly don't cover the many, many incremental gains that didn't involve capital-d Development (full industrialisation, universal quality of life, and democratic flourishing).
	</div>


	<h3>The aid landscape</h3>
	<div>
		Figure 2 gives a breakdown of recent official aid. Note that bilateral official aid still constitutes 68% of total flows. <a href="#fn:19" id="fnref:19">19</a>

		<div align="center">
			<img src="/img/aid/fig2.jpg" /><br>
			<small><b>Fig.2</b>. Official C21st aid volumes.</small>
		</div><br><br>

		Non-DAC countries do not report much, and it is difficult to estimate proportions for them, but we do know they gave something like $11 - 41 billion on top of the above; they thus represent between 8 and 31% of all ODA. <a href="#fn:20" id="fnref:20">20</a> NGO aid has increased rapidly in recent years, reaching $24 bn, or 15% of total aid. <a href="#fn:21" id="fnref:21">21</a> <br><br>

		A note for perspective: we often exaggerate aid’s proportion of the fiscal makeup of LDCs. Even at its proportional peak in 1968, aid still only contributed 10% of the GDP of recipient LDCs. <a href="#fn:22" id="fnref:22">22</a> Fig.3 illustrates the recent dwarfing of aid by other flows (themselves still dwarfed by domestic activity):

		<div align="center">
			<img src="/img/aid/fig3.jpg" /><br>
			<small><b>Fig.3</b>. Net external finance flows to LDCs. <a href="#fn:23" id="fnref:23">23</a></small>
		</div><br><br>

	</div>

</div>
