
<blockquote>
	Aid has been and continues to be an unmitigated political, economic, and humanitarian disaster for most parts of the developing world.
</blockquote>
<div align="center">- Dambisa Moyo <a href="#fn:67" id="fnref:67">67</a></div><br><br>

<blockquote>
	...[Moyo] seems to mistake absence of proof for proof of absence—and to confuse failure to prove benefit with proof of harm.
</blockquote>
<div align="center">- David Roodman <a href="#fn:68" id="fnref:68">68</a></div><br><br>

In 2009, Dambisa Moyo published a strident analysis of ODA to Africa, <i>Dead Aid</i>. The book is dedicated to Peter Bauer – but she absorbed his caustic tone without his analytical power. She presents a shock therapy thought-experiment:<br><br>

<blockquote>
	What if, one by one, African countries each received a phone call (agreed upon by all their major aid donors – the World Bank, Western countries etc), telling them that in exactly five years the aid taps would be shut off, permanently? <a href="#fn:69" id="fnref:69">69</a>
</blockquote>


She claims that aid has clearly failed, by increasing poverty; and that there are obvious alternatives for African development. I here address these claims and what she calls ‘alternatives’ to aid (which are actually complements). <br><br>

To be able to condemn the whole aid industry, Moyo is highly selective about evidence, and poses a false dichotomy between aid and other development measures. Barder:<br><br>

<blockquote>
	She just asserts that aid causes corruption, bottlenecks, losses of competitiveness and erosion of accountability… Moyo does not support any of this with any evidence, and – more alarmingly – she misrepresents the academic literature to pretend that it supports her conclusions. <a href="#fn:70" id="fnref:70">70</a> 
</blockquote>

The evidence presented for the claim that 'aid has clearly failed' is a <i>correlation</i> lifted from Easterly:

<div align="center">
	<img src="/img/aid/fig6.jpg" /><br>
	<small><b>Fig.6</b>. Aid and growth in Africa (10yr moving averages). <a href="#fn:71" id="fnref:71">71</a></small>
</div><br><br>


Though striking, she does nothing to control for reverse causality; Fig.6 is only the impression of evidence. Moyo points out aid is grossly mistargeted and misused, but, as Adekeye Adebajo points out, this is not an argument against aid: “<i>She notes that 85% of aid is diverted to other purposes, which suggests that it is the abuses of aid — rather than aid itself — that is the main problem.</i>” <a href="#fn:72" id="fnref:72">72</a> <br><br>

As regards the claim that aid has increased poverty: there simply is not enough evidence to support this. Moreover, by attributing latter-day African poverty primarily to aid, Moyo ignores or plays down factors with actually documented links. Adebajo enumerates them: “<i>...structural issues from colonialism, external debt, and the global distribution of resources, as well as conflicts, poor governance, lack of a productive base, and failures of economic integration, have all contributed much more to poverty than aid.</i>” <a href="#fn:73" id="fnref:73">73</a>

Moyo’s positive prescriptions are: 

<ol>
	<li>
		<span style="font-weight:bold">Free the markets</span>. The book is the mirror of Jeffrey Sachs’ hubris – and is in fact more utopian than his The End of Poverty. She claims that “Development is not a mystery; each of the elements of the Dead Aid proposal has been tried and tested and yielded success – and governments and policymakers know it”. <a href="#fn:74" id="fnref:74">74</a> She effectively advocates shock therapy – a policy which the historical record and her fellow aid sceptic Easterly both countermand – and moreover that LDCs undergo it without the benefit of any added resources with which to transform the economy. <a href="#fn:75" id="fnref:75">75</a>
	</li>

	<li>
		<span style="font-weight:bold">More microfinance</span>. In an overview of microfinance in Bangladesh, one long-time advocate, Jonathan Morduch admits that, “Strikingly, 30 years into the microfinance movement we have little solid evidence that it improves the lives of clients in measurable ways.” <a href="#fn:76" id="fnref:76">76</a> The book excessively operationalises development metrics, apparently under the assumption that real effectiveness can be reduced to the volume of participants and cost-effectiveness. For instance: her primary evidence for the success of microfinance is high repayment rates. This is a poor measure of actual development impact; we cannot assume, as she does, that repayment is a real proxy for overcoming dependence, since repayment has very often been enforced by shame and intimidation. <a href="#fn:77" id="fnref:77">77</a> 
	</li>

	<li>
		<span style="font-weight:bold">Exaggerate macrofinance</span>. Even writing in the midst of a global financial crisis, Moyo overstated the availability of bond issues and credit, as Collier noted:

			> Moyo has been unlucky in her timing… The opportunity for African governments to raise money on international markets has evaporated even more rapidly than it opened around four years ago. The global financial crisis has drastically reduced investor appetites for risk: for example, the government of Kenya had planned to raise $500m through an international bond issue, but that is now out of the question. <a href="#fn:78" id="fnref:78">78</a>

		Even were it available, Moyo’s appeal to commercial credit entails a vast increase in debt for the world’s poorest – “<i>in effect advocating sub-sub-sub-prime lending. We have learned the risks to sub-prime lending in the rich world. Do we really want to engage full scale in extending the predictable risk in the poorest parts of the planet?</i>” <a href="#fn:79" id="fnref:79">79</a>

		Moreover, global interest rates have been near-zero in the period 2009-2012. With continuing quantitative easing, this trend should not last in rich-world economies: current monetary expansion will force rising interest rates. Global credit could then become too expensive for most LDCs, and heavily indebted poor countries (HIPCs) will risk crisis (as seen in 1982, when the US Federal Reserve raised US interest rates and caused a decade-long debt crisis in much of Latin America <a href="#fn:80" id="fnref:80">80</a>; Asia in 1997 <a href="#fn:81" id="fnref:81">81</a>; Argentina in 2001 <a href="#fn:82" id="fnref:82">82</a>; and most of the world in 2008).<br><br> 

		Nor is the bond market necessarily suitable for funding social programs, which tend to have a long gestation periods, or social returns generated in other units than financial profit. Results from Ira Saltz suggest that portfolio investment follows growth, and does not lead it. <a href="#fn:83" id="fnref:83">83</a> If so, this makes Moyo’s advice totally inapplicable, to HIPCs at least.<br><br>

	</li>
</ol>


Other prescriptions – encouraging FDI, an end to protectionism in MDCs, an end to IFI structural adjustments – are commendable. But they are not aid <i>substitutes</i>, and aid can help redress the damage that even they do. <br><br>

Moyo is correct: aid cannot develop LDCs alone. But no economist – not even Jeffrey Sachs – anymore says it would. Moyo’s bowdlerised economics aside, the process by which development can in general be caused is still extremely mysterious to us.

