Before we come to contrarian critiques of aid, what reasons have we for thinking aid is a good idea in the first place?<br><br>


<div class="accordion">


<h3>Prima facie ethics</h3>
<div>
	Given some common moral intuitions, we cannot ignore absolute poverty. In the abstract:<br><br>

	<ol>
		<li>Moral universalism: “neither our distance from a preventable evil nor the number of other people who, in respect to that evil, are in the same situation as we are, lessens our obligation to mitigate or prevent that evil.” <a href="#fn:26" id="fnref:26">26</a></li>

		<li>Underdevelopment is an evil.</li>

		<li>So if underdevelopment can be alleviated, it should be.</li>

		<li>Aid alleviates underdevelopment.</li>

		<li><i>Conclusion</i>: We should give aid to alleviate underdevelopment.</li>
	</ol>

	Ascertaining premise 4 has been the (unsuccessful) focus of generations of developmentalists. Abolitionists dispute it, and ask instead “Would development benefit if aid were stopped?”<br><br> 

	Notice that, even if premise 4 is false, it does not follow that we should <i>not</i> give aid; it vitiates only the most ambitious Rostovian aid. Discharging our obligations in this case would instead involve solidarity programs (like health) and the opening of borders, to allow access to economic opportunity where it already exists.<br><br>
</div>


<h3>Where's the burden of proof?</h3>
<div>
	Who must justify themselves here, the aid pusher or the abolitionist?<br><br> 

	Since aid is always a cost to donors, aid could be said to ‘fail’ if it harms <i>or</i> if it has no net effect.<br><br>

	But, as Riddell puts it, the prima facie nature of aid gives us a reasonably strong <i>prior</i> probability in favour of aid: <br><br>
	
	<blockquote>
		...aid is something which is added: it is additional to what the recipient currently has... The more reasonable default position on the impact of aid is that it should be viewed as helpful, unless it can be shown not to be beneficial, rather than (as frequently occurs at present) it is assumed to be detrimental unless proved to have been effective. <a href="#fn:27" id="fnref:27">27</a>
	</blockquote>

</div>

<h3>Gaps and traps: macroeconomic rationales</h3>
<div>
	Transformation aid has usually been justified in terms of the balance of payments of recipients – poverty is seen as primarily a lack of capital, so aid is intended to fill ‘gaps’, stimulating growth, and thus springing populations from poverty ‘traps’.<br><br> 

	LDCs are thought to be unable to develop independently as a result of environmental shocks; international power structures; market failures; or government failures (like chronic war).<br><br> 

	Aid is intended to improve growth via capital accumulation. The classic mechanism runs: <br><br>
	<blockquote>
		Aid -> capital accumulation -> growth -> income -> saving -> investment -> take-off growth 
	</blockquote>
	<a href="#fn:28" id="fnref:28">28</a><br><br>

	The 'two-gap' analysis argues that one of two constraints will always be limiting growth: either the savings gap (the shortfall of domestic savings from the level of investment required for independent growth); or the foreign-exchange gap (the deficit of export revenues from the value of imports needed for take-off development). Where <i>I</i> is total investment, <i>F</i> the volume of capital inflows, and <i>s</i> the marginal propensity to save and <i>Y</i> is annual national income, the savings gap is:
	$$
		I \leq F + sY
	$$         
	And where <i>m_1</i> is the marginal import share, <i>m_2</i> is the marginal propensity to import, and <i>EX</i> is export volume, the foreign-exchange gap is:
	$$
		F \geq (m_1 - m_2) \,I + m_2 Y 
	$$
	(Even though <i>F</i>, <i>E</i> and <i>Y</i> are held exogenous, note that the two gaps are not independent.) <a href="#fn:29" id="fnref:29">29</a> 

	If there is a poverty trap, aid will lead to efficiency gains and the return there will be a surplus; if not, the aid will merely redistribute. Apparent traps are seen in many facets of the life of the poor: Sachs’ nutritional traps <a href="#fn:30" id="fnref:30">30</a>; Taylor’s fiscal and inflation gaps <a href="#fn:31" id="fnref:31">31</a>, Collier’s conflict and landlock traps <a href="#fn:32" id="fnref:32">32</a> and Birdsall’s ‘institutional trap’. <a href="#fn:33" id="fnref:33">33</a> These are general rationales for aiding civil society, supplying post-conflict regions, building infrastructure, and encouraging governance reform.<br><br> 

	Finally: in a weak sense of 'necessity' there is an obvious necessity for aid. Call a given aid package a <i>practical</i> necessity if it meets three criteria: <br><br>
	<ol>
		<li>It is required by a recipient;</li> 
		<li>It could promote development;</li> 
		<li>It cannot be effectively obtained from other sources. </li>
	</ol>

	These situations often arise in LDCs, this is a fine prima facie template to apply to particular cases. Aid, then, can be minimally construed as the last resort of development.
	<br><br>

	(<a href="{{harrod}}">The above model</a> of economic growth is far from current, but it represents past beliefs well, and is a good clear position to react against later.)
</div>


<h3>Ord's lower bound on welfare</h3>
<div>
	To say that increases in (microeconomic) welfare are merely about 'solidarity' is to downplay the scale of our success on the nonstructural front.<br><br>

	Toby Ord has <a href="{{ord}}">a neat argument</a> placing a very positive lower bound on the impact of foreign aid. This bound actually balances <i>all</i> aid spending as cost-effective, even given unrealistically pessimistic assumptions. Consider just the smallpox eradication program, and imagine that all other aid spending ever had no net effect at all. <br><br>

	<ol>
		<li>Say that smallpox eradication was the only good to come of aid.</li>
		<li>We have spent <a href="{{oecd}}">$2.7 tn</a> on foreign aid.</li>
		<li>Eradicating smallpox has saved at least 60 million lives. <a href="#fn:321" id="fnref:321">321</a></li>
		<li>Then it cost an average <a href="{{lmgtfy}}">$45,000</a> to save one life via aid.</li>
		<li>The <a href="{{vsl}}">de facto price cap</a>, in the rich world, for preventing one death is <a href="{{nyt}}">about $7m</a>. <a href="#fn:322" id="fnref:322">322</a></li>
		<li>So aid <i>per se</i> has been cost-effective on average, even given the most pessimistic assumptions: it saved lives at 1/150 of the going rich world rate.</li>
	</ol>

	(The total cost of eradicating smallpox was actually about $400 <i>million</i> and, quite besides the misery and death it has averted, it continues to save hundreds of millions of dollars a year in obviated healthcare costs and counterfactual lost productivity. <a href="#fn:333" id="fnref:333">333</a> It is hard to overemphasise what an incredible project it was and is.)<br><br>

	I find this persuasive: persuasive enough to answer the headline question above as "No, we shouldn't: keep vertical health interventions at the very least". But this essay focusses narrowly on long-term macroeconomic <i>transformation</i> (starting a self-sustaining engine of autonomy and growth), rather than on (object-level, microeconomic) welfare. Stop reading now if you're not as hopeful about that.<br><br>
</div>




</div>