<ul>

	<li><i>It is something to be able to paint a particular picture, or to carve a
	statue, and so to make a few objects beautiful; but it is far more
	glorious to carve and paint the very atmosphere and medium through
	which we look, which morally we can do. To affect the quality of the
	day, that is the highest of arts.</i><br />
	&#8211; Thoreau</li>
	<br /><br />

	<li><i>Poetry is just the </i>evidence<i> of life. If your life is burning well, poetry is the ash.</i><br>
	- Leonard Cohen</li>
	<br><br>


	<li><i>
	The thing I hate the most about advertising is that it attracts all the bright, creative and ambitious young people, leaving us mainly with the slow and self-obsessed to become our artists. Modern art is a disaster area. Never in the field of human history has so much been used by so many to say so little.</i><br>
	- Banksy</li>
	<br><br>



	<li>[Academic, revisionist] <i>literary criticism, I think, is not empiricism: it&#8217;s not trying to make predictions about what features stories will have or what characteristics will make readers like stories or whatever. It&#8217;s art. It&#8217;s a very unusual kind of art that takes other art as its raw material. It&#8217;s the task of the reader taken to its highest form. This kind is about making interpretations that are more interesting than most people&#8217;s, that make it more interesting than it previously was. Asking whether or not it&#8217;s &#8216;true&#8217; is like asking whether or not a painting is &#8216;true&#8217;.</i><br>
	- Ozy Frantz</li>
	<br><br>

	<li><li><i>A copy of the universe is not what is required of art; one of the damned things is ample.</i><br />
	&#8211; Rebecca West</li>
	<br /><br />


</ul>
