<ul>

	{%	include functions/quote.html     what="It is something to be able to paint a particular picture, or to carve a statue, and so to make a few objects beautiful; but it is far more glorious to carve and paint the very atmosphere and medium through 	which we look, which morally we can do. To affect the quality of the day, that is the highest of arts."     who="Thoreau"     %}


	{%	include functions/quote.html     what="Art is the imposing of a pattern on experience, and our aesthetic enjoyment is recognition of the pattern." 	who="AN Whitehead"		%}


	{%	include functions/quote.html     what="Poetry is just the evidence of life. If your life is burning well, poetry is the ash."     who="Leonard Cohen"     %}


	{%	include functions/quote.html     what="To those who do not know mathematics, it is difficult to get across a real feeling as to the beauty, the deepest beauty, of nature... If you want... to appreciate nature, it is necessary to understand the language that she speaks in."	who="Richard Feynman"		%}


	{%	include functions/quote.html     what="Physics becomes in those years [1897 - 1930] the greatest collective work of... art of the twentieth century." 	who="Jacob Bronowski"		%}

	
	{%	include functions/quote.html     what="In science one tries to tell people, in such a way as to be understood by everyone, something that no one ever knew before. But in poetry, it's the exact opposite."			who="Paul Dirac"		%}


	{%	include functions/quote.html     what="The thing I hate the most about advertising is that it attracts all the bright, creative and ambitious young people, leaving us mainly with the slow and self-obsessed to become our artists. Modern art is a disaster area. Never in the field of human history has so much been used by so many to say so little."     who="Banksy"     %}


	{%	include functions/quote.html     what="[Academic, revisionist] literary criticism, I think, is not empiricism: it&#8217;s not trying to make predictions about what features stories will have or what characteristics will make readers like stories or whatever. It&#8217;s art. It&#8217;s a very unusual kind of art that takes other art as its raw material. It&#8217;s the task of the reader taken to its highest form. This kind is about making interpretations that are more interesting than most people&#8217;s, that make it more interesting than it previously was. Asking whether or not it&#8217;s &#8216;true&#8217; is like asking whether or not a painting is &#8216;true&#8217;."     who="Ozy Frantz"     %}


	{%	include functions/quote.html     what="A copy of the universe is not what is required of art; one of the damned things is ample."     who="Rebecca West"     %}


	{%	include functions/quote.html     what="Music fueled me, although I was just dimly realizing that I was at core a verbal child. In the shower I wailed and whammed at imaginary keyboards, drums, later guitars, but most especially saxes, emulating my heroes with twenty-minute atonal ragas that soared to their stormiest climaxes when the hot water ended."		who="Lester Bangs"		%}


	{%	include functions/quote.html     what="Wit is the sudden marriage of ideas which before their union were not perceived to have any relation."     who="Mark Twain"     %}


	{%	include functions/quote.html     what="My guess is that well over eighty per cent of the human race goes through life without ever having a single original thought. That is to say, they never think anything that has not been thought before, and by thousands. A society made up of individuals who were all capable of original thought would probably be unendurable. The pressure of ideas would simply drive it frantic."     who="HL Mencken"     %}


	{%	include functions/quote.html     what="Literature is news that stays news." 		who="Ezra Pound"		%}


	{%	include functions/quote.html     what="Music, the knife without a hilt..."			who="Dorothy Dunnett"	%}


	{%	include functions/quote.html     what="If at first you don't succeed, call it version 1.0"     %}


	{%	include functions/quote.html     what="Everywhere I go I’m asked if I think the universities stifle writers. My opinion is that they don’t stifle enough of them." 		who="Flannery O’Connor"			%}


	{%	include functions/quote.html     what="...the writer's life is a lonely life, where tou think you're alone, but as the years go by, if your stars are propitious, you discover you are at the center of a vast circle of invisible friends - friends you will never know but who love you and this is more than enough reward." 	who="Jorge Luis Borges"		fn="1200"	%}



</ul>

<div class="footnotes">
<ol>
    <li class="footnote" id="fn:1200">
	    <blockquote>
	    	« ... la vida del escritor es una vida solitaria, uno cree estar solo y al cabo de los años, si los astros son propicios, uno descubre que uno está al centro de una especie de vasto círculo de amigos invisibles, de amigos que uno no conocerá nunca físicamente pero que lo quieren a uno y eso es una recompensa más que suficiente.»
	    </blockquote>
	    <br><br><a href="https://www.youtube.com/watch?v=prpPH923f4M">in the flesh</a>.
    </li>
    
</ol>
</div>


