<br><ul>

    {%  include functions/quote.html     what="Few things have happened to me, but I've read of many. Or simply: few things have happened to me more worth remembering than Schopenhauer's thought or the verbal music of England."    fn="11000"    %}



    {%  include functions/quote.html     what="Heaven and hell seem out of proportion to me: the actions of men do not deserve so much."    fn="11001"   %}


    {%  include functions/quote.html     what="A man sets out to draw the world. As the years go by, he peoples a space with images of provinces, kingdoms, mountains, bays, ships, islands, fishes, rooms, instruments, stars, horses, and individuals. A short time before he dies, he discovers that the patient labyrinth of lines traces the lineaments of his own face."        %}
    

    {%  include functions/quote.html     what="God, in the dream, illumined the animal's brutishness and he understood the reasons, and accepted his destiny; but when he awoke there was only a dark resignation, a valiant ignorance, for the machinery of the world is far too complex for the simplicity of a wild beast.<br><br>    Years later, Dante was dying in Ravenna, a death as unjustified and lonely as any other man's. In a dream, God declared to him the secret purpose of his life and work; Dante, in wonderment, knew at last who and what he was and blessed the bitterness of his life... upon waking, he felt that he had received and lost an infinite thing, something that he would not be able to recuperate or even glimpse, for the machinery of the world is much too complex for the simplicity of a man."        %}


    {%  include functions/quote.html     what="They seek neither truth nor likelihood; they seek astonishment. They think metaphysics is a branch of the literature of fantasy."        %}


    {%  include functions/quote.html     what="There is a concept which corrupts and upsets all others. I refer not to Evil, whose limited realm is that of ethics; I refer to the infinite."        %}


    {%  include functions/quote.html     what="...the writer's life is a lonely life; you think it's just you; but as the years go by, if your stars are propitious, you discover you are at the center of a vast circle of invisible friends - friends you will never know, but who love you, and this is more than enough reward."        %}


    {%  include functions/quote.html     what="    There is a line in Verlaine I shall not recall again,<br>    There is a street close by forbidden to my feet,<br>    There's a mirror that's seen me for the very last time,<br>    There is a door that I have locked till the end of the world.<br>    Among the books in my library (I have them before me)<br>    There are some that I shall never open now.<br>    This summer I complete my fiftieth year;<br>    Death is gnawing at me ceaselessly.<br>"        %}




    
<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:11000">
        Pocas cosas me han ocurrido y muchas he leído, mejor dicho, pocas cosas me han ocurrido más dignas de memoria que el pensamiento de Schopenhauer o la música verbal de Inglaterra.
    </li>

    <li class="footnote" id="fn:11001">
        El infierno y el paraíso me parecen desproporcionados. Los actos de los hombres no merecen tanto.
    </li>
</ol>
</div>