<ul>
	<li><blockquote>No longer ask me for my program: isn't breathing one? <a href="#fn:2000" id="fnref:2000">2000</a> </blockquote></li>
	<br /><br />
	
	<li><blockquote>We say of space, of time, and of suffering that they are infinite; but 'infinite' has no more bearing than 'beautiful', 'sublime', 'harmonious', 'ugly'... Suppose we force ourselves to see to the bottom of words? We see nothing &#8212; each of them, detached from the expansive and fertile soul, are null and void. The intelligence functions by projecting a certain lustre upon them, polishing them and making them glitter; this power, erected into a system, is called 'culture' &#8212; pyrotechnics against a night sky of nothingness.</blockquote></li>
	<br /><br />
	
	<li><blockquote>Ideas should be neutral. But man animates them with his passions and folly. Impure and turned into beliefs, they take on the appearance of reality. The passage from logic is consummated. Thus are born ideologies, doctrines, and bloody farce.</blockquote></li>
	<br /><br />
	
	<li><blockquote>To tell the truth, I couldn't care less about the relativity of knowledge; the world does not deserve to be known.</blockquote></li>
	<br /><br />
	
	<li><blockquote>My mission is to see things as they are. Exactly the contrary of a mission.</blockquote></li>
	<br /><br />
	
	<li><blockquote>Read day and night, devour books&#8212; these sleeping pills&#8212; not to know but to forget! Through books you can retrace your way back to the origins of spleen, discarding history and its illusions.</blockquote></li>
	<br /><br />
	
	<li><blockquote>The poor, by thinking unceasingly of money, reach the point of losing the spiritual advantages of non-possession, thereby sinking as low as the rich.</blockquote></li>
	<br /><br />
	
	<li><blockquote>Basis of society: anonymous sweat.</blockquote></li>
	<br /><br />
	
	<li><blockquote>Lord, give me the capacity of never praying, spare me the insanity of all worship, let this temptation of love pass from me which would deliver me forever unto You. Let the void spread between my heart and heaven! I have no desire to people my deserts by Your presence, to tyrannize my nights by Your light, to dissolve my Siberias beneath Your sun.</blockquote></li>
	<br /><br />
	
	<li><blockquote>In every man sleeps a prophet, and when he wakes there is a little more evil in the world. <a href="#fn:2001" id="fnref:2001">2001</a></blockquote> </li>
	<br />
	<br />
	
	<li>
		<blockquote>Losing love is so rich a philosophical ordeal that it makes a hairdresser into a rival of Socrates.
		</blockquote>
	</li>
	<br />
	<br />
	
	<li><blockquote>Is it possible that existence is our exile, and nothingness our home?</blockquote></li>
	<br />
	<br />
	
	<li><blockquote>When we know what words are worth, the amazing thing is that we try to say anything at all, and that we manage to do so. This requires, it is true, a supernatural nerve.</blockquote></li>

</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:2000">
    	<blockquote>Ne me demandez plus mon programme: respirer, n'en est-ce pas un?</blockquote>
    </li>

     <li class="footnote" id="fn:2001">
    	<blockquote>Dans chaque homme dort un prophète, et quand il se réveille il y a un peu plus de mal dans le monde.</blockquote>
    </li>
    
</ol>
</div>


