<br><ul>
	{%	include functions/quote.html      what="No longer ask me for my program: isn't breathing one?"     fn="2000"      %}


	{%	include functions/quote.html      what="We say of space, of time, and of suffering that they are infinite; but 'infinite' has no more bearing than 'beautiful', 'sublime', 'harmonious', 'ugly'... Suppose we force ourselves to see to the bottom of words? We see nothing &#8212; each of them, detached from the expansive and fertile soul, are null and void. The intelligence functions by projecting a certain lustre upon them, polishing them and making them glitter; this power, erected into a system, is called 'culture' &#8212; pyrotechnics against a night sky of nothingness."     %}


	{%	include functions/quote.html      what="Ideas should be neutral. But man animates them with his passions and folly. Impure and turned into beliefs, they take on the appearance of reality. The passage from logic is consummated. Thus are born ideologies, doctrines, and bloody farce."     %}


	{%	include functions/quote.html      what="To tell the truth, I couldn't care less about the relativity of knowledge; the world does not deserve to be known."     %}


	{%	include functions/quote.html      what="My mission is to see things as they are. Exactly the contrary of a mission."     %}


	{%	include functions/quote.html      what="Read day and night, devour books&#8212; these sleeping pills&#8212; not to know but to forget! Through books you can retrace your way back to the origins of spleen, discarding history and its illusions."     %}


	{%	include functions/quote.html      what="The poor, by thinking unceasingly of money, reach the point of losing the spiritual advantages of non-possession, thereby sinking as low as the rich."     %}


	{%	include functions/quote.html      what="Basis of society: anonymous sweat."     %}


	{%	include functions/quote.html      what="Each time I fail to think about death, I have the impression of cheating, of deceiving someone in me."			%}

	
	{%	include functions/quote.html      what="Lord, give me the capacity of never praying, spare me the insanity of all worship, let this temptation of love pass from me which would deliver me forever unto You. Let the void spread between my heart and heaven! I have no desire to people my deserts by Your presence, to tyrannize my nights by Your light, to dissolve my Siberias beneath Your sun."     %}


	{%	include functions/quote.html      what="In every man sleeps a prophet, and when he wakes there is a little more evil in the world."     fn="2001"     %}


	{%	include functions/quote.html      what="Losing love is so rich a philosophical ordeal that it makes a hairdresser into a rival of Socrates."     %}	


	{%	include functions/quote.html      what="Is it possible that existence is our exile, and nothingness our home?"     %}


	{%	include functions/quote.html      what="When we know what words are worth, the amazing thing is that we try to say anything at all, and that we manage to do so. This requires, it is true, a supernatural nerve."     %}

</ul>


<div class="footnotes">
<ol>
    <li class="footnote" id="fn:2000">
    	<blockquote>Ne me demandez plus mon programme: respirer, n'en est-ce pas un?</blockquote>
    </li>

     <li class="footnote" id="fn:2001">
    	<blockquote>Dans chaque homme dort un prophète, et quand il se réveille il y a un peu plus de mal dans le monde.</blockquote>
    </li>    
</ol>
</div>


