<ul>

	<li><i>when you don't create things, you become defined by your tastes rather than ability. your tastes only narrow &amp; exclude people. so create.</i>
	<br />&#8213; Why The Lucky Stiff</li> <br><br>

	
	<li><i>Computer literacy is a contact with the activity of computing deep enough to make the computational equivalent of reading and writing fluent and enjoyable. As in all the arts, a romance with the material must be well under way. If we value the lifelong learning of arts and letters as a springboard for personal and societal growth, should any less effort be spent to make computing a part of our lives?</i>
	<br />&#8212; Alan Kay </li> <br><br>
	
	<li><i>If we can't fix it, it ain't broke.</i>
	<br />&#8211; the Maintainer's Motto</li> <br><br>
	
	<li><i>Computer science is no more about computers than astronomy is about telescopes.</i>
	<br />&#8212; Edsger Dijkstra
	</li> <br><br>
	
	<li><i>When you become frustrated with computers, please remember they are only cleverly-arranged sand. (When you become frustrated with people...)
	<br />&#8212; Gwern</i></li> <br><br>
	
	<li><i>The source of every error which is blamed on the computer is at least two human errors, including the error of blaming it on the computer.
	<br />&#8212; fortune</i></li> <br><br>
	
	<li><i>The distinctive virtues of computers are their patience, rationality, flow, speed, honesty and obedience. They possess each of these in degrees beyond any human. However, they compensate, to the point of value cancellation, with perfect absences of independence, charity, sympathy, and fun.</i></li> <br><br>
	
	<li><i>The programmer, like the poet, works only slightly removed from pure thought-stuff. He builds his castles in the air, from air, creating by exertion of the imagination. Few media of creation are so flexible, so easy to polish and rework, so readily capable of realizing grand conceptual structures... Yet the program construct, unlike the poet's words, is real in the sense that it moves and works, producing visible outputs separate from the construct itself. It prints results, draws pictures, produces sounds, moves arms. The magic of myth and legend has come true in our time.</i><br />
	&#8212; Fred Brooks</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>A programmer is a person who passes as an exacting expert on the basis of being able to turn out, after innumerable punching, an infinite series of
	incomprehensive answers calculated with micrometric precisions from vague assumptions based on debatable figures taken from inconclusive documents
	and carried out on instruments of problematical accuracy by persons of dubious reliability and questionable mentality for the avowed purpose of
	annoying and confounding a hopelessly defenseless department that was unfortunate enough to ask for the information in the first place.</i><br />
	&#8212; IEEE Grid newsmagazine</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>Any code of your own that you haven't looked at for six or more months might as well have been written by someone else.</i><br>
	&#8212; Eagleson's Law</li> <br><br>
	<br />
	<br />
	<br />
	<li><i><a href="http://afterallitcouldbeworse.blogspot.co.uk/p/perlisisms.html">Mighty and inimitable</a></i></li> <br><br>
	<br />
	<br />
	<br />
	<li><i>
	If it has syntax, it isn't user friendly.</i></li> <br><br>
	<br />
	<br />
	<br />
	<li><i>HOW DOES PROGRAMMING TAKE SO LONG? YOU LITERALLY JUST TYPE WHAT YOU WANT IT TO DO THIS SHOULD BE EASY</i><br>
	&#8211; <a href="https://twitter.com/rainbowthyme/status/667118579075141632">Jessie Newman</a> impersonating the outsider</li> <br><br>
	<br />
	<br />
	<br />


	<li><i>Windows is a manifestation of commerce; Unix is a manifestation of culture.</i>
	<br>&#8212; Rich Simons</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>UNIX is user friendly. It's just selective about who its friends are.</i></li> <br><br>
	<br />
	<br />
	<br />

	<li><i>How can you tell if a hack is okay? Because it&#8217;s one line long. Because it&#8217;s simpler. Because it works perfectly. Because you know the right way, but there is a good reason for choosing the wrong way. Because you leave a warning for other developers - Dragons Be Here.<br><br>
	Conversely, how can you tell if a hack is bad? Because it is several times longer than The Right Way. Because complicated. Because breakable. Because reading the code makes you wonder if they know the right way. Because no reason to prefer a hack. Because no comment on the intent.</i><br>
	&#8211; John Morrice
	</li> <br><br>
	<br />
	<br />
	<br />

	<li><i>We like to think we spend most of our time power-typing. "I'm being productive,
	I'm writing programs!" But, we don't. We spend most of our time looking into
	the abyss, saying, "My God, what have I done?"<br><br>

	I used to think everyone should learn programming. When I first starting
	programming...I thought, "Wow, this is such an amazing way to organize
	information! Everybody should learn to do this!" I don't think that any more. I
	think there has to be something seriously wrong with you, in order to do this
	work. A normal person, once they've looked into the abyss, will say, "I'm done.
	This is stupid. I'm going to go to something else." But not us, 'cause there's
	something really wrong with us.</i><br>
	&#8212; Douglas Crockford</li> <br><br>

	<br />
	<br />
	<br />
	<li><i>...I think my favorite part of writing code is the vertiginous terror of manifesting machinery out of pure ideas, summoning thought-engines 
	from the underworld with unknown lives and dollars hanging in the balance and protected only by the clarity of one's understanding, and the clarity of understanding of the ones who wrote the tools built on tools built on tools extending thirty layers deep into the underworld on which the fictive ontology of our existence carefully rests, praying that the test suite is comprehensive, knowing that it isn't, hoping that the fullness of your thought in its obvious righteousness doesn't need it and that the customers and investors and hypothetical ascended children's children's children would smile on this moment, judging that you have brought honor to this endeavor, the last human profession.<br></i>
	&#8212; <a href="http://zackmdavis.net/blog/2016/04/group-introduction-redux/">Zack M Davis</a></li> <br><br>
	<br />
	<br />
	<br />
	<li><i>This life is not to last and it awaits apotheosis<br />
	And the passerby all sipping on their Monday coffee know this<br />
	Their stumbling through their week<br />
	Contrasts the path by which I seek<br />
	A practical ambition<br />
	For a special type of girl<br />
	I want to be the one who writes the code<br />
	That writes the code<br />
	That writes the code<br />
	That ends the world</i><br />
	&#8212; <a href="http://zackmdavis.net/blog/2015/12/i-want-to-be-the-one/">Zack M Davis</a> </li> <br><br>
	<br />
	<br />
	<br />
	<li><i>Heuristics are bug ridden by definition. If they didn't have bugs,
	then they'd be algorithms.</i></li> <br><br>
	<br />
	<br />
	<br />

	<li><i>People always define computers as 'data-processing machines' - which they are not and cannot be, because data are mental events. Machines process representations - and all this is is us using the physical world to help us with the mental world we have such limited range within (usually to help us with the physical world we have such limited control over). (This is also why the infinite cannot be properly represented, because there is nothing usably physical for the purpose.) In the reified field that gets called "Computing", we happen to use voltages to represent mental events, but I seriously encourage you to consider computing less narrowly; you will never be right, otherwise.<br><br>

	Human language being what it is, the category error of "data" as data representation has by now been thoroughly inscribed. The truth lost. So you'll hear me say that 'the system is processing data'. But I don't mean it.</i>
	<br /> &#8212; Lewis Mackenzie</li> <br><br>
	<br />
	<br />
	<br />

	<li><i>We write programs (target application) with a program (editor) whose output feeds a program (compiler) that produces the usable program (executable) - and all of these are running on a program that is a metaphor for a  machine (OS).</i>
	<br /> &#8212; Lewis Mackenzie</li> <br><br>
	<br />
	<br />
	<br />

	<li><i>Transmission is strictly limited by each component, of course. If you send a message faster than either the transmitter can pulse, than the channel can discretely convey, or the receiver-decoder can parse, it will be lost, or useless, or worse. (Faulty data is worse than no data because it deceives us.)</i>
	<br /> &#8212; Lewis Mackenzie</li> <br><br>
	<br />
	<br />
	<br />




	<li><i>If you have a procedure with 10 parameters, you probably missed some.</i></li> <br><br>
	<br />
	<br />
	<br />
	<li><i>If you put garbage in a computer nothing comes out but garbage. But this garbage, having passed through a very expensive machine, is somehow ennobled and none dare criticize it.</i></li> <br><br>
	<br />
	<br />
	<br />
	<li><i>In enabling mechanism to combine together general symbols, in successions of unlimited variety and extent, a uniting link is established between the operations of matter and the abstract mental processes of the most abstract branch of mathematical science. A new, a vast, and a powerful language is developed for the future use of analysis, in which to wield its truths so that these may become of more speedy and accurate practical application for the purposes of mankind than the means hitherto in our possession have rendered possible.</i>
	<br /> &#8212; Ada Lovelace</li> <br><br>
	
	<li><i>The best programs are written so that computing machines can perform them quickly and so that human beings can understand them clearly. A programmer is ideally an essayist who works with traditional aesthetic and literary forms as well as mathematical concepts, to communicate the way that an algorithm works and to convince a reader that the results will be correct.</i>
	<br />
	&#8213; Donald Knuth</li> <br><br>
	
	<li><i><a href="http://en.wikipedia.org/wiki/SOLID_%28object-oriented_design%29">SOLID</a>, <a href="http://www.codeproject.com/Articles/337454/IDEAL-CHALK-mnemonic-acronym-and-mnemonic-images-f">IDEAL CHALK</a>.</i></li> <br><br>
	<br />
	<br />
	<br />
	<li><i>The three chief virtues of a programmer are: Laziness, Impatience and Hubris.</i><br />
	&#8212; Larry Wall</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>Programmers&#8217; chairs and keyboards cause RSIs of the body; but what RSIs of the mind?</i><br />
	<br />&#8212; Gwern</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>Premature optimization is the root of all evil</i>
	<br />&#8212; Knuth</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>There are two ways of constructing a software design; one way is to make it so simple that there are obviously no deficiencies; the other way is to make it so complicated that there are no obvious deficiencies. The first method is far more difficult.</i>
	<br />&#8212; CAR Hoare</li> <br><br>
	<br />
	<br />
	<br />
	<li><i>It actually takes about 10 years to become an actually competent programmer. What we're doing in this one-year degree is making you basically able to learn.</i>
	<br />&#8211; <a href="https://github.com/ciaranm">Ciaran McCreesh</a>
	</li> <br><br>
	
	<li><i>Most software today is very much like an Egyptian pyramid with millions of bricks piled on top of each other, with no structural integrity, but just done by brute force and thousands of slaves.&#8221;
	</i>
	<br />&#8212; Alan Kay
	</li> <br><br>
	
	<li><i>All problems in computer science can be solved by another level of indirection, except of course for the problem of too many indirections.</i>
	<br />&#8212; David Wheeler
	</li> <br><br>
	
	<li><i>Compatibility means deliberately repeating other people's mistakes.</i>
	<br />&#8212; David Wheeler
	</li> <br><br>
	


	<br><br><blockquote><i>
	Epigrams parameterize auras.
	Epigrams are macros, since they are executed at read time.
	Epigrams crystallize incongruities.
	Epigrams retrieve deep semantics from a data base that is all procedure.
	Epigrams scorn detail and make a point: They are a superb high-level documentation.
	Epigrams are more like vitamins than protein.
	Epigrams have extremely low entropy.
	The last epigram? Neither eat nor drink them, snuff epigrams. 
	</i></blockquote>

</ul>
