<div class="accordion">

	<h3>RIP Alastair Reid (1926-2014)</h3>
	<div>
		<blockquote>It was a day peculiar to this piece of the planet,<br>
		when larks rose on long thin strings of singing<br>
		and the air shifted with the shimmer of actual angels.<br>
		Greenness entered the body. The grasses<br>
		shivered with presences, and sunlight<br>
		stayed like a halo on hair and heather and hills.<br>
		Walking into town, I saw, in a radiant raincoat,<br>
		the woman from the fish-shop. 'What a day it is!'<br>
		cried I, like a sunstruck madman.<br>
		And what did she have to say for it?<br>
		Her brow grew bleak, her ancestors raged in their graves<br>
		as she spoke with their ancient misery:<br>
		'We'll pay for it, we'll pay for it, we'll pay for it!'"<br>
		</blockquote>
	</div>


	<h3>RIP Terry Pratchett (1948-2015)</h3>
	<div><blockquote>
		...<br>
		ACTUALLY, NO. I AM IMPRESSED AND INTRIGUED, said Death. THE CONCEPT YOU PUT BEFORE ME PROVES THE EXISTENCE OF TWO HITHERTO MYTHICAL PLACES. SOMEWHERE, THERE IS A WORLD WHERE EVERYONE MADE THE RIGHT CHOICE, THE MORAL CHOICE, THE CHOICE THAT MAXIMISED THE HAPPINESS OF THEIR FELLOW CREATURES, OF COURSE, THAT ALSO MEANS THAT SOMEWHERE ELSE IS THE SMOKING REMNANT OF THE WORLD WHERE THEY DID NOT ...<br><br>

		"Oh, come on! I know what you're implying, and I've never believed in any of that Heaven and Hell nonsense!"<br><br>

		The room was growing darker. The blue gleam along the edge of the reaper's scythe was becoming more obvious.<br><br>

		ASTONISHING, said Death. REALLY ASTONISHING. LET ME PUT FORWARD ANOTHER SUGGESTION: THAT YOU ARE NOTHING MORE THAN A LUCKY SPECIES OF APE THAT IS TRYING TO UNDERSTAND THE COMPLEXITIES OF CREATION VIA A LANGUAGE THAT EVOLVED IN ORDER TO TELL ONE ANOTHER WHERE THE RIPE FRUIT WAS?<br><br>

		Fighting for breath, the philosopher managed to say: "Don't be silly."<br><br>

		THE REMARK WAS NOT INTENDED AS DEROGATORY, said Death. UNDER THE CIRCUMSTANCES, YOU HAVE ACHIEVED A GREAT DEAL.<br><br>

		"We've certainly escaped from outmoded superstitions!"<br><br>

		WELL DONE, said Death. ACTUALLY, NO. I AM IMPRESSED AND INTRIGUED, said Death. THE CONCEPT YOU PUT BEFORE ME PROVES THE EXISTENCE OF TWO HITHERTO MYTHICAL PLACES. SOMEWHERE, THERE IS A WORLD WHERE EVERYONE MADE THE RIGHT CHOICE, THE MORAL CHOICE, THE CHOICE THAT MAXIMISED THE HAPPINESS OF THEIR FELLOW CREATURES, OF COURSE, THAT ALSO MEANS THAT SOMEWHERE ELSE IS THE SMOKING REMNANT OF THE WORLD WHERE THEY DID NOT ...<br><br>

		"Oh, come on! I know what you're implying, and I've never believed in any of that Heaven and Hell nonsense!"<br><br>

		The room was growing darker. The blue gleam along the edge of the reaper's scythe was becoming more obvious.<br><br>

		ASTONISHING, said Death. REALLY ASTONISHING. LET ME PUT FORWARD ANOTHER SUGGESTION: THAT YOU ARE NOTHING MORE THAN A LUCKY SPECIES OF APE THAT IS TRYING TO UNDERSTAND THE COMPLEXITIES OF CREATION VIA A LANGUAGE THAT EVOLVED IN ORDER TO TELL ONE ANOTHER WHERE THE RIPE FRUIT WAS?<br><br>

		Fighting for breath, the philosopher managed to say: "Don't be silly."<br><br>

		THE REMARK WAS NOT INTENDED AS DEROGATORY, said Death. UNDER THE CIRCUMSTANCES, YOU HAVE ACHIEVED A GREAT DEAL.<br><br>

		"We've certainly escaped from outmoded superstitions!"<br><br>

		WELL DONE, said Death. THAT'S THE SPIRIT. I JUST WANTED TO CHECK.<br>
		He leaned forward.<br><br>

		AND ARE YOU AWARE OF THE THEORY THAT THE STATE OF SOME TINY PARTICLES IS INDETERMINATE UNTIL THE MOMENT THEY ARE OBSERVED? A CAT IN A BOX IS OFTEN MENTIONED.<br><br>

		"Oh, yes," said the philosopher.<br><br>

		GOOD, said Death. He got to his feet as the last of the light died, and smiled. I SEE YOU...'
	</blockquote>
	</div>


	<h3>RIP Ornette Coleman (1930-2015)</h3>
	<div><blockquote>
		<a href="https://www.youtube.com/watch?v=LHv0VWPAIjU">Ave</a> 
		<a href="https://www.youtube.com/watch?v=q99Yy8BuZoI">Atque</a> 
		<a href="https://www.youtube.com/watch?v=DNbD1JIH344">Ave again</a>
	</blockquote>
	</div>


	<h3>RIP Oliver Sacks (1933-2015)</h3>
	<div><blockquote>
		now, weak, short of breath, my once-firm muscles melted away by cancer, I find my thoughts not on the supernatural or spiritual, but on what is meant by living a good and worthwhile life - achieving a sense of peace. I find my thoughts drifting to the day of rest, the seventh day of one's life, when one can feel that one's work is done, and one may, in good conscience, rest."
	</blockquote>
	</div>


	<h3>RIP Leonard Cohen (1934-2016)</h3>
	<div><blockquote>
		If it be your will / that I speak no more<br>
		that my voice be still / as it was before<br>
		I will speak no more
	</blockquote>
	</div>


	<h3>RIP Hilary Putnam (1926-2016)</h3>
	<div><blockquote>

		I propose that each philosopher ought to leave it more problematic what is left for philosophy to do - but philosophy should go on. If I agree with Derrida on anything, it is on this: that philosophy... must learn to be a writing whose authority is always to be won anew, not inherited or awarded because it is philosophy.<br><br>

		Philosophers inherit a field, not authority, and that is enough. It is, after all, a field which fascinates a great many people. If we have not entirely destroyed that fascination by our rigidities or by our posturings, that is something for which we should be truly grateful.
	</blockquote>
	</div>


	<h3>Temporary RIP Marvin Minsky (1927 - ?)</h3>
	<div><blockquote>

		I was surprised to find that the idea of extending one's lifetime to thousands of years was often seen as a dismal suggestion. The response to my several informal polls included such objections as these: "Why would anyone want to live for a thousand hundred years? What if you outlived all your friends? What would you do with all that time? Wouldn't one's life become terribly boring?"<br><br>

		What can one conclude from this? Perhaps some of those persons lived with a sense that they did not deserve to live so long. Perhaps others did not regard themselves as having worthy long term goals. In any case, I find it worrisome that so many of our citizens are resigned to die. A planetful of people who feel that they do not have much to lose: surely this could be dangerous."
	</blockquote>
	</div>


	<h3>RIP David Mackay (1967-2016)</h3>
	<div>
		<a href="http://www.withouthotair.com/c0/preface.shtml">Everyone should read this.</a><br><br>
		<a href="http://www.inference.phy.cam.ac.uk/itprnn/book.pdf">Everyone capable of caring should read this.</a>
	</div>


	<h3>RIP Thomas Schelling (1927-2017)</h3>
	<div><blockquote>

		Who loses if a death occurs? First, the person who dies. Exactly what he loses we do not know. But, before it happens, people do not want to die and will go to some expense to avoid it...<br><br>

		Death is a comparatively private event. Society may be concerned but is not much affected. There is a social interest in schools and delinquency, discrimination and unrest, infection and pollution, noise and beauty, obscenity and corruption, justice and fair practice, and the examples that men set; but death is a very local event...<br><br>

		Society's interest, moreover, may be in whether reasonable efforts were made to conserve life than in whether those efforts succeed. A missing man has to be searched for, but whether or not he is found is usually of interest to only a very few.
	</blockquote>
	</div>


	<h3>RIP Derek Parfit (1942-2017)</h3>
	<div><blockquote>

		Is the truth depressing? Some may find it so. But I find it liberating, and consoling. When I believed that [nonreductionist personal identity was critical], I seemed imprisoned in myself. My life seemed like a glass tunnel, through which I was moving faster every year, and at the end of which there was darkness. When I changed my view, the walls of my glass tunnel disappeared. I now live in the open air. There is still a difference between my life and the lives of other people. But the difference is less. I am less concerned about the rest of my own life, and more concerned about the lives of others...<br><br>

		Instead of saying ‘I shall be dead’, I should say, ‘There will be no future experiences that will be related, in certain ways, to these present experiences’. Because it reminds me what this fact involves, this redescription makes this fact less depressing.<br><br>

		My death will break the more direct relations between my present experiences and future experiences, but it will not break various other relations. This is all there is to the fact that there will be no one living who will be me. Now that I have seen this, my death seems to me less bad.
		</blockquote>
	</div>


	<h3>RIP Hans Rosling (1948-2017)</h3>
	<div><blockquote>
		'The Mozambican government assigned Rosling to a northern part of the country, where he would be the only doctor serving 300,000 people. Because of the scarcity of health care, patients were often in excruciating pain by the time he saw them. Rosling recalls performing emergency surgery to extract dead fetuses from women on the verge of death. He watched helplessly as children perished from diseases that should have been simple to prevent...<br><br>

		“Extreme poverty produces diseases. Evil forces hide there. It is where Ebola starts. It’s where Boko Haram hides girls. It’s where konzo disease occurs.” '

		</blockquote>
	</div>


	<h3>RIP Mark Fisher (1968-2017)</h3>
	<div><blockquote>
		The great Cold Rationalist lesson is that everything in the so-called personal sphere is in fact the product of impersonal processes of cause and effect which could be delineated very precisely. And this act of delineation, this stepping outside the character armour that we have confused with ourselves, is what freedom is...<br><br>

		We can now see why becoming inhuman is in the best interests of humanity. The human organism is set up to produce misery. What we like may be damaging for us. What feels good may poison us...<br><br>

		We could say it is the human condition to be grotesque, since the human animal is the one that does not fit in, the freak of nature who has no place in the natural order and is capable of re-combining nature's products into hideous new forms...<br><br>

		the centre is missing, but we cannot stop searching for it or positing it. It is not that there is nothing there - it is that what is there is not capable of exercising responsibility...<br><br>
	</blockquote>
	</div>


	<h3>RIP Tom Regan (1938-2017)</h3>
	<div>
		<blockquote>
		Harms viewed as deprivations need not cause or involve pain or suffering... [welfarists] assume that the only harm we can do to animals is to cause them to suffer; they completely overlook the other type of harm we may visit upon them - namely, the harm done by deprivation. And an untimely death is a deprivation of a fundamental and irreversible kind... <br><br>

		Death for them is a misfortune, a harm, when death for them is a deprivation, a loss, and it is the latter when their death is contrary to their welfare-interests, even assuming that they themselves have no preference-interest in remaining alive or in avoiding death... 
		</blockquote>
	</div>


	<h3>RIP grognor (1990?-2017)</h3>
	<div>
		<blockquote>
		    I will be dead soon. if you want to honor my memory,<br>
		    become vegan <br>
		    don't pay attention to the news <br>
		    think hard <br>
		    create a posthuman eutopia <br>
    		
    		
		</blockquote>
	</div>


	<h3>RIP Ursula le Guin (1926-2018)</h3>
	<div>
		<blockquote>
		  	S: "...close up, the world's all dirt and rocks. And day to day, life's a hard job, you get tired, you lose the pattern. You need a distance. The way to see how beautiful the earth is, is to see it from the moon. The way to see how beautiful life is, is from the vantage of death."<br><br>

		    T: "That's all right for the moon. Let it stay off there and be the moon - I don't want it! I’m not going to stand up on a gravestone and look down on life and say, ‘O lovely!’ I want to see it whole right in the middle of it. I don't give a hoot for eternity."<br><br>

    		S: "It's nothing to do with eternity... The sun's going to burn out; what else keeps it shining?"<br><br>

    		T: "Ach! your talk, your damned philosophy!"
		</blockquote>
	</div>
	
	    
  

</div>