<br><ul>

	{%	include functions/quote.html  what="If you're so smart, why ain't you rich?"	  who="Proverbial"  %}

	{%	include functions/quote.html  what="If you're so rich, why ain't you smart?"	  who="Deirdre McCloskey"  %}

	{%	include functions/quote.html  what="Economic activity is... at the same time a means of want-satisfaction, a field of creative expression, and a competitive sport."	  who="Frank Knight" 	%}

	{%	include functions/quote.html  what="Inflation is the one form of taxation that can be imposed without legislation."		who="Milton Friedman"		%}

	{%	include functions/quote.html  what="If it's free, you're the product."		who="after Richard Serra"		%}


</ul>