<br><ul>

	{%	include functions/quote.html  what="Food isn’t about Nutrition<br>    Clothes aren’t about Comfort<br>    Bedrooms aren’t about Sleep<br>    Marriage isn’t about Romance<br>    Talk isn’t about Info<br>    Laughter isn’t about Jokes<br>    Charity isn’t about Helping<br>     Church isn’t about God<br>    Art isn’t about Insight<br>    Medicine isn’t about Health<br>    Consulting isn’t about Advice<br>    School isn’t about Learning<br>    Research isn’t about Progress<br>    Politics isn’t about Policy"		  who="Robin Hanson"  %}


	{%	include functions/quote.html  what="If you're so smart, why ain't you rich?"	  	who="Proverbial"  %}


	{%	include functions/quote.html  what="If you're so rich, why ain't you smart?"	  who="Deirdre McCloskey"  %}


	{%	include functions/quote.html  what="No-one asks physics to predict the course of an avalanche. But economists are expected to predict the course of the economy." 	who="Trygve Haavelmo"	%}


	{%	include functions/quote.html  what="When they can look up and think about something other than staying alive, the first luxury [people] buy is compassion."	  who="Ozy Brennan" 	%}


	{%	include functions/quote.html  what="Economic activity is... at the same time a means of want-satisfaction, a field of creative expression, and a competitive sport."	  who="Frank Knight" 	%}


	{%	include functions/quote.html  what="The misery of being exploited by capitalists is nothing compared to the misery of not being exploited at all"	  who="Joan Robinson" 	%}


	{%	include functions/quote.html  what="The cost of a thing is the amount of... life which is required to be exchanged for it, immediately or in the long run."	who="Thoreau" %}


	{%	include functions/quote.html  what="Inflation is the one form of taxation that can be imposed without legislation."		who="Milton Friedman"		%}


	{%	include functions/quote.html  what="If it's free, you're the product."		who="after Richard Serra"		%}


	{%	include functions/quote.html  what="Unless there are slaves to do the ugly, horrible, uninteresting work, culture and contemplation become almost impossible. Human slavery is wrong, insecure, and demoralising. On mechanical slavery, on the slavery of the machine, the future of the world depends."       who="Oscar Wilde"		%}


</ul>