<br><ul>
	
	{%	include functions/quote.html  what="Doctors bury their mistakes, architects cover them with vines, teachers send theirs into politics."  who="<a href='http://www.thisdayinquotes.com/2010/10/physician-can-bury-his-mistakes.html'>Frank Lloyd Wright</a> plus"  %}

	{%	include functions/quote.html  what="Without education, we are in a horrible and deadly danger of taking educated people seriously."  who="G.K. Chesterton"  %}


	{%	include functions/quote.html  what="A fool's brain digests philosophy into folly, science into superstition, and art into pedantry. Hence University education."  who="George Bernard Shaw"  %}


	{%	include functions/quote.html  what="...the spread of secondary and latterly of tertiary education has created a large population of people, often with well-developed literary and scholarly tastes, who have been educated far beyond their capacity to undertake analytical thought"		who="Peter Medawar"		%}


	{%	include functions/quote.html  what="...from the time it learns to talk, every child makes a dreadful nuisance of itself by asking 'Why?'. To stop this nuisance, society has invented a marvellous system called 'education' which brings to an end their desire to ask that question. The few failures of this system are known as scientists."		who="Hermann Bondi"		%}


	{%	include functions/quote.html  what="Book learning certainly increases knowledge, but it does not broaden one's insight if not accompanied by reason."	who="Immanuel Kant"		fn="11112"	%}
	{%		assign kantFn = "11112"		%}


	{%	include functions/quote.html  what="At the coming of evening, I return to my house and enter my study... I enter the ancient courts of ancient men, where, received by them with affection, I feed on that food which is mine only and which I was born for; I am not ashamed to speak with them and to ask them the reason for their actions; and they in their kindness answer me; and for four hours of time I do not feel boredom, forget every trouble, do not dread poverty, am not frightened by death; entirely I give myself over to them."		who="Machiavelli"		%}



	{%	include functions/quote.html  what="When working on a PhD, you must focus on a topic so narrow that you can understand it completely. It will seem at first that you're working on the proverbial needle, a tiny fragment of the world, a minute crystal, beautiful but in the scheme of things, microscopic. Work with it. And the more you work with it, the more you penetrate it, the more you will come to see that your work, your subject, encompasses the world. In time, you will come to see the world in your grain of sand."		who="Manuel Blum"		%}


	{%	include functions/quote.html  what="Those who fail to learn from history are doomed to repeat it, but those who learn too much from history are doomed to make the exact opposite mistake and accuse anyone who urges restraint of \"failing to learn from history\" and \"dogmatism\"."		who="Scott Alexander"		%}


	{%	include functions/quote.html  what="Is it a waste of time? Perhaps. But I had a lot of time when I was young"		who="Zhigang Suo"		%}


	{%	include functions/quote.html  what="A college education [ideally] concerns realities. It is supposed to make people uncomfortable — not to offend them pointlessly or with evil intent or effect, but to make them uncomfortable with, say, the Bill Cosby level of moral and social discourse. It’s the uneducated who live in the ivory tower, a comfortable place with a good TV in which nothing important is discussed honestly, candidly, or thoroughly."		who="Deirdre McCloskey"		%}


	{%	include functions/quote.html  what="the thing with me is that i am smart and i'm smelf, i'm self smarted, basically, by myself, basically from nature and smoking drugs and doing different things i've self...like self learned myself. and that's the whole difference i guess is that i don't need the books or the schooling type things. i just get everything on my own and because of that i'm alive right now, because people say books and college are for to make you smarter, but they can also be for to make you dead, which is what could have happened to me. my brain doesn't use enough oxygen because i don't have the whole thing filled with different stuff. and if it was full, it's only part full and that's why i'm alive right now."	who="Ricky LaFleur"		%}




	{%	include functions/quote.html  what="I try to imagine the world without books like this one. For decades now, people have stopped reading; even university students no longer read... What will a world be like with hardly any spoken languages, which are becoming extinct in their profusion and variety? What will a world be like without a profound language of pictures, where my profession no longer exists? The end is coming. I picture a radical turning away from thought, argument, and image, not just an approaching darkness in which certain objects can still be felt, but a condition where they no longer exist at all, a darkness filled with fear, with imaginary monsters... How could one depict the absence of images? Not just their removal, the final irrevocable turning away from images, but their nonexistence?"		who="Werner Herzog"		%}


	{%	include functions/quote.html  what="You think you know when you can learn, are more sure when you can write, even more when you can teach, but certain when you can program. "  who="Alan Perlis"  %}



</ul>


<div class="footnotes">
<ol>
	<li class="footnote" id="fn:11111">

	</li>

	<li class="footnote" id="fn:{{kantFn}}">
		<blockquote>Büchergelehrsamkeit vermehrt zwar die Kenntnisse, aber erweitert nicht den Begriff und die Einsicht, wo nicht Vernunft dazukommt. </blockquote>
	</li>
</ol>
</div>



