<br><ul>
	
	{%	include functions/quote.html  what="Doctors bury their mistakes, architects cover them with vines, teachers send theirs into politics."  who="<a href='http://www.thisdayinquotes.com/2010/10/physician-can-bury-his-mistakes.html'>Frank Lloyd Wright</a> plus"  %}

	{%	include functions/quote.html  what="Without education, we are in a horrible and deadly danger of taking educated people seriously."  who="G.K. Chesterton"  %}


	{%	include functions/quote.html  what="A fool's brain digests philosophy into folly, science into superstition, and art into pedantry. Hence University education."  who="George Bernard Shaw"  %}


	{%	include functions/quote.html  what="...from the time it learns to talk, every child makes a dreadful nuisance of itself by asking 'Why?'. To stop this nuisance, society has invented a marvellous system called 'education' which brings to an end their desire to ask that question. The few failures of this system are known as scientists."		who="Hermann Bondi"		%}


	{%	include functions/quote.html  what="Book learning certainly increases knowledge, but it does not broaden one's insight if not accompanied by reason."	who="Immanuel Kant"		fn="11112"	%}
	{%		assign kantFn = "11112"		%}


	{%	include functions/quote.html  what="Those who fail to learn from history are doomed to repeat it, but those who learn too much from history are doomed to make the exact opposite mistake and accuse anyone who urges restraint of \"failing to learn from history\" and \"dogmatism\"."		who="Scott Alexander"		%}


	{%	include functions/quote.html  what="You think you know when you can learn, are more sure when you can write, even more when you can teach, but certain when you can program. "  who="Alan Perlis"  %}



</ul>


<div class="footnotes">
<ol>
	<li class="footnote" id="fn:11111">

	</li>

	<li class="footnote" id="fn:{{kantFn}}">
		<blockquote>Büchergelehrsamkeit vermehrt zwar die Kenntnisse, aber erweitert nicht den Begriff und die Einsicht, wo nicht Vernunft dazukommt. </blockquote>
	</li>
</ol>
</div>



