<br><ul>

</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:{{gideFn}}">
		<blockquote>Tout a déjà été dit, mais comme personne n'écoute, il faut sans cesse recommencer.</blockquote>
	</li>

	<li class="footnote" id="fn:{{montaigneFn}}">
		<blockquote>Si, comme la vérité, le mensonge n'avait qu'un visage, nous serions en meilleure situation, car nous prendrions pour certain le contraire de ce que dirait le menteur. Mais l'envers de la vérité à cent mille formes et un champ sans limites.</blockquote>
	</li>

	<li class="footnote" id="fn:102">
		<blockquote>Εἴ τίς με ἐλέγξαι καὶ παραστῆσαί μοι, ὅτι οὐκ ὀρθῶς ὑπολαμβάνω ἢ πράσσω, δύναται, χαίρων μεταθήσομαι: ζητῶ γὰρ τὴν ἀλήθειαν, ὑφ&#787; ἧς οὐδεὶς πώποτε ἐβλάβη, βλάπτεται δὲ ὁ ἐπιμένων ἐπὶ τῆς ἑαυτοῦ ἀπάτης καὶ ἀγνοίας.</blockquote>
	</li>

	<li class="footnote" id="fn:103">
		<blockquote>Daher ist die Aufgabe nicht sowohl zu sehen was noch keiner gesehen hat, als bei Dem was Jeder sieht, zu denken was noch Keiner gedacht hat. </blockquote>
	
	</li>
	<li class="footnote" id="fn:104">
		<blockquote>überzeugungen sind gefährlichere Feinde der Wahrheit, als Lügen.</blockquote>
	</li>

	<li class="footnote" id="fn:105">
		<blockquote>Bei der Eroberung des Weltraums sind zwei Probleme zu lösen: die Schwerkraft und der Papierkrieg. Mit der Schwerkraft wären wir fertig geworden.</blockquote>
	</li>

	<li class="footnote" id="fn:106">
		<blockquote>न त&#2375; तथ&#2366; यथ&#2366; द&#2371;ष&#2381;ट&#2366; न च त&#2375; व&#2376; न सन&#2381;त&#2367; च &nbsp;&nbsp;</blockquote>
	</li>

	<li class="footnote" id="fn:107">
		<blockquote>Gäbe es ein Verbum mit der Bedeutung "fälschlich glauben", so hätte das keine sinnvolle erste Person im Indikativ Präsens... </blockquote>
	</li>

	<li class="footnote" id="fn:108">
		<blockquote>ἦθος, πάθος, λόγος</blockquote>
	</li>
	
	<li class="footnote" id="fn:109">
		<blockquote>長慶大安禪師前去參謁百丈懷海禪師&#65292;問說&#65306;"學人欲求識佛&#65292;何者即是?"<br>
		百丈禪師譬喻說&#65306;"類似騎牛覓牛."</blockquote><br>
		
		See also:
		<blockquote>People can stand what is true, for they are already enduring it.</blockquote>
		- Eugene Gendlin
	</li>

	<li class="footnote" id="fn:{{trioletFn}}">
		<blockquote>Le Temps... brûle sans laisser de cendres.</blockquote>
		The most beautiful statement of the key problem of causal inference, historical science: entropy.<br>
	</li>

	<li class="footnote" id="fn:111">
		<blockquote>χρὴ οὖν ἐπείγεσθαι οὐ μόνον τῷ ἐγγυτέρω τοῦ θανάτου ἑκάστοτε γίνεσθαι, ἀλλὰ καὶ διὰ τὸ τὴν ἐννόησιν τῶν πραγμάτων καὶ τὴν παρακολούθησιν προαπολήγειν.</blockquote>
	</li>

	<li class="footnote" id="fn:112">
		<blockquote>Man findet bald einen Stecken, wenn man einen Hund schlagen will.</blockquote>
	</li>

	<li class="footnote" id="fn:{{millFn}}">
		or also 
		<blockquote>He that wrestles with us strengthens our nerves, and sharpens our skill. Our antagonist is our helper.</blockquote>
		- Edmund Burke
	</li>
	
	<li class="footnote" id="fn:{{rortyFn}}">
		or <blockquote><a href='http://en.wikipedia.org/wiki/Nothing_comes_from_nothing">You can't beat a horse with no horse</a></blockquote>
	</li>
</ol>
</div>



