<br><ul>
	
	{%	include functions/quote.html  what="Don't just read it; fight it!" 	who="Paul Halmos"  %}


	{%	include functions/quote.html  what="all models are wrong; the practical question is how wrong can they be before they are not useful."  who="George Box"  %}
	

	{%	include functions/quote.html  what="...the reason human beings could not reject ideas because they were bad: Ideas on Earth were badges of friendship or enmity. Their content did not matter. Friends agreed with friends, in order to express friendliness. Enemies disagreed with enemies, in order to express enmity."  who="Kurt Vonnegut Jr."  %}

	
	{%	include functions/quote.html  what="Much of the wisdom of the world is not wisdom, and the most illuminated class of men are no doubt superior to literary fame, and are not writers." 	who="Emerson"		%}


	{%	include functions/quote.html  what="...however true [your claim] may be, if it is not fully, frequently, and fearlessly discussed, it will be held as a dead dogma, not a living truth... Truth, thus held, is but one superstition the more, accidentally clinging to the words which enunciate a truth."   fn="113"   who="JS Mill"  %}
	{%		assign millFn = "113"		%}


	{%	include functions/quote.html  what="I believe there is no philosophical high-road in science, with epistemological signposts. No, we are in a jungle and find our way by trial and error, building our road behind us as we proceed."		who="Max Born"		%}


	{%	include functions/quote.html  what="If error is corrected whenever it is recognised, the path of error is the path of truth."		who="Hans Reichenbach, or"		%}
	

	{%	include functions/quote.html  what="There is a <a href=\"https://en.wiktionary.org/wiki/fractus#Latin\">crack</a> in <a href=\"https://books.google.co.uk/books?id=PbMAAQAAQBAJ&printsec=frontcover#v=onepage&q&f=false\">everything</a>. That's how the light gets in."   who="Leonard Cohen"  %}


	{%	include functions/quote.html  what="If falsehood had only one face, as the truth does, we'd know where we were: we could take the opposite of what a liar said to be the truth. But the opposite of the truth has a hundred thousand shapes and a limitless field."  fn="101"  who="Montaigne"  %}
	{%		assign montaigneFn = "101"		%}


	{%	include functions/quote.html  what="There are no subject matters; no branches of learning - or, rather, of inquiry: there are only problems, and the urge to solve them. A science such as botany or chemistry is, I contend, merely an administrative unit... even serious students are misled by the myth of the subject. And I should be reluctant to call anything that misleads a person a convenience to that person."  who="Karl Popper"  %}


	{%	include functions/quote.html  what="Doctors bury their mistakes, architects cover them with vines, teachers send theirs into politics."  who="<a href='http://www.thisdayinquotes.com/2010/10/physician-can-bury-his-mistakes.html'>Frank Lloyd Wright</a>, plus"  %}
	

	{%	include functions/quote.html  what="You'll soon find a stick if you set out to beat a dog."  fn="112"  who="<a href='http://sea-of-flowers.ca/wp/?p=277'>Proverb</a>"  %}
	

	{%	include functions/quote.html  what="Everything's already been said, but since nobody was listening, we have to start again."  fn="100"  who="André Gide"  %}
	{%		assign gideFn = "100"		%}
	

	{%	include functions/quote.html  what="If you make people think they're thinking, they'll love you; but if you really make them think they'll hate you."  who="Don Marquis"  %}


	{%	include functions/quote.html  what="Litany: If I think up what seems like an obvious objection, I will resist assuming that I have found an [absurdly vitiating flaw] in the experts' logic. Instead I may ask politely whether my argument is a valid one, and if not, where the flaw lies."  who="shminux"  %}

	
	{%	include functions/quote.html  what="Science is what we understand well enough to explain to a computer. Art is everything else we do."  who="Donald Knuth"  %}


	{%	include functions/quote.html  what="The history of science, like the history of all human ideas, is a history of irresponsible dreams, of obstinacy, and of error." 	who="Karl Popper"		%}

	

	{%	include functions/quote.html  what="There are books in which the footnotes, or the comments scrawled by some reader's hand in the margin, are more interesting than the text. The world is one of those books."  who="George Santayana"  %}
	

	{%	include functions/quote.html  what="Plato says in 'Phaedo', that our imaginary ideas arise from the pre-existence of the soul, are not derivable from experience. Read 'monkeys' for 'pre-existence'!"		who="Darwin"		%}
	

	{%	include functions/quote.html  what="If any man can show me I do not think or act right, I will gladly change; for I seek the truth, by which no man was ever injured. He is injured  who abides in error and ignorance."  fn="102"  who="Marcus Aurelius"  %}
	{%		assign marcusFn = "102"		%}


	{%	include functions/quote.html  what="The man scarce lives  who is not more credulous than he ought to be... The natural disposition is always to believe. It is acquired wisdom and experience only that teach incredulity, and they very seldom teach it enough."  who="Adam Smith"  %}


	{%	include functions/quote.html  what="Fear not known but unknown propaganda; I have the utmost respect for Pravdas - how else will you know what to not believe?"  who="Gwern"  %}

	
	{%	include functions/quote.html  what="Discovery consists in&nbsp;seeing what everyone has seen and thinking what no&#8211;one has thought."  fn="103"   who="<a href='http://quoteinvestigator.com/2015/07/04/seen/'>Schopenhauer</a>"  %}
	{%		assign schopenFn = "103"		%}
	

	{%	include functions/quote.html  what="In science, if you know what you are doing, you should not be doing it. In engineering, if you do not know what you are doing, you should not be doing it."   who="Richard Hamming"  %}


	{%	include functions/quote.html  what="Those who will not reason, are bigots, those who cannot, are fools, and those who dare not, are slaves."   who="George Gordon Byron"	  %}


	{%	include functions/quote.html  what="A fool's brain digests philosophy into folly, science into superstition, and art into pedantry. Hence University education."  who="George Bernard Shaw"  %}


	{%	include functions/quote.html  what="It is a profoundly erroneous truism... that we should cultivate the habit of thinking of what we are doing. The precise opposite is the case. Civilization advances by extending the number of important operations which we can perform without thinking about them."		who="Alfred North Whitehead"		%}


	{%	include functions/quote.html  what="Convictions are greater enemies of truth than lies."  fn="104"  who="Nietzsche"  %}
	{%		assign nietzFn = "104"		%}


	{%	include functions/quote.html  what="Faced with a choice between changing one's mind and proving there is no need to do so, almost everyone gets busy on the proof."  who="John Kenneth Galbraith"  %}


	{%	include functions/quote.html  what="Everything that can be said, can be said clearly."		who="Ludwig Wittgenstein"		fn="127"		%}
		

	{%	include functions/quote.html  what="In the conquest of space, two problems must be solved: gravity and paperwork. If it had just been gravity, we would be done already."  fn="105"   who="Werner von Braun"  %}
	{%		assign braunFn = "105"		%}
	

	{%	include functions/quote.html  what="Consider: <a href='http://en.wikipedia.org/wiki/Expected_value'>Magnitude? Probability?</a> Tractability?"  %}

	
	{%	include functions/quote.html  what="Then <a href='https://en.wikipedia.org/wiki/Base_rate'>Prevalence</a>, <a href='https://en.wikipedia.org/wiki/Sensitivity_and_specificity'>sensitivity, specificity</a>, <a href='https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Positive_predictive_value'>precision</a>, <a href='https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Negative_predictive_value'>deprecision</a>, <a href='https://en.wikipedia.org/wiki/Accuracy_and_precision#In_binary_classification'>accuracy</a>."  %}
	

	{%	include functions/quote.html  what="Penye wengi, pana mengi."  who="Swahili proverb"  fn="124" %}
	

	{%	include functions/quote.html  what="The more you know, the more you see; the more you see..."  who="probably John Hitchcock" 	fn="125"   %}


	{%	include functions/quote.html  what="To steal ideas from one person is plagiarism; to steal from many is research."  who="Benjamin? Felson"  %}
	

	{%	include functions/quote.html  what="a special use of language, often over the heads of untrained readers, that seeks to express truths concisely & with precision, that allows us to understand otherwise inaccessible things, changing our experience in the process."  who="Robert Creasey, on equations / poetry"  %}
	

	
	<!--  -->
	{%	include functions/quote.html  what="Things are not what they appear to be: nor are they otherwise."  fn="106"  who="the Lankavatara Sutra, or"  %}
	{%		assign sutraFn = "106"		%}


	{%	include functions/quote.html  what="...when told by his pupil, Elizabeth Anscombe, that it was easy to understand why people thought the sun went round the earth, Wittgenstein asked, \"Why would they think that?\" \"Well,\" said Anscombe, \"it looks that way.\" To which Wittgenstein replied, \"And how would it look if the earth went round the sun?"  %}
	<!--  -->


	{%	include functions/quote.html  what="You will object to me: what good are classes, genera, systems! <br>I answer you: Order and simplification are the first steps toward mastery of a subject — the actual, terrible enemy is the unknown." 		who="Thomas Mann"		fn="120"		%} 
	{%	assign mann = "120"	%}


	{%	include functions/quote.html  what="If there were a verb meaning \"to believe falsely,\" it would not have any significant first person, present indicative."  fn="107"   who="Ludwig Wittgenstein"  %}
	{%	assign ludwigFn = "107"		%}


	{%	include functions/quote.html  what="Books must follow science, and not science books."	who="Francis Bacon"		%}


	{%	include functions/quote.html  what="Einstein: God doesn't play dice!<br> Bohr: It's not for us to dictate to God how to rule the world."		fn="122" 		%}
	{%	assign einstein2 = "122"	%}


	{%	include functions/quote.html  what="But in our enthusiasm, we could not resist a radical overhaul of the system, in which all of its major weaknesses have been exposed, analyzed, and replaced with new weaknesses."  who="Bruce Leverett"  %}
	

	{%	include functions/quote.html  what="You think you know when you can learn, are more sure when you can write, even more when you can teach, but certain when you can program. "  who="Alan Perlis"  %}


	{%	include functions/quote.html  what="A conclusion is simply the place where someone got tired of thinking. "  who="Arthur Bloch?"  %}
	

	{%	include functions/quote.html     what="Reasoning and logic are to each other as health is to medicine, or &#8212; better &#8212; as conduct is to morality. Reasoning refers to a gamut of natural thought processes in the everyday world. Logic is how we ought to think if objective truth is our goal &#8212; and the everyday world is very little concerned with objective truth... The very reason we need logic at all is because most reasoning is not conscious at all."    who="Julian Jaynes"    %}


	{%	include functions/quote.html  what="Experience is not what happens to a man; it is what a man does with what happens to him. It is a gift for dealing with the accidents of existence, not the accidents themselves."    who="Aldous Huxley"  %}
	

	{%	include functions/quote.html  what="But the need to get things done does not always leave us the leisure time for careful inquiry, one must believe that the life of a man is vulnerable to errors regarding particular things, and we must acknowledge the infirmity of our nature." 		who="Rene Descartes"		%}


	{%	include functions/quote.html  what="Once Da'an asked Master Baizhang, \"This student yearns to understand enlightenment. What is it?\"<br>	The Master said, &#8220;You are like someone searching for an ox while riding that ox.&#8221;"  fn="109"  who="after Baizhang Huaihai"  %}
	{%	assign huaiFn = "109"		%}
	

	{%	include functions/quote.html  what="True and False are attributes of speech, not of things. And where speech is not, there is neither Truth nor Falsehood."		who="Thomas Hobbes"		fn="117"		%}
	{%	assign hobFn = "117"		%}


	{%	include functions/quote.html  what="Never get so attached to a poem you forget truth that lacks lyricism."	   who="Joanna Newsom"  %}
	

	{%	include functions/quote.html  what="I beseech you, in the bowels of Christ, think it possible you may be mistaken"	   who="Oliver Cromwell"  %}

	
	{%	include functions/quote.html  what="Time burns, but leaves no ashes."  fn="110"  who="Elsa Triolet"  %}
	{%	assign trioletFn = "110"		%}
	

	{%	include functions/quote.html  what="However unwillingly a person  who has a strong opinion may admit the possibility that his opinion may be false, he ought to be moved by the consideration that however true it may be, if it is not fully, frequently, and fearlessly discussed, it will be held as a dead dogma, not a living truth. <br /><br /> Where [dogmatists'] influence prevails, they make it nearly impossible for the received opinion to be rejected wisely and considerately, though it may still be rejected rashly and ignorantly; for to shut out discussion entirely is seldom possible, and when it once gets in, beliefs not grounded on conviction are apt to give way before the slightest semblance of an argument. 	<br /><br /> This is not knowing the truth. Truth, thus held, is but one superstition the more, accidentally clinging to the words which enunciate a truth."	   who="JS Mill"  %}
	

	{%	include functions/quote.html  what="A theory is a machine for answering a class of questions."  who="Judea Pearl"  %}


	{%	include functions/quote.html  what="If the cultivation of the understanding consists in one thing more than in another, it is surely in learning the grounds of one's own opinions. Whatever people believe, on subjects on which it is of the first importance to believe rightly, they ought to be able to defend against at least the common objections."	  who="JS Mill"  %}
	

	{%	include functions/quote.html  what="All silencing of discussion is an assumption of infallibility. Its condemnation may be allowed to rest on this common argument, not the worse for being common."	   who="Mill"  %}

	
	{%	include functions/quote.html  what="When will we realise that the fact that we can become accustomed to anything... makes it necessary to examine everything we are accustomed to?"	   who="GB Shaw"  %}
	

	{%	include functions/quote.html  what="We feel an affinity with a certain thinker because we agree with him; or because he shows us what we were already thinking; or because he shows us in a more articulate form what we were already thinking; or because he shows us what we were on the point of thinking; or what we would sooner or later have thought; or what we would have thought much later if we hadn&#8217;t read it now; or what we would have been likely to think but never would have thought if we hadn&#8217;t read it now; or what we would have liked to think but never would have thought if we hadn&#8217;t read it now."   who="Lydia Davis"  %}
	

	{%	include functions/quote.html  what="The effort to understand the world is one of the few things that lifts human life a little above the level of farce and gives it some of the grace of tragedy."	   who="Steven Weinberg"  %}
	

	
	{%	include functions/quote.html  what="...from the time it learns to talk, every child makes a dreadful nuisance of itself by asking 'Why?'. To stop this nuisance, society has invented a marvellous system called 'education' which brings to an end their desire to ask that question. The few failures of this system are known as scientists."		who="Hermann Bondi"		%}


	{%	include functions/quote.html  what="Book learning certainly increases knowledge, but it does not broaden one's insight if not accompanied by reason."	who="Immanuel Kant"		fn="115"	%}
	{%		assign kantFn = "115"		%}


	{%	include functions/quote.html  what="Reading, after a certain age, diverts the mind from its creative pursuits. Any man who reads too much and uses his own brain too little falls into lazy habits of thinking."		who="Einstein, but also"		%}


	{%	include functions/quote.html  what="Beware the man of one book."  who="attrb. Thomas Aquinas"		fn="126"  %}


	{%	include functions/quote.html  what="... if we laugh with derision, we will never understand. Human intellectual capacity has not altered for thousands of years. If intelligent people invested intense energy in issues that now seem foolish to us, then the failure lies in our understanding of their world, not in their distorted perceptions. Even the standard example of ancient nonsense - the debate about angels on pinheads - makes sense once you realize that theologians were not discussing whether five or eighteen would fit, but whether a pin could house a finite or an infinite number."  who=" Stephen Jay Gould"  %}
	

	{%	include functions/quote.html  what="the things people believe are usually just what they instinctively feel is right; the justifications, the things you're supposed to argue about, come later. They're the least important part of the belief. That's why you can destroy them, win an argument, prove the other person wrong, and still they believe what they did in the first place. You've attacked the wrong thing."  who="a nihilist by Iain Banks"  %}
	

	{%	include functions/quote.html  what="The essence of Christianity is told to us in the Garden of Eden history. The fruit that was forbidden was on the Tree of Knowledge. The subtext is, \"All the suffering you have is because you wanted to find out what was going on. You could be in the Garden of Eden if you had just kept your fucking mouth shut and hadn't asked any questions.\""  who="Frank Zappa"  %}
	

	{%	include functions/quote.html     what="&#8230;the contradictory opposite of a copulative proposition is a disjunctive proposition composed of the contradictory opposites of its parts&#8230; the contradictory opposite of a disjunctive proposition is a copulative proposition composed of the contradictories of the parts of the disjunctive proposition."    who="William of Ockham (1355), or:"    %}


	{%	include functions/quote.html     what="~(P Λ Q) -> (~P v ~Q)<br>     ~(P v Q) -> (~P Λ ~Q)"    who="<a href=\"https://en.wikipedia.org/wiki/De_Morgan%27s_laws\">De Morgan</a> (1860)"    %}


	{%	include functions/quote.html     what="A good stack of examples, as large as possible, is indispensable for a thorough understanding of any concept, and when I want to learn something new, I make it my first job to build one."		who="Paul Halmos"		%}


	{%	include functions/quote.html  what="	You must hasten - not only because you are daily nearer to death, but also because your intellect, which enables you to know the true nature of things and to order all your actions by that knowledge decays too, and may cease first."  fn="111"   who="Marcus"  %}
	{%	assign marcusAgain = "111"		%}


	{%	include functions/quote.html  what="We will know."  fn="118"  who="David Hilbert"  %}
	{%	assign hilbert = "118"		%}

</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:{{gideFn}}">
		<blockquote>Tout a déjà été dit, mais comme personne n'écoute, il faut sans cesse recommencer.</blockquote>
	</li>

	<li class="footnote" id="fn:{{montaigneFn}}">
		<blockquote>Si, comme la vérité, le mensonge n'avait qu'un visage, nous serions en meilleure situation, car nous prendrions pour certain le contraire de ce que dirait le menteur. Mais l'envers de la vérité à cent mille formes et un champ sans limites.</blockquote>
	</li>

	<li class="footnote" id="fn:102">
		<blockquote>Εἴ τίς με ἐλέγξαι καὶ παραστῆσαί μοι, ὅτι οὐκ ὀρθῶς ὑπολαμβάνω ἢ πράσσω, δύναται, χαίρων μεταθήσομαι: ζητῶ γὰρ τὴν ἀλήθειαν, ὑφ&#787; ἧς οὐδεὶς πώποτε ἐβλάβη, βλάπτεται δὲ ὁ ἐπιμένων ἐπὶ τῆς ἑαυτοῦ ἀπάτης καὶ ἀγνοίας.</blockquote>
	</li>

	<li class="footnote" id="fn:103">
		<blockquote>Daher ist die Aufgabe nicht sowohl zu sehen was noch keiner gesehen hat, als bei Dem was Jeder sieht, zu denken was noch Keiner gedacht hat. </blockquote>
	
	</li>
	<li class="footnote" id="fn:104">
		<blockquote>überzeugungen sind gefährlichere Feinde der Wahrheit, als Lügen.</blockquote>
	</li>

	<li class="footnote" id="fn:105">
		<blockquote>Bei der Eroberung des Weltraums sind zwei Probleme zu lösen: die Schwerkraft und der Papierkrieg. Mit der Schwerkraft wären wir fertig geworden.</blockquote>
	</li>

	<li class="footnote" id="fn:106">
		<blockquote>न त&#2375; तथ&#2366; यथ&#2366; द&#2371;ष&#2381;ट&#2366; न च त&#2375; व&#2376; न सन&#2381;त&#2367; च &nbsp;&nbsp;</blockquote>
	</li>

	<li class="footnote" id="fn:107">
		<blockquote>Gäbe es ein Verbum mit der Bedeutung "fälschlich glauben", so hätte das keine sinnvolle erste Person im Indikativ Präsens... </blockquote>
	</li>

	<li class="footnote" id="fn:108">
		<blockquote>ἦθος, πάθος, λόγος</blockquote>
	</li>
	
	<li class="footnote" id="fn:109">
		<blockquote>長慶大安禪師前去參謁百丈懷海禪師&#65292;問說&#65306;"學人欲求識佛&#65292;何者即是?"<br>
		百丈禪師譬喻說&#65306;"類似騎牛覓牛."</blockquote><br>
		
		See also:
		<blockquote>People can stand what is true, for they are already enduring it.</blockquote>
		- Eugene Gendlin
	</li>

	<li class="footnote" id="fn:{{trioletFn}}">
		<blockquote>Le Temps... brûle sans laisser de cendres.</blockquote>
		The most beautiful statement of the key problem of causal inference, historical science: entropy.<br>
	</li>

	<li class="footnote" id="fn:111">
		<blockquote>χρὴ οὖν ἐπείγεσθαι οὐ μόνον τῷ ἐγγυτέρω τοῦ θανάτου ἑκάστοτε γίνεσθαι, ἀλλὰ καὶ διὰ τὸ τὴν ἐννόησιν τῶν πραγμάτων καὶ τὴν παρακολούθησιν προαπολήγειν.</blockquote>
	</li>

	<li class="footnote" id="fn:112">
		<blockquote>Man findet bald einen Stecken, wenn man einen Hund schlagen will.</blockquote>
	</li>

	<li class="footnote" id="fn:{{millFn}}">
		or also 
		<blockquote>He that wrestles with us strengthens our nerves, and sharpens our skill. Our antagonist is our helper.</blockquote>
		- Edmund Burke
	</li>

	<li class="footnote" id="fn:{{kantFn}}">
		<blockquote>Büchergelehrsamkeit vermehrt zwar die Kenntnisse, aber erweitert nicht den Begriff und die Einsicht, wo nicht Vernunft dazukommt. </blockquote>
	</li>

	<li class="footnote" id="fn:{{hobFn}}">
		<blockquote>Verum et falsum in oratione, non in rebus esse.</blockquote>
	</li>

	<li class="footnote" id="fn:{{hilbert}}">
		<blockquote>Wir werden wissen.</blockquote>
	</li>

	<li class="footnote" id="fn:{{mann}}">
		<blockquote>
			Sie werden mir einwenden: was nützen Klassen, Gattungen, Systeme!<br><br>
			Ich antworte Ihnen: Ordnung und Sichtung sind der Anfang der Beherrschung, und der eigentlich furchtbare Feind ist der unbekannte.
		</blockquote>
	</li>

	<li class="footnote" id="fn:{{einstein2}}">
		<blockquote>
			Einstein: Gott würfelt nicht!
			Bohr: Aber es kann doch nicht unsere Aufgabe sein, Gott vorzuschreiben, wie Er die Welt regieren soll.
			<br><br>><br>
			(The latter line attributed by Heisenberg, who was there.)<br>
		</blockquote>
	</li>


	<li class="footnote" id="fn:124">
		Roughly:<br>
		<blockquote>Opinions are like assholes...</blockquote>
	</li>
	
	<li class="footnote" id="fn:125">
		Often attributed to Aldous Huxley, and it is a lot like him in his sensible mood.
	</li>

	<li class="footnote" id="fn:126">
		Hominem unius libri timeo. 
	</li>

	<li class="footnote" id="fn:127">
		Was sich überhaupt sagen lässt, lässt sich klar sagen.
	</li>
</ol>
</div>



