<ul>

	<li><blockquote>Beauty is hard. <a href="#fn:800" id="fnref:800">800</a></blockquote>
	— Plato</li>
	<br><br>


	<li><blockquote>If "nothing matters" then that doesn't matter either!</blockquote>
	— Thomas Nagel</li>
	<br /><br />


	<li>
		<blockquote>Even if the world went under, I would still plant my apple-tree, all the same. 
		<a href="#fn:801" id="fnref:801">801</a>
		</blockquote>	
		- the <a href="https://en.wikipedia.org/wiki/Confessing_Church">Bekennende Kirche</a>?
	</li>
	<br /><br />


	<li><blockquote>What? Where? With whom?</blockquote></li>
	<br /><br />

	<li>
		<blockquote> <a href="#fn:802" id="fnref:802">802</a>
		</blockquote> (I am a pessimist of the intellect, but an optimist of the will.)
	— Antonio Gramsci, or</li>
	<br /><br />

	<li>
		<blockquote>The sun shines on the one who praises it. <a href="#fn:805" id="fnref:805">805</a></blockquote> 
		— Swahili proverb, or
	</li>
	<br /><br />

	<li><blockquote>Proceed til apprehended.</blockquote>
	— Proverbial, but recently in the air a lot.</li>
	<br /><br />

	<li><blockquote>Ludibrium est nihil metuit. <a href="#fn:804" id="fnref:804">804</a></blockquote>
	— Adam Ant</li>
	<br /><br />


	<li>
		<blockquote>Be regular and orderly in your life, that you may be violent and original in your work.
		<a href="#fn:806" id="fnref:806">806</a></blockquote> 
		— Gustave Flaubert</li>
	<br /><br />
	

	<li><a href="http://lesswrong.com/lw/9wr/my_algorithm_for_beating_procrastination/">m = pV / iD</a>. </li>
	<br /><br />

	<li>
		<blockquote>We are on this earth to fart around. Don't let anyone tell you otherwise.</blockquote>
		— Vonnegut. Or perhaps:</li>
	<br /><br />

	<li>
		<blockquote>I don't know why we are here, but I'm quite sure that it is not in order to enjoy ourselves.</blockquote>
		— <a href="https://www.ted.com/talks/john_lloyd_inventories_the_invisible/transcript?language=en">spuriously attrb</a>. Wittgenstein</li>
	<br /><br />

	<li>
		<blockquote>"And did you get what // you wanted from this life, even so?"<br>
		"I did."<br>
		"And what did you want?"<br>
		"To call myself beloved, to feel myself / beloved on the earth."
		</blockquote>
		— Raymond Carver.</li>
	<br /><br />


	<li><blockquote>I live sweat, but I dream light–years.</blockquote>
	— Mike Watt</li>
	<br><br>

	<li><blockquote>Without some vulgarity, there is no complete man.</blockquote>
	— Raymond Chandler, or</li>
	<br /><br />

	<li>
		<blockquote>If they think you're crude, go technical; if they think you're technical, go crude... These days, though, you have to be pretty technical before you can even aspire to crudeness.
		</blockquote>
		— William Gibson</li>
	<br /><br />

	<li>
		<em>Everyone believes that </em>tomorrow<em> they'll truly start living.</em><br />
		– after Samuel Johnson, or
	</li>
	<br /><br />
		
	<li>
		<blockquote> In the long run we are always in the short run. <a href="#fn:807" id="fnref:807">807</a></blockquote>
		— Abba Lerner</li>
	<br /><br />


	<li>
		<blockquote>In aesthetics the present is the only tense there is.</blockquote>
		— Clive James
	</li>
	<br /><br />

	<li>
		<blockquote>Aude. Vide. Tace. <a href="#fn:808" id="fnref:808">808</a><br />
		</blockquote>– the Masons
	</li>
	<br /><br />

	
	<li>
		<blockquote>If you can't say anything good don't say anything. <a href="#fn:809" id="fnref:809">809</a></blockquote>
		— Salvator Rosa</li>
	<br /><br />


	<li><blockquote>All is vanity.  <a href="#fn:810" id="fnref:810">810</a></blockquote>
	— Ecc 1:2. Or</li>
	<br /><br />
	

	<li><blockquote>The effort to understand the world is one of the few things that lifts human life a little above the level of farce and gives it some of the grace of tragedy.</blockquote>
	— Steven Weinberg</li>
	<br /><br />


	<li><blockquote>People suffer their failure to optimise the first–order problem (of allocating a tight budget of existence) and the second–order problem (of allocating attention to the first–order problem).</blockquote> 
	— <a href="http://johnquiggin.com/2013/10/23/a-minor-life-hack-crosspost-from-crooked-timber/">John Quiggin</a></li>
	<br /><br />


	<li><blockquote>You have a real life if and only if you do not compete with anyone in any of your pursuits.</blockquote>
	— Nassim Taleb</li>
	<br /><br />

	<li><blockquote>No book's so bad as to have no good in it.  <a href="#fn:811" id="fnref:811">811</a></blockquote>
	— Pliny the Younger</li>
	<br /><br />
	

	<li><blockquote>The point of reading a great many books is to become aware of a great number of alternative purposes; the point of that is to become an autonomous self.</blockquote>
	— Rorty, or</li>
	<br /><br />

	<li><em>In multos libros libertas. <a href="#fn:812" id="fnref:812">812</a></em></li>
	<br /><br />


	<li>
		<blockquote>[Lord], make me chaste – but not yet. <a href="#fn:813" id="fnref:813">813</a></blockquote>
		— Augustine of Hippo
	</li>
	<br /><br />


	<li>
		<blockquote>A man who sets out to justify his existence and his activities has to distinguish two different questions. The first is whether the work which he does is worth doing; and the second is why he does it... The first question is often very difficult, and the answer very discouraging... It is a tiny minority who can do something really well, and the number of men who can do two things well is negligible. If a man has any genuine talent he should be ready to make almost any sacrifice in order to cultivate it to the full.</blockquote>
		— GH Hardy
	</li>
	<br /><br />


	<li>
		<blockquote>there's nothing problematic about going out to shop for some soap or a car and purchasing the best that happens to be available... But some things, like the person you're going to spend the rest of your life with, or the work you'll spend it doing, don't seem like this. We want to believe in having a calling and a soulmate.<br><br>

		...here, in the gap between what we think we want and what we think we can get, the phenomenon occurs. It goes by many names: evil; marketing, sales, recruitment, courtship... Whatever one calls it, it would be advisable to think at least twice before concluding that one is better off ignoring it, the whole impetuous fearful flurry of flowing down gradients: to wonder, to inquire, to guess, to experiment, to tell and to listen... To offer, and reject, and reject, and reject; to seek, and be rejected, and rejected, and rejected.<br><br>

		...who among us can be said to have lived the most plausible facsimile of the chimerical "good life"? ...lovers cradling one another on the beach, murmuring the three words that are the highest expression of what they mean to each other: "Markets in everything."
		</blockquote>
		&#8211; Zack Davis
	</li> <br><br>


	<li>
		<blockquote>There are always some human beings who live to be a hundred. More do so today than ever before, but there have always been some... It comes as a shock to realise that the whole of civilisation has occurred within the successive lifetimes of sixty people&#8212;which is the number of friends I squeeze into my living room when I have a drinks party. Twenty people take us back to Jesus, twenty-one to Julius Caesar.
		</blockquote> 
		&#8211; Bryan Magee
	</li> <br><br>
	


	<li>
		<blockquote>What one wants is to be able to talk with a diverse club of smart people, arrange to do short one-off research projects and simulations, publish papers or capture intellectual property quickly and easily, and move on to another conversation. Quickly. Easily. For a living. Can't do that in industry. Can't do that in the Academy. Yet in my experience, scientists and engineers all want it. Maybe even a few mathematicians and social scientists do, too.
		</blockquote>
		&#8211; Bill Tozier
	</li> <br><br>
	

	<li>
		<blockquote>The more that mankind advances in spiritual evolution, the more certain it seems to me that the path to genuine religiosity does not lie through the fear of life, and the fear of death, and blind faith, but through striving after rational knowledge.
		</blockquote>
		&#8211; Albert Einstein
	</li> <br><br>

	<li>
		<blockquote>Dear Posterity,<br> 
		&nbsp;&nbsp;&nbsp;&nbsp;If you have not become more just, more peaceful, and generally more rational than we are - why then, the Devil take you. <a href="#fn:803" id="fnref:803">803</a>
		</blockquote>
		- Albert Einstein
	</li> <br><br>
	
	<li>
		<blockquote>I can't go on. I'll go on. <a href="#fn:814" id="fnref:814">814</a>
		</blockquote>
		— Beckett.</li>
	<br><br>

	<li>
		<blockquote>Always leave them wanting more.</blockquote>
		– attrb. Theolonius Monk, attrb. <a href="http://www.gla.ac.uk/events/?action=details&amp;id=6845">Aristotle</a>
	</li>

</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:800">
    	<blockquote>χαλεπὰ τὰ καλά.</blockquote>
    </li>

     <li class="footnote" id="fn:801">
    	<blockquote>
    		Selbst die Welt untergeht, so würde ich gleich heute noch einen Apfelbaum pflanzen.
    	</blockquote>
    </li>

	<li class="footnote" id="fn:802">
    	<blockquote>
    		Sono pessimista con l'intelligenza, ma ottimista per la volontà.
    	</blockquote>
    </li>

	<li class="footnote" id="fn:803">
    	<blockquote>
    		Liebe Nachwelt!<br> 
			&nbsp;&nbsp;&nbsp;&nbsp;Wenn Ihr nicht gerechter, friedlicher und überhaupt vernünftiger sein werdet, als wir sind, bezw. gewesen sind, so soll euch der Teufel holen.
    	</blockquote>
    </li>

	<li class="footnote" id="fn:804">
    	<blockquote>
    		Ridicule is nothing to be scared of.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:805">
    	<blockquote>
    		Alisifuyejua, limemwangaza. 
    	</blockquote>
    </li>
	<li class="footnote" id="fn:806">
    	<blockquote>
    		Soyez réglé dans votre vie et ordinaire, afin d'être violent et original dans vos œuvres.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:807">
    	<blockquote>
    		В долгосрочной перспективе мы просто в другой краткосрочной перспективе.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:808">
    	<blockquote>
    		Dare. See. Hush.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:809">
    	<blockquote>
    		Aut tace aut loquere meliora silentio.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:810">
    	<blockquote>
    		.הֲבֵל הֲבָלִים הַכֹּל הָבֶל
    	</blockquote>
    </li>
	<li class="footnote" id="fn:811">
    	<blockquote>
    		Nullum esse librum tam malum, ut non in aliqua parte prodesset.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:812">
    	<blockquote>
    		In many books, freedom.
    	</blockquote>
    </li>
	<li class="footnote" id="fn:813">
    	<blockquote>
    		Da mihi castitatem et continentiam, sed noli modo.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:814">
    	<blockquote>
    		je ne peux pas continuer, je vais donc continuer.
    	</blockquote>
    </li>

</ol>
</div>