<ul>

	<li><i>there's nothing problematic about going out to shop for some soap or a car and purchasing the best that happens to be available... But some things, like the person you're going to spend the rest of your life with, or the work you'll spend it doing, don't seem like this. We want to believe in having a calling and a soulmate.<br><br>

	...it is here, in the gap between what we think we want and what we think we can get, that the phenomenon occurs. It goes by many names: evil; marketing, sales, recruitment, courtship... Whatever one calls it, it would be advisable to think at least twice before concluding that one is better off ignoring it, the whole impetuous fearful flurry of flowing down gradients: to wonder, to inquire, to guess, to experiment, to tell and to listen... To offer, and reject, and reject, and reject; to seek, and be rejected, and rejected, and rejected.<br><br>

	...who among us can be said to have lived the most plausible facsimile of the chimerical "good life"? ...lovers cradling one another on the beach, murmuring the three words that are the highest expression of what they mean to each other: "Markets in everything."</i><br>
	&#8211; Zack Davis</li>
	


	<li><i>There are always some human beings who live to be a hundred. More do so today than ever before, but there have always been some... It comes as a shock to realise that the whole of civilisation has occurred within the successive lifetimes of sixty people&#8212;which is the number of friends I squeeze into my living room when I have a drinks party. Twenty people take us back to Jesus, twenty-one to Julius Caesar.</i> <br>
	&#8211; Bryan Magee</li>
	


	<li><i>What one wants is to be able to talk with a diverse club of smart people, arrange to do short one-off research projects and simulations, publish papers or capture intellectual property quickly and easily, and move on to another conversation. Quickly. Easily. For a living. Can't do that in industry. Can't do that in the Academy. Yet in my experience, scientists and engineers all want it. Maybe even a few mathematicians and social scientists do, too.</i><br>
	&#8211; Bill Tozier
	</li>
	

	<li><i>The more that mankind advances in spiritual evolution, the more certain it seems to me that the path to genuine religiosity does not lie through the fear of life, and the fear of death, and blind faith, but through striving after rational knowledge.</i><br>
	&#8211; Albert Einstein</li>
	



	<li><i>Liebe Nachwelt!<br> 
	&nbsp;&nbsp;&nbsp;&nbsp;Wenn Ihr nicht gerechter, friedlicher und überhaupt vernünftiger sein werdet, als wir sind, bezw. gewesen sind, so soll euch der Teufel holen.</i><br> <br> 

	(Dear Posterity,<br> 
	&nbsp;&nbsp;&nbsp;&nbsp;If you have not become more just, more peaceful, and generally
	more rational than we are - why then, the Devil take you.<br> <br> 
	- Albert Einstein</li>
	

</ul>
