<br>
<ul>
	{%	include functions/quote.html      what="...a curiosity of my type remains the most enjoyable of sins - Pardon! I ought to say: 'the love of truth has its reward in heaven and even on earth'."     fn="1900"     %}
	

	{%	include functions/quote.html      what="The surest way to corrupt a youth is to instruct him to hold those who think alike in higher esteem than those who think differently."      fn="1901"     %}	


	{%	include functions/quote.html      what="Error has made man so deep, delicate, inventive as to bring forth such blossoms as religion and arts. Pure knowledge would never have been capable of it."     fn="1902"     %}
	

	{%	include functions/quote.html      what="We must think of men who are cruel today as stages of earlier cultures, which have been left over ... They show us what we all were, and frighten us. But they themselves are as little responsible as a piece of granite for being granite."     fn="1903"     %}
	


	{%	include functions/quote.html      what="An artist cannot endure reality; he turns away, back: his earnest opinion is that the worth of a thing consists in that nebulous residue of it which one derives from color, form, sound, and thought; he believes that the more subtle, at tenuated, and volatile, a thing or a man becomes, the more valuable he becomes: the less real, the greater the worth. This is Platonism..."     fn="1904"     %}
	


	{%	include functions/quote.html      what="Most men are much too concerned with themselves to be malicious."     fn="1913"     %}
	


	{%	include functions/quote.html      what="'I did that', says my memory. 'I cannot have done that' says my pride, and remains adamant. At last &#8212; memory yields."      fn="1905"     %}
	

	{%	include functions/quote.html      what="What we do in dreams we also do when we are awake: we invent and fabricate the person with whom we associate &#8212; and immediately forget we have done so."     fn="1914"     %}
	

	{%	include functions/quote.html      what="Our vanity would have just that which we do best count as that which is hardest for us. The origin of many a morality."      fn="1906"     %}
	

	{%	include functions/quote.html      what="With regard to what 'truthfulness' is, perhaps nobody has ever been sufficiently truthful."      fn="1907"     %}
	


	{%	include functions/quote.html      what="We often contradict an opinion for no other reason than that we do not like the tone in which it is expressed."     fn="1908"     %}
	

	{%	include functions/quote.html      what="The mother of excess is not joy but joylessness."      fn="1909"     %}
	

	{%	include functions/quote.html      what="Enemies of truth. Convictions are more dangerous enemies of truth than lies."      fn="1910"     %}
	

	{%	include functions/quote.html      what="The first opinion that occurs to us when we are suddenly asked about a matter is usually not our own, but only the customary one, appropriate to our caste, position, or parentage; our own opinions seldom swim near the surface."      fn="1911"     %}
	

	{%	include functions/quote.html      what="Generally we strive to acquire one emotional stance, one viewpoint for all life situations and events: we usually call that being of a philosophical frame of mind. But rather than making oneself uniform, we may find greater value for the enrichment of knowledge by listening to the soft voice of different life situations; each brings its own views with it. Thus we acknowledge and share the life and nature of many by not treating ourselves like rigid, invariable, single individuals."     fn="1912"     %}

</ul>



<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1900">
    	<blockquote>
    		...eine Neugierde meiner Art bleibt nun einmal das angenehmste aller Laster,&#8212;Verzeihung! ich wollte sagen: die Liebe zur Wahrheit hat ihren Lohn im Himmel und schon auf Erden.
    	</blockquote>
    </li>

       <li class="footnote" id="fn:1901">
    	<blockquote>
    		Man verdirbt einen Jüngling am sichersten, wenn man ihn anleitet, den Gleichdenkenden höher zu achten, als den Andersdenkenden.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1902">
    	<blockquote>
    		Der Irrthum hat den Menschen so tief, zart, erfinderisch gemacht, eine solche Bluethe, wie Religionen und Kuenste, herauszutreiben. Das reine Erkennen waere dazu ausser Stande gewesen.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1903">
    	<blockquote>
    		Die Menschen, welche jetzt grausam sind, muessen uns als Stufen frueherer Culturen gelten, welche uebrig geblieben sind: das Gebirge der Menschheit zeigt hier einmal die tieferen Formationen, welche sonst versteckt liegen, offen. ... Sie zeigen uns, was wir Alle waren, und machen uns erschrecken: aber sie selber sind so wenig verantwortlich, wie ein Stueck Granit dafuer, dass es Granit ist.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1904">
    	<blockquote>
    		Ein Künstler hält keine Wirklichkeit aus, er blickt weg, zurück, seine ernsthafte Meinung ist, daß was ein Ding werth ist, jener schattengleiche Rest ist, den man aus Farben, Gestalt, Klang, Gedanken gewinnt, er glaubt daran, daß, je mehr subtilisirt verdünnt verflüchtigt ein Ding, ein Mensch wird, um so mehr sein Werth zunimmt: je weniger real, um so mehr Werth. Dies ist Platonismus...
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1905">
    	<blockquote>
    		"Das habe ich getan" sagt mein Gedächtnis. Das kann ich nicht getan haben &#8212; sagt mein Stolz und bleibt unerbittlich. Endlich &#8212; gibt das Gedächtnis nach.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1906">
    	<blockquote>
    		Was wir am besten thun, von dem möchte unsre Eitelkeit, dass es grade als Das gelte, was uns am schwersten werde. Zum Ursprung mancher Moral.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1907">
    	<blockquote>
    		Ober Das, was "Wahrhaftigkeit" ist, war vielleicht noch Niemand wahrhaftig genug.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1908">
    	<blockquote>
    		Man widerspricht oft einer Meinung, während uns eigentlich nur der Ton, mit dem sie vorgetragen wurde, unsympathisch ist.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1909">
    	<blockquote>
    		Die mutter der Ausschweifung ist nicht die Freude, sondern die Freudlosigkeit.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1910">
    	<blockquote>
    		Überzeugungen sind gefährlichere Feinde der Wahrheit, als Lügen.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1911">
    	<blockquote>
    		Die erste Meinung, welche uns einfällt, wenn wir plötzlich über eine Sache befragt werden, ist gewöhnlich nicht unsere eigene, sondern nur die landläufige, unserer Kaste, Stellung, Abkunft zugehörige; die eigenen Meinungen schwimmen selten oben auf.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1912">
    	<blockquote>
    		Gewöhnlich strebt man darnach, für alle Lebenslagen und Ereignisse eine Haltung des Gemüthes, eine Gattung von Ansichten zu erwerben, - das nennt man vornehmlich philosophisch gesinnt sein. Aber für die Bereicherung der Erkenntniss mag es höheren Werth haben, nicht in dieser Weise sich zu uniformiren, sondern auf die leise Stimme der verschiedenen Lebenslagen zu hören; diese bringen ihre eigenen Ansichten mit sich. So nimmt man erkennenden Antheil am Leben und Wesen Vieler, indem man sich selber nicht als starres, beständiges, Eines Individuum behandelt.
    	</blockquote>
    </li>    

    <li class="footnote" id="fn:1913">
    	<blockquote>
    		Die meisten Menschen sind viel zu sehr mit sich beschaeftigt, um boshaft zu sein.
    	</blockquote>
    </li>

    <li class="footnote" id="fn:1914">
    	<blockquote>
    		Wir machen es auch im Wachen wie im Traume: wir erfinden und erdichten erst den Menschen, mit dem wir verkehren &#8212; und vergessen es sofort.
    	</blockquote>
    </li>
    
</ol>
</div>

