<ul>

	<li><i>Throw away my book: you must understand that it represents only one of a thousand attitudes. You must find your own. Do not do what someone else could do as well as you. Do not say, do not write what someone else could say, could write as well as you. Care for nothing in yourself but what you feel exists nowhere else. And, out of yourself create, impatiently or patiently, the most irreplaceable of beings.</i>
	<br>
	(<a href="https://twitter.com/georgezachary/status/495661525588127744">Compare Taleb's</a>)</li>

	<br><br><br>
	<li><i>Please do not understand me too quickly.</i></li>

	<br><br><br>
	<li><i>Know that joy is rarer, more difficult, and more beautiful than sadness. Once you make this all-important discovery, you must embrace joy as a moral obligation.</i></li>

	<br><br><br>
	<li><i>We prefer to go deformed and distorted all our lives rather than not resemble the portrait of ourselves which we ourselves have first drawn. It&#8217;s absurd. We run the risk of warping what&#8217;s best in us.</i></li>

	<br><br><br>
	<li><i>There are very few monsters who warrant the fear we have of them.</i></li>

	<br><br><br>
	<li><i>I prefer granting with a good grace what I know I shan't be able to prevent.</i></li>

	<br><br><br>
	<li><i>Most people believe it is only by constraint they can get any good out of themselves, and so they live in a state of psychological distortion. It is his own self that each of them is most afraid of resembling. Each of them sets up a pattern and imitates it; he doesn't even choose the pattern he imitates: he accepts a pattern that has been chosen for him. And yet I verily believe there are other things to be read in man. But people don't dare to - they don't dare to turn the page. Laws of imitation! Laws of fear, I call them. The fear of finding oneself alone - that is what they suffer from - and so they don't find themselves at all.</i></li>


	<br><br><br>
	<li><i>When I was younger, I used to make resolutions which imagined were virtuous. I was less anxious to be what I was, than to become what I wished to be. Now, I am not far from thinking that in irresolution lies the secret of not growing old.</i></li>


	<br><br><br>
	<li><i>I have always thought that great artists were those who dared to confer the right of beauty on things so natural that people say on seeing them, "Why did I never realize before that that was beautiful too?</i></li>


</ul>
