<ul>

	{%	include functions/quote.html     what="The more I think about language, the more it amazes me that people ever understand each other at all. "    %}

	{%	include functions/quote.html     what="There would be no danger of an atomic war if advances in history, the science of right and of state, philosophy, psychology, literature, art, etc. were as great as in physics. But instead of such progress, one is struck by significant regresses in many of the spiritual sciences."		%}

	{%	include functions/quote.html     what="the theological worldview is the idea that the world and everything in it has meaning and reason, and in particular a good and indubitable meaning. It follows immediately that our worldly existence, since it has in itself at most a very dubious meaning, can only be means to the end of another existence."	%}

	Philosophical thinking differs from thinking in general. It leaves out attention to objects but directs attention to inner experiences. (It is not so hard if one also directs attention to objects.) To develop the skill of introspection and correct thinking [is to learn] in the first place what you have to disregard.

	Don’t collect data. If you know everything about yourself, you know everything. There is no use burdening yourself with a lot of data. Once you understand yourself, you understand human nature and then the rest follows.

	By definition, wish is directed to being something. Love is wish directed to the being of something, and hate is wish directed to the nonbeing of something.

	My philosophical viewpoint
		The world is rational.
		Human reason can, in principle, be developed more highly (through certain techniques).
		There are systematic methods for the solution of all problems.
		There are other worlds and rational beings of a different and higher kind.
		The world in which we live is not the only one in which we shall live or have lived.
		There is incomparably more knowable a priori that is currently known.
		The development of human thought since the Renaissance is thoroughly one-dimensional.
		Reason in mankind will be developed in every direction.
		Formal rights comprise a real science.
		Materialism is false.
		The higher beings are connected to the others by analogy, not by composition.
		Concepts have an objective existence.
		There is a scientific (exact) philosophy and theology, which deals with concepts of the highest abstractness; and this is also most highly fruitful for science.
		Religions are, for the most part, bad—but religion is not.

	

</ul>