<br>
<ul>
	<li>When you become frustrated with computers, please remember they are only cleverly-arranged sand. (When you become frustrated with people…)</li><br>

	<li>An aphorism is an algorithm, of we know not what input,
	to we know not what output.</li><br>
	li><q>Often, I must calculate otherwise than I think. That is called diplomacy.</q></li><br>
	<li>Surprising linear models work at all, when they are the worst functional language ever: only operator *, <em>n</em> variables, <em>n</em> assignments, &amp; output=sum.</li><br>
	<li>When critiquing a paper, go for the jugular: any part with the words <q>presumably</q>, <q>obviously</q>, <q>past research</q>, or <q>studies show</q>.</li><br>

	<li>We can sleep soundly because rough men stand ready with blogs willing to do violence to papers on our behalf.</li><br>

	<li>The use of confidence intervals rather than <em>p</em>-values is a clear improvement; it makes our difficulties vanish like smoke in a fog.</li><br>
	
	<li><em>p</em>-value testing is pretty weird, but with multiple correction, it gets even weirder: the more you measure &amp; model, the less you know.</li><br>

	<li>Every normal man must be tempted now &amp; then to sharpen knives, hoist a black flag, and run amok, shouting <q>No causation without randomization!</q></li><br>
	<li>If you consider them in terms of QALYs lost, school is at least as harmful to your health as smoking, and far more expensive.</li><br>
	<li>Some ask if behavioral genetics has made me nihilistic and feeling all is futile. But I have to believe in free will - my whole family does.</li><br><br>

	
	<li>Programmers’ chairs and keyboards cause RSIs of the body; but what RSIs of the mind?</li><br>

	<li>Backups are confronting one’s fallibility &amp; the transience of the world; we should not be surprised so few can do it.</li><br>

	<li>A pause on my keyboard for thought - and how peaceful it must be in the CPU, as the nanoseconds slowly tick by…</li><br>

	<li><q>Helping newbies requires an active memory - of all the times we ourselves failed to read the fucking manual.</q></li><br>

	<li>How can we fear machines will separate humans when even in their source code, we can read the stamp of personality &amp; style?</li><br>
	
	<li><q>Data, and the formats by which data are communicated, inevitably create a system permeated by illusions.</q></li><br>

	<li><q>Anyone satisfied by last year’s code is not learning enough.</q></li><br>
	
	<li><q>I do not like this algorithm/language/tool.</q> <q>Why?</q> <q>I am not up to it.</q> - anyone, ever?</li><br>

	<li>To test whether a language despises its users, merely see whether <code>if (a = 1) {...}</code> is valid.</li><br>
	<li><q>Haskellers knows the type of everything &amp; the value of nothing.</q> Unless they’ve turned on extensions, then neither</li><br><br>
	
	<li>If you find yourself surprised by man or market, remember you have learned as much about your own thinking as them: revelation comes in twos.</li><br>
	<li>At times, tolerance can be the most radical of positions to take; just watch when a weak group gains power.</li><br>
	

	<li>An aphorism is an algorithm, of we know not what input, we know not what output.</li><br>

	<li>Voltaire’s Third Law: for every aphorism, there is an equal and opposite anti-aphorism</li><br>
	<li>The epigram is a compressed, golfed, idea, with all the virtues - and sins - of golfed code.</li><br>

	<li>Remember! Most strings are incompressible, most reals uncomputable, most theorems unprovable, most programs undecidable.</li><br>

	<li>Fear not known but unknown propaganda; I have the utmost respect for _Pravda_s - how else will you know what to not believe?</li><br>
</ul>
<br><br>
(Tweet apotheosis.)