<br><ul>

	{%	include functions/quote.html      what="When you become frustrated with computers, please remember they are only cleverly-arranged sand. (When you become frustrated with people...)"     %}


	{%	include functions/quote.html      what="An aphorism is an algorithm, of we know not what input, to we know not what output."     %}

	
	{%	include functions/quote.html      what="'Often, I must calculate otherwise than I think. That is called diplomacy.'"     %}

	
	{%	include functions/quote.html      what="Surprising linear models work at all, when they are the worst functional language ever: only operator *, n variables, n assignments, &amp; output=sum."     %}


	{%	include functions/quote.html      what="When critiquing a paper, go for the jugular: any part with the words 'presumably', 'obviously', 'past research', or 'studies show'."     %}


	{%	include functions/quote.html      what="We can sleep soundly because rough men stand ready with blogs willing to do violence to papers on our behalf."     %}


	{%	include functions/quote.html      what="The use of confidence intervals rather than p-values is a clear improvement; it makes our difficulties vanish like smoke in a fog."     %}

	
	{%	include functions/quote.html      what="p-value testing is pretty weird, but with multiple correction, it gets even weirder: the more you measure &amp; model, the less you know."     %}


	{%	include functions/quote.html      what="Every normal man must be tempted now &amp; then to sharpen knives, hoist a black flag, and run amok, shouting 'No causation without randomization!'"     %}

	
	{%	include functions/quote.html      what="If you consider them in terms of QALYs lost, school is at least as harmful to your health as smoking, and far more expensive."     %}


	{%	include functions/quote.html      what="Some ask if behavioral genetics has made me nihilistic and feeling all is futile. But I have to believe in free will - my whole family does."     %}


	{%	include functions/quote.html      what="Programmers’ chairs and keyboards cause RSIs of the body; but what RSIs of the mind?"     %}


	{%	include functions/quote.html      what="Backups are confronting one’s fallibility &amp; the transience of the world; we should not be surprised so few can do it."     %}


	{%	include functions/quote.html      what="A pause on my keyboard for thought - and how peaceful it must be in the CPU, as the nanoseconds slowly tick by…"     %}


	{%	include functions/quote.html      what="'Helping newbies requires an active memory - of all the times we ourselves failed to read the fucking manual.'"     %}


	{%	include functions/quote.html      what="How can we fear machines will separate humans when even in their source code, we can read the stamp of personality &amp; style?"     %}

	
	{%	include functions/quote.html      what="'Data, and the formats by which data are communicated, inevitably create a system permeated by illusions.'"     %}


	{%	include functions/quote.html      what="'Anyone satisfied by last year’s code is not learning enough.'"     %}

	
	{%	include functions/quote.html      what="'I do not like this algorithm/language/tool.' 'Why?' 'I am not up to it.' - anyone, ever?"     %}


	{%	include functions/quote.html      what="To test whether a language despises its users, merely see whether <code>if (a = 1) {...}</code> is valid."     %}
	

	{%	include functions/quote.html      what="'Haskellers knows the type of everything &amp; the value of nothing.' Unless they’ve turned on extensions, then neither"     %}

	
	{%	include functions/quote.html      what="If you find yourself surprised by man or market, remember you have learned as much about your own thinking as them: revelation comes in twos."     %}


	{%	include functions/quote.html      what="At times, tolerance can be the most radical of positions to take; just watch when a weak group gains power."     %}
	

	{%	include functions/quote.html      what="An aphorism is an algorithm, of we know not what input, we know not what output."     %}


	{%	include functions/quote.html      what="Voltaire’s Third Law: for every aphorism, there is an equal and opposite anti-aphorism"     %}

	
	{%	include functions/quote.html      what="The epigram is a compressed, golfed, idea, with all the virtues - and sins - of golfed code."     %}


	{%	include functions/quote.html      what="Remember! Most strings are incompressible, most reals uncomputable, most theorems unprovable, most programs undecidable."     %}


	{%	include functions/quote.html      what="Fear not known but unknown propaganda; I have the utmost respect for _Pravda_s - how else will you know what to not believe?"     %}


</ul><br><br>


(Tweet apotheosis.)

