<br>
<ul>

    {%  include functions/quote.html     what="Youth: 'Is it better to marry or not to marry?'<br>		Socrates: 'Whichever you do, you'll regret it.'"    fn="990"        %}


	{%	include functions/quote.html     what="To make something interesting, just look at it a long time."       who="Gustave Flaubert"	fn="993"    %}


    {%  include functions/quote.html     what="If we only wanted to be happy, it would soon be done; but we want to be happier than others; and this is always difficult, because we believe others are happier than they are."		who="Charles de Montesquieu"	fn="995"	 %}


    {%  include functions/quote.html     what="A change is as good as a rest."        %}


	{%	include functions/quote.html     what="I cannot forbear having a curiosity to be acquainted with the principles of moral good and evil, the nature and foundation of government, and the cause of those several passions and inclinations, which actuate and govern me ... These sentiments spring up naturally in my present disposition; and should I endeavour to banish them, by attaching myself to any other business or diversion, I feel I should be a loser in point of pleasure; and this is the origin of my philosophy."		who="Hume"		%}


	{%	include functions/quote.html     what="The best selfish life would be dominated by delusional beliefs and base pleasures, but this can't be generalised."	who="Robert Wiblin" 		%}
	

	{%	include functions/quote.html     what="A friend who understands you feels close, even in the far corners of the earth."		who="Proverb" 		fn="996"		%}

    {%  include functions/quote.html     what="Free vinegar is sweeter than honey."       who="Proverbial"     fn="992"        %}

	{%	include functions/quote.html     what="Economists are often accused of believing that everything - health, happiness, life itself - can be measured in money. What we actually believe is even odder.  We believe that everything can be measured in anything."    who="David Friedman"    	%}


    {%  include functions/quote.html        what="A danger sign... is the tendency to regard the happiest moments of your life as those that occur when someone who has an appointment to see you is prevented from coming."     who="Peter Medawar"    %}


	{%	include functions/quote.html     what="Happiness is having a large, loving, close-knit family in another city."       who="George Burns"    %}


	{%	include functions/quote.html     what="Smile and others will smile back. Smile to show how transparent, how candid you are. Smile if you have nothing to say. Most of all, do not hide the fact you have nothing to say nor your total indifference to others. Let this emptiness, this profound indifference shine out spontaneously in your smile."	who="Jean Baudrillard" 	%}


	{%	include functions/quote.html     what="...every pleasure is a good thing: its nature is favorable to us; yet not every pleasure is to be chosen — just as all pains are bad, yet not every pain is always to be shunned." 		who="Epicurus"	fn="991"		%}


	{%	include functions/quote.html     what="An oversharpened blade will soon blunt... Withdraw when work is done."	who="Laozi"	fn="994"		%}


	{%	include functions/quote.html     what="Beyond the sky another sky; beyond the mountain another mountain."	who="Proverb"	fn="997"		%}


	{%	include functions/quote.html     what="Without some vulgarity, there is no complete man."    who="Raymond Chandler"    	%}


	{%	include functions/quote.html     what="Self-pity lasted seconds in the open; then the bird of prey fell on it... dispatched by his conscience, the angry voice of all the people in the world worse off than he was..."    who="Iain Banks"    %}


	{%	include functions/quote.html     what="A tongue weighs little, but can crush a man." 	who="Proverb" 		fn="998"		%}
	

	{%	include functions/quote.html     what="What one wants is to be able to talk with a diverse club of smart people, arrange to do short one-off research projects and simulations, publish papers or capture intellectual property quickly and easily, and move on to another conversation. Quickly. Easily. For a living. Can't do that in industry. Can't do that in the Academy. Yet in my experience, scientists and engineers all want it. Maybe even a few mathematicians and social scientists do, too."    who="Bill Tozier"    %}


    {%	include functions/quote.html     what="I have not loved the world, nor the world me <br>    But let us part fair foes; I do believe,<br>    Though I have found them not, that there may be <br>    Words which are things,—hopes which will not deceive, <br>    And virtues which are merciful, nor weave<br>   Snares for the failing: I would also deem <br>    O’er others’ griefs that some sincerely grieve; <br>    That two, or one, are almost what they seem, <br>    That goodness is no name, and happiness no dream."		who="George Byron"		%}

</ul>


<div class="footnotes">
<ol>
	<li class="footnote" id="fn:990">
	    <blockquote>πότερον γῆμαι ἢ μή, ἔφη,<br>
	    	"ὃ ἂν αὐτῶν ποιήσῃς, μεταγνώσῃ."</blockquote>
		<br><br><br>(via Diogenes Laertius)
	</li>

	<li class="footnote" id="fn:991">
		πᾶσα οὖν ἡδονὴ διὰ τὸ φύσιν ἔχειν οἰκείαν ἀγαθὸν, οὐ πᾶσα μέντοι αἱρετή· καθάπερ καὶ ἀλγηδὼν πᾶσα κακόν, οὐ πᾶσα δὲ ἀεὶ φευκτὴ πεφυκυῖα. 
	</li>

    <li class="footnote" id="fn:992">
        <blockquote>
            Bedava sirke baldan tatlıdır.
        </blockquote>
    </li>

    <li class="footnote" id="fn:993">
        <blockquote>
            Pour qu’une chose soit intéressante, il suffit de la regarder longtemps.
        </blockquote>
    </li>

	<li class="footnote" id="fn:994">
		<blockquote>
			瑞而梲之、不可長保  <br>
			... 功遂身退
		</blockquote>
	</li>

	<li class="footnote" id="fn:995">
		<blockquote>
		Si on ne vouloit qu’être heureux, cela seroit bientôt fait; mais on veut être plus heureux que les autres; et cela est presque toujours difficile, parce que nous croyons les autres plus heureux qu’ils ne sont.
		</blockquote>
	</li>

	<li class="footnote" id="fn:996">
		<blockquote>
			海内存知己，天涯若比邻。
		</blockquote>
	</li>

	<li class="footnote" id="fn:997">
		<blockquote>
			天外有天，山外有山。
		</blockquote>
	</li>

	<li class="footnote" id="fn:998">
		<blockquote>
			舌头底下压死人。
		</blockquote>
	</li>

	
</ol>
</div>