<br><ul>

	{%	include functions/quote.html     what="Quidquid latine dictum sit, altum videtur."    %}


	{%	include functions/quote.html     what="We would often blush at our noblest deeds, if the world could see our underlying motive."    who="La Rochefoucauld"    %}


	{%	include functions/quote.html     what="What are you, in love with your problems?"    who="David Byrne"    %}
	

	{%	include functions/quote.html     what="Adventure is just bad planning."  	fn="711"    who="Roald Amundsen"    %}
	

	{%	include functions/quote.html     what="Remember! Most strings are incompressible, most reals uncomputable, most theorems unprovable, most programs undecidable."    who="Gwern"    %}


	{%	include functions/quote.html     what="If everyone were to live for others all the time, life would be like a procession of ants following each other around in a circle."		who="John McCarthy" 		%}


	{%	include functions/quote.html     what="It isn't that the aesthete is too serious about the artistic: he isn't serious enough about what gives rise to it."    who="Clive James"    %}


	{%	include functions/quote.html     what="Man is a noble animal; splendid in ashes and pompous in the grave."    who="Thomas Browne"    %}


	{%	include functions/quote.html     what="leaders are visionaries with a poorly developed sense of fear and no concept of the odds against them"	who="Robert Jarvik; this but unironically."		%}


	{%	include functions/quote.html     what="The louder he talked of his honor, the faster we counted our spoons."		who="RW Emerson"		%}


	{%	include functions/quote.html     what="Expecting someone to retain everything they've ever read is like expecting them to retain everything they've ever eaten."		who="Arthur Schopenhauer"		fn="712"		%}

	
	{%	include functions/quote.html     what="Economics: It is prohibitively hard to change people. It always depends. Things fall apart, but sometimes into place too. People aren't stupid. Most things fail. Sometimes there is no right answer. You are the system."    %}


	{%	include functions/quote.html     what="over time amateurs blow their lead by focusing less and relying on easier, more direct methods. They rely more on informal conversation as analysis method, they prefer personal connections over open competitions in choosing people, and they rely more on a perceived consensus among a smaller group of fellow enthusiasts. As a result, their contributions just don’t appeal as widely or as long."    who="Robin Hanson"    %}


	{%	include functions/quote.html     what="A principal rule for... those who want to describe their own sensations, is not to believe that their doing so indicates they possess a special disposition of nature in this respect. Others can perhaps do it just as well as you can. Only they do not make a business of it, because it seems to them silly to publicize such things."	fn="710"		who="Georg Lichtenberg"    %}


	{%	include functions/quote.html     what="What I cannot create, I do not understand."    who="<a href='http://qph.is.quoracdn.net/main-qimg-87833c78a604ff07a82ff7787574e197?convert_to_webp=true'>Richard Feynman</a>"    %}

</ul>
<br />



<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:710">
		<blockquote>Eine Hauptregel für... solche, die ihre eigenen Empfindungen beschreiben wollen, ist: ja nicht zu glauben, daß, weil sie solches tun, dieses bei ihnen eine besondere Anlage der Natur dazu anzeige. Andere können dieses vielleicht ebenso gut als du. Sie machen nur keine Geschäfte daraus, weil es ihnen einfältig vorkommt, solche Dinge bekanntzumachen.</blockquote>
	</li>

    <li class="footnote" id="fn:711">
		<blockquote>...er eventyr bare en følge av dårlig planleggelse</blockquote>
	</li>

    <li class="footnote" id="fn:712">
		<blockquote>Zu verlangen, daß einer alles, was er je gelesen, behalten hätte, ist wie verlangen, daß er alles, was er je gegessen hat.</blockquote>
	</li>
	

</ol>
</div>
