<br>
<ul>
	<li>Mantra: <i>One</i>, what are they saying? <i>Two</i>, are they telling the truth? <i>Three</i>, does their reasoning follow? <i>Four</i>, what are they missing out? <i>Five, or, zero</i>: why are they writing about this at all? </li>
	<br /><br />

	<li><em>To be right, be vague. To be productively wrong, be precise.</em></li>
	<br /><br />

    <li><i>Efficiency is just constructive laziness.</i><br>
    </li><br><br>


    <li>You don't "put" yourself into your writing; you find yourself there.</li>
	<br /><br />

	<li>
		<em>Everyone believes that </em>tomorrow<em> they'll truly start living.</em><br />
		– after Samuel Johnson
	</li>
	<br /><br />


	<li><i>Trust criticism in proportion to the direct quotation in it.</i></li>
	<br /><br />
	

	<li>Treat fools differently to assholes &#8211; and almost everyone is more fool than asshole.</li>
	<br /><br />

	<li><i>Economics</i>: It is prohibitively hard to change people. It always depends. Things fall apart, but sometimes into place too. People aren't stupid. Most things fail. Sometimes there is no right answer. You are the system.</li>
	<br /><br />

	<li><i></i>I don't love economics; I hate bad economics.</li>
	<br /><br />


	<li>Talk <i>is</i> cheap; that's what's good about it!</li>
	<br /><br />

	<li>What is above us? Causality; Absurdity; the lives of others.</li>
	<br /><br />

	<li><i>The thought is not the thing; the pointer's not the string; the name is not the nominee.</i>
	<br />&#8211; after <a href="http://en.wikipedia.org/wiki/Map%E2%80%93territory_relation">Alfred Korzybski</a></li>
	<br /><br />

	<li><i>In multos libros libertas.</i> (In many books, freedom.)</li>
	<br /><br />


	<li>Aphorisms talk as if they were final: molecular philosophy. Actually they are alchemical.</li>
	<br /><br />
</ul>

