<br>
<ul>

	{%	include functions/quote.html     what="Mantra: <b>One</b>, what are they saying? <b>Two</b>, are they telling the truth? <b>Three</b>, does their reasoning follow? <b>Four</b>, what are they missing out? Five, or, <b>zero</b>: why are they writing about this at all?"    %}


	{%	include functions/quote.html     what="To be right, be vague. To be productively wrong, be precise."    %}


	{%	include functions/quote.html     what="The quantitative excludes almost everything about the human world, using only one of its many dimensions, number. The qualitative is worse, because it includes all of our bullshit."		%}


    <!-- {%	include functions/quote.html     what="Annoying people are opportunities to practice patience; chores and commutes are free exercise; failure is an invitation to humility, and to sympathy with most people; impostor syndrome is a critical talent: it is the ability to foreground what you do you not know, the better to attack it." 		%} -->


    {%	include functions/quote.html     what="Cynicism is a remarkably good substitute for knowledge."    %}


    {%	include functions/quote.html     what="Efficiency is constructive laziness."    %}


    <!-- {%	include functions/quote.html     what="You don't 'put' yourself into your writing; you're found there."    %} -->


	{%	include functions/quote.html     what="Everyone believes that tomorrow they'll truly start living."    who="after Samuel Johnson"    %}
	<br>

	{%	include functions/quote.html     what="Economics: It is prohibitively hard to change people. It always depends. Things fall apart, but sometimes into place too. People aren't stupid. Most things fail. Sometimes there is no right answer. You are the system."    %}

	
	<!-- {%	include functions/quote.html     what="Yes, you are a fake. But most others are faker."		%} -->

	
	{%	include functions/quote.html     what="Treat fools differently to assholes &#8211; and almost everyone is more fool than asshole."    %}


	{%	include functions/quote.html     what="Psychology is no more about humans than astronomy is about telescopes."    %}


	{%	include functions/quote.html     what="Humans are indeed just animals - but not even animals are just animals."	%}


	{%	include functions/quote.html     what="People call their favourite artworks 'perfect', not realising there are far greater artistic virtues than flawlessness."		%}


	<!-- {%	include functions/quote.html     what="Lord, let me care more to be skilled than distinguished."		%} -->


	{%	include functions/quote.html     what="Trust criticism in proportion to the direct quotation in it."    %}


	<!-- {%	include functions/quote.html     what="Folk morality: It ain't what you do, it's the way that you do it. (And don't care bout results.)"		%} -->


	<!-- {%	include functions/quote.html     what="The biggest, or anyway the first questions are: 'Do what? Where? With whom?'"    %} -->


	{%	include functions/quote.html     what="I don't love economics; I hate bad economics."    %}


	{%	include functions/quote.html     what="To live, you have to ignore things. Inductive bias."    %}


	{%	include functions/quote.html     what="Pure logic cannot tell you how the world is. But it can say what it is impossible for the world to be."    %}


	{%	include functions/quote.html     what="Talk is cheap; that's what's good about it!"    %}


	<!-- {%	include functions/quote.html     what="I pine for rigour but always choose slack."		%} -->


	{%	include functions/quote.html     what="The distinctive virtues of computers are their patience, rationality, flow, speed, honesty and obedience. They possess each of these in degrees beyond the human. However, they compensate for these, to the point of cancellation, with a perfect absence of independence, charity, sympathy, and fun."    %}


	{%	include functions/quote.html     what="What is above us? Causality; the absurd; the lives of others."    %}


	<!-- "bad is worse than good is good"    %} -->


	{%	include functions/quote.html     what="Be Epicurus against Plato and Thrasymachus both; George Eliot against Church and nihilist; liberal against fascist and anarchist."		%}


	{%	include functions/quote.html     what="I hate a lot of liberal democratic things: journalism, trial by jury, party politics, direct democracy, credentialism. But unlike revolutionaries, I know how fucked we were without them."	%}


	{%	include functions/quote.html     what="Most writing, most thoughts, are a stale read of reality."	%}


	{%	include functions/quote.html     what="I'm against anything that says you're either for it or against it. Queering the with us/against us binary."    %}


	{%	include functions/quote.html     what="The thought is not the thing; the pointer's not the string; the name is not the nominee."    who="after <a href='http://en.wikipedia.org/wiki/Map%E2%80%93territory_relation'>Alfred Korzybski</a>"    %}


	{%	include functions/quote.html     what="In multos libros libertas. (In many books, freedom.)"    %}


	{%	include functions/quote.html     what="'Publication is binary so inference needs a binary variable: p < 0.05'. But one man's modus ponens..."	%}
	

	<!-- {%	include functions/quote.html     what="A devious child, I was good at accents and pretence, which is what nationalities are."		%} -->


    {%	include functions/quote.html     what="I read to forget the impotence of reason."		%}


	{%	include functions/quote.html     what="You can't expect much of people. You must demand more from people."		%}


	{%	include functions/quote.html     what="Let my gravestone be the stack trace of an <i>IndexOutOfBoundsException</i>."	%}


	{%	include functions/quote.html     what="Aphorisms talk as if they were final: molecular philosophy. Actually they are alchemical."    %}

	{%	include functions/quote.html     what="𝐩𝐨𝐞𝐦: isolated, nonobvious<br>𝐞𝐩𝐢𝐠𝐫𝐚𝐦: brief, isolated, witty<br>𝐩𝐫𝐨𝐯𝐞𝐫𝐛 or 𝐦𝐚𝐱𝐢𝐦: brief, isolated<br>𝐣𝐨𝐤𝐞: isolated, witty, nonobvious, spoiled when explained<br>𝐚𝐩𝐡𝐨𝐫𝐢𝐬𝐦: brief, isolated, witty, philosophical, nonobvious, spoiled when explained<br>𝐭𝐰𝐞𝐞𝐭: brief"		%}

</ul>

