<br>
<ul>

	{%	include functions/quote.html     what="Mantra: One, what are they saying? Two, are they telling the truth? Three, does their reasoning follow? Four, what are they missing out? Five, or, zero: why are they writing about this at all?"    %}


	{%	include functions/quote.html     what="To be right, be vague. To be productively wrong, be precise."    %}


	{%	include functions/quote.html     what="The biggest, or at least the first, questions are: 'Do what? Where? With whom?'"    %}


    {%	include functions/quote.html     what="Efficiency is just constructive laziness."    %}


    {%	include functions/quote.html     what="You don't 'put' yourself into your writing; you find yourself there."    %}

	{%	include functions/quote.html     what="Everyone believes that tomorrow they'll truly start living."    who="after Samuel Johnson"    %}


	{%	include functions/quote.html     what="Trust criticism in proportion to the direct quotation in it."    %}
	

	{%	include functions/quote.html     what="Treat fools differently to assholes &#8211; and almost everyone is more fool than asshole."    %}


	{%	include functions/quote.html     what="Economics: It is prohibitively hard to change people. It always depends. Things fall apart, but sometimes into place too. People aren't stupid. Most things fail. Sometimes there is no right answer. You are the system."    %}


	{%	include functions/quote.html     what="I don't love economics; I hate bad economics."    %}


	{%	include functions/quote.html     what="Pure logic cannot tell you how the world is. But it can say what it is impossible for the world to be."    %}


	{%	include functions/quote.html     what="Talk is cheap; that's what's good about it!"    %}


	{%	include functions/quote.html     what="The distinctive virtues of computers are their patience, rationality, flow, speed, honesty and obedience. They possess each of these in degrees beyond the human. However, they compensate for these, to the point of cancellation, with a perfect absence of independence, charity, sympathy, and fun."    %}


	{%	include functions/quote.html     what="What is above us? Causality; Absurdity; the lives of others."    %}


	{%	include functions/quote.html     what="The thought is not the thing; the pointer's not the string; the name is not the nominee."    who="after <a href='http://en.wikipedia.org/wiki/Map%E2%80%93territory_relation'>Alfred Korzybski</a>"    %}


	{%	include functions/quote.html     what="In multos libros libertas. (In many books, freedom.)"    %}


	{%	include functions/quote.html     what="You can't expect much of people. You must demand more from people."		%}


	{%	include functions/quote.html     what="Let my gravestone be the stack trace of an <i>IndexOutOfBoundsException</i>."	%}


	{%	include functions/quote.html     what="Aphorisms talk as if they were final: molecular philosophy. Actually they are alchemical."    %}


</ul>

