<br>
<ul>

    {%  include functions/quote.html      what="A principal rule for writers, and especially those who want to describe their own sensations, is not to believe that their doing so indicates they possess a special disposition of nature in this respect. Others can perhaps do it just as well as you can. Only they do not make a business of it, because it seems to them silly to publicize such things."   id="fn:29000"   %}

    {%  include functions/quote.html      what="If countries were named after the words you first hear when you go there, England would have to be called 'Damn It'."     %}

    {%  include functions/quote.html      what="We say that someone occupies an official position, whereas it is the official position that occupies him."     %}

    {%  include functions/quote.html      what="Every condition of the soul has its own sign and expression...So you will see how hard it is to seem original without being so."     %}

    {%  include functions/quote.html      what="Nothing makes one old so quickly as the ever-present thought that one is growing older" %}

    {%  include functions/quote.html      what="To err is human also insofar as animals seldom orn ever err, or at least only the cleverest of them do so"  %}

    {%  include functions/quote.html      what="There are people who possess not so much genius as a certain talent for perceiving the desires of the century, or even of the decade, before it has done so itself."     %}

    {%  include functions/quote.html      what="Many things about our bodies would not seem to us so filthy and obscene if we did not have the idea of nobility in our heads."     %}

    {%  include functions/quote.html      what="You can take the first book you lay your hands on and with your eyes closed point to any line and say: A book could be written about this. When you open your eyes, you will seldom find you are deceived."     %}

    {%  include functions/quote.html      what="That man is the noblest creature may also be inferred from the fact that no other creature has yet contested this claim."   %}

    {%  include functions/quote.html      what="The human tendency to regard little things as important has produced very many great things."     %}


</ul>



<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:29000">
    	<blockquote>
    		Eine Hauptregel für Schriftsteller, zumal solche, die ihre eigenen Empfindungen beschreiben wollen, ist: Ja nicht zu glauben, daß, weil sie solches tun, dieses bei ihnen eine besondere Anlage der Natur dazu anzeige. Andere können dieses vielleicht ebenso gut als du. Sie machen nur kein Geschäfte daraus, weil es ihnen einfältig vorkommt solche Dinge bekannt zu machen.
    	</blockquote>
    </li>
</ol>
</div>


