<ul>

	<li>
		<blockquote>Words are deeds. <a href="#fn:2300" id="fnref:2300">2300</a></blockquote>
	</li><br><br>

	<li>
		<blockquote>What makes a subject difficult to understand — if it is significant, important — is not that some special instruction in abstruse things is necessary to understand it. Rather it is the contrast between the understanding of the subject and what most people want to see. Because of this the very things that are most obvious can become the most difficult to understand. What has to be overcome is not difficulty of the intellect but of the will...

		A man will be imprisoned in a room with a door that’s unlocked and opens inwards; as long as it does not occur to him to pull rather than push it. <a href="#fn:2301" id="fnref:2301">2301</a>
		</blockquote>
	</li><br><br>
	

	<li>
		<blockquote>My difficulty is only an — enormous — difficulty of expression. <a href="#fn:2302" id="fnref:2302">2302</a></blockquote>
	</li><br><br>


	<li>
		<blockquote>Logic takes care of itself; all we have to do is to look and see how it does it.</blockquote>
	</li><br><br>

    
	<li>
		<blockquote>I wanted to write that my work consists of two parts: of the one which is here, and of everything which I have not written. And precisely this second part is the important one.
		</blockquote>
		- omitted from the <i>Tractatus</i> foreword
	</li><br><br>


	<li>
		<blockquote>Our only task is to be just. That is, we must only point out and resolve the injustices of philosophy, and not posit new parties – and creeds...

		All that philosophy can do is destroy idols. And that means not making any new ones – say, out of the “absence of idols”.
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>What is sayable at all can be said clearly; and whereof one cannot speak, thereof one must remain silent... The aim of the book is to set a limit to thought, or rather... to the expression of thoughts: for in order to be able to set a limit to thought, we should have to find both sides of the limit thinkable (i.e. we should have to be able to think what cannot be thought). It will thus only be in language that the limit can be set, and what lies on the other side of the limit will simply be nonsense. <a href="#fn:2303" id="fnref:2303">2303</a>
		</blockquote>
	</li><br><br>
	

	<li>
		<blockquote>Don’t think, but look! <a href="#fn:2304" id="fnref:2304">2304</a></blockquote>
	</li><br><br>

	<li>
		<blockquote>Mathematical propositions express no thoughts. In life it is never a mathematical proposition which we need, but we use mathematical propositions only in order to infer from propositions which do not belong to mathematics to others which, equally, do not belong to mathematics.
		</blockquote>
	</li><br><br>
	
	<li>
		<blockquote>We could present spatially an atomic fact which contradicted the laws of physics, but not one which contradicted the laws of geometry. <a href="#fn:2306" id="fnref:2306">2306</a>
		</blockquote>
	</li><br><br>

	
	<li>
		<blockquote>[What is your aim in philosophy?] To shew the fly the way out of the fly-bottle.</blockquote>
	</li><br><br>
	
	<li>
		<blockquote>What kind of investigation are we carrying out? Am I investigating the probability of cases that I give as examples, or am I investigating their actuality? No, I’m just citing what is possible and am therefore giving grammatical examples. 
		</blockquote>
	</li><br><br>
	
	<li>
		<blockquote>Is scientific progress useful for philosophy? Certainly. The realities that are discovered lighten the philosopher’s task, imagining possibilities.</blockquote>
	</li><br><br>
		
	<li>
		<blockquote>I think now that the right thing to do would be to begin my book with remarks about metaphysics as a kind of magic. But in doing this I must neither speak in defence of magic nor ridicule it. In this context, in fact, excluding magic has the character of magic.
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>
			The aim of [my] philosophy is to erect a wall at the point where language stops anyway. 
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>The symbolism of Christianity is wonderful beyond words, but when people try to make a philosophical system out of it I find it disgusting.
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>There are indeed unspeakable things. This <i>shows</i> itself, that's the mystical thing. <a href="#fn:2305" id="fnref:2305">2305</a>
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>The idea that in order to get clear about the meaning of a general term one had to find the common element in all its applications has shackled philosophical investigation; for it has not only led to no result, but also made the philosopher dismiss as irrelevant the concrete cases, which alone could have helped him understand the usage of the general term.<br><br>

		For remember that in general we don't use language according to strict rules — it hasn't been taught us by means of strict rules, either...<br><br>    

    	What should we gain by a definition, as it can only lead us to other undefined terms?
		</blockquote>
	</li><br><br>

	<li>
		<blockquote> The fact that I use the word "hand" and all the other words in my sentence without a second thought, indeed that I should stand before the abyss if I wanted so much as to try doubting their meanings — shows that absence of doubt belongs to the essence of the language-game, that the question "How do I know..." drags out the language-game, or else does away with it.
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>I believe it might interest a philosopher, one who can think himself, to read my notes. For even if I have hit the mark only rarely, he would recognize what targets I had been ceaselessly aiming at.
		</blockquote>
	</li><br><br>

	<li>
		<blockquote>I am sitting with a philosopher in the garden; he says again and again "I know that that's a tree", pointing to a tree that is near us. Someone else arrives and hears this, and I tell them: "This fellow isn't insane. We are only doing philosophy."</blockquote>
	</li><br><br>

	<li>
		<blockquote>So in the end when one is doing philosophy one gets to the point where one would like just to emit an inarticulate sound.</blockquote>
	</li><br><br>
</ul>


	
<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:2300">
		<blockquote>Worte sind Taten.
		</blockquote>
	</li><br><br>

	<li class="footnote" id="fn:2301">
		<blockquote>Nicht eine Schwierigkeit des Verstandes, sondern des Willens ist zu überwinden.
		</blockquote>
	</li><br><br>

	<li class="footnote" id="fn:2302">
		<blockquote>Meine Schwierigkeit ist nur eine - enorme - Schwierigkeit des Ausdrucks
		</blockquote>
	</li><br><br>

	<li class="footnote" id="fn:2303">
		<blockquote>Was sich überhaupt sagen lässt, lässt sich klar sagen; und wovon man nicht reden kann, darüber muss man schweigen... Die Grenze wird also nur in der Sprache gezogen werden koennen, und was jenseits der Grenze liegt, wird einfach Unsinn sein.
		</blockquote>
	</li><br><br>

	<li class="footnote" id="fn:2304">
		<blockquote>...denk nicht, sondern schau!
		</blockquote>
	</li><br><br>

	<li class="footnote" id="fn:2305">
		<blockquote>Es gibt allerdings Unaussprechliches. Dies zeigt sich, es ist das Mystische.
		</blockquote>
	</li><br><br>

	<li class="footnote" id="fn:2306">
		<blockquote>Wohl können wir einen Sachverhalt räumlich darstellen, welcher den Gesetzen der Physik, aber keinen, der den Gesetzen der Geometrie zuwiderliefe.
		</blockquote>
	</li><br><br>
	
</ol>
</div>