<ul>
	<li><blockquote>If, like the truth, falsehood had only one face, we should know better where we are, for we should then take the opposite of what a liar said to be the truth. But the opposite of the truth has a hundred thousand shapes and a limitless field. <a href="#fn:101" id="fnref:101">101</a>
	</blockquote>
	– Montaigne</li>
	<br /><br />


    <li><blockquote>Trusting in the goodness of others is an important sign of one's own goodness. <a href="#fn:115" id="fnref:115"></a></blockquote></li>

    
    <li><blockquote>
    	Chacun est bien ou mal selon qu'il se trouve ainsi. Est heureux non pas celui dont on croit qu'il l'est, mais celui qui croit l'être. Et en cela seul la croyance se donne réalité et vérité.
    </blockquote></li>
</ul>



<div class="footnotes">
<ol>
    <li class="footnote" id="fn:115">
    	<blockquote>La confiance dans la bonté d'autrui est un signe important de sa bonté propre. </blockquote>
    </li>
</ol>
</div>