<ul>
	{%	include functions/quote.html 
		what="If, like the truth, falsehood had only one face, we should know better where we are, for we should then take the opposite of what a liar said to be the truth. But the opposite of the truth has a hundred thousand shapes and a limitless field." 
        fn="101"
	%}


    {%	include functions/quote.html 
		what="Trusting in the goodness of others is an important sign of one's own goodness." 
        fn="115"
    %}

    
    {%	include functions/quote.html 
		what="Chacun est bien ou mal selon qu'il se trouve ainsi. Est heureux non pas celui dont on croit qu'il l'est, mais celui qui croit l'être. Et en cela seul la croyance se donne réalité et vérité."
    %}
</ul>



<div class="footnotes">
<ol>
    <li class="footnote" id="fn:115">
    	<blockquote>La confiance dans la bonté d'autrui est un signe important de sa bonté propre. </blockquote>
    </li>
</ol>
</div>