<ul>
	<li><i>You have to try and do some good. It's the only team worth being on.</i><br />&#8211; attd. Vonnegut</li>
	<br /><br />


	<li><i>Somebody has to do something, and it's just incredibly pathetic that it has to be us.</i><br />
	&#8211; Jerry Garcia</li>
	<br /><br />


	<li><i>If only there were evil people somewhere, insidiously committing evil deeds, and it were necessary only to separate
	them from the rest of us and destroy them. But the line dividing good and evil cuts through the heart of every human
	being. And who is willing to destroy a piece of his own heart?
	</i><br />&#8211; Alexander Solzhenitsyn</li>
	<br /><br />


	<li><i>Tip: It's illegal and immoral to slay your enemies, but if you eat nutritious food and outlive them, you can still dance on their graves. There's nothing illegal or immoral about dancing.</i><br />&#8211; Scott Adams</li>
	<br /><br />

	<li><i>Conscience is the inner voice which warns us that someone may be looking.</i><br />- HL Mencken</li>
	<br /><br />

	<li><i>Concern for man and his fate must always form the chief interest of all technical endeavors. Never forget this in the midst of your diagrams and equations.</i><br>
	&#8211; <a href="http://www.bartleby.com/73/1661.html">Albert Einstein</a></li>
	<br /><br />


	<li><em>One half of the world cannot understand the pleasures of the other.</em><br />&#8211; Jane Austen</li>
	<br /><br />

	<li><i>Self-pity lasted seconds in the open; then the bird of prey fell on it... dispatched by his conscience, the angry voice of all the people in the world worse off than he was...</i><br />
	&#8211; Iain Banks</li>
	<br /><br />

</ul>
