<ul>
	<li><i>You have to try and do some good. It's the only team worth being on.</i><br />&#8211; attd. Vonnegut</li>
	<br /><br />


	<li><i>Somebody has to do something, and it's just incredibly pathetic that it has to be us.</i><br />
	&#8211; Jerry Garcia</li>
	<br /><br />


	<li><i>If only there were evil people somewhere, insidiously committing evil deeds, and it were necessary only to separate
	them from the rest of us and destroy them. But the line dividing good and evil cuts through the heart of every human
	being. And who is willing to destroy a piece of his own heart?
	</i><br />&#8211; Alexander Solzhenitsyn</li>
	<br /><br />


	<li><i>Tip: It's illegal and immoral to slay your enemies, but if you eat nutritious food and outlive them, you can still dance on their graves. There's nothing illegal or immoral about dancing.</i><br />&#8211; Scott Adams</li>
	<br /><br />

	<li><i>Conscience is the inner voice which warns us that someone may be looking.</i><br />- HL Mencken</li>
	<br /><br />

	<li><i>Concern for man and his fate must always form the chief interest of all technical endeavors. Never forget this in the midst of your diagrams and equations.</i><br>
	&#8211; <a href="http://www.bartleby.com/73/1661.html">Albert Einstein</a></li>
	<br /><br />


	<li><em>One half of the world cannot understand the pleasures of the other.</em><br />&#8211; Jane Austen</li>
	<br /><br />

	<li><i>Self-pity lasted seconds in the open; then the bird of prey fell on it... dispatched by his conscience, the angry voice of all the people in the world worse off than he was...</i><br />
	&#8211; Iain Banks</li>
	<br /><br />

	
	<li>[He] <i>encourages newer staff to think of residents they&#8217;d like to bludgeon to death as valuable teachers of patience, tolerance, self-discipline, restraint/</i><br>
	&#8211;  a bucolic AA character of David Foster Wallace</li>
	<br /><br />

	<li><i>De todos ha de haber en el mundo</i> (It takes all kinds to make a world.)<br>
	&#8211; Miguel de Cervantes </li>
	<br /><br />

	<li><i>It is the good fortune of many to live distant from the scene of present sorrow; the evil is not sufficiently brought to their doors to make them feel the precariousness with which all </i>[property]<i> is possessed.</i>
	<br />&#8211; Thomas Paine	</li>
	<br /><br />

	<li><em>A note don't care who plays it</em>. (<em>Nil ad hominem.</em>)<br />&#8211; Clark Terry</li>
	<br /><br />

	<li><i>as long as you have rigorously analysed the purpose of saying something, there is nothing that cannot be said.</i><br />
	&#8211; <a href="http://www.theguardian.com/uk/2001/aug/05/news.film">after</a> Chris Morris, because</li>
	<br /><br />

	<li><i>We must laugh at our anger and still be angry.</i><br />&#8211; Carl Hancock Rux</li>
	<br /><br />

	<li><em>Castigat ridendo mores.</em> ("Laughter corrects customs.")<br />
	&#8211; Jean&#8211;Baptiste de Santeul, but</li>
	<br><br>


	<li><i>Evil comes from&nbsp;excess of&nbsp;virtue.</i><br />&#8211; after Mary Midgley</li>
	<br /><br />

	<li><i>Vive Dios que lo intenté.</i> (I tried to live for God.)
	&#8211; Hernán Cortés de Monroy</li>

</ul>
