
<br><ul><br>

	{%	include functions/quote.html     what="Somebody has to do something, and it's just incredibly pathetic that it has to be us."    who="Jerry Garcia"    %}
	

	{%	include functions/quote.html     what="<a href=\"https://www.schneier.com/crypto-gram/archives/2002/0415.html\">Schneier</a>'s mantra for an intervention I*:<br><br>		<ol>		<li><blockquote>What is I* trying to change?</blockquote></li> 		<li><blockquote>How much will doing I* help (= B)?</blockquote></li> 		<li><blockquote>What new problems will I* induce (= P)?</blockquote></li> 		<li><blockquote>What does I cost (= C)?</blockquote></li>		</ol>		If (C + P) > B, don't intervene."    %}


	{%	include functions/quote.html     what="MacAskill's rubric for an altruist act A:<br><br><ol>			<li><blockquote>How many people does A affect, and by how much? (Magnitude)</blockquote></li>			<li><blockquote>Is A the best thing to do? (Relative magnitude / opportunity cost)</blockquote></li>			<li><blockquote>What's the difference my doing A makes? (Effect minus effect in the counterfactual)</blockquote></li>			<li><blockquote>What's the difference one more A makes, on the margin? (Marginal benefit)</blockquote></li>			<li><blockquote>How sure is A to help? What harms could A cause? (Risk)</blockquote></li>	</ol>"    %}


	{%	include functions/quote.html     what="In a sense people are our proper occupation. Our job is to put up with them and do them good." 		fn="300"		who="Marcus Aurelius"    %}


	{%	include functions/quote.html     what="Be nice, be provocable, be forgiving, and be clear."    who="<a href=\"https://en.wikipedia.org/wiki/Tit_for_tat#In_game_theory\">Robert Axelrod</a>"    %}


	{%	include functions/quote.html     what="'Man is weak - he must receive a task which accords to his strength,' people say. This amounts to: 'My hands are weak; I cannot draw a straight line, and therefore, in order to make it easier for myself, though I wish to draw a straight line, I will take a curved or a broken line as my guide.' The weaker my hand is, the more perfect must my guide be."     fn="301"     who="Lev Tolstoy"    %}
	

	{%	include functions/quote.html     what="For evil to triumph, all that is required is for good men to respond rationally to incentives."    who="<a href=\"https://twitter.com/garettjones/status/561050932990210048\">Misha Gurevich</a>"    %}
	


	{%	include functions/quote.html     what="If only there were evil people somewhere, insidiously committing evil deeds, and it were necessary only to separate them from the rest of us and destroy them. But the line dividing good and evil cuts through the heart of every human being. And who is willing to destroy a piece of his own heart?"    fn="302"    who="Alexander Solzhenitsyn"    %}
	

	{%	include functions/quote.html     what="For the sake of one word a man is judged wise or foolish. Take care in choosing your words."		fn="307"	who="Confucius"		%}



	{%	include functions/quote.html     what="Presences are profitable. But absences are what is useful." 		who="Laozi"		fn="309"	%}

	
	{%	include functions/quote.html     what="Justice does not exist in itself; instead, it is always a compact to not harm or be harmed, which is agreed upon by those who gather together at some time and place."	who="Epicurus"		fn="310"		%}
	

	{%	include functions/quote.html     what="Bad is worse than good is good."    fn="303"    who="<a href=\"http://en.wikipedia.org/wiki/Livy\">Titus Livius</a>"    %}
	

	{%	include functions/quote.html     what="Nothing that grieves us can be called little."    who="Mark Twain"    %}
	

	{%	include functions/quote.html     what="Economists are often accused of believing that everything - health, happiness, life itself - can be measured in money. What we actually believe is even odder.  We believe that everything can be measured in anything."    who="David Friedman"    %}
	

	{%	include functions/quote.html     what="Never attribute to malice that which is adequately explained by stupidity."    who="Heinlein, etc"    %}
	

	{%	include functions/quote.html     what="We can make a ladder out of our vices by trampling them underfoot."		who="attrbd Augustine of Hippo<br>in Sermo de Ascensione Domini"		%}


	{%	include functions/quote.html     what="Be kind. Everyone you meet is fighting a hard battle."    who="attbd. Plato but <a href=\"http://quoteinvestigator.com/2010/06/29/be–kind/\">really</a>&nbsp;'Rev John Watson'"    %}
	

	{%	include functions/quote.html     what="Solas nobilitas virtus. (Virtue is the only nobility.)"    who="various"    %}
	

	{%	include functions/quote.html     what="Down with categorical imperatives!"    %}

	{%	include functions/quote.html     what="All punishment is mischief: all punishment in itself is evil." 	who="Jeremy Bentham" 	%}
	

	{%	include functions/quote.html     what="Egotist (n.): A person of low taste, more interested in himself than in me."    who="Ambrose Bierce"    %}


	{%	include functions/quote.html     what="Freedom in an unfree world is merely licence to exploit. (Total liberty for the wolves is death for the lambs.)"    who="Germaine Greer (Isaiah Berlin)"    %}
	
	{%	include functions/quote.html     what="An oversharpened blade will soon blunt... Withdraw when the work is done."		who="Laozi"	fn="308"		%}

	{%	include functions/quote.html     what="It is not enough to succeed. Others must fail."    who="Gore Vidal"    %}
	

	{%	include functions/quote.html     what="Do I not destroy my enemies when I make them my friends?"    who="attbd. Lincoln"    %}
	

	{%	include functions/quote.html     what="If we could read the secret history of our enemies, we should find in each man's life sorrow and suffering enough to disarm all hostility."    who="Henry Longfellow"    %}
	

	{%	include functions/quote.html     what="Enliven morality with wit, but temper wit with morality."    who="Joseph Addison"    %}
	

	{%	include functions/quote.html     what="The wiser course might often be to do nothing, but it will seldom be without moral cost."    who="Clive James"    %}
	

	{%	include functions/quote.html     what="I am as desirous of being a good neighbour as I am of being a bad subject."    who="Henry David Thoreau"    %}
	

	{%	include functions/quote.html     what="At least I'm fucking trying."    who="Ian MacKaye"    %}


	{%	include functions/quote.html     what="Tip: It's illegal and immoral to slay your enemies, but if you eat nutritious food and outlive them, you can still dance on their graves. There's nothing illegal or immoral about dancing."    who="Scott Adams"    %}
	

	{%	include functions/quote.html     what="Conscience is the inner voice which warns us that someone may be looking."    who="HL Mencken"    %}	


	{%	include functions/quote.html     what="Concern for people and their fate must always form the chief interest of all technical endeavors. Never forget this in the midst of your diagrams and equations."    fn="304"    who="<a href=\"http://www.bartleby.com/73/1661.html\">Albert Einstein</a>"    %}
	

	{%	include functions/quote.html     what="One half of the world cannot understand the pleasures of the other."    who="Jane Austen"    %}
	

	{%	include functions/quote.html     what="Self-pity lasted seconds in the open; then the bird of prey fell on it... dispatched by his conscience, the angry voice of all the people in the world worse off than he was..."    who="Iain Banks"    %}
	
	
	{%	include functions/quote.html     what="[He] encourages newer staff to think of people they&#8217;d like to bludgeon to death as valuable teachers of patience, tolerance, self-discipline, restraint/"    who="a character of David Foster Wallace's"    %}
	

	{%	include functions/quote.html     what="It is the good fortune of many to live distant from the scene of present sorrow; the evil is not sufficiently brought to their doors to make them feel the precariousness with which all [property] is possessed."    who="Thomas Paine"    %}
	

	{%	include functions/quote.html     what="A note don't care who plays it. (Nil ad hominem.)"     who="Clark Terry"    %}
	

	{%	include functions/quote.html     what="as long as you have rigorously analysed the purpose of saying something, there is nothing that cannot be said."    who="<a href=\"http://www.theguardian.com/uk/2001/aug/05/news.film\">after</a> Chris Morris, because"    %}
	

	{%	include functions/quote.html     what="Laughter corrects customs. "    fn="306"    who="Jean&#8211;Baptiste de Santeul, but"    %}


	{%	include functions/quote.html     what="We must laugh at our anger and still be angry."	    who="Carl Hancock Rux"    %}
	

	{%	include functions/quote.html     what="Evil comes from&nbsp;excess of&nbsp;virtue."    who="after Mary Midgley, thus"    %}
	

	{%	include functions/quote.html     what="I tried to live for God."    fn="305"    who="Hernán Cortés de Monroy"    %}

</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:300">
		<blockquote>Καθ ἕτερον μὲν λόγον ἡμῖν ἐστιν οἰκειότατον ἄνθρωπος, καθ ὅσον εὖ ποιητέον αὐτοὺς καὶ ἀνεκτέον· καθ ὅσον δὲ ἐνίστανταί τινες εἰς τὰ οἰκεῖα ἔργα...</blockquote>
	</li>

	<li class="footnote" id="fn:301">
		<blockquote>«Человек слаб, надо дать ему задачу по силам», говорят люди. Это все равно, что сказать: «руки мои слабы, и я не могу провести линию, которая была бы прямая, то есть кратчайшая между двумя точками, и потому, чтоб облегчить себя, я, желая проводить прямую, возьму за образец себе кривую или ломаную». Чем слабее моя рука, тем нужнее мне совершенный образец."
		</blockquote>
	</li>
	
	<li class="footnote" id="fn:302">
		<blockquote>«Если б это было так просто! что где-то есть черные люди, злокозненно творящие черные дела, и надо только отличить их от остальных и уничтожить. Но линия, разделяющая добро и зло, пересекает сердце каждого человека. И кто уничтожит кусок своего сердца? ...»</blockquote>"
	</li>
	
	<li class="footnote" id="fn:303">
		<blockquote>Segnius homines bona quam mala sentiunt.</blockquote><br><br>
		very loose translation
	</li>
	
	<li class="footnote" id="fn:304">
		<blockquote>Die Sorge um den Menschen selbst und sein Schicksal muß immer das wichtigste Interesse aller technischen Unternehmungen sein. Das sollte man mitten unter seinen Diagrammen und Gleichungen nie vergessen.</blockquote>
	</li>
	
	<li class="footnote" id="fn:305">
		<blockquote>Vive Dios que lo intenté.</blockquote>
	</li>
	
	<li class="footnote" id="fn:306">
		<blockquote>Castigat ridendo mores.</blockquote>
	</li>

	<li class="footnote" id="fn:307">
		<blockquote>
			君子一言以爲知、<br>
			一言以爲不知。  <br>
			言不可不愼也
		</blockquote>
	</li>

	<li class="footnote" id="fn:308">
		<blockquote>
			瑞而梲之、不可長保  <br>
			... 功遂身退
		</blockquote>
	</li>

	<li class="footnote" id="fn:309">
		<blockquote>
			故有之以爲利、
			無之以爲用
		</blockquote>
	</li>

	<li class="footnote" id="fn:310">
		<blockquote>οὐκ ἦν τι καθʼ ἑαυτὸ δικαιοσύνη, ἀλλʼ ἐν ταῖς μετʼ ἀλλήλων συστροφαῖς καθʼ ὁπηλίκους δήποτε ἀεὶ τόπους συνθήκη τις ὑπὲρ τοῦ μὴ βλάπτειν ἢ βλάπτεσθαι.</blockquote>
	</li>

</ol>
</div>
