<br><ul>

	{%	include functions/quote.html     what="[a] unified theory is just a set of rules and equations. What is it that breathes fire into the equations and makes a universe for them to describe? The usual approach of science of constructing a mathematical model cannot answer the questions of why there should be a universe for the model to describe. Why does the universe go to all the bother of existing?"		who="Stephen Hawking"		%}


	{%	include functions/quote.html     what="our most successful theories in physics are those that explicitly leave room for the unknown, while confining this room sufficiently to make the theory empirically disprovable. It does not matter whether this room is created by allowing for arbitrary forces as Newtonian dynamics does, or by allowing for arbitrary equations of state for matter, as General Relativity does, or for arbitrary motions of charges and dipoles, as Maxwell's electrodynamics does. To exclude the unknown wholly as a 'unified field theory' or a 'world equation' purports to do is pointless and of no scientific significance." 	who="Hermann Bondi"		%}



	{%	include functions/quote.html     what="Shuffling is the only thing which Nature cannot undo."    who="Arthur Eddington"    %}


</ul>

