<br><ul>

	{%	include functions/quote.html     what="From these principles, I now demonstrate the constitution of the System of the World." 		who="Isaac Newton"		fn="2101"	%}


	{%	include functions/quote.html     what="Surely with as good reason as had Archimedes to have the cylinder, cone and sphere engraved on his tombstone might our distinguished countrymen [Arthur Cayley and George Salmon] leave testamentary directions for the cubic eicosaheptagram to be engraved on theirs. Spirit of the Universe! wither are we drifting, and when, where, and how is all this to end?"		who="James Joseph Sylvester"		%}


	{%	include functions/quote.html     what="[a] unified theory is just a set of rules and equations. What is it that breathes fire into the equations and makes a universe for them to describe? The usual approach of science of constructing a mathematical model cannot answer the questions of why there should be a universe for the model to describe. Why does the universe go to all the bother of existing?"		who="Stephen Hawking"		%}


	{%	include functions/quote.html     what="our most successful theories in physics are those that explicitly leave room for the unknown, while confining this room sufficiently to make the theory empirically disprovable. It does not matter whether this room is created by allowing for arbitrary forces as Newtonian dynamics does, or by allowing for arbitrary equations of state for matter, as General Relativity does, or for arbitrary motions of charges and dipoles, as Maxwell's electrodynamics does. To exclude the unknown wholly as a 'unified field theory' or a 'world equation' purports to do is pointless and of no scientific significance." 	who="Hermann Bondi"		%}


	{%	include functions/quote.html     what="It can be shown that a mathematical web of some kind can be woven about any universe containing several objects. The fact that our universe lends itself to mathematical treatment is not a fact of any great philosophical significance."		who="Bertrand Russell"		%}


	{%	include functions/quote.html     what="The sciences do not try to explain, they hardly even try to interpret, they mainly make models. By a model is meant a mathematical construct which, with the addition of certain verbal interpretations, describes observed phenomena. The justification of such a mathematical construct is solely and precisely that it is expected to work."		who="John von Neumann"		%}


	{%	include functions/quote.html     what="Shuffling is the only thing which Nature cannot undo."    who="Arthur Eddington"    %}


	{%	include functions/quote.html     what="Just as the introduction of the irrational numbers ... is a convenient myth simplifying the laws of arithmetic ... so physical objects are postulated entities which round out and simplify our account of the flux of existence... The conceptional scheme of physical objects is [likewise] a convenient myth, simpler than the literal truth and yet containing that literal truth as a scattered part."		who="Willard Van Quine"		%}

</ul>


<div class="footnotes">
<ol>
 
    <li class="footnote" id="fn:2101">
		Superest ut ex iisdem principiis doceamus constitutionem Systematis Mundani.
	</li>
</ol>
</div>