<br><ul>

	{%	include functions/quote.html      what="It takes so little to make a man full, mind or body: a small story, a plate of food. I say to you it is better to be empty than full."     %}

	{%	include functions/quote.html      what="I stand on the subway platform, the one I stood in wait day after day, two decades ago, and wait for a single Memory to find me. Instead, Memory’s inauthentic twin, Nostalgia, has me smiling at that that never was. I must be very careful to mind the gap."     %}

	{%	include functions/quote.html      what="'The Universe is blind to our sorrows and indifferent to our pains. Have a nice day!' - Neil deGrasse Tyson<br><br>Neil, there is a logic flaw in your little aphorism that seems quite telling. Since you and I are part of the Universe, then we should also be indifferent and uncaring. Perhaps you forgot, Neil, that we are not superior to the Universe but merely a fraction of it. Nice day, indeed. "	%}

	{%	include functions/quote.html      what="At least the foxes had holes, and the birds of the air had nests."	%}

	{%	include functions/quote.html      what="

I don't want fancy things. I don't want fancy schmancy things. I don't want fancy schmancy wancy things. I don't want fancy schmancy take a trip-to-Francey things. All I want is to waste your time and mine."	%}

	{%	include functions/quote.html      what="I always told everybody the perfect joke would be where the setup and punch line were identical."	%}

