
Our nature consists in movement; absolute rest is death.
<i>Pensees</i> (1670)

Man is full of desires: he loves only those who can satisfy them all. "This man is a good mathematician," someone will say. But I have no concern for mathematics; he would take me for a proposition. "That one is a good soldier." He would take me for a besieged town. I need, that is to say, a decent man who can accommodate himself to all my desires in a general sort of way.


Those who write against vanity want the glory of having written well against vanity, and their readers the glory of reading well, and I who write this have the same desire, as perhaps those who read this have also.


When we encounter a natural style we are always surprised and delighted, for we thought to see an author and found a man.



Those who are accustomed to judge by feeling do not understand the process of reasoning, because they want to comprehend at a glance and are not used to seeking for first principles. Those, on the other hand, who are accustomed to reason from first principles do not understand matters of feeling at all, because they look for first principles and are unable to comprehend at a glance.




The sole cause of man's unhappiness is that he does not know how to stay quietly in his room.
<i>Pensees</i> (1670)


Through space the universe grasps me and swallows me up like a speck; through thought I grasp it. 


Let no one say that I have said nothing new... the arrangement of the subject is new. When we play tennis, we both play with the same ball, but one of us places it better. 
<i>Pensees</i> (1670)


What is man in nature? Nothing in relation to the infinite, all in relation to nothing, a mean between nothing and everything.
<i>Pensees</i> (1670)


The more intelligent one is, the more men of originality one finds. Ordinary people find no difference between men.

