<ul>

	{%	include functions/quote.html 
		what="A picture is worth 10,000 words - but only those used to describe the picture. Hardly any sets of 10,000 words can be adequately described with pictures"
	%}

	{%	include functions/quote.html 
		what="Every program is a part of some other program and rarely fits."
	%}

	{%	include functions/quote.html 
		what="Fools ignore complexity. Pragmatists suffer it. Some can avoid it. Geniuses remove it."
	%}

	{%	include functions/quote.html 
		what="In programming, as in everything else, to be in error is to be reborn."
	%}

	{%	include functions/quote.html 
		what="Giving up on assembly language was the apple in our Garden of Eden: Languages whose use squanders machine cycles are sinful. The LISP machine now permits LISP programmers to abandon bra and fig-leaf."
	%}

	{%	include functions/quote.html 
		what="The best book on programming for the layman is 'Alice in Wonderland'; but that's because it's the best book on anything for the layman."
	%}

	{%	include functions/quote.html 
		what="If you have a procedure with ten parameters, you probably missed some."
	%}

	{%	include functions/quote.html 
		what="Every program has (at least) two purposes: the one for which it was written, and another for which it wasn't."
	%}

	{%	include functions/quote.html 
		what="Wherever there is modularity there is the potential for misunderstanding: Hiding information implies a need to check communication."
	%}

	{%	include functions/quote.html 
		what="To understand a program you must become both the machine and the program"
	%}

	{%	include functions/quote.html 
		what="One can only display complex information in the mind. Like seeing, movement or flow or alteration of view is more important than the static picture, no matter how lovely."
	%}


	{%	include functions/quote.html 
		what="Once you understand how to write a program get someone else to write it."
	%}

	{%	include functions/quote.html 
		what="Some cathedrals took a century to complete. Can you imagine the grandeur and scope of a program that would take as long?"
	%}

	{%	include functions/quote.html 
		what="The goal of computation is the emulation of our synthetic abilities, not the understanding of our analytic ones."
	%}

	{%	include functions/quote.html 
		what="Because of its vitality, the computing field is always in desperate need of new cliches: Banality soothes our nerves."
	%}

	{%	include functions/quote.html 
		what="In computing, turning the obvious into the useful is a living definition of the word 'frustration'."
	%}
	
	{%	include functions/quote.html 
		what="Computation has made the tree flower."
	%}
	
	{%	include functions/quote.html 
		what="One can't proceed from the informal to the formal by formal means."
	%}
	
	{%	include functions/quote.html 
		what="Within a computer, natural language is unnatural."
	%}

</ul>
