<ul>

	<li><i>Minha alma é uma orquestra oculta; não sei que instrumentos tange e range, cordas e harpas, tímbales e tambores, dentro de mim. Só me conheço como sinfonia.</i>
	<br>(My soul is a hidden orchestra; I know not what instruments, what fiddlestrings and harps, drums and tamboura I sound and clash inside myself. All I hear is the symphony.)</li>



	<li><i> Já que não podemos extrair beleza da vida, busquemos ao menos extrair beleza de não poder extrair beleza da vida.</i>
 
 	<br>(Since we can't extract beauty from life, let's at least try to extract beauty from not being able to extract beauty from life.)</li>


	<li><i>I often wonder what kind of person I would be if I had been protected from the cold wind of fate by the screen of wealth... to reach the tawdry heights of being a good assistant book-keeper in a job that is about as demanding as an afternoon nap and offers a salary that gives me just enough to live on.<br><br>

	I know that, had that non-existent past existed, I would not now be capable of writing these pages, which, though few, I would have undoubtedly have only day-dreamed about given more comfortable circumstances. For banality is a form of intelligence, and reality, especially if it is brutish and rough, forms a natural complement to the soul. Much of what I feel and think I owe to my work as a book-keeper since the former exists as a negation of and flight from the latter.</i></li>



	<li><i>Definiu César toda a figura da ambição quando disse aquelas palavras: «Antes o primeiro na aldeia do que o segundo em Roma!»</i><br>
	(Caesar gave the ultimate definition of ambition when he said: &#8216;Better to be the chief of a village than a subaltern in Rome!)</li>



	<li><i>Invejo – mas não sei se invejo – aqueles de quem se pode escrever uma biografia, ou que podem escrever a própria. Nestas impressões sem nexo, nem desejo de nexo, narro indiferentemente a minha autobiografia sem fatos, a minha história sem vida. São as minhas Confissões, e, se nelas nada digo, é que nada tenho que dizer.</i>

	<br>(In these random impressions, with no desire to be other than random, I indifferently narrate my factless autobiography, my lifeless history. These are my confessions, and if in them I say nothing, it's because I have nothing to say.)</li>


	<li><i>And at this table in my absurd room, I, a pathetic and anonymous office clerk, write words as if they were the soul's salvation, and I gild myself with the impossible sunset of high and vast hills in the distance, with the statue I received in exchange for life's pleasures, and with the ring of renunciation on my evangelical finger, the stagnant jewel of my ecstatic disdain.</i></li>


	<li><i>Happy the creators of pessimistic systems! Besides taking refuge in the fact of having made something, they can exult in their explanation of universal suffering, and include themselves in it.<br><br>

	I don't complain about the world. I don't protest in the name of the universe. I'm not a pessimist. I suffer and complain, but I don't know if suffering is the norm, nor do I know if it's human to suffer. Why should I care to know? I'm not a pessimist. I'm sad.</i></li>




	<li><i>Civilisation consists in giving something a name that doesn't belong to it and then dreaming over the result. And the false name joined to the true dream does create a new reality. The object does change into something else, because we make it change. We manufacture realities.</i></li>



	<li><i>I belong to a generation that inherited disbelief in the Christian faith and created in itself a disbelief in all other faiths. Our fathers still had the believing impulse, which they transferred from Christianity to other forms of illusion. Some were champions of social equality, others were wholly enamoured of beauty, still others had faith in science and its achievements, and there were some who became even more Christian, resorting to various Easts and Wests in search of new religious forms to entertain their otherwise hollow consciousness of merely living.</i></li>

	<li><i>Every gesture, however simple, violates an inner secret. Every gesture is a revolutionary act; an exile, perhaps, from the true ... of our intentions. Action is a disease of thought, a cancer of imagination. Action is self-exile. Every action is incomplete and flawed.</i></li>

	<li><i>To attain the satisfaction of the mystic state without having to endure its rigours; to be the ecstatic followers of no god, the mystic or epopt with no initiation; to pass the days meditating on a paradise you don't believe in - all of this tastes good to the soul that knows it knows nothing.</i></li>

	<li><i>Life is an experimental journey undertaken involuntarily. It is a journey of the spirit through the material world and, since it is the spirit that travels, it is the spirit that is experienced. That is why there exist contemplative souls who have lived more intensely, more widely, more tumultuously than others who have lived their lives purely externally.</i></li>


	<li><i>I asked for very little from life, and even this little was denied me. A nearby field, a ray of sunlight, a little bit of calm along with a bit of bread, not to feel oppressed by the knowledge that I exist, not to demand anything from others, and not to have others demand anything from me - this was denied me, like the spare change we might deny a beggar not because we're mean-hearted but because we don't feel like unbuttoning our coat.</i></li>


	<li><i>There are ships sailing to many ports, but not a single one goes to where life is not painful; nor is there a port of call where it is possible to forget.</i></li>


	<li><i>I read and am liberated. I acquire objectivity. I cease being myself and so scattered. And what I read, instead of being like a nearly invisible suit that sometimes oppresses me, is the external world&#8217;s tremendous and remarkable clarity, the sun that sees everyone, the moon that splotches the still earth with shadows, the wide expanses that end in the sea, the blackly solid trees whose tops greenly wave, the steady peace of ponds on farms, the terraced slopes with their paths overgrown by grape-vines.</i></li>

	<li><i>Each of us is several, is many,is a profusion of selves. So that the self who disdains his surroundings is not the same as the self who suffers or takes joy in them. In the vast colony of our being there are many species of people who think and feel in different ways.</i></li>


	<li><i>I never had anyone I could call &#8220;Master&#8221;. No Christ died for me. No Buddha showed me the right path. In the depths of my dreams no Apollo or Athena appeared to me to enlighten my soul.</i></li>


	<li><i>I feel love for all this, perhaps because I have nothing else to love... even though nothing truly merits the love of any soul, if, out of sentiment, we must give it, I might as well lavish it on the smallness of an inkwell as on the grand indifference of the stars.</i></li>



	<li><i>Let's buy books so as not to read them; let's go to concerts without caring to hear the music or see who's there; let's take long walks because we're sick of walking; and let's spend whole days in the country, just because it bores us.</i></li>

	<li><i>When one of my Japanese teacups is broken, I imagine that the real cause was not the careless hand of a maid but the anxieties of the figures inhabiting the curves of that porcelain. Their grim decision to commit suicide doesn't shock me: they used the maid as one of us might use a gun.</i></li>


	<li><i>I go forward slowly, dead, and my vision is no longer mine, it&#8217;s nothing: it&#8217;s only the vision of the human animal who, without wanting, inherited Greek culture, Roman order, Christian morality, and all the other illusions that constitute the civilization in which I feel. Where can the living be?</i></li>



	<li><i>Freedom is the possibility of isolation. You are free if you can withdraw from people, not having to seek them out for the sake of money, company, love, glory or curiosity, none of which can thrive in silence and solitude. If you can't live alone, you were born a slave. You may have all the splendours of the mind and the soul, in which case you're a noble slave, or an intelligent servant, but you're not free. And you can't hold this up as your own tragedy, for your birth is a tragedy of Fate alone. Hapless you are, however, if life itself so oppresses you that you're forced to become a slave. Hapless you are if, having been born free, with the capacity to be isolated and self-sufficient, poverty should force you to live with others.</i></li>




	<li><i>One of my constant preoccupations is trying to understand how it is that other people exist, how it is that there are souls other than mine and consciousnesses not my own, which, because it is a consciousness, seems to me unique. I understand perfectly that the man before me uttering words similar to mine and making the same gestures I make, or could make, is in some way my fellow creature. However, I feel just the same about the people in illustrations I dream up, about the characters I see in novels or the dramatis personae on the stage who speak through the actors representing them.<br><br>

	I suppose no one truly admits the existence of another person. One might concede that the other person is alive and feels and thinks like oneself, but there will always be an element of difference, a perceptible discrepancy, that one cannot quite put one's finger on. There are figures from times past, fantasy-images in books that seem more real to us than these specimens of indifference-made-flesh who speak to us across the counters of bars, or catch our eye in trams, or brush past us in the empty randomness of the streets. The others are just part of the landscape for us, usually the invisible landscape of the familiar.<br><br>

	I feel closer ties and more intimate bonds with certain characters in books, with certain images I've seen in engravings, that with many supposedly real people, with that metaphysical absurdity known as 'flesh and blood'. In fact 'flesh and blood' describes them very well: they resemble cuts of meat laid on the butcher's marble slab, dead creatures bleeding as though still alive, the sirloin steaks and cutlets of Fate.<br><br>

	I'm not ashamed to feel this way because I know it's how everyone feels. The lack of respect between men, the indifference that allows them to kill others without compunction (as murderers do) or without thinking (as soldiers do), comes from the fact that no one pays due attention to the apparently abstruse idea that other people have souls too.</i></li>



	<li><i>I have a very simple morality: not to do good or evil to anyone. Not to do evil, because it seems only fair that others enjoy the same right I demand for myself &#8211; not to be disturbed &#8211; and also because I think that the world doesn&#8217;t need more than the natural evils it already has. All of us in this world are living on board a ship that is sailing from one unknown port to another, and we should treat each other with a traveller&#8217;s cordiality. 

	<br><br>Not to do good, because I don&#8217;t know what good is, nor even if I do it when I think I do. How do I know what evils I generate if I give a beggar money? How do I know what evils I produce if I teach or instruct? Not knowing, I refrain. And besides, I think that to help or clarify is, in a certain way, to commit the evil of interfering in the lives of others. Kindness depends on a whim of our mood, and we have no right to make others the victims of our whims, however humane or kind-hearted they may be. Good deeds are impositions; that&#8217;s why I categorically abhor them.</i></li>



	<li><i>Perhaps it's my destiny to remain a book-keeper for ever and for poetry and literature to remain simply butterflies that alight on my head and merely underline my own ridiculousness by their very beauty.</i></li>



	<li><i>I feel as if I'm always on the verge of waking up.</i></li>

</ul>