<ul>

	<li><blockquote>My soul is a hidden orchestra; I know not what instruments, what fiddlestrings and harps, drums and tamboura I sound and clash inside myself. All I hear is the symphony. <a href="#fn:1301" id="fnref:1301">1301</a>
		</blockquote>
	</li><br><br>



	<li><blockquote>Since we can't extract beauty from life, let's at least try to extract beauty from not being able to extract beauty from life. <a href="#fn:1302" id="fnref:1302">1302</a></blockquote>
	</li><br><br>


	<li><blockquote>I often wonder what kind of person I would be if I had been protected from the cold wind of fate by the screen of wealth... to reach the tawdry heights of being a good assistant book-keeper in a job that is about as demanding as an afternoon nap and offers a salary that gives me just enough to live on.<br><br>

	I know that, had that non-existent past existed, I would not now be capable of writing these pages, which, though few, I would have undoubtedly have only day-dreamed about given more comfortable circumstances. For banality is a form of intelligence, and reality, especially if it is brutish and rough, forms a natural complement to the soul. Much of what I feel and think I owe to my work as a book-keeper since the former exists as a negation of and flight from the latter.</blockquote></li><br><br>



	<li><blockquote>Caesar gave the ultimate definition of ambition when he said: &#8216;Better to be the chief of a village than a subaltern in Rome!' <a href="#fn:1312" id="fnref:1312">1312</a></blockquote></li><br><br>



	<li><blockquote>In these random impressions, with no desire to be other than random, I indifferently narrate my factless autobiography, my lifeless history. These are my confessions, and if in them I say nothing, it's because I have nothing to say. <a href="#fn:1303" id="fnref:1303">1303</a></blockquote></li><br><br>


	<li><blockquote>And at this table in my absurd room, I, a pathetic and anonymous office clerk, write words as if they were the soul's salvation, and I gild myself with the impossible sunset of high and vast hills in the distance, with the statue I received in exchange for life's pleasures, and with the ring of renunciation on my evangelical finger, the stagnant jewel of my ecstatic disdain.</i> <a href="#fn:1313" id="fnref:1313">1313</a></blockquote></li><br><br>


	<li><blockquote>Happy the creators of pessimistic systems! Besides taking refuge in the fact of having made something, they can exult in their explanation of universal suffering, and include themselves in it.<br><br>

	I don't complain about the world. I don't protest in the name of the universe. I'm not a pessimist. I suffer and complain, but I don't know if suffering is the norm, nor do I know if it's human to suffer. Why should I care to know? I'm not a pessimist. I'm sad.</blockquote></li><br><br>




	<li><blockquote>Civilisation consists in giving something a name that doesn't belong to it and then dreaming over the result. And the false name joined to the true dream does create a new reality. The object does change into something else, because we make it change. We manufacture realities.</i> <a href="#fn:1309" id="fnref:1309">1309</a></blockquote></li><br><br>



	<li><blockquote>I belong to a generation that inherited disbelief in the Christian faith and created in itself a disbelief in all other faiths. Our fathers still had the believing impulse, which they transferred from Christianity to other forms of illusion. Some were champions of social equality, others were wholly enamoured of beauty, still others had faith in science and its achievements, and there were some who became even more Christian, resorting to various Easts and Wests in search of new religious forms to entertain their otherwise hollow consciousness of merely living.</i> <a href="#fn:1306" id="fnref:1306">1306</a></blockquote></li><br><br>


	<li><blockquote>Every gesture, however simple, violates an inner secret. Every gesture is a revolutionary act; an exile, perhaps, from the true ... of our intentions. Action is a disease of thought, a cancer of imagination. Action is self-exile. Every action is incomplete and flawed.</blockquote></li><br><br>

	<li><blockquote>To attain the satisfaction of the mystic state without having to endure its rigours; to be the ecstatic followers of no god, the mystic or epopt with no initiation; to pass the days meditating on a paradise you don't believe in - all of this tastes good to the soul that knows it knows nothing.</blockquote></li><br><br>

	<li>
		<blockquote>Life is an experimental journey undertaken involuntarily. It is a journey of the spirit through the material world and, since it is the spirit that travels, it is the spirit that is experienced. That is why there exist contemplative souls who have lived more intensely, more widely, more tumultuously than others who have lived their lives purely externally.</blockquote>
	</li><br><br>


	<li>
		<blockquote>I asked for very little from life, and even this little was denied me. A nearby field, a ray of sunlight, a little bit of calm along with a bit of bread, not to feel oppressed by the knowledge that I exist, not to demand anything from others, and not to have others demand anything from me - this was denied me, like the spare change we might deny a beggar not because we're mean-hearted but because we don't feel like unbuttoning our coat.</blockquote>
	</li><br><br>


	<li><blockquote>There are ships sailing to many ports, but not a single one goes to where life is not painful; nor is there a port of call where it is possible to forget.</blockquote></li><br><br>


	<li><blockquote>
		I read and am liberated. I acquire objectivity. I cease being myself and so scattered. And what I read, instead of being like a nearly invisible suit that sometimes oppresses me, is the external world&#8217;s tremendous and remarkable clarity, the sun that sees everyone, the moon that splotches the still earth with shadows, the wide expanses that end in the sea, the blackly solid trees whose tops greenly wave, the steady peace of ponds on farms, the terraced slopes with their paths overgrown by grape-vines.</blockquote>
	</li><br><br>

	<li>
		<blockquote>Each of us is several, is many,is a profusion of selves. So that the self who disdains his surroundings is not the same as the self who suffers or takes joy in them. In the vast colony of our being there are many species of people who think and feel in different ways.</blockquote>
	</li><br><br>


	<li>
		<blockquote>I never had anyone I could call &#8220;Master&#8221;. No Christ died for me. No Buddha showed me the right path. In the depths of my dreams no Apollo or Athena appeared to me to enlighten my soul.</i> <a href="#fn:1311" id="fnref:1311">1311</a></blockquote>
	</li><br><br>


	<li>
		<blockquote>I imagined myself forever freed from Rua dos Douradores, Vasques, Guarda, Moreira, all the employees, the boy and the cat... but I would be sorry... I could not leave all this without crying, not understanding that, as bad as it seemed to me, it was part of me that was with them all, that to separate myself from them was halfway and a resemblance to death.<br><br>

		In fact, if I were to leave them all tomorrow and take off from this address in the Rua dos Douradores, what would it give me? What would I wear? - why would I wear it?<br><br>

		We all have a Boss Vasques - for some he is visible, for others invisible. For me, he is really called Vasques, and he is a healthy man, pleasant, occasionally brutish, selfish but at the very bottom, with a justice that many great geniuses lack and the many human wonders of civilization, right and left. For others it will be vanity, the yearning for greater wealth, glory, immortality ... I prefer Vasques, my master, more tractable at times than all the abstract bosses in the world.<br><br>

		I love all of this, perhaps because I have nothing else to love... even though nothing truly merits the love of any soul, if, out of sentiment, we must give it, I might as well lavish it on the smallness of an inkwell as on the grand indifference of the stars.</i> <a href="#fn:1310" id="fnref:1310">1310</a></blockquote>
	</li><br><br>



	<li>
		<blockquote>Let's buy books so as not to read them; let's go to concerts without caring to hear the music or see who's there; let's take long walks because we're sick of walking; and let's spend whole days in the country, just because it bores us.</blockquote>
	</li><br><br>

	<li>
		<blockquote>When one of my Japanese teacups is broken, I imagine that the real cause was not the careless hand of a maid but the anxieties of the figures inhabiting the curves of that porcelain. Their grim decision to commit suicide doesn't shock me: they used the maid as one of us might use a gun.</i> <a href="#fn:1308" id="fnref:1308">1308</a></blockquote>
	</li><br><br>

	<li>
		<blockquote>I go forward slowly, dead, and my vision is no longer mine, it&#8217;s nothing: it&#8217;s only the vision of the human animal who, without wanting, inherited Greek culture, Roman order, Christian morality, and all the other illusions that constitute the civilization in which I feel. Where can the living be? <a href="#fn:1305" id="fnref:1305">1305</a></blockquote>
	</li><br><br>



	<li>
		<blockquote>Freedom is the possibility of isolation. You are free if you can withdraw from people, not having to seek them out for the sake of money, company, love, glory or curiosity, none of which can thrive in silence and solitude. If you can't live alone, you were born a slave. You may have all the splendours of the mind and the soul, in which case you're a noble slave, or an intelligent servant, but you're not free. And you can't hold this up as your own tragedy, for your birth is a tragedy of Fate alone. Hapless you are, however, if life itself so oppresses you that you're forced to become a slave. Hapless you are if, having been born free, with the capacity to be isolated and self-sufficient, poverty should force you to live with others.</blockquote>
	</li><br><br>


	<li>
		<blockquote>I rise from the chair where, absentminded at table, I tell myself these irregular impressions. I rise, I raise my body in myself, and go to the window high above the rooftops, where I can see the city fall asleep, a slow prelude to silence. The moon, large and white, white, sadly illuminates the differing differences of the houses. The moon seems too to illuminate the entire mystery of the world. It seems to show everything - everything is shadow with mixtures of evil light, false intervals, uneven absurdity, inconsistent visibility. There is no breeze, and it seems that the mystery is greater. I'm made nauseous by abstract thinking. I will never write a page that reveals or reveals anything to me. A very light cloud hangs vague above the moon, like a hideout. I am ignorant, like these roofs. I have failed, like all of nature. <a href="#fn:1307" id="fnref:1307">1307</a>
		</blockquote>
	</li>

	<li>
		<blockquote>One of my constant preoccupations is trying to understand how it is that other people exist, how it is that there are souls other than mine and consciousnesses not my own, which, because it is a consciousness, seems to me unique. I understand perfectly that the man before me uttering words similar to mine and making the same gestures I make, or could make, is in some way my fellow creature. However, I feel just the same about the people in illustrations I dream up, about the characters I see in novels or the dramatis personae on the stage who speak through the actors representing them.<br><br>

		I suppose no one truly admits the existence of another person. One might concede that the other person is alive and feels and thinks like oneself, but there will always be an element of difference, a perceptible discrepancy, that one cannot quite put one's finger on. There are figures from times past, fantasy-images in books that seem more real to us than these specimens of indifference-made-flesh who speak to us across the counters of bars, or catch our eye in trams, or brush past us in the empty randomness of the streets. The others are just part of the landscape for us, usually the invisible landscape of the familiar.<br><br>

		I feel closer ties and more intimate bonds with certain characters in books, with certain images I've seen in engravings, that with many supposedly real people, with that metaphysical absurdity known as 'flesh and blood'. In fact 'flesh and blood' describes them very well: they resemble cuts of meat laid on the butcher's marble slab, dead creatures bleeding as though still alive, the sirloin steaks and cutlets of Fate.<br><br>

		I'm not ashamed to feel this way because I know it's how everyone feels. The lack of respect between men, the indifference that allows them to kill others without compunction (as murderers do) or without thinking (as soldiers do), comes from the fact that no one pays due attention to the apparently abstruse idea that other people have souls too.</blockquote>
	</li><br><br>



	<li>
		<blockquote>I have a very simple morality: not to do good or evil to anyone. Not to do evil, because it seems only fair that others enjoy the same right I demand for myself &#8211; not to be disturbed &#8211; and also because I think that the world doesn&#8217;t need more than the natural evils it already has. All of us in this world are living on board a ship that is sailing from one unknown port to another, and we should treat each other with a traveller&#8217;s cordiality. 

		<br><br>Not to do good, because I don&#8217;t know what good is, nor even if I do it when I think I do. How do I know what evils I generate if I give a beggar money? How do I know what evils I produce if I teach or instruct? Not knowing, I refrain. And besides, I think that to help or clarify is, in a certain way, to commit the evil of interfering in the lives of others. Kindness depends on a whim of our mood, and we have no right to make others the victims of our whims, however humane or kind-hearted they may be. Good deeds are impositions; that&#8217;s why I categorically abhor them.</blockquote>
	</li><br><br>



	<li>
		<blockquote>Perhaps it's my destiny to remain a book-keeper for ever and for poetry and literature to remain simply butterflies that alight on my head and merely underline my own ridiculousness by their very beauty.</blockquote>
	</li><br><br>



	<li>
		<blockquote>I feel as if I'm always on the verge of waking up.</blockquote>
	</li><br><br>

</ul>



<div class="footnotes">
	<ol>
	    <li class="footnote" id="fn:1301">
	        <blockquote>Minha alma é uma orquestra oculta; não sei que instrumentos tange e range, cordas e harpas, tímbales e tambores, dentro de mim. Só me conheço como sinfonia.</blockquote>
	    </li>
	    <li class="footnote" id="fn:1302">
			<blockquote>Já que não podemos extrair beleza da vida, busquemos ao menos extrair beleza de não poder extrair beleza da vida.</blockquote>
		</li>
	    <li class="footnote" id="fn:1303">
			<blockquote>Invejo – mas não sei se invejo – aqueles de quem se pode escrever uma biografia, ou que podem escrever a própria. Nestas impressões sem nexo, nem desejo de nexo, narro indiferentemente a minha autobiografia sem fatos, a minha história sem vida. São as minhas Confissões, e, se nelas nada digo, é que nada tenho que dizer.</blockquote>
		</li>
	    <li class="footnote" id="fn:1304">
			<blockquote></blockquote>
		</li>
	    <li class="footnote" id="fn:1305">
			<blockquote>Avanço lentamente, morto, e a minha visão já não é minha, já não é nada: é só a do animal humano que herdou, sem querer, a cultura grega, a ordem romana, a moral cristã e todas as mais ilusões que formam a civilização em que sinto.<br><br>
			Onde estarão os vivos?</blockquote>
		</li>
		
	    <li class="footnote" id="fn:1306">
			<blockquote>Pertenço a uma geração que herdou a descrença na fé cristã e que criou em si uma descrença em todas as outras fés. Os nossos pais tinham ainda o impulso credor, que transferiam do cristianismo para outras formas de ilusão. Uns eram entusiastas da igualdade social, outros eram enamorados só da beleza, outros tinham a fé na ciência e nos seus proveitos, e havia outros que, mais cristãos ainda iam buscar a Orientes e Ocidentes outras formas religiosas, com que entretivessem a consciência, sem elas oca, de meramente viver.</blockquote>
		</li>
		<li class="footnote" id="fn:1307">
			<blockquote>Ergo-me da cadeira de onde, fincado distraidamente contra a mesa, me entretive a narrar para mim estas impressões irregulares.  Ergo-me, ergo o corpo nele mesmo, e vou até à janela, alta acima dos telhados, de onde posso ver a cidade ir a dormir num começo lento de silêncio. A lua, grande e de um branco branco, elucida tristemente as diferenças socalcadas da casaria. E o luar parece iluminar algidamente todo o mistério do mundo. Parece mostrar tudo, e tudo é sombras com misturas de luz má, intervalos falsos, desniveladamente absurdos, incoerências do visível. Não há brisa, e parece que o mistério é maior. Tenho náuseas no pensamento abstracto. Nunca escreverei uma página que me revele ou que revele alguma coisa. Uma nuvem muito leve paira vaga acima da lua, como um esconderijo. Ignoro como estes telhados. Falhei, como a natureza inteira.</blockquote>
		</li>
 		<li class="footnote" id="fn:1308">
			<blockquote>Quando se quebra uma chávena da minha colecção japonesa eu sonho que mais de que um descuido das mãos de uma criada tinha sido a causa, ou tinham estado os anseios das figuras que habitam as curvas daquela (...) de louça; a resolução tenebrosa de suicídio que as toma não me causa espanto: Serviu-se da criada, como eu me sirvo de um revólver. Saber isto é estar além […] e com que precisão eu sei isto!</blockquote>
		</li>
		<li class="footnote" id="fn:1309">
			<blockquote>A civilização consiste em dar a qualquer coisa um nome que não lhe compete, e depois sonhar sobre o resultado. E realmente o nome falso e o sonho verdadeiro criam uma nova realidade. O objecto torna-se realmente outro, porque o tornámos outro. Manufacturamos realidades.</blockquote>
		</li>
		<li class="footnote" id="fn:1310">
			<blockquote>imaginei-me liberto para sempre da Rua dos Douradores, do patrão Vasques, do guarda-livros Moreira, dos empregados todos, do moço, do garoto e do gato. Senti em sonho a minha libertação, como se mares do Sul me houvessem oferecido ilhas maravilhosas por descobrir. Seria então o repouso, a arte conseguida, o cumprimento intelectual do meu ser.<br><br>

			Mas de repente, e no próprio imaginar, que fazia num café no feriado modesto do meio-dia, uma impressão de desagrado me assaltou o sonho: senti que teria pena. Sim, digo-o como se o dissesse, circunstaciadamente: teria pena. O patrão Vasques, o guarda-livros Moreira, o caixa Borges, os bons rapazes todos, o garoto alegre que leva as cartas ao correio, o moço de todos os fretes, o gato meigo — tudo isso se tornou parte da minha vida; não poderia deixar tudo isso sem chorar, sem compreender que, por mau que me parecesse, era parte de mim que ficava com eles todos, que o separar-me deles era uma metade e semelhança da morte.<br><br>

			Aliás, se amanhã me apartasse deles todos, e despisse este trajo da Rua dos Douradores, a que outra coisa me chegaria — porque a outra me haveria de chegar?, de que outro trajo me vestiria — porque de outro me haveria de vestir?<br><br>

			Todos temos o patrão Vasques, para uns visível, para outros invisível. Para mim chama-se realmente Vasques, e é um homem sadio, agradável, de vez em quando brusco mas sem lado de dentro, interesseiro mas no fundo justo, com uma justiça que falta a muitos grandes génios e a muitas maravilhas humanas da civilização, direita e esquerda. Para outros será a vaidade, a ânsia de maior riqueza, a glória, a imortalidade... Prefiro o Vasques homem meu patrão, que é mais tratável, nas horas difíceis, que todos os patrões abstractos do mundo.<br><br>

			Considerando que eu ganhava pouco, disse-me o outro dia um amigo, sócio de uma firma que é próspera por negócios com todo o Estado: «você é explorado, Borges». Recordou-me isso de que o sou; mas como na vida temos todos que ser explorados, pergunto se valerá menos a pena ser explorado pelo Vasques das fazendas do que pela vaidade, pela glória, pelo despeito, pela inveja ou pelo impossível.<br><br>

			Há os que Deus mesmo explora, e são profetas e santos na vacuidade do mundo.<br><br>

			E recolho-me, como ao lar que os outros têm, à casa alheia, escritório amplo, da Rua dos Douradores. Achego-me à minha secretária como a um baluarte contra a vida. Tenho ternura, ternura até às lágrimas, pelos meus livros de outros em que escrituro, pelo tinteiro velho de que me sirvo, pelas costas dobradas do Sérgio, que faz guias de remessa um pouco para além de mim. Tenho amor a isto, talvez porque não tenha mais nada que amar — ou talvez, também, porque nada valha o amor de uma alma, e, se temos por sentimento que o dar, tanto vale dá-lo ao pequeno aspecto do meu tinteiro como a grande indiferença das estrelas.</blockquote>
		</li>
		<li class="footnote" id="fn:1311">
			<blockquote>Nunca tive ninguém a quem pudesse chamar «Mestre». Não morreu por mim nenhum Cristo. Nenhum Buda me indicou um caminho. No alto dos meus sonhos nenhum Apoio ou Atena me apareceu, para que me iluminasse a alma.</blockquote>
		</li>
		<li class="footnote" id="fn:1312">
			<blockquote>Definiu César toda a figura da ambição quando disse aquelas palavras: «Antes o primeiro na aldeia do que o segundo em Roma!»</blockquote>
		</li>
		<li class="footnote" id="fn:1313">
			<blockquote>E na mesa do meu quarto sou menos reles, empregado e anónimo, escrevo palavras como a salvação da alma e douro-me do poente impossível de montes altos vastos e longínquos da […] estranha recebida por anel de renúncia em meu dedo evangélico, jóia parada do meu desdém estático.</blockquote>
		</li>
		<li class="footnote" id="fn:1306">
			<blockquote></blockquote>
		</li>
		<li class="footnote" id="fn:1306">
			<blockquote></blockquote>
		</li>
		<li class="footnote" id="fn:1306">
			<blockquote></blockquote>
		</li>
		<li class="footnote" id="fn:1306">
			<blockquote></blockquote>
		</li>

	</ol>
</div>
