<br><ul>

	{%	include functions/quote.html      what="Don't you know, my son, with how little wisdom the world is governed? "     fn="201"     who="Axel Oxenstierna"     %}


	{%	include functions/quote.html      what="The danger is not that a particular class is unfit to govern. Every class is unfit to govern."		who="John Emerich Acton"		%}


	{%	include functions/quote.html      what="The main penalty for refusing to participate in politics is that you end up being governed by your inferiors."		fn="207"		%}


	{%	include functions/quote.html      what="while mankind are imperfect, there should be different opinions; so is it that there should be different experiments of living... that the worth of different modes of life should be proved practically... Where, not the person's own character, but the traditions or customs of other people are the rule, there is wanting one of the principal ingredients of human happiness, and quite the chief ingredient of individual and social progress."		who="Mill"     %}


	{%	include functions/quote.html      what="The first rule of intelligent tinkering is to save all the parts."     who="Paul Ehrlich"     %}


	{%	include functions/quote.html      what="Politics is the gentle art of getting votes from the poor and campaign funds from the rich, by promising to protect each from the other."     who="Oscar Ameringer"     %}


	{%	include functions/quote.html      what="Politics &#8211; which cannot be moral &#8211; is what must make morality triumph."     fn="202"      who="Napoleon Bonaparte"     %}


	{%	include functions/quote.html      what="Cast your whole vote, not a strip of paper merely, but your      whole influence."     who="Thoreau"     %}


	{%	include functions/quote.html      what="If you are the sort of man      whose stomach revolts against treating shams reverentially, you will be well advised to stay out of politics altogether and set up as a prophet; your prophecies may perhaps sow good seed for some future harvest. But as a politician you would be impotent.<br><br>       For at any given time the bulk of your countrymen believe firmly and devoutly, not only in various things that are worthy of belief, but also in illusions of one kind and another; and they will never submit to have their affairs managed for them by one who appears not to share in their credulity&#8230;"     who="Frederick Scott Oliver"     %}


	{%	include functions/quote.html      what="Progress, far from consisting in change, depends on retentiveness. Those who cannot remember the past are condemned to repeat it." 		who="George Santayana"		%}


	{%	include functions/quote.html  what="<a href='http://en.wikipedia.org/wiki/Modes_of_persuasion'>Ethos, pathos and logos.</a>."  fn="108"   who="Aristotle"  %}
	{%	assign arisFn = "108"		%}
	

	{%	include functions/quote.html      what="The goal of the future is full unemployment"     who="Arthur C Clarke"     %}


	{%	include functions/quote.html      what="Evils which are patiently endured when they seem inevitable, become intolerable when once the idea of escape from them is suggested."      fn="203"     who="<a href=\"https://sojo.net/magazine/september-october-2013/revolution-rising-expectations\">Alexis de Tocqueville</a>"     %}


	{%	include functions/quote.html      what="Conservative (n.): One      who admires radicals centuries after they're dead."     who="Leo Rosten"     %}


	{%	include functions/quote.html      what="You'll soon find a stick if you set out to beat a dog. "     fn="204"      who="Proverb"     %}

	{%	include functions/quote.html      what="Even hatred of squalor makes the brow stern. <br>Even anger at injustice makes the voice harsh. <br>		Alas we, wanting to lay the foundations of kindness <br>		Could not ourselves be kind."     fn="205"     who="Brecht"     %}


	{%	include functions/quote.html      what="The word 'revolution' is a word for which you kill, for which you die, for which you send the labouring masses to their death, but which does not possess any content."	who="Simone Weil"	fn="206"		%}


	{%	include functions/quote.html      what="nothing was ever yet done which someone was not the first to do... all good things which exist are the fruits of originality, let them be modest enough to believe that there is something still left for it to accomplish."		who="Mill"		%}


	{%	include functions/quote.html      what="Democracy is the recurrent suspicion that more than half of the people are right more than half of the time."     who="E.B. White"     %}


	{%	include functions/quote.html      what="Democracy is the theory that the common man knows what he wants and deserves to get it good and hard."     who="HL Mencken"     %}


</ul>

<div class="footnotes">
<ol>
 
    <li class="footnote" id="fn:201">
		<blockquote>An nescis, mi fili, quantilla prudentia mundus regatur?</blockquote>
	</li>

	<li class="footnote" id="fn:202">
		<blockquote>La politique - qui ne peut être morale - est celle qui doit faire triompher la morale. </blockquote>
		<br><br>(according to Balzac)
	</li>

	<li class="footnote" id="fn:203">
		<blockquote>Le mal qu'on souffrait patiemment comme inévitable semble insupportable dès qu'on conçoit l'idée de s'y soustraire.</blockquote>
	</li>

	 <li class="footnote" id="fn:204">
		<blockquote>Man findet bald einen Stecken, wenn man einen Hund schlagen will.</blockquote>
	</li>

	 <li class="footnote" id="fn:205">
		<blockquote>Auch der Hass gegen die Niedrigkeit / Verzerrt die Züge.<br>
		Auch der Zorn über das Unrecht / Macht die Stimme heiser. Ach, wir<br>
		Die wir den Boden bereiten wollten für Freundlichkeit<br>
		Konnten selber nicht freundlich sein.</blockquote>
	</li>

	 <li class="footnote" id="fn:206">
		<blockquote>
			Le mot 'révolution' est un mot pour lequel on tue, pour lequel on meurt, pour lequel on envoie les masses populaires à la mort, mais qui n'a aucun contenu.
		</blockquote>
	</li>

	<li class="footnote" id="fn:207">
		This is attributed to Plato, but what he said was a little more specific, about encouraging decent political candidates:

		<blockquote>
			if a man will not himself hold office and rule, the main penalty is to be governed by someone worse.
		</blockquote>
		<blockquote>
			τῆς δὲ ζημίας μεγίστη τὸ ὑπὸ πονηροτέρου ἄρχεσθαι, ἐὰν μὴ αὐτὸς ἐθέλῃ ἄρχειν...
		</blockquote>
	</li>
	
</ol>
</div>
