<ul>

<li><i>An nescis, mi fili, quantilla prudentia mundus regatur?</i><br> 
(Don't you know, my son, with how little wisdom the world is governed?)
<br />&#8211; Axel Oxenstierna</li>
<br /><br />

<li><em>La politique - qui ne peut être morale - est celle qui doit faire triompher la morale.<br></em> 
(Politics &#8211; which cannot be moral &#8211; is what must make morality triumph.)
<br />– Napoleon Bonaparte (according to Balzac)</li>
<br /><br />

<li><em>Politics is the gentle art of getting votes from the poor and campaign funds from the rich, by promising to protect each from the other.</em><br />
&#8211; Oscar Ameringer</li>
<br /><br />

<li><em>Cast your whole vote, not a strip of paper merely, but your whole influence.</em><br />
&#8211; Thoreau</li>
<br /><br />


<li><i>Politics unfortunately abounds in shams that must be treated reverentially for every politician who would succeed. If you are the sort of man whose stomach revolts against treating shams reverentially, you will be well advised to stay out of politics altogether and set up as a prophet; your prophecies may perhaps sow good seed for some future harvest. But as a politician you would be impotent. For at any given time the bulk of your countrymen believe firmly and devoutly, not only in various things that are worthy of belief, but also in illusions of one kind and another; and they will never submit to have their affairs managed for them by one who appears not to share in their credulity&#8230;</i><br>
- FS Oliver</li>
<br /><br />


<li><i>The first rule of intelligent tinkering is to save all the parts.</i>
<br>- Paul Ehrlich</li>
<br /><br />

<li><i>The goal of the future is full unemployment</i>.<br />
&#8211; Arthur C Clarke</li>
<br /><br />

<li><i>Le mal qu'on souffrait patiemment comme inévitable semble insupportable dès qu'on conçoit l'idée de s'y soustraire.<br></i><br>
(Evils which are patiently endured when they seem inevitable, become intolerable when once the idea of escape from them is suggested.)<br>
- <a href="https://sojo.net/magazine/september-october-2013/revolution-rising-expectations">Alexis de Tocqueville</a></li>
<br /><br />


<li><i>Conservative (n.): One who admires radicals centuries after they're dead.</i>.<br />
&#8211; Leo Rosten</li>
<br /><br />


<li><i>Man findet bald einen Stecken, wenn man einen Hund schlagen will. (You'll soon find a stick if you set out to beat a dog.)</i><br>
&#8211; Proverb</li>
<br /><br />

<li><i>Auch der Hass gegen die Niedrigkeit / Verzerrt die Züge.
Auch der Zorn über das Unrecht / Macht die Stimme heiser. Ach, wir
Die wir den Boden bereiten wollten für Freundlichkeit
Konnten selber nicht freundlich sein.<br><br></i>

Even hatred of squalor makes the brow stern. 
<br>Even anger at injustice makes the voice harsh. <br>
Alas, we who wanted to lay the foundations of kindness <br>
Could not ourselves be kind.</i><br>
&#8211; Brecht</li>
<br><br>

<li><i>Democracy is the recurrent suspicion that more than half of the people are right more than half of the time.</i><br>
&#8211; E.B. White</li>

<br><br>
<li><i>Democracy is the theory that the common man knows what he wants and deserves to get it good and hard.</i><br>
&#8211; HL Mencken</li>
<br><br>


</ul>
