<br><ul>

    {%  include functions/quote.html     what="Three key questions:   <ol><li>What are the most important problems in your field?</li>        <li>Are you working on one of them?</li>      <li>Why not?</li></ol>"       who="Richard Hamming"       %}


	{%	include functions/quote.html  what="Perhaps no human activity has as big a gap between private and public texture as \"research\". Research in private is a an endless stream of sketches, vague ideas, random experiments, jokes, nerdy OCD behaviors etc. Research in public is unreadable bureaucratic papers."		who="Venkatesh Rao"		%}


	{%	include functions/quote.html  what="To steal ideas from one person is plagiarism; to steal from many is research."  who="Benjamin Felson"  %}


    {%  include functions/quote.html     what="Understanding comes not from climbing up the ladder of abstraction, but grabbing the rung & pulling it down"		who="Nicky Case"		%}
    

	{%	include functions/quote.html  what="the point of reading a manual is not to remember everything in it for later, but to later remember <i>that</i> something is in it."		who="gwern"		%}


	{%	include functions/quote.html  what="Six months of research can save you an afternoon in the library."		who="Frank Westheimer"		%}


	{%	include functions/quote.html  what="In the conquest of space, two problems must be solved: gravity and paperwork. If it had just been gravity, we would be done already."  fn="105"   who="Wernher von Braun"  %}
	{%		assign braunFn = "105"		%}


	{%	include functions/quote.html  what="The real job of science is trying to make science fiction come true."   who="James Lovelock"  %}


	{%	include functions/quote.html  what="[Neural net] Architecture search is relatively unsophisticated at the moment, but it will hopefully give us something better than just throwing countless PhD students at the problem (an algorithm I call… graduate descent)." 	who="Andy Kitchen"	%}
	

    {%  include functions/quote.html      what="We steep ourselves in elusive, mysterious, and unnamed phenomena, and struggle to unravel complex puzzles, often making no visible progress for weeks or months, sometimes for years. We strive for simplicity and clarity in a cloudy and often baffling world. The special risk of research starts with the high probability that any particular attempt will fail, and follows from the resulting experience of repeated failure."    who="Ivan Sutherland"       %}

	
	{%	include functions/quote.html  what="When I'm working on a research problem I generally begin by filling dozens of sheets of scratch paper with partial calculations. When I eventually get to a point where I can think about the problem while swimming, then I'm often ready to solve it."  who="Don Knuth"  %}


	{%	include functions/quote.html  what="If you want to go fast, go alone. If you want to go far, go together."  who="Robin Jones Gunn"  %}


    {%  include functions/quote.html      what="Think of a 'discovery' as an act that moves the arrival of information from a later point in time to an earlier time. The value does not equal the value of the information discovered but rather the value of having the information available earlier than it otherwise would have been. A scientist or a mathematician may show great skill by being the first to find a solution that has eluded many others; yet if the problem would soon have been solved anyway, then the work probably has not much benefited the world. There are cases in which having a solution even slightly sooner is immensely valuable, but this is most plausible when the solution is immediately put to use, either being deployed for some practical end or serving as a foundation to further theoretical work."      who="Nick Bostrom"          %}


    {%  include functions/quote.html        what="The secret to doing good research is always to be a little underemployed. You waste years by not being able to waste hours."      who="Amos Tversky"   %}


 </ul>


<div class="footnotes">
<ol>
	<li class="footnote" id="fn:105">
		<blockquote>Bei der Eroberung des Weltraums sind zwei Probleme zu lösen: die Schwerkraft und der Papierkrieg. Mit der Schwerkraft wären wir fertig geworden.</blockquote>
	</li>

</ol>
</div>