<br><ul>

	{%	include functions/quote.html  what="It is easy to lie with statistics, but it is easier to lie without them."  who="Frederick Mosteller"  %}


	{%	include functions/quote.html  what="all models are wrong; the practical question is how wrong can they be before they are not useful."  who="George Box"  %}


	{%	include functions/quote.html  what="Far better an approximate answer to the right question, which is often vague, than the exact answer to the wrong question, which can always be made precise."		who="John Tukey"		%}


	{%	include functions/quote.html  what="Statistics is applied philosophy of science."  who="<a href='http://www.phil.vt.edu/dmayo/personal_website/Lindley_Philosophy_of_Statistics.pdf'>Philip Dawid</a>"  %}


	{%	include functions/quote.html  what="A model is an artifice for helping you convince yourself that you understand more about a system than you do."   who="techie proverb"  %}


	{%	include functions/quote.html     what="Yet it is by the laborious route of analysis that [a genius] must reach truth; but he cannot pursue this unless guided by numbers; for without numbers it is not given to us to raise the veil which envelopes the mysteries of nature. "    fn="505"    who="Luigi Menabrea"    %}


	{%	include functions/quote.html  what="the rules of right reason... ought to be contained in Logic; but the actual science of Logic is conversant at present only with things either certain, impossible, or entirely doubtful, none of which (fortunately) we have [available] to reason on. Therefore the true Logic for this world is the Calculus of Probabilities, which takes account of the magnitude of the probability (which is, or which ought to be, in a reasonable man's mind)."   who="James Clerk Maxwell"  %}


	{%	include functions/quote.html  what="A golem is a robot constructed from dust and fire and water. It is brought to life by inscribing emet, Hebrew for “truth”, on its brow... Scientists also make golems. Our golems rarely have physical form, but they too are often made of clay, living in silicon as computer code. These golems are scientific models. But these golems have real effects on the world, through the predictions they make and the intuitions they challenge or inspire. A concern with “truth” enlivens these models, but... scientific models are neither true nor false, neither prophets nor charlatans. Rather they are constructs engineered for some purpose." 	who="Richard McElreath"  %}


	{%	include functions/quote.html  what="The [central limit theorem] would have been personified by the Greeks and deified, if they had known of it. It reigns with serenity and in complete self-effacement, amidst the wildest confusion. The huger the mob, and the greater the apparent anarchy, the more perfect is its sway. It is the supreme law of Unreason. Whenever a large sample of chaotic elements are taken in hand and marshaled in the order of their magnitude, an unsuspected and most beautiful form of regularity proves to have been latent all along."	who="Francis Galton, but"		%}


	{%	include functions/quote.html  what="The danger is that the present measure-theory notation presupposes the infinite limit already accomplished, but contains no symbol indicating which limiting process was used... When there is no well-behaved limit, any attempt to go directly to it can result in nonsense, the cause of which cannot be seen as long as one looks only at the limit, and not at the limiting process."		who="Ed Jaynes"		%}


	{%	include functions/quote.html  what="Entire classes of scalable distributions converge to the Gaussian too slowly to be of any significance... [e.g.] the presasymptotics of fractal distributions are such that the effect of the Central Limit Theorem is exceedingly slow in the tails - in fact, the effect is irrelevant."		who="Taleb"		%}


	{%	include functions/quote.html  what="Bad data is worse than no data, because it deceives us."	   who="various"  %}


	{%	include functions/quote.html  what="The best thing about being a statistician is that you get to play in everyone's backyard."	who="John Tukey"		%}


	{%	include functions/quote.html  what="Through and through the world is infested with quantity: To talk sense is to talk quantities. It is not use saying the nation is large .. How large? It is no use saying the radium is scarce... How scarce? You cannot evade quantity. You may fly to poetry and music, and quantity and number will face you in your rhythms and your octaves."		who="Alfred North Whitehead"		%}


	{%	include functions/quote.html  what="The theory of probabilities and the theory of errors [are] not only a commendable element in a liberal education, but some knowledge of them is essential to a correct understanding of daily events."		who="Robert Woodward"		%}


	{%	include functions/quote.html  what="Measurement does not necessarily mean progress... the lust for measurement may, for example, merely result in your measuring something else - and perhaps forgetting the difference - or in your ignoring some things because they cannot be measured."		who="George Udny Yule"		%}


	{%	include functions/quote.html  what="Suppose you were exposed to a subject as a sub-cabalistic ritual of manipulating sums of squares and magical tables according to rules justified (if at all) only by a transparently false origin myth — that is to say, you had to endure an intro. stats. class — or, perhaps worse, a 'research methods' class whose content had fossilized before you were born."		who="Cosma Shalizi"		%}


	{%	include functions/quote.html     what="Machine learning is statistics minus any checking of models and assumptions." 	who="Brian Ripley"		%}


	{%	include functions/quote.html     what="If you give people a linear model function you give them something dangerous."		who="John Fox"	%}


	{%	include functions/quote.html     what="In statistics, context always matters; this is in direct contrast to mathematics, which is the study of objects independent of context. Mathematics is about moving from the general to the specific (deduction), while statistics is about moving from the specific to the general (induction), and that is impossible to do without understanding the natures of both."	who="Jeffrey Simonof"		%}


	{%	include functions/quote.html  what="Not everything that counts can be counted, and not everything that can be counted counts."  who="William Bruce Cameron"	%}


	{%	include functions/quote.html  what="Their effect size is tiny and their measurement error is huge. My best analogy is that they are trying to use a bathroom scale to weigh a feather—and the feather is resting loosely in the pouch of a kangaroo that is vigorously jumping up and down. <br><br> At some point, a set of measurements is so noisy that biases in selection and interpretation overwhelm any signal and, indeed, nothing useful can be learned from them."		who="Andrew Gelman"		%}


</ul>