<ul>
	<li><blockquote>This is it.</blockquote></li> <br><br>


	<li><blockquote>Consider: <a href="http://en.wikipedia.org/wiki/Expected_value">Magnitude? Probability?</a> Tractability?
	</blockquote></li> <br><br>

	<li><blockquote><a href="https://en.wikipedia.org/wiki/Base_rate">Prevalence</a>, <a href="https://en.wikipedia.org/wiki/Sensitivity_and_specificity">sensitivity, specificity</a>, <a href="https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Positive_predictive_value">precision</a>, <a href="https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Negative_predictive_value">deprecision</a>, <a href="https://en.wikipedia.org/wiki/Accuracy_and_precision#In_binary_classification">accuracy</a>.</blockquote></li> <br><br>

	<li><blockquote>Omnia vanitas.</i> (All is vanity.)</blockquote>
	&#8211; Ecc 1:2</li> <br><br>

	or
	<li><blockquote>看破紅塵. (See through (the world's mere) red dust.)</blockquote>
	</li> <br><br>


	<li><blockquote><a href="http://en.wikipedia.org/wiki/Modes_of_persuasion">ἦθος, πάθος, λόγος</a>.</blockquote>
	&#8211; Aristotle</li> <br><br>


	<li><blockquote>I stand corrected.</blockquote></li> <br><br>

	<li><blockquote>Proceed til apprehended.</blockquote>
	&#8211; Proverbial, but recently in the air a lot.</li> <br><br>

	<li>Strange but unestranged.</li> <br><br>

	<li><a href="http://lesswrong.com/lw/9wr/my_algorithm_for_beating_procrastination/">m = pV / iD</a>. </li> 
	<br><br>

	<li><blockquote>Aude. Vide. Tace. ("Dare. See. Hush.")</blockquote><br />
	</i>&#8211; the Masons</li> 
	<br><br>

	<li><blockquote>Volo ut sis. ("I want you to exist.") </blockquote>
	&#8211; Martin Heidegger, <a href="http://www.readcube.com/articles/10.1111/1540-6385.00129">probably.</a></li> 
	<br><br>

	<li><blockquote>Candle or laser? Invented or Discovered?</blockquote></li> 
	<br><br>

	<li><em>&#8707;x </em><a href="http://www.unil.ch/webdav/site/philo/shared/esfeld_2012/Metaphysica13.pdf"><em>PQIT</em></a><em>. T = (~&#8707;x ~[PQIT]).</em></li> 
	<br><br>

	<li><blockquote>Just passing through.</blockquote></li> 
	<br><br>

	<li><blockquote>What is above us? Causality; Absurdity; the lives of others.</blockquote></li> 
	<br><br>

	<li><blockquote>I can't go on. I'll go on.</blockquote>
	&#8211; Beckett.</li> 
	<br><br>
</ul>
