<ul>
	{%	include functions/quote.html 
		what="This is it."
	%}


	{%	include functions/quote.html 
		what="Consider: <a href=\"http://en.wikipedia.org/wiki/Expected_value\">Magnitude? Probability?</a> Tractability?"
	%}

	{%	include functions/quote.html 
		what="<a href=\"https://en.wikipedia.org/wiki/Base_rate\">Prevalence</a>, <a href=\"https://en.wikipedia.org/wiki/Sensitivity_and_specificity\">sensitivity, specificity</a>, <a href=\"https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Positive_predictive_value\">precision</a>, <a href=\"https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Negative_predictive_value\">deprecision</a>, <a href=\"https://en.wikipedia.org/wiki/Accuracy_and_precision#In_binary_classification\">accuracy</a>."
	%}

	{%	include functions/quote.html 
		what="Omnia vanitas.</i> (All is vanity.)"
		
		who="Ecc 1:2 or"
	%}

	
	{%	include functions/quote.html 
		what="看破紅塵. (See through (the world's mere) red dust.)"
	%}


	{%	include functions/quote.html 
		what="<a href=\"http://en.wikipedia.org/wiki/Modes_of_persuasion\">ἦθος, πάθος, λόγος</a>."
		
		who="Aristotle"
	%}


	{%	include functions/quote.html 
		what="I stand corrected."
	%}

	{%	include functions/quote.html 
		what="Proceed til apprehended."
		
		who="Proverbial, but recently in the air a lot."
	%}

	{%	include functions/quote.html 
		what="Strange but unestranged."
	%}

	{%	include functions/quote.html 
		what="<a href=\"http://lesswrong.com/lw/9wr/my_algorithm_for_beating_procrastination/\">m = pV / iD</a>." 
	%}

	{%	include functions/quote.html 
		what="Aude. Vide. Tace. (\"Dare. See. Hush.\")"
		
		who="the Masons"
	%}

	{%	include functions/quote.html 
		what="Volo ut sis. (\"I want you to exist.\") "
		
		who="Martin Heidegger, <a href=\"http://www.readcube.com/articles/10.1111/1540-6385.00129\">probably.</a></li> "
	%}

	{%	include functions/quote.html 
		what="Candle or laser? Invented or Discovered?"
	%}

	{%	include functions/quote.html 
		what="&#8707;x <a href=\"http://www.unil.ch/webdav/site/philo/shared/esfeld_2012/Metaphysica13.pdf\"><em>PQIT</em></a>. T = (~&#8707;x ~[PQIT])."
	%}

	{%	include functions/quote.html 
		what="Just passing through."
	%}

	{%	include functions/quote.html 
		what="What is above us? Causality; Absurdity; the lives of others."
	%}

	{%	include functions/quote.html 
		what="I can't go on. I'll go on."
		
		who="Beckett"
	%}

</ul>
