<ul>
	<li><i>This is it.</i></li>


	<li><i>Consider: <a href="http://en.wikipedia.org/wiki/Expected_value">Magnitude? Probability?</a> Tractability?</i></li>

	<li><i><a href="https://en.wikipedia.org/wiki/Base_rate">Prevalence</a>, <a href="https://en.wikipedia.org/wiki/Sensitivity_and_specificity">sensitivity, specificity</a>, <a href="https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Positive_predictive_value">precision</a>, <a href="https://en.wikipedia.org/wiki/Positive_and_negative_predictive_values#Negative_predictive_value">deprecision</a>, <a href="https://en.wikipedia.org/wiki/Accuracy_and_precision#In_binary_classification">accuracy</a>.</i></li>

	<li><i>Omnia vanitas.</i> (All is vanity.)<br />&#8211; Ecc 1:2</li>

	or
	<li><i>看破紅塵.</i> (See through (the world's mere) red dust.)</li>


	<li><i><a href="http://en.wikipedia.org/wiki/Modes_of_persuasion">ἦθος, πάθος, λόγος</a>.</i><br />
	&#8211; Aristotle</li>


	<li><i>I stand corrected.</i></li>

	<li><i>Proceed til apprehended.</i><br />
	&#8211; Proverbial, but recently in the air a lot.</li>

	<li>Strange but unestranged.</li>

	<li><a href="http://lesswrong.com/lw/9wr/my_algorithm_for_beating_procrastination/">m = pV / iD</a>. </li>

	<li><i>Aude. Vide. Tace. ("Dare. See. Hush.")<br />
	</i>&#8211; the Masons</li>

	<li><i>Volo ut sis.</i> ("I want you to exist.") <br />&#8211; Martin Heidegger, <a href="http://www.readcube.com/articles/10.1111/1540-6385.00129">probably.</a></li>

	<li><i>Candle or laser? Invented or Discovered?</i></li>

	<li><em>&#8707;x </em><a href="http://www.unil.ch/webdav/site/philo/shared/esfeld_2012/Metaphysica13.pdf"><em>PQIT</em></a><em>. T = (~&#8707;x ~[PQIT]).</em></li>

	<li><i>Just passing through.</i></li>

	<li><i>What is above us? <a href="http://afterallitcouldbeworse.blogspot.co.uk/2012/03/big-questions-avoided-by-big.html">Causality</a>; Absurdity; the lives of others.</i></li>

	<li><i>I can't go on. I'll go on.</i><br />&#8211; Beckett.</li>
</ul>
