<br>
<ul>
    <li><blockquote>Learning for its own sake is crucial and here's why: on a daily basis at work, you operate at &lt;50% of your intellectual peak. Did an amazing PhD in machine learning? Now you shuffle numbers - competently - at UltraCorp. Taught yourself computer science from a young age? Now you get to - competently - write basic apps for commerce. Invented Unix and C? Well, now you - competently - manage a team working on a small compiler. Every new thing you learn or invent translates into a minor increase in the average interest of your resulting jobs. And interest is what you want, right?</blockquote>
    &#8211; <a href="http://jmorrice.teoma.io/">John Morrice</a></li>
    <br><br>
    

    <li><blockquote>Work holds off three great evils: boredom, vice and want. <a href="#fn:600" id="fnref:600">600</a></blockquote>
    &#8211; Voltaire
    </li><br><br>


    <li><blockquote>It was true that I didn&#8217;t have much ambition, but there ought to be a place for people without ambition, I mean a better place than the one usually reserved. How in the hell could a man enjoy being awakened at 6:30 a.m. by an alarm clock, leap out of bed, dress, force-feed, shit, piss, brush teeth and hair, and fight traffic to get to a place where essentially you made lots of money for somebody else and were asked to be grateful for the opportunity to do so?</blockquote>
    &#8212; Bukowski<br>
    </li><br><br>


    <li><blockquote>The work that is really a man's own work is play and not work at all. Cursed is the man who has found some other man's work and cannot lose it. When we talk about the great workers of the world we really mean the great players of the world. The fellows who groan and sweat under the weary load of toil that they bear never can hope to do anything great. How can they when their souls are in a ferment of revolt against the employment of their hands and brains?
    </blockquote>
    &#8211; Mark Twain</li><br><br>


    <li><blockquote>O Laziness, have pity on our long misery! O Laziness, mother of the arts and noble virtues, be thou the balm of human anguish! <a href="#fn:601" id="fnref:601">601</a></blockquote>
    &#8211; Paul Lafargue
    </li><br><br>


    <li><blockquote>When you go too far up, abstraction-wise, you run out of oxygen. Sometimes smart thinkers just don't know when to stop, and they create these absurd, all-encompassing, high-level pictures of the universe that are all good and fine, but don't actually mean anything at all.<br><br>

    These are the people I call Architecture Astronauts. It's very hard to get them to write code or design programs, because they won't stop thinking about Architecture. They're astronauts because they are above the oxygen level, I don't know how they're breathing. They tend to work for really big companies that can afford to have lots of unproductive people with really advanced degrees that don't contribute to the bottom line.</blockquote>
    &#8212; Joel Spolsky
    </li> <br><br>



    <li><blockquote>I&#8217;m a modern man, a man for the millennium. Digital and smoke free. A diversified multi-cultural, post-modern deconstruction that is anatomically and ecologically incorrect. I&#8217;ve been up linked and downloaded, I&#8217;ve been inputted and outsourced, I know the upside of downsizing, I know the downside of upgrading. I&#8217;m a high-tech low-life. A cutting edge, state-of-the-art bi-coastal multi-tasker and I can give you a gigabyte in a nanosecond!
    I&#8217;m new wave, but I&#8217;m old school and my inner child is outward bound. I&#8217;m a hot-wired, heat seeking, warm-hearted cool customer, voice activated and bio-degradable. I interface with my database, my database is in cyberspace, so I&#8217;m interactive, I&#8217;m hyperactive and from time to time I&#8217;m radioactive.<br><br>

    Behind the eight ball, ahead of the curve, ridin the wave, dodgin the bullet and pushin the envelope. I&#8217;m on-point, on-task, on-message and off drugs. I&#8217;ve got no need for coke and speed. I've got no urge to binge and purge. I&#8217;m in-the-moment, on-the-edge, over-the-top and under-the-radar. A high-concept, low-profile, medium-range ballistic missionary. A street-wise smart bomb. A top-gun bottom feeder. I wear power ties, I tell power lies, I take power naps and run victory laps. I&#8217;m a totally ongoing big-foot, slam-dunk, rainmaker with a pro-active outreach. A raging workaholic. A working rageaholic. Out of rehab and in denial!<br><br>

    I&#8217;ve got a personal trainer, a personal shopper, a personal assistant and a personal agenda. You can&#8217;t shut me up. You can&#8217;t dumb me down because I&#8217;m tireless and I&#8217;m wireless, I&#8217;m an alpha male on beta-blockers.<br><br>

    I&#8217;m a non-believer and an over-achiever, laid-back but fashion-forward. Up-front, down-home, low-rent, high-maintenance. Super-sized, long-lasting, high-definition, fast-acting, oven-ready and built-to-last! I&#8217;m a hands-on, foot-loose, knee-jerk head case pretty maturely post-traumatic and I&#8217;ve got a love-child that sends me hate mail.<br><br>

    But, I&#8217;m feeling, I&#8217;m caring, I&#8217;m healing, I&#8217;m sharing-- a supportive, bonding, nurturing primary care-giver. My output is down, but my income is up. I took a short position on the long bond and my revenue stream has its own cash-flow. I read junk mail, I eat junk food, I buy junk bonds and I watch trash sports! I&#8217;m gender specific, capital intensive, user-friendly and lactose intolerant.<br><br>

    I like rough sex. I like tough love. I use the &#8220;F&#8221; word in my emails and the software on my hard-drive is hardcore--no soft porn.<br><br>

    I bought a microwave at a mini-mall; I bought a mini-van at a mega-store. I eat fast-food in the slow lane. I&#8217;m toll-free, bite-sized, ready-to-wear and I come in all sizes. A fully-equipped, factory-authorized, hospital-tested, clinically-proven, scientifically- formulated medical miracle. I&#8217;ve been pre-wash, pre-cooked, pre-heated, pre-screened, pre-approved, pre-packaged, post-dated, freeze-dried, double-wrapped, vacuum-packed and, I have an unlimited broadband capacity. </blockquote>
    &#8211; George Carlin
    </li><br><br>



</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:600">
        <blockquote>le travail éloigne de nous trois grands maux, l'ennui, le vice, et le besoin.</blockquote>
    </li>
    <li class="footnote" id="fn:601">
        <blockquote>Ô Paresse, prends pitié de notre longue misère! Ô Paresse, mère des arts et des nobles vertus, sois le baume des angoisses humaines! </blockquote>
    </li>


</ol>
</div>