<br><ul>

    {%  include functions/quote.html      what="[Beware] the death of the spirit which threatens every man unless he is conscious of the danger and has a real purpose which can keep it alive and enable it to thrust its way through the choking weeds and thorns to the air and to the sun"  who="Hugh Trevor-Roper"     %}


    {%  include functions/quote.html      what="The really efficient laborer will be found not to crowd his day with work, but will saunter to his task surrounded by a wide halo of ease and leisure. There will be a wide margin for relaxation to his day. He is only earnest to secure the kernels of time, and does not exaggerate the value of the husk. Why should the hen sit all day? She can lay but one egg, and besides she will not have picked up materials for a new one. Those who work much do not work hard."     who="Henry Thoreau"      %}


    {%  include functions/quote.html      what="a man's work is nothing but this slow trek to rediscover... those two or three great and simple images in whose presence his heart first opened."  who="Albert Camus"      %}


    {%  include functions/quote.html      what="You should have sugar [and] everything... You should have education to the limits of your powers, and work to challenge your spirit. Work makes you bigger. More real. You eat it up and grow."     who="Lois Bujold"      %}


<!--     {%	include functions/quote.html      what="O Laziness, have pity on our long misery! O Laziness, mother of the arts and noble virtues, be thou the balm of human anguish!"      fn="601"     who="Paul Lafargue"     %}
 -->

    {%  include functions/quote.html      what="Trying to get work done on an internet device is like dieting with beer and ice cream on your desk"     who="Tim Harford"       %}

    <!-- {%  include functions/quote.html      what="Mold your life so that the path of least resistance is the path of maximum productivity... Erect and enforce barriers to using technology to procrastinate."    who="Matt Might"        %}
    -->

    
    {%  include functions/quote.html      what="Learning for its own sake is crucial and here's why: on a daily basis at work, you operate at &lt;50% of your intellectual peak. Did an amazing PhD in machine learning? Now you shuffle numbers - competently - at UltraCorp. Taught yourself computer science from a young age? Now you get to - competently - write basic apps for commerce. Invented Unix and C? Well, now you - competently - manage a team working on a small compiler. Every new thing you learn or invent translates into a minor increase in the average interest of your resulting jobs. And interest is what you want, right?"     who="<a href=\"http://jmorrice.teoma.io/\">John Morrice</a>"     %}
    

    {%  include functions/quote.html      what="Work holds off three great evils: boredom, vice and want."      fn="600"     who="Voltaire"     %}


    {%  include functions/quote.html      what="Worthy work carries with it the hope of pleasure in rest, the hope of the pleasure in our using what it makes, and the hope of pleasure in our daily creative skill. All other work but this is worthless; it is slaves' work — mere toiling to live, that we may live to toil."    who="William Morris"        %}


    {%  include functions/quote.html      what="It was true that I didn&#8217;t have much ambition, but there ought to be a place for people without ambition, I mean a better place than the one usually reserved. How in the hell could a man enjoy being awakened at 6:30 a.m. by an alarm clock, leap out of bed, dress, force-feed, shit, piss, brush teeth and hair, and fight traffic to get to a place where essentially you made lots of money for somebody else and were asked to be grateful for the opportunity to do so?"     who="Bukowski"     %}
    

    {%  include functions/quote.html      what="The work that is really a man's own work is play and not work at all. Cursed is the man who has found some other man's work and cannot lose it. When we talk about the great workers of the world we really mean the great players of the world. The fellows who groan and sweat under the weary load of toil that they bear never can hope to do anything great. How can they when their souls are in a ferment of revolt against the employment of their hands and brains?"     who="Mark Twain"     %}


    {%  include functions/quote.html        what="Down you lie or up you stand / Either way you'll earn a grand"        who="C20th Polish proverb"          fn="602"    %}


    {%  include functions/quote.html        what="The man whose whole life is spent in performing a few simple operations, of which the effects are perhaps always the same, or very nearly the same, has no occasion to exert his understanding or to exercise his invention in finding out expedients for removing difficulties which never occur. He naturally loses, therefore, the habit of such exertion, and generally becomes as stupid and ignorant as it is possible for a human creature to become."     who="Adam Smith"        %}


    {%  include functions/quote.html      what="The sons of Hermes love to play,<br>And only do their best when they<br>Are told they oughtn't;<br>Apollo's children never shrink<br>From boring jobs but have to think<br>Their work important." who="Auden"   %}


    {%	include functions/quote.html      what="When you go too far up, abstraction-wise, you run out of oxygen. Sometimes smart thinkers just don't know when to stop, and they create these absurd, all-encompassing, high-level pictures of the universe that are all good and fine, but don't actually mean anything at all.<br><br>         ...It's very hard to get them to write code or design programs, because they won't stop thinking about Architecture. They're astronauts because they are above the oxygen level, I don't know how they're breathing. They tend to work for really big companies that can afford to have lots of unproductive people with really advanced degrees that don't contribute to the bottom line."     who="Joel Spolsky"     %}



    {%	include functions/quote.html       what="Happy is the man who can recognise in the work of to-day a connected portion of the work of life and an embodiment of the work of Eternity. The foundations of his confidence are unchangeable, for he has been made a partaker of Infinity. He strenuously works out his daily enterprises because the present is given him for a possession.<br><br> Thus ought Man to be an impersonation of the divine process of nature, and to show forth the union of the infinite with the finite, not slighting his temporal existence, remembering that in it only is individual action possible; nor yet shutting out from his view that which is eternal, knowing that Time is a mystery which man cannot endure to contemplate until eternal Truth enlighten it."      who="James Clerk Maxwell"      %}

</ul>


<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:600">
        <blockquote>le travail éloigne de nous trois grands maux, l'ennui, le vice, et le besoin.</blockquote>
    </li>

    <li class="footnote" id="fn:601">
        <blockquote>Ô Paresse, prends pitié de notre longue misère! Ô Paresse, mère des arts et des nobles vertus, sois le baume des angoisses humaines! </blockquote>
    </li>

    <li class="footnote" id="fn:602">
        Czy sie stoi czy sie lezy - tysiąc zlotych sie nalezy.
    </li>

</ol>
</div>