<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        This isn't a trivial statement; both of these things affect my life in quite deep ways, not least via tax burden, access to <a href="https://epsrc.ukri.org/">resources</a>, safety nets, and the legal skeleton from which all formal employers hang or are hanged.<br><br>

        Affinity is one way to be part of a group; but financial and legal obligation is maybe even more common.
    </li>

	<li class="footnote" id="fn:2">
    	<a href="https://forum.effectivealtruism.org/posts/vy2QCTXfWhdiaGWTu/corporate-global-catastrophic-risks-c-gcrs-1">Here's</a> an interesting data-driven worry about corporations: Hillebrandt argues that, while they've done great things for society in the past, we should expect market leaders to continue increasing as a % of the economy, and this will quickly lead to corruption, ballooning harms, and the neutering of the government and nongovernment forces that balanced out the antihuman side of corporations in the past. <br><br>
    </li>

	<li class="footnote" id="fn:3">
    	This was mostly people being poached - it's maybe the best time ever to be an analyst. (After open-source stats and the data deluge, before serious AI arrives.)
	</li>
</ol>

</div>