Corporate language is <a href="http://stevenpoole.net/blog/who-touched-base-in-my-thought-shower/">famous</a> for its ugly, euphemistic neologisms. But actually only some of these are contemptible.<br><br>

<div class="accordion">
<h3>Some Corporatese</h3>
<div>
		
	<ul>

	<li><i>let go</i> (n.):  A standard evasion - note the ambiguity: is it being set free or dropped?</li><br>

	<li><i>apple polisher</i> (pej. (n.):  yes-man; executive assistant; holder of a bullshit job. Great insult!</li><br>

	<li><i>to productionalise</i> (v.): to produce (test, polish and deploy).</li><br>

	<li><i>halfly (adj.)</i>: twice a year (compare quarterly). Delightful!</li><br>

	<li><i>to downselect</i> (v.): to choose, to select (!)</li><br>

	<li><i>to reach out to</i> (v.): talk to.</li><br>

	<li><i>to cascade</i> (v.): talk to and make them talk to.</li><br>

	<li><i>backpocket</i> (n.): Crib notes for the CEO, so they don't look totally stupid in interviews. Refers both to the briefing and the people who produce it - "<i>My backpocket tell me...</i>".</li><br>

	<li><i>on the edge</i>:  located on the exit node of a network; a buzzword meaning "fastest".</li><br>

	<li><i>artificial artificial intelligence</i>: Using low-paid humans to simulate an AI system or chatbot. cf. Facebook's M.</li><br>


	<li><i>bleisure</i> (adj.):  business leisure. Paid free time between conference sessions, meetings. (Probably quite significant for first-world professionals, maybe a week a year). This year mine was larger than my official allotted "annual leave".</li><br>

	<li><i>jobbymoon</i> (n.):  holiday taken at the end of one job, before the next. High-status unemployment. See also 'bizcation', 'funemployment'.</li><br>

	<li><i>Cx</i> (n.):  customer experience, after <i>UX</i> (user experience).</li><br>


	<li><i>RPA</i> (n.): robotic process automation; a dumb software layer bolted on to existing systems, that automates certain GUI operations. Contemptible for several reasons: 1) it perverts the useful term 'robot', which refers to autonomous <i>hardware</i>; 2) it confuses AI with bog-standard deterministic programs; 3) it lets legacy systems persist even longer past their expiry date. Needless to say they are making billions, mostly in heavily-regulated industries which can't change their software without millions of dollars of oversight.</li><br>


	<li><i>numerate</i> (n.): Solecism for quantitative, trained in STEM (our best truthseeking methods). 'Numerate' is an outsider's way of putting it, as if patience with numbers were all it took to keep the modern information economy in the air.</li><br>


	<li><i>cobot</i> (n.):  collaborative robot. Physical augmentation for human tasks; safe despite strength.</li><br>

	<li><i>mar-tech</i> (n.):  marketing technology; called <i>adtech</i> by everyone else.</li><br>

	<li><i>foundry</i> (n.):  poncey name for a platform in the cloud</li><br>

	<li><i>bastion host</i> networking (n.):  Hardened gateway computer, running just a proxy server. Compare <a href="https://en.wikipedia.org/wiki/DMZ_(computing)">DMZ</a>, the logical counterpart.</li><br>

	<li><i>Business discovery</i> (n.):  rebranding of business intelligence, now that that has come to mean "boring data analysis stuff". Supposedly involves everyone.</li><br>

	<li><i>OKR</i> (n.):  yet another 'Objectives and Key Results' framework.</li><br>

	<li><i>to be off corp</i> (Google v.): to be off the official network and/or hardware; to work on one's own setup.</li><br>

	<li><i>SBU</i> (n.):  A Strategic Business Unit. Uses the popular but completely spurious "profit center" terminology: stuff like this is why reductionism has a bad name.</li><br>

	<li><i>toyetic</i> (n.):  toyable; merchandise-friendly.</li><br>

	<li><i>executive assistant</i> (n.):  inflated secretary. Courtier to the CEO king.</li><br>

	<li><i>TCF</i> (adj.):  treating customers fairly. First seen in the hilarious sentence "<i>We have achieved significant optimisations by overcoming our TCF inhibitions.</i>"</li><br>

	<li><i>workforce-planned area</i> (n.):  a physical area of a company where everything is highly timed and regimented, like a factory floor. Where HR and Ops constantly micromanage you. Sounds completely miserable, the second way that low-pay labour stabs you. <a href="https://en.wikipedia.org/wiki/Workforce_planning">This</a> is one of the most bland, buzzwordy Wiki pages I've ever seen.</li><br>

	<li><i>tiger team</i> (US n.):  Originally: "a team of undomesticated and uninhibited technical specialists, selected for their experience, energy, and imagination, and assigned to track down relentlessly every possible source of failure in a spacecraft subsystem". Now: "a team". </li><br>

	<li><i>ATR</i> (n.):  authority to recruit</li><br>

	<li><i>strats</i> (adj.): quant development. Originally a Goldman Sachs term, but copied fast. Original contraction isn't defined anywhere, but is "strategies".</li><br>

	<li><i>Advanced Persistent Threat</i> infosec (n.):  In cybersecurity, the worst foe. These people are 'Advanced' relative to a script kiddie or a skilled troll. Better funded, more patient, able and willing to try several different avenues of attack. A state actor</i> or a corporate black operator in a cyberpunk book). They 'will get in: the question is if you notice, and how much damage they do when they do.
	<blockquote>A conventional hacker or criminal isn't interested in any particular target. He wants a thousand credit card numbers for fraud, or to break into an account and turn it into a zombie, or whatever. Security against this sort of attacker is relative; as long as you're more secure than almost everyone else, the attackers will go after other people, not you. An APT is different; it's an attacker who -- for whatever reason -- wants to attack you. Against this sort of attacker, the absolute level of your security is what's important. It doesn't matter how secure you are compared to your peers; all that matters is whether you're secure enough to keep him out.</blockquote>
	</li><br>


	<li><i>PTO</i> (n.):  Paid Time Off; HR system which does not distinguish holidays, sick leave, and "personal days". 'Sounds good, but obvious perversities crop up one uniform cap applied to all: if you get ill after a long holiday, you have to work through it?</li><br>

	<li><i>permtractor</i> UK (n.):  permanent contractor: someone who works at a company for an extended period of time without being an employee. For tax reasons, or avoiding granting employee rights. The Revenoo apparently classes it as "disguised employment".</li><br>

	<li><i>simplification</i> (n.): new euphemism for downsizing, rightsizing, restructuring, etc.</li><br>

	<li><i>FIRE</i>: Finance, Insurance, Real Estate. Not just service economy; <i>second-order</i> services</li><br>

	<li><i>data fabric</i> (n.): no clear referent; replacement for "data lake", now that most places realise they can't actually merge all their data sources; maybe "pipeline of pipelines, interface of interfaces": files, DBs, streams, objects, images, sensor data and containers all accessed with a standard interface.</li><br>

	<li><i>on spec</i> (adj.): speculatively; without first being commissioned.</li><br>

	<li><i>collision installation</i> (n.):  business strategy in which a human helps you switch to the product; imparts metaphorical energy by "colliding" with you and sending you sailing into the CLTV. See also <i>Collison install</i>. </li><br>

	<li><i>iron butterfly</i> (n.):  Heavily hedged portfolio; what Taleb calls a barbell.</li><br>


	<li><i>killer bee:</i> (n.):  Anti-takeover consultant. Proposes defences against hostile takeovers. See also 'porcupine provision or 'shark repellent, what killer bees come up with.</li><br>

	<li><i>dragon bonds</i> (international finance n.):  Bonds issued by Asian nations in dollars, to attract foreign investment.</li><br>


	<li><i>parametric insurance</i> (n.):  policy with automatic claim payout, based on e.g. blockchain or smart contract conditions being met.</li><br>


	<li><i>invoice financing</i> (n.):  Payday loans for businesses.</li><br>


	<li><i>person analytics</i> (n.):  the creepy big-data approach arrives at the traditionally creepy HR department. Automated hiring, reward, and firing.</li><br>


	<li><i>smallcap</i> (finance n.):  a public company with a 'small' total market capitalization: like, a mere $0.3bn to $2bn.</li><br>

	<li><i>liability shift</i> (n.):  doing something (e.g. extra verification) that moves a fraud burden onto someone else. i.e. Outrunning your friend, <a href="http://www.businessinsider.com/outrunning-the-bear-2011-10?IR=T">not the bear</a>.</li><br>

	<li><i>data hygienist</i> new new economy (n.):  hypothetical future profession, scanning training data for socially unacceptable content to prevent future <a href="http://uk.businessinsider.com/microsoft-deletes-racist-genocidal-tweets-from-ai-chatbot-tay-2016-3?r=US&IR=T">Tays</a> or <a href="https://www.telegraph.co.uk/technology/2017/10/25/russian-ai-chatbot-found-supporting-stalin-violence-two-weeks/">Alisas</a>. See also data janitor, worldview trainer, explainability strategist, automation ethicist.</li><br>

	<li><i>to exitscam</i> confidence trick v.):  to run a company, eventually silently stopping business while still taking revenue. The denominalisation is new, for altcoins. Happened <a href="https://www.theguardian.com/technology/2015/mar/18/bitcoin-deep-web-evolution-exit-scam-12-million-dollars">a lot already</a>.</li><br>


	<li><i>Norwich Pharmacal orders</i> (English law (n.):  court order used to force disclosure of documents.</li><br>

	<li><i>Development</i> (n.):  Most often a pointless elaboration of "work" or "improvement". Software development</i> code work), international development</i> cultural and economic work), property development</i> lying to seven different parties until a building gets built), business development</i> "'growth-hacking'": market research and cold-calling), research and development</i> invention). Oddly, used for both very real and the very most bullshit jobs.</i> But then, so is "job".)</li><br>


	<li><i>shakeout</i> business (n.):  The collapse of a competitive industry into oligopoly. Wall Street word: you can hear the salivation.</li><br>

	<li><i>invisible network</i> computing (n.):  devices connected to a network without the techies' approval. Includes attackers and shadow apps. <a href="http://www.bbc.co.uk/news/business-41252203">This hospital sysadmin</a> found 40,000 devices that weren't explicitly listed or authorised on his net, mostly IoT gash.</li><br>

	<li><i>IBGYBG</i> (finance interjection):  I'll be gone, you'll be gone. 'This is terrible business, but don't interfere - we won't bear the downside.'</li><br>

	<li><i>O’Hare spread</i>: a financial portfolio consisting of an enormous 'position' (bet) over your authorised cap, plus a one-way plane ticket out of the country. "If you win, you are rich. If you lose, the plane ticket will get you out." The logical application of IBGYBG doctrine.</li><br>


	<li><i>data sleaze</i> (n.):  customer data obtained secretly by businesses, and secretly sold on. Almost all 'free' services are data sleaze operations.</li><br>


	<li><i>moving up the value chain</i> business nonsense v.):  performing work further away from physical extraction, processing, and manufacturing. Supposedly insulates you from competition because your outputs are less easily evaluated as they become less physical. Economic abstraction.</li><br>

	<li><i>FANG</i>: Facebook / Amazon / Netflix / Google, particuarly when their stocks are used as a bellwether. </li><br>


	<li><i>rebranding</i> v.):  "a euphemism for 'euphemism'" - Jonathan Meades</li><br>

	<li><i>the business self-improvement industrial complex</i>
	</li><br>


	<li><i>to effort</i> (Hinglish v.): to work hard on; "we are efforting this and will have results for you by w/e."</li><br>

	<li><i>the total universe</i> (n.): the statistical population; the entire market. Weird.</li><br>


	<li><i>time theft</i>: the inverse of wage clipping. One consultancy breaks it into: Time Card Theft; Over-Extended Breaks; Excessive Personal Time; Internet Time Theft; Hide and Seek; Sickie. FYI.</li><br>

	<li><i>dumb money / retail money</i>: the absolutely vital liquidity granted by clueless rich people.</li><br>


	<li><i>lifestyle businesses</i> (new economy n.): an intentionally low-key job: low hours in exchange for low or variable pay; e.g. a passive income stream.</li><br>


	<li><i>lifestyle town</i> (bs marketing n.):  Somewhere you move cos it's nice. e.g. Welwyn, Portland.</li><br>

	<li><i>written in tablets of jade</i> (US adj.):  permanent, incontrovertible. Curious!</li><br>


	<li><i>seeding trial</i> (US pharma):  marketing conducted in the name of research; bribe paid to doctors in the guise of a bonus for enrolling patients in a "trial".</li><br>


	<li><i>succession planning</i> (n.): Lining up replacements for senior managers in case of medical or PR disaster. (Cardinal Wolsey in a pantsuit.)</li><br>

	<li><i>to write</i> (v.): to underwrite; to take on the risks of.</li><br>

	<li><i>retrocessionary</i> (n.): the insurer of a reinsurer, "ceded" part of the first reinsurer's written reinsurance.</li><br>

	<li><i>to clopen</i> (worker v.): to shut the shop for the night, then go home to sleep inadequately, then come back and open the shop in the morning.</li><br>

	<li><i>acting up</i> (n.): performing work above one's position</li><br>

	<li><i>to socialise</i> (v.): to spread around; to make accepted by example. Surprisingly accurate view of org culture.</li><br>

	<li><i>information scrap</i> (v.): process of realising that your data is too crap to use and not worth cleaning. Evacuating the mine, finding the killswitch.</li><br>

	<li><i>information rework</i> (v.): process of spending a whole day cleansing a 4GB CSV, that it might be better than nothing for tomorrow.</li><br>

	<li><i>newsjacking</i> (n.): posting ads on social media in response to current affairs. A classy <a href="https://tvtropes.org/pmwiki/pmwiki.php/Main/LampshadeHanging">lampshade</a>.</li><br>

	<li><i>purchase funnel</i> (marketing n.): your journey from ignorance to being broke and surrounded by things.</li><br>

	<li><i>business rule</i> (n.): a boolean function</li><br>


	<li><i>NewSQL</i> (n.): The normies have caught up to "NoSQL" so we need a new thing.</li><br>

	<li><i>ETL and LTS</i> (compound v.): Extract-Transform-Load and Load-Transform-Store; covering the pre-processing and processing bits of a data pipeline.</li><br>

	<li><i>exputation</i> (n.): replacing hopelessly bad data with NULL or ?, flagging one's total uncertainty without biasing the sample (as in <i>listwise deletion</i>, the usual method). Item abnegation. My coinage. (Multiple imputation is a much subtler and less destructive method, I know.)</li><br>

	<li><i>brain-compiled</i> (adj.): code written without ever being run.</li><br>

	</ul>

</div>

</div><br>

