
<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        Another meme, less compressed, is <a href="https://www.brendanschlagel.com/canon/">the</a> <a href="http://worrydream.com/#!/Links">personal</a> <a href="http://dvncan.com/canon.html">Canons</a> <a href="http://davidcole.me/canon/">of</a> <a href="https://tomcritchlow.com/canon/">various</a> <a href="https://joelburget.com/canon/">cool</a> <a href="https://buster.gitbooks.io/public/book-of-beliefs.html">people</a>. These include people, blogrolls, videos, visual art, etc. Even better are "belief changelogs".

    </li>

    <li class="footnote" id="fn:2">
        My collection of <a href="/quotations">aphorisms</a> is another attempt at a safe statement of my worldview: it's modular and humorous and incomplete, so it should be easier to withdraw and add things, and not worry about what's not represented. It's also pretty short.
    </li>

    <li class="footnote" id="fn:3">
        Is a partial account worse than nothing? Am I saying moral philosophers should shut up? No, but they should have <a href="https://concepts.effectivealtruism.org/concepts/moral-uncertainty/">low confidence or hedge</a>.
    </li>
</ol>

</div>