
<div class="footnotes">
<ol>

	<li class="footnote" id="fn:1">
		<i>Fermi estimate</i>:	10,000 requests per person per day (like 300 actual page visits).<br><br>
		say 0.1 sec delay from ad loading and tracker execution, per request<br><br>
		~= 1000 secs ~= 17 mins per day.<br><br>

		15% blocked by the normal Pihole blacklist. Rest blocked by NoScript.<br><br>
	</li>

	<li class="footnote" id="fn:2">
		Supposedly Firefox is also <a href="{{incog}}">significantly faster</a> than Chrome in Private mode, but given the disparity in the two teams' funding I doubt this kind of advantage will last.
	</li>

	<li class="footnote" id="fn:3">
		Using a VPN and blocking cookies entirely makes Captchas unbearable - think 10 rounds of <i>extremely</i>-slowly-loading grids, blocked audio renditions, etc. I have a separate browser with cookies enabled which I only use to solve Captchas. Sad!
	</li>
</ol>
</div>



