<!--    Fn     -->

<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        An anthropologist friend has pointed out to me that American anthropology remains fairly scientific; most of the other geographical blocs diverged firmly into <a href="{{French}}">theory</a> in the late 60s. This makes the AAA's 2010 statement a coup as well as a calumny - given all the physical and linguistic anthropologists who work in their jurisdiction.<br>&nbsp;
    </li><br>
    <li class="footnote" id="fn:2">
        Sigh, <a href="{{Dcosta}}">but not always</a>.
    </li><br>
    <li class="footnote" id="fn:3">
        <br><blockquote>Science is what we understand well enough to explain to a computer. Art is everything else we do. </blockquote>
        <div align="center">- Donald Knuth</div>
    </li><br>
    <li class="footnote" id="fn:4">
        This noble quote is from <a href="{{Sahlins}}">Marshall Sahlins</a>, in the course of a book review where he <i>studiedly</i> fails to condemn a book known to be a scurrilous conspiracy theory, perhaps because the subject of the conspiracy theory is <a href="{{Chagnon}}">a colleague</a> whose methods he dislikes.
    </li><br>
    <li class="footnote" id="fn:5">
        I know that neither Diamond nor Pinker are self-described or institutionally 'anthropologists'. But they have written some of the most interesting Grand Anthropology work I have ever read, and they are indeed demonic figures in undergraduate anthropology courses.
    </li><br>
    <li class="footnote" id="fn:6">
        Sigh, but yes he was <a href="{{Influx}}">in practice very xenophobic</a>.
    </li><br>
    <li class="footnote" id="fn:7">
        Who was, admittedly, not known as a beacon of tolerance even towards peoples as nearby as fellow Brits:
        <br>
        <blockquote>The author of these memoirs will remember, that Johnson one day asked him, 'Have you observed the difference between your own country impudence and Scottish impudence?' The answer being in the negative: 'Then I will tell you,' said Johnson. 'The impudence of an Irishman is the impudence of a fly, that buzzes about you, and you put it away, but it returns again, and flutters and teazes you. The impudence of a Scotsman is the impudence of a leech, that fixes and sucks your blood.' 
        </blockquote>
        <br>- Arthur Murphy<br>&nbsp;
    </li><br>
    <li class="footnote" id="fn:8">
        (Beyond trivial differences, like the typical skin colour and population density of their subjects.)
    </li><br>
    <li class="footnote" id="fn:9">
        I've softened a bit since being first shocked by the happily non-scientific methods of some anthropologists. As <a href="{{JHJ}}">James Holland Jones notes</a>, wilful ignorance is more tragedy than scandal:
        <blockquote>
            The reasons for the marginalization of scientific approaches to anthropology are complex and do not fit neatly into the simplistic narrative of “objective, scientific anthropology ... under assault from interpretivists like Clifford Geertz who do not believe in truth.” No doubt, part of the problem is simply the compartmentalization of knowledge. <br><br>
            As scholars become increasingly specialized, it becomes more and more difficult to be both scientist and humanist. Increasingly, hiring decisions are zero-sum games. The gain of a scientist represents the loss of a humanist and vice-versa. Gone is Eric Wolf’s conception of Anthropology as <br><br>“both the most scientific of the humanities and the most humanist of the sciences”...
        </blockquote>
    </li><br>
    <li class="footnote" id="fn:10">
        The unsubtle common denominator of this slips into hard '<a href="{{ConRel}}">conceptual</a>' relativism: science as just the West's arrogant imperial way of knowing, with no superior claim to generality, replicability or authority.
    </li><br>
    <li class="footnote" id="fn:11">
        
    </li><br>
    <li class="footnote" id="fn:12">
        <i>Estimate quality</i>: <a href="/metrics">Spiegelhalter 0*</a>.
    </li>
</ol>
</div>
