<h3>Idioms</h3>
<div>
	Three ways of relating to a genre, a medium, an art, a school of thought, a field:<br>
<!--  -->
<ol>
	<li>Love: <a href="{{pro}}">to find value</a> <a href="{{xkcd}}">in ordinary examples</a>.</li>
	<li>Open to: to see the value of the best examples.</li>
	<li>Not open to: to struggle to see the value of even the best.</li>
</ol>
<br><br>

<ul>
	<li><i>Idioms I love</i><br> 
	punk, Latin jazz, statistics & machine learning, black comedy, epistemology, <a href="{{x4}}">4X</a>, informal logic, economic rationality, eclecticism and pluralism, purism and monism. American pragmatism, 'French' liberalism, 'English' liberalism, Afro-futurism, hacker lore, adult swim, synth-pop, hard science-fiction, effective altruism, transhumanism, empiricism of all kinds, competence-porn, lists. </li><br>
<!--  -->
	<li><i>Idioms I am open to</i><br>
	cinema in the arch sense, linguistics descriptive and prescriptive, hip-hop, free verse, country, trance, analytic philosophy, stimulants, camp, mathematics, qawwali, sketch comedy, body positivity, <a href="{{bod}}">bodybuilder positivity</a>, gender abolitionism, feminism, mechanical keyboards, mono no aware, Early music, anime/manga, senryu, reggae, folk, drone, ambient, glitch, funk, Romanticism, modernism, Hollywood action films, birdwatching, Art Nouveau, Art Deco. </li><br>
<!--  -->
	<li><i>Idioms I am not very open to</i><br> 
	any kind of fashion, depressant chemicals, jurisprudence, house, faith, self-help and pseudo motivation, muscular hypertrophy, artspeak, MFA writing, video monologues (i.e. 90% of Youtube), infographics, enterprise computing, the illiberal left, haute cuisine, primitivism, Neoreaction, phenomenology and critical theory and psychoanalysis, telenovella and soap, ballet and Dance, wuxia, steampunk, haiku, aleatory, fanfiction, period drama tv, continental philosophy, celebrity culture, social theory, typography, education theory, cultural anthropology, noise music. </li>
</ul>

</div>