<div class="accordion">
	<h3>Music</h3>
	<div>

	My favourite bands are Half Man Half Biscuit, E Street Band, Wave Pictures, Billie the Vision, Even in Blackouts, and anything with Andrew Falkous in it. My favourite singer/songwriters are Luke Kelly, Iris deMent, Joanna Newsom, John Darnielle, Aimee Mann. My favourite crooners are Neil Hannon, Rufus, Tom Waits, Fiona Apple. My favourite bad singers are Sam Hui, Frank Portman, Dexter Holland, Greig Steak, Jarvis Cocker, Gordon Gano, Howe Gelb, David Byrne, Blake Schwarzenbach.<br><br>
<!--  -->
	My favourite punk bands are the Minutemen, Bad Religion, Descendents, Boom Boom Kid, Misfits ('77-83), Fugazi, and Mclusky-Future of the Left. My favourite synth-pop is TNJX, Ratatat, Freezepop, Chairlift. My favourite classical pieces are <i>Appalachian Spring, Sleeping Beauty, the St John Passion, Salome</i>, Chopin's <i>Nocturnes</i> and I am made laughably sentimental by <a href="https://www.youtube.com/watch?v=eakKfY5aHmY">Canon in D</a>'. My favourite thug-hop is Big Pun, Raekwon, Eminem, and duh Jay-Z. <br><br>
<!--  -->
	My favourite saxophonists are Colin Stetson, Ornette Coleman, Coltrane, Clarence Clemens and Charlie Parker. My favourite guitarists are <a href="https://www.youtube.com/watch?v=7QLbi4E3-hI">Marc Ribot</a>, <a href="https://www.youtube.com/watch?v=TP3x-VdOb44">Robert Quine</a>, <a href="http://vimeo.com/50028752">David Tattersall</a>, <a href="https://www.youtube.com/watch?v=ySxkK0z4tpc">Guy Picciotto</a>, <a href="https://www.youtube.com/watch?v=VvO7HNQPFRI">John Perry</a>, <a href="https://www.youtube.com/watch?v=qOKlmKcu1L8">Nick Pynn</a>, <a href="https://www.youtube.com/watch?v=NsUKQWCzGEc">St Vincent</a>, and yeah <a href="https://www.youtube.com/watch?v=QIs7frg1i3M">John Darnielle</a>. My favourite Latin bandleaders are <a href="https://www.youtube.com/watch?v=xPc-M0r1ZRM">Desi Arnaz</a>, Gilberto Gil, Xavier Cugat, Tito Puente and Tom Ze. I will have favourite cellists one day. 

	</div>
</div><br>
