<h3>Don't know higher maths, don't know code</h3>
<div>Hell mode.<br>

	If you're like me, you'll need qualitative meaning first, to get you fired up: Gleick's <i>The Information</i> and Nilsson's <i>Quest for Artificial Intelligence</i>, Hofstadter's <i>Goedel, Escher, Bach</i>, Floridi's <i>Blackwell Guide to the Philosophy of Computation</i>, Howson's , O'Neil's <i>Weapons of Math Destruction</i>, Domingos' <i>Master Algorithm</i>. Then the real work begins:
	<ul>
		<li>Start with Python: Zed Shaw's <i>Learn the Hard Way</i> will get you moving, if you do as he tells you.</li>
		<li>You <i>must</i> read other people's code to improve. Try a gamified site like CodeWars, which shows you elegant solutions only after you sweat out a dreadful hack.</li>

		<li>Once you are comfortable with functions, work through <i>Think Stats</i>.</li>
		<li>I enjoyed <i>Statistical Inference for Everyone</i></li><br>
		<li></li>

	</ul>
</div>

<h3>Don't know higher maths, but can code</h3>
<div>Danger zone.
	<ul>
		<li>Work through <i>Think Stats</i>, <i>Think Bayes</i> and for Hackers.</li>
		<li>The Cambridge Maths for Science handbook is another focussed fave.</li> 
		<li>Maths for cs</li>
		<li>Tom Mitchell's <i>Machine Learning</i> is old but very clear.</li>
		<li>Efron and Hastie's <i>Computer Age Statistical Inference</i> is a treat.</li>
		<li>Ross' First Course in Probability</i></li>
		<li>Oehler's <i>A First Course in Design and Analysis of Experiments</i></li>
		<li>Mattuck's <i>Intro to Analysis</i>, chapters 1 - 17.</li>
		<li>then Strang's <i>Linear Algebra</i>, chapters 1,2,3,6 at least.</li>

	</ul>
</div>

<h3>Know higher maths, can't code</h3>
<div>Grasp ten times reach.
	<ul>
		<li><i>Learn the Hard Way</i> might be too slow.</li>
		<li>Tom Mitchell's <i>Machine Learning</i> is old but very clear.</li>
		<li>O'Neil's <i>Doing Data Science</i> is chatty but gives decently involved models in R.</li>
		<li>Neural Networks and Deep Learning is a great read.</li>
		<li>Jaynes' unfinished masterwork, <i>The Logic of Science</i> will tie together acres of mathematical ground. Start by reading his bitchy footnotes.</li>
		<li>Ron Rivest's Intro to Algos.</li>
	</ul>
</div>

<h3>Know higher maths, can code</h3>
<div>Well what are you waiting for?
	<ul>
		<li>William Chen's <i>120 Data Science Interview Questions</i> gives you a good sense of how the field unfolds in business settings. And how brutal it's going to be (if you interview in America).</li>
		<li>Mackay's</li>
		<li>Pearl's <i>Causality</i></li>
		<li>Shalizi's <i>Advanced Data Analysis</i> is a wonderful read.</li>
		<li>Blum et al, <i>Foundations of Data Science.</i></li>
		<li>Everybody always recommends Hastie and Tibshirani, but Mackay's my guy.</li>
		<li>Bishop's <i>Pattern Recognition</i> is synoptic but hard work.</li>
		<li>Then there are the tool books, but you'll have no problem with those</li>
	</ul>
</div>

