
<h3>Don't know higher maths, don't know code</h3>
<div>Hell mode.<br><br>

	If you're like me, you'll need qualitative meaning first, to get you fired up: Gleick's <i><a href="{{gleick}}">The Information</a></i> and Nilsson's <i><a href="{{qai}}">Quest for Artificial Intelligence</a></i>, Hofstadter's <i><a href="{{hofst}}">Goedel, Escher, Bach</a></i>, Floridi's <i><a href="{{floridi}}">Blackwell Guide to the Philosophy of Computation</a></i>, Howson's <a href="{{howson}}">Scientific Reasoning</a>, O'Neil's <i><a href="{{oneil}}">Weapons of Math Destruction</a></i>, Domingos' <a href="{{domingos}}"><i>Master Algorithm</i></a>. Then the real work begins:<br><br>
	<ul>
		<li>Start with Python: Zed Shaw's <i><a href="{{shaw}}">Learn the Hard Way</a></i> will get you moving, if you do as he tells you. Learn Python 3; you probably won't have much Python2 legacy code to handle.</li>
		<li>You <i>must</i> read other people's code to improve. Try a gamified site like <a href="https://www.codewars.com/">CodeWars</a>, which shows you elegant solutions only after you sweat out a dreadful hack.</li>

		<li>Once you are comfortable with basic abstraction, work through Downey's <i><a href="{{downey}}">Think Stats</a></i>.</li>
		<li>I enjoyed Blais' <i><a href="{{blais}}">Statistical Inference for Everyone</a></i> too.</li>
	</ul>
	Then read everything in the other sections below. (:
</div>


<h3>Don't know higher maths, but can code</h3>
<div>Danger zone.<br><br>
	<ul>
		<li>Work through Downey's <i><a href="{{downey}}">Think Stats</a></i>, <i><a href="{{bayes}}">Think Bayes</a></i> and Davidson's <a href="{{davidson}}">Probabilistic Programming for Hackers</a>.</li>
		<li>Grus' <i><a href="{{grus}}">Data Science from Scratch</a></i> will make you implement all kinds of cool statistical machines, which gives you an edge over even the highly mathematised people.</li>
		<li>Efron and Hastie's <i><a href="{{efron}}">Computer Age Statistical Inference</a></i> is a treat. It will persuade you that statisticians are presently being plagiarised and shortchanged.</li>
		<li>Ross' <a href="{{ross}}">First Course in Probability</a></i></li>
		<li>The <a href="{{cam}}">Cambridge Maths for the Natural Sciences</a> workbook is a focussed fave. Similarly, Meyer's <a href="{{meyer}}">Mathematics for Computer Science</a>.</li>
		<li>Tom Mitchell's <i><a href="{{mitchell}}">Machine Learning</a></i> is old but clear. And being old is good: cuts through hype and shows what is not new at all.</li>
		<li>Oehler's <i><a href="{{oehler}}">A First Course in Design and Analysis of Experiments</a></i></li>
		<li>Mattuck's <i><a href="{{mattuck}}">Intro to Analysis</a></i>, chapters 1 - 17.</li>
		<li>then Strang's <i><a href="{{strang}}">Linear Algebra</a></i>, chapters 1,2,3,6 at least.</li>
		<li>A partisan pick is Etz et al's <a href="{{etz}}">How to Become a Bayesian</a>.</li>
	</ul>
</div>


<h3>Know higher maths, can't code</h3>
<div>A reach ten times your grasp.<br><br>
	<ul>
		<li><i><a href="{{shaw}}">Learn Python the Hard Way</a></i> might be too slow. Try <a href="{{sargent}}">Sargent & Stachurski's <i>Quantitative Economics</i></a> (it's more broadly applicable than it sounds) or just dive into <a href="{{grus}}">Grus</a>.</li>
		<li>Schutz and O'Neil's <i><a href="{{schutz}}">Doing Data Science</a></i> is chatty but gives decent involved models in R.</li>
		<li><a href="{{nielsen}}">Neural Networks and Deep Learning</a> is a great read.</li>
		<li>Jaynes' unfinished masterwork, <i><a href="{{jaynes}}">The Logic of Science</a></i> will tie together acres of mathematical ground. Start by reading the bitchy footnotes!</li>
		<li>Rivest et al's <a href="{{rivest}}"><i>Intro to Algos</i></a>.</li>
	</ul>
</div>


<h3>Know higher maths, can code</h3>
<div>Well what are you waiting for?<br><br>
	<ul>
		<li>Chen's <a href="{{chen}}"><i>120 Data Science Interview Questions</i></a> gives you a good sense of how the field actually unfolds in business settings. And how brutal it's going to be if you interview in America.</li>
		<li>Mackay's <a href="{{mackay}}">Information Theory, Inference, and Learning Algorithms</a> is really very beautiful.</li>
		<li>Pearl's <i><a href="{{pearl}}">Causality</a></i> is groundbreaking, exciting, and clear</li>
		<li>Shalizi's <i><a href="{{shalizi}}">Advanced Data Analysis</a></i> is a wonderful read.</li>
		<li>Blum et al, <i><a href="{{blum}}">Foundations of Data Science</a></i> is maybe the first heavy textbook that focusses entirely on the core problems of the mishmash that is DS: hyper dimensionality is chapter 1, complexity theory, Bonferroni ghosts...</i></li>
		<li>Everybody always recommends <a href="{{hastie}}">Hastie and Tibshirani</a>, but Mackay's my guy.</li>
		<li>Bishop's <i><a href="{{bishop}}">Pattern Recognition</a></i> is similarly hyped. It is synoptic and rigorous but hard work.</li>
		<li>Then there are <a href="{{oreilly}}">the tool books</a>, but you'll have no problem with those</li>
	</ul>
</div>

