<h3>How much harder does the distributed bit make everything?</h3>
<div>
	Since 2006, the launch of MapReduce, not that much. Since 2014, the launch of Spark, only as hard as functional programming is.<br><br>

	One of the jarring things about Hadoop development, speaking as a C21st programmer, is the return to <a href="https://xkcd.com/303/">massive waits</a> between edit/compile/debug cycles (like, a 5 minute wait even using test data). This is the other price (besides your $100,000 Azure bill.)
</div>

