{%	assign kernel = "https://www.linuxfoundation.org/news-media/announcements/2008/10/linux-foundation-publishes-study-estimating-value-linux"	%}
{%	assign bibviz = "http://bibviz.com/" 	%}
{%	assign marx = "http://www.stephenhicks.org/2010/03/02/marxs-three-failed-predictions-ep/" 	%}
{%	assign freud = "http://articles.latimes.com/2004/feb/18/opinion/oe-dufresne18"	%}
{%	assign src = "https://github.com/torvalds/linux"	%}


<h3>Why do I need to code? I just want to analyse data.</h3>
<div>
	Well - you accept you must use software. And you are accustomed to using other people's software.<br><br> 

	But when your task is in any way unusual, or when you're a hotshot who needs more performance than the Enterprise people shovel at you, or when you need to glue together several other pieces of software, or when you want more than just one-off answers - i.e. a regular report, or millions of split-second decisions, or a giant real-time pipeline, or a whole weak AI of your very own - then you will be coding (or hiring coders).<br><br>

	Minimally, code is glue for systems: take input from tool #1, change the format a little, give to tool #2. We call this scripting.<br><br>

	Maximally, code is the heart of your comparative advantage and the reason you haven't been steamrolled into the competitive sump yet. We call this application development. An app unifies a whole process: networking, scraping and web API abuse, cleaning, crunching, graphics, mailing reports, whatever. <br><br>

	If you program your way through a data problem, you gain much power and efficiency. You:<br><br>
	<ul>
		<li>Can liberate the task from proprietary software. Done right, this yields 1) performance, 2) actual customisability, 3) massive cost savings. <a href="#fn:201" id="fnref:201">201</a></li><br>
		<li>Scalable. Neither SAS nor Oracle can touch open source HPC / distributed analysis. Commercial distributed tools will come, but expensively. Hadoop is free, except for the 100 servers you have to buy.</li><br>

		<li>Utterly flexible. Many of the best tools are just code libraries. (As opposed to full apps.) Can do unprecedented tasks.</li><br>
		<li>Your programs can do without the overhead of a GUI. </li><br>

		<li>Writing your analysis as a script means that you can share the work very easily, which means division of labour, reproducible results, and easy automation of even very intense quantitative work. </li>
	</ul>

</div>

<h3>Code as enquiry</h3>
<div>
	But there's a larger point: coding is a novel way of thinking <i>in general</i>. Yes, it is like maths - but testable, causal, interactive.<br><br> 

	A programming language is "how you tell a computer what to do". But before that it's a way to express ideas and get push back from a rational oracle. (It's not reality that's pushing back, of course. You don't know if they're true, but you know if they are clear, if they could even possibly be true, if you are not completely fooling yourself.)
	<br><br>

	Consider the Bible, or Karl Marx's work, or Sigmund Freud's work. These are rammed full of <a href="{{bibviz}}">invalid</a> <a href="{{marx}}">and</a> <a href="{{freud}}">unsound</a> ideas - but they are beautiful, unified, and powerful, so they proved persuasive to billions of people. Human language offers no easy test of consistency, no way of <a href="https://en.wikipedia.org/wiki/Well-defined">really precisely</a> connecting idea to idea. We have had only hard, piecemeal, irreplicable interpretation.<br><br> 

	To see what's added by code, here's a thought experiment: Imagine the economic value of a line-by-line description, in English, of <a href="{{src}}">the Linux kernel</a>. It would be nothing compared to <a href="{{kernel}}">the billions of dollars of value the kernel has created or saved</a>. <a href="#fn:200" id="fnref:200">200</a>
	<br><br>

	The computability of source code is a side effect of its clarity. Code is testable thought.
</div>

<h3>R or Python or Java or Scala?</h3>
<div id="codeFrame">
	This decision is really not as important as it looks. Scala and Python are beautiful to write. Java is everywhere (and lets you flick between DS and trad software engineering jobs). R is academically cutting-edge.<br><br>

	Alright, here's a deeper take - but you must add your own weights to the columns:<br>

    <script>  
        var src = "https://docs.google.com/spreadsheets/d/1x3sHe46qzXEGn6m7eVdiRlVWyi_Isu0ung6H6vf9o2g/pubhtml?chrome=false"; 
        definiteEvent( createIframe, [src, "codeFrame"] ); 
    </script>

	<br><br>Whatever you do, learn regex!
</div>





