
<h3>Why do I need to code? I just want to analyse data.</h3>
<div>
	If you program your way through a data problem, you gain much power and efficiency. You:<br><br>
	<ul>
	<li>Can liberate the task from proprietary software. Done right, this yields 1) performance, 2) actual customisability, 3) massive cost savings.</li>
	<li>Scalable. Neither SAS nor Oracle offer true distributed analysis. These distributed tools will come, but expensively. Hadoop is free, but for the 100 servers you have to buy.</li>
	<li>Utterly flexible. Can do unprecedented tasks.</li>
	<li>Your programs can do without the overhead of a GUI. </li>
	<li>Writing your analysis as a script means that you can share the work very easily, which means division of labour, reproducible results, and easy automation of even very intense quantitative work. </li>
	</ul>
</div>

<h3>R or Python or Java or Scala?</h3>
<div>
	This decision is really not as important as it looks. Scala and Python are beautiful to write. Java is everywhere (and lets you flick between DS and trad software engineering jobs). R is academically cutting-edge.<br><br>

	Alright, here's a deeper take - but you must add your own weights to the columns:<br>

	<iframe src="https://docs.google.com/spreadsheets/d/1x3sHe46qzXEGn6m7eVdiRlVWyi_Isu0ung6H6vf9o2g/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false;width=100%"></iframe>

	<br><br>Whatever you do, learn regex!
</div>

