{%  assign leemis = "http://www.math.wm.edu/~leemis/chart/UDR/UDR.html" %}


<div class="footnotes">
<ol>
    <!-- 1 -->
     <li class="footnote" id="fn:1">
        Though it maybe won't remain an art <a href="https://www.automaticstatistician.com/index/">for long.</a>
     </li>

    <li class="footnote" id="fn:2">
    	That <i>Programmer Competency Matrix</i> is aggressively written: it is exasperated with poor job applicants. But when I was a clueless beginner, I found it helpful for someone to just <i>tell</i> me what exactly I was missing, even if that was a long list and 10 years' work to go.
    </li>

     <li class="footnote" id="fn:3">
     	This quotation isn't very relevant, I just think it's bad ass. It is from Judea Pearl's <a href="http://digital.library.lse.ac.uk/objects/lse:xom745gab">acceptance speech for the Lakatos Award</a>. <br><br>
     </li>
     <!-- <li class="footnote" id="fn:4">
        Or, in Pedro Domingos' stark and good telling: "LEARNING = REPRESENTATION + EVALUATION + OPTIMIZATION."
     </li> -->
    <li class="footnote" id="fn:5">
        "70%" :
        <br><br><i>Estimate quality</i>: OK, a <a href='/metrics#spiegel-quality/'>Spiegelhalter (2*)</a>. 
        <br><i>Sample size</i>: 250. Not randomised.        
        <br><i>Source</i>: O'Reilly.
        <br><i>Importance to argument</i>: High.<br>&nbsp;
     </li>

    <li class="footnote" id="fn:6">
        The other very distinct job is of course "data engineer". But those are already distinguished properly in the job market, for the obvious reason that your cluster will crash and burn if you hire the wrong one of them. 
    </li>
    
    <li class="footnote" id="fn:7">
        <a href="{{leemis}}">Man this is a great site</a>.
    </li>

    <li class="footnote" id="fn:8">
        "Newer methods"? Newer than what?<br><br>

        Newer than pre-computer and tiny-sample statistical inference theory. You can get a sense for how new ML is from <a href="https://www.microsoft.com/en-us/research/people/cmbishop/">Bishop (2006)</a>. That book only mentions very important papers. And, in fact, <a href="https://docs.google.com/spreadsheets/d/1kmj9uXCyvzxnBhNGmH6iUMUvs-_0HevyhRDv2N7MxT0/pubhtml">summarising its bibliography</a> gets us a median year of 1995 and a mode year 1999. So even ignoring the disproportionately important last ten years, it is a very young field. 
    </li>

    <li class="footnote" id="fn:133">
        Also called <i>statistical error</i> or <i>random error</i>, but those names are vague to me. I suppose they get called statistical errors because you can use pure stats to detect and control for them, unlike systematic error.
    </li>

    <li class="footnote" id="fn:133">
        Model error and parameter error seem like they could be unified: if a model error is just a sufficiency large (number of) parameter errors. Making bad assumptions about e.g. auto-correlation between your features seems like just parameter error, while using the wrong distribution is model error.<br><br>

        This hinges on whether models are just big collections of parameters, I guess.
    </li>

    <li class="footnote" id="fn:200">
        which billions do not even count the main value Linux creates, externalities: induced demand for other software, and coerced quality from MS and Apple.
    </li>

    <li class="footnote" id="fn:201">
        Writing analysis scripts is much less heavy than real development, where it'd be absurdly expensive to '<a href="http://wiki.c2.com/?RollingYourOwnMethodology">roll your own</a>' very often.
    </li>

     <li class="footnote" id="fn:301">
        Following recent convention, she calls the systems 'algorithms'. But it isn't the inaccurate or static abstract program that does the harm, but credulous lack of validation of the program. They only do harm when they are allowed to make or guide decisions.<br><br>

        See also "recommender systems", "info filtering systems", "decision-making systems", "<a href="http://www.worldprivacyforum.org/wp-content/uploads/2014/04/WPF_Scoring_of_America_April2014_fs.pdf">credit scoring</a>".

    </li>
</ol>
</div>