
<div class="footnotes">
<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:2">
    	That Programming Competence Matrix is aggressively written, coming from exasperation with poor job applicants. But when I was a clueless beginner, I found it helpful for someone to just <i>tell</i> me what exactly I was missing, even if that was a long list and 10 years' work to go.
    </li>
     <li class="footnote" id="fn:3">
     	This quotation isn't very relevant, I just think it's bad ass. It is from Judea Pearl's <a href="http://digital.library.lse.ac.uk/objects/lse:xom745gab">acceptance speech for the Lakatos Award</a>. <br><br>
     </li>
     <!-- <li class="footnote" id="fn:4">
        Or, in Pedro Domingos' stark and good telling: "LEARNING = REPRESENTATION + EVALUATION + OPTIMIZATION."
     </li> -->
     <li class="footnote" id="fn:1">
        Though it maybe won't remain an art <a href="https://www.automaticstatistician.com/index/">for long.</a>
     </li>
</ol>
</div>