
<h3>What is big data?</h3>
<div>
    It's <i>like, so 2013</i>.<br><br>

    Practically speaking, big data is any dataset which cannot fit in memory on a very expensive computer. More abstractly, big data is the use of that: cheap, mass surveillance of private citizens by businesses.
</div>

<h3>Whoa, that doesn't sound disruptive or transformative at all!</h3>
<div>
    Oh it is - just not in your favour.<br><br>

    <a href="https://mathbabe.org">Cathy O'Neil</a> writes persuasively about perverse algorithms; from her I distilled this list of warning signs:<br><br>

    <i>Opacity</i><br>
    <ul>
        <li>Is the subject aware they are being modelled?</li>
        <li>Is the subject aware of the model's outputs?</li>
        <li>Is the subject aware of the model's predictors and weights?</li>
        <li>Is the data the model uses open?</li>
        <li>Is it dynamic - does it update on its failed predictions?</li>
    </ul><br>

    <i>Scale</i>
    <ul>
        <li>Does the model make decisions about many thousands of people?</li>
        <li>Is the model famous enough to change incentives in its domain?</li>
        <li>Does the model cause vicious feedback loops?</li>
        <li>Does the model assign high-variance population estimates to individuals?</li>
    </ul><br>

    <i>Damage</i>
    <ul>
        <li>Does the model work against the subject's interests?</li>
        <li>If yes, does the model do so in the social interest?</li>
        <li>Is the model fully automated, i.e. does it make decisions as well as predictions?</li>
        <li>Does the model take into account things it shouldn't?</li>
        <li>Do its false positives do harm? Do its true positives?</li>
        <li>Is the harm of a false positive symmetric with the good of a true positive?</li>
    </ul> 
</div>

<h3>Enough deep social implications: get to the boring bit</h3>
<div>The "data life cycle", which you might be lucky enough to control, depending on your organisation size:
    <ol>
        <li>Data capture.   </li>

        <li>Data maintenance. Busywork: any processing that doesn't generate value itself (movement, integration, cleansing, enrichment, extract-transform-load). Also calculating derived values like (Net revenue = Gross revenue - fixed costs - variable costs x units). </li>

        <li>Data synthesis. To creation values via some inductive logic: predictions or inferences.</li>

        <li>Data usage. Use in object-level tasks.</li>

        <li>Data publication. To send data outside the org. Includes data breaches.</li>

        <li>Data archival. To backup and then remove data from production environments.</li>

        <li>Data purging. To remove every copy from the org.</li>
    </ol>
</div>

<h3>What do people mean by "unstructured" data?</h3>
<div>
    It's another surprisingly vague term. It means something like "data without a schema, or normalisation, or metadata, or labelling as a good or bad outcome".
</div>


<h3>When do you <i>have</i> to structure data?</h3>
<div>
    When performance (network latency or model training speed or model accuracy) is more important than the cost.
</div>

