

<h3>I Am A Strange Loop</h3>
<div>
	We can also define a data scientist in a black-box manner, as follows:
		<ul>
			<li><b>learner</b>: an inductive program that takes in example data and outputs a model.</li>
			<li><b>model</b>: a deterministic program that takes examples and outputs predictions. </li>
			<li><b>data scientist</b>: an inductive program that takes a vague problem and data, and outputs a learner.</li>
		</ul><br>
 			
 		That ^ is vague; here's a breakdown of the actual tasks involved:<br>
</div>


<h3>The Data Science Process</h3>
<div>

Skill				As question										
		 
		 Domain analysis		What does this vague request really mean?		
		 Data collection		What evidence exists? What can I use?		
		 Exploratory analysis 	What is the data like? What jumps out?	
		 Tool choice			What software suits this task best?			
		 Metric choice		How will we judge success?					
		 Feature selection 	Which parts are useful?						
		 Data cleaning		How to remove flawed data?					
		 Data wrangling		How to transform data?						
		 Modelling			What structure will answer the question?	
		 Evaluation			How good is this model? Under conditions?	
		 Deployment			How will this be used? Who will use it?		
		 Communication		What result?	
	 <iframe src="https://docs.google.com/spreadsheets/d/1udu2AQuHDr7oP3E-bHkzBhyhSOZ7Y9UXKSzQqsvtZpI/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>

	
							
</div>


<h3>Do I need a Master's degree to get a data science job?</h3>
<div>
	Unless your target company are enlightened, this is pretty likely. The O'Reilly survey notes that . <br><br>

	My tangentially ML degree was a major factor in my getting hired. You should be able to start as an analyst and work up though.
</div>