

<h3>I Am A Strange Loop</h3>
<div>
	We can also define a data scientist in a black-box manner, as follows:
		<ul>
			<li><b>learner</b>: an inductive program that takes in example data and outputs a model.</li>
			<li><b>model</b>: a deterministic program that takes examples and outputs predictions. </li>
			<li><b>data scientist</b>: an inductive program that takes a vague problem and data, and outputs a learner.</li>
		</ul><br>
 			
 		That ^ is vague; here's a breakdown of the actual tasks involved:<br>
</div>


<h3>The Data Science Process</h3>
<div>
	<iframe src="https://docs.google.com/spreadsheets/d/1udu2AQuHDr7oP3E-bHkzBhyhSOZ7Y9UXKSzQqsvtZpI/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" style="height:50%;width:100%"></iframe>						
</div>


<h3>Do I need a Master's degree to get a data science job?</h3>
<div>
	<a href="http://cdn.oreillystatic.com/oreilly/radarreport/0636920029014/Analyzing_the_Analyzers.pdf">The 2013 O'Reilly survey of self-described data scientists</a> found 70% of respondents holding a Master's. Unless you are highly skilled already, or unless your target company are enlightened, you likely will. <br><br>

	You should be able to start as an analyst and work up though.
</div>