<br>That's a poorly defined question, Gavin. We can classify ML systems in a few ways: by the sort of data they use; by the abstract approach their algorithm takes; by the structure of the task they're solving, or by the literal task ("speech recognisers" or "car drivers")

<div class="accordion">
	<h3>By nature of inputs</h3>
	<div class="accordion">
		<h3>Unsupervised learning</h3>
			<div class="accordion">
				<h3>Clustering: unlabelled inputs, discrete output.</h3>
				<div>Centroid-based:
				Density-based:
				Distribution-based:
				Hierarchical:</div>
			</div>
		
		<h3>Supervised learning</h3>
		<div>
			Classification: labelled inputs, discrete output
		</div>
		<h3>Reinforcement learning</h3>
		<div>
			
		</div>
	</div>
	<h3>By nature of output</h3>
	<div>Classification, discrete output for given groups
		Regression
		Clustering, discrete output for unknown groups
		Density estimation, output the distribution of inputs.
		Dimensionality reduction 
	</div>
</div>
