<div class="footnotes">
<ol>
    <!-- 1 -->
     <li class="footnote" id="fn:1">
     	The size of the genetic component seems to be <a href="{{forty}}">30% - 40%</a> of variance. A further epigenetic component is being investigated right right now.<br><br>

        Current polygenic scores for complex traits like educational attainment or symptomatic psychosis are about <i>r</i> = 0.3, but note that this is an incredibly young methodology: the oldest citation on <a href="{{citation}}">that</a> Wiki page is 2009.
     </li>
</ol>
</div>