---
layout:   page
title:    Posts by category
permalink:  /tags
visible:  false
---

{%  assign site_categories = site.posts | map: "categories" 
                              | join: ','  | split: ',' 
                              | uniq | compact  
%}


{% for category in site_categories %}
  
  {%  if category == ''  %}
    {%  continue  %}
  {% endif %}


  <h3 id="{{category}}">{{ category }}</h3>
  <ul>
    {% for p in site.posts %}
        {%  assign cats = p.categories | split: ',' | join: ',' %} 
        {%  if cats contains category %}
            <li><a href="{{ p.url }}">{{ p.title }}</a></li>
        {% endif %} 
    {% endfor %} 
  </ul>
  <br>

{% endfor %}

<br><br>

<hr />

<br>

<h3>written in blood</h3>

{% assign posts = site.posts | where_exp: "item", "item.emotion > 6" %}
{% for post in posts %}
    {% if post.arb != 1 %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {%  endif   %}
{% endfor %}
