<div class="accordion">
    <h3>Ultimately irrelevant clarification</h3>
    <div>
        Premise 3 falsely equates "premiums" and "revenue".<br><br>

        Most insurer profit is "investment gains" - the money they make off investing the money you give them - and not the "underwriting profit", the direct flow from policyholders. (<a href="{{iii}}">Most years</a> have <i>no</i> property-casualty underwriting profit: they pay out more in claims than they get in premium. <a href="#fn:2" id="fnref:2">2</a><a href="#fn:4" id="fnref:4">4</a> )<br><br>
<!--  -->
        But these capital gains are being diverted from the policyholder - so the same argument applies one level up.<br><br>
<!--  -->
        Note that there seems to be <a href="{{ssc}}">a return multiplier (2x ?)</a> for large investors, so a bit less of insurer profit can <i>possibly</i> be considered misappropriated:<br><br>
<!--  -->
        <blockquote><i>Using the Forbes rich list, he calculates that Bill Gates et al must have grown their fortunes at rates approaching 8%–10% per year – far higher than the 4%–5% rate of return on capital Piketty usually uses. Forbes is a pretty sketchy data set, but he finds the same thing with the largest college endowments. The richest colleges, like Harvard and Yale, see their endowments grow at 10.2% yearly. Somewhat rich colleges (= $1 billion) grow at 8.8%, medium-rich colleges (= $500 million) at 7.8%, middling colleges (= $100 million) at 7.1%, and the poorest colleges (= $100 million) at 6.2%. And all of these do better than the average person saving for retirement, who gets about 4% to 5%.</i></blockquote>
    </div>
</div>

<br>
