<div class="footnotes">
<ol>

	<li class="footnote" id="fn:0">
		Most large endeavours couldn't exist <a href="{{comp}}">without</a> <a href="{{footbaw}}">heavy insurance</a> - the financial risk would scare everyone off otherwise. And being able to compensate people we harm, without ruining ourselves forever, is a clear win. <br>
	</li>

	<li class="footnote" id="fn:1">
		<blockquote>Il mondo è bello perché è vario.</blockquote>
	</li>

	<li class="footnote" id="fn:2">
		US market:
		<blockquote>
			Not a single underwriting profit was recorded in the 25 years from 1979 through 2003. And even though that streak ended in 2004, underwriting profits are anything but the norm they were in the 1930s, 1940s, and 1950s. In the eight years from 2004 through 2011, only three tallied underwriting profits.
		</blockquote>
	</li>

	<li class="footnote" id="fn:3">
		For a tiny number of people - those who give a lot to charity - this is justified, because they transfer money to help those at the sharper end of their own utility functions.
	</li>


	<li class="footnote" id="fn:4">
		and the similar <a href="https://www.ft.com/content/ca998e00-7a26-11e8-8e67-1e1a0846c475">UK market</a>: 
		<blockquote>EY expects the industry to post a combined ratio of almost 98 per cent this year. The industry has only posted a ratio below 100 per cent — suggesting an underwriting profit — in five of the past 33 years.</blockquote>
	</li>

	<li class="footnote" id="fn:5">
		Actuaries aren't perfect modellers by a long shot, but on average they do ok, and also err on the high side. So premise (3) is true.
	</li>


	<li class="footnote" id="fn:6">
		One reason Wodehouse novels are so enchanting is that they don't get boring despite being really formulaic. I've read 20 and plan to read the other 75.
	</li>

	<li class="footnote" id="fn:7">
		The precise curvature of the <i>U(money)</i>i> function is heavily contested, and will vary greatly from person to person and from time to time.<br><br>

		Much stronger claims are often made, though they currently contradict each other. <a href="https://www.nature.com/articles/s41562-017-0277-0">One large study</a> (n=1m) found "income satiation" (no strong evidence for increased happiness) at <a href="https://www.theatlas.com/i/atlas_HyKshEjwG.png">about $95k</a>.<br><br> 

		But we don't need any parameter in this post. (It just amazes me that we are only just beginning to study this incredibly important subject, 200 years into the age of mature science, 100 into the age of premature social science.)
	</li>

	<li class="footnote" id="fn:8">
		There <i>could</i> be people whose utility is linear in money - made happiest by simply following naive game theory and being risk-insensitive. But my friend is not one of them (you can tell because he isn't a <del>crack-smuggling</del> quant <del>who hacks crypto exchanges</del> in his spare time), so the argument as stated, as a general norm, fails.
	</li>

	<li class="footnote" id="fn:9">
		You get further if you think of a person as <a href="{{christia}}">a bundle of partially conflicting agents</a>. (For a flawed prototype, consider <a href="{{freud}}">Freud's</a> plagiarism of <a href="{{plato}}">Plato</a>.)
	</li>
</ol>
</div>