<br>

<div class="accordion">
    <h3>Some jargon</h3>
    <div>
        <ul>
            <li><i>premium</i>: money paid to the insurer for cover.</li>
            <li><i>underwriting profit</i> <code> = premiums - claim amounts - operating costs - taxes</code>.</li>
            <li><i>investment profit</i>: return to the insurer from using premiums as free capital.</li><br>
            <li><i>expected value</i>: the average payout, taking into account how likely it is.<br>
                <center><code>EV = probability of win &nbsp;x&nbsp; payout if you win</code></center>
            </li><br>
            <!-- <li><i>utility</i>: a spuriously precise way of saying sum enjoyment.</li> -->
            <li><i>utility function</i>: an abstraction about what we like; <i>the shape of our tastes</i>; a mapping from <br>
                <center><code>event -> subjective goodness of event</code></center>
            </li><br>
            <li><i>self-insurance</i>: paying for losses out of your own savings.</li>
            <li><i>general insurance</i>: anything but life insurance.</li>
            <li><i>property-casualty insurance</i>: cover for personal property (cars, homes) and liabilities.</li>
        </ul>
    </div>
</div>