<style>
.b { font-weight: bold; }
</style>


{%  assign comp = "http://riskheads.org/compulsory-insurance-uk/"		%}

{%  assign footbaw = "http://www.espn.com/espn/story/_/id/25776964"     %}

{%  assign ssc = "https://slatestarcodex.com/2018/06/28/highlights-from-the-comments-on-piketty/"    %}

{%  assign levy = "https://shlevy.tumblr.com/post/144938999140/argumate-never-ascribe-to-malice-that-which-can"  %}

{%  assign mart = "http://ftp.utalca.cl/profesores/irisco/imagenes/Modern_Actuarial_Risk_Theory.pdf"	%}

{%  assign iii = "https://www.insurancejournal.com/news/national/2012/02/09/234828.htm"		%}

{%  assign ft = "https://www.ft.com/content/ca998e00-7a26-11e8-8e67-1e1a0846c475"		%}

{%  assign satiety = "https://www.nature.com/articles/s41562-017-0277-0"		%}

{%  assign vnm = "https://en.wikipedia.org/wiki/Von_Neumann%E2%80%93Morgenstern_utility_theorem"	%}

{%  assign quarter = "http://news.rice.edu/2001/03/29/happiness-often-is-little-more-than-finding-a-quarter/"	%}

{%	assign dmu = "https://www.sociology.ox.ac.uk/materials/papers/2009-07.pdf"		%}

{%	assign christia = "https://sideways-view.com/2017/02/19/the-monkey-and-the-machine-a-dual-process-theory/"	%}

{%	assign freud = "https://en.wikipedia.org/wiki/Id,_ego_and_super-ego"	%}

{%	assign plato = "https://en.wikipedia.org/wiki/Plato%27s_tripartite_theory_of_soul"	%}