<div class="accordion">
    <h3>Insurance and self-insurance</h3>
    <div>
        Argument 1, where it applies, implies that one should <i>save</i> the money you don't spend on insurance, until you have enough to "self-insure", pay out of pocket for all relevant uninsured losses. <a href="{{nosave}}">People generally don't</a>, though, and so they are still being economically irrational when they go without insurance. (In particular, they don't get the investment profit that the insurer would have gotten, and, again, insurers often make an underwriting loss.)
    </div>

    <h3>Insurance as inertia or deletion of nonergodic nodes</h3>
    <div>
        To my surprise, the nonlinear utility "prospect theory" explanation for negative-EV behaviour has been under challenge <a href="{{gelman2}}">for decades</a>. An alternative explanation is "psychological inertia"
        <blockquote><i>
            the anomalies loss aversion was introduced to explain — the risky bet premium, the endowment effect, and the status-quo bias — are characterized not only by a loss/gain tradeoff, but by a tradeoff between the status-quo and change; and, that a propensity towards the status-quo in the latter tradeoff is sufficient to explain these phenomena. Moreover, I show that two basic psychological principles — (1) that motives drive behavior; and (2) that preferences tend to be fuzzy and ill-defined — imply the existence of a robust and fundamental propensity of this sort.
        </i></blockquote>
        <a href="{{ole}}">Another strand</a> denies that such bets are negative value at all: if you consider not the single-decision expected payoff but the 'time-average growth rate of wealth', then supposedly insurance averages out positive over a population over (a long) time. <br><br>

        <a href="{{rits}}">I'm not sure about this</a>, and the debate has an unproductive amount of heat (Gal accuses the field of bias to explain loss aversion's long life), partly owing to Taleb's twitter brigade getting involved. (A fine display of his personal "<a href="{{iyi}}">IYIs</a>".) But the evidence for loss aversion is certainly weaker than I expected.
    </div>
<!--  -->
<!--  -->
    <h3>Solve for the equilibrium</h3>
    <div>
        Motor liability insurance is mandatory in the UK, and in many places. One of my colleages works solely on motor, which he says makes him a <i>de facto</i> government employee - mostly not joking.
    </div>
<!--  -->
    <h3>Ben Orlin on the grim future of perfect knowledge</h3>
    <div>
        <blockquote><i>
            When we looked at the coins, we reduced our uncertainty, and without uncertainty, insurance collapses. If we know in advance who will suffer — whose boat will sink, whose employees will win the lottery, who will suffer that NFL-dream-crushing injury — then insurance becomes impossible. You can only pool risk among people who share it. In our medical system, this problem is unfolding year by year. Genetic testing and improved statistics threaten the basic logic of insurance.<br><br>
<!--  -->
            I see no easy solution. If you individualize the rates, then some folks pay pennies while others face premiums almost as steep as the medical bills themselves. But charging everyone the same amount turns a project of mutual benefit, with each of us hedging against risk, into a project of collective charity, with some folks subsidizing others. That’s a harder sell. It’s one reason why American healthcare remains so contentious.<br><br>
<!--  -->
            As a teacher, I’m inclined to think of all knowledge as a gift. But insurance complicates that story. Our ignorance of fate can force us to collaborate against it. We have built a democracy from our uncertainty—and new knowledge threatens that balance, as sure as flood or fire.
        </blockquote></i>
    </blockquote>
    <a href="{{orlin}}">Here.</a>
    </div>
</div>
