<div class="accordion">
    <h3>Counterargument from Chesterton's fence</h3>
    <div>You could argue from the status quo as follows:<br><br>
        <blockquote>
            1. A trillion-dollar insurance industry exists.<br>
            2. Only about <a href="">half of it</a> is government-mandated (in the UK).<br>
            3. Millions of people think that insurance is a good deal.
        </blockquote><br>
<!--  -->
    The critic must accuse them of being irrational - fair enough, we are in many ways, including some expensive ways. Why not in this?<br><br>
<!--  -->
    But we shouldn't jump to "irrationality" first. ("Never ascribe to stupidity that which can be explained by laziness. Never ascribe to laziness that which can be explained by people knowing their own lives better than you do." - <a href="{{levy}}">Shea Levy</a><br><br>
<!--  -->
    (One of my colleages works solely on motor insurance, which he says makes him a <i>de facto</i> government employee - not mostly joking.)
    </div>
<!--  -->
    <h3>Kinds of aversion</h3>
    <div>
        loss aversion: losses hurt more than gains gladden
        risk aversion
        https://en.wikipedia.org/wiki/Risk_aversion
<!--  -->
        Uncertainty is painful.
<!--  -->
        Internalising moral hazard.
    </div>
<!--  -->
<!--  -->
    <h3>Ben Orlin on the future</h3>
    <div>
        <blockquote><i>
            When we looked at the coins, we reduced our uncertainty, and without uncertainty, insurance collapses. If we know in advance who will suffer — whose boat will sink, whose employees will win the lottery, who will suffer that NFL-dream-crushing injury — then insurance becomes impossible. You can only pool risk among people who share it. In our medical system, this problem is unfolding year by year. Genetic testing and improved statistics threaten the basic logic of insurance.<br><br>
<!--  -->
            I see no easy solution. If you individualize the rates, then some folks pay pennies while others face premiums almost as steep as the medical bills themselves. But charging everyone the same amount turns a project of mutual benefit, with each of us hedging against risk, into a project of collective charity, with some folks subsidizing others. That’s a harder sell. It’s one reason why American healthcare remains so contentious.<br><br>
<!--  -->
            As a teacher, I’m inclined to think of all knowledge as a gift. But insurance complicates that story. Our ignorance of fate can force us to collaborate against it. We have built a democracy from our uncertainty—and new knowledge threatens that balance, as sure as flood or fire.
        </blockquote></i>
<!--  -->
    <h3>Bibliography</h3>
    <div>
        <a href="{{mart}}">Kaas, Goovaerts et al</a> (2002), <i>Modern Actuarial Risk Theory</i>
    </div>
</div>
