People believe in things, where they should instead provisionally accept <i>arguments</i>.

<br><br>


<div class="accordion">
	<h3>On what matters</h3>
	<div>	
		<div class="accordion">
			<h3>For the obligation to give money to the most unlucky</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Ordinary meat-eating is immoral</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Ordinary dairy consumption is immoral</h3>
			<div>
			</div>
		</div>
	</div>
</div>

<div class="accordion">
	<h3>Domestic</h3>
	<div>
		<div class="accordion">
			<h3>Melatonin is a good idea</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Nicotine is a good idea</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Caffeine is a mediocre idea</h3>
			<div>
			</div>
		</div>
	</div>
</div>