People believe in things, where they should instead provisionally accept <i>arguments</i>.

<br><br>


<div class="accordion">
	<h3>On what matters</h3>
	<div>	
		<div class="accordion">
			<h3>For the obligation to give money to the most unlucky</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Ordinary meat-eating is immoral</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Ordinary dairy consumption is immoral</h3>
			<div>
			</div>
		</div>
	</div>
</div>

<div class="accordion">
	<h3>Domestic</h3>
	<div>
		<div class="accordion">
			<h3>You should wear earplugs on the subway.</h3>
			<div>
			<ol>
				<li>The London tube peaks at 100 dB on some lines.</li>
				<li>This level of noise causes tinnitus reliably.</li>
				<li>Tinnitus is associated with depression and suicide.</li>
			</ol>
			</div>
		</div>

		<div class="accordion">
			<h3>You shouldn't reuse kitchen sponges</h3>
			<div>
			</div>
		</div>
		<div class="accordion">
			<h3>Melatonin is a good idea</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Nicotine is a good idea</h3>
			<div>
			</div>
		</div>

		<div class="accordion">
			<h3>Caffeine is a mediocre idea</h3>
			<div>
			</div>
		</div>
	</div>
</div>