
<div class="table-wrapper">
    <table>
        <tr>
            <th>Bet</th>
            <th>Bettor</th>
            <th>Odds</th>
            <th>Resolution</th>
        </tr>

        <tr>
            <td>
                Jun 2022: <i>Everything Everywhere All at Once</i> to win no Oscars besides Visual Editing. (0-1 Oscars overall)</td>
            <td>CR</td>
            <td>1:1, nice dinner</td>
            <td>To CR!</td>
        </tr>


        <tr>
            <td><a href="{{vsmike}}">July 2021</a>: Abaluck RCT shows >15% reduction in covid transmission.</td>
            <td>MH</td>
            <td>1:1, $100 to Givewell</td>
            <td>To me.</td>
        </tr>


        <tr>
            <td>June 2020: Biden wins election.</td>
            <td>CR</td>
            <td>1:1. Nice restaurant dinner.</td>
            <td>To me.</td>
        </tr>

        <tr>
            <td>Jan 2016: Trump finishes term.</td>
            <td>CR</td>
            <td>1:1. Nice bottle of whisky.</td>
            <td>To me.</td>
        </tr>

    </table>
</div>