<h3>Books</h3>
<div>
	I find that I've written three books: <a href="/files/argmin_gravitas.pdf">this site</a>, <a href="/poems">some poems</a>, and <a href="/files/2012-7.pdf">some book reviews</a>.<br><br>

	I try to review every book I read, because otherwise within 4 years I will have forgotten absolutely everything about it, making a mockery of my use of my time on this earth; because giving a novel, fair, and readable opinion is the best and most complete mental exercise; because it changes the way I read, knowing that I actually have to form a real view; and because it leverages my vanity for great ends (I wished to be known as someone who reads a lot).<br><br>

	Most book reviews are vacuous, blocklike expressions of approval or disapproval. There is nothing in them except the reviewer, their squeals. I do some of those, but I try to do <a href="/books">some of the other kind</a> too.<br><br><br>

	<div class="accordion">
		<h3>Currently reading</h3>
		<div>
			{%	include books/widget.html	%}
		</div>
		<h3>Favourite books</h3>
		<div>
			{%	include books/best_books_dec_20.html	%}
		</div>
	</div>
	<br><br>
</div>