
<h3>Books</h3>
<div>
	I accidentally wrote two books: this site, and <a href="/files/2012-7.pdf">some book reviews</a>.<br><br>

	I try to review every book I read. Most book reviews are vacuous, blocklike expressions of approval or disapproval. There is nothing in them except the reviewer, their squeals. I do some of those, but I try to do <a href="/books">some of the other kind</a> too.<br><br>

	<div class="accordion">
		<h3>Currently reading</h3>
		<div>
			{%	include books/widget.html	%}
		</div>
		<h3>Favourite books</h3>
		<div>
			{%	include books/best_books_dec_20.html	%}
		</div>
	</div>
</div>