
<h3>Books</h3>
<div>
	<a href="/books">I try to review every book I read.</a><br><br>

	Most book reviews are vacuous, blocklike expressions of approval or disapproval. There is nothing in them except the reviewer, their squeals. I do some of those, but I try to do some of the other kind too.<br><br>

	<div class="accordion">
		<h3>Currently reading</h3>
		<div>
			{%	include books/widget.html	%}
		</div>
		<h3>Favourite books</h3>
		<div>
			{%	include books/best_books_apr_20.html	%}
		</div>
	</div>
</div>