<h3>Change my mind</h3>
<div>
	I offer bounties for errors:<br><br>

	<ul>
		<li>$1 for nitpicks (ambiguities, misreadings, exceptions, technicalities).</li>
		<li>$10 for an error which falsifies a sentence.</li>
		<li>$50 for an error which invalidates a post.</li>
	</ul>
	<br> 

	I suppose this should all be multiplied by the confidence level of the post. Factual and logical errors are most likely to resolve cleanly; I probably won't cough up if you just tell me I'm an idiot for believing or not believing in e.g. Meinongianism. That would get a smile. <br><br>

	I'm not sure how to handle claims that have <i>changed</i> truth-value since I made them; half of this blog might be false if you return in 30 years. Leaning towards $1 to $5.<br><br>

	<style>
		td {
			padding: 15px;
		}
	</style>
	<div class="accordion">
		<h3>Payouts</h3>
		<div>
			<table class="tg">
			  <tr>
			    <th class="tg-fymr">Page</th>
			    <th class="tg-fymr">Error</th>
			    <th class="tg-fymr">Person</th>
			    <th class="tg-fymr">Payout</th>
			  </tr>
			  <tr>
			    <td class="tg-0pky">
			    	<a href="/about">About</a>
			    </td>
			    <td class="tg-0pky">
			    	Was unclear about the required size of error for a bounty, leading to a prima facie contradiction.
			    </td>
			    <td class="tg-0pky">
			    	Loki Sempere
			    </td>
			    <td class="tg-0pky">
			    	$10 to EA Funds
			    </td>
			  </tr>
			  <!--  -->
			  <tr>
			    <td class="tg-0pky">
			    	<a href="/psych">/psych</a>
			    </td>
			    <td class="tg-0pky">
			    	Overstated the consensus against Milgram. It's still shaky, and not really about obedience, but it's wrong to say there's no evidence, just that the original experiments were terrible.
			    </td>
			    <td class="tg-0pky">Matt Edwards</td>
			    <td class="tg-0pky">$5</td>
			  </tr>
			  <!--  -->
			  <tr>
			    <td class="tg-0pky">
			    	<a href="/gists">/gists</a>
			    </td>
			    <td class="tg-0pky">
			    	I said "constant time" instead of "constant time complexity". The function in question takes <b>3x</b> more time to process 2^64 than it does 2^0, hence the intermediate payout between nitpick and falsehood.
			    </td>
			    <td class="tg-0pky">
			    	Loki Sempere
			    </td>
			    <td class="tg-0pky">
			    	$5 
			    </td>
			  </tr>
			</table>
		</div>
		<!--  -->
		<!--  -->
		<h3>Bets</h3>
		<div>
			<table class="tg">
			<tr>
				<th class="tg-fymr">Bet</th>
				<th class="tg-fymr">Bettor</th>
				<th class="tg-fymr">Odds</th>
				<th class="tg-fymr">Resolution</th>
			</tr>
			<tr>
			    <td class="tg-0pky">
			    	Jan 2016: Trump finishes term.
			    </td>
			    <td>
			    	CR
			    </td>
			    <td>
			    	1:1. Nice bottle of whisky.
			    </td>
			    <td>
			    	To me.
			    </td>
		    </tr>
		    <tr>
			    <td class="tg-0pky">
			    	June 2020: Biden wins election.
			    </td>
			    <td>
			    	CR
			    </td>
			    <td>
			    	1:1. Nice restaurant dinner.
			    </td>
			    <td>
			    	To me.
			    </td>
		    </tr>
			</table>
		</div>
	</div>

</div>