<h3>Change my mind</h3>
<div>
	I offer bounties for errors:<br>

	<ul>
		<li>$1 for nitpicks (typos, ambiguities, misreadings, exceptions, technicalities).</li>
		<li>$10 for an error which falsifies a sentence.</li>
		<li>$50 for an error which invalidates an argument or a post.</li>
	</ul>
	<br> 

	Factual and logical errors are most likely to resolve cleanly; I probably won't cough up if you just tell me I'm an idiot for believing or not believing in e.g. Meinongianism. That would get a smile. <br><br>

	I'm not sure how to handle claims that have <i>changed</i> truth-value since I made them; half of this blog might be false if you return in 30 years. Leaning towards $1 to $5.<br><br>

	Also, if I make a claim you want to bet against, get in touch for odds.<br><br>

	<style>
		td {
			padding: 15px;
		}
	</style>
	<div class="accordion">
		<h3>Payouts</h3>
		<div>
			<table class="tg">
			  <tr>
			    <th class="tg-fymr">Page</th>
			    <th class="tg-fymr">Error</th>
			    <th class="tg-fymr">Person</th>
			    <th class="tg-fymr">Payout</th>
			  </tr>
			  <tr>
			    <td class="tg-0pky"><a href="/about">About</a></td>
			    <td class="tg-0pky">Was unclear about the required size of error for a bounty, leading to a prima facie contradiction.</td>
			    <td class="tg-0pky">Loki Sempere</td>
			    <td class="tg-0pky">$10 to EA Funds</td>
			  </tr>
			  <tr>
			    <td class="tg-0pky"></td>
			    <td class="tg-0pky"></td>
			    <td class="tg-0pky"></td>
			    <td class="tg-0pky"></td>
			  </tr>
			</table>
		</div>
	</div>

</div>