<h3>Change my mind</h3>
<div>
	I offer bounties for errors:<br>

	<ul>
		<li>$1 for nitpicks</li>
		<li>$10 for an error which falsifies a sentence</li>
		<li>$50 for an error which invalidates an argument or a post.</li>
	</ul>
	<br> 

	Factual and logical errors are most likely to resolve cleanly; I probably won't cough up if you just tell me I'm an idiot for believing or not believing in e.g. Meinongianism. That would get $1 and a smile. <br><br>

	Also, if I make a claim you want to bet against, get in touch for odds.
</div>