
<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        <blockquote>Es ist gleich tödlich für den Geist, ein System zu haben, und keins zu haben. Es wird sich also wohl entschließen müssen beides zu verbinden.</blockquote>
    </li>

    <li class="footnote" id="fn:2">
    	(or an equivalent value of my labour.)
    </li>

    <li class="footnote" id="fn:3">
    	<blockquote>Mathematics... is concerned with a wider domain than that domain which it is the object of the natural sciences to describe and categorize. The natural sciences are concerned with the actual world. Mathematics is concerned with &#8220;all possible worlds&#8221;.</blockquote>
		
        <center>&#8211; David Malet Armstrong</center><br><br>
    </li>

    <li class="footnote" id="fn:4">
    	<i>Opinions expressed are solely my own and do not express the opinions of my employer</i>, etc, etc.
    </li>

    <li class="footnote" id="fn:5">
    	If you count SAS. (If you do, I was employed to code before I learned to Code.)<br><br> 

    	Note that just being 'employed to code' says surprisingly little about your ability. And almost nothing about your possession of the spiritual advantages of technical life.
    </li>

    <li class="footnote" id="fn:6">
        <img src="/img/deirdre.jpg">
    </li>

    <li class="footnote" id="fn:7">
        Comment on my "vade mecum" book list including <i>Age of Em</i>.
    </li>

    <li class="footnote" id="fn:8">
        <a href="{{willeselb}}">Here</a>, 21/11/14. 
    </li>
</ol>

</div>