
<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        <blockquote>Es ist gleich tödlich für den Geist, ein System zu haben, und keins zu haben. Es wird sich also wohl entschließen müssen beides zu verbinden.</blockquote>
    </li>

    <li class="footnote" id="fn:2">
    	(or an equivalent value of my labour.)
    </li>

  <!--   <li class="footnote" id="fn:3">
    	<blockquote>Mathematics... is concerned with a wider domain than that domain which it is the object of the natural sciences to describe and categorize. The natural sciences are concerned with the actual world. Mathematics is concerned with &#8220;all possible worlds&#8221;.</blockquote>
		
        <center>&#8211; David Malet Armstrong</center><br><br>
    </li> -->

<!--     <li class="footnote" id="fn:4">
    	<i>Opinions expressed are solely my own and do not express the opinions of my employer</i>, etc, etc.
    </li>
 -->

    <li class="footnote" id="fn:6">
        <img src="/img/deirdre.jpg">
    </li>

    <li class="footnote" id="fn:7">
        Comment on my "vade mecum" book list including <i>Age of Em</i>.
    </li>

    <li class="footnote" id="fn:8">
        <a href="{{willselb}}">Here</a>, 21/11/14. 
    </li>


    <li class="footnote" id="fn:18">
        <a href="https://www.medrxiv.org/content/10.1101/2021.06.10.21258647v3">Gavin Leech - Tomáš Gavenčiak</a><br>
        <a href="https://arxiv.org/abs/1507.00640">Tomáš Gavenčiak - Jan Kratochvíl</a> <br>
        <a href="https://www.sciencedirect.com/science/article/pii/S0012365X08002355">Jan Kratochvíl - John Gordon Gimbel</a><br>
        <a href="https://onlinelibrary.wiley.com/doi/abs/10.1002/jgt.3190150604">John Gordon Gimbel - Paul Erdős</a>
    </li> 


    <!-- <li class="footnote" id="fn:100">
        POWER: Social status and prestige, control or dominance over people and resources.<br>
        ACHIEVEMENT: Personal success through demonstrating competence according to social standards.<br>
        HEDONISM: Pleasure or sensuous gratification for oneself.<br>
        STIMULATION: Excitement, novelty, and challenge in life.<br>
        SELF-DIRECTION: Independent thought and action - choosing, creating, exploring.<br>
        UNIVERSALISM: Understanding, appreciation, tolerance, and protection for the welfare of all people and for nature.<br>
        BENEVOLENCE: Preservation and enhancement of the welfare of people with whom one is in frequent personal contact.<br>
        TRADITION: Respect, commitment, and acceptance of the customs and ideas that traditional culture or religion provide.<br>
        CONFORMITY: Restraint of actions, inclinations, and impulses likely to upset or harm others and violate social expectations or norms.<br>
        SECURITY: Safety, harmony, and stability of society, of relationships, and of self.<br><br><br>
    </li> -->
</ol>

</div>