
<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
        <blockquote>Es ist gleich tödlich für den Geist, ein System zu haben, und keins zu haben. Es wird sich also wohl entschließen müssen beides zu verbinden.</blockquote>
    </li>

    <li class="footnote" id="fn:2">
    	(or an equivalent value of my labour.)
    </li>

  <!--   <li class="footnote" id="fn:3">
    	<blockquote>Mathematics... is concerned with a wider domain than that domain which it is the object of the natural sciences to describe and categorize. The natural sciences are concerned with the actual world. Mathematics is concerned with &#8220;all possible worlds&#8221;.</blockquote>
		
        <center>&#8211; David Malet Armstrong</center><br><br>
    </li> -->

<!--     <li class="footnote" id="fn:4">
    	<i>Opinions expressed are solely my own and do not express the opinions of my employer</i>, etc, etc.
    </li>
 -->
    <li class="footnote" id="fn:5">
    	If you count SAS. (If you do, I was employed to code before I learned to Code.)<br><br> 

    	Note that just being 'employed to code' says surprisingly little about your ability. And almost nothing about your possession of the spiritual advantages of technical life.
    </li>

    <li class="footnote" id="fn:6">
        <img src="/img/deirdre.jpg">
    </li>

    <li class="footnote" id="fn:7">
        Comment on my "vade mecum" book list including <i>Age of Em</i>.
    </li>

    <li class="footnote" id="fn:8">
        <a href="{{willselb}}">Here</a>, 21/11/14. 
    </li>

    <li class="footnote" id="fn:9">
        <i>e.g.</i> a <a href="https://github.com/g-leech/Py2HTK">computational linguistics wrapper</a>
        <br>
        <i>e.g.</i> a full notebooked ML pipeline, from sparse raw csvs to GBM to policy implications.
    </li>

    <li class="footnote" id="fn:11">
        <i>e.g.</i> An ironclad medicine pump controller with WPF.
    </li>

    <li class="footnote" id="fn:12">
        <i>e.g.</i> A CRUD procurement app with Angular and  .NET.
    </li>

    <li class="footnote" id="fn:13">
        <i>e.g.</i> a secure pharmacy record ("Rx") system.
    </li>

    <li class="footnote" id="fn:14">
        e.g. Various YARN batch jobs, processing a few TB then emailing out regular tabular summaries.
    </li>

    <li class="footnote" id="fn:15">
        e.g. Debugging HDFS schema issues with Avrotools.
    </li>

    <li class="footnote" id="fn:16">
        <i>e.g.</i> chaining Shell and Pig scripts to crunch and mail reports.
    </li>

    <li class="footnote" id="fn:17">
        <i>e.g.</i> fairly complex websites, Laravel prototyping, a cURL handler for a credit card storage API. 
    </li>

<!--     <li class="footnote" id="fn:18">
        More superficially, I was blown away when I saw the Scottish Government's sysadmins slouching through the crowd of suits in Behemoth and Orange Goblin t-shirts. <i>There</i> was power, enough to ignore irrelevancy and puffery.
    </li>
 -->        
    <li class="footnote" id="fn:18">
        A conflict of interest: I am (indirectly) funded by <a href="{{engsci}}">UKRI</a> and so really by the British government.
    </li>


    <!-- <li class="footnote" id="fn:100">
        POWER: Social status and prestige, control or dominance over people and resources.<br>
        ACHIEVEMENT: Personal success through demonstrating competence according to social standards.<br>
        HEDONISM: Pleasure or sensuous gratification for oneself.<br>
        STIMULATION: Excitement, novelty, and challenge in life.<br>
        SELF-DIRECTION: Independent thought and action - choosing, creating, exploring.<br>
        UNIVERSALISM: Understanding, appreciation, tolerance, and protection for the welfare of all people and for nature.<br>
        BENEVOLENCE: Preservation and enhancement of the welfare of people with whom one is in frequent personal contact.<br>
        TRADITION: Respect, commitment, and acceptance of the customs and ideas that traditional culture or religion provide.<br>
        CONFORMITY: Restraint of actions, inclinations, and impulses likely to upset or harm others and violate social expectations or norms.<br>
        SECURITY: Safety, harmony, and stability of society, of relationships, and of self.<br><br><br>
    </li> -->
</ol>

</div>