<h3>Giving</h3>
<div>
	<a href="{{GWWC}}"><img src="/img/GWWC.jpg" hspace="20" width="100px" height="100px" align="left" /></a>
	I'm a member of <a href="{{GWWC}}">Giving What We Can</a>, people who pledge substantial amounts of their lifetime income to the most effective charitable causes. I'm donating <a href="{{MyGiving}}">5% this year</a>, aiming at 50% overall <a href="#fn:2" id="fnref:2">2</a>. My reasoning on the most important causes, and my present basket of charities is forthcoming.<br><br><br>
<!--  -->
	I am cause-neutral (in the sense that I will support whatever is highest value, to the extent that objective evaluation is possible) and cause-sceptical (in the sense that we don't really know what the best thing to do is).
<!--  -->
	<!--     80,000 Hours on moral stance and strategy
    <ul>
        <li><i>By launching a concerted campaign, a relatively small group of people can make a significant and lasting change to society’s moral attitudes to an important issue.</i>
        Not sure. It looks that way, but we can't make a causal inference; activists could be an epiphenomenon. </li>
        <li><i>Empowering people with better technology and wealth is a good way to build a good long-term future for society. New technology, information and economic growth don't usually have such large downsides that they outweigh the benefits.</i>
        Agree (except vis a vis AI risk).</li><br>
        <li><i>How likely is it that humans will go extinct in the next 50 years?</i>
        Unlikely but possible (1 - 15% chance)</li>
        <li><i>two scenarios: A nuclear war kills 90% of the human population, but we rebuild and civilization eventually recovers. A nuclear war kills 100% of the human population and no people live in the future. How much worse is the second scenario?</i>
        Vastly worse. 100x +</li>
        <li><i>If you want to have a large positive impact, it’s often better to focus on high-risk, high-return opportunities, like speculative research, social advocacy or entrepreneurship (as opposed to more proven ways to do good, like distributing vaccines).</i>
        Agree</li>
        <li><i>Promoting moral concern for all conscious beings is one of the best ways to build a good long-term future.</i>
        Agree. Consequentialism is harder to twist into totalitarianism: nothing justifies causing suffering except greater suffering. </li><br>
        <li>How likely is it that humanity will create AI systems that can perform nearly all human professions as well humans in the next 50 years?
        Unlikely but possible (1 - 15)</li><br>
    </ul>
-->
</div>