{%		assign Axa = "https://www.axa.com/en/about-us/emerging-risks"			%}
{%		assign welf = "https://en.wikipedia.org/wiki/Welfare_economics"			%}
{%		assign cs = "https://www.scottaaronson.com/blog/?p=152"					%}
{%		assign stat	= "http://en.wikipedia.org/wiki/Statistics" 				%}

{%		assign Form = "https://docs.google.com/forms/d/e/1FAIpQLSf64CLW-qs7ypI3U7ArHWuLn_s7VvoV7Spn7FvbM_B29NG9Dg/viewform?usp=sf_link"			%}

{%		assign Hide = "https://en.wikipedia.org/wiki/Information_hiding" %}
{%		assign Cult = "http://bryanschuetz.github.io/culture-namer/ships/experiencing-significant-gravitas-shortfall/" %}
{%		assign Arg = "http://math.stackexchange.com/questions/227626/explanation-on-arg-min" %}
{%		assign Colada = "http://datacolada.org/" %}
{%		assign GWWC = "https://www.givingwhatwecan.org/" %}
{%		assign MyGiving = "https://www.givingwhatwecan.org/igivedisplay?publicid=7778&publicauth=747719919" %}
{%		assign Doom = "http://www.overcomingbias.com/2016/12/chip-away-at-hard-problems.html" %}
{%		assign PridePrescience = "https://docs.google.com/spreadsheets/d/1c2NrUwnWR-emBf6QGwVeTjkma67Ibeb9eGp4eYvnWmE/edit?usp=sharing" %}
{%		assign Contro = "http://gleech.org/controversy" %}
{%		assign Anthro = "http://gleech.org/anthropology" %}
{%		assign Rot = "https://github.com/gavin-leech/rotgone" %}
{%		assign Noah = "noahpinionblog.blogspot.co.uk/" %}
{%		assign Artir = "https://nintil.com/" %}
{%		assign Kelsey = "http://theunitofcaring.tumblr.com/" %}
{%		assign Scott = "http://slatestarcodex.com/" %}
{%		assign Gelman = "http://andrewgelman.com/" %}

{%		assign Gwern = "https://gwern.net" %}
{%		assign Jeffk = "https://www.jefftk.com/index" %}
{%		assign Dillow = "http://stumblingandmumbling.typepad.com/" %}
{%		assign Luu = "https://danluu.com/popular/" %}
{%		assign quot =	"http://gleech.org/quotations"	%}
{%		assign Dril = "https://twitter.com/dril"			%}

{%		assign eire = "https://ie.linkedin.com/in/gavin-leech-ba594969"		%}
{%		assign oz = "http://www.stockandland.com.au/story/4264414/return-buyers-boost-kerrsville-clearance/"	%}
{%		assign driving = "http://www.bensonschoolofmotoring.co.uk/pupil-testimonials/"	%}
{%		assign dave = "https://www.hedweb.com/social-media/2017.html"		%}
{%		assign sugar = "https://www.endeavour.com.au/media-news/press-releases/sweet-taste-of-success"		%}
{%		assign scaruffi = "http://scaruffi.com/biblio.html"		%}
{%		assign safety = "http://www.dcs.gla.ac.uk/~johnson/teaching/safety/default.html"		%}
{%		assign yearsCode = "https://github.com/g-leech/argmin-gravitas/blob/master/_includes/years-of-code"		%}
{%		assign cvcv = "https://github.com/g-leech/MachineCV/blob/master/jobs_4_machines.json" %}
{%		assign metrics = "https://www.gleech.org/metrics" 	%}
{%		assign willselb = "https://youtu.be/AnRoL54Jqcg?t=54m46s"	%}
{%		assign telo = "https://en.wikipedia.org/wiki/Telomere#Shortening"			%}
{%		assign methyl = "https://en.wikipedia.org/wiki/DNA_methylation#In_aging"	%}
{%		assign p16 = "https://en.wikipedia.org/wiki/P16"		%}
{%		assign oxy = "https://en.wikipedia.org/wiki/Oxidative_stress"		%}
{%		assign kin = "https://www.ncbi.nlm.nih.gov/pubmed/20388076"	%}
{%		assign amy = "https://en.wikipedia.org/wiki/Amyloid_beta"		%}
{%		assign pov = "http://www.globalissues.org/article/26/poverty-facts-and-stats"		%}
{%		assign john = "http://johndarnielle.tumblr.com"		%}

{%		assign david = "http://withouthotair.com/about.html"			%}
{%		assign rob = "https://www.againstmalaria.com/people.aspx"		%}
{%		assign archi = "https://www.gleech.org/system"		%}


{%		assign threeWeeks = "http://www.threeweeksedinburgh.com/gavinleech/"		%}
{%		assign sophia = "https://www.sophiamag.co.uk/single-post/2017/12/10/Why-I-Am-Not-A-Philosopher"		%}




<!-- [Axa]:					https://www.axa.com/en/about-us/emerging-risks
[Schlegel]:				http://www.zeno.org/Literatur/M/Schlegel,+Friedrich/Fragmentensammlungen/Fragmente
[Proj]:					http://gleech.org/projects
[Form]:					https://docs.google.com/forms/d/e/1FAIpQLSf64CLW-qs7ypI3U7ArHWuLn_s7VvoV7Spn7FvbM_B29NG9Dg/viewform?usp=sf_link

[gwern]:				https://twitter.com/gwern
[dsfaq]:				http://gleech.org/data-science
[Parasite]:				http://blogs.sciencemag.org/pipeline/archives/2016/01/22/attack-of-the-research-parasites
[Sciento]:				https://en.wikipedia.org/wiki/Scientometrics
[LongContentIsLong]:	http://www.gwern.net/About#long-content
 -->