<h3>Misc</h3>
<div>

<div class="accordion">

	<h3>Inspired by</h3>
	<div>
		People like '<a href="{{Gwern}}">Gwern Branwen</a>', <a href="{{Gelman}}">Andrew Gelman</a>, '<a href="{{Scott}}">Scott Alexander</a>', '<a href="{{Kelsey}}">Kelsey of Caring</a>', <a href="{{scaruffi}}">Piero Scaruffi</a>, <a href="{{dave}}">David Pearce</a> inspire me.<br><br>
	</div>
</div>

<div class="accordion">

	<h3>Endorsements</h3>
	<div>
		<blockquote>Utterly charming. In the nature of such lists, one does not expect to agree with every, single one---of course not. But [your] lists exhibit a lively and critical mind, unwilling to follow the usual party lines.</blockquote>

		– Deirdre McCloskey <a href="#fn:6" id="fnref:6">6</a>	
		<br><br><br>

		<blockquote>I'm honoured to be on your list [of favourite books].</blockquote>
		– Robin Hanson <a href="#fn:7" id="fnref:7">7</a>

		<br><br><br>

		<blockquote>Nice image, young man. You may be a writer.</blockquote>
		– Will Self <a href="#fn:8" id="fnref:8">8</a>	

		<br><br><br><br>

		Also my mum says I'm cool.
	</div>
</div>

<div class="accordion">

	<h3>Title</h3>
	<div>
		The title alludes to Iain Banks' <i><a href="{{Cult}}">Culture</a></i> novels, in which pompous people are mocked with ship names that have little <i>gravitas</i>. To take the <i><a href="{{Arg}}">arg min</a></i> of something is to find the thing which results in its lowest value. 			
	</div>
</div>


<div class="accordion">

	<h3>Why so many quotations?</h3>
	<div>
		<a href="{{quot}}">Well, they're the densest store of insight</a>. We are not empiricists by nature or by culture, so they are my concession to the apeish narrative side of mind. That quotes page is like a message digest of 10 years of me reading and learning. 

		<br><br>I sometimes regret my instinctual distrust of Twitter: a lot of <a href="https://twitter.com/gwern">contemporary</a> <a href="https://twitter.com/dril">aphorists</a> must be whiling away the years on there.<br><br>
	</div>

	<h3>Metrics</h3>
	<div>
		<a href="{{metrics}}">Here are scales</a> for rating all kinds of things.
	</div>

	<h3>Loss function</h3>
	<div>Above all I hope to beat the trend spotted <a href="{{Doom}}">by Robin Hanson</a> about independent scholars:<br><br>
		<blockquote>over time amateurs blow their lead by focusing less and relying on easier, more direct methods. They rely more on informal conversation as analysis method, they prefer personal connections over open competitions in choosing people, and they rely more on a perceived consensus among a smaller group of fellow enthusiasts. As a result, their contributions just don’t appeal as widely or as long.</blockquote>
	</div>

	<h3>Gavins Leeches</h3>
	<div>
		I am not an <a href="{{driving}}">English driving instructor</a>, nor an <a href="{{eire}}">Irish bank manager</a>, nor an <a href="{{oz}}">Australian sheep farmer</a>, nor an <a href="{{sugar}}">Australian sugar worker</a>. 
	</div>

	<h3>Illnesses</h3>
	<div>
		I suffer from degenerative <a href="{{telo}}">telomere erosion</a>, gradually cognivorous <a href="{{amy}}">amyloid growth</a>, irreversible <a href="{{methyl}}">DNA methylation</a>, imperceptible <a href="{{p16}}">p16</a> poisoning, increasingly <a href="{{kin}}">lazy kinases</a>, and so ultimately <a href="{{oxy}}">oxygen poisoning</a>, like everyone. 
	</div>

</div>


<div class="accordion">
	<h3>What's with all these accordions?</h3>
	<div>
		<a href="{{Hide}}">Information hiding</a> is a basic condition of good large software; these accordions are a prose analogue. The hope is that, by tucking away wires, I can write long things without triggering anyone's TL;DR reflex.<br><br> 

		It also sort of simulates a dialogue with the reader: I plant a question, and then they prompt for the response.
	</div>
</div>

</div>