<h3>Misc</h3>
<div>

<div class="accordion">

	<h3>Epigram</h3>
	<div>
		<br>
		<blockquote>
			It is equally fatal to the spirit to have a system and to not have a system. <br>One will likely have to combine the two. 
			<a href="#fn:1" id="fnref:1">1</a>
		</blockquote>
		<div align="center">— Friedrich Schlegel</div>
		<br /><br />

		<blockquote>
			...there is in men and women a motivation stronger even than love or hatred or fear. It is that of being <span style="font-weight:bold">interested</span> — in a body of knowledge, in a problem, in a hobby, in tomorrow’s newspaper.
		</blockquote>
		<div align="center">— George Steiner</div>
		<br /><br />
	</div>

	{%		include about/psychology.html		%}

	{%		include about/code.html		%}


	<h3>Elsewhere</h3>
	<div>
		<ul>
			<li><a href="{{goodreads}}">Book reviews at Goodreads</a>.</li>
			<li><a href="{{sophia}}">'Why I am Not a Philosopher'</a> (2017) at <i>Sophia</i>.</li>
			<!-- <li><a href="{{glasgow}}">Review of my Master's programme</a> in software development.</li> -->
			<li><a href="{{threeWeeks}}">Bunch of old theatre reviews</a> at <i>ThreeWeeks</i>.</li>
			<li>Sax on '<a href="{{erased}}">I Get Erased</a>' (2012) by Goff.</li>
			<li>Sang on '<a href="{{cantor}}">Last Year's Man</a>' (2019) by Swamp Spice.</li>
		</ul>
	</div>

	
	<h3>Inspired by</h3>
	<div>
		People like <a href="{{rob}}">Rob Mather</a>, <a href="{{david}}">David MacKay</a>, '<a href="{{Gwern}}">Gwern Branwen</a>', '<a href="{{Scott}}">Scott Alexander</a>', '<a href="{{Kelsey}}">Kelsey of Caring</a>', <a href="{{john}}">John Darnielle</a>, <a href="{{scaruffi}}">Piero Scaruffi</a>, <a href="{{meades}}">Jonathan Meades</a>, <a href="{{newsom}}">Joanna Newsom</a>, <a href="{{dave}}">David Pearce</a>...<br><br>
	</div>


<!-- 	<h3>Currently reading</h3>
	<div><br>
		<ul>
			<li><i>Quantum Computing Since Democritus</i> (2013) by Scott Aaronson</li>
			<li><i>Kissinger</i> (1992) by Walter Isaacson</li>
			<li><i>The Master Algorithm</i> (2015) by Pedros Domingos</li>
		</ul>
		<br>
	</div> -->

	<h3>Title</h3>
	<div>
		An <i><a href="{{Cult}}">Iain Banks</a></i> allusion: his powerful protagonists tease pompous people by taking names with as little <i>gravitas</i> as possible. To take the <i><a href="{{Arg}}">arg min</a></i> of something is to find the thing which results in its lowest value. 			
	</div>


	<h3>Endorsements</h3>
	<div><br>
		<blockquote>Utterly charming. In the nature of such lists, one does not expect to agree with every, single one---of course not. But the lists exhibit a lively and critical mind, unwilling to follow the usual party lines.</blockquote>

		– Deirdre McCloskey <a href="#fn:6" id="fnref:6">6</a>	
		<br><br><br>

		<blockquote>I'm honoured to be on your list [of favourite books].</blockquote>
		– Robin Hanson <a href="#fn:7" id="fnref:7">7</a>

		<br><br><br>

		<blockquote>Nice image, young man. You may be a writer.</blockquote>
		– Will Self <a href="#fn:8" id="fnref:8">8</a>	

		<br><br><br><br>

		Also, my mum says I'm cool.<br>
	</div>


	<h3>Identity</h3>
	<div>
		I try not to identify as things. My premises, projects and preferences say overwhelmingly more about me than my social identity does. 
	</div>


	<h3>Tone</h3>
	<div>
		I'm sometimes told I'm too strident. I'll accept this, because constant hedging is unreadable, more annoying than authoritativeness. Also because strong claims galvanise opposition: as long as they're reasonable as well as strong, hopefully this stimulus creates value.<br><br>
		
		Anyway I'm not as sure as I sound: there's a comment box under every piece, call me out. 
	</div>



	<h3>Why so many quotations?</h3>
	<div>
		<a href="{{quot}}">Well, they're the densest store of insight</a>. We are not empiricists by nature or by culture, so they are my concession to the apeish narrative side of mind. That quotes page is like a message digest of 10 years of me reading and learning. 

		<br><br>I sometimes regret my instinctual distrust of Twitter: a lot of <a href="{{Gwern}}">contemporary</a> <a href="{{Dril}}">aphorists</a> must be whiling away the years on there.<br><br>
	</div>

<!-- 
	<h3>System</h3>
	<div>
		I organise my books <a href="{{archi}}">as follows</a>.
	</div> 
-->
	

	<h3>Metrics</h3>
	<div>
		<a href="{{metrics}}">Here are scales</a> for rating all kinds of things.
	</div>


	<h3>Loss function</h3>
	<div>Above all I hope to beat the trend spotted <a href="{{Doom}}">by Robin Hanson</a> about independent scholars:<br><br>
		<blockquote>over time amateurs blow their lead by focusing less and relying on easier, more direct methods. They rely more on informal conversation as analysis method, they prefer personal connections over open competitions in choosing people, and they rely more on a perceived consensus among a smaller group of fellow enthusiasts. As a result, their contributions just don’t appeal as widely or as long.</blockquote>
	</div>


	<h3>Gavins Leeches</h3>
	<div>
		I am not an <a href="{{driving}}">English driving instructor</a>, nor an <a href="{{eire}}">Irish bank manager</a>, nor an <a href="{{oz}}">Australian sheep farmer</a>, nor an <a href="{{sugar}}">Australian sugar worker</a>. <br>
	</div>


	<h3>Illnesses</h3>
	<div>
		I suffer from degenerative <a href="{{telo}}">telomere erosion</a>, gradually cognivorous <a href="{{amy}}">amyloid growth</a>, irreversible <a href="{{methyl}}">DNA methylation</a>, imperceptible <a href="{{p16}}">p16</a> poisoning, increasingly <a href="{{kinas}}">lazy kinases</a>, and so ultimately <a href="{{oxy}}">oxygen poisoning</a>, like everyone. 
	</div>

	<h3>What's with all these accordions?</h3>
	<div>
		<a href="{{Hide}}">Information hiding</a> is a basic condition of good large software; these accordions are a prose analogue. The hope is that, by tucking away wires, I can write long things without triggering anyone's TL;DR reflex.<br><br> 

		It also sort of simulates a dialogue with the reader: I plant a question, and then they prompt for the response.
	</div>
</div>

</div>