<div>
{%	include js/lazyFrame.html		%}
{%	assign ous = "http://www.jimaceverett.com/research/consequentialism/oxford-utilitarianism-scale/"	%}
{%	assign found = "http://www.moralfoundations.org/"	%}
{%	assign foundImg = "/img/psych/moral_found.png"		%}
{%	assign schwartzDoc = "http://www.yourmorals.org/schwartz.2006.basic%20human%20values.pdf"		%}
{%	assign schwartzImg = "/img/psych/schwartz_values.png"		%}
{%	assign big5 = "https://en.wikipedia.org/wiki/Big_Five_personality_traits"		%}
{%	assign fiveImg = "/img/psych/big_five.png"		%}
{%	assign mac = "https://www.sciencedirect.com/science/article/pii/S0092656618303568"	%}
{%	assign macquest = "https://osf.io/x75rc/"		%}

{%	assign kin = "https://en.wikipedia.org/wiki/Kin_selection"		%}
{%	assign convent = "https://plato.stanford.edu/entries/convention/#Lew"		%}
{%	assign recip = "https://en.wikipedia.org/wiki/Reciprocal_altruism"		%}
{%	assign hd = "https://en.wikipedia.org/wiki/Chicken_(game)#Hawk%E2%80%93dove"		%}
{%	assign division = "https://tannerlectures.utah.edu/_documents/a-to-z/s/Skyrms_07.pdf"		%}
{%	assign prop = "http://www.umass.edu/preferen/gintis/EvPropJEBOVersion.pdf"		%}


	<ul>
		<li>
			<a href="{{mac}}">Morality as Co-operation</a> (<a href="{{macquest}}">questionnaire</a>):
			<ul>
				<li><i><a href="{{kin}}">Family</a></i>: 17 / 100 (vs population mean 70)</li>
				<li><i><a href="{{convent}}">Group</a></i>: 28 / 100 (vs pop. mean 66)</li>
				<li><i><a href="{{recip}}">Reciprocity</a></i>: 53 / 100 (vs pop. mean 73)</li>
				<li><i><a href="{{hd}}">Heroism</a></i>: 48 / 100 (vs pop. mean 67)</li>
				<li><i><a href="{{hd}}">Deference</a></i>: 3 / 100 (vs pop. mean 59)</li>
				<li><i><a href="{{division}}">Fairness</a></i>: 52 / 100 (vs pop. mean 66)</li>
				<li><i><a href="{{prop}}">Property</a></i>: 37 / 100 (vs pop. mean 64)</li>
			</ul><br>
			(Really not a fan of evolved morality.)
		</li><br><br>


		<li><a href="{{ous}}">Oxford Utilitarianism Scale</a>
    	<ul>
    		<li>Impartial Beneficence: 33 out of 35</li>
    		<li>Instrumental Harm: 21 out of 28</li>
    	</ul>
    	</li><br><br>
    


		<li>
			<a href="{{found}}">Moral Foundations</a>:
			<a href="{{foundImg}}"><div id="foundImg"></div></a>
		</li><br><br>

		<!-- <li>
			<a href="{{schwartzDoc}}">Schwartz' Value Survey</a>
			<a href="{{schwartzImg}}"><div id="schwartzImg"></div></a>
			<br><br>
			
			<center><a href="#fn:10" id="fnref:10">10</a></center>
		</li><br><br>
		 -->


		<li>
			<a href="{{big5}}">The Big Five</a>
			<a href="{{fiveImg}}"><div id="fiveImg"></div></a>
		</li><br><br><br>


		<li>
			<a href="{{mbti}}">Myers-Briggs Type</a>: FOAD.
		</li>

	</ul>


	<div class="footnotes">
	<ol>

		<li class="footnote" id="fn:10">
			POWER: Social status and prestige, control or dominance over people and resources.<br>
			ACHIEVEMENT: Personal success through demonstrating competence according to social standards.<br>
			HEDONISM: Pleasure or sensuous gratification for oneself.<br>
			STIMULATION: Excitement, novelty, and challenge in life.<br>
			SELF-DIRECTION: Independent thought and action - choosing, creating, exploring.<br>
			UNIVERSALISM: Understanding, appreciation, tolerance, and protection for the welfare of all people and for nature.<br>
			BENEVOLENCE: Preservation and enhancement of the welfare of people with whom one is in frequent personal contact.<br>
			TRADITION: Respect, commitment, and acceptance of the customs and ideas that traditional culture or religion provide.<br>
			CONFORMITY: Restraint of actions, inclinations, and impulses likely to upset or harm others and violate social expectations or norms.<br>
			SECURITY: Safety, harmony, and stability of society, of relationships, and of self.<br><br><br>
		</li>

	</ol>
	</div>


	<!-- Lazy loaders for the charts -->
	<script>  
    	var src = "{{foundImg}}";
    	definiteEvent( createImg, [src, "foundImg"] ); 
    	//var src = "{{schwartzImg}}";
    	//definiteEvent( createImg, [src, "schwartzImg"] ); 
    	var src = "{{fiveImg}}";
    	definiteEvent( createImg, [src, "fiveImg"] ); 
	</script>
</div>




