Some of my <a href="/rec">favourite things</a> are 
<span id="food"></span> 
<span id="exer"></span> 
<span id="engl"></span> 
<span id="scot"></span> 
<span id="pess"></span> 
<span id="anim"></span> 
<span id="music"></span>
<span id="blog"></span>  
<span id="colour"></span> 
<span id="tech"></span> 
<span id="abstra"></span> 
<span id="death"></span> 
&nbsp;&nbsp;
<button class="btn" onClick="window.location.reload();">⟳</button>

<style>
    .btn {
  background-color: white; /* Blue background */
/*  border: none; /* Remove borders */*/
  color: black; 
  font-size: 18px; 
  padding-left: 5px;
  padding-right: 5px;
  cursor:pointer;
  }

  .btn:hover {
    background-color: black;
    color: white;
    }
</style>

<!-- <a href="{{starlings}}">this video</a> -->
<script>
    function choose(choices) {
        var i = Math.floor(Math.random() * choices.length);
        return choices[i]
    }

    function set(n, x, suf = ", ") {
        document.getElementById(n).innerHTML = x + suf
    }

    f = ["Sichuanese food", "Mexican food", "Sicilian food", "Nepalese food", "Scottish tap water"] 
    e = ["Frank Ramsey", "PG Wodehouse", "Jonathan Meades","Francis Spufford", "David Pearce", "Nigel Blackwell", "Terry Pratchett", "Derek Parfit", "David Mackay"]
    s = ["Alasdair Gray", "William Dunbar","John Arbuthnot", "Adam Smith", "Frances Hutcheson", "Rab Florence", "Limmy", "David Hume", "Iain Banks", "James Clerk Maxwell", "Iain Crichton Smith", "Don Paterson", "John Duncan Fergusson", "Armando Iannucci", "Henry Mackenzie", "Naomi Mitchison", "Grant Morrison", "Alastair Reid", "Stuart Ritchie", "D'Arcy Wentworth Thompson"]
    // "John Napier", "Samuel Peploe", Henry Home, Lord Kames, James Kelman, Hugh MacDiarmid
    b = ["Cosma Shalizi", "Scott Alexander","Gwern", "Nassim Taleb", "Tyler Cowen", "Piero Scaruffi", "Zach Weiner"] 
    n = ["<a class='noline' href='https://www.youtube.com/watch?v=eakKfY5aHmY'>the common starling</a>", "the Eurasian otter", "the arum lily", "gorse"]
    l = ["Jorge Luis Borges", "Fernando Pessoa", "Emil Cioran", "Werner Herzog", "Norm Macdonald"]
    x = ["singing", "barbells", "shavasana", "hiking", "singing sad songs happily"]
    m = ["Joanna Newsom", "John Darnielle", "Leonard Cohen", "Adam Schlesinger", "Ornette Coleman", "Matt Skiba", "David Tattersall", "Jason Molina", "Ryuichi Sakamoto", "Iris deMent", "Randy Newman", "Bruce Springsteen"]
    c = ["Pakistan green", "fairy lights", "Puma Classics", "WH1000XM4s", "Mushi-Shi", "TH105 glasses"]
    t = ["Protonmail", "Alacritty", "Roam", "Sublime Text", "Netlify", "Twitter", "Vine"]
    a = ["getting into things", "judging things", "people changing their mind", "novelty", "sudden relevance", "brevity", "teaching", "idly planning to become a more serious person", '<a href="/deaths">these people</a>', '<a class="noline" href="{{sittler}}">and</a> <a class="noline" href="{{cs}}">technical</a> <a class="noline" href="{{orseau}}">approaches</a> <a class="noline" href="{{welf}}">to</a> <a class="noline" href="{{shminux}}">philosophical</a> <a class="noline" href="{{comp1}}">problems</a>']
    
    set("food", choose(f))
    set("engl", choose(e))
    set("scot", choose(s))
    set("blog", choose(b))
    set("anim", choose(n))
    set("pess", choose(l))
    set("exer", choose(x))
    set("music", choose(m))
    set("colour", choose(c))
    set("tech", choose(t))
    set("abstra", choose(a), "")
    
</script>