{%	assign offroad = "https://forum.effectivealtruism.org/posts/8ekqxkowckzEKu3uG/off-road-support-for-eas-struggling-at-uni"	%}

<h3>Work</h3>
<div>
	I'm interested in keeping an eye on AI. By a stroke of luck my advisor is <a href="{{la}}">Laurence Aitchison</a>.<br><br> 

	I'm working on:
	<br><br>
	<ul>
		<li>On sabbatical in the Bahamas</li>
		<li>Improving the state of AI forecasting</li><br>
		<li><a href="{{offroad}}">Understanding what makes smart young people suffer at uni</a></li>
		<li>Learning group theory</li>
		<li>Building up my consultancy</li><br>
	</ul>
</div>


