<h3>Research</h3>
<div>
	I'm interested in keeping an eye on AI. By sheer good fortune my advisor is <a href="{{la}}">Laurence Aitchison</a>.<br><br> 

	Some things I'm working on:
	<br><br>
	<ul>
		<li>The emergence of emotion-like behaviour in ordinary RL agents.</li><br>
		<li>Better ways to communicate preferences to RL agents.</li><br>
		<li>The cost-effectiveness of anti-COVID measures.</li><br>
		<li>How inductive logic programming measures up in terms of other ML paradigms</li><br>
	</ul>
</div>


