<style>
	.post a {
		text-decoration: none;
    border-bottom: 2px dotted #d9d9d9;
	}

	a {
  	position: relative;
	}

	.post a::before {
	    content: '';
	    position: absolute;
	    width: 101%;
	    height: 3px;
	    border-radius: 4px;
	    background-color: #18272F;
	    bottom: 0;
	    left: 0;
	    transform-origin: right;
	    transform: scaleX(0) translateY(40px);;
	    transition: transform .2s ease-in-out;
	  }

	.post a:hover::before {
	  transform-origin: left;
	  transform: scaleX(1) translateY(2px);
	}
</style>