<h3>Stats</h3>
<div>
    <br>
    <ul>
        <li><a href="/forecasting">I forecast at the 89th percentile</a> (where a typical superforecaster is 70th and the best in the business are at the 100th);</li> <br><br>
        <li><a href="{{grrr}}">1111 book reviews</a>; </li><br><br>
        <li>275lb 1RM squat;</li><br><br>
        <li>Some of my academic family: Hebb is my great^4-grandfather; Boltzmann is my great^6-grandfather; Goethe is great^8 and (to no surprise) Lichtenberg is great^11.</li><br><br>
        <!-- <li>Among the worst at maths of all Erdős number 4s; <a href="#fn:18" id="fnref:18">18</a></li><br><br> -->
        <li><a href="{{mbti}}">Myers-Briggs Type</a>: FOAD</li>
    </ul>
    <br>

</div>
