<section class="timeline">

  <ul>
    <li>
      <div>
        <time>2021 – Now</time> Co-founder, <a href="{{arb}}">Arb Research</a>.<br>(We can research it for you wholesale.)
      </div>
    </li>

    <li>
      <div>
        <time>2021</time> <a href="{{tc}}">Emergent Ventures</a> grant for a few wild ideas
      </div>
    </li>

    <li>
      <div>
        <time>2021 – Now</time> <a class="noline" href="{{e}}">Teach metascience at ESPR</a>
      </div>
    </li>
    
    <li>
      <div>
        <time>2019 – Now</time> <a href="/researches">AI PhD</a>. Probabilistic programming, AI safety. Long detour on COVID models.
      </div>
    </li>

    <li>
      <div>
        <time>2018</time>RL research, <a href="{{aisc}}">AI Safety Camp</a> #1
      </div>
    </li>

    <li>
      <div>
        <time>2016 – 2019</time>Lead Data Scientist, <a href="{{axarisks}}">AXA</a>.<br>
        <a href="/ou">Do</a> a bunch of maths too.
      </div>
    </li>

    <li>
      <div>
        <time>2015</time><a href="{{GWWC}}">Giving What We Can</a> pledged;<br><a class="noline" href="{{eaf}}">potentially effective altruist</a>
      </div>
    </li>

    <li>
      <div>
        <time>2014 – 2016</time>Pay my dues in the <a href="/code">code mines</a>
      </div>
    </li>

    <li>
      <div>
        <time>2014</time>Official statistics for the Scottish Gov
      </div>
    </li>

    <li>
      <div>
        <time>2013</time>Hide in a bookshop
      </div>
    </li>
  
    <li>
      <div>
        <time>2012</time> Work with <a href="{{vso}}">VSO</a> in Tanzania.<br>Start <a href="{{g}}">reviewing</a> everything I read.<br>
      </div>
    </li>

    <li>
      <div>
        <time>2009</time>Philosophy in a garret.<br>
        <a href="/archive">Start</a>.
      </div>
    </li>

</ul>
</section>


<script>
  (function () {
  "use strict";

  // define variables
  var items = document.querySelectorAll(".timeline li");

  // check if an element is in viewport
  // http://stackoverflow.com/questions/123999/how-to-tell-if-a-dom-element-is-visible-in-the-current-viewport
  function isElementInViewport(el) {
    var rect = el.getBoundingClientRect();
    return (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <=
        (window.innerHeight || document.documentElement.clientHeight) &&
      rect.right <= (window.innerWidth || document.documentElement.clientWidth)
    );
  }

  function callbackFunc() {
    for (var i = 0; i < items.length; i++) {
      if (isElementInViewport(items[i])) {
        items[i].classList.add("in-view");
      }
    }
  }

  // listen for events
  window.addEventListener("load", callbackFunc);
  window.addEventListener("resize", callbackFunc);
  window.addEventListener("scroll", callbackFunc);
})();

</script>


<style>
  *,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  /*background: #456990;*/
  /*color: #fff;*/
  overflow-x: hidden;
  padding-bottom: 50px;
}


/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  background: #d6ffd6;
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}


/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  /*background: #456990;*/
  /*padding: 50px 0;*/
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 0px;
  background: #000;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 345px;
  padding: 15px;
  background: #d6ffd6;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #d6ffd6 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -384px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #d6ffd6;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.45s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #7DCEA0;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
    padding-top: 30px;
  }
  .timeline ul li div {
    width: calc(100vw - 160px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #d6ffd6 transparent transparent;
  }
}


/* EXTRA/CLIP PATH STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
  width: 40px;
  height: 40px;
  border-radius: 0;
}

.timeline-rhombus ul li::after {
  clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.timeline-rhombus ul li div::before {
  bottom: 12px;
}

.timeline-star ul li::after {
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.timeline-heptagon ul li::after {
  clip-path: polygon(
    50% 0%,
    90% 20%,
    100% 60%,
    75% 100%,
    25% 100%,
    0% 60%,
    10% 20%
  );
}

.timeline-infinite ul li::after {
  animation: scaleAnimation 2s infinite;
}

@keyframes scaleAnimation {
  0% {
    transform: translateX(-50%) scale(1);
  }
  50% {
    transform: translateX(-50%) scale(1.25);
  }
  100% {
    transform: translateX(-50%) scale(1);
  }
}



</style>


