<section class="timeline">

  <ul>
    <li>
      <div>
        <time>
          2021 – Now
          <span class="flag">🇧🇸</span>
        </time>
        Co-founder, <a href="{{arb}}">Arb Research</a>.<br>(We can research it for you wholesale.)
      </div>
    </li>

    <li>
      <div>
        <time>
          2021
          <span class="flag">🇺🇸</span>
        </time>
        <a href="{{tc}}">Emergent Ventures</a> grant for a few wild ideas
      </div>
    </li>

    <li>
      <div>
        <time>
          2021 – Now 
          <img class="flag" width="9%" src="/img/Exeter_College_Oxford.svg" />
        </time>
        <a class="noline" href="{{e}}">Teach metascience at ESPR</a>
      </div>
    </li>
    
    <li>
      <div>
        <time>
          2019 – Now
          <span class="flag">󠁧󠁢󠁥󠁮󠁧󠁿🇨🇿&nbsp;🏴󠁧󠁢󠁥󠁮󠁧󠁿</span>󠁧
       </time>
        <a href="/researches">AI PhD</a>. Probabilistic programming, AI safety. Long detour on COVID models.
      </div>
    </li>

    <li>
      <div>
        <time>
          2018
          <span class="flag">🇮🇨</span>
        </time>
        RL research, <a href="{{aisc}}">AI Safety Camp</a> #1
      </div>
    </li>

    <li>
      <div>
        <time>
          2016 – 2019
          <span class="flag">󠁧󠁢󠁥󠁮󠁧󠁿🇪🇪&nbsp;🏴󠁧󠁢󠁥󠁮󠁧󠁿</span>
        </time>
          Lead Data Scientist, <a href="{{axa}}">AXA</a>.<br>
        <a href="/ou">Bunch</a> of maths.
      </div>
    </li>

    <li>
      <div>
        <time>
          2015
          <img class="ea" src="/img/ea.svg" />
        </time>
        <a href="{{GWWC}}">Giving What We Can</a> pledge;<br><a class="noline" href="{{eaf}}">potentially effective altruist</a>
      </div>
    </li>

    <li>
      <div>
        <time>
          2014 – 2016
          <img class="flag" width="9%" style="padding: 2px" src="/img/python.svg" />
          <img class="flag" width="9%" src="/img/js.svg" />
          <img class="flag" style="padding: 4px" width="15%" src="/img/php.svg" />
          <!-- <img class="flag" width="13%" src="/img/scala.svg" /> -->
          <img class="flag" width="9%" src="/img/cs.svg" />
        </time>
        Down the <a href="/code">code mines</a>
      </div>
    </li>

    <li>
      <div>
        <time>
          2014
          <!-- <img class="flag" width="9%" src="/img/mysql.svg" /> -->
          <span class="flag">󠁧󠁢󠁥󠁮󠁧🏴󠁧󠁢󠁳󠁣󠁴󠁿</span>
        </time>Official statistics for the Scottish Gov
      </div>
    </li>

    <li>
      <div>
        <time>
          2013
          <span class="flag">󠁧󠁢󠁥󠁮󠁧🏴󠁧󠁢󠁳󠁣󠁴󠁿</span>
        </time>
        Hide in a bookshop
      </div>
    </li>
  
    <li>
      <div>
        <time>
          2012
          <span class="flag">🇹🇿</span>
        </time>
        <a href="{{vso}}">VSO</a> in Tanzania.<br>Start <a href="{{g}}">reviewing</a> everything I read.<br>
      </div>
    </li>

    <li>
      <div>
        <time>
          2011
          <span class="flag">󠁧󠁢󠁥󠁮󠁧󠁿🏴󠁧󠁢󠁥󠁮󠁧󠁿</span>
        </time>
        <a href="/england">Bike through England</a>
      </div>
    </li>

    <li>
      <div>
        <time>
          2010
          <span class="flag">🇨🇳</span>
        </time>
        Intern at a Beijing software company<br>
      </div>
    </li>

    <li>
      <div>
        <time>
          2009
          <span class="flag">󠁧󠁢󠁥󠁮󠁧🏴󠁧󠁢󠁳󠁣󠁴󠁿</span>
        </time>
        Philosophy in a garret.<br>
        <a href="/archive">Start</a>.
      </div>
    </li>

</ul>
</section>

<br>

