<section class="timeline">

  <ul>
    <li>
      <div>
        <time>
          2021 – Now
          <span class="flag">🇲🇽󠁧󠁢󠁥󠁮󠁧󠁿🇨🇿🇧🇸</span>
        </time>
        <p>
          <a class="no" href="{{arb}}">Founder,</a> <br class="break"> 
          <a class="no death" href="{{arb}}">Arb Research</a>
        </p>

        <p>
          <a class="no" href="{{e}}">Head of Camp,</a><br class="break">  
          <a class="no death" href="{{e}}">Espr</a>
        </p>

        <a class="no" href="https://acsresearch.org/">Associate,</a>
        
        <a class="no death" href="https://acsresearch.org/">Alignment of Complex Systems</a>

        <!-- <small>(We can research it for you wholesale.)</small> -->
      </div>
    </li>

    <li>
      <div>
        <time>
          2019 – Now
          <span class="flag">🏴󠁧󠁢󠁥󠁮󠁧󠁿</span>󠁧
       </time>
        <a class="no" href="/phd">AI PhD</a>, <a class="no death">University of Bristol</a>
        <!-- <a href="{{probprog}}">PPLs</a>, safety, COVID. -->
      </div>
    </li>


<!--     <li>
      <div>
        <time>
          2022
          <span class="flag">❗󠁧󠁢󠁥󠁮󠁧󠁿󠁧󠁢󠁥</span>
        </time>
        <a class="no" href="{{alert}}">Interim Director,</a>
        <br class="break"> 
        <a class="no death" href="{{alert}}">Alert</a>
        </div>
    </li> -->

    <li>
      <div>
        <time>
          2023 – Now
          <span class="flag">🇺🇸</span>
        </time>
        <a class="no death" href="{{sf}}">Schmidt Futures</a> <a class="no">International Strategy Fellow</a>
      </div>
    </li>

    <li>
      <div>
        <time>
          2021
          <span class="flag">🇺🇸</span>
        </time>
        <a class="no death" href="{{tc}}">Emergent Ventures</a> <a class="no">grant 
        for wild ideas</a>.<br>
      </div>
    </li>
    
<!--     <li>
      <div>
        <time>
          2018
          <span class="no" class="flag">🇮🇨</span>
        </time>
        <a class="no" href="{{aisc}}">AI Safety Camp #1</a>
      </div>
    </li> -->

    <li>
      <div>
        <time>
          2016 – 2019
          <span class="flag">󠁧󠁢󠁥󠁮󠁧󠁿🇪🇪🏴󠁧󠁢󠁥󠁮󠁧󠁿</span>
        </time>
          <a class="no" href="{{axa}}">Data Scientist,</a>
          <br class="break"> <a class="no death" href="{{axa}}">Axa</a><br>
          <!-- <small>Plus a <a href="/ou">bunch</a> of maths.</small> -->
      </div>
    </li>


    <li>
      <div>
        <time>
          previously
          <span class="flag">󠁧󠁢󠁥󠁮󠁧🏴󠁧󠁢󠁳󠁣󠁴󠁿🇨🇳󠁧󠁢󠁳󠁣󠁴󠁿🇹🇿</span>
        </time>
<br class="break">
        <span class="timebold">2015-6</span>: <br class="break">
        <a class="no" href="/code">Down the</a> <a class="no" href="/code">code mines</a>
<br>
        <span class="timebold">2014</span>: <br class="break">
        <a class="no" href="{{scotxed}}">Official government statistics.</a>
<br><br class="break">
        <span class="timebold">2013</span>: <br class="break">
        6 months hiding in a bookshop.<br>
<br class="break">
        <span class="timebold">2012</span>: <br class="break">
        <a class="no death" href="{{vso}}">VSO</a> <a href="{{vso}}" class="no">in Tanzania</a>.<br>
        <a class="no" href="{{g}}">Start reviewing everything.</a>
<br>
<br class="break">
        <span class="timebold">2011</span>: <br class="break">
        <a class="no" href="{{threeweeks}}">Theatre critic</a>. 
        <!-- <a href="/england">Bike through England</a> -->
<br>
<br class="break">
        <span class="timebold">2010</span>: <br class="break">
        Philosophy in a garret.
        <br class="break">
        <a class="no" href="{{china}}">Internship in Beijing</a>.<br>
<br class="break">

<!--         <small>
          
        </small> -->

        
      </div>
    </li>

</ul>
</section>

<br>

