<iframe src="{{spotaus}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		The Throne of Agony - Scraping Foetus off the Wheel<br>
		The Divine Chord - The Avalanches<br>
		Solitude Is Bliss - Tame Impala<br>
		Got It Bad - LEISURE<br>
		Clap Your Hands - Sia<br>
		I Believe in You - Kylie Minogue<br>
		Bleeding Heart - Mia Dyson<br>
		You've Lost Me There - Cardinal<br>
		Friday On My Mind - The Easybeats<br>
		From St. Kilda to Kings Cross - Paul Kelly<br>
		Marco Polo Suite - The Cannanes<br>
		Don't Leave - Ben Lee<br>
		The Ship Song - Nick Cave & The Bad Seeds<br>
		This One Eats Souls - The Blackeyed Susans<br>
		Country High - Ticket<br>
		Was There Anything I Could Do? - Remastered - The Go-Betweens<br>
		Lights & Music - Cut Copy<br>
		Addicted to Bass - Puretone<br>
		Talk It Out - Matt Corby, Tash Sultana<br>
		Ride - Baker Boy, Yirrmal<br>
		Never Be Like You - Flume, kai<br>
		HyperParadise - Flume Remix - Hermitude<br>
		! (The Song Formerly Known As) - Regurgitator<br>
		Metal Dance - Spk<br>
		Corporate Anthem Part 1 - Soma<br>
		God's Buzzsaw - Ya Ya Choral<br>
		I Feel a Song Coming On - Essendon Airport<br>
		Mother Who's That Man? - Clitoris<br>
		Annie Run Run Run - The Orange Humble Band<br>
		Too Hip To Stumble (& Too Straight To Fall) - James Griffin<br>
		Hold On - Darren Hanlon<br>
		The Orange Tree - Cathie O'Sullivan<br>
		Hey Rain - PENNY DAVIES & ROGER ILOTT<br>
		Waru - Apakatjah<br>
		Not Like I Was Doing Anything - The Cat's Miaow<br>
		Music Is Crap - Custard<br>
		Turnstyle - Sodastream<br>
		don't tell me - Feedtime<br>
		Amoxycillin - Magic Dirt<br>
		Tojo - Hoodoo Gurus<br>
		You Are Not My Friend - Frenzal Rhomb<br>
		Life to Go (Landsakes) - Died Pretty<br>
		Covered in Chrome - Violent Soho<br>
		Eastside Stories - Underground Lovers<br>
		Sonny's Burning - The Birthday Party<br>
		Motherless Children - The Drones<br>
		Carry Me Home - The Living End<br>
		Friends Of Mrs. S - Jackie Orszaczky, Graham Morgan, Peter Jones, John Robinson<br>
		I Offered It Up to the Stars and the Night Sky - Dirty Three
	</div> 
	<h3>Resources</h3> 
	<div> 
		<a href="https://chaptermusic.com/">Chapter Music</a><br>
		<a href="https://www.scaruffi.com/vol6/geo.html#aus">Scaruffi as ever</a>, <a href="https://www.scaruffi.com/vol4/geo.html#aus">as ever</a><br>
		<a href="https://open.spotify.com/search/straya/playlists">Loads</a> and <a href="https://open.spotify.com/user/22g3fougcthl4lef7o3d26gla">loads</a> of Spotify playlists to mine too.
	</div> 
	<br>
</div> <br>
