<iframe src="{{spotbra}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		Irene - Caetano Veloso <br>
		Off And On - Moacir Santos <br>
		A Minha Menina - Os Mutantes <br>
		Mistério do Planeta - Novos Baianos <br>
		Glória - Tom Zé, Os Brazoes <br>
		Quero Sambar Meu Bem - Tom Zé <br>
		Bat Macumba - Os Mutantes <br>
		Preta Pretinha - Novos Baianos <br>
		Cravo E Canela - Milton Nascimento, Lô Borges <br>
		Águas De Março - Elis Regina, Antônio Carlos Jobim <br>
		Choro #1 - Bola Sete <br>
		Canto de Ossanha - Baden Powell <br>
		Ratamahatta - Sepultura <br>
		Inner Self - 2020 Remaster - Sepultura <br>
		Endangered Species - Sepultura <br>
		Não Vá Se Perder Por Aí - Os Mutantes <br>
		O Estrangeiro - Caetano Veloso <br>
	</div>
	<!--  -->
	<h3>Resources</h3> 
	<div> 
		<a href="{{gravybread}}">The great Evan G</a>
	</div>
</div>
