<h3>Brazil</h3>
<div>

<iframe src="{{spotbra}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
Irene - Remastered 2006 by Caetano Veloso<br>
Off And On by Moacir Santos<br>
A Minha Menina by Os Mutantes<br>
Lambada - Original Version 1989 by Kaoma<br>
Sereia Do Mar by Camarão<br>
16 Toneladas by Noriel Vilela<br>
O Descobridor Dos Sete Mares by Tim Maia<br>
Varanda Suspensa by Céu<br>
Mistério do Planeta by Novos Baianos<br>
Glória by Tom Zé, Os Brazoes<br>
Quero Sambar Meu Bem by Tom Zé<br>
Bat Macumba by Os Mutantes<br>
Preta Pretinha by Novos Baianos<br>
Cravo E Canela by Milton Nascimento, Lô Borges<br>
Águas De Março by Elis Regina, Antônio Carlos Jobim<br>
Tudo Que Voce Podia Ser by Quarteto Em Cy<br>
Não Existe Amor em SP by Milton Nascimento, Criolo, Amaro Freitas<br>
Choro #1 by Bola Sete<br>
Canto de Ossanha by Baden Powell<br>
Take It Easy My Brother Charles by Jorge Ben Jor<br>
Cotidiano by Chico Buarque<br>
Nem Vem Que Não Tem - Ao Vivo by Wilson Simonal<br>
Não Vá Se Perder Por Aí by Os Mutantes<br>
Garota de Berlim by Tokyo, Nina Hagen<br>
O Estrangeiro by Caetano Veloso<br>
Êfemera by Tulipa Ruiz<br>
Starman by Seu Jorge<br>
Amiga Da Minha Mulher by Seu Jorge<br>
Mas Que Nada by Sergio Mendes &amp; Brasil '66<br>
CORACAO SELVAGEM by Joyce Moreno<br>
One Day In My Garden by Amon Tobin<br>
Let's Make Love and Listen to Death From Above by CSS<br>
We Love Animals by Crookers, Soulwax, Mixhell<br>
Deixa A Gira Girar by Pate Jaar<br>
Macumba by Buraka Som Sistema, Mixhell<br>
Todo Esse Tempo No. 2 by MAU, Antonio Pinto, Beto Villares, B-Negão<br>
Essa É Pra Tocar No Baile by BNegão, Seletores de Frequência<br>
Preciso Dizer Que Te Amo by Cazuza, Bebel Gilberto<br>
Rational Culture by Tim Maia<br>
Ratamahatta by Sepultura<br>
Provei (feat. Cláudio Lins) by Ivan Lins, Claudio Lins<br>
A Volta da Asa Branca by Dominguinhos, Maciel Melo<br>
Negada da Lapa by Adil Tiscatti<br>
Isso by Rita Benneditto<br>
	</div>
	<!--  -->
	<h3>Resources</h3> 
	<div> 
		<a href="{{gravybread}}">The great Evan G</a>
	</div>
</div>

<br>
</div>