<iframe src="{{spotbright}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		I’m On Fire - Electrelane<br>
		Get It Together - The Go! Team<br>
		Pull Shapes - The Pipettes<br>
		I Wish I Was Someone Better - Blood Red Shoes<br>
		7 Seconds - Porridge Radio<br>
		The Bay - Metronomy<br>
		Humble - Ren, Eden Nash<br>
		Love On My Mind (feat. Amanda Wilson) - Freemasons, Amanda Wilson<br>
		Get So ill - Krafty Kuts<br>
		Weapon Of Choice - Fatboy Slim, Olodum<br>
		Weapon Of Choice (feat. Bootsy Collins) - Remastered Version - Fatboy Slim, Bootsy Collins<br>
		Days To Come - Bonobo, Bajka<br>
		September '99 - Phats &amp; Small Remix - Earth, Wind &amp; Fire, Phats &amp; Small<br>
		When I Was A Youngster - Rizzle Kicks<br>
		Impossible Objects of Desire (Radio Edit) - Fujiya &amp; Miyagi<br>
		Mannie - 12mind, TME<br>
		Post Punk Progression - Cut La Roc<br>
		Infinite Wave - Slugabed<br>
		C'est la Vie - Magicofficialtmc<br>
		Ideologically Unsound - Poison Girls<br>
		The Jinx - Peter and the Test Tube Babies<br>
		Waiting For The Winter - The Popguns<br>
		English Girls - Animal House<br>
		Skepticism - Dove House<br>
		What a Beautiful Day - Remastered Version - Levellers<br>
		Island - Fear of Men<br>
		Two Wooden Spoons - Emma Gatrill<br>
		That Certain Feeling - Percival Mackey<br>
		Lights Out - NEON SAINTS Brass Band<br>
		Brighton "Symphony of A City" I — Ed Hughes
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		
	</div>
</div>

<br>

