<iframe src="{{spotbris}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		Hide U - Kosheen <br>
		Hellebore - Safetyword <br>
		Sour Times - Portishead <br>
		Holding On - Julio Bashmore, Sam Dew <br>
		Hi-Potent - Roni Size, Reprazent <br>
		We Are Time - BBC John Peel Session 1978 - The Pop Group <br>
		Shitkicker - Malachai <br>
		You're so Kool-Aid - Oliver Wilde <br>
		Hymn Of The Big Wheel - 2012 Mix/Master - Massive Attack <br>
		Juvenile Delinquent - Black Roots <br>
		Fire (Spotie) [feat. Busy Signal] - Jus Now, Dismantle, Busy Signal <br>
		Psychedelic Runway - Joker <br>
		Overcome - Tricky <br>
		An Even Harder Shade Of Dark - The Third Eye Foundation <br>
		My Evil Is Strong - Tricky <br>
		So Hot (Wash Away All Of My Tears) - Amp <br>
		My Dreaming Hill - Flying Saucer Attack <br>
		Katang - Zun Zun Egui <br>
		Brainfreeze - Fuck Buttons <br>
		Never Fight A Man With A Perm - IDLES <br>
		The Greatest Show on Earth - Strangelove <br>
		Rain Check - Sleeping States <br>
		Nicole - Gravenhurst <br>
		Without Permission - Caroline Martin <br>
		Summer Set - Mr. Acker Bilk &amp; His Paramount Jazz Band <br>
	</div>
	<!--  -->
	<h3>Resources</h3> 
	<div> 
		"Hit Factories", Karl Whitney<br>
	</div>
</div>
