<h3>Birmingham</h3>
<div>

<iframe src="{{spotbrum}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
    <h3>List</h3> 
    <div> 
Elevator, Escalator, Stairs - Misty's Big Adventure<br>
Turn to Stone - Electric Light Orchestra<br>
I Wanna Be Free (as The Lizards) - Epic Soundtracks<br>
Idiot Strength - The Nightingales<br>
Still Winter, Still Waiting - Katherine Priddy<br>
Papas Got a Brand New Pigbag - Pigbag<br>
She Drives Me Crazy - Fine Young Cannibals<br>
Years and Elements - Plone<br>
Come On Let's Go - Broadcast<br>
Black Dot, White Spider - Seeland<br>
Go Now - The Moody Blues<br>
Gimme Some Lovin' - Single Mix - The Spencer Davis Group<br>
Sweet Leaf (2009 - Remaster) - Black Sabbath<br>
Ordinary World - Duran Duran<br>
Heartache Avenue - The Maisonettes<br>
Pristine Christine - Sea Urchins<br>
Could It Be I'm Falling in Love - Jaki Graham<br>
Sari Sari Raat - Nermin Niazi<br>
Thank You - Jamelia<br>
For Everything a Reason - Carina Round<br>
Time out - Stanley Myers, De Wolfe Music<br>
Only for Sheep - The Bureau<br>
Read About Seymour - Swell Maps<br>
Sunlight Bathed the Golden Glow - Felt<br>
The Pop Song - O21<br>
Come On Eileen - Dexys Midnight Runners<br>
Clothes Shop - Terry & Gerry<br>
Free Wheel - Hard Meat<br>
Curls - Bibio<br>
Side of Your Eye - Molly Gone Mad<br>
    </div>
    <!--  -->
    <h3>Resources</h3> 
    <div> 
        
    </div>
</div>

</div>