<h3>California</h3>
<div>

<div class="accordion"> 

    <h3>LA</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0XGvnrOnwedIZNX4gWE4Gj" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>The Bay</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5PXIfeyFz7THOQqTOHvLTv" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>The Rest</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4hSMs1Oy4xh31BinTBnoIY" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
    

</div>

</div>