<h3>Canada</h3>
<div>
			
<iframe src="{{spotcan}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Myriad Harbour - The New Pornographers<br>
		You Oughta Know - 2015 Remaster - Alanis Morissette<br>
		Critics - Gay<br>
		Cause = Time - Broken Social Scene<br>
		Jealous Of Your Cigarette - Hawksley Workman<br>
		No Cars Go - Arcade Fire<br>
		This Lamb Sells Condos - Owen Pallett<br>
		Alcohol - Barenaked Ladies<br>
		Barrett's Privateers - Stan Rogers<br>
		Suzanne - Leonard Cohen<br>
		California - Joni Mitchell<br>
		Miss Chatelaine - k.d. lang<br>
		Mushaboom - Feist<br>
		I Was A Daughter - Basia Bulat<br>
		Light Of Loving - Faith Healer<br>
		Freewill - Rush<br>
		Dear Coach's Corner - Propagandhi<br>
		Hey Hey, My My (Into the Black) - Neil Young<br>
		Running On Nothing - Fucked Up<br>
		Fuck the Pain Away - Peaches<br>
		Feel Infinite - Jacques Greene<br>
		Es-so - Tune-Yards<br>
		Carpal Tunnel Syndrome - Kid Koala, Money Mark<br>
		In Red - Azeda Booth<br>
		Idlewild - Julia Kent<br>
		Duration Part One - Sixtoo<br>
		Duration Part Two - Sixtoo<br>
		Duration Part Three - Sixtoo<br>
		The righteous wrath of an honorable man - Colin Stetson<br>
		Storm - Godspeed You! Black Emperor<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		
	</div>
</div>

<br>

</div>