<h3>China</h3>
<div>

<iframe src="{{spotch}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		沙漠足跡 - 劉瑞鄭 <br>
		Ass Hole, I'm Not Your Baby - Hang On The Box <br>
		Wings of Light - RUI HO <br>
		Machine It (Shirobon Remix) - Sulumi <br>
		Fat Girl Slim Boy - Hard Queen <br>
		爱河 - DJ - DJ王展鹏 <br>
		Arp Kicks - Gooooose <br>
		Enter the Tigerwoods - Howie Lee <br>
		三十年 - Shanren <br>
		Sunny Spring and White Snow - Red Chamber <br>
		Flower (Yi Zhi Hua) - Zhou Dongchao <br>
		落木 (Luo Mu) - Zhaoze <br>
		暢打腔 - Xiao He <br>
		哆嗦哆 - 木推瓜 <br>
		钢铁是怎样没有炼成的 - 木推瓜 <br>
		七次機會 - 吹萬 <br>
		422189 - Zslo <br>
		我昨晚夢見你了 - 輕描淡寫 <br>
		Revolution is only a sad illusion - Li Jianhong <br>
	</div> 
	<h3>Resources</h3> 
	<div> 
		<a href="{{jl}}">Julian Lee's obsessive pages</a> <br>
		https://www.youtube.com/watch?v=qXVLwNkw84Q <br>
		https://radiichina.com/2010s-best-chinese-music-record-labels/ <br>
		https://outofbookmill.tumblr.com/post/106335558268/the-beastly-archives-an-anthology-of-essaysby	
	</div> 
	<br>
	Not totally satisfied with this one, even though I went as deep as I think you can while not being there.
</div> <br>

</div>