<h3>China</h3>
<div>

<iframe src="{{spotch}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		Ass Hole, I'm Not Your Baby - Hang On The Box  <br>
		Light Yellow Willow - Liu Dehai  <br>
		沙漠足跡 - 劉瑞鄭  <br>
		曼尼！ - 表情银行MimikBanka  <br>
		Not My Time to Die - Joyside  <br>
		Shanzhai - Fatima Al Qadiri, Helen Feng  <br>
		Wings of Light - RUI HO  <br>
		我昨晚夢見你了 - 輕描淡寫  <br>
		Black Widow - Akini Jing  <br>
		杀死那个石家庄人 - 万能青年旅店  <br>
		Lost in The Highway - The K  <br>
		新的恋爱 - New Pants  <br>
		Step by Step - Guo Brothers  <br>
		Thinking Of An Old Friend - Various Artists  <br>
		Childhood Fun 童趣 - Baishui  <br>
		一條腿跳舞 - 地下婴儿  <br>
		大魚 - 唱片版 - Zhou Shen  <br>
		骊歌 - GALA  <br>
		蓝莲花 - Xu Wei  <br>
		Love Light - 馬賽克樂隊  <br>
		新生 - 桐子  <br>
		SHADOW - Lexie Liu  <br>
		Southern - Achun  <br>
		Arp Kicks - Gooooose  <br>
		果醬日 - Mola Oddity  <br>
		普天乐 - 佛教音乐 - 丝路乐团  <br>
		我姓石 (Wo Xing Shi) - GUXI顾夕  <br>
		Mountain Song - Zeng Xiaogang  <br>
		Zhaoderen Nana - Hanggai  <br>
		三十年 - Shanren  <br>
		Sunny Spring and White Snow - Red Chamber, Mei Han, Guilian Liu, Zhimin Yu, Geling Jiang  <br>
		世界真有趣 - 張露  <br>
		Age of Bloom (Hua Yang De Nianhua) - 周璇  <br>
		By the Suzhou River (Su Zhou He Bian) - Various Artists  <br>
		上海灘 - 無線電視劇[上海灘]主題曲 - Frances Yip  <br>
		Chairman Mao Comes To Sichuan (Mao Zhu Xi Lai Si Chuan) - Various Artists  <br>
		Blue Moon - The Molds  <br>
		Rollin' On - The Chairs  <br>
		Fat Girl Slim Boy - Hard Queen  <br>
		Enter the Tigerwoods - Howie Lee  <br>
		Rotten Flowers - Yikii  <br>
		钢铁是怎样没有炼成的 - 木推瓜  <br>
		Flower Window - Zhuoling Wu  <br>
		Guangling San - Li Xiangting  <br>
		The Five Tone Dragon (Jah Wobble Presents Zi Lan Liao) - Jah Wobble, Zi Lan Liao  <br>
		Formosan Dance, Op. 1 - Ju-Ying Song  <br>
		The Butterfly Lovers Violin Concerto - Gang Chen<br>
		II. Ode to the Yellow River - Xian Xinghai, Lang Lang<br>
		Er Huang - Qigang Chen, Chun-Chieh Yen, Taiwan Philharmonic, Shao-Chia Lü  <br>
		String Quartet No. 2 "Streams": II. Zhaohun - Brentano String Quartet  <br>
		Chinese Ancient Dances: Ox Tail Dance - Yi Chen, The Divan Consort  <br>
		Out of Tang Court - Zhou Long<br>
		Chinatown: I. Strangers - Ming-Hsiu Yen<br>
		Enchanted Bamboo - Xiaogang Ye, Ensemble Eclipse<br>
		Mong Dong - Hong Kong Philharmonic Orchestra, Michael Rippon, Qu Xiaosong  <br>
		Ambush! From All Sides - Qian Chen<br>
		Away from Xuan - Yuanlin Chen<br>
		String Quartet No. 1, "the 3 Tenses" - Ruo Huang, Future In Reverse  <br>
		Three Laughs - Huaxia Chamber Ensemble, Tsung Yeh  <br>
		Detached - Solid Liqui 固体李逵  <br>
		Susu - 花伦（Hualun）  <br>
		七次機會 - 吹萬  <br>
		我也喜欢你的女朋友 - Oh! Dirty Fingers  <br>
		Flowing Water II - Wu Na  <br>
		Hotpot (Chongqing) 火鍋（重慶）- Scattered Purgatory Remix - Gong Gong Gong 工工工  <br>
		422189 - Zslo  <br>
		Revolution is only a sad illusion - Li Jianhong  <br>
		生机 - 超级市场  <br>
	</div> 
	<h3>Resources</h3> 
	<div> 
		<a href="{{jl}}">Julian Lee's obsessive pages</a> <br>
		https://www.youtube.com/watch?v=qXVLwNkw84Q <br>
		https://radiichina.com/2010s-best-chinese-music-record-labels/ <br>
		https://outofbookmill.tumblr.com/post/106335558268/the-beastly-archives-an-anthology-of-essaysby	
	</div> 
	<br>
	Not totally satisfied with this one, even though I went as deep as I think you can while not being there.
</div> <br>

</div>