<h3>Congo</h3>
<div>
    
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1QTnCIlmAQo8KAAprPpBIT?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div class="accordion"> 
    <h3>List</h3> 
    <div>
        Likambo ya ngana by Franco &amp; le T.P OK Jazz, Youlou, Boyibanda, Bitshou<br>
Nostalgie by Zazou Bikaye<br>
Paradiso by Konono N°1<br>
Propriété privée by Sammy Massamba<br>
Belalo by Ya Ntesa Dalienst &amp; Le Maquisard<br>
Lolo Soulfire by Lolo et L&#x27;Orchestre O.K. Jazz<br>
Abadou by Zap Mama<br>
Malukayi (feat. Konono Nº1) by Mbongwana Star, Konono N°1<br>
Lisanga Ya Ba Nganga by Franco And Rochereau<br>
Ngantsie Soul by Les Bantous De La Capitale<br>
Femme Ne Pleure Pas by Zaïko Langa Langa<br>
Belgian Congo, Lonzo Tribe: Muyeka by Lonzo Tribe, Balonzo Ensemble<br>
Belgian Congo, Mulari Tribe: Mwana Aboyi Mama by Mundanda Antoine and His Group<br>
Mamwana Kufika Munda (My Love Is Upset) by Ilunga Patrice, Misomba Victor and Friends<br>
Mamboleyo (Affairs of Today) by Kalenga Antonance<br>
Stanleyville Putulú (Stanleyville Is Dusty) by Henri Bembele and Orchestra Tinapa<br>
Soko Olingi Na-Boma (If You Want to Kill Me) by Joseph Eluka and Soldiers<br>
Birima by Morris Kalala<br>
Maivuno ni Kilema (Jealousy Is a Vice) by ORCLOS
    </div>

</div>

</div>