<h3>Czechia</h3>
<div>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/7bISe69fLPLF5fBmQod6cQ?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div class="accordion">
    <h3>List</h3>
    <div>
        Don't You Know by Jan Hammer Group<br>
Hochu zlatej - Live by Půlnoc<br>
Rám Příštích Obrazů by Vladimír Mišík, Flamengo<br>
Variace na renesanční téma by Vladimír Mišík<br>
Bratříčku, Zavírej Vrátka by Karel Kryl<br>
Watch It Crash by Toh Kay<br>
Lej, lej, lej by Tara Fuki<br>
Nunovo Tango by DVA<br>
René, Já A Rudolf by Jiří Schelinger<br>
Hollywood by Už jsme doma<br>
Mýdlový Princ by Václav Neckář<br>
Slunečný Hrob - Extended by The Blue Effect<br>
Jedeme Dál by Petra Janů, Petr Janda<br>
Jasná Zpráva by Olympic<br>
Karate by Ventolin<br>
Na co nesmíš zapomenout by MIDI Lidi<br>
TRAPU PLNEJ VLÁČEK by Martin Creep<br>
I. P. Pavlova by Dukla<br>
Mushroom Picker Dance by Floex<br>
Mr. Handagote by Tomáš Dvořák<br>
Pathetic by Khoiba<br>
Dumb It by Ecstasy Of St. Theresa
Tisíc a jedna koule (NoD session) by EP/\ST, Tygroo<br>
Skládanka by The Blue Effect, Martin Kratochvil<br>
Co Znamená Vésti Koně by The Plastic People Of The Universe, Filharmonie Brno<br>
Mountain in the Clouds by Miroslav Vitous<br>
Paradise with Jane by Marcel Gidote's Holy Crab<br>
Vzpomínka by Vladimír Václavek, Iva Bittová<br>
Svítá by Jiří Voskovec, Jan Werich<br>
Civilizace by Jaroslav Ježek<br>
Žárlivost by Karel Krautgartner, Orchestr Karla Krautgartnera<br>
Když padá v Praze první sníh by Sestry Allanovy<br>
Passagalia in G Minor by Heinrich Ignaz Franz von Biber, Xavier Diaz-Latorre<br>
La Revue de cuisine: 2. Tango by Bohuslav Martinů, Saint Paul Chamber Orchestra, Christopher Hogwood<br>
Czech Dances II, JB 1:114: No. 1, Furiant by Bedřich Smetana, Jan Novotný<br>
Janacek: Glagolitic Mass, JW III/9: III. Slava (Gloria) by Leoš Janáček<br>
Intimate Sketches: No. 12, Lullaby by Leoš Janáček, Olena Kushpler<br>
Broken Music, Pt. 3 by Milan Knizak
    </div>
    <!--  -->
    <h3>Resources</h3>
    <div>
    </div>
</div>

<br>

</div>

