<div class="accordion">
	<h3>Bristol</h3>
	<div>
		{%	include nation/bris.html	%}
	</div>
	<!--  -->
	<h3>Leeds</h3>
	<div>
		{%	include nation/leeds.html	%}
	</div>
	<!--  -->
	<h3>Sheffield</h3>
	<div>
		{%	include nation/sheff.html	%}
	</div>
	<!--  -->
	<h3>London</h3>
	<div>
		forthcoming
	</div>
	<!--  -->
	<h3>Manchester</h3>
	<div>
		{%	include nation/manc.html	%}
	</div>
	<!--  -->
	<h3>Liverpool</h3>
	<div>
		forthcoming
	</div>
	<!--  -->
	<h3>Brighton</h3>
	<div>
		{%	include nation/bright.html	%}
	</div>
</div>

