<h3>Spain</h3>
<div>
	<iframe src="{{spotspain}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
	</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		O Tren - Andrés Do Barro<br>
		Gloria - Nosoträsh<br>
		Gente De Mierda - PUTOCHINOMARICÓN<br>
		In Spain We Call It Soledad - Rigoberta Bandini<br>
		Me Voy de Casa - Tequila<br>
		Tirando Piedras al Río - Miguel Abuelo, Nada<br>
		La Zona Fantasma - Aviador Dro<br>
		Resistiré - Estela Raval<br>
		The Boys of Summer - DJ Sammy<br>
		Bailando - Alaska Y Los Pegamoides<br>
		Sunshine - John Talabot<br>
		Hay un Hombre en España - Astrud<br>
		Me Maten - C. Tangana, Antonio Carmona<br>
		Desaparecido - Manu Chao<br>
		Un Veneno - C. Tangana, Niño de Elche<br>
		¿Por Qué Me Tengo Yo Que Enamorar? - Los Fresones Rebeldes<br>
		Mejor - Los Brincos<br>
		Rock and Roll Star - 2017 Remaster - Loquillo<br>
		Mediterraneo - Joan Manuel Serrat<br>
		Algo Personal (with Calle 13) - Joan Manuel Serrat, Calle 13<br>
		Dos Días - Lucas Masciano<br>
		Bipolaridad - Señor Mostaza<br>
		Antillas - El Guincho<br>
		Alma de Cantaora - Amparo Sánchez, La Abuela Margarita<br>
		Santa Leone - Pájaro<br>
		Entre Dos Aguas - Paco de Lucía<br>
		La Facienda - Mariluz Cristóbal Caunedo, Lliberdón<br>
		Asturias (Leyenda) - Isaac Albéniz, Simon Dinnigan<br>
		Spanish Dance No. 1 - Manuel de Falla, Itzhak Perlman, David Garvey<br>
		Moscú Está Helado - Esplendor Geométrico<br>
		La Revolución Sexual - La Casa Azul<br>
		Hazme una Perdida - Tremenda Jauría<br>
		Agentina 2 - Pablo 0 - Coconot<br>
		Garden - Hinds<br>
		Sol - Guillermine<br>
		Miss Ántropa - Estrogenuinas<br>
		Dope and Love - Tokyo Sex Destruction<br>
		Two Questions - Aina<br>
		Euphoria Under water - The Unfinished Sympathy<br>
		Di No al Speed - Sin Dios, Intolerance<br>
		Máquinas de Producción - Escuela de Odio<br>
		Con Sangre de Quien te Ofenda - Orthodox<br>
		Un cercle autour du soleil - Alfredo Costa Monteiro, Bruno Duplant<br>
		Absurd Summer, No.2 - Koji Asano<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		
	</div>
</div>

<br>

</div>