<iframe src="{{spotfra}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Ça me vexe - Mademoiselle K. <br>
		D.A.N.C.E - Justice <br>
		Rectangle - Jacno <br>
		Pipornithology, Pt. II - Chassol <br>
		Run Into Flowers - M83 <br>
		Cut Dick - Mr. Oizo <br>
		Les Professionnels - Air <br>
		End of the World - Stanley Brinks <br>
		La foule - Édith Piaf <br>
		Le déserteur - Boris Vian <br>
		Tous les garçons et les filles - Françoise Hardy <br>
		Agathe ou Christie - Christie Laume <br>
		Et maintenant - Gilbert Bécaud <br>
		Mr Patrick - Philippe Katerine <br>
		Il est cinq heures, Paris s'éveille - Jacques Dutronc <br>
		La Seine - Extrait de la bande originale un monstre à Paris - Vanessa Paradis, -M- <br>
		Crebe de chet - André Ricros, Louis Sclavis Quartet, Alain Gibert <br>
		Marions les roses (chant de quête) - Malicorne <br>
		Les cigognes nénuphars - Forever Pavot <br>
		The Drowned Girl - Yann Tiersen <br>
		New-York avec toi - Remasterisé en 2015 - Téléphone <br>
		Poney Pt. I - Vitalic <br>
		Rough Sex - Lords Of Acid <br>
		Tour Du Monde - Aquaserge <br>
		Pump - Jackson And His Computer Band <br>
		Arcades - C2C <br>
		Daniel Darc - Abd Al Malik <br>
		Pinacle - Lucio Bukowski, Oster Lapwass, Anton Serra <br>
		Karaté - Yelle <br>
		I Love Ma Guitare - Rinôçérôse <br>
		Tot und Hoch - Heimat <br>
		Antisocial - Trust <br>
		Back to Heldon - Heldon <br>
		The Four Horsemen - Aphrodite's Child <br>
		Ork alarm - Magma <br>
		Lumière Blanche Schneeturm - Ulan Bator <br>
		Flying Whales - Gojira <br>
		De Motu Pendulorum - Lightwave <br>
		Dopees - Dorine Muraille <br>
		Short Circuit - Daft Punk <br>
		Veridis Quo - Daft Punk<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		Query "albums de la décennie" was my way in.
	</div>
</div>

<br>

