<h3>France</h3>
<div>

<iframe src="{{spotfra}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Ça me vexe by Mademoiselle K<br>
We Are Your Friends - Justice Vs Simian by Justice, Simian<br>
Rectangle by Jacno<br>
Pipornithology, Pt. 2 by Chassol<br>
Peur des filles by L'Impératrice<br>
Cabrioli by Moussa<br>
Finale by Para One<br>
Voyages by Michel Polnareff<br>
Né dans un Ice-Cream by Michel Polnareff<br>
Highschool Lover by Air<br>
Thème de Camille by Georges Delerue<br>
Je voudrais être un fleuve by Moziimo<br>
End of the World by Stanley Brinks<br>
C'est comme ça by Les Rita Mitsouko<br>
Et ta mère by Zoufris Maracas<br>
Geometría del Universo by Colleen<br>
Tous les garçons et les filles by Françoise Hardy<br>
Septembre by Barbara<br>
La foule by Édith Piaf<br>
Tape, tape, tape by Jeanne-Marie Sens<br>
Snow Frolic by Francis Lai<br>
Absolute Beginners by Carla Bruni<br>
La Seine by Vanessa Paradis, -M-<br>
Bohémienne Aux Yeux Noirs by Tino Rossi<br>
Le cannibale by Juniore<br>
Douce France by Charles Trenet<br>
Le déserteur by Boris Vian<br>
Et maintenant by Gilbert Bécaud<br>
		Crebe de chet - André Ricros, Louis Sclavis Quartet, Alain Gibert <br>
		Marions les roses (chant de quête) - Malicorne <br>
		Les cigognes nénuphars - Forever Pavot <br>
		The Drowned Girl - Yann Tiersen <br>
		New-York avec toi - Remasterisé en 2015 - Téléphone <br>
		Poney Pt. I - Vitalic <br>
		Rough Sex - Lords Of Acid <br>
		Tour Du Monde - Aquaserge <br>
		Pump - Jackson And His Computer Band <br>
		Arcades - C2C <br>
		Daniel Darc - Abd Al Malik <br>
		Pinacle - Lucio Bukowski, Oster Lapwass, Anton Serra <br>
		Karaté - Yelle <br>
		I Love Ma Guitare - Rinôçérôse <br>
		Tot und Hoch - Heimat <br>
		Antisocial - Trust <br>
		Back to Heldon - Heldon <br>
		The Four Horsemen - Aphrodite's Child <br>
		Ork alarm - Magma <br>
		Lumière Blanche Schneeturm - Ulan Bator <br>
		Flying Whales - Gojira <br>
		De Motu Pendulorum - Lightwave <br>
		Dopees - Dorine Muraille <br>
		Short Circuit - Daft Punk <br>
		Veridis Quo - Daft Punk<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		Query "albums de la décennie" was my way in.
	</div>
</div>

<br>

</div>