<iframe src="{{spotger}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		These Days - Nico
		Creole Love Call - Comedian Harmonists
		Sunny - Boney M.
		Hier kommt Alex - Die Toten Hosen
		Männer - Remastered 2016 - Herbert Grönemeyer
		Hallogallo - NEU!
		You're so Cool (Main Title) - Hans Zimmer
		Burning - The Whitest Boy Alive
		Blaue Augen - Ideal
		Radioactivity - 2009 Remaster - Kraftwerk
		Major Tom - Coming Home - Peter Schilling
		Forever Young - 2019 Remaster - Alphaville
		The Power - SNAP!
		Pogo - Digitalism
		Hearts - L.S.G.
		Fertilized - Mouse On Mars, Cavern of Anti-Matter
		Dickes B (feat. Black Kappa) - Seeed, Black Kappa
		Iris/Retinal Scanning - Der Zyklus
		Freeze - Klaus Schulze
		The Light 3000 - Schneider TM, KPT.Michi.Gan
		Masimbabele - The Unknown Cases
		Pius in Tacet - Pantha Du Prince
		Dawn - Deuter
		Flowers For Yulia - Max Richter
		The Garden - Einstürzende Neubauten
		Schön von Hinten - Stereo Total
		TV-GLOTZER (WHITE PUNKS ON DOPE) - Nina Hagen
		Eine Eigene Geschichte - Blumfeld
		Mack the Knife - Kurt Weill, Lotte Lenya, Roger Bean
		Love On A Real Train - Tangerine Dream
		Return To Innocence - Enigma
		She Brings the Rain - CAN
		The Sad Skinhead - Faust
		Ah! - Popol Vuh
		Knifflige Fragen - Air Liquide
		Revolution Action - Atari Teenage Riot
		Soap Shop Rock - Live - Amon Düül II
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>

	</div>
</div>

<br>

