<h3>Glasgow</h3>
<div>

<iframe src="{{spotglas}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		I Fought the Angels - The Delgados<br>
Dress Up in You - Belle and Sebastian<br>
The Dark Of The Matinée - Franz Ferdinand<br>
The First Big Weekend - Arab Strap<br>
The Conversation - SACRED PAWS<br>
Set Me Free, I’m an Animal - Sega Bodega<br>
Jesus Wants Me For A Sunbeam - The Vaselines<br>
Suspended From Class - Camera Obscura<br>
The Leanover - Life Without Buildings<br>
Life In A Scotch Sittingroom 2 Episode 11 - Ivor Cutler<br>
Consolation Prize - Orange Juice<br>
What Do We Do Now? - The Just Joans<br>
Into the Wild - Sparrow And The Workshop<br>
Gilt Complex - Sons And Daughters<br>
Selfish Lover - Walt Disco<br>
Cocain - John Martyn<br>
Jersey Thursday - Donovan<br>
Theme For An Imaginary Western - Jack Bruce<br>
Needle of Death - 2015 Remaster - Bert Jansch<br>
This Is The Life - Amy Macdonald<br>
Just Like Honey - The Jesus and Mary Chain<br>
Lost In Tokyo - Koreless<br>
Flickering Debris - Lanark Artefax<br>
Back In the Dayz - Mungo&#x27;s Hi Fi, Gardna, Catching Cairo<br>
Caramel - Konx-Om-Pax<br>
Ultra Thizz - Rustie<br>
Uh - Gasp<br>
See You At the Lights - 1990s<br>
Foundling - Appendix Out<br>
Career Progression - The Kimberly Steaks<br>
Kandy Pop - bis<br>
Tied To The 90&#x27;s - Travis<br>
Tinseltown In The Rain - The Blue Nile<br>
The Faith Healer - Remastered 2002 - The Sensational Alex Harvey Band<br>
Sparky&#x27;s Dream - Teenage Fanclub<br>
The Mother We Share - CHVRCHES<br>
It Helps to See You Hurt - De Rosa<br>
I Am The Butcher - Butcher Boy<br>
Look After Your Wife - Lord Cut-Glass<br>
Infinity Milk - Dananananaykroyd<br>
First Day on a New Planet - Urusei Yatsura<br>
Never Meet Your Heroes - Lovers Turn To Monsters<br>
Toby Mangel - Lugworm<br>
Hot Things - Count Florida<br>
Delivered - Admiral Fallow<br>
Crush the Flowers - The Wake<br>
Feel Bad - Apostille<br>
The Storm You Never Knew About Blew Half the Island Into the Sea - Stapleton<br>
Workers&#x27; Song - Dick Gaughan<br>
Honey at the Core - Original Demo - Friends Again<br>
Inbhir - GLIN<br>
Timing&#x27;s End - Rebecca Vasmant<br>
Paul Simon - Golden Grrrls<br>
More! More! More! - Baby Strange<br>
Schweben - Ay, but Can Ye? - Glasgow Improvisers Orchestra<br>
Christmas Steps - Mogwai<br>
Feels Like I&#x27;m in Love - Kelly Marie<br>
what&#x27;s for ye - wojtek the bear<br>
Obelisk - Graham Costello&#x27;s Strata<br>
Siddhartha - Brass Jaw<br>
I Kiss the Flowers in Bloom - Close Lobsters<br>
Braid Burn Valley (Blink, Now You&#x27;ve Missed It) - Honeyblood<br>
What Makes You a Man - The Ninth Wave<br>
	</div>

</div>
</div>