<iframe src="{{spotire}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Mountain Dew - The Pogues, The Dubliners<br>
		Raglan Road - Luke Kelly<br>
		Boil The Breakfast Early - The Chieftains<br>
		Mary And The Soldier - Andy Irvine, Paul Brady, Dónal Lunny, Kevin Burke<br>
		What Will We Do When We Have No Money? - Lankum<br>
		Mo Ghile Mear (Arr. Desmond Earley) - Choral Scholars of University College Dublin<br>
		Be Good or Be Gone - Fionn Regan<br>
		In He Comes - Cathy Davey<br>
		Just Like U Said It Would B - Sinéad O'Connor<br>
		Waiting For An Alibi - Thin Lizzy<br>
		King of the Fairies - Horslips<br>
		Sunday Bloody Sunday - Remastered 2008 - U2<br>
		What's Left of the Flag - Flogging Molly<br>
		Liberty Belle - Fontaines D.C.<br>
		Only Shallow - My Bloody Valentine<br>
		Twinkle - Whipping Boy<br>
		Where's Me Jumper? - Sultans Of Ping FC<br>
		Revelate - The Frames<br>
		Romeo's on Fire - The Stunning<br>
		A Ghost In This House - The Immediate<br>
		It's Yours - David Kitt<br>
		Doo-Wop Property - The High Llamas<br>
		Dolls - Solar Bears<br>
		International Dreambeat - Adebisi Shank<br>
		Soul Food - Rusangano Family<br>
		Bubby's Cream - Kojaque<br>
		Black &amp; Amber - a lazarus soul<br>
		Higgs Boson Particle - Bats<br>
		Paul - Girl Band<br>
		Orinoco Flow - 2009 Remaster - Enya<br>
		Solace - Fovea Hex<br>
		No Need To Argue - The Cranberries<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		https://www.irishrock.org/index.html
	</div>
</div>

<br>

