<h3>Ireland</h3>
<div>

<iframe src="{{spotire}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
Oro Mo Bhaidin by Mary O'Hara<br>
Mountain Dew by The Pogues, The Dubliners<br>
Mo Ghile Mear by Seán Clárach Mac Domhnaill, The Choral Scholars of University College Dublin<br>
Raglan Road by Luke Kelly<br>
What Will We Do When We Have No Money? by Lankum<br>
Caoineadh Cú Chulainn by Bill Whelan<br>
An Dòrd Fienne by The Wolfe Tones<br>
Dance Around the Spinning Wheel by Finbar and Eddie Furey<br>
In He Comes by Cathy Davey<br>
Just Like U Said It Would B by Sinéad O'Connor<br>
Breathless by The Corrs<br>
Music For A Found Harmonium by Patrick Street<br>
Waiting For An Alibi by Thin Lizzy<br>
King of the Fairies by Horslips<br>
Sunday Bloody Sunday by U2<br>
What's Left of the Flag by Flogging Molly<br>
Liberty Belle by Fontaines D.C.<br>
Only Shallow by my bloody valentine<br>
Strachan by The Hitchers<br>
Where's Me Jumper? by Sultans Of Ping F.C.<br>
Charlton Heston by Stump<br>
I'm Hardly Ever Wrong by The Would Be's<br>
Nothing Rhymed by Gilbert O'Sullivan<br>
Endless Art by A House<br>
A Ghost In This House by The Immediate<br>
It's Yours by David Kitt<br>
Doo-Wop Property by The High Llamas<br>
Switch by Biig Piig<br>
I Have a Love by For Those I Love<br>
Lone Shanakyle by Deanta<br>
Dolls by Solar Bears<br>
International Dreambeat by Adebisi Shank<br>
Soul Food by Rusangano Family<br>
Bubby's Cream by Kojaque<br>
Copper Bullet by Denise Chaila<br>
Black &amp; Amber by a lazarus soul<br>
Higgs Boson Particle by Bats<br>
Paul by Gilla Band<br>
Solace by Fovea Hex<br>
only shallow by my bloody valentine<br>
Orinoco Flow - 2009 Remaster by Enya<br>
No Need To Argue by The Cranberries<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		https://www.irishrock.org/index.html
	</div>
</div>

<br>

</div>