<h3>Italy</h3>
<div>

<iframe src="{{spotita}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Pelle Di Luna - Piero Umiliani<br>
		Se telefonando - Mina<br>
		Maracaibo - Lu Colombo<br>
		Luglio, agosto, settembre (nero) - Area<br>
		O Cessate Di Piagarmi - Alessandro Scarlatti, Nora Fischer<br>
		Corale - Leggenda Del Re Infelice - Fabrizio De André<br>
		Tu vuo' fa l'americano - Renato Carosone<br>
		Via con me - Paolo Conte<br>
		Stormi - Radio Edit - Iosonouncane<br>
		Fiore mio - Andrea Laszlo De Simone<br>
		Girlfriend - Mind Enterprises<br>
		The Shape Of Trance To Come - Lorenzo Senni<br>
		Faces - Prod. Roberto Ferrante - Clio<br>
		Knights in White Satin - Remastered - Giorgio Moroder<br>
		Tina, Are You Ready? - Valentine<br>
		Imago - Daniele Baldelli<br>
		Komodo - Mauro Picotto<br>
		Beta - Franco Battiato<br>
		Bologna Rock - Confusional Quartet<br>
		Madhouse - Jennifer Gentle<br>
		Io Sto Bene - CCCP – Fedeli Alla Linea<br>
		Start a Fight - Raw Power<br>
		Stomp - Uzeda<br>
		Jone - Banda Ionica<br>
		Ballate a ballu tundu - Tenores Di Bitti<br>
		Tarantella calabrese - Daniele Sepe<br>
		Impressioni di Settembre - Premiata Forneria Marconi<br>
		Sospesi nell'oblio - Squadra Omega<br>
		La mente vola - Alphataurus<br>
		Fantas - Caterina Barbieri<br>
		Ostia - Zu<br>
		Stigma - Ufomammut<br>
		Iniziare - Alessandro Cortini<br>
		Ecstasy of Gold - Ennio Morricone, Yo-Yo Ma, Roma Sinfonietta<br>
		"Vedi! le fosche notturne spoglie" (Anvil Chorus) - Giuseppe Verdi<br>
		Le Ultime Parole Di Brandimante - Le Stelle Di Mario Schifano
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		Scaruffi (2002), <a href="https://www.scaruffi.com/history/italian.html">A brief summary of Italian rock music</a>
	</div>
</div>

<br>

</div>