<h3>Japan</h3>
<div>
	
<iframe src="{{spotjap}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"> </iframe> 
<br>

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		Rydeen - YELLOW MAGIC ORCHESTRA <br>
		Only You - Hakushi Hasegawa <br>
		君じゃなきゃダメみたい - Masayoshi Oishi <br>
		veloceでまた会いましょう - New oil deals <br>
		Fire Brain - Kroi <br>
		The Micro Disneycal World Tour - Cornelius <br>
		多分、風。 - Sakanaction <br>
		Ai No Yume feat. YASUAKI SHIMIZU - FPM <br>
		うたのけはい - Ichiko Aoba <br>
		4:00A.M. - Taeko Onuki <br>
		さくらんぼ - Ai Otsuka <br>
		LITTLE BUSTERS - the pillows <br>
		ロックンロールは鳴り止まないっ - 2015remaster - Shinsei Kamattechan <br>
		Linda Linda - Japanese - Drinking Boys and Girls Choir <br>
		LOVE Zukkyun - Soutaiseiriron <br>
		Soranin - ASIAN KUNG-FU GENERATION <br>
		Haiku - The Mops <br>
		I Wanna Eat Chocobars - Shonen Knife <br>
		Melon Soda - tricot <br>
		ストラトキャスター・シーサイド - Suspended 4th <br>
		Amamizu - Masakatsu Takagi <br>
		Uruku Tumi Gushiku (Mimura Bushi) - Takashi Hirayasu &amp; Bob Brozman <br>
		Jing Jing - Shokichi Kina <br>
		Koza Renka - Takashi Hirayasu <br>
		島人ぬ宝 - BEGIN <br>
		月は東に日は西に - Tokyo Kid Brothers <br>
		Gloomy Reflections - Shinki Chen <br>
		Remember Love (Bonus Track) - John Lennon, Yoko Ono <br>
		Don’t Worry Kyoko (Mummy’s Only Looking for a Hand in the Snow) - Yoko Ono <br>
		TEEVEE - Hiroshi Yoshimura <br>
		King Dragonfly - Susumu Yokota <br>
		獣ゆく細道 - Sheena Ringo, Hiroji Miyamoto <br>
		カリソメ乙女 - DEATH JAZZ ver. - Sheena Ringo, Soil &amp; "Pimp" Sessions <br>
		IOA - OOIOO <br>
		Woman On The Screen - Boris <br>
		Pop Sicle - High Rise <br>
		LONG SEASON - Fishmans <br>
		Between 7:50 - 8:05 PM - Taj Mahal Travellers <br>
		Satori Part II - Flower Travellin' Band <br>
		Marrakech - Ghost <br>
		Amnesia - Sigh <br>
		Wasan - J A Caesar <br>
		A Speeding Car - MONO <br><br>

		Missing on Spotify: <a href="{{yuka}}">Yuka C Honda</a>, <i><a href="{{shiki}}">Shiki no Uta</a></i>, <a href="{{zenon}}">OORUTAICHI</a>, <a href="{{kata}}">Katamari</a>, <a href="{{gits}}">that one track</a> from GITS, <a href="{{linne}}">this version</a> of 'Linne'.
	</div> 
	<h3>Resources</h3> 
	<div> 
		<a href="{{clear}}">Ian Martin's blog</a><br>
		<a href="{{dokk}}">Kato David Hopkins' book</a><br>
		<i>Japrocksampler</i> by the mighty, unreliable Julian Cope. More likely <a href="{{jrs}}">his top 50</a>.<br> 
		<a href="{{scarjap}}">Scaruffi on the weirder stuff.</a><br> 
		<a href="{{teen1}}">Various</a> <a href="{{teen2}}">skronk-heavy</a> <a href="{{teen3}}">lists</a> from Reddit<br> 
		The Spotify Sound of Japanese [X] playlists are surprisingly bad. I don't think I got any cuts from any of the 10 lists. 
	</div> 
</div> <br>

</div>