<h3>Kenya</h3>
<div>
    
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3oh4ZsvU1vhMmkEvXbHoH6?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div class="accordion"> 
    <h3>List</h3> 
    <div>
      Odhiambo Odet by Ogalo Mirasi<br>
Kimumunyanio by Peter Kigia Wa Esther<br>
Mulima Hale by Salome Nolega With Luya Girls<br>
Pole Musa by Daudi Kabaka<br>
Ilando Gima Onge by Extra Golden<br>
Koko’s Vibration - Radio Mix by Sarabi<br>
Mwongele by Simba Wanyika<br>
Vunja Mifupa by Samba Mapangala &amp; Orchestra Virunga<br>
Wendo Virgin by Peter Kigia Wa Esther<br>
Piny Ose Mer by Daniel Owino Misiani, Shirati Jazz<br>
Esiessi Siolle by Abana Ba Nasery<br>
Likuta Bibi by Henry Makobi<br>
Jacob Omolo by Ogwang Lelo Okoth with Paddy J Onono, Ogwang Lelo Okoth, Paddy J Onono<br>
Mtindo Wa Mombasa by Zein Musical Party<br>
Malaika by Daniel Kamau<br>
Angelike Twist by John Nzenze<br>
Malaika by Fadhili Williams<br>
Kipenzi Waniua Ua by Fundi Konde<br>
Bwana Nipe Pesa by A.I Records Original Artists<br>
Twist Ni Nzuri by John Nzenze<br>
Mrembo Pesa by Eagles Lupopo ’77<br>
Naenda Ngambo by Fadhili William Mdawida<br>
Furaha ya kanu by O.S. Africa Jazz Onema Pascal<br>
Stellah by Freshley Mwamburi<br>
Kipenzi Changu by David Nzomo<br>
Mwanagu lala by Frank &amp; His Sisters<br>
Kilindini Mujimupia by Francis Ouma<br>
Julieta Uko Wapi by Isaya Mwinamo jnr<br>
Majengo Siendi Tena by Fundi Konde<br>
Josephine Wa Maringo by Fundi Konde<br>
Shimoni by Roger Whittaker<br>
Chemirocha III by Chemutoi Ketienya and Kipsigis Girls<br>
Pini Ochama (I Was Without Hope) by Lang Obiero  
    </div>
</div>

</div>