<h3>Latvia</h3>
<div>

<iframe src="{{spotlatv}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>


<div class="accordion">
    <h3>List</h3>
    <div>
        Lidojums Uz Sauli - Ingus Baušķenieks<br>
        Riņķa deja (Krievu rulete) - rolands če<br>
        Rock On The Ice - Zodiaks<br>
        Ārā - Bērnības milicija<br>
        Svētku Diena - Turaidas Roze<br>
        Ezers - Haralds Sīmanis<br>
        Viņi Dejoja Vienu Vasaru - Menuets<br>
        La bataille de neige - Domenique Dumont<br>
        Pie Baltas Lapas - Perkons<br>
        Baltā Haizivs - Hospitāļu iela<br>
        Es šodien jūku prātā - Imants Kalniņš, Renārs Kaupers<br>
        Nepārmet man - Ojārs Grīnbergs, Margarita Vilcāne<br>
        Jel dod man bučiņ’ - Žoržs Siksna<br>
        Piena Ceļš - Ieva Akuratere<br>
        Mīlestība skaitās - Ainars Mielavs<br>
        Ancient Prairie - Ēriks Ešenvalds, State Choir Latvija, Māris Sirmais, Ilze Zariņa<br>
        The Heavens' Flock - Ēriks Ešenvalds, Paulann Petersen, Portland State University Chamber Choir, Ethan Sperry<br>
        Jāņu Mātes Pagalmā - Laiksne<br>
        Pārāk Jauna - Singapūras Satīns<br>
        Kauguri 1998 - ansis, Oriole<br>
    </div>
</div>

</div>