<h3>Leeds</h3>
<div>

<iframe src="{{spotleed}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media"> <br>
</iframe> 

<div class="accordion"> 
	<h3>List</h3> 
	<div> 
		Kennedy - The Wedding Present <br>
		Where Were You - Mekons <br>
		Space Is the Place - Spacehog <br>
		A Friend For Life - Boyracer <br>
		Not Great Men - Gang Of Four <br>
		Asylums In Jerusalem - 2001 Digital Remaster - Scritti Politti <br>
		Something Good '08 - Radio Edit - Utah Saints <br>
		Femme Retrospectif - Original Mix - Riley &amp; Durrant <br>
		Second Shot - The Cassandra Complex <br>
		Say Hello, Wave Goodbye - 7" Single Version - Soft Cell <br>
		Marian - Version - Sisters of Mercy <br>
		Wasteland - The Mission <br>
		A Steady Hand - I LIKE TRAINS <br>
		English White Boy Engineer - 1982-87 All The Singles And B-Sides - The Three Johns <br>
		My Favourite Dress - The Wedding Present <br>
		Bombay Stores Disco - Vibracathedral Orchestra <br>
	</div>
	<!--  -->
	<h3>Resources</h3> 
	<div> 
		<i>Rip it Up and Start Again</i> by Simon Reynolds
	</div>
</div>

</div>