<h3>Liverpool</h3>
<div>

<iframe src="{{spotliver}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Call Me Mr Demolition Ball - Hot Club De Paris<br>
Come Back - The Mighty Wah!<br>
Fault Lines - SPQR<br>
Lazarus - The Boo Radleys<br>
Little Black Numbers - Remastered - Kathryn Williams<br>
A Country Practice - Half Man Half Biscuit<br>
Two To Birkenhead - Bill Ryder-Jones<br>
Enola Gay (Peel Session 2) - Orchestral Manoeuvres In The Dark<br>
Playgirl - Ladytron<br>
Jokin' Me - Stealing Sheep<br>
Ain't Talkin' 'Bout Dub - Apollo 440<br>
Come Into Our Room - Clinic<br>
Blossoms Falling - Ooberman<br>
The Ballad of Tom Jones - Space<br>
Love of the Loved - Cilla Black<br>
Wondrous Place - Billy Fury<br>
What a Way to End It All - Deaf School<br>
Don't Let the Sun Catch You Crying - Gerry &amp; The Pacemakers<br>
Cavern Stomp - The Big Three<br>
Arty's Wife - Mike Hart<br>
Something - The Beatles<br>
Jealous Guy - John Lennon<br>
What Is Life - George Harrison<br>
Coming Up - Live At Glasgow - Paul McCartney<br>
Dreaming of You - The Coral<br>
Nothing's Real but Love - Rebecca Ferguson<br>
The Killing Moon - Echo &amp; the Bunnymen<br>
Shorley Wall - Ooberman<br>
Went to Town - Rooney<br>
Yes...That's Positive - a.P.A.t.T.<br>
Sunburnt Impedance Machine - Mugstar<br>
Blow My Mind - International Pony Rmx - Deejay Punk-Roc, International Pony<br>
Liverpool Medley - The Real Thing<br>
I Wish I Could Talk in Technicolor - Wired to Follow<br>
Tsintskaro - Capac<br>
For What Is Chatteris... - Half Man Half Biscuit<br>
The Light At The End Of The Tunnel (Is The Light Of An Oncoming Train) - Half Man Half Biscuit<br>
Twenty Four Hour Garage People - Half Man Half Biscuit<br>
Floreat Inertia - Half Man Half Biscuit<br>
Surging Out Of Convalescence - Half Man Half Biscuit<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
	</div>
</div>

<br>

</div>