<h3>Manchester</h3>
<div>

<iframe src="{{spotman}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Psycle Sluts - 48 Chairs<br>
		Autonomy - Buzzcocks<br>
		First of the Gang to Die - Morrissey<br>
		Mathematics - Cherry Ghost<br>
		A Song For The Lovers - Richard Ashcroft<br>
		Baiser - Chris Sievey<br>
		To You - Remastered - I Am Kloot<br>
		Cloudy Lemonade - Alfie<br>
		Stone on the Water - Badly Drawn Boy<br>
		Cause a Rockslide - Badly Drawn Boy<br>
		A Song From Under The Floorboards - Magazine<br>
		Who Works The Weather - The Great leap Forward<br>
		Made of Stone - Remastered - The Stone Roses<br>
		Reverend Black Grape - Black Grape<br>
		Laid - James<br>
		This Is How It Feels - Inspiral Carpets<br>
		5 8 6 - 2020 Digital Master - New Order<br>
		Pacific 202 - 808 State<br>
		Bike - Autechre<br>
		Voodoo Ray - A Guy Called Gerald<br>
		Feel Something - Holy Other<br>
		No Reptiles - Everything Everything<br>
		I like it when you sleep, for you are so beautiful yet so unaware of it - The 1975<br>
		Ain't No Love (Ain't No Use) [feat. Melanie Williams] - Sub Sub, Melanie Williams<br>
		Dus' - Brassy<br>
		Hit the North Part 1 - The Fall<br>
		Working And Shopping - Tools You Can Trust<br>
		Suspended Sentence - John Cooper Clarke<br>
		I Believe - Buzzcocks<br>
		Warsaw - 2010 Remaster - Joy Division<br>
		Blindness - The Fall<br>
		rat poison - Superqueens<br>
		Fireplace - Kiran Leonard<br>
		Childlike Faith In Childhood's End - Van Der Graaf Generator<br>
		Winter Hill - A Certain Ratio<br>
		Debra - Big Flame<br>
		Down in Outer Space - Spaceheads<br>
		Numb - Andy Stott<br>
		Cichli - Autechre
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		Too many
	</div>
</div>

<br>


</div>