<h3>Netherlands</h3>
		<div>
<iframe src="{{spotneder}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Valse De La Bourgeoisie - Willem Breuker<br>
		Kid's Allright - Bettie Serveert<br>
		Always Share - Daryll-Ann<br>
		Pick Up - Solex<br>
		Prayer for My Demo - Urban Dance Squad<br>
		Boom, Boom, Boom, Boom!! - Vengaboys<br>
		Better Off Alone - Alice DJ<br>
		Magik Journey - Radio Edit - Tiësto<br>
		War Chant (Marcel Dettmann Edit) - mixed - Psychick Warriors Ov Gaia, Marcel Dettmann<br>
		We Are You in the Future - Martyn<br>
		Chrono - Remastered Version - DJ Hidden<br>
		J'espere Ca - Machinefabriek<br>
		If the Hat Fits the Suit - The Ex<br>
		Once I Was a Lady - Lucky Fonz III<br>
		It's Time - Dog Faced Hermans<br>
		For All Slaves A Song Of False Hope II - Gnaw Their Tongues<br>
		Ursonate (1986): Erster Teil - Jaap Blonk<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>

	</div>
</div>

<br>

</div>