or rather all of Tyne & Wear. 

<br>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6xjRaOPEAyFWJuWLNMYVxM?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<div class="accordion">
    <h3>List</h3>
    <div>
        The Testimony Of Patience Kershaw by The Unthanks<br>
Romeo And Juliet by Dire Straits<br>
Disappointed by Field Music<br>
Winter Song - 2004 Digital Remaster by Lindisfarne<br>
The Socialist ABC by Alex Glasgow<br>
Books From Boxes - Original Demo Version by Maximo Park<br>
It's All Gone Quiet by The Week That Was<br>
Trouble by Hen Ogledd<br>
It's a Sin - 2018 Remaster by Pet Shop Boys<br>
Stars (Motiv8 Radio Mix) by Dubstar<br>
Goodnight - Shit Robot Remix by Forriner, Shit Robot<br>
Virginia Plain by Roxy Music<br>
The King of Rock 'N' Roll by Prefab Sprout<br>
The Beginning of the Twist by The Futureheads<br>
A Year Of Doubt by Maximo Park<br>
When I Was Young by Eric Burdon &amp; the Animals<br>
High by Lighthouse Family<br>
Bus Station by Ceitidh Mac<br>
The Last Day by David Brewis<br>
I Want You To Stay - Field Music / J Xaverre mix by Maximo Park<br>
Seek Solace by The Noise &amp; the Naive<br>
Super Heartbeats by The Motorettes<br>
Caffeine Bomb by The Wildhearts<br>
Halfway To A Happening by The Janitors<br>
Uniforms by The Wall
Dead Industrial Atmosphere by Leatherface<br>
Ogre by Richard Dawson<br>
The Lads of North Tyne / The Redesdale Hornpipe by The High Level Ranters<br>
Gold by Archipelago<br>
Sing To The Sun - Mariam Rezaei Remix by Me Lost Me<br>
Dance to Yer Daddy by Alex Glasgow<br>
The Starlit Grotto by Bong
    </div>
</div>