<h3>Nigeria</h3>
<div>
    
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/4Fhd2I7nzJMFY1ad65OEIG?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    

<div class="accordion"> 
    <h3>List</h3> 
    <div>
        I Wish It Was Me by Obongjayar<br>
Atomic Bomb by William Onyeabor<br>
Allah Wakbarr by Ofo The Black Company<br>
Oliver Twist by D'banj<br>
Chop My Money - Remix by P-Square, Akon, May D<br>
Gentleman by Fela Kuti<br>
Ja Funmi by King Sunny Ade<br>
Come on Home by The Lijadu Sisters<br>
Okwukwe Na Nchekwube by Celestine Ukwu and his Philosophers National<br>
Koma Mosi by The Harbours Band<br>
Disco Africa by The Ogyatanaa Show Band<br>
Wetin De Watch Goat, Goat Dey Watcham by Eric Akaeze, His Royal Ericos, Showboy<br>
Rapid Fire by Cruel Santino, Amaarae<br>
JUMPING SHIP by Amaarae, Kojey Radical, Cruel Santino<br>
Jesu Joy and Hope of Man by Sir Victor Uwaifo<br>
Xmas Eve by Johnny O Bazz<br>
Bandana by Fireboy DML, Asake<br>
Long Live the Chief by Jidenna<br>
Tds (Surf) by Vicktor Taiwò<br>
Only You by Steve Monite<br>
Iskaba by Wande Coal, DJ Tunez<br>
Nigeria, Yoruba Tribe: Lagos Street Song by Benjamin & Kokoro Aderounmu<br>
Mother & Child by Sonny Okosun
    </div>
</div>

</div>