<h3>Norway</h3>
<div>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5q5MOYGSpvSh8DIm6NQQHU?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    <div class="accordion">
    <h3>List</h3>
    <div>
        White Foxes by Susanne Sundfør<br>
I Like You So Much Better When You`re Naked by Ida Maria<br>
Fear and Wonder by Dimmu Borgir<br>
Heartbeat by Annie<br>
So Easy by Röyksopp<br>
Come A Day by Synne Sanden, Turid Alida Solberg<br>
Portrait of the Young Girl as an Artist by Jenny Hval<br>
Misread by Kings of Convenience<br>
Come Back To Me by Jens Carelius<br>
Here We Go Again by The Time Lodgers<br>
Ocean Needs Water by Maria Solheim<br>
Things You Call Fate by Sondre Lerche<br>
Warning From The Skies by Magnus Moriarty<br>
Lemon Sweet by DinoSau<br>
Swedish Television by Bigbang<br>
This Is Not The Time by Superfamily<br>
White Shade by Lukestar<br>
Stay by Magnet<br>
Revolver by Philter, Miriam Vaga<br>
Do You Really Want to Read More? by Pilemil<br>
Sansen by Tôg<br>
Do You Remember by Ane Brun<br>
Capital of Norway by mylittlepony<br>
Pin by Mazarin Cut<br>
Havet by Bendik<br>
Just A Little Teardrop by The Vineyards<br>
Living Next Door To Alice In Wonderland by The Tables<br>
Sidelengs by Verdensrommet<br>
Carve Visage by Rumble In Rhodos<br>
Klæssar deg ned by Anja Elena Viken<br>
Elevation by cctv<br>
Royal Uniform by Surferosa<br>
Propaganda by Briskeby<br>
Oslo by The Little Hands Of Asphalt<br>
Lovesick by Cato Salsa Experience<br>
Take Me Home by Don Juan Dracula<br>
Isolation Street by Lano Places<br>
Au by Kaja Gunnufsen<br>
Dear Sister by Team Me<br>
Telepathetic by Sløtface<br>
Broken Horse by Put Your Hands Up For Neo-Tokyo<br>
Die Geschichte Einer Mutter by bel canto<br>
E by Hammok<br>
Harry Davidson by Krokofant<br>
Poa Alpina by Biosphere<br>
Onwards (keep going) by ØKSE<br>
Trees Are Slow Explosions by Angora Static<br>
Jesus' Tod by Burzum<br>
Quintessence by Darkthrone<br>
Wolf & The Devil by Ulver<br>
Unsilent Storms In The North Abyss by Immortal<br>
Dark Medieval Times by Satyricon<br>
Eld by Enslaved<br>
Possessed by Satan by Gorgoroth<br>
Path of Ice by Limbonic Art<br>
Colossus by Borknagar<br>
Al Svartr (The Oath) by Emperor<br>
Patterns That Connect, Pt. 2 by Eivin One Pedersen, Frode Gjerstad<br>
Svarte Hjerter by Ildjarn, Nidhogg<br>
fare thee well by Susanne Sundfør<br>
    </div>

</div>
</div>