<h3>New York</h3>
<div>

<div class="accordion"> 

    <h3>City</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0He9PPzeJfgHrjMJ5DPujT?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>Upstate</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0uFOdeLJluEWHWLr0lxqEC?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>Manhattan</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/66mz8IBLy5TBd7zPqbYj5S?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>Brooklyn</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6UFMARoDMKZzyx241IPXzN?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>Queens</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1yd4UDFYHoByVAQIpWeGUc?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>Staten</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/5HZ2NwRWfd3D81Gcj3DUR4?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>

    <h3>Bronx</h3>
    <div>
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1dWStcOfEK0CW8mzhAenUR?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>


</div>

</div>