<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/6065ld0iVLAnb4HQNt3fc6?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<br>

<div class="accordion"> 
    <h3>List</h3> 
    <div> 
        Expert In A Dying Field by The Beths<br>
Lydia by Fur Patrol<br>
Sophie by Goodshirt<br>
Joy by Vera Ellen<br>
Long Time Gone by Bachelorette<br>
Lucky Girl by Fazerdaze<br>
Swingin Party by Lorde<br>
Sierra Leone - Single Version by Coconut Rough<br>
Carol Brown by Flight of the Conchords<br>
Six Months In A Leaky Boat by Split Enz, E. Rayner<br>
A Source Of Light by The Naked And Famous, Kids Of 88<br>
iPod Touch by Eyeliner<br>
Black White &amp; Blue by Ladyhawke<br>
Computer Games by Mi-Sex<br>
Can't Get Enough by Supergroove
Swing by Savage<br>
Take Me Away - Ill Skillz Remix by Concord Dawn, Ill Skillz<br>
For the Love of It - Pitch Black Version by Salmonella Dub<br>
How Bizarre by OMC<br>
Don't Dream It's Over by Crowded House<br>
Why Does Love Do This To Me by The Exponents<br>
History Never Repeats by Enzso<br>
And It Was Easy by Darcy Clay<br>
Limbo Swing by Dadamah<br>
Dogs and Cats by The Cakekitchen<br>
Wall Walk by The Clean<br>
I Lost My Train by David Kilgour<br>
Pink Frost by The Chills<br>
North by North by The Bats<br>
Stranger Than Fiction by Split Enz<br>
Sway by Bic Runga<br>
Blue Smoke by Pixie Williams<br>
Old Peel by Aldous Harding<br>
Fire by The Black Seeds<br>
I See Red (Split Enz) by Human Flotsam<br>
Dippy's Last Trip by The Verlaines<br>
Retro by Bailter Space<br>
Eyebath by Pumice<br>
Bellbird by Alastair Galbraith<br>
Troubled Land by King Loser<br>
The Brain That Wouldn't Die by Tall Dwarfs<br>
There Is No Depression in New Zealand by Blam Blam Blam<br>
Dirty Creature by Human Instinct<br>
Thief with the Silver by Peter Jefferies, Jono Lonie<br>
Bird Soul - Ornithomancy Mix by Pitch Black, Kerretta<br>
Koterana by Alastair Galbraith<br>
Synapse for Viola and Computer by Barry Vercoe<br>
Panther Panther by Armpit<br>
Hymn For The Kumari by Gydja<br>
Robots - Live by Flight of the Conchords
    </div> 

</div> <br>
