<iframe src="{{spotport}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Dantza Con Noivos - Kepa Junkera, Julio Pereira<br>
		Ai meu amor se bastasse - Aldina Duarte<br>
		Trângulo Mângulo - Gaiteiros de Lisboa<br>
		Com Um Brilhozinho Nos Olhos - Sergio Godinho<br>
		Faro Luso - Julio Pereira<br>
		Maria Albertina - Humanos<br>
		Acordas P'la Manhã - Peste &amp; Sida<br>
		O corpo é que paga - António Variações<br>
		Dia Mau - Ornatos Violeta<br>
		MPTS - Branko, PEDRO<br>
		Problem Number 6 - Bruno Pernadas<br>
		Coral de Recife - Montanhas Azuis<br>
		Demagogia - Lena d’Água<br>
		Ayrton Senna - Norberto Lobo<br>
		Fon-Fon-Fon - Deolinda<br>
		Mudam-se os Tempos, Mudam-se as Vontades - José Mário Branco<br>
		Rio-me de Janeiro - They're Heading West, JP Simões<br>
		Ouvi Dizer - Ornatos Violeta<br>
		Não Posso Mais - Pedro Abrunhosa<br>
		Rua Nova da Piedade - Gabriel Ferrandini<br>
		The Primal Word - Rodrigo Amado<br>
		Wave Field - Radio edit - Rafael Toral<br>
		Crimine - Nuno Canavarro<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		
	</div>
</div>

<br>

