<h3>Scotland</h3>
<div>

<iframe src="{{spotscot}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		The Boy With the Arab Strap - Belle &amp; Sebastian <br>
		Son Of A Gun - The Vaselines <br>
		There's Got To Be Something - Ivor Cutler <br>
		Coming in from the Cold - The Delgados <br>
		Suddenly I See - KT Tunstall <br>
		A Girl Like You - Edwyn Collins <br>
		When I Argue I See Shapes - Idlewild <br>
		Pearly-Dewdrops' Drops (7" Version) - Cocteau Twins <br>
		Inhale Exhale - Anna Meredith <br>
		The Conversation - SACRED PAWS <br>
		I Heard - Young Fathers <br>
		The Knight &amp; the Shepherd's Daughter - Various Artists <br>
		Ashokan Farewell - Aly Bain, Jay Ungar <br>
		The Angel's Share - Calum Stewart <br>
		Morven Psalm 103: 13-14 - Live - Gaelic Psalm Singers, Calum Martin <br>
		Join Our Lusty Chorus - Alasdair Roberts <br>
		John Taylor's Month Away - King Creosote, Jon Hopkins <br>
		Fisherman's Blues - 2006 Remaster - The Waterboys <br>
		Week Off - Malcolm Middleton <br>
		Cocain - John Martyn <br>
		Jersey Thursday - Donovan <br>
		Theme For An Imaginary Western - Jack Bruce <br>
		Needle of Death - 2015 Remaster - Bert Jansch <br>
		Koeeoaddi There - 2010 Remaster - The Incredible String Band <br>
		Salters Road - Karine Polwart <br>
		Sailing - The Sutherland Brothers <br>
		The Modern Leper - Frightened Rabbit <br>
		This Is The Life - Amy Macdonald <br>
		Paper House - 2016 Remastered Version - The Associates <br>
		Consolation Prize - Orange Juice <br>
		As A Matter Of Fact - 7 Version - Spare Snare <br>
		Gilt Complex - Sons And Daughters <br>
		Ulysses - Franz Ferdinand <br>
		Just Like Honey - The Jesus and Mary Chain <br>
		Dry the Rain - The Beta Band <br>
		Push off My Wire (Bliss) - Lockah <br>
		Lost In Tokyo - Koreless <br>
		Flickering Debris - Lanark Artefax <br>
		Caramel - Konx-Om-Pax <br>
		Music Is Math - Boards of Canada <br>
		Ultra Thizz - Rustie <br>
		In My Arms - Mylo <br>
		£ - Proc Fiskal <br>
		Uh - Gasp <br>
		The Rumour - Andy Stewart <br>
		Òran an t-Saighdeir Ghàidhealaich - Kathleen MacInnes <br>
		Suspended From Class - Camera Obscura <br>
		The Leanover - Life Without Buildings <br>
		I Want You, But I Don't Need You - Momus <br>
		Dress Up in You - Belle &amp; Sebastian <br>
		Where We've Left Our Love - Arab Strap <br>
		Christmas Steps - Mogwai <br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		Hogg's "All that Ever Mattered"<br>
		Simon Reynold's "Rip it Up and Start Again".<br>
		<a href="https://www.jockrock.org/">jockrock.org</a><br>
		<a href="{{say}}">SAY Award</a>
	</div>
</div>

<br>

Also did <a href="{{unsco}}">a spillover playlist</a> to catch the many characteristic but less loveable cuts.

</div>