<iframe src="{{spotsheff}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Mardy Bum - Arctic Monkeys<br>
		Do You Remember The First Time? - Pulp<br>
		Weekend Without Makeup - The Long Blondes<br>
		She Said - Longpigs<br>
		Goodnight - Babybird<br>
		The Time Is Now - Moloko<br>
		Poison Arrow - ABC<br>
		Seconds  - Remaster 2002 - The Human League<br>
		Carnival Love - Toddla T, Miraa May<br>
		Vasto - Cabaret Voltaire<br>
		Hot on Heels of Love - Throbbing Gristle<br>
		Missing In Action - Comsat Angels<br>
		Photograph - Def Leppard<br>
		Run for Me - Richard Hawley<br>
		When I Go - Slow Club<br>
		This Forest - The Rheingans Sisters<br>
		Walk On Stalks Of Shattered Glass (Version) - Hula<br>
		Beep Street - Squarepusher<br>
		Third Stream Boogaloo - Derek Bailey<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		"Beats Working for a Living: The Story of Popular Music in Sheffield 1973-1984", Martin Lilleker<br>
		"Hit Factories", Karl Whitney
	</div>
</div>

<br>

