<h3>South Africa</h3>
<div>
    
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1vIfrJyrBKG4OAhWU9eSi5?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>    

<div class="accordion"> 
    <h3>List</h3> 
    <div>
        Sour Milk for Xmas by Jimmy Masuluke<br>
I Need Some Money by Chicco<br>
Umakotshasha (Zulu) [South Africa] by John Bhengu<br>
Mbube by Solomon Linda&#x27;s Original Evening Birds<br>
Sobabamba by Udokotela Shange Namajaha<br>
Amanxila by The Ncubes &amp; Chuma<br>
Hi-Tense by Biodive<br>
Only In My Mind by Kenya Grace<br>
Kwa Volondiya by Various Artists, Mahotella Queens<br>
Adiwele (feat. Kabza De Small &amp; DJ Maphorisa) by Young Stunna, Kabza De Small, DJ Maphorisa<br>
Ama Number Ayi &#x27;10 by Cassper Nyovest, Abidoza, Kammu Dee, LuuDaDeejay<br>
Banyana (feat. Sir Trill, Daliwonga &amp; Kabza De Small) by DJ Maphorisa, Tyler ICU, Kabza De Small, Sir Trill, Daliwonga<br>
Champion Sound by Davido, Focalistic<br>
Woza by Mr JazziQ, Kabza De Small, Lady Du, Boohle<br>
Dipatje Tsa Felo (feat. Daliwonga) by Felo Le Tee, Myztro, Daliwonga<br>
GUPTA by Focalistic, Mr JazziQ, Lady Du, Mellow &amp; Sleazy<br>
Tanzania by Uncle Waffles, Tony Duardo, Sino Msolo, BoiBizza<br>
Sengizwile (feat. Aymos &amp; Young Stunna) by Mas Musiq, Aymos, Young Stunna<br>
No Money by DJ Boat, OmoAkin<br>
Kilimanjaro - The Revenge Edit by Letta Mbulu, The Revenge<br>
Sugar My Love by T.Z. Junior<br>
Puleng by The Boyoyo Boys<br>
Selaocoe: Ka Bohaleng / On the Sharp Side by Abel Selaocoe, Alan Keary, Alice Zawadzki, Fred Thomas, Mamadou Sarr, Rakhi Singh, Ruth Gibson, Sidiki Dembele, Simran Singh<br>
Into Ezimnandi (South Africa) by Mqonga Sikanise<br>
Trouble - Musa Ukungilandela by Johnny Clegg &amp; Juluka, Sipho Mchunu<br>
Webaba by Culoe De Song, Busi Mhlongo<br>
1000 Seconds by Blackwhole
    </div>
</div>

</div>
