<h3>Tanzania</h3>
<div>
    
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/3XltH0vwRjeaFe2NbnKI63?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<div class="accordion"> 
    <h3>List</h3> 
    <div>
    Biti No 7 by Sisso<br>
    Sina Makosa by Les Wanyika<br>
Bwana Mdogo by Remmy Ongala<br>
Tanu Imeleta Uhuru by Kiko Kids Jazz<br>
Samboira by Ben Pol<br>
Tupa Tupa by Cboy_kb<br>
Mkapa by Wagogo<br>
Sitaki La Wama by Sahib El Arry<br>
Bivelina by Mbaraka Mwinshehe<br>
Dawa Ya Mapenzi - Le philtre d&#x27;amour by Mbaraka Mwinshehe, Orchestra Super Volcano<br>
Ajuza by Ottu Jazz Band<br>
Kero by Wagosi Wa Kaya<br>
Chama Kubwa by Tmk Wanaume<br>
Mtoto Iddi by Juma Nature<br>
Bongo Fleva by Prince Dully Sykes<br>
Bongo Fleva - Sped Up by Franko Daflame<br>
Ndivyo Sivyo by PROFESSOR JAY, Jose Chameleone<br>
Mkulima Wa Kitanzania by Muyangu<br>
Tanganyika, Swahili Tribe: Nahawandi by Swahili Tribe, Bom Amberon<br>
Tubuke Ku Kaya Kwa Mwankenya by Mwanjila Nsolo<br>
Songa Mbele by Hukwe Zawose, Michael Brook<br>
NELSON MANDELA by Hukwe Zawose<br>
Mtoto akililia wembe by Mlimani Park Orchestra<br>
Kombo - Bomu Ngoma by Rajab Suleiman, Kithara<br>
Sanza Na Sia by Yuspina Gadwin With Chaga Girls<br>
Kipenzi Changu Cha Moyo - Kyaso Ngoma by Rajab Suleiman, Kithara<br>
Masikini macho yangu by Zanzibara<br>
Nna Zama by Ikhwani Safaa Musical Club<br>
Came badugey (Why did you betray me): Mteru shaghasha njia by Tondo<br>
Vunja Mifupa by Samba Mapangala<br>
Wembe by Ghazzy Musical Club<br>
Wanawake by Moravian Women Of Tanzania
</div>
</div>

</div>