<h3>Ukraine</h3>
<div>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/0MD3orveNHS6dXJMI4Coy0?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture">
</iframe>

<div class="accordion">
    <h3>List</h3>
    <div>
        Ой, у гаю при Дунаю by Трио Маренич<br>
Подол (А Без Подола Киев Невозможен) by Леонид Духовный<br>
Dance of the Knights by Sergei Prokofiev<br>
Зоряна Ніч (1966) by Ансамбль Мрія<br>
Нiч яка мiсячна by Кобза<br>
Autumn Love by Kvitka Cisyk<br>
Шелкопряд by Flëur<br>
Time by ONUKA<br>
На небі by Okean Elzy<br>
Specially for You by DakhaBrakha<br>
Kolyskova by DakhaBrakha<br>
Відьми by BALKON<br>
GODDESS OF MISERY by Navi Lonsark<br>
Київ воєнний by RUSIIICK, PAAT<br>
Jupiter by Yaroslav Lenzyak<br>
Hot N Cold by Los Colorados<br>
Ти ж мене підманула by Vopli Vidopliassova<br>
Crazy Nikita by Panivalkova<br>
Згадай мене мила by Пиріг і батіг<br>
Небо by Odyn v Kanoe<br>
Мало слів by 5 vymir<br>
Київ - Лондон by O.Torvald<br>
Наливаймо Браття by Ukiez<br>
Тільки В Києві (1979) by Олександр Таранець<br>
Візьми by Dakh Daughters<br>
Пустельник. Кам'яна елегія by Піккардійська терція<br>
Kyrie Eleison (Monody of the XV Century) by Kiev Chamber Choir, Mykola Hobdytch<br>
Thou Art My Strength by Artemy Vedel<br>
Elegia (Andante Larghetto) by Valentin Silvestrov, Duo Gazzana<br>
Naive Music: No. 2. Nocturne by Valentin Silvestrov, Elisaveta Blumina<br>
Unsnaya Musika by Valentin Silvestrov<br>
Symphony Of Wind by Valentina Goncharova<br>
Botanichnyi Sad by Heinali<br>
The Sun Will Rise yet We Won't Be Here by Heinali
    </div>
    <!--  -->
    <h3>Resources</h3>
    <div>
    </div>
</div>

<br>

</div>