<iframe src="{{spotnorn}}" width="100%" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Suspect Device - Stiff Little Fingers<br>
		Teenage Kicks - The Undertones<br>
		This Is a Test - Oppenheimer<br>
		If It's Not You - Language of Flowers<br>
		Bring On the Sunshine - The Moondogs<br>
		Gay - StoneFish<br>
		Shining Light - Ash<br>
		Rock Club - The Dangerfields<br>
		Screamager - Therapy?<br>
		Needle In The Groove - Pat McManus<br>
		Honeychild - Ghost Of An American Airman<br>
		Beside You - 1999 Remaster - Van Morrison<br>
		Here Comes the Night - Them<br>
		Revolving Doors - Meilana Gillard<br>
		Hey Lisa - David Holmes<br>
		Neo-Geocities - The Host<br>
		the belll - the olllam<br>
		The Summerhouse - The Divine Comedy<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>

	</div>
</div>

<br>

