<h3>Wales</h3>
<div>

<iframe src="{{spotwal}}" width="100%" height="680" frameborder="0" allowtransparency="true" allow="encrypted-media">
</iframe>

<div class="accordion">
	<h3>List</h3>
	<div>
		Are You with Me Now? - Cate le Bon<br>
		The Taxi - Young Marble Giants<br>
		Throwing Bricks At Trains - Future Of The Left<br>
		Mulder and Scully - Catatonia<br>
		La Tristesse Durera (Scream to a Sigh) - Manic Street Preachers<br>
		Fire in My Heart - Super Furry Animals<br>
		Just a Day - Edit - Feeder<br>
		You! Me! Dancing! - Los Campesinos!<br>
		Hanky Panky Nohow - John Cale<br>
		Jêl Caerdydd - Calan<br>
		Ym Pontypridd mae 'nghariad - Yr Hwntws<br>
		Without You - Remastered 2010 - Badfinger<br>
		98.6 - The Bystanders<br>
		Back into the Future - Man<br>
		Break the Chain - Gene Loves Jezebel<br>
		Finished Symphony - Deadmau5 Remix - Hybrid, deadmau5<br>
		Jumbo - Underworld<br>
		She Will Only Bring You Happiness - Mclusky<br>
		Diamonds Are Forever - Shirley Bassey<br>
		Blerwytirhwng? - Super Furry Animals<br>
	</div>
	<!--  -->
	<h3>Resources</h3>
	<div>
		<i>The Roots of Rock, from Cardiff to Mississippi and Back</i>, Peter Finch<br><br>
		<a href="{{blerhynw}}">'Blerwytirhwng?' the place of Welsh pop music</a>, Sarah Hill<br><br>
		<a href="{{not}}">Welshnot blog</a><br><br>
		<a href="{{mbw}}">Music Blog Wales blog</a><br><br>
	</div>
</div>

<br>


</div>