<h3>Wirral</h3>
<div>


<br>

<iframe style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1eu2KUuXo5UbxwrRM7BcEa?utm_source=generator" width="100%" height="680" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


<div class="accordion">
    <h3>List</h3>
    <div>
       Dreaming of You - The Coral<br>
Enola Gay (Peel Session 2) - Orchestral Manoeuvres In The Dark<br>
Floreat Inertia - Half Man Half Biscuit<br>
Two To Birkenhead - Bill Ryder-Jones<br>
Come Closer - Miles Kane<br>
Ambition - Dalek I Love You<br>
Old World - The Seal Cub Clubbing Club<br>
Lazarus - The Boo Radleys<br>
Recollection of a Dream - The Suns<br>
私の頭の中で (Inside My Head) - Podge<br>
Caroline - Miles Kane<br>
Kitty Cat in the Jungle - Ambedo Blue<br>
Modern Problem - Tv Times - Some Detergents<br>
Falling Down - The Webb<br>
Troubles - Dan Disgrace<br>
Be Mine - Lance Fortune<br>
Don&#x27;t Stop the Music - Buster<br>
If You Don&#x27;t Come Back - The Undertakers<br>
Full Stop - Annexe The Moon<br>
The Highest Flood - Forest Swords<br>
Hung Rose - Dialect<br>
Concertina Ballerina - Alternative Radio<br>
Isobella - The Little Flames<br>
Repeat - Code Break<br>
Ultra - Evian Christ<br>
Hung Rose - Dialect
    </div>
</div>

</div>