<div class="accordion">

	<h3>Words</h3>
	<div>
		Poetry<br>
		
		<div class="accordion">		
			<h3>Prose</h3>
			<div>
				Fiction<br>
				Nonfiction<br>
				Faction
			</div>
		</div>
		Theatre
	</div>

	<h3>Sounds</h3>
	<div>
		Music<br>
		Opera
	</div>

	<h3>Visuals</h3>
	<div>
		Sculpture<br>
		Architecture<br>
		Costumery<br>
		<div class="accordion">		
			<h3>Images</h3>
			<div>
				Painting<br>
				Photography<br>
			</div>

			<h3>Motion</h3>
			<div>
				Dance<br>
				Film
			</div>	
		</div>
	</div>


	<h3>Theory</h3>
	<div>
	</div>

	
	
</div>

<center><a href="#fn:1" id="fnref:1">1</a></center><br><br>