<div class="accordion">

<h3>Maths</h3>
<div>
    <div class="accordion">
        <h3>Pure</h3>
        <div>
            <div class="accordion">
    		<h3>Discrete</h3>
            <div>
                Theoretical computer science<br>
                    Crypto<br>
                Theoretical linguistics
            </div>

            <h3>Continuous</h3>
            <div>
                Analysis
            </div>
            </div>

            <div class="accordion">
            <h3>Quantity</h3>
            <div>
    			Number theory<br>
    			Combinatorics<br>
    			Probability
            </div>

            <h3>Change</h3>
            <div>
                Analysis
            </div>
    		
    			
    		<h3>Space</h3>
            <div>		
    			Geometry
    				Algebraic geometry<br>
    				Trig

    			Topology<br>
            </div>

            <h3>Structure</h3>
            <div>       
    			Algebra<br>
    			Group theory<br>
    			Order theory
            </div>
            </div>
        </div>


        <h3>Applied</h3>
        <div>
    		Stats<br>
            Information theory<br>
            Bioinformatics
        </div>
    </div>
</div>

<h3>Logic</h3>
<div>
    <div class="accordion">
        <h3>Formal logic</h3>
        <div>
            Syllogistic<br>
            Propositional<br>
            Predicate<br>
            <div class="accordion">
                <h3>Mathematical logic</h3>
                <div>
                    Set theory<br>
                    Category theory<br>
                    Metalogic<br>
                    Proof theory<br>
                    Model theory<br>
                    Computability theory<br>
                </div>
            </div>
        </div>


	   <h3>Game theory</h3>
       <div>
            Multiplayer<br>
            Decision theory <a href="#fn:2" id="fnref:2">2</a><br><br><br>
        </div>
    </div>
</div>


</div>
