<div class="accordion">
	<h3>Particular languages</h3>
	<div>

		<div class="accordion">
			<h3>Afro</h3>
			<div>
			</div>
			<h3>Semitic</h3>
			<div></div>

			<h3>Uralic-Yukhaghir</h3>
			<div>
				Finnish<br>
				Estonian<br>
				Hungarian<br>
				Tundra<br>
				Kolyma
			</div>

			<h3>Austral</h3>
			<div></div>

			<h3>Gilyak</h3>
			<div></div>

			<h3>Dravidian</h3>
			<div></div>

			<h3>Altaic</h3>
			<div></div>

			<h3>Chukchi</h3>
			<div></div>

			<h3>Na-Dené</h3>
			<div></div>

			<h3>Amerindian</h3>
			<div></div>

			<h3>Kartvelian</h3>
			<div></div>

			<h3>Tai-Kadai</h3>
			<div></div>

			<h3>Indo-European</h3>
			<div></div>

			<h3>Sino-Tibetan</h3>
			<div></div>

			<h3>Eskimo-Aleut</h3>
			<div></div>

		</div>
	</div>
</div>