<div class="accordion">

<h3>Physics</h3>
<div>
	{%  include architect/physics.html          %}
</div>



<h3>Chemistry</h3>
<div>
	Organic<br>
	Inorganic
</div>


<h3>Biology</h3>
<div>
	<div class="accordion">
        <h3>Evolution</h3>
        <div>
        	Genetics
        </div>

        <h3>Biotechnology</h3>
        <div>
        </div>
        
        <h3>Ecology</h3>
        <div>
        </div>
		
		<h3>Phylogeny</h3>
		<div>
		<h3>Cells</h3>
			<div>
				<div class="accordion">
					<h3>Prokaryotes</h3>
					<div>
						Bacteria<br>
						Archaea
					</div>

	        		<h3>Eukaryotes</h3>
      		  		<div>
					Plants<br>
					<div class="accordion">
						<h3>Animals</h3>
						<div>
						Sociobiology<br>
						<div class="accordion">
		        		<h3>Humans</h3>
		        		<div>
							Medicine<br>
							Physiology<br>
							Food<br>
							Biological psychology<br>
							Physical anthropology<br>
							Cultural Coevolution theory
						</div>
						</div>
						</div>
					</div>
				</div>
				</div>	
			</div>
		</div>

	</div>
</div>


<h3>Earth Sciences</h3>
<div>
	Physical geography<br>
	Geology<br>
	Climatology
</div>

<h3>Engineering</h3>
<div>
	Chemical<br>
	Civil <br>
	Electrical<br>
	Mechanical
	<div class="accordion">
        <h3>Computer</h3>
        <div>
        	Hardware<br>
        	Software
        </div>
 </div>

 </div>

 </div>