<div class="accordion">

	<h3>Philosophy of life</h3>
	<div>
		<div class="accordion">
		<h3>Body</h3>
		<div></div>

		<h3>Society</h3>
		<div></div>

		<h3>Solutions to the Problem of Existence</h3>
		<div>
			<div class="accordion">
				<h3>Experience</h3>
				<div>
					Hedonism<br>
					Aestheticism<br>
					Intellectualism<br>
					Stoicism
				</div>
			</div>
			<div class="accordion">
				<h3>God</h3>
				<div>
				</div>
			</div>
			<div class="accordion">
				<h3>Nonexistence</h3>
				<div>
					Anattā <br>
					Suicide
				</div>
			</div>
			<div class="accordion">
				<h3>Action</h3>
				<div>
					Freedom<br>
					Self-invention<br>
					Morality <br>
					Posthumanism<br>
					Absurdism (laughter)
				</div>
			</div>
			</div>
		</div>
	</div>


	<h3>Epistemology</h3>
	<div>
		Cartesian<br>
		Post-cartesian<br>
		Scepticism<br>
		Enquiry<br>
		Evidence<br>
		Explanation and Understanding<br>
		Justification
	</div>



	<h3>Mind</h3>
	<div>
		Phenomenology <br>
		Objectivity <br>
		Perception <br>
		Personal identity
	</div>

	<h3>Reason</h3>
	<div>
		<div class="accordion">
			<h3>Pure Reason</h3>
			<div>see Formal reality</div>
			<h3>Practical Reason</h3>
			<div>see epistemology, Cognitive science, psychology, behavioural economics</div>
		</div>
	</div>


	<h3>Philosophy of Science</h3>
	<div>
		Explanation
		Causality
		Realism etc
		Demarcation 
		Reduction
		Laws
		Rationality
		Evidence
	</div>


	<h3>Ethics</h3>
	<div>
		First-order<br>
		Metaethics<br>
		Applied
	</div>


	<h3>Philosophy of Language</h3>
	<div>
		Semantics
	</div>


	<h3>Metaphysics</h3>
	<div>
		Ontology<br>
		Truth<br>
		Identity<br>
		Causation<br>
		Time<br>
		Modality
	</div>



	<h3>Aesthetics</h3>
	<div>
	</div>


	<h3>Metaphilosophy</h3>
	<div>
	</div>
		

</div>






