
<div class="accordion">
	<h3>Mechanics</h3>
	<div>
		<div class="accordion">
			<h3>Classical</h3>
			<div>
				Statics<br>
				Dynamics<br>
				Kinematics<br>
				<div class="accordion">
				<h3>Continuum </h3>
					<div>
						fluid mechanics, 
					</div>
				</div>
				Relativistic <br>
			</div>

			<h3>Quantum</h3>
			<div>
				QCD <br>
				QED <br>
				QFD
			</div>

			<h3>Statistical</h3>
			<div>		
				Thermodynamics
			</div>
		</div>
	</div>
</div>

or

<div class="accordion">
	<h3>Scales</h3>
	<div>
		<div class="accordion">
			<h3>Particle physics</h3>
			<div>
				Nuclear
			</div>

			<h3>Atomic-molecular-optical physics</h3>
			<div>
			</div>

			<h3>Condensed matter physics</h3>
			<div>
			</div>
			

			<h3>Astrophysics</h3>
			<div>
				Astronomy  <br>
			    Astrodynamics  <br>
			    Astrometry  <br>
			    Physical cosmology 	 <br>
			    Planetary science  <br>
			    Stellar astronomy 
			</div>
		</div>
	</div>
</div>