<div class="accordion">

	<h3>Economics</h3>
	<div>
		Macro<br>
		Micro<br>
		Behavioural<br>
		Economic History<br>
		Econometrics<br>
		Game theory
	</div>



	<h3>Psychology</h3>
	<div>
		Emotions
		Developmental
		Positive
		Pathological
		Social
		Cognitive 
	</div>

	<h3>Linguistics</h3>
	<div>
		{%	include architect/lang.html		%}
	</div>



	<h3>Social sciences</h3>
	<div>
		<h3>Politics</h3>
		<div>
			Political Economy
			International Relations
		</div>

		<h3>Sociology</h3>
			<div>
				Criminology <br>
				Aging <br>
				Emotions <br>
				Individuality <br>
				Race <br>
				Fame <br>
				Gender <br>
				Health <br>
				Risk <br>
				Urban <br>
				Nation <br>
				Childhood <br>
				Spirituality <br>		
				Family <br>
				Status <br>
				Education <br>
				Deviance <br>
				Sexuality
			</div>
	</div>

	<h3>History</h3>
	<div>
	Archaeology<br>

		<div class="accordion">
			<h3>Prehistory</h3>
			<div></div>

			<h3>Ancient</h3>
			<div></div>

			<h3>Middle Ages</h3>
			<div>Early <br>
				High<br>
				Late
			</div>

			<h3>Early Modern (1450 - 1750)</h3>
			<div></div>

			<h3>Late Modern (1750 - 1918)</h3>
			<div></div>

			<h3>Modern v Postmodern (1918 - )</h3>
			<div></div>

			<h3>Historiography</h3>
			<div>Method,<br>Metahistory</div>
		</div>
	</div>


	<h3>Law</h3>
	<div>

	</div>


	<h3>Social theory</h3>
	<div>
		<div class="accordion">
			<h3>(Cultural) Anthropology</h3>
			<div></div>

			<h3>Human Geography</h3>
			<div></div>
			
			<h3>Development</h3>
			<div></div>
			
			<h3>Psychoanalysis</h3>
			<div></div>
			
			<h3>Critical Theory</h3>
			<div></div>
			
		</div>
	</div>

	<h3>Art</h3>
	<div>
    	{%  include architect/art.html          %}		
	</div>

	 

</div>













