<h3>3. '81 (3:51)</h3>
<div>


The most <i>Ys</i>-y. Of pre-birth (Newsom was born in 1982) and rebirth (forgiving, getting past bullshit, starting again). Could be the transformative power of an early relationship (or the wistful friendship after one).<br /><br />

<table class="tg">
<tr> 
	<th class="tg-031e">
		@0:08 - "<i>Dirt is all the same</i>" - I know <a href="http://kid-reflux.blogspot.com/">someone</a> who'd see this as "emotions are universally uniform". (:<br />
		@0:25 - lovely scale picking<br />
		@2:32 - top of the harp's range sounds like a music-box, piercing, brittle.<br />
		@2:36 - "Even muddiest waters run" - we <a href="http://en.wikipedia.org/wiki/Hedonic_treadmill">move on from most things, eventually</a>.<br />
	</th>
</tr>
</table>

<br /><br />


"St George" and the "dragon" could be B and another of J's partners (Kingfisher?).

<br />
<div align="center">
<br>


A nod to independence, for a change? -<br />
"<i>Farewell to loves that I known</i>"<br />
"<i>I shall want for nothing more.</i>"


Content in oneself for once, though also "<i>I'm inviting everyone</i>" <br>


<img loading="lazy" data-src="https://4.bp.blogspot.com/_1jKHfOdSZhQ/TLiU1Ifp5dI/AAAAAAAAAlY/VgaY0sJ0Prw/s400/3_81.png" />

</div>
</div>