<h3>8. You and Me, Bess (7:12)</h3>
<div>
Frontier sure is lonely. Go fetch that horn quartet and them campfire backing singers, that'll be cheering. (<a href="http://en.wikisource.org/wiki/Black_Bess">Dick Turpin's horse</a>, or <a href="http://www.lyrics007.com/Harry%20Belafonte%20Lyrics/BESS%20YOU%20IS%20MY%20WOMAN%20Lyrics.html">Porgy's dame</a>...Guthrie or Gershwin, kids?) An intense, but doomed friendship. J "steals" Bess, and they try to eke out life in a terrible world's terrible winter - waves dangling the sea's entrails; outlawed; hoarding scarce food. J is captured because of Bess.<br /><br />


There's a vague betrayal ("<i>I believe you were not lying</i>"), a closed trial, and a hanging, at which J's forgiveness is heartbreaking.<br /><br />

<table class="tg">
<tr> 
	<th class="tg-031e">
	@0:00 - J ghosts the trumpet melody.<br />
	@3:00 - Epiphany! Duet, the beautiful moment of capture.<br />
	@4:30 - Sweet harp defiance on the gallows.<br />
	@5:08 - Heroic, perverse horns<br />
	@5:35 - Epiphany! Humble bravery.<br />
	@6:00 - La-la-la into the dark.
</th>
</tr>
</table>

<br><br />
But the harp chords are insistent and positive throughout, J Turpin's shrugging, gallows optimism. J dramatizes the breakup, tries to absolve him; accepts the sentence anyhow.<br /><br />


<img loading="lazy" data-src="https://4.bp.blogspot.com/_1jKHfOdSZhQ/TLiUlQ9gyXI/AAAAAAAAAkw/nGwGYbAv4OQ/s400/8_You+and+Me.png" />

</div>