<h3>9. In California (8:01)</h3>
<div>

Personal highlight: an ode to retreating home. (More delusion, but what sweet and self-assured lies they are!) Home as sanctuary, running from the breakup. "Time", nostalgia, "sometimes", time, time. The tick-tock harp marks structure - the main (theme) section builds up in three runs - sometimes, sometimes, sometimes. Running metaphor of herself as an uprooted and difficult plant.<br /><br />

Can't shake him. J pretends to have everything just as she wants: 'home'. She's learning it properly for the first time, even. Tells him to leave her alone - and looks forward to him disobeying. She has "<i>sown untidy furrows across her soul</i>", been "pulling artlessly with fool commands" in moving on abruptly and categorically. Ain't working.<br /><br />

Two reasons you ignore a thing: either it's not important or you wish it weren't.<br /><br />

<table class="tg">
<tr> 
	<th class="tg-031e">
		@1:09 - Epiphany! "it feels like some kind of mistake"<br />
		@1:25 - tick-tock modulates to D-add4th ...<br />
		@1:42 - horn swell into...<br />
		@1:53 - <i>Epiphany</i>!...sudden mood change - "<i>But there is another</i>..."<br />
		@2:26 - theme introduced<br />
		@3:00 - Epiphany! "I have sown untidy furrows cross my soul"<br />
		@3:14 - "SoOmetimes" theme<br />
		@3:46 - tick-tock returns<br />
		@4:18 - develops! (piano, bass, and drum enter)<br />
		@4:49 - back to the theme. "<i>Pick off my goldfish / From their sorry <a href="http://en.wikipedia.org/wiki/Golden_State">golden state</a></i>"<br />
		@5:22 - Epiphany! <i>An oil drum!</i>; strings enter from behind<br />
		@5:45 - ...and collapse<br />
		@6:45 - strings launch the bird out the window, cawing weirdly<br />
		@7:30 - drum+vocal break<br />
		@7:47 - tension drops out; a little syncopated guitar<br />
		@ End - an Axl Rose vocal gliss(!)
	</th>
</tr>
</table>


<br><br />
Ends on the admission; "<i>it has half ruined me to be hanging around here...I am native to it, but I'm overgrown.</i>" Where do you go when home isn't home anymore?<br /><br />


<img class="lazy" data-src="https://1.bp.blogspot.com/_1jKHfOdSZhQ/TLiUfw4Hq1I/AAAAAAAAAko/jE32Ird9lx4/s400/9_In+Cali.png" /><br /><br />

A magnificent easter egg: the first 8 tracks total 53 minutes - then here, just before the 60min mark she cries "<i>Like a little clock that trembles on the edge of the hour / Only ever calling out 'cuckoo! cuckoo!'.</i>"

</div>
