<h3>14. Esme (7:55)</h3>
<div>


You can warm your hands on her adoration of this child. Vicarious, but nothing wrong with that. <br /><br />

She's stunned into a different place by seeing her friend's newborn. "<i>Just what you have done</i>." The child is a kite, a flying symbol for her. Her voice is tiny, the harp defers; J goes and hides in "branches" afterwards - a bird watching a birth and poring over its significance.<br /><br />

<table class="tg">
<tr> 
	<th class="tg-031e">
		@1:55 - a shock of syncopation, pickup<br />
		@2:50 - "<i>May</i>kindness abound!" - drunk on the child, she commands the world, a prophet.<br />
		@3:03 - Epiphany! exquisite 6/8 arpeggios.<br />
		@3:30 - Back to syncop, getting wild, celebrating for everyone<br />
		@4:08 - "<i>Each phantom limb lost</i>" - past loves remain with her, like amputations do. But even they are less lonely, in this light.<br />
		@4:36 - KINDNESS, damnit.<br />
		@5:36 - "Clean as a breeze, bright as the day" - offensively nice.<br />
		@6:23 - Epiphany! Tiny soul-octave on "If you are blue"
	</th>
</tr>
</table>
<br /><br />

Self-reference: "I search for words to set you at ease" - so it's a gift to Esme, a blessing against her future being blue. A proper epiphany (none of my glorifying a few seconds of pop music); your perspective on the world realigned and buoyed up by a new, tiny piece of information.<br /><br />


<img loading="lazy" data-src="https://2.bp.blogspot.com/_1jKHfOdSZhQ/TLiS1HBLbHI/AAAAAAAAAj4/ZvjHCzAtxzQ/s400/14_esme.png" />


</div>