<div class="footnotes">

<ol>
    <!-- 1 -->
    <li class="footnote" id="fn:1">
		I roam around the tidy grounds of my dappled sanatorium<br>
		Coatless I sit amongst the motes adrift and I dote upon my pinesap gum<br>
		And the light through the pines in brassy tines lays over me, dim as rum<br>
		And thick as molasses, and so time passes<br>
		And so, my heart, tomorrow comes<br><br>

		I feel you leaning out back with the crickets<br>
		Loyal heart marking the soon-ness, darkness tonight<br>
		Still, the mourning doves will summon us their song<br>
		Of love's neverdoneing lawlessness<br>
	</li>
</ol>

</div>