<h3>11. Go Long (8:02)</h3>
<div>
<blockquote>
	You were a<a href="{{bon}}"> prince</a>...<br />
	Who will <a href="http://en.wikipedia.org/wiki/There_Is_No-One_What_Will_Take_Care_of_You">take care of you</a>..?<br />
	There's a man who <a href="http://isgreaterthan.net/2008/02/bonnie-the-obscure/">only will speak in code</a>,<br />
	backing slowly, <a href="http://en.wikipedia.org/wiki/Ease_Down_the_Road">slowly down the road</a>.<br />
	May he <a href="http://en.wikipedia.org/wiki/Master_and_Everyone">master everything </a>that such men may know<br />
	about loving, and <a href="https://en.wikipedia.org/wiki/The_Letting_Go">then letting go</a>."
</blockquote>

<br><br>


Ornate and sickly - the title and lyrics are sports metaphors; there's a Bluebeard reference and other grisly things. The song is a charm for a man, one she's oddly subservient to (pardoning his violences and self-isolation). Masculinity viewed from outside.<br />
Much was made of the "kora vs harp duel" in this, but it is of course no such thing. There is a power struggle, but it's J&amp;B against B. (Each has their own melody.) Peering into your partner, coping with and treating the pieces you can see.<br><br>


"<i>We both want the very same thing -<br />
We are praying I am the one to save you</i>"
<br><br>


B's pet name here, wolf-spiders are solitary; the other pet names she gives him ("goose", "bluejay" and "magpie") are all species that mate for life.<br><br>


 <table class="tg">
<tr> 
	<th class="tg-031e">
		@0:00 - Cloying feel...who wants to hear your bad dreams?..<br />
		@2:37 - Enter frantic, baroque kora part. (-&gt;@3:08) The Mekong runs through Vietnam. ...there's a horrible napalm image comes to me.<br />
		@3:08 - Nursing, talking "Grope your little nurse".<br />
		@4:07 - Bastard kora comes back.<br />
		@5:44 - Kora again dischords. Bluebeard's chamber; a room full of woman's teeth<br />
		@6:38 - Kora is hushed. A blessing, &amp; more unsettling kora -&gt; out.
	</th>
</tr>
</table>
<br><br>
There's only so close you can get. And with some - "mighty men" say - there's no piercing the veil.<br /><br />

<img class="lazy" data-src="https://4.bp.blogspot.com/_1jKHfOdSZhQ/TLiUQmfL1PI/AAAAAAAAAkQ/PpcJ_P5mshc/s400/11_Go2.png" />

<br />

<blockquote>
"<i>This is the hour of lead<br />Remembered if outlived,<br />As freezing persons recollect the snow,<br />First chill, then stupor, then the letting go."</i>
<br />
-Emily Dickinson<br />
</blockquote>


</div>