<h3>4. Good Intentions Paving Co. (7:01)</h3>
<div>

<i>THAT </i>pedal in the piano! <i>Engine</i>.<br /><br />

Tremendous fun - full of Sam Cooke, puns, energy, and WWII girlgroup harmony. This is the one that gets called "poppy", I suppose because reviewers were just glad to get something easier to listen to. "<i>And I did not mean to shout 'Just drive! Just get us out, dead or alive!'</i><br /><br />


<blockquote>
<i>A road too long to mention <br />
- Lord, it's something to see, <br />
Laid down by the Good Intentions Paving Co.</i>"</blockquote>
<br /><br />

<table class="tg">
<tr> 
	<th class="tg-031e">
		@1:11 - just by adding a frigging tambourine, listen to beat change<br />
		@1:31 - banjo breaks in, piano drops out @1:47 - back,<br />
		@2:00 - Epiphany! Til the noise; and up.<br />
		@3:11 - bouzouki?<br />
		@3:28 - Down. Peace that only Hammond organ brings.<br />
		@5:30 - Up, up, up. Coda; neat little jam, trombone on out. Banjo comes back in, bringing his friend Hammond. Piano gets insubordinate, plonking chords.
	</th>
</tr>
</table>

<br><br />
Deciding to love. (Is love surrender? Fuck knows; to the sea!) Road to hell's westbound, and it's made of <i>deciding to drive home together instead of fly</i>. But now home is unfamiliar, and J's "<i>heart cannot drive</i>", she's dependent on getting B to do it. Agitation &amp; uncertainty - but now she's locked in to the relationship (en route) but still unsure (gotten lost, gotten jumpy about the destination).<br /><br />


Wordplay:<br />
<ul>
<li>"<i>I said to ya 'honey, just open your heart' / when I've got trouble even opening a honey jar"</i></li>
<li>"I can see you're wearing your staying hat, darlin"</li>
<li>"Auld Lang / Syne, sealed, delivered I sang"</li>
<li>"You ranged real hot and cold... I am at home on that range"</li>
</ul>

<br /><br />



Entering a relationship as "folding", giving up a round of cards? And: road metaphor, the two of them - "the course I keep"; "right here in the right lane". And "I'm sold". It's on.
<br /><br />

<img loading="lazy" data-src="https://1.bp.blogspot.com/_1jKHfOdSZhQ/TLiUx79DqVI/AAAAAAAAAlQ/TQt-S8jE53k/s400/4_Godd+Intent.png" />


</div>