<h3>2. Have One on Me (11:02)</h3>
<div>
	Drug Jig. Stately burlesque.<br /><br />
	<!--  -->
	Parts are sung in the voices of the life-large dancer/adventurer <a href="http://en.wikipedia.org/wiki/Lola_montez">Lola Montez </a>and of <a href="http://en.wikipedia.org/wiki/Ludwig_I_of_Bavaria">Ludwig I</a>, a King of Bavaria. It cycles around, through flashbacks, getting more and more hallucinatory until /- she snaps back to clarity (returns to the opening). About her arrogance and her suffering, dancing on the thread of the music.<br /><br />

	King Louis is daddy longlegs (a fly) and Lola thinks herself baby longlegs. Others ("Jesuits") see an immoral, gold-digging predator, dancing the tarantella before the King, a "<i>shrieking six-legged millionaire</i>".<br />	<br />

	Montez toured Nevada after her flirt with Euro nobility, and it's not hard to see Newsom dancing around parallels between herself and Lola - an "innovative female performer in the West". (Note that Newsom writes Lola not as the opportunist flirt that many accounts depict, but a wronged, heartbroke woman in a malign world). Despite Bavaria being the setting, it's Nevada, really...<br /><br />
	
	<table class="tg">
	<tr> 
		<th class="tg-031e">
			@1:40 - Up suddenly, cheeky tambura line and a tarantella beat<br />
			@2:42 - that weird chord break again (jump in time?). Metonymy - she <i>is</i> her brassiere.<br />
			@3:14 - Pensive, sweet scheming.<br />
			@4:00 - There is nothing I adore apart from that whore's black heart.<br />
			@5:40 - Are you with me?<br />
			@6:10 - Epiphany! Will carry on; recorders at the wedding. Drums!<br />
			@6:40 - The descent. Have one...<br />
			@8:34 - Up. Modulates, recovers jauntiness<br />
			@9:05 - Up. Tarantella. (drums are the spiders, too.)<br />
			@9:48 - The choir are decapitated; we're slammed back into 0:01, as if Lola just woke up...
		</th>
	</tr>
	</table>

	<br><br />
	The most powerful reading is that, some time after Louis jilts her for political and selfish reasons, Lola tries to poison Louis (and maybe herself too). Throughout the last half of the song - where the humiliation and rejection plays out - she repeatedly encourages him to "<i>have one on me</i>", and it's an amazing idea that this is a sleight to murder someone. ("<i>Mud in your eye</i>" is both a toast and a "fuck you".) This reading only sticks if we also have someone else ("the blackguard") convicted for the crime and get beheaded for treason. In any case, the attempt fails:
	<br /><br />
	
	<div align="center">
		"<i>Heard the cup drop, thought, 'well that's why they keep him around'</i>"
	</div><br />

	(i.e. the dead food taster has served his purpose. Stretching the metaphor, this could be a mutual friend harmed by the breakup.) If this gruesomeness holds, what comes out? Remember, this is the <i>titular </i>theme - it should cover the whole album:<br /><br />

	<div align="center">
	<big>
		<i>Booze = Love = Poison</i>
	</big><br />
	(Each highly desirable, sometimes)
	</div>
	<br /><br />
	
	From which we derive littler themes like "relationships as intoxication", "heartbreak as an inevitable hangover", and all the alcoholism, vice and gluttony of love, and maybe the homeopathy idea that <i>it takes a poison to cancel another'n</i>. (see "<a href="#section8.10">Jackrabbits</a>") Note also that she "dies" in tracks 2, 5, 8, 12 (and speaks to a phantom in 6; is in Eden/Hell in 3; and reacts to a death in 10)
	<br>

<center>
	<img  loading="lazy" data-src="https://4.bp.blogspot.com/_1jKHfOdSZhQ/TLiU4GOlrdI/AAAAAAAAAlg/sIpOdpaQIZY/s400/2_have+one.png" id="BLOGGER_PHOTO_ID_5528332234062671314" />
</center>

</div>
