<h3>10. Jackrabbits (4:22)</h3>
<div>

The heartbreak hatches. She's almost whispering for much of this. The sweet manic hope of being taken back, being allowed to feel. Ain't no valley low enough.
<br /><br />
<blockquote>
	<i>It can have no bounds, you know.<br />It can have no end...<br />...And it can change in shape or form,<br />But never change in size.<br />The water it runs deep, my darlin,<br />Where it don't run wide</i>.
</blockquote>

<br /><br />

<table class="tg">
<tr> 
	<th class="tg-031e">
		@Fairly uniform, but picks up vigour at<br />
		@2:02 - Flourishes; declarations.<br />
		@2:50 - Resorts to folk medicine and the Bible. "<i>You will be free</i>" is never bad counsel. 
	</th>
</tr>
</table>

<br /><br />
"<i>Telling you I can</i>" becomes "<i>tell me that I can</i>" - she has gone over to B's door: is standing there, asking.<br /><br />

<img class="lazy" data-src="https://1.bp.blogspot.com/_1jKHfOdSZhQ/TLiUdQ9tE1I/AAAAAAAAAkg/S-pM5J3GRRc/s400/10_Jackr.png" />

<br />

Echo from track 4's road: "like a rope gone slack". 


</div>