<h3>17. Kingfisher (9:11)</h3>
<div>

Probably the messiest thing she's written.<br /><br />

Kingfisher/"Pro-heart" is perhaps the lover she took after breaking up with B - he's also "St George" from <i>'81</i>. She discusses the farm love with K, in his new arms..<br /><br />

Renaissance &amp; Oriental frill. References Book of Revelation (end of a relationship is an end of the world).<br /><br />


<img loading="lazy" data-src="https://2.bp.blogspot.com/_1jKHfOdSZhQ/TLiSlqyhE9I/AAAAAAAAAjg/PD9yoxbrJPw/s400/17_kingf.png" />

</div>