<h3>7. On a Good Day (1:48)</h3>
<div>

So slight a thing, soon missed. This is short by <a href="http://www.youtube.com/watch?v=dws87NR6DpM">any standard</a>, but in a Newsom album it's not <i>half</i> of a tease. A tiny pure speck, following "Baby Birch" right on. J&amp;B have decided to part - or, well, he's given up on Them - and the song is curiously accepting, noble (premature).<br /><br />


The key wordplay is "good day" - as in a <i>clear day</i>, elevated and seeing far ahead; but also as in <i>untroubled. </i> They only communicate properly "on a good day" now: once in a while...<br /><br />

 <table class="tg">
<tr> 
	<th class="tg-031e">
		@0:21 - "for. the. re. main. der" - where else do you hear this sweet plod but in hymns?<br />
		@1:02 - gets her crone voice on<br />
		@1:36 - Stunning strength: "leave me be so that we can stay true/To the path that you have chosen"
	</th>
</tr>
</table>

<br><br />
<img class="lazy" data-src="https://1.bp.blogspot.com/_1jKHfOdSZhQ/TLiUomNggrI/AAAAAAAAAk4/pwBgIsxASvM/s400/7_On+a+Good.png" />


</div>
