<h3>VOICE</h3>
<div>

<!-- <img src="https://2.bp.blogspot.com/_1jKHfOdSZhQ/TMsLOpZeRyI/AAAAAAAAAnQ/bAkPU5KgmBg/s400/whim.png" /> -->

There was a collective, relieved wiping of the indie forehead when Newsom's voice was noted to have grown somewhat sane (closer to ordinary) after her vocal-cord nodules in 2009. <i>This voice: </i>that doesn't grandstand despite its constant foregrounding: that remains one of the more expressive instruments I've ever heard -and we applaud when it comes down! Ah well; she plays less innocent and girlish people on <i>HOOM</i>, in less need of squeaking device<i>.</i><br /><br />


An overview: she has been a trembling, shrill, unhinged, cutesy, baffling, slurring, feminine battering ram of voice. There's scarcely a nonchalant or boring word across four albums' worth of music. Her vowels elongate until they snap into a thick crack of consonants.<br /><br />


She ranges, <i>real hot and real cold </i>- wide emotion, pitch, rhythm, as well as form, like:<br />
- hushed confessions,<br />
- recital, as if reading against her will<br />
- weathered and toothless, aged Texas Gladden (esp. track 2)<br />
- plodding homophony of hymns<br />
- repetitive gumption of blues<br />
- Kate Bush-banshee-psyche folk-Appalachian-choral-classical-nuts<br />
- nebulous whirl of modern folk<br />
- clout of stage Musicals<br />
- jauntiness of early jazz<br />
- the high winsomeness of country-and-western's women

<br /><br />

- Her enuciation gets mesmerizing - it hypnotizes <i>and</i> makes me frantic. (<i>What </i>did she say? "Hydrosyphilitic?" It was drowned by the whooping...) She plays with a Southern accent in places, hushing and cawing. Better than this is the colloquial, literary/slang language it brings, defying time ("Satellite feeds" and the Grand Ole Opry). More though, she throws clusters of words, crimping and distending her syllables. ("Par-tick-kyoo-lar-ly")<br /><br />


- Her diction is bloody weird, too. In poetry, it's called caesura - a linebreak - but Newsom's are radical - breaks and lags come midphrase, midword, unpredictably and without much regard for trad emphasis.


<br><br />

("<i>Down in the shallow ///// - <i>gutter,")
<br>


<br />

("<i>My pleasure-seeking ///// <i>AMONG the tall pines") 
<br>


<br />

("<i>now you can see me fall ///// <i>back here redoubled...")


Key, glorious lyrics ("it seems I have stolen a horse") get scudded right over and are easy missed.<br /><br />


* Her intervals (pitches and beats) are spiky - she uses the sudden octave-leaping of C20th avantgarde music (yeah, the ones designed to disturb us).


* There's a thing that you can do with an electric guitar (flick a string up and outwards with your thumb...), a "pinched harmonic" - a sudden, unearthly spike in pitch. A certain kind of <a href="http://www.metacafe.com/watch/sy-18150437001/coheed_and_cambria_welcome_home_live_official_music_video/">metal-music </a>is enamoured of them, but Newsom's is the only <i>voice</i> I've ever heard that tries for it<i>. </i>Far fewer in <i>HOOM</i>; see the opening note of "Only Skin" on <i>Ys...</i>


* I have a friend who uses "warble" as an insult, a catch-all for singing he dislikes. Others might call it <i>warm-timbre vibrato</i>. There's a word in opera, "melisma" (multiple notes per syllable). I can't remember its equivalent term in rhythm, but let's be clear: Newsom stretches English <i>out</i> - it takes a deal of reconstruction til the lyrics will be intelligible to you. Track 14, "Es-a-me, es-a-me" caused some confusion before it was officially titled. ("Sweet as a man?")<br />
<a href="http://1.bp.blogspot.com/_1jKHfOdSZhQ/TMsK5_MwCsI/AAAAAAAAAnI/jCKW3KBb8qc/s1600/freq.png"><img src="https://1.bp.blogspot.com/_1jKHfOdSZhQ/TMsK5_MwCsI/AAAAAAAAAnI/jCKW3KBb8qc/s400/freq.png" id="BLOGGER_PHOTO_ID_5533528558488521410" ></a><br />
- Hers is an unforgiving tone; she won't wait for you to get used to one enunciation before she changes it completely. She's often bizarre, and obscures her own lyrics. She's worth it because she means it - and because she does mean it, the music lends itself to you, and lets you mean it.


* It's a stretch to describe Texas Gladden as a siren:

<object height="385" width="360"><param name="movie" value="https://www.youtube.com/v/Z9GVzDrMUj0?fs=1&amp;hl=en_GB"><param name="allowFullScreen" value="true"><param name="allowscriptaccess" value="always"><br /><br /><embed src="https://www.youtube.com/v/Z9GVzDrMUj0?fs=1&amp;hl=en_GB" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="480" height="385"></embed></object>
<br>


<i>"I realized that [Texas Gladden's] voice was conventionally not beautiful and yet it was SO worthy of being listened to, and so affecting. Before that, I knew that I wanted to make music and I knew that I had things to sing about, and I knew that I could employ my voice, to whatever degree it was polished, in my songs and do something with it that I wanted to do with it. But something about hearing her sing was a comfort."</i><br />

</i></i></i></i></i></i>
</div>
