%  algorithm: iterative construction of a hypothesis, one clause at a time. (e.g. Progol)
% Sequential Covering: the search for an hypothesis starts from (h ←) and adds iteratively literals that covers the positive examples and do not covers most of the negative ones
% \begin{algorithm}[H]
%  \KwData{background knowledge $B$, <br>
%  \qquad\qquad positive examples $E^+$, <br>
%  \qquad\qquad negative examples $E^-$}
%  \KwResult{target theory $h^*$} 
%  \textcolor{white}{ \;}
%  \While{} {

%  }
%  \textcolor{white}{ \;}
%  \caption{  }
% \end{algorithm}
% \textcolor{white}{.}<br>

% t: threshold
% cover $\leftarrow \emptyset$
% $r \leftarrow$ LearnRule
% If r satisfies the  then 
%   cover $\leftarrow$ cover $+ r$
% Remove examples covered by $r$
% Go to step 2. 
% Sort the Cover according to its performance over examples. 
% Return: Cover. 

% LearnRule finds the best hypothesis by e.g. beam search. 
% refinement (top-down search)
% % • Start with most general clause and specialise by substituting / adding literals
