<br>
<table style="border-collapse: collapse; border: none; border-spacing: 0px;">
    <tr>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <b>Learning property</b>
        </td>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <b>ILP</b>
        </td>
        <td style="padding-right: 3pt; padding-left: 3pt;">
            <b>DL</b>
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <i>Language bias</i>
        </td>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            Program templates
        </td>
        <td style="padding-right: 3pt; padding-left: 3pt;">
            NN architecture
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <i>Procedural bias</i>
        </td>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            Various: classic search algos
        </td>
        <td style="padding-right: 3pt; padding-left: 3pt;">
            N/A
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <i>Simplicity bias</i>
        </td>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            Bound on program length
        </td>
        <td style="padding-right: 3pt; padding-left: 3pt;">
            <a href="{{paramap}}">It's</a> <a href="{{kaelbling}}">controversial</a>
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <i>Search procedure</i>
        </td>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            Local search for subsumption
        </td>
        <td style="padding-right: 3pt; padding-left: 3pt;">
            Local search over gradients
        </td>
    </tr>
    <tr>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            <i>Automated language bias?</i>
        </td>
        <td style="border-right: 1px solid black; padding-right: 3pt; padding-left: 3pt;">
            No 
        </td>
        <td style="padding-right: 3pt; padding-left: 3pt;">
            <a href="{{elsk}}">Sometimes</a>
        </td>
    </tr>
</table>
<br>
<center><b>Table 1</b></center>
<br>
