- ## Films


    - **The Tale of the Princess Kaguya** -5 / 44/
            - WAS: 3W / 1A / 1S
            - Visuals: 10
            - Music: 8
            - Characters: 8
            - Voices: 9
            - Script: 9
    

    - **My Neighbour Totoro** -5 / 42
        - 2W / 2A / 1S


    - **Ghost in the Shell** -11  / 38
                - 3W/ 7A/ 1S
            - Visuals: 9
                - actual arthouse
                - https://www.youtube.com/watch?v=WB-ik-Bpl0c
            - Music: 7
                - that one eerie song
            - Characters: 7/8
            - Voices: 7
            - Script: 8
        - Koukaku Kidoutai
        - "The society he depicts isn’t meant to be good or evil, just that it __is__. The intent is to provoke questions, not answer them... The society of GITS has rendered many old concepts obsolete so naturally trying to understand life through them would feel alien and strange."
        - https://www.youtube.com/watch?v=WB-ik-Bpl0c
    

    - **tags**
            - #feature
            - #grim


    - **Jin-Roh** (人狼) -6 / 36
    

    - **scores** 
            - 2W/ 2A/ 2S
                - alt history Nazis
            - Visuals: 8
            - Music: 8
            - Characters: 6
            - Voices: 8
            - Script: 6
        - Slow, and the theme is not that strong.
        - Why should he kill Kei for the Brigade? What's so important about them?
        - Mere belonging?


    - **Redline** -13 /32
    

    - **scores**
            - 2W / 8A / 3S
            - Visuals: 10
            - Music: 7
            - Characters: 5
            - Voices: 5
            - Script: 5
        - tags
            - #feature
            - #sakuga


    - **Kimi no na Wa** -11 / 31
    

    - **scores**
            - [[Weeb Ass Shit]]: 5W / 4A / 2S
                - +2 teens
                - +2 school
                - +1 boobs
            - Visuals: 9
                - two stunning sequences
            - Music: 7
            - Characters: 5
            - Voices: 4
            - Script: 6
    

    - **tags**
            - #Japan #romance  #highschool  #[[urban fantasy]]
        - Shinkai


    - **Nausicaa of the Valley of the Wind** -8 / 36
    

    - **scores**
            - [[Weeb Ass Shit]]: 4W / 2A / 2S
                - +3W fantasy dwarves
                - +1W gunship
            - Visuals: 7
            - Music: 9
                - https://www.youtube.com/watch?v=qx2b-nK_Q8o
            - Characters: 8
            - Voices: 6
            - Script: 6


    - **Wolf Children** -4 / 32
    

    - **scores**
            - Visuals: 6
            - Music: 8
            - Characters: 6
            - Voices: 6
            - Script: 6


    - **Kujira no Chôyaku** (Glassy Ocean) -6 / 35
    

    - **Scores**
            - [[Weeb Ass Shit]]: 2W / 1A / 3S
            - Visuals: 8
                - completely uncliched. Or Herve rather than Tezuka
            - Music: 8
            - Characters: 6
                - Mamini much deeper than she seems
                - Amarao
                - Eri's two-episode arc is glorious
                - Naota becomes ok
            - Voices: 6
            - Script: 7
    


    - **Pom Poko**


    - **Porco Rosso**


    - **Princess Mononoke**


    - **Akira** -15 / 29
    

    - **scores**
            - 3W / 8A / 4S
            - Visuals: 8
                - some incredibly bad CG
            - Music: 6
            - Characters: 5
            - Voices: 5
            - Script: 5
        - #feature


    - **Lupin III: The Castle of Cagliostro** -10 / 28
    

    - **Scores**
            - 2W / 4A / 4S
                - ultraviolent, and more than just violent: degraded
                - It's hardly guro, but still the most hardcore of ordinary shows
            - Visuals: 5
            - Music: 6
            - Characters: 6
                - En is good
            - Voices: 6
            - Script: 5
