Animated nature poetry. wholesome horror stories. A dark mirror of "healing anime".

- Grimm style Fairy tales: spooky stories for grownups. More about mental illness and the consequences of dilemmas.
    - The mushi mostly don't eat your bones; they attack your emotions, your values, your ability to relate to others
    - Spine-chilling. Adult horror
        - It manages to do horror with like 20-second static shots
        - Not "monster wants to eat my toes"
        - No: monster is holding you accountable for your fuckup
        - and subtly warping your emotions, values, and ability to relate to others
        - in such a way that you literally cannot tell that the source is not you

<h3>Favourite episodes</h3>

    - **The Shadow That Devours the Sun**
    - The Hand That Caresses the Night
    - Mirror Lake
    - Cloudless Rain
    - Wind Raiser
    - **Fragrant Darkness**
    - Thread of Light
        - ambiguity: does the boy's strength halve at the end, shared with his rejuvenated mother? Or does it remain, but the alienation that made it a problem is gone?
    - Mud Grass
- Ends on the two most tragic episodes: Mud Grass and Tree of Eternity

### Ginko ンコ
    - like the tree. Wisdom? 
        - As opposed to the mushi that attacked him, 銀蠱
        - Sacrificed all his childhood memories to escape it
    - Universalist. Protect humans and mushi. Half mushi?
    - Wanderer: always forward. But no melancholy.
    - His clothes are anachronistic
    - Actual name ヨキ
    - Ginko's cigarillos are medicine: otherwise he would be overwhelmed by the spiritual
    - His emo fringe initially masks a void, tokiyama
    - He often performs priceless services for villagers. But no inkling of money exchanged, except when his mate is after some of his gear

### Meta

    - Watch at night after work or exertion
    - Absolutely transfixing ambience. Incredibly full of absolutely perfect stills, feedback loop of cost saving and quality
    - This show would be totally destroyed by ads: it
    - "Bug master"
- A mushishi is ecologist, exorcist, witch doctor, therapist
- The mushi are both natural and supernatural
    - They obey laws, they can be predicted, they can be acted upon
    - But their laws are more symbolic and gaseous
    - "Humans, too, are just another part of the mountain [the natural world]"
- Mushishi: Bell Droplets. Good but not a film.
- Most of the mushi give some power in exchange for disability:
    - summoning rain
    - telepathy
    - omen of personal danger (earthquake)
