<table class="tg">
  <tr>
    <!-- <th class="tg-0pky"></th>
    <th class="tg-0pky"></th> -->
    <th class="lax" colspan=4>Durable</th>
    <!-- <th class="tg-0lax"></th> -->
  </tr>
  <tr>
    <th class="tg-0pky"></th>
    <th class="tg-0pky"></th>
    <td class="tg-0lax"><i>Low</i></td>
    <td class="tg-0lax"><i>High</i></td>
  </tr>
  <tr>
    <th class="tg-0pky"></th>
    <td class="tg-0pky"><i>Low</i></td>
    <td class="tg-0lax">Blog</td>
    <td class="tg-0lax">Evergreen<br>content</td>
  </tr>
  <tr>
    <th class="tg-0lax" id="vert">Impressive</th>
    <td class="tg-0lax"><i>High</i></td>
    <td class="tg-0lax">Live<br>performance</td>
    <td class="tg-0lax">Long<br>content</td>
  </tr>
  <tr>
    <th></th>
    <th class="fn" colspan=3>
      <a href="#fn:1" id="fnref:1">1</a>
    </th>
  </tr>
  
</table>