<table class="tg">
  <tr>
    <th class="lax" colspan=4>Durable</th>
  </tr>
  <tr>
    <th></th>
    <th></th>
    <td><i>Low</i></td>
    <td><i>High</i></td>
  </tr>
  <tr>
    <th></th>
    <td><i>Low</i></td>
    <td>Blog</td>
    <td>Evergreen<br>content</td>
  </tr>
  <tr>
    <th id="vert">Impressive</th>
    <td><i>High</i></td>
    <td>Live<br>performance</td>
    <td>Long<br>content</td>
  </tr>
  <tr>
    <th></th>
    <th class="fn" colspan=3>
      <a href="#fn:1" id="fnref:1">1</a>
    </th>
  </tr>
  
</table>