<div class="accordion">
    <h3>Foundations of long work</h3>
    <div>
        1. <a href="/scarcity">Slack</a> <br>
        2. <a href="{{long}}">Perspective</a> <br>
        3. <a href="{{life}}">Lifespan</a>.<br>
        4. Backups (your stuff <i>and</i> <a href="{{link}}">your links</a>)<br>
        5. Unusually <a href="{{serv}}">resilient</a> or portable software.<br>
        6. Public version control to prevent impropriety (memory holes, retcons, unstable testimony).<br>
        7. Maybe a notification for big updates, or a way of reporting diffs.<br>
        8. Something worth growing.
    </div>
    <!--  -->
    <h3>Examples of great follies</h3>
    <div>
        <ul>
            <li>
                <a href="{{scar}}">Piero Scaruffi</a> is the original: 5 decades of sustained idiosyncratic work. He has steadily built a corpus of unbelievable depth and breadth, including 9,000 detailed album-by-album profiles of musicians, and 10 spin-off books which seem to support him financially.
            </li>
            <br><br>

            <li>
                After Scaruffi, the next I encountered was <a href="{{emerson}}">John Emerson</a>, a scholar of ancient Chinese philosophy, Victorian history, heterodox economics, whatever. Speaking to him, his greatest regret was in not finding a community to challenge and be challenged by, to develop and be developed by. This is one great risk for independent scholars: isolation.
            </li>
            <br><br>

            <li>
                <a href="gwern.net">Gwern</a>. Besides 100 small projects, he has made himself the authority on brain training, darknet markets, clever anime criticism, and more recently behavioural genetics.
            </li>
            <br><br>

            <li>
                <a href="{{pearce}}">David Pearce</a> is about as influential as any freelance philosopher can be. Along with the similarly distinguished researcher <a href="{{brian}}">Brian Tomasik</a>, his huge collection of sites on utilitarianism, transhumanism, fundamental ontology, psychoactives, animal rights, etc, has inspired a whole community of well-funded independent scholars.
            </li>
            <br><br>

            <li>
                There is of course historical interest in seeing what pundits were saying at a given point in the early 21st century. The philosopher <a href="{{rpw}}">Robert Paul Wolff's site</a> is a nice example of the dual nature of a blog: it contains his daily record of American political news <i>and</i> his vast, life-distilling tutorials on the <a href="{{tut}}">great German philosophers</a>. (Inbetween the two are his recollections of <a href="{{russ}}">taking tea with Bertrand Russell</a> and dancing with a Pulitzer Prize winner's wife.)<br><br>This dear man makes me reconsider my strict division: leave both in, let a blog be high and low, short and long. Just as long as you do big stuff if you can.
            </li>
            <br><br>

            <li>
                <a href="{{gel}}">Andrew Gelman's blog</a> manages the contradictions effortlessly. He reacts to hundreds of new papers a year, but posts on a 9-month lag after writing. This allows him to uncouple from the reactive journalistic stuff, and lets us see if his take holds up. I have learned so much from it, and indeed it is an accumulating, long-term project: it documents his shift towards understanding the deep problems in large parts of academic science.
            </li>
            <br><br>
            
            <li>
                Cosma Shalizi's notebooks + book reviews + one-offs.
            </li>
            <br><br>
            
            <li>
                Nassim Taleb has for 15 years maintained <a href="{{nnt}}">a single page(!)</a> with 160 entries all loosely tied to the idea of 'opacity' or systemically unobservable factors in all kinds of domains.
            </li>
            <br><br>
            <!-- <li>
                John Messerly https://reasonandmeaning.com/
            </li>
            <br><br> -->
            <li>
                 <a href="{{tech}}">Bill Christensen's collection of 3,200 ideas</a>, indexed by the first time a science fiction writer had them, and when they were realised in real life. Also an exhausting feed of all highbrow discussion of the ideas or sci-fi itself.
            </li>
            <br><br>

            <li>
                <a href="{{ideas}}">Peter Gibson</a> has been building a database of Philosophical Ideas, 20000 so far, where he tries to tag high-level premises and so allow basic cross-referencing and comparison of philosophers. I don't think this site is a good way to learn philosophy or the history of philosophy, but as a tool for generating surprising ideas...
            </li>
            <br><br>
            
            <li>
                <a href="{{ama}}">Bill Beaty</a> is a very clear example of how odd and wonderful you can become if you spend decades tooling around on your own.
            </li>
            <br><br>
            <!-- <li>
                I don't know exactly <a href="{{meta}}">what this is</a>, but it's a clear example.
            </li> -->

            <li>
                <a href="{{tvt}}">TVTropes</a> is not an auteur product like the others, but its scope and sheer depth represents far more than a lifetime of work. It's one of the most successful pieces of collaborative long content. It will live.
            </li>

        </ul>
        <br>

    </div>

</div>