{%	assign bas = "http://secondlanguage.blogspot.com/2017/08/what-is-blogging.html"	%}
{%	assign g = "https://www.gwern.net/About#long-content"		%}
{%	assign ess = "https://en.wiktionary.org/wiki/essai#Noun"		%}
{%	assign roll = "/blogroll"		%}
{%	assign mic = "https://en.wikipedia.org/wiki/Microblogging"		%}
{%	assign sphere = "https://en.wikipedia.org/wiki/Blogosphere#Blogging_niches"		%}
{%	assign leiter = "https://leiterreports.typepad.com/blog/posturing-preening-wankers/"		%}
{%	assign ec = "https://www.intelligenteconomist.com/economics-blogs/"		%}
{%	assign five = "https://fivethirtyeight.com/features/the-economics-of-blogging-and-the-huffington-post/"		%}
{%	assign eg = "https://businessesgrow.com/2015/04/22/blogging-will-never/"	%}
{%	assign gel = "https://statmodeling.stat.columbia.edu/"		%}
{%	assign matt = "http://matt.might.net/articles/ways-to-fail-a-phd/"		%}
{%	assign qu = "https://www.quora.com/How-many-research-articles-do-PhD-students-read-during-their-entire-PhD-on-average"		%}
{%	assign hum = "https://www.researchgate.net/publication/323784489_A_Current_View_of_the_Thesis_by_Publication_in_the_Humanities_and_Social_Sciences"		%}
{%	assign ben = "https://www.benkuhn.net/grad"			%}
{%	assign rot = "https://en.wikipedia.org/wiki/Link_rot"		%}
{%	assign pg = "http://www.paulgraham.com/articles.html"		%}
{%	assign russ = "https://robertpaulwolff.blogspot.com/2012/02/two-cultures.html"		%}
{%	assign tut = "https://robertpaulwolff.blogspot.com/2011/01/thought-of-karl-marx-part-one.html"	%}
{%	assign rpw = "https://robertpaulwolff.blogspot.com/"	%}
{%  assign w = "https://www.wired.com/2012/11/jade-doskow-worlds-fairs/"  %}
{%  assign m = "https://www.mnn.com/lifestyle/arts-culture/stories/15-legendary-worlds-fair-leftovers"  %}
{%  assign yud = "https://www.readthesequences.com/"  %}
{%  assign git = "https://arxiv.org/pdf/1710.11540.pdf"   %}
{%  assign serv = "http://longserver.org/"   %}
{%  assign the = "https://slatestarcodex.com/2019/10/30/new-atheism-the-godlessness-that-failed/"    %}
{%  assign long = "http://longnow.org/about/"    %}
{%  assign life = "https://nintil.com/longevity"    %}
{%  assign link = "https://www.gwern.net/Archiving-URLs"    %}
{%  assign ac = "https://en.wikipedia.org/wiki/Link_rot#Prevalence"   %}
{%  assign scar = "https://www.scaruffi.com/"     %}
{%  assign ideas = "http://philosophyideas.com/index.asp"    %}
{%  assign ama = "http://amasci.com/"   %}
{%  assign meta = "http://www.metaethical.ai/v20-1/"   %}
{%  assign emerson = "https://haquelebac.wordpress.com/john-emersons-media-empire/"    %}
{%  assign pearce = "https://www.davidpearce.com/"   %}
{%  assign hanson = "http://www.overcomingbias.com/2016/12/chip-away-at-hard-problems.html"   %}
{%  assign brian = "https://briantomasik.com/"   %}
{%  assign surp = "https://en.wikipedia.org/wiki/Cognitive_Surplus"   %}
{%  assign retract = "https://retractionwatch.com/"    %}
{%  assign smbc = "https://www.smbc-comics.com/comic/2012-09-02"   %}
{%   assign gard1 = "https://tomcritchlow.com/2019/02/17/building-digital-garden/"   %}
{%   assign gard = "https://joelhooks.com/digital-garden" %}
{%   assign stock = "http://snarkmarket.com/2010/4890"   %}
{%   assign tech = "http://technovelgy.com/ct/ctnlistPubDate.asp"    %}
{%   assign tvt = "https://tvtropes.org/"    %}
{%   assign nnt = "https://fooledbyrandomness.com/notebook.htm"   %}
{%   assign se = "https://www.sensualism.com/" %}
{%   assign ut = "https://www.utilitarianism.com/index.htm"   %}
{%   assign md = "https://www.mdma.net/index.html"    %}
{%   assign hux = "https://www.huxley.net/"    %}
{%   assign op = "https://www.opioids.com/"    %}
{%   assign biop = "https://www.biopsychiatry.com/refs/"    %}
{%   assign empire = "https://www.hedweb.com/paradise.html"   %}
{%   assign one = "https://www.researchers.one/"   %}
{%   assign silverhydra = "https://sigmanutrition.com/wp-content/uploads/2016/04/Ep-224-Kurtis-Frank.pdf" %}

<style>
th 
{
  vertical-align: bottom;
}

#vert 
{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  transform: rotate(270deg);
  white-space: nowrap;
  text-align: left;
  padding-left: 35px;
  padding-bottom: 0px;
  padding-top: 70px;
}

.tg  {
	border-collapse:collapse;
}
.tg td {
	border-color:black;
	border-style:solid;
	border-width: 1px;
	padding: 10px;
}

.lax {
	text-align: center;
	padding-left: 45px;
}

.fn {
  font-weight: 400 !important;
}

</style>
