<center>
    <blockquote style="border-left: none;">
		I have sown untidy furrows / cross my soul<br> 
		But I am still a coward / content to see my garden grow<br> 
		So sweet & full / of someone else's flowers...<br> 
		And I have torn my soul apart, from / pulling artlessly with fool commands<br>
	</blockquote>
		- Joanna Newsom
</center><br>

<center>
    <blockquote style="border-left: none;">
		An addiction to easy solutions can become a crippling liability if your entire strategy is based around finding them where they don't exist.<br>
	</blockquote>
- The Last Rationalist
</center><br>


It's not optimal to (explicitly) optimise everything.

The productivity equivalent of 'insight porn'. <a href="{{hustle}}">This stuff</a> is poison, because it valorises ineffective ways of chasing wealth at the expense of health, social life, intellectual life. It's optimising a dangerously limited, one-dimensional objective.

The parsimonious thing is to just Become Virtuous, rather than to thieve and carry around 1000 crutches.