---
layout: default
---

<div class="post">

<header class="post-header">
  <table>
    <td><h1 class="post-title">{{ page.title }}</h1></td>
    <td width="20%">
      {% if page.img %}
          <img class="im" src="{{ page.img }}" />
      {% endif %}
    </td>
  </table>
  <p style="line-height: 3px"></p>
  <p style="margin-left:15px" class="post-meta">
    {%  assign s = "&nbsp;&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;&nbsp;"  %}
    {%  assign t = "•&nbsp;&nbsp;"  %}
    
    {%  include british_date.md   %}
    {% if page.simple or page.stylised or page.technical %} 
      {{s}} Available in  
      {% if page.simple %} 
        <a href="javascript:void(0)" class="tabLinks" onclick="restyle(event,'simple')" id="simpleLink">Simple</a> 
      {% endif %} 
      {% if page.stylised %} | 
        <a href="javascript:void(0)" class="tabLinks" onclick="restyle(event,'stylised')" id="stylisedLink">Stylised</a> 
      {% endif %} 
      {% if page.technical %} | 
        <a href="javascript:void(0)" class="tabLinks" onclick="restyle(event,'technical')" id="technicalLink">Technical</a> English 
      {% endif %} 
    {% endif %}

  <br>
    {% if page.summary %}
        <br>{{t}}<i>{{  page.summary  }}</i>
    {% endif %}

    {% if page.confidence %}
        <br>{{t}}<i>Confidence</i>: {{ page.confidence }}
    {% endif %} 

    {% if page.importance %}
        <br>{{t}}<i>Topic importance</i>: <a href="/importance">{{  page.importance }} / 10</a>
    {% endif %}

    {% if page.warnings %} 
        <br>{{t}}<i>Content notes</i>: {{  page.warnings }}
    {% endif %}

    {% if page.wordcount %}
        <br>{{t}}<i>Reading time</i>: {{ page.wordcount | divided_by: 2000.0 | ceil | times: 10 }} mins. 
    {% endif %} 

    {% if page.cross %} 
        <br>{{t}}<a href="{{ page.cross }}">Cross-posted here</a>.
    {% endif %} 

    {% if page.podcast %} 
        <br>{{t}}<a href="{{ page.podcast }}">Podcast version here</a>.
    {% endif %} 
    
    {% if page.argument %} 
        {%  include dropdown.html     %}    
    {% endif %} 

  </p>
</header>

    <hr /><br>
  
  <article class="post-content">
    {{ content }}
    {%  include comments.html %}
    <br><br>
    {%  if page.categories  %}
        Tags: 
        {% for tag in page.categories %}
          <a style="color:green" href="/tags#{{ tag | replace: ',', ''  }}">{{ tag }}</a>
        {% endfor %}
    {%  endif  %}

    <br><br><br><br>

    {%  include mc.html %}

  </article>

  <!-- Doesn't work; Netlify rebuilds the whole site when *anything* changes -->
  <!--   <div style="color:#C0C0C0">
    <i>Last modified</i>: {{ page.path | prepend: "/" | prepend: site.source | file_date | date_to_string }}
  </div>
  <br>
  -->

  <br>

  <div class="PageNavigation">
    {% if page.previous.url %}

      <a class="prev" style="text-decoration: none" href="{% link {{page.previous.path}} %}">&laquo; {{page.previous.title}}</a>
    {%  else  %}
      <a class="prev"></a>
    {% endif %}

    <a></a>

    {% if page.next.url %}
      <a class="next" style="text-decoration: none" href="{% link {{page.next.path}} %}">{{page.next.title}} &raquo;</a>
    {%  else  %}
      <a class="next"></a>
    {% endif %}
  </div>

</div>

<br>

<script src="/scripts/jquery.min.js" ></script>
{%    include js/accordion.html     %}
{%    include js/bigfoot.html       %}
{%    include js/lazyFrame.html     %}

<script type="text/javascript">
  $(document).ready(function() { 

    if (document.location.hash) {
      startingLink = window.location.hash + "Link";
    } 
    else {
      startingLink = "#"+ $(".defaultOpen").attr('id') + "Link";
    }
    console.log(startingLink)
    $(startingLink).click();

  });
</script>

