---
layout: default
---

<div class="post">
  	<header class="post-header">
    	<h1 class="post-title">{{ page.title }}</h1>
      <p style="line-height: 3px"></p>
    	<p style="margin-left:15px" class="post-meta">
        {%  assign s = "&nbsp;&nbsp;&nbsp;•&nbsp;&nbsp;&nbsp;"  %}
        {%  assign t = "•&nbsp;&nbsp;"  %}

        {{ page.date | date: "%b %-d, %Y" }}{{s}} <a href="{{site.url}}/about/">Gavin</a>{{s}} 
        
        {% if page.simple or page.stylised or page.technical %} 
          Available in  
          {% if page.simple %} 
          <a href="javascript:void(0)" class="tabLinks" onclick="restyle(event,'simple')" id="simpleLink">Simple</a> {% endif %} 
          {% if page.stylised %} | 
          <a href="javascript:void(0)" class="tabLinks" onclick="restyle(event,'stylised')" id="stylisedLink">Stylised</a> {% endif %} 
          {% if page.technical %} | 
          <a href="javascript:void(0)" class="tabLinks" onclick="restyle(event,'technical')" id="technicalLink">Technical</a> English {% endif %} 

        {% endif %}
        <br>
        {% if page.summary %} <br>{{t}}<i>{{	page.summary	}}</i>{% endif %} 
      	{% if page.confidence %} <br>{{t}}<i>Confidence</i>: {{	page.confidence	}}{% endif %} 
      	{% if page.warnings %} <br>{{t}}<i>Content notes</i>: {{	page.warnings	}}{% endif %} 
        <br>{{t}}{{page.count}} words.
      </p>
  	</header>
  
  <article class="post-content">
    {{ content }}
  </article>

  <div class="PageNavigation">
    {% if page.previous.url %}
      <a class="prev" href="{{page.previous.url}}">&laquo; {{page.previous.title}}</a>
    {%  else  %}
      <a class="prev"></a>
    {% endif %}
      <a class="here" href="{{page.url}}">&laquo; you are here &raquo;</a>
    {% if page.next.url %}
      <a class="next" href="{{page.next.url}}">{{page.next.title}} &raquo;</a>
    {%  else  %}
      <a class="next"></a>
    {% endif %}
  </div>

</div>


<script src="/js/jquery.min.js" ></script>
{%    include js/accordion.html     %}
{%    include js/bigfoot.html       %}
{%    include js/lazyFrame.html     %}

<script type="text/javascript">
  $(document).ready(function() { 
    
    console.log(document.location.hash);
    

    if (document.location.hash) {
      startingLink = window.location.hash + "Link";
    } 
    else {
      startingLink = $(".defaultOpen").attr('id') + "Link";
    }
    $("#" + startingLink).click();

  });
</script>
