<div class="accordion">
	<!--  -->
	<h3>Clarification</h3>
	<div>
		Consider three different things:<br><br>
		<ul>
			<li><b>Naturalism</b>: that there is only Nature; all else (thoughts, sensations, spirit) are mental models of interactions of natural things.</li>
			<li><b>Non-naturalism</b>: that there are actually things besides physics</li>
			<li><b>Mysticism</b>: that you can directly access non-natural things. That the apriori is all you need, is <i>better</i> than the aposterior.</li>
		</ul>
		Ontology vs epistemology. There is a <a href="{{ana}}">respectable and sober recrudescence</a> of metaphysics
		<br>
		My intention, as a rationalist physicalist, is to see the best arguments for non-naturalism, and to be more careful about labelling non-naturalists mystics. And to see if there are useful ideas in the mystics even.
	</div>
	<!--  -->
	<!--  -->
	<h3>Types</h3>
	<div>
		<ol>
		<li><i>Technical mystics</i> - Pure mathematicians (Neoneoplatonists), antirealist physicists, 
			parapsychologists, deep ecologists,
		noeticists</li>
		<li>Psychonauts - Drug gurus, Huxleyans, <a href="http://www.ikatun.org/institute/infinitelysmallthings/">psychogeographers,</a> hippies.</li>
		<li>Avant trolls - Mysticism used as postmodern artistic device, blurring the distinction between epistemic and aesthetic. cf. Satirists, <a href="http://en.wikipedia.org/wiki/Society_of_the_Spectacle">Debordistes</a>, Discordians, psychological fictioneers, Visionary Surrealists, guerilla ontologists</li>
		<li>Traditionalists - New Agers, occultists, Alternatives, gnostics &amp; Theosophists, anchorites, cultists, astrologists, hand-wavers. All pseudoscientists go in here too.</li>
		</ol>
	</div>
	<!--  -->
	<!--  -->
	<h3>Problems with my project</h3>
	<div>
		<blockquote>
			One of the downsides of working in philosophy is that it attracts a lot of people with mental-health problems.
		</blockquote>
		<center>
			– Joseph Heath
		</center>
		<br>

	<blockquote>
		Oh, you've got the face on! The floaty face of the wise bird hovering on a million different quotes, about to do a massive wisdom shit on my head!
	</blockquote>

	<center>
		– Four Lions
	</center>
	<br>

	<ol>
		<li>Am I wrong? Is to be a "mystic" just to be unclear, hyperbolic and without justification? At very least, shouldn't it require the <i>mystical experience, </i>the sudden disreputable<i> </i>transcendence that the religious and the extremely ill encounter? Well. I'm keeping the word "mystic", with all its recent pejoration, because I'm leaving it open for you to critically dismiss. <a href="http://www.secularhumanism.org/index.php?section=library&amp;page=harris_25_6">Even Sam Harris did so</a>.</li>
		<!--  -->
		<br>
		<li> The best maxim in informal logic is _nil ad hominem_ - that we address what is said, not who says it. Even if he is called <a href="http://www.ramdass.org/biography">Ram Dass</a>.</li>
		<br>
		<li>. It is very easy to slip into piousness when dealing with topics like these. Those writers who put on a rhetorical style to the detriment of their argument are not disqualified, but they do make themselves dubious. This can be best seen in the soft-mystic obsession for buzzwords and other Gladwellisms.</li>
		<br>
		<li>"Sir, there is a distinct difference between having an open mind and having a hole in your head from which your brain leaks out." - James Randi.
		<br><br>4b. "<i>Any sufficiently rigorously defined magic is indistinguishable from technology</i>." - Niven's Law. <br><br>
		Could be. Particularly, though, if we accept <a href="http://joss.blogs.lincoln.ac.uk/2010/07/20/notes-on-heideggers-the-question-concerning-technology/">Heidegger's definition of technology</a>.</li>
		<br>
		<li>If my category hard mysticism is really just for "unorthodox inquiry with focus on the significance of the subjective", how do I draw the line between Continental philosophers and rational mystics? </li>
		<br>
		<li>(And in what way is blabbering on about consciousness "socially unorthodox"? Everyone's at it!)</li>
		<br>
		<li>How is a transhumanist - a person certain to be a hyper-materialist and eliminative functionalist - supposed to be "mystical"? (Well, <a href="http://en.wikipedia.org/wiki/Digital_philosophy">if we can make a mystic out of Turing...</a>)</li>
		<br>
		<li>How soft can a 'critical' mystic get before they become a New Age quack?</li>
		<br>
		<li>Dude, we don't disdain the occult for _aesthetic_ or prejudicial reasons; it's because it's intellectually corrosive, isn't it? What grounds the claims made by these folk? One of Nietzsche's criticisms of Spinoza is a sort of Freudian nudge - "what kind of person needs such a <i>big </i>ontology, eh? Eh?" Related empirical suggestions are being made these days about the <a href="http://www.bbc.co.uk/science/horizon/2003/godonbrain.shtml">neurological underpinnings of sprituality</a>. It's painted as a pathetic psychological trick. But people aren't ever going to stop doing metaphysics, not while they remain what I understand by "people". We might as well distinguish between doing it well and in a loose, deluded way.</li>
		<br>
	</ol>
	</div>
	<!--  -->
	<!--  -->
	<h3>Traits</h3>
	<div>
		<ul>
			<li>
				<i>Metaphysical cosmology</i>. (Thinking about everything at once. Just speculative systematization, not necessarily any worlds-upon-the-world. Usually implies a philosophy of life, too.)
			</li>
			<li>
				<i>Epistemically modest. </i>(this is the one that disqualifies almost all New Age writers)
			</li>
			<li>
				<i>Taking consciousness seriously</i> (not "taking it as given", nor as "the eternal soul!"; but as a potential ontological essence. They will have a metaphysics that subsumes what gets called spirituality rather than explaining it away.)
			</li>
			<li>
				<i>Taking values as seriously as facts</i>
			</li>
			<li>
				<i>Non-reductionism with respect to complex phenomena.</i>
			</li>
			<li>
				<i>Denial of the "<a href="http://en.wikipedia.org/wiki/Conflict_thesis">conflict thesis</a>".</i> (that religion and science are  irreconcilable.) 
			</li>
			<li>
				<i>Small-r-romanticism</i>: Passionate response to the world, and emphasising the philosophical significance of these feelings.
			</li>
			<li>
				<i>Capital-r-Romanticism:</i> <i>the World Unified</i>. (holism, pantheism, panpsychism, the "anima mundi". Openness to idealism almost required.)
			</li>
			<li>
				<i>Supposedly polymathic</i> (their wikipedia entries tend to list a half-dozen job titles.)
			</li>
			<li>
				Uncommon sense.
			</li>
			<li>
				<i>Weird epistemology</i> (some form of non-logical inference is involved - intuitionism, "tacit" and "implicit" knowledge, Heideggerian work, embodied philosophy of mind, noesis...)
			</li>
			<li>
				<i>Opposition to </i><a href="http://en.wikipedia.org/wiki/Methodological_individualism"><i>methodological individualism</i></a> (the social version of nominalism.)
			</li>
			<li>
				<i>Celebrities, in their day</i> (Depending on your politics, this will seem to you either proof of the wishful, indulgent nature of their thought, or just that they communicated something people find important.) 
			</li>
			<li>
				Attitude to free will varies extremely, from being the main motivator for their ontology, to utter Spinozist rejection.
			</li>
		</ul>
	</div>
</div>