<h3>Wilhelm Dilthey (1833-1911)</h3>
<div>
	<blockquote>
		All science is experiential; but all experience must be related back to and derives its its validity from the conditions and context of consciousness in which it arises, i.e., the totality of our nature. We designate as "epistemological" this standpoint which consistently recognises the impossibility of going behind these conditions. To attempt this would be like seeing without eyes or directing the gaze of knowledge behind one's own eye. Modern science can acknowledge no other than this epistemological stand-point.
		<br /><br />
		No real blood flows in the veins of the knowing subject constructed by Locke, Hume, and Kant, but rather the diluted extract of reason as a mere activity of thought.
	</blockquote>
	<br /><br /><br />

	Early philosopher of social science. His idea of "erlebnis" - that knowledge is <i>lived </i>as well as <i>thought</i> - prefigured the nascent "<a href="http://www.cardiff.ac.uk/encap/research/networks/philosophyofmind/index.html">embodied mind</a>" trend by about a hundred years, and his encompassing philosophy of life is a good, rigorous non-naturalist start.

	<ul>
	<li><a href="http://plato.stanford.edu/entries/dilthey/">Stanford.</a></li>
	<br />
	<li><a href="http://www.marxists.org/reference/subject/philosophy/works/ge/dilthey.htm">His "Introduction to the Human Sciences" (1883)</a>.</li>
	<br />
	<li><a href="http://www.janushead.org/3-1/jarthos.cfm">Good piece on "erlebnis".</a></li>
	</ul>
</div>



<h3>William James (1842-1910)</h3>
<div>

<blockquote>
	To use the organic causation of a religious state of mind in refutation of its claim to possess superior spiritual value, is quite illogical and arbitrary, unless one have already worked out in advance some psycho-physical theory connecting spiritual values in general with determinate sorts of physiological change. Otherwise none of our thoughts and feelings, not even our scientific doctrines, not even our dis-beliefs, could retain any value as revelations of the truth, for every one of them without exception flows from the state of their possessor's body at the time.
</blockquote>

American pragmatist, Christian, spirtualist, and one of the first modern psychologists. The New Thoughtists claim his "Religion of Healthy-Mindedness" as an inspiration.
<br />
<ul>
	<li><a href="http://plato.stanford.edu/entries/james/">Stanford.</a></li>
<br />
	<li><a href="http://www.des.emory.edu/mfp/james.html">Massive archive of targeted readings and such.</a></li>
<br />
	<li><a href="http://www.redroom.com/blog/michael-l-schmicker/william-james-ghost-hunter">Poignant piece on his hunt for evidence of ghosts.</a></li>
</ul>
</div>

<!-- Henri Bergson (1859-1941)</a><br />
<br />
To exist is to change, to change is to mature, to mature is to go on creating oneself endlessly."
<br /><br />
Endlessly inventive philosopher and Nobel for Literature. He and Einstein once <a href="http://www.2iceshs.cyfronet.pl/2ICESHS_Proceedings/Chapter_25/R-17_Canales.pdf">totally talked past each other</a>, which has given Bergson a bit of a disrep in scientific history. Did fearsome work in subjectivity which strongly shaped Modernist discourse. His opposition of "being" with "becoming" has led to a good amount both of excellent philosophy and vacuous soft stuff. 
<br />
<br />
<ul>
<li><a href="http://plato.stanford.edu/entries/bergson/">Stanford.</a></li>
<br />
<li><a href="http://kirjasto.sci.fi/bergson.htm">Bio.</a></li>
<br />
<li><a href="http://www.archive.org/stream/matterandmemory00berguoft#page/n5/mode/2up">"Matter and Memory" (1896).</a></li>
<br />
<li>see also his student Eduard le Roy</li>
</ul> -->



<h3>Rudolf Steiner (1861-1925)</h3>
<div>
	<blockquote>
		...it is no longer possible in our time to offer a religion of unsubstantiated miracles; our religion must rather be a proveable science.
	</blockquote>
	<!--  -->
	Our first soft mystic: pseudoscientist, 'clairvoyant', cultist, and...alternative educator. Intended to found a "spiritual science" following work by Goethe. Founded the "Anthroposophy" movement instead, which enjoys a bizarre, continuing prosperity in sanitized forms, like the "Waldorf" schools. His ideas about the evolution of consciousness are rigid and simplistic, but pioneering. He also prefigures resistance to subject-object metaphysics: positivistic mysticism!?<br />
	<!--  -->
	<ul>
		<li><a href="http://www.kheper.net/topics/Anthroposophy/Steiner.htm">Bio.</a></li>
		<br />
		<li><a href="http://www.rsarchive.org/eLib/">Archive and fan club.</a> </li>
		<br />
		<li><a href="http://rsquotes.blogspot.com/">Hostile website declaiming the many silly things he believed.</a> </li>
	</ul>
</div>


<!-- Alfred North Whitehead (1861-1947) <br />
<br />
'The guiding motto in the life of every natural philosopher should be, "Seek simplicity and distrust it_." '
<br />
Wikipedia: "A British mathematician who became an American philosopher". Helped found mathematical logic, but his metaphysical "process theory" was neglected for some time. It has gotten some academic currency (<a href="http://www.ctr4process.org/publications/ProcessStudies/">own journal </a>in 1971) and relates to this systems theory stuff<i>. </i>Working with<i> </i>process (rather than substance) as the fundamental nature of the world, it ends up in a God who is the "sum cosmic process". He is perennial popular with stoners. In this he parallels Bergson's "becoming". I really don't know how he put up with Russell long enough to write the <i>Principia</i>.
<br />
<br />
<ul>
<li><a href="http://plato.stanford.edu/entries/whitehead/">Small Stanford entry.</a></li>
<br />
<li><a href="http://whiteheadresearch.org/resources/primary-works.shtml">Dedicated research foundation, lots of primary texts.</a></li>
<br />
<li><a href="http://plato.stanford.edu/entries/process-philosophy/">Rescher on where people have gone with Process.</a></li>
</ul>
 -->


<h3>George Ivanovich Gurdjieff (1866-1949)</h3>
<div>
	<blockquote>Critical faith is freedom. Emotional faith is slavery. Mechanical faith is foolishness.</blockquote>

	Be wary of anyone who only speaks in aphorisms. Massively socially-successful Theosophist and...soft mystic. His "Fourth Way". 
	<ul>
		<li>
		<a href="http://www.kheper.net/topics/Gurdjieff/Gurdjieff.PDF">Messy but exhaustive critique.</a> 
		</li>
		<br />
		<li>
		<a href="http://www.skepdic.com/comments/gurdjcom.html">Replies from devotees to a sceptic.</a>
		</li>
		<br />
		<li>
		<a href="http://et.stok.ca/articles/400-18.html">And Robert Fripp's hip to it!! </a>
		</li>
	</ul>

</div>

<h3>Sri Aurobindo (1872-1950)</h3>
<div>
	<blockquote>
		Our actual enemy is not any force exterior to ourselves, but our own crying weaknesses, our cowardice, our selfishness, our hypocrisy, our purblind sentimentalism.
	</blockquote>

	Yogi, politician, narcissist, poet. His dad studied medicine at Aberdeen. Another borderline, this time one revered as a deity - though I'm not sure why. Updated Vedanta Hinduism with some Western frill. Through one idea, the "<a href="http://en.wikipedia.org/wiki/Integral_%28spirituality%29">integral</a>" (spooky spiritual evolution), he's the hidden influence behind a startlingly large New Age movement: "Integral Theory" (a blend of psychology, metaphysics and rank motivational speaking). Indian universities give out PhDs by the bucket on him, but you'd be lucky elsewhere.
	<ul>
	<li><a href="http://www.kheper.net/topics/Aurobindo/SriAurobindo.htm">Hagiography.</a></li>
	<br />
	<li><a href="http://www.cupblog.org/?p=343">Academic, clear-eyed biography.</a></li>
	<br />
	<li><a href="http://en.wikipedia.org/wiki/Philosophy_and_Spiritualism_of_Sri_Aurobindo">One of the least clear wikipedia pages I've ever seen.</a></li>
	</ul>

</div>

 
<h3>Carl Gustav Jung (1875-1961)</h3>
<div>
	<blockquote>
		No one can flatter himself that he is immune to the spirit of his own epoch, or even that he possesses a full understanding of it.
	</blockquote>

	Psychologist and repugnant little man, but important and indubitably mystical. Dreams... I'd like to include Lacan, too, but he wasn't especially cosmic, just awkward. 
</div>


<h3>James Jeans (1877-1946)</h3>
<div>
	<blockquote>
		...to many it is not knowledge but the quest for knowledge that gives interest to thought — to travel hopefully is greater than to arrive.
	</blockquote>
	Physicist and popularizer. First guy to propose that matter is continuously created throughout the universe. Held that the universe is pure thought; the world is a mathematician. 

<ul>
<li><a href="http://www-gap.dcs.st-and.ac.uk/~history/Biographies/Jeans.html">Bio</a></li>
<br />
<li><a href="http://www.roangelo.net/logwitt/logwit15.html">Odd schema of his philosophy.</a></li>
<br />
<li><a href="http://books.google.co.uk/books?id=j9BS1qUgy38C&amp;printsec=frontcover&amp;dq=the+philosophy+of+james+jeans&amp;source=bl&amp;ots=-i_SvY0uIG&amp;sig=2H9haUYdUcGDpHlKgeK04NMbzMA&amp;hl=en&amp;ei=lm0nTeShO4K6hAeB_MGiBQ&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=1&amp;ved=0CBkQ6AEwADgK#v=onepage&amp;q&amp;f=false">"Physics and Philosophy" (1942)</a> </li>
</ul>

</div>


<h3>Pierre Teilhard de Chardin (1881-1955)</h3>
<div>
	<blockquote>
		To write the true natural history of the world, we should need to be able to follow it from within. It would thus appear no longer as an interlocking succession of structural types replacing one another, but as an ascension of inner sap spreading out in a forest of consolidated instincts. Right at its base, the living world is constituted by conscious clothes in flesh and bone.
	</blockquote>

	Catholic eco-pantheist. 

<ul>
	<li>also Thomas Berry, Catholic cosmist,</li>
	<br />
	<li>and a modern Chardiniste, <a href="http://en.wikipedia.org/wiki/John_David_Garcia">John David Garcia.</a></li>
</ul>
</div>
 


<h3>Arthur Eddington (1882-1944)</h3>
<div>
	<blockquote>
		We used to think that if we knew one, we knew two, because one and one are two. We are finding that we must learn a great deal more about 'and'.
	</blockquote>

	Physicist and cyclist. The first patron and popularizer of Einstein's theories. His grand Platonist "<a href="http://en.wikipedia.org/wiki/Arthur_Eddington#Fundamental_theory">fundamental theory</a>" ended up spiralling off into its own numerological navel (he denied new data which was getting in his way), but not in any notably different way than Dirac's more <a href="http://en.wikipedia.org/wiki/Dirac_large_numbers_hypothesis">reputable ideas</a>.

<ul>
	<li><a href="http://www.gap-system.org/~history/Biographies/Eddington.html">Bio</a></li>
</ul>

</div>


<!-- <h3>Paul Tillich (1886-1965)</h3>
<div>

	Systematic theologian. -->

<h3>Faqir Chand (1886 – 1981)</h3>
<div>
	<blockquote>
		Who knows what may happen to me at the time of death? I may enter a state of unconsciousness, enter a state of dreams and see railway trains. How can I make a claim about my attainment of the Ultimate? The truth is that I know nothing...<br><br>
		This is the secret which has been kept so guarded by all the religions and even by the gurus of [my] Radhaswami Faith. They have kept the public in darkness. They have exploited us; they have robbed us; they have cheated us and they have deceived us by saying that they go [transcend]
	</blockquote>
	Self-deconstructing guru; Socrates of the Punjab?

	<ul>
	<li>
		<a href="https://www.goodreads.com/book/show/10856207-the-unknowing-sage">Full book-length bio.</a>
	</li>
	</ul>
</div>
 
<!-- 
Ludwig Wittgenstein (1889-1951)
<br />
We feel that even if all possible scientific questions be answered, the problems of life have still not been touched at all. Of course there is then no question left, and just this is the answer."<br />
- Tractatus_, 6.52 
<br />

Patron saint of both sensible analyticity and gooey relativists. The most famous critical-mystical epigram is probably his: Whereof we cannot speak, thereof we must be silent". This was mistaken by the Logical Positivists as an imprimateur to go fuck old philosophy up, but it's really about tacit knowledge_: the idea that the structure of the world is inexpressible, and thus has to be smuggled. (Heidegger says much the same, and Polanyi and Charles Taylor develop the theme.) Wittgenstein was also deeply religious and, better, deeply influential on anyone who wants to think about religion.<br />
<br />
Another massively important idea of his is that there can be important, serious, and useful nonsense_.
<br />
<br />
<ul>
<li><a href="http://www.kfs.org/~jonathan/witt/ten.html">Hypertext of the Tractatus_.</a></li>
<br />
<li><a href="http://khashaba.blogspot.com/2006/02/wittgenstein-enigma.html">Self-aggrandizing blogpost, ok as an introduction.</a></li>
<br />
<li><a href="http://kvond.wordpress.com/2009/08/09/wittgensteins-mysticism-one-world-or-two/">Good analysis of the academic construction of "mystical Wittgenstein".</a></li>
</ul>

<span style="font-size: 100%;"><br />_

<span style="font-size: 100%;">But even Wittgenstein had to go on talking and writing, for how else can a philosopher show that he is working and not just goofing off_?"<br />
<span style="font-size: 100%;">- Alan Watts_
<br /> -->


<h3>Aldous Huxley (1894-1963)</h3>
<div>
	<blockquote>
		Now, experience is not a matter of having actually swum the Hellespont, or danced with the dervishes, or slept in a doss-house. It is a matter of sensibility and intuition, of seeing and hearing the significant things, of paying attention at the right moments, of understanding and co-ordinating. Experience is not what happens to a man; it is what a man does with what happens to him.
	</blockquote>

	Bloomsbury hippie. Orientalized Christian. Though he's an icon of Consciousness in general, his actual idea is "the perennial philosophy".

	<ul>
	<li><a href="http://plato.stanford.edu/entries/mysticism/#4">Stanford note on perennialism.</a></li>
	</ul>
</div>

<h3>Jiddu Krishnamurti (1895-1986)</h3>
<div>
	<blockquote>
		Truth is a pathless land. Man cannot come to it through any organization, through any creed, through any dogma, priest or ritual, not through any philosophical knowledge or psychologist's technique. He has to find it through the mirror of relationship, through the understanding of the contents of his own mind...
	</blockquote>

	Guru - social activist and sort-of-Spinozist. His adoptive parents paraded him around as the Messiah; others did so as a Buddha. Somehow he emerged from this experience as a human being. He doesn't avoid the assumption-heavy rhetoric of bad mysticism, but his philosophy is of a inoffensive humanistic kind, rather than esoteric. He's the patron saint of Bohmians, too.

	<ul><br />
	<li><a href="http://www.ratical.com/many_worlds/K/K1.html#BohmIntro2K">Intro by Bohm.</a></li>
	<br />
	<li><a href="http://www.jkrishnamurti.org/krishnamurti-teachings/books.php">Bibliography, gratis. (By "books" they mean "little essays" though).</a></li>
	<br />
	<li><a href="http://www.journal.kfionline.org/allarticles.asp?category=Philosophy">Dedicated journal, some philosophical work.</a></li>
	</ul>

</div>



<!-- Wilhelm Reich (1897-1957) -->


 
<h3>Wolfgang Pauli (1900-1958)</h3>
<div>
	<blockquote>
		I do not believe in the possible future of mysticism in the old form. However, I do believe that the natural sciences will out of themselves bring forth a counter pole in their adherents, which connects to the old mystic elements.
	</blockquote>

	Of Schopenhauerian physics. Collaborated with Jung, but we'll forgive him that because <a href="http://en.wikipedia.org/wiki/Pauli_effect">weird things did keep happening to him</a>.<br /><br />The problem of wavefunction collapse led to a decent number of hard mystics amongst the great quantum theorists (note that there are now good <a href="http://en.wikipedia.org/wiki/Ghirardi%E2%80%93Rimini%E2%80%93Weber_theory">physicalist Collapse Theories</a>):
	<ul>
	<li>Bohr's <a href="http://www.moq.org/forum/Pirsig/emm.html">complementarity</a> is an only mildly prickly solution; </li>
	<br />
	<li>Schrödinger was open to <a href="http://www.photonics.cusat.edu/article2.html">Vedanta ideas</a> throughout his life ("each individual's consciousness is only a manifestation of a unitary consciousness pervading the universe")</li>
	<br />
	<li>Wigner is an <a href="http://en.wikipedia.org/wiki/Wigner%27s_friend">out-and-out idealist</a>.</li>
	<br />
	<li><a href="http://werner-heisenberg.unh.edu/">Heisenberg thought </a>that pure realism was unscientific;</li>
	<br />
	<li>while <a href="http://plato.stanford.edu/entries/qt-nvd/">von Neumann</a> has a huge, terrifying theory of how we produce finity. </li>
	</ul>
	
	Einstein, stop telling God what to do with his dice."<br />- Bohr

</div>

<!-- Dag Hammarskjöld_ (1905-1961)
"In our age, the road to holiness necessarily passes through the world of action."
<br />
The Second Secretary-General of the UN and a deep man. No philosophical work except an oblique autobiography, though, so people are left to milk and exegesise and ponder political mysticism.
<br />
<br />
<ul>
<li><a href="http://nobelprize.org/nobel_prizes/peace/laureates/1961/hammarskjold-bio.html">Nobel Bio.</a></li>
<br />
<li><a href="http://www.scribd.com/doc/12990508/Dag-Hammarskjold-A-Fully-Integrated-Vision">Bit on his political philosophy.</a></li>
<br />
<li><a href="http://www.dhf.uu.se/publications/other-publications/the-ethics-of-dag-hammarskjold/">Ethics.</a></li>
</ul>
 -->

<h3>Arthur M Young (1905-1995)</h3>
<div>
	Helicopter engineer and process theorist. Founded an "Institute for the Study of Consciousness", which (unlike every other place with this kind of name) seems sound.
	<ul>
	<li><a href="http://www.arthuryoung.com/about.html">Fan club.</a></li>
	</ul>
</div>


<!-- Jean Gebser_ (1905-1973) <br />
<br />
<br />
<br />
<br />  -->


<!-- Kenneth E Boulding__ (1910-1993)<br />
<br />
"The World is a very complex system. It is easy to have too simple a view of it, and it is easy to do harm and to make things worse under the impulse to do good and make things better."<br />
<br />
<br />

An economist who talks about love(!)
<br />
<br />
<ul style="text-align: left;"><br />
<li><a href="http://www.personal.psu.edu/faculty/d/x/dxl31/research/otherstuff/boulding.html">Curriculum postvitae by a student.</a></li>
<br />
<li><a href="http://www.colorado.edu/econ/Kenneth.Boulding/">Selected work and festschriften.</a></li>
</ul>
 -->

 
<h3>Alan Watts (1915-1973)</h3>
<div>
	<blockquote>
		The idea of nothing has bugged people for centuries, especially in the Western world. We have a saying in Latin, <i>Ex nihilo nuhil fit</i>, which means "out of nothing comes nothing." It has occurred to me that this is a fallacy of tremendous proportions. It lies at the root of all our common sense, not only in the West, but in many parts of the East as well. It manifests in a kind of terror of nothing, a put-down on nothing, and a put-down on everything associated with nothing, such as sleep, passivity, rest, and even the feminine principles. But to me nothing -- the negative, the empty -- is exceedingly powerful. I would say, on the contrary, you can't have something without nothing... The whole idea of there being only space, and nothing else at all is not only inconceivable but perfectly meaningless, because we always know what we mean by contrast.
	</blockquote>
	<br />
	The sweetest counterexample to the idea that mystics are necessarily obscurantist, hollow showoffs. His work in reconciling Eastern philosophy with modern-Western beats Pirsig, Capra et al to the inevitably popular "atheist spirituality" idea. 
	<br />
	<br />
	<ul style="text-align: left;"><br />
	<li><a href="http://library.holtof.com/unicorn/watts/index.htm">Archive of work.</a></li>
	<br />
	<li><a href="http://www.youtube.com/watch?v=XXi_ldNRNtM">South Park animation(!) of a dichotomy he liked. </a></li>
	</ul>
</div>

<h3>Ilya Prigogine (1917-2003)</h3>
<div>
	<blockquote>
		Thoughtful physicists concerned with the workings of thermodynamics realise how disturbing is the question of, as one put it, ‘how a purposeless flow of energy can wash life and consciousness into the world.’ ... The important laws, the creative laws, lie elsewhere ... Irreversibility is the mechanism that brings order out of chaos.
	</blockquote>

	Nobelled statistical mechanic, the "poet of thermodynamics". One of the first to suggest how life doesn't violate the Second Law of Thermodynamics (because our system is an open one, we "export" entropy and create a local "dissipating structure"). Later began to proselytise about how this proved the self-organising nature of the world.

	<ul>
	<li><a href="https://www9.georgetown.edu/faculty/earleyj/papers/FOCH%20LP7.pdf">Overview essay by Joseph Earley.</a></li>
	<br />
	<li><a href="http://books.google.co.uk/books?id=hXWKzPFgv_wC&amp;pg=PA232&amp;lpg=PA232&amp;dq=philosophy+of+ilya+prigogine&amp;source=bl&amp;ots=TtIQmttmAV&amp;sig=ejPy9cqsS76OaQL9TjgQn5xVCKA&amp;hl=en&amp;ei=EUQqTa29I5GYhQfno6SwAg&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=3&amp;ved=0CDEQ6AEwAjgK#v=onepage&amp;q=philosophy%20of%20ilya%20prigogine&amp;f=false">Somewhat breathless analysis of where it all gets Cosmic.</a></li>
	<br />
	<li><a href="http://www.cscs.umich.edu/~crshalizi/notebooks/prigogine.html">A statistician pouring scorn on the "self-organising" phalanx of his work.</a> </li>
	</ul>
	<br />...Nobody outside of physics and chemistry has ever heard of Onsager, even though this is one of at least four fundamental contributions he made to statistical physics ... The reason is, of course, that [unlike Prigogine] Onsager did not claim any profound cultural, metaphysical significance for his work. (It has none.)"<br />- critic<br />
</div>



<h3>William A Earle (1919-1988)</h3>
<div>
	"Truth... is related to troth_, which is the same as loyalty or faith... The passion for truth which men of good will manifest is not a matter of ascertaining the exact chemical composition of water or the number of grains of sand on the beach. It always was and remains a passion for recognizing and honoring the divinity in oneself and the other."
	<br />
	Phenomenologist &amp; film theorist. Helped found the <a href="http://www.spep.org/">Society for Phenomenology and Existential Philosophy</a> in America (a bloody thankless task!) Apparently set out to do critical mysticism more or less exactly as I construe it: "strictly philosophical transcendence". There's really very little work on him.
	<br /><br /><ul>
	<li>
	<a href="http://www.sunypress.edu/p-491-life-of-the-transcendental-ego.aspx">Festschrift</a>, and <a href="http://www.jstor.org/stable/2215491">reviewed</a>.
	</li>
	<br />
	<li>
	<a href="http://www.caute.net.ru/spinoza/aln/earle.htm">1951 piece on Spinoza.</a>
	</li>
	</ul>
</div>

<h3>David Bohm (1917-1992)</h3>
<div>
	Open-minded physicist with mixed reviews. Worked on "quantum ontology", apparently in the true senses of each of those words. 
	<ul style="text-align: left;">
	<li><a href="http://www.thinkg.net/david_bohm/">A curious, oblique fansite.</a></li>
	<br />
	<li><a href="http://tkpi.org/2010/dialogue-a-proposal">Slightly culty work on "Dialogue" as salvation.</a> </li>
	<br />
	<li>He's in "<a href="http://books.google.co.uk/books?id=M72CiOOwtpYC&amp;printsec=frontcover&amp;dq=The+Reenchantment+of+Science&amp;source=bl&amp;ots=2Emrx1ysPs&amp;sig=MKwa1evwTbm_pU_GYUY8FsFcamo&amp;hl=en&amp;ei=GeEhTcy1B8jNhAetyIi3Dg&amp;sa=X&amp;oi=book_result&amp;ct=result&amp;resnum=3&amp;ved=0CDEQ6AEwAg#v=onepage&amp;q&amp;f=false">The Re-enchantment of Science</a>" (1988), on postmodern inquiry.</li>
	</ul>
</div>


<h3>Timothy Leary (1920-1996)</h3>
<div>
	"Turn on" meant go within to activate your neural and genetic equipment. Become sensitive to the many and various levels of consciousness and the specific triggers that engage them. Drugs were one way to accomplish this end. "Tune in" meant interact harmoniously with the world around you — externalize, materialize, express your new internal perspectives. Drop out suggested an elective, selective, graceful process of detachment from involuntary or unconscious commitments. "Drop Out" meant self-reliance, a discovery of one's singularity, a commitment to mobility, choice, and change. Unhappily my explanations of this sequence of personal development were often misinterpreted to mean "Get stoned and abandon all constructive activity."
	<br />
	The most <a href="http://www.erowid.org/plants/cannabis/cannabis_recipe7.shtml">blatant 'Head</a> on our list. A dismissed Harvard psychology lecturer, allegedly for popularising LSD amongst undergrads. Nixon called him at one point "the most dangerous man in America". But most of his metaphysical work can be directly linked to work by <a href="http://en.wikipedia.org/wiki/Panexperientialism">White</a><a href="http://en.wikipedia.org/wiki/Philosophy_of_Organism">head</a> and . He also founded two at least mildly credible fields And the philosophy of drugs is a perfectly valid enterprise, even if your interests begin to...conflict. 
	<br />
	<br />
	<ul>
	<li><a href="http://www.timothyleary.us/">Archive, etc.</a></li>
	<br />
	<li><a href="http://www.popsubculture.com/pop/bio_project/timothy_leary.html">Popbio.</a></li>
	<br />
	<li><a href="http://www.altx.com/io/cyberculture.html">Review of his cheesy epic, Chaos and Cyberculture._</a></li>
	</ul>
	(See also Robert Anton Wilson (1932-2007), satirist and sceptic, who has <a href="http://web.mit.edu/dryfoo/www/Info/index.html">a little posthumous nook on the MIT website</a>. Also the best key-to-the-city <a href="http://www.rawilson.com/proclamation.html">announcement </a>ever,) Ontology is the study of being; the guerrilla approach is to so mix the elements of each book that the reader must decide on each page 'How much of this is real and how much is a put-on?'"
</div>



 
<h3>Robert Pirsig (1928- )</h3>
<div>
	It is an immortal dialogue, strange and puzzling at first, but then hitting you harder and harder, like truth itself. What Phædrus has been talking about as Quality, Socrates appears to have described as the soul, self-moving, the source of all things. There is no contradiction. There never really can be between the core terms of monistic philosophies. The One in India has got to be the same as the One in Greece. If it's not, you've got two. The disagreements among the monists concern the attributes of the One, not the One itself. Since the One is the source of all things and includes all things in it, it cannot be defined in terms of those things, since no matter what thing you use to define it, the thing will always describe something less than the One itself. The One can only be described allegorically, through the use of analogy, of figures of imagination and speech." 

	<br />
	Motorcyclist and rhetorician. Affirmative and philosophically serious, but he has only a vibrant fan-club and 20 million sales to console him (rather than academic credibility). In 2005, Liverpool awarded the first PhD with his "Metaphysics of Quality" as a thesis.
	<br />
	<br />
	<ul>
	<li><a href="http://www.moq.org/">The hyperactive MOQ community</a>.</li>
	<br />
	<li><a href="http://www.psybertron.org/?page_id=1551">More philosophical activism.</a></li>
	<br />
	<li><a href="http://robertpirsig.org/Intro.htm">That Doctor of MOQ from Liverpool Uni.</a></li>
	</ul>
</div>

<h3>Carlos Castaneda (1925-1998)</h3>
<div>
	"One goes to knowledge as one goes to war: wide-awake, with fear, with respect, and with absolute assurance. Going to knowledge or going to war in any other manner is a mistake, and whoever makes it might never live to regret it." 
	<br />
	Superstar anthropologist, Shaman and phoney. His scholarly work is great if considered as meta-fiction: philosophical novels pretending to do anthropology... Goes on and on about "The Warrior", a vaguely Nietzschean agent. He went on to found his own martial art, and about a hundred neologisms: ricapituration, indulgence, the Tonal ...
	<br /><ul style="text-align: left;">
	<li><a href="http://www.american-buddha.com/teach.don.juan.toc.htm#THE%20TEACHINGS%20OF%20DON%20JUAN:%20A%20YAQUI%20WAY%20OF%20KNOWLEDGE">_Don Juan_ (1969), with commentary from himself, thirty years on.</a></li>
	</ul>
</div>

<h3>Roger Penrose (1931- )</h3>
<div>
	Does life in some way make use of the potentiality for vast quantum superpositions, as would be required for serious quantum computation? How important are the quantum aspects of DNA molecules? ... Do we really need to move forward to radical new theories of physical reality, as I myself believe, before the more subtle issues of biology — most importantly conscious mentality — can be understood in physical terms? How relevant, indeed, is our present lack of understanding of physics at the quantum/classical boundary? Or is consciousness really “no big deal,” as has sometimes been expressed? It would be too optimistic to expect to find definitive answers to all these questions, at our present state of knowledge, but there is much scope for healthy debate..." <br />

	Platonist physicist. He has (of course) protested that it's a new physics he wants, not new mysticism. His tentative model of 'quantum consciousness' can only be seen as unreasonable because current culture brackets out consciousness, trying to ignore or dissolve it. There is no significant difference between the project of Plotinus and physical Theories of Everything. What was mystic then is not so now. In the 1920s, cosmology was a deeply disreputable field: "a pseudoscience and the preserve of scientists who might have done some useful work in their earlier years but who had gone mystic in their dotage." - Hawking 

	<ul>
	<li><a href="http://www.icpress.co.uk/etextbook/p581/p581_foreword.pdf">His foreword on Schrodinger's philosophy, with bio.</a></li>
	<br />
	<li><a href="http://online.kitp.ucsb.edu/plecture/penrose/">Amazing illustrated lecture on his "Orchestrated Objective Reduction" model of mind.</a></li>
	<br />
	<li><a href="http://sprott.physics.wisc.edu/pickover/loom.html">Book tracing the history of mathematical mysticism</a>.</li>
	</ul>
</div>


<h3>Fritjof Capra (1934 - )</h3>
<div>
<blockquote>
	Mystics understand the roots of the Tao but not its branches; scientists understand its branches but not its roots. Science does not need mysticism and mysticism does not need science; but man needs both.
</blockquote>

Borderline, bridging the worlds of thought-porn and philosophy. The skinny is this: Quantum physics has come to parallel certain Eastern philosophical themes, especially those of Taoism. Capra himself is original and low on nonsense, but the 'quantum mysticism' that he popularised contains a shit-ton of spooky charlatans. 

Zen Buddhism, for example, isn't (just) constipated, misty-eyed hokum; it insists on and obsesses over the physical world, and takes as its aim the destruction of mental constructs mistaken for the world: good philosophical work. 
<ul>
	<li><a href="http://library.holtof.com/unicorn/capra/index.htm">Scraps.</a> </li>
</ul>

</div>

<h3>Eugene Gendlin (1926 - )</h3>
<div>

<blockquote>
	Many philosophers avoid physics for fear of bringing reductionism into philosophy. They avoid human experiencing, for fear of bringing psychology in. Anything "ontic" threatens to bring alien explanations to philosophy. Heidegger knew better. Everything must be brought to philosophy, to questioning how it is thought, and to let it be differently...<br /><br />
	My reform of phenomenology was not taken up. Of course I think: That is why phenomenology is rejected today. The popular assumption of neutral, uninterpreted "phenomena" had to fail. But the style has swung to assuming that all experience derives wholly from implicit assumptions breakable only by discontinuity. Either way misses the non-logical transitions.
</blockquote>
<br />

Philosopher of psychology and populariser of large Continental ideas. I concede that the first signs are bad: is it cultish? (check, the "Focusing Institute"); is there proliferation of self-help buzzwords? (check, "Thinking at the Edge") ; is there a free online library, and paid courses? (check). But his "philosophy of the implicit" is a development of Wittgensteinian themes, though what I've read seems a little simplistic, in need of sceptical trimming. (Particularly in his claim to be "beyond postmodernism".) This is perhaps inevitable.

<br />

<br />
<ul>
<li><a href="http://www.focusing.org/bios/gendlin_phen_as_nonlogical_steps.html">Autobio.</a></li>
<br />
<li><a href="http://cid-3d78e8499a8cb205.office.live.com/self.aspx/.Public/Distro/Levin%20%5E51994%5E6%20Making%20Sense.pdf">Intro piece.</a></li>
<br />
<li><a href="http://www.focusing.org/gendlin/gol_all_index.asp">Large archive.</a></li>
<br />
<li><a href="http://www.rabe.org/tag/eugene-gendlin/">Bit on the selfhelp side.</a> (...)</li>
</ul>

<br />
<br />
<br />

 
<!-- Carl Sagan (1934-1996) 
</center>
<br />

"I would love to believe that when I die I will live again, that some thinking, feeling, remembering part of me will continue. But much as I want to believe that, and despite the ancient and worldwide cultural traditions that assert an afterlife, I know of nothing to suggest that it is more than wishful thinking.
<br />

The world is so exquisite with love and moral depth, that there is no reason to deceive ourselves with pretty stories for which there's little good evidence. Far better it seems to me, in our vulnerability, is to look death in the eye and to be grateful every day for the brief but magnificent opportunity that life provides."
<br />
<br />

Really? A famously_ sceptical, naturalist “mystic”? Well, he gave the <a href="http://www.amazon.com/Varieties-Scientific-Experience-Personal-Search/dp/1594201072#reader_1594201072">1985 Gifford Lectures</a>, and displays a hundred times the epistemic modesty of Dawkins et al.<br />
<br />
Perhaps another side to this is that we can always find heroic, mythologizable people: Mahātmās, "legends!!", idols. Those who - due to their iconoclasty, articulacy on large things, or just sheer likeability - people voluntarily embrace and structure their mind around. Nietzsche; Wilde; Wittgenstein; Stephen Fry; Jesus. Names that glow in the dark. And scientism absolutely has some of these people. (Dawkins, Sagan and Douglas Adams are the most touching).
<br />

'All that philosophy can do is destroy idols. And that means not making any new ones – say, out of the “absence of idols”.'<br />
- Wittgenstein 
<br />
Sagan's most famous and righteous line is "Extraordinary claims require extraordinary evidence" - a.k.a. <a href="http://everything2.com/title/Hume%2527s+Maxim">Hume's Maxim</a>. Question is, though: which "ordinary" idea does the claim have to be extreme to? Where did that discourse come from? Problem is that "ordinary" is a <i>social</i> concept.
<br />
<br /> -->
 

<h3>Terence McKenna (1946-2000)</h3>
<div>
	"There is a spiritual obligation, there is a task to be done. It is not, however, something as simple as following a set of somebody else's rules. Most people make it naively by thinking clearly about the present at hand, but we intellectuals are trapped in a world of too much information. Innocence is gone for us. We cannot expect to cross the rainbow bridge through a good act of contrition; that will not be sufficient...The imagination is everything."
	<br />
	Psychedelic philosopher (shaman), altered statesman, and elf follower. "Loathes science" apparently, which strikes me as a pretty dim thing to say.

	<ul>
		<li><a href="http://www.wired.com/wired/archive/8.05/mckenna.html">Journalistic portrait.</a></li>
	<br />
		<li><a href="http://deoxy.org/mckenna.htm">Suitably twisted archive site.</a></li>
	<br />
		<li><a href="http://www.erowid.org/culture/characters/mckenna_terence/mckenna_terence_maps_hyperspace.shtml">"New Maps of Hyperspace" (1989)</a></li>
	</ul>
</div>


 
<h3>Ken Wilber (1949- )</h3>
<div>
	<blockquote>
		The real intent of my writing is not to say, you must think in this way. The real intent is: here are some of the many important facets of this extraordinary Kosmos; have you thought about including them in your own worldview? My work is an attempt to make room in the Kosmos for all of the dimensions/levels/domains/waves/memes/modes/individuals/cultures, and so on ad infinitum. I have one major rule: Everybody is right. More specifically, everybody — including me — has some important<i> pieces</i> of truth, and all of those pieces need to be honored..."
	</blockquote>

	Star spiritualist 'psychologist'. (A borderline gone to the Soft Side). Helped along the dubious "interpersonal psychology" field. His early work reconciling contradictory accounts of the ego is apparently good, but then rises the cultish, demi-Hegelian "Integral Theory" business. Recently endorsed <a href="http://adityavaidya.info/founder.html">faith healers</a> &amp; quantum quackery.<br />
	<br />
	Note: William James believed in ghosts. Irrationality in one place affects only the argument it's used in.
	<ul>
	<li><a href="http://www.kheper.net/topics/Wilber/fig-3.gif">Dizzying</a> <a href="http://www.kheper.net/topics/Wilber/fig-1.gif">array</a> of <a href="http://integralcreatives.com/resources/Levels+Lines+3+copy.jpg">philosophy-scented</a> <a href="http://wilber.shambhala.com/images/misc/great-chain-various-lg.gif">pie charts here</a>. </li>
	<br />
	<li><a href="http://www.geoffreyfalk.com/books/LaneCritiqueWilberPrologue.php">Exhaustive critique.</a></li>
	</ul>
	<br />
</div>



<!-- Want to include someone as a symbol for the absurd online proliferation of spiritualism and mysticism (out of which someone hard <i>could</i> come). One guy, Martin Kazlev will do, since he's an amateur paleontologist: in 1998 he started <a href="http://www.kheper.net/topics/index.html">kheper.net</a>, a collection of mildly critical essays on modern esoterica, revealing some of the underbelly of the Wilberite post-Dianetics underworld.
<br />
<blockquote><i>Thus for anyone to write a biography properly, they would have to take into account past lives (which physicalist materialism doesn't believe in, nor do many religions), higher spiritual impulses that are at work (generally veiled) in the personality, the higher self and divine soul's activity and purpose for this personality, the semi-autonomous emotional-astral being, subconscious samskaras, miasmas inherited from one's parents (and they from theirs), racial memory, influences and formations from the subtle planes, spiritual and devic cosmecological evolutionary forces, and more, much more. All these things fall outside the dominant memesets of materialistic-reductionistic, exoteric Judeo-Christian society</i>...</blockquote><br /> 
<ul>
<li><a href="http://martinalankazlev-exposed.blogspot.com/2006/10/m-alan-kazlev-sanjay-kishore-dadlani.html">Attack on Kazlev by some guru he lightly criticized's zealots.</a> (A good sign!)</li>
<li><a href="http://www.kheper.net/topics/gurus/guru_test.html">His insider's guide to spotting soft mystics</a>.</li>
</ul>
<br /> -->
