You can follow my calculation <a href="https://gist.github.com/g-leech/b2b9cddbea211df1d1d110288ff3792f">here</a>.<br><br>

Gross world product divided by population is $10,600 per person! - but this naive distribution would be impossible, even assuming all the political will in the world. <a href="{{cnc}}">Depreciation</a> costs bring this down to ~$9,300 <a href="#fn:2" id="fnref:2">2</a>; maintaining our <a href="{{rnd}}">present levels of R&D investment</a> brings it down further to $9,100. 

<br><br>

We also have to consider the "deadweight loss" of taxation (how much you have to spend to collect the tax, how much unproductive tax avoidance behaviour is caused, how much it discourages economic activity, etc). The research on this is shockingly vague (<a href="{{excess}}">this</a> gives estimates of between 2.5% and 30%!). Lower bound takes us to $8,800; the 30% upper bound takes us all the way down to $5,900. The mass carve-up we are talking about goes well beyond any existing tax rate, and avoidance behaviour does scale in proportion to rates; so we probably have to assume the deadweight would be worse than any yet experienced. Call it 30%.

<br><br>

Most people will want to maintain government services at around their current level (besides the giant basic income expenditure); remember that this could knock <a href="{{govt}}">another 30% off</a> our available income flow (or a mere <a href="{{milit}}">28% off</a> if we lose the military). <a href="{{socialSpend}}">Half of that</a> is welfare and pensions, which are being replaced here (in our heads). So we're down to $4,300.


<br><br>

So the current economy, carved up sustainably, would yield some fraction of $4,000 per person per year. Even given that most households would get <a href="{{household}}">about 4</a> of these incomes, this is simply not enough for freedom, given the needs or tastes of an average human.<br><br> 

(The above does not consider a host of other sad realities: e.g. rich people like their money; e.g. this much equality would destroy entire industries (luxury goods!), and so further sap the available pie, e.g. there would be a recession effect from all the fully alienated workers stopping - there could also be <a href="{{roose}}">a stimulus effect</a> from increasing poor people's spending, but it's extremely difficult to say which sign prevails. <br><br> 

Worse: only the direct cost of taxation is factored in above, without the amount that the rich manage to spirit away. We would need something like a world government for it to work even this well (badly), to stamp out tax havens and transfer pricing and all that jolly financial dancing undertaken on behalf of elites.)<br><br><br>



<hr />
<br><br>

My point is not that this is the exact figure we'll have to work with - instead it points up our paltry present capacity. Growth would be necessary, even in an ideal world without greed or inefficiency.<br><br>

Socially conscious people are these days ambivalent about economic growth, often for environmental reasons. But consider the enlightened definition of "productivity": it is not "amount of output", but the amount of output <i>per unit of input</i>. This is pure gain, and is actually environmentally positive, since it could reduce resource use and waste. But we do need output growth too: e.g. until every paraplegic on earth who wants <a href="https://www.technologyreview.com/s/546276/this-40000-robotic-exoskeleton-lets-the-paralyzed-walk/">one of these</a> has one.

<br><br>

The above just uses world income; what about using world wealth? Even if we liquidate the <a href="{{wealth}}">whole of the world's wealth</a> (our stock of money, as opposed to the GDP, a flow), it would only provide a universal basic income for <a href="https://gist.github.com/g-leech/b2b9cddbea211df1d1d110288ff3792f#L40">three and a half years</a>.


<br><br><br><br><br><br>
