Gross world product divided by population is <a href="{{perPerson}}">$15,000</a> per person! - but this naive distribution would be impossible, even assuming all the political will in the world. Depreciation costs bring this down to ~<a href="{{depreCost}}">$13,000</a>; maintaining our <a href="{{rnd}}">present levels of R&D investment</a> brings it down further to <a href="{{rndCost}}">$12,500</a>. <a href="#fn:2" id="fnref:2">2</a>

<br><br>

We also have to consider the "deadweight loss" of taxation (how much you have to spend to collect the tax, how much unproductive tax avoidance behaviour is caused, how much it discourages economic activity, etc). The research on this is shockingly vague (<a href="{{excess}}">this</a> gives estimates of between 2.5% and 30%!). Lower bound takes us to <a href="{{lowerBound}}">$12,000</a>; the 30% upper bound takes us all the way down to <a href="{{upperBound}}">$8,000</a>. The mass carve-up we are talking about goes well beyond any existing tax rate, and avoidance behaviour does scale in proportion to rates; so we probably have to assume the deadweight would be worse than any yet experienced. 

<br><br>

Call it 30% and so we are left with $8,000. This is simply not enough to be experienced as freedom, given the average human's tastes.<br><br> 

(Also the above calculation does not consider a host of other sad realities: e.g. rich people like their money, e.g. government is expensive. The above calculation counts only the direct cost of taxation, and doesn't factor in the amount that the rich manage to spirit away. We would need something like a world government for it to work, to stamp out tax havens and transfer pricing and all that jolly financial dancing undertaken on behalf of elites.<br><br>

Also, most of us will want to maintain government services at around their current level, besides the giant basic income expenditure; remember that this could knock <a href="{{govt}}">another 30% off</a> our available income flow (or a mere <a href="{{milit}}">28% off</a> if we lose the military).

<br><br>

So the practical amount extractable from the current economy is probably a small fraction of $8,000 per person. My point above is about our present capacity: showing that growth would be necessary, even in an ideal world without greed or inefficiency. <a href="#fn:3" id="fnref:3">3</a>)

<br><br>

That's just income; what about using world wealth for basic income? Even if we liquidate the <a href="{{wealth}}">whole of the world's wealth</a> (our stock of money, as opposed to the GDP, a flow), it would only provide a universal basic income for <a href="{{runsDry}}">3 years</a>.) 


<br><br>
