<div class="footnotes">
<ol>

	<li class="footnote" id="fn:1">
		People don't tend to include the French punch-card looms as numerical control systems, though I can't see why not: they were stateless programmable machines that could handle only one task, just like the early NC systems. They happened not to use digital computers to interpret the program, and had no internal data representation (memory), but I haven't seen anyone say that these are the defining features of NC. Maybe "ability to perform arbitrary manual work" is the distinguishing one?
	</li>

	<li class="footnote" id="fn:2">
		I cannot find good top-level estimates of world depreciation. <a href="http://www.ecb.europa.eu/events/pdf/conferences/oulton.pdf">See chart 28 here</a> for the only evidence I could find: ~12% depreciation per year for the UK.
	</li>

	
	<li class="footnote" id="fn:3">
		Socially conscious people are these days very ambivalent about economic growth, often for environmental reasons. But consider the enlightened definition of "productivity": it is not "amount of output", but the amount of output <i>per unit of input</i>. This is pure gain, and is actually environmentally positive, since it could reduce resource use and waste. But we do need output growth too: e.g. until every paraplegic on earth who wants <a href="https://www.technologyreview.com/s/546276/this-40000-robotic-exoskeleton-lets-the-paralyzed-walk/">one of these</a> has one.
	</li>


	<li class="footnote" id="fn:4">
		Do read the comments <a href="http://www.sleuthsayers.org/2013/06/the-3500-shirt-history-lesson-in.html">on that article</a>; a heart-warming instance of critical attention producing better research by co-operation. Public redrafting! Why the internet doesn't do this more often... 
	</li>


	<li class="footnote" id="fn:5">
		The hard problem of human life is boredom and dignity and meaning and all that. 
		<br><br>
	</li>


	<li class="footnote" id="fn:6">
		Which case is far from <a href="https://books.google.co.uk/books?id=1mMJBAAAQBAJ&pg=PT5&lpg=PT5&dq=unfriendly+superintelligence&source=bl&ots=Pmw3OUyii9&sig=MhxoDlbXofhw0JodeBpmmoO_HcE&hl=en&sa=X&ved=0ahUKEwijzdGvopnPAhVHCsAKHWKUAb8Q6AEIRjAG#v=snippet&q=paperclip%20AI&f=false">the literal worst case</a> of technological growth along this axis, of course.
	</li>


	<li class="footnote" id="fn:7">
		Another solution, which I don't trust myself to place in either category, is nationalised robot factories. (Food and clothes and houses, say.) But total state control of the means of production is too foreboding. Now, this could be my emotional overreaction to reading about e.g. Maoist China, with its <a href="https://books.google.co.uk/books?id=pcfYAQAAQBAJ&pg=PA298&lpg=PA298&dq=mao+cadres+withholding+food&source=bl&ots=BKOEZsDyka&sig=IOleNA0S1H_8DpgnnJn880AfbUE&hl=en&sa=X&ved=0ahUKEwjL_-nJnqHPAhWqIMAKHQX9DFEQ6AEIKDAD#v=snippet&q=food%20withheld%20as%20punishment&f=false">food terrorism</a> <a href="https://en.wikipedia.org/wiki/Backyard_furnace">and peasant-robbing</a>. But it rings malign: total control of production by <i>any</i> single entity is a terrible and unnecessary risk.<br><br>

		"Come now!" you say, "A liberal democratic country would never deny <a href="https://www.theguardian.com/society/2012/jul/27/disability-benefit-assessors-film">basic subsistence</a> <a href="https://www.citizensadvice.org.uk/healthcare/help-with-health-costs/nhs-charges-for-people-from-abroad/">to people</a> <a href="http://www.bbc.co.uk/news/uk-36526158"><a href="https://www.theguardian.com/uk-news/2016/jul/28/hundreds-of-eritrea-asylum-applications-still-incorrectly-refused">for political reasons</a></a>!"

		<br><br>

		(But then, basic income is to come from the same pipe, and would thus be vulnerable to the same politicisation, the same horrible austerity cycles. This is another reason to focus on capital redistribution: put it right into people's hands, away from mob-shaped politicians, away from arbitrary denial.)
		<br><br>

	</li>
</ol>
</div>