<!-- Divide production equally -->
{% 		assign gdp = 107500000000000 			%}
{% 		assign pop = 7200000000 				%}
{% 		assign percap =  gdp | divided_by: pop 	%}

<!-- Subtract depreciation -->
{% 		assign deprec_rate = 0.12 									%}
{% 		assign nondeprec_share = 1 | minus: deprec_rate 			%}
{% 		assign deprec = percap | times: nondeprec_share 			%}
{% 		assign deprecStr = deprec | append: '' 						%}

<!-- Subtract R&D -->
{% 		assign research_rate = 0.025 							%}
{% 		assign research_total = percap | times: research_rate	%}
{% 		assign incResearch = deprec | minus: research_total		%}

<!-- Subtract deadweight lower bound -->
{% 		assign lo_dead_rate = 0.025 							%}
{% 		assign lo_weight = percap | times: lo_dead_rate			%}
{% 		assign lo_remnant = incResearch | minus: lo_weight		%}


<!-- Subtract deadweight upper bound -->
{% 		assign hi_dead_rate = 0.3 								%}
{% 		assign hi_weight = percap | times: hi_dead_rate			%}
{% 		assign hi_remnant = incResearch | minus: hi_weight		%}


<!-- Subtract nonwelfare government -->
{% 		assign govt_rate = 0.15 								%}
{% 		assign govt_loss = percap | times: govt_rate			%}
{% 		assign remnant = hi_remnant | minus: govt_loss			%}



<div class="footnotes">
<ol>

	<li class="footnote" id="fn:1">
		People don't tend to include the French punch-card looms as numerical control systems, though I can't see why not: they were stateless programmable machines that could handle only one task, just like the early NC systems. They happened not to use digital computers to interpret the program, and had no internal data representation (memory), but I haven't seen anyone say that these are the defining features of NC. Maybe "ability to perform arbitrary manual work" is the distinguishing one?
	</li>

	<li class="footnote" id="fn:2">

<!-- 		<ul>
			<li>Rough depreciation rate: {{ deprec_rate | times: 100 }}%	</li><br>
			<li>Nondepreciated GWP per capita: {{ percap }} </li><br>
			<li>{{ nondeprec_share }} * {{percap}} = ${{ deprecStr }}</li>
		</ul>

		<br>
 -->
		Re: "12%". I cannot find good top-level estimates of world depreciation. The average of these few countries seems to be <a href="https://en.wikipedia.org/wiki/Depreciation_(economics)#/media/File:AbschrUSAJBRDengl.png">about 12%.</a>

		<a href="{{deprec}}">See also chart 28 here</a> for UK evidence: ~12% depreciation per year.
	</li>

	
	<li class="footnote" id="fn:4">
		Do read the comments <a href="http://www.sleuthsayers.org/2013/06/the-3500-shirt-history-lesson-in.html">on that article</a>; a heart-warming instance of critical attention producing better research by co-operation. Public redrafting! Why the internet doesn't do this more often... 
	</li>


	<li class="footnote" id="fn:5">
		The hard problem of human life is boredom and dignity and meaning and all that. <br>
	</li>


	<li class="footnote" id="fn:6">
		Which case is far from <a href="https://books.google.co.uk/books?id=1mMJBAAAQBAJ&pg=PT5&lpg=PT5&dq=unfriendly+superintelligence&source=bl&ots=Pmw3OUyii9&sig=MhxoDlbXofhw0JodeBpmmoO_HcE&hl=en&sa=X&ved=0ahUKEwijzdGvopnPAhVHCsAKHWKUAb8Q6AEIRjAG#v=snippet&q=paperclip%20AI&f=false">the literal worst case</a> of technological growth along this axis, of course.
	</li>


	<li class="footnote" id="fn:7">
		"Come now!" you say, "A liberal democratic country would never deny <a href="https://www.theguardian.com/society/2012/jul/27/disability-benefit-assessors-film">basic subsistence</a> <a href="https://www.citizensadvice.org.uk/healthcare/help-with-health-costs/nhs-charges-for-people-from-abroad/">to people</a> <a href="http://www.bbc.co.uk/news/uk-36526158"><a href="https://www.theguardian.com/uk-news/2016/jul/28/hundreds-of-eritrea-asylum-applications-still-incorrectly-refused">for political reasons</a></a>!"
	</li>

	<li class="footnote" id="fn:8">
		Basic income is like the basic-goods communism proposal, in that it transfers vast economic power to politicians - and is thus made unacceptably vulnerable. This is another reason to focus on capital redistribution: put it right into people's hands, away from mob-shaped politicians, away from arbitrary denial.
	</li>

<!-- 	<li class="footnote" id="fn:9">
		<ul>
			<li>Gross world product, PPP (2014): $107.5 tn.</li><br>
			<li>World population (2017): 7.6 billion.</li><br>
			<li>So, Output per person: ${{ percap }}</li>
		</ul>
	</li>

	<li class="footnote" id="fn:10">
		<ul>
			<li>Rough R&D share of GWP: {{ research_rate | times: 100 }}%	</li><br>
			<li>R&D per person: {{ research_rate | times: 100 }}% of ${{ percap }} = ${{research_total}} </li><br>
			<li>Output per person, after R&D and depreciation: ${{incResearch}}</li>
		</ul>
	</li>

	<li class="footnote" id="fn:11">
		<ul>
			<li>Existing lower bound on the excess burden: 2.5%	</li>
			<li>Per capita loss in the best case: ${{lo_weight}}</li>
			<li>Remaining output per capita: ${{lo_remnant}}</li>
		</ul>
	</li>

	<li class="footnote" id="fn:12">
		<ul>
			<li>Existing upper bound on excess burden: 30%	</li>
			<li>Per capita loss on the worst ceteris paribus account: ${{hi_weight}}</li>
			<li>Remaining output per capita: ${{hi_remnant}}</li>
		</ul>
	</li>

	<li class="footnote" id="fn:13">
		<ul>
			<li>Nonwelfare government spending, as % of GWP: 15%	</li>
			<li>Per capita spend on other government services : ${{govt_loss}}</li>
			<li>Final extractable output per capita: ${{remnant}}</li>
		</ul>
	</li>

	<li class="footnote" id="fn:14">
		{%		assign wealth = 241000000000000		%}
		{%		assign people = 7200000000			%}
		{%		assign wealthPerCap = wealth | divided_by: people		%}
		{%		assign incomePerCapPerAnnum = 10000			%}
		{%		assign yearsLeft = wealthPerCap | divided_by: incomePerCapPerAnnum	%}
		
		{%   	assign modulus = wealthPerCap | times: 10 | divided_by: incomePerCapPerAnnum  %}
		<ul>
			<li>Total wealth: $241 tn.</li>
			<li>Wealth per person: ${{wealthPerCap}}</li>
			<li>Minimally acceptable basic income per year: ${{incomePerCapPerAnnum}}.</li>
			<li>The wealth would last: {{yearsLeft}}.{{modulus}} years</li>
		</ul>
	</li>
 -->
</ol>
</div>