<br><big><span style="font-weight: bold;">Probably vicious solutions to the worst case</span> </big> <a href="#fn:6" id="fnref:6">6</a>:

<ol>
	<li>Halt progress on automation, preserving current employment. (Via government ban, successful hostility by organised labour, mass <a href="{{monkey}}">monkey wrenching</a>). I count this as vicious, even though it is much better than the worst-case, since it leaves almost all of us very unfree, forever.</li>
	<br>
	 
	<li>or I guess you could try huge unemployment plus an authoritarian crackdown on desperate masses, see how that goes.</li>
	<br>

	<li>
		Nationalised robot factories, or full cyber-communism. Food and clothes and houses guaranteed to all, at least. Leave aside the historical failure of command economies; imagine here that a new <a href="{{shalizi}}">big-data</a> <a href="{{ssc}}">Kantorovich</a> manages to make it fairly efficient.<br><br>

		Even granting this giant assumption, this is a dangerous move. Total state control of the means of production is too easily twisted. Now, this <i>could</i> be just my emotional overreaction to reading about e.g. Maoist China, with its <a href="{{foodTerror}}">food terrorism</a> <a href="https://en.wikipedia.org/wiki/Backyard_furnace">and peasant-robbing</a>. But it rings malign: total control of production by <i>any</i> entity is a terrible unnecessary risk. <a href="#fn:7" id="fnref:7">7</a>
	</li>
	<br>
	
	<li>"Back to the land" primitivism. Humans return to subsistence farming as a means of survival.</li>
	<br>

	<li>Just raising the minimum wage without doing anything else. Misses the point entirely. ('Should the minimum wage be called the “Robot Employment Act?”' – Cowen and Tabarrok.) </li>
	<br>

	<li>Mass human augmentation, to keep up with the machines. (At minimum, just using traditional externally-hosted software: Humans using chess assistant programs <a href="{{solo}}">can still beat</a> solo supercomputers.) <br><br>

	Possibly vicious, but not because there's anything wrong with transhumanism: because doing it for purely economic reasons is 1) a neverending process, since the machines will improve as fast, and 2) it would <a href="{{ssc}}">very probably be destructive of some distinctive human virtues</a> (e.g. serenity, play, reflection, aesthetic interest). Only good if people <i>really</i> can't feel dignified without having a leading productive role in things. </li>

</ol>

<br><br>
<big><span style="font-weight: bold;">Potentially nonvicious solutions:</span></big><br>

<ol>

<li>Prop up the liberal mixed economy: <br><br>
	<ul>
		<li>with a programme of mass employee stock ownership.</li>
		<li>or by carving each full-time job into several part-time ones, plus heavy wage subsidies.</li>
		<li>or with a universal basic income funded through higher taxation. <a href="#fn:8" id="fnref:8">8</a></li>
		<li><a href="{{smith}}">Get the government to buy</a> every 18 year old a serious stock portfolio (??)</li>
	</ul>
</li><br>

<li>More or less vague suggestions for a very different social structure, like embarrassingly decentralised groupings, with their own minifactories...</li>

</ol>


