<span style="font-weight: bold;">Probably vicious solutions to the worst case</span> 
<a href="#fn:6" id="fnref:6">6</a>:

<ol>
	<li>Halt progress on automation, preserving current employment. (Via government ban, successful hostility by organised labour, mass <a href="{{monkey}}">monkey wrenching</a>). I count this as vicious, even though it is much better than the worst-case, since it leaves almost all of us very unfree, forever.</li>
	<br>
	 
	<li>or I guess you could try huge unemployment plus an authoritarian crackdown on desperate masses, see how that goes.</li>
	<br>

	<li>Violent world revolution for some ideology or other. (I count nonviolent world revolutions as a special case of this: they're the violent revolutions which start out nonviolent.)</li>
	<br>
	
	<li>"Back to the land" primitivism. Humans return to subsistence farming as a means of survival.</li>
	<br>

	<li>Just raising the minimum wage without doing anything else. Misses the point entirely. ('Should the minimum wage be called the “Robot Employment Act?”' – Cowen and Tabarrok.) </li>
	<br>

	<li>Mass human augmentation, to keep up with the machines. (At minimum, just using traditional externally-hosted software: Humans using chess assistant programs <a href="{{solo}}">can still beat</a> solo supercomputers.) <br><br>

	Possibly vicious, but not because there's anything wrong with transhumanism: because doing it for purely economic reasons is 1) a neverending process, since the machines will improve as fast, and 2) it would <a href="{{ssc}}">very probably be destructive of some distinctive human virtues</a> (e.g. serenity, play, reflection, aesthetic interest). Only good if people <i>really</i> can't feel dignified without having a leading productive role in things. <a href="#fn:7" id="fnref:7">7</a>
	</li>

</ol>

<br>

<span style="font-weight: bold;">Potentially nonvicious solutions:</span>

<ol>

<li>Prop up the liberal mixed economy: 
	<ul>
		<li>with a programme of mass employee stock ownership.</li>
		<li>or by carving each full-time job into several part-time ones, plus heavy wage subsidies.</li>
		<li>or with a universal basic income funded through higher taxation.</li>
		<li><a href="{{smith}}">Get the government to buy</a> every 18 year old a serious stock portfolio (??)</li>
	</ul>
</li><br>

<li>More or less vague suggestions for a very different social structure, like embarrassingly decentralised groupings, with their own minifactories...</li>

</ol>
