I couldn't find a rigorous list of the types of automation, so here's my attempt:
<br><br><br>

<ul><li>
	<i>First-wave</i>: Mechanical control. machines which perform one task automatically because of the exact shape of their components. a) Cams, linked wheels carefully machined to create fixed sequences of linear motions. <a href="{{cam1}}">one instance</a> in the year 200BCE. b) Governors. c) <a href="{{cats}}">Cataracts</a>
</li><br>

<li>
	<i>Second-wave</i>: Numerical control. Programmable machines, where changing the program (punch-cards) changes the product. Grossly physical, analog algorithms. The first fully-auto productive machine was designed and built by <a href="{{vaucans}}">Vaucanson in 1745</a> (not Falcon or Bouchon or Jacquard). <a href="#fn:1" id="fnref:1">1</a>
</li>
<br>

<li>
	<i>Third-wave</i>: Computer numerical control. One machine, whose behaviour is dictated by algorithms <i>encoded as digital data</i>. The birth of software. Memory allows for ~zero human oversight once task instructions are created and loaded. Arbitrarily fine manual work, performed better than humans and much faster. <a href="{{apt}}">1957</a> or 1958.
</li><br>

<li>
	<i>Fourth-wave</i>: Machine-learning model control: No need to program, after suitable domain algorithms have been written; models are automatically calibrated given enough data. Trained models can go beyond ordinary control flow, discerning non-necessary and non-sufficient conditions involved in sophisticated tasks like driving. <br><br>

	Early successes came in speech recognition (e.g. <a href="{{tangora}}">Tangora</a> and <a href="{{dragon}}">DRAGON</a> in the early 80s, <a href="{{rabiner}}">Rabiner et al</a> in 1985), beginning the long march to replace stenographers and secretaries (and ultimately <a href="{{experim}}">experimental linguists</a>). The defining instance of the fourth wave may be driverless cars: 5% of developed-world jobs at risk.<br><br>

	Sometimes called the 'second machine age'.
</li><br>

<li>
	<i>Fifth-wave</i>: Artificial general intelligence: No need for programming (programming either new tasks, or any future design of improved machines). <br><br>
</li>

</ul>