<div class="accordion">

<h3>Exemplars</h3>
<div>


<blockquote>
The Tao that can be told is not the eternal Tao;<br>
The name that can be named is not the eternal name.<br>
The nameless is the beginning of heaven and earth.<br>
The named is the mother of ten thousand things.<br>
Ever desireless, one can see the mystery.<br>
Ever desiring, one can see the manifestations.<br>
These two spring from the same source but differ in name;<br>
this appears as darkness.
</blockquote>
<p style="line-height: 5px">
- Laozi</p>
<br><br>

<blockquote>
Without Contraries there is no progression.<br>
Attraction and Repulsion, Reason and Energy,<br>
Love and Hate are necessary to Human existence.<br>
From these contraries spring what the religious call Good &amp; Evil.<br>
Good is the passive that obeys Reason.<br>
Evil is the active springing from Energy.
</blockquote>
<p style="line-height: 5px">
- Blake</p><br><br>

<blockquote>
Our good characteristics are intimately connected to our bad ones: If we weren't violent and aggressive, we wouldn't be able to defend ourselves; if we didn't have feelings of exclusivity, we wouldn't be loyal to those close to us; if we never felt jealousy, we would also never feel love.
</blockquote>
<p style="line-height: 5px">
- Francis Fukuyama</p><br><br>

<blockquote>
...let us also glory in our sufferings, for we know that suffering produces perseverance; perseverance, character; and character, hope.
</blockquote>
<p style="line-height: 5px">
- Bible</p><br><br>

<blockquote>
As a poet, I have experienced directly the ways that a formal constraint can hone the clarity, intensity, and inspired power of a writing project. In similar ways, a physical constraint, such as illness, can engender surprising perceptual attunement in the body.
</blockquote>
<p style="line-height: 5px">
- Rusty Morrison</p><br><br>

<blockquote>
	Whether as punishment for sin, or as the unavoidable outcome of inevitable misbehavior, or as a way of weeding out the gene pool, or as a way of incentivizing the lazy, or as a way of intimidating and disempowering potential evildoers, or as a way of marking the limits of acceptable behavior so everyone knows what they are, or merely as the stakes in the great game of life (the agony of defeat needed to enhance the thrill of victory), to conservatives misery, suffering, crime, and punishment are necessary and useful parts of God’s great plan.
</blockquote>
<p style="line-height: 5px">
- John Emerson</p><br><br>

<blockquote>
	According to the toil is the reward.
</blockquote>
<p style="line-height: 5px">
- Rabbi Ben Hei Hei</p><br><br>

<blockquote>
	...in every case where God inflicts punishment... we must believe that the designed effect is the healing of men, and not their ruin; there is a preparation for the final doom in the case of those who reject the means of recovery. Thus, as the universe contains things which serve for bodily punishment ... in all these the supreme justice of God makes use sometimes even of wicked men, acting in ignorance, and sometimes of good men, acting intelligently.
</blockquote>
<p style="line-height: 5px">
- Augustine against the Manichaeans</p>
<br><br>

<blockquote>
	Actual happiness always looks pretty squalid in comparison with the over-compensations for misery. And, of course, stability isn't nearly so spectacular as instability. And being contented has none of the glamour of a good fight against misfortune, none of the picturesqueness of a struggle with temptation, or a fatal overthrow by passion or doubt. Happiness is never grand.
</blockquote>
<p style="line-height: 5px">
- Aldous Huxley's Mustapha Mond</p><br><br>

<blockquote>
	A lifetime of happiness!&nbsp;No man alive could bear it: it would be hell on earth.
</blockquote>
<p style="line-height: 5px">
- George Bernard Shaw</p><br><br>

<blockquote>
	"[Goethe knew that] what would rescue him from a meaningless existence was not freedom but a curtailment of freedom.
</blockquote>
<p style="line-height: 5px">
- WH Auden</p>
<br><br>

<blockquote>
	God never deserted our people. Right through the ages there were Jews. Through the ages they suffered, but it also made us strong.
</blockquote>
<p style="line-height: 5px">
- Anne Frank</p><br><br>

<blockquote>
	Beauty exists only in struggle.
</blockquote>
<p style="line-height: 5px">
- Filippo Marinetti</p><br><br>

<blockquote>
People in northern Europe since medieval times,<br>
Find it hard to deal with when our dreams come true.<br>
As if happiness exists in the world in a fixed amount<br>
And if you feel up, somebody somewhere else feels down.
</blockquote>
<p style="line-height: 5px">
- Whitest Boy Alive, "1517"</p><br><br>

<blockquote>
	The discipline of suffering, of great suffering - do you not know that only this discipline has created all enhancements of man so far? That tension of a soul in misfortune which communicates to it its energy, its shuddering in view of ruin, its inventiveness and bravery in undergoing, enduring, interpreting, and exploiting misfortune, and whatever depth, mystery, disguise, spirit, artifice, or greatness has been bestowed upon the soul - has it not been bestowed through the discipline of great suffering?
</blockquote>
<p style="line-height: 5px">
- Nietzsche</p><br><br>

<blockquote>
	God whispers to us in our pleasures, speaks in our conscience, but shouts in our pain, it is his megaphone to rouse a deaf world.
</blockquote>
<p style="line-height: 5px">
- CS Lewis</p><br><br>

<blockquote>
	Sacrifice is nothing other than the production of sacred things.
</blockquote>
<p style="line-height: 5px">
- Georges Bataille</p><br><br>

<blockquote>
	I think you have to pay for love with bitter tears.
</blockquote>
<p style="line-height: 5px">
- Edith Piaf</p><br><br>

<blockquote>
	Without evil there can be no good<br>
	So I must be good to be evil sometimes...
</blockquote>
<p style="line-height: 5px">
- South Park's Satan</p><br><br>

<blockquote>
	NO PAINS, NO GAINS.<br>
	If little labour, little are our gains:<br>
	Man's fortunes are according to his pains.
</blockquote>
<p style="line-height: 5px">
- Robert Herrick</p><br><br>

<blockquote>
	It was a day peculiar to this piece of the planet,<br>
	when larks rose on long thin strings of singing<br>
	and the air shifted with the shimmer of actual angels.<br>
	Greenness entered the body. The grasses<br>
	shivered with presences, and sunlight<br>
	stayed like a halo on hair and heather and hills.<br>
	Walking into town, I saw, in a radiant raincoat,<br>
	the woman from the fish-shop. ‘What a day it is!’<br>
	cried I, like a sunstruck madman.<br>
	And what did she have to say for it?<br>
	Her brow grew bleak, her ancestors raged in their graves<br>
	as she spoke with their ancient misery:<br>
	‘We’ll pay for it, we’ll pay for it, we’ll pay for it!’
</blockquote>
<p style="line-height: 5px">
- Alastair Reid</p><br><br>

</div>
</div>