<div class="footnotes">
<ol>

	<li class="footnote" id="fn:0">
		~ detail from Bruegel the Elder's<br> greater "Tower of Babel"
	</li>

   <!--  <li class="footnote" id="fn:1">
    	Stuart-Smith, J., Smith, R., Solanki, V., Vinciarelli, A. (2015) ‘Measuring Mimicry in Task-Oriented Conversations’, in Proceedings of Interspeech 2015. Henceforth “SSSV”.
	</li> -->

    <li class="footnote" id="fn:2">
		<a href="http://htk.eng.cam.ac.uk/">HTK (2006)</a>
	</li>

    <li class="footnote" id="fn:3">
    	Coleman, JS. (2005) - <i>Introducing Speech and Language Processing</i>, Cambridge University Press, pp.135.
	</li>


<!-- 	<li class="footnote" id="fn:4">
		Stuart-Smith, Smith, Solanki, Vinciarelli (2015), p.1
	</li>
 -->

	<li class="footnote" id="fn:5">
		Their predominance can be seen in the date range between two papers making this claim: Rabiner and Juang (1991), pp.1 - and Gales and Young (2007), pp.197. A formal discussion of HMMs is in section 4 and section 5.
	</li>


	<!-- <li class="footnote" id="fn:6">
		Stuart-Smith, Smith, Solanki, Vinciarelli (2015), p.1
	</li>
 -->

	<li class="footnote" id="fn:8">
		Stuart-Smith, Smith, Solanki, and Vinciarelli (2015), pp.1. The added parenthesis [] is borne out in their actual analysis.
	</li>


	<li class="footnote" id="fn:9">
		Miles, LK, Nind, LK., Macrae, CN (2009), “The rhythm of rapport: Interpersonal synchrony and social perception”, Journal of Experimental Social Psychology, Volume 45, Issue 3, May 2009, pp.585.<br><br>
	</li>


	<li class="footnote" id="fn:10">
		Chartrand, TL., Maddux, W., Lakin, J (2005) “Beyond the perception–behavior link: The ubiquitous utility and motivational moderators of nonconscious mimicry”, in Hassin et al, Unintended thought II: The new unconscious, Oxford University Press, NY, pp. 334–361
	</li>


	<li class="footnote" id="fn:11">
		Babel, M., Bulatov, D. (2012) “The role of fundamental frequency in phonetic accommodation”, Language and Speech, vol.55(2), pp.233.
	</li>


	<li class="footnote" id="fn:12">
		Babel, M., McAuliffe, M., and McGuire, G. (2014). “Spectral similarity and listener judgments of phonetic accommodation”. In Proceedings of the 10th International Seminar on Speech Production. <br><br>

		Babel, M (2009), pp.168
	</li>


	<li class="footnote" id="fn:13">
		Bailly, G & Lelong, A (2011) “Study of the phenomenon of phonetic convergence thanks to speech dominoes”, Analysis of Verbal and Nonverbal Communication and Enactment, vol.0, pp.280-293.
	</li>


	<li class="footnote" id="fn:14">
		Webb, JT. (1969). “Subject speech rates as a function of interviewer behaviour”. Language & Speech, vol .12, pp.54–67
	</li>


	<li class="footnote" id="fn:15">
		Cappella, JN., and Pa nalp, S. (1981). “Talk and silence sequences in informal conversations: III. Interspeaker influence”. Human Communication Research, vol .7, pp.117–132
	</li>


	<li class="footnote" id="fn:16">
		Giles, H., and Powesland, PF. (1975). Speech style and social evaluation. London: Academic Press, chapter 2.
	</li>


	<li class="footnote" id="fn:17">
		Levelt, WJM., and Kelter, S. (1982). “Surface form and memory in question answering”. Cognitive Psychology, vol .14, pp.78–106
	</li>


	<li class="footnote" id="fn:18">
		Smith, Smith, Solanki, and Vinciarelli (2015), pp.4.
	</li>


	<li class="footnote" id="fn:19">
		Chartrand, T. L., & Bargh, J. A. (1999). “The chameleon effect: The perception-behavior link and social interaction”. Journal of Personality and Social Psychology, vol .76, pp.896, Study 1
	</li>


	<li class="footnote" id="fn:20">
		Auer and Hinskens (2005), Dialect Change: Convergence and Divergence in European Languages, Cambridge University Press, pp.356.
	</li>


	<li class="footnote" id="fn:21">

		Jayagopi, D., Hung, H., Yeo, C., and Gatica-Perez, D. (2009) “Modelling dominance in group conversations using nonverbal activity cues,” IEEE Transactions on Audio, Speech, and Language Processing, vol.17, no. 3, pp. 501–513.
	</li>


	<li class="footnote" id="fn:22">
		Al-Khatib, M. (1995). “The impact of interlocutor sex on linguistic accommodation: A case study of Jordan radio phone-in programs”, Multilingua, vol.14 (2), p.133-150.
	</li>


	<li class="footnote" id="fn:23">
		e.g. the overview given in Lakin, J., Jefferis, V., et al (2003), “The chameleon effect as social glue: Evidence for the
		evolutionary significance of nonconscious mimicy”, Journal of Nonverbal Behavior 27(3), pp.145-150
	</li>


	<li class="footnote" id="fn:24">
		Lelong A., and Bailly G. (2011). “Study of the phenomenon of phonetic convergence thanks to speech dominoes”, in Analysis of Verbal and Nonverbal Communication and Enactment, Springer Verlag, pp.280–293.
	</li>


	<li class="footnote" id="fn:25">
		Babel & Bulatov (2009), Bulatov (2012), Pardo et al (2010), Munhall et al (2009), Babel (2010), Shockley et al (2004),	Nielsen (2011). 
	</li>


	<li class="footnote" id="fn:27">
		Gales and Young (2007), pp.2
	</li>



	<li class="footnote" id="fn:28">
		This distinction is complicated when we consider that the training of the parameters of generative models is accomplished by discriminative algorithms.
	</li>


	<li class="footnote" id="fn:29">
		Coleman, J (2005), pp.112.
	</li>
<!-- 

	<li class="footnote" id="fn:30">
		Diagram from Coleman, J (2005), pp.114
	</li> -->


	<li class="footnote" id="fn:31">
		Baum, L. and Petrie, T. (1966) “Statistical Inference for Probabilistic Functions of Finite State Markov Chains” Annals of Mathematical Statistics, vol. 37, no. 6, pp.1554-1563.
	</li>


	<li class="footnote" id="fn:32">
		Huang, X., Baker, J., Reddy, R. (2014), “A Historical Perspective of Speech Recognition”, Communications of the ACM, vol.57 No. 1, pp.94-103.
	</li>


	<li class="footnote" id="fn:33">
		(see Section 3.1.1 and 5.2 for elaboration and illustrations)
	</li>


<!-- 	<li class="footnote" id="fn:34">

	</li>


	<li class="footnote" id="fn:35">

	</li>


	<li class="footnote" id="fn:36">

	</li>
 -->

	<li class="footnote" id="fn:37">
		Rabiner (1981), pp.261.
	</li>


	<li class="footnote" id="fn:38">
		HTK Book (2006), pp.9 discusses this special case.
	</li>

<!--
	<li class="footnote" id="fn:39">

	</li>
-->

	<li class="footnote" id="fn:40">
		Note that the forward ‘probability’ is actually a density function.
	</li>


	<li class="footnote" id="fn:41">
		Rabiner, L. (1989) “A tutorial on hidden Markov models and selected applications in speech recognition,” Proceedings of the IEEE, vol . 77, no. 2, pp. 259.
	</li>


	<li class="footnote" id="fn:42">
		Diagram from Young, Gales et al (2006), p.2. The speech data inputs used are defined in section 4.1.
	</li>


	<li class="footnote" id="fn:43">
		Reynolds, DA., Quatieri, TF., and Dunn, RB. (2000). “Speaker Verification Using Adapted Gaussian Mixture Models”, Digital Signal Processing, vol.10, pp.20.
	</li>

	<li class="footnote" id="fn:44">
		Reynolds, DA (2000), “Speaker Verification Using Adapted Gaussian Mixture Models”, pp.23.
	</li>


	<li class="footnote" id="fn:45">
		Bulatov, D (2009), “The effect of fundamental frequency on phonetic convergence,” University of California at Berkeley, Phonology Lab Annual Report.
	</li>


	<li class="footnote" id="fn:46">
		Babel, M (2010) “Dialect divergence and convergence in New Zealand English,” Language in Society, vol.39, no.04, pp.437–456.
	</li>


	<li class="footnote" id="fn:47">
		R. Baker and V. Hazan (2011), “DiapixUK: task materials for the elicitation of multiple spontaneous speech dialogs,” Behavior Research Methods, vol . 43, no. 3, pp. 761–770
	</li>


<!-- 	<li class="footnote" id="fn:48">

	</li> -->


	<li class="footnote" id="fn:49">
		Feature extraction is also called front-end processing, quantization, parameterisation, or dimensionality reduction. Or, in the context of speech recognition, signal representation.
	</li>


<!--
	<li class="footnote" id="fn:50">

	</li>


	<li class="footnote" id="fn:51">

	</li>

-->
	<li class="footnote" id="fn:52">
		J.S. Bridle and M.D. Brown (1974), "An Experimental Automatic Word-Recognition System", JSRU Report No. 1003, Joint Speech Research Unit, Ruislip, England.
	</li>


	<li class="footnote" id="fn:53">
		Stuart-Smith, Smith et al (2015), pp.3.
	</li>


	<li class="footnote" id="fn:54">
		Ganchev, T., Fakotakis, N., Kokkinakis, G. (2005). “Comparative evaluation of va rious MFCC implementations on the speaker verification task”, Proceedings of the SPECOM, vol .1 pp.191–194
	</li>


	<li class="footnote" id="fn:55">
		Huckvale, M. (2007) “ACCDIST: An a ccent similarity metric for a ccent recognition and diagnosis”, in: Müller, C., (ed), Speaker Classification II, Springer Berlin
	</li>


	<li class="footnote" id="fn:56">
		Stuart-Smith, Smith et al (2015), pp.1
	</li>


	<!-- <li class="footnote" id="fn:57">
		Coleman, J (2005), pp.99.
	</li> -->


	<li class="footnote" id="fn:58">
		Schroeder and Atal (1985), pp.55
	</li>


	<li class="footnote" id="fn:59">
		Diagram from Kadir, Hamza (2006), “Speech compression using Linear Predictive Coding”, MATLAB Central FileExchange.
	</li>

<!--
	<li class="footnote" id="fn:60">

	</li>


	<li class="footnote" id="fn:61">

	</li>

-->
	<li class="footnote" id="fn:62">
		Model evaluation, for speech models, is often called ‘recognition’ or ‘transcription’ in the literature.
	</li>
<!--

	<li class="footnote" id="fn:63">

	</li>

-->
	<li class="footnote" id="fn:64">
		The analysis is two-tailed: what i s measured is the convergence or di vergence of paired s peaker models over ti me.
	</li>

<!--
	<li class="footnote" id="fn:65">

	</li>

-->
	<li class="footnote" id="fn:66">
		Smith, Smith, Solanki, Vinciarelli (2015), p.2
	</li>


	<li class="footnote" id="fn:67">
		Moscoso, F. (2013), “Grammatical Change Begins within the Word: Causal Modeling of the Co-evolution of Icelandic Morphology and Syntax”, Department of Linguistics, UC–Santa Barbara
	</li>
<!--

	<li class="footnote" id="fn:68">

	</li>


	<li class="footnote" id="fn:69">

	</li>


	<li class="footnote" id="fn:70">

	</li>


	<li class="footnote" id="fn:71">

	</li>


	<li class="footnote" id="fn:72">

	</li>


	<li class="footnote" id="fn:73">

	</li>


	<li class="footnote" id="fn:74">

	</li>


	<li class="footnote" id="fn:75">

	</li>


	<li class="footnote" id="fn:76">

	</li>


	<li class="footnote" id="fn:77">

	</li>


	<li class="footnote" id="fn:78">

	</li>


	<li class="footnote" id="fn:79">

	</li>


	<li class="footnote" id="fn:80">

	</li>


	<li class="footnote" id="fn:81">

	</li>


	<li class="footnote" id="fn:82">

	</li>


	<li class="footnote" id="fn:83">

	</li>


	<li class="footnote" id="fn:84">

	</li>


	<li class="footnote" id="fn:85">

	</li>


	<li class="footnote" id="fn:86">

	</li>


	<li class="footnote" id="fn:87">

	</li>


	<li class="footnote" id="fn:88">

	</li>


	<li class="footnote" id="fn:89">

	</li>


	<li class="footnote" id="fn:90">

	</li>


	<li class="footnote" id="fn:91">

	</li>


	<li class="footnote" id="fn:92">

	</li>


	<li class="footnote" id="fn:93">

	</li>


	<li class="footnote" id="fn:94">

	</li>


	<li class="footnote" id="fn:95">

	</li>


	<li class="footnote" id="fn:96">

	</li>


	<li class="footnote" id="fn:97">

	</li>


	<li class="footnote" id="fn:98">

	</li>


	<li class="footnote" id="fn:99">

	</li>


	<li class="footnote" id="fn:100">

	</li>


	<li class="footnote" id="fn:101">

	</li>


	<li class="footnote" id="fn:102">

	</li>


	<li class="footnote" id="fn:103">

	</li>


	<li class="footnote" id="fn:104">

	</li>


	<li class="footnote" id="fn:105">

	</li>


	<li class="footnote" id="fn:106">

	</li>


	<li class="footnote" id="fn:107">

	</li>


	<li class="footnote" id="fn:108">

	</li>


	<li class="footnote" id="fn:109">

	</li>


	<li class="footnote" id="fn:110">

	</li>


	<li class="footnote" id="fn:111">

	</li>


	<li class="footnote" id="fn:112">

	</li>


	<li class="footnote" id="fn:113">

	</li>


	<li class="footnote" id="fn:114">

	</li>


	<li class="footnote" id="fn:115">

	</li>


	<li class="footnote" id="fn:116">

	</li>


	<li class="footnote" id="fn:117">

	</li>


	<li class="footnote" id="fn:118">

	</li>


	<li class="footnote" id="fn:119">

	</li>


	<li class="footnote" id="fn:120">

	</li>


	<li class="footnote" id="fn:121">

	</li>


	<li class="footnote" id="fn:122">

	</li>


	<li class="footnote" id="fn:123">

	</li>


	<li class="footnote" id="fn:124">

	</li>


	<li class="footnote" id="fn:125">

	</li>


	<li class="footnote" id="fn:126">

	</li>


	<li class="footnote" id="fn:127">

	</li>


	<li class="footnote" id="fn:128">

	</li>


	<li class="footnote" id="fn:129">

	</li>


	<li class="footnote" id="fn:130">

	</li>


	<li class="footnote" id="fn:131">

	</li>


	<li class="footnote" id="fn:132">

	</li>


	<li class="footnote" id="fn:133">

	</li>


	<li class="footnote" id="fn:134">

	</li>


	<li class="footnote" id="fn:135">

	</li>


	<li class="footnote" id="fn:136">

	</li>


	<li class="footnote" id="fn:137">

	</li>


	<li class="footnote" id="fn:138">

	</li>


	<li class="footnote" id="fn:139">

	</li>


	<li class="footnote" id="fn:140">

	</li>


	<li class="footnote" id="fn:141">

	</li>


	<li class="footnote" id="fn:142">

	</li>


	<li class="footnote" id="fn:143">

	</li>


	<li class="footnote" id="fn:144">

	</li>


	<li class="footnote" id="fn:145">

	</li>


	<li class="footnote" id="fn:146">

	</li>


	<li class="footnote" id="fn:147">

	</li>


	<li class="footnote" id="fn:148">

	</li>


	<li class="footnote" id="fn:149">

	</li>


	<li class="footnote" id="fn:150">

	</li>


	<li class="footnote" id="fn:151">

	</li>


	<li class="footnote" id="fn:152">

	</li>


	<li class="footnote" id="fn:153">

	</li>


	<li class="footnote" id="fn:154">

	</li>


	<li class="footnote" id="fn:155">

	</li>


	<li class="footnote" id="fn:156">

	</li>


	<li class="footnote" id="fn:157">

	</li>


	<li class="footnote" id="fn:158">

	</li>


	<li class="footnote" id="fn:159">

	</li>


	<li class="footnote" id="fn:160">

	</li>


	<li class="footnote" id="fn:161">

	</li>


	<li class="footnote" id="fn:162">

	</li>


	<li class="footnote" id="fn:163">

	</li>


	<li class="footnote" id="fn:164">

	</li>


	<li class="footnote" id="fn:165">

	</li>


	<li class="footnote" id="fn:166">

	</li>


	<li class="footnote" id="fn:167">

	</li>


	<li class="footnote" id="fn:168">

	</li>


	<li class="footnote" id="fn:169">

	</li>


	<li class="footnote" id="fn:170">

	</li>


	<li class="footnote" id="fn:171">

	</li>


	<li class="footnote" id="fn:172">

	</li>


	<li class="footnote" id="fn:173">

	</li>


	<li class="footnote" id="fn:174">

	</li>


	<li class="footnote" id="fn:175">

	</li>


	<li class="footnote" id="fn:176">

	</li>


	<li class="footnote" id="fn:177">

	</li>


	<li class="footnote" id="fn:178">

	</li>


	<li class="footnote" id="fn:179">

	</li>


	<li class="footnote" id="fn:180">

	</li>


	<li class="footnote" id="fn:181">

	</li>


	<li class="footnote" id="fn:182">

	</li>


	<li class="footnote" id="fn:183">

	</li>


	<li class="footnote" id="fn:184">

	</li>


	<li class="footnote" id="fn:185">

	</li>


	<li class="footnote" id="fn:186">

	</li>


	<li class="footnote" id="fn:187">

	</li>


	<li class="footnote" id="fn:188">

	</li>


	<li class="footnote" id="fn:189">

	</li>


	<li class="footnote" id="fn:190">

	</li>


	<li class="footnote" id="fn:191">

	</li>


	<li class="footnote" id="fn:192">

	</li>


	<li class="footnote" id="fn:193">

	</li>


	<li class="footnote" id="fn:194">

	</li>


	<li class="footnote" id="fn:195">

	</li>


	<li class="footnote" id="fn:196">

	</li>


	<li class="footnote" id="fn:197">

	</li>


	<li class="footnote" id="fn:198">

	</li>


	<li class="footnote" id="fn:199">

	</li>

Smith, Smith, Solanki, Vinciarelli (2015), p.2.
Moscoso, F. (2013), “Grammatical Change Begins within the Word: Causal Modeling of the Co-evolution of Icelandic Morphology and Syntax”, Department of Linguistics, UC – Santa Barbara

Stuart-Smith, Smith (2015), pp.3
J.S. Bridle and M.D. Brown (1974), "An Experimental Automatic Word-Recognition System", JSRU Report No. 1003, Joint Speech Research Unit, Ruislip, England.

Stuart-Smith, Smith et al (2015), pp.3.

Ganchev, T., Fakotakis, N., Kokkinakis, G. (2005). “Comparative evaluation of various MFCC implementations on the speaker verification task”, Proceedings of the SPECOM, vol .1 pp.191–194

Huckvale, M. (2007) “ACCDIST: An accent similarity metric for a ccent recognition and diagnosis”, in: Müller, C., (ed),
Spea ker Cl assification II, Springer Berlin

Stuart-Smith, Smith et al (2015), pp.1

Col eman, J (2005), pp.99.

Schroeder a nd Atal (1985), pp.55

Di a gram from Ka dir, Hamza (2006), “Speech compression using Linear Predictive Coding”, MATLAB Central FileExchange.

Coleman, J (2005), pp.100.


Adapted from Gales et al (2006), The HTK Book, pp.98.

</ol>

-->

</ol>
</div>